@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
*{
    box-sizing: border-box;
}
html, body{
    margin:0;
    padding:0;
    font-size: 16px;
    font-family:"Pretendard Variable", Pretendard, sans-serif;
    color:#333;
    background-color:#fff;
}

/* PAGE CSS */

#wrapper{
    min-width:100% !important;
}
#container{ 
    border:none !important;
    padding:0 !important;
    text-align: left;
}

.tablet-only, .mo-only{ display: none;}


.visual { 
    display: flex;
    padding: 52px 30px 140px 30px;
    flex-direction: column;
    align-items: center;
    gap: 140px;
    align-self: stretch;
}
.visual-title {
    position: relative;
    display: flex;
    padding: 84px 24px 78px 24px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    align-self: stretch;
    border-radius: 52px;
    background: #0C61FF;
    background: url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_coway/bg_title.png') 50% top no-repeat;
    background-size:cover;
    background-position:center;
}

.visual-title .title-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 26px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.visual-title .title-main > div {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: -0.16px;
}

.visual-title .title-sub {
    color: rgba(255, 255, 255, 0.80);
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
    letter-spacing: -0.14px;
}

.visual-title .title-sub strong{
    font-weight: 800;
    color:#fff;
}


.visual-con{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    align-self: stretch;
}
.visual-con p{
    align-self: stretch;
    color: #111;
    text-align: center;
    font-family: Pretendard;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 135%;
    letter-spacing: -0.96px;
} 

/* contents */
.contents .contents-inner{
    max-width:1200px;
    width:100%;
    margin:0 auto;
}

.contents .contents-type{
    width:100%;
    padding: 140px 30px;
    background: #EFF5FF;
}
.contents .contents-type .contents-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
}

.contents-type.contents-type-1{ background: #EFF5FF;}
.contents-type.contents-type-2{ background: #D8E6FE;}
.contents-type.contents-type-3{ background: #EFF5FF;}

.contents-type .contents-title{
    width:100%;
    display: flex;
    align-items: flex-end;
    gap: 32px;
}

.contents-type .contents-title .text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
    flex: 1 0 0;
}

.contents-type .contents-title .text span{
    color: #666;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: -0.3px;
}

.contents-type .contents-title .text strong{
    color: #111;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 135%;
    letter-spacing: -0.96px;
}

.contents-type .contents-title .text strong em{
    color:#0059FF;
}
.contents-type .contents-title .btn{
    display: flex;
    width: 320px;
    height: 68px;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 14px;
    flex-shrink: 0;
    border-radius: 999px;
    background: #0059FF;
}
.contents-type .contents-title .btn span{
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.48px;
}
.contents-type .contents-list{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.contents-list .con{
    display: flex;
    width:100%;
    justify-content: center;
    align-items: flex-start;
    gap: 14px;
}
.contents-list .con .list{
    display: flex;
    padding: 40px 24px 36px 24px;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 20px;
    background: #FFF;
}

.contents-type-1 .contents-list .con .list:nth-child(1) .txt span{
    height:auto;
}
.contents-type-1 .contents-list .con .list:nth-child(2) .txt strong{
    line-height: 270%;
}
.contents-type-2 .contents-list .con .list:nth-child(1) .txt strong{
    line-height: 270%;
}
.contents-type-2 .contents-list .con .list:nth-child(3) .txt strong{
    line-height: 270%;
}

.contents-list .con .list .top{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    align-self: stretch;

}
.contents-list .con .list .tag{
    display: flex;
    width: 46px;
    padding: 5px 13px 5px 14px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 999px;
    background: #EFF5FF;
    color: #4876EF;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: -0.15px;
}
.contents-list .con .list .txt{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}
.contents-list .con .list .txt span{
    display: flex;
    height: 44px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    align-self: stretch;
    color: #555;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 135%;
    letter-spacing: -0.32px;
}
.contents-list .con .list .txt strong{
    color: #111;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 135%;
    letter-spacing: -0.48px;
}
.contents-list .con .list .txt strong sup{
    color: #999;
    vertical-align: text-bottom;
}
.contents-list .con .list .medal img{
    width: 230px;
    height: 68.761px;
}
.contents-list .con .list .bottom{
    display: flex;
    padding-top: 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    align-self: stretch;
    border-top: 1px solid #D8D8D8;
}
.contents-list .con .list .desc{
    color: #555;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
    letter-spacing: -0.28px;
}
.contents-list .con .list .desc strong{
    color: #222;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; 
    letter-spacing: -0.28px;
}
.contents-list .con .list .desc strong sup{
    color: #555;
    font-weight: 400;
    vertical-align: text-bottom;
}

.contents-list .standard{
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2.923px;
    align-self: end;
    width:100%;
}
.contents-list .noti{
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2.923px;
    align-self: stretch;
    cursor: pointer;

    color: #AAA;
    text-align: right;
    font-size: 13.642px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.438px; 
    letter-spacing: -0.682px;
}
.contents-list .noti .ico{
    display: inline-block;
    width: 16px;
    height: 19px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='19' viewBox='0 0 16 19' fill='none'%3E%3Cg clip-path='url(%23clip0_502_3)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.5388 2.76318C4.50335 2.76318 1.23071 6.03582 1.23071 10.0713C1.23071 14.1073 4.50335 17.38 8.5388 17.38C12.5749 17.38 15.8475 14.1073 15.8475 10.0713C15.8475 6.03582 12.5749 2.76318 8.5388 2.76318ZM10.0602 14.0897C9.68456 14.2378 9.38455 14.3512 9.16016 14.4287C8.93637 14.5067 8.676 14.5464 8.37965 14.5464C7.92415 14.5464 7.56927 14.4336 7.31682 14.2128C7.06438 13.9903 6.93877 13.7085 6.93877 13.3665C6.93877 13.2335 6.94852 13.097 6.96682 12.9591C6.98633 12.8207 7.01621 12.6646 7.05767 12.4896L7.52841 10.8268C7.56988 10.6658 7.60585 10.514 7.63451 10.3731C7.66256 10.231 7.67659 10.1005 7.67659 9.98164C7.67659 9.77005 7.63268 9.62126 7.54549 9.53833C7.45707 9.45419 7.28999 9.41394 7.04243 9.41394C6.92108 9.41394 6.79608 9.43162 6.66803 9.46943C6.5412 9.50846 6.43083 9.54382 6.34058 9.57858L6.46498 9.06576C6.77291 8.94015 7.06804 8.83283 7.34975 8.7438C7.63146 8.65356 7.89732 8.60844 8.14794 8.60844C8.60039 8.60844 8.94918 8.7188 9.19491 8.93649C9.43943 9.15479 9.56261 9.43894 9.56261 9.78773C9.56261 9.86029 9.55407 9.98773 9.53699 10.1701C9.51992 10.3524 9.48882 10.5182 9.44248 10.6719L8.97479 12.3299C8.93637 12.4634 8.90222 12.6152 8.87113 12.7847C8.84064 12.9555 8.826 13.0854 8.826 13.1732C8.826 13.3927 8.87479 13.5433 8.97418 13.6238C9.07174 13.7031 9.2437 13.7439 9.48516 13.7439C9.5998 13.7439 9.72785 13.7232 9.87298 13.6829C10.0169 13.6433 10.1205 13.6079 10.1858 13.5774L10.0602 14.0897ZM9.97725 7.35963C9.75956 7.56268 9.49614 7.6639 9.18821 7.6639C8.8821 7.6639 8.61685 7.56268 8.39673 7.35963C8.17782 7.15657 8.06684 6.90962 8.06684 6.6212C8.06684 6.33399 8.17843 6.08643 8.39673 5.88155C8.61685 5.67605 8.8821 5.57422 9.18821 5.57422C9.49614 5.57422 9.75956 5.67605 9.97725 5.88155C10.1955 6.08643 10.3059 6.33399 10.3059 6.6212C10.3059 6.91023 10.1955 7.15657 9.97725 7.35963Z' fill='%23AAAAAA'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_502_3'%3E%3Crect width='15.5912' height='18.5146' fill='white' transform='translate(0.408691 0.327026)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: middle;
}

.contents-list .tooltip {
    display: none;
    position: absolute;
    top: 25px;
    right: 0;
    width: auto;
    padding: 15px 20px;
    background: #fff;
    text-align: left;
    line-height: 1.5;
    font-size: 11px;
    font-weight: 500;
    color: #333;
    white-space: nowrap;
    z-index: 1;
    border: 1px solid #ddd;
}

.contents-list .noti:hover .tooltip {
    display: block; /* PC에서 hover로 표시 */
}

.contents-list .noti.active .tooltip {
    display: block; /* 모바일에서 클릭으로 표시 */
}

.contents .contents-map{
    padding: 140px 30px;
    background:#fff;
    text-align: center;
    margin:0 auto;
}
.contents .contents-map .map-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.contents .contents-map .map-title strong{
    display: block;
    color: #111;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 135%;
    letter-spacing: -0.96px;
}
.contents .contents-map .map-title span{
    display: block;
    color: #666;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.12px;
}

.contents .contents-map .map-info{
    margin-top: 80px;
}

.contents .contents-map .map-info .map img{
    width:100%;
    margin: 0 auto;
}

.contents .contents-map dl{
    width:100%;
    display: flex;
    padding: 32px 42px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 20px;
    background: #F7F7F7;

    margin-top: 52px;
}
.contents .contents-map dl dt{
    color: #222;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: -0.08px;
    margin-bottom: 10px;
}
.contents .contents-map dl dd{
    color: #666;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    letter-spacing: -0.08px;

    display: flex;
    gap:5px;
    text-align: left;

} 

@media screen and (max-width: 1200px) {
    /* contents */
    .contents .contents-inner{
        max-width:100%;
        min-width: auto;
        width:100%;
        margin:0 auto;
    }
}
@media screen and (max-width: 1199px) {
    .tablet-only{ display: block;}
    .pc-only, .mo-only{ display: none;}

    /* visual */ 
    .visual-title {
        background: url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_coway/bg_title_tablet.png') no-repeat;
        background-size:cover;
        background-position:center;
    }

    /* contents */
    .contents .contents-inner{
        max-width:100%;
        min-width: auto;
        width:100%;
        margin:0 auto;
    }
    .contents .contents-type{
        padding: 130px 30px;
    }
    .contents-type .contents-title{
        flex-direction: column;
        align-items: center;
    }
    .contents-type .contents-title .text{
        align-items: center;
        text-align: center;
    }

    .contents-list .con{
        flex-wrap: wrap;
    }
    .contents-list .con .list{
        width: calc(50% - 7px);
        flex:none;
        padding:40px 10px 36px 10px;
    }
    .contents .contents-map .map-info{
        margin-top:60px;
    }

    .contents .contents-map .map-info .map img{
        max-width:638px;
    }
    .contents .contents-map dl{
        padding: 32px;
        margin-top: 46px;
    }

}

@media screen and (max-width: 600px) {
    .mo-only { display: block;}
    .pc-only, .tablet-only{ display: none;}

    .visual { 
        padding: 2.625rem 1rem 6.25rem 1rem;
        gap: 6.25rem;
    }
    .visual-title {
        padding: 4.625rem 1.25rem 4.25rem 1.25rem;
        gap: 1.75rem;
        border-radius: 3.25rem;
        background: #0C61FF;
        background: url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_coway/bg_title_mo.png') no-repeat;
        background-size:cover;
        background-position:center;
    }

    .visual-title .title-main {
        gap: 1.625rem;
    }

    .visual-title .title-main > div {
        font-size: 1.625rem;
        letter-spacing: -0.00813rem;
    }
    .visual-title .title-main img{
        width:17.6875rem; 
        height:auto;
    }
    .visual-title .title-sub {
        font-size: 1.3125rem;
        letter-spacing: -0.00656rem;
    }

    .visual-title .title-sub strong{
        font-weight: 800;
    }

    .visual-con{
        gap: 3.125rem;
    }
    .visual-con p{
        font-size: 2.375rem;
        letter-spacing: -0.0475rem;
    }
    .visual-con > div img{
        width:91.111%;
        margin:0 auto;
    }   

    .contents .contents-type{
        /* padding: 6.25rem 1.875rem; */
        padding: 6.25rem 1.4rem;
    }
    
    .contents .contents-type .contents-inner{
        gap: 3.75rem;
    }

    .contents-type .contents-title .text{
        gap: 1.125rem;
    }

    .contents-type .contents-title .text span{
        /* font-size: 1.5rem; */
        font-size: 1.4rem;
        letter-spacing: -0.015rem;
    }

    .contents-type .contents-title .text strong{
        font-size: 2.2rem;
    }
    .contents-type .contents-title .btn{
        width: 16.25rem;
        height: 3.5rem;
        padding: 0.5rem;
        gap: 0.875rem;
        border-radius: 62.4375rem;

    }
    .contents-type .contents-title .btn span{
        font-size: 1.25rem;
        letter-spacing: -0.025rem;
    }

    .contents-list .con{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.875rem;
        align-self: stretch;
    }
    .contents-list .con .list{
        width:100%;
        display: flex;
        height:auto;
        padding: 2.5rem 1.5rem 2.25rem 1.5rem;
        flex-direction: column;
        align-items: center;
        gap: 1.75rem;
        align-self: stretch;
        border-radius: 1.25rem;
        background: #FFF;
    }

    .contents-list .con .list .top{
        gap: 1rem;
    }

    .contents-list .con .list .tag{
        width: 2.875rem;
        padding: 0.3125rem 0.8125rem 0.3125rem 0.875rem;
        gap: 0.5rem;
        border-radius: 62.4375rem;
    }
    .contents-list .con .list .txt span{
        font-size: 1rem;
        letter-spacing: -0.02rem
    }

    .contents-list .con .list .txt strong{
        font-size: 1.5rem;
        letter-spacing: -0.03rem;
    }

    .contents-list .con .list .medal {
        text-align: center;
    }
    .contents-list .con .list .medal img{
        width: 14.375rem;
        height: 4.29756rem;
    }

    .contents-list .con .list .bottom{
        padding-top: 1.5rem;
        gap: 0.5rem;
    }

    .contents-list .con .list .desc{
        font-size: 0.875rem;
        letter-spacing: -0.0175rem;
    }

    .contents-list .noti{
        font-size: 0.85263rem;
        line-height: 1.33988rem;
        letter-spacing: -0.04263rem;
        width:100%;

    }
    .contents-list .noti .ico{
        width: 0.97444rem;
        height: 1.15719rem;
    }
    /* 툴팁 */
    .contents-list .tooltip {
        padding: 1rem;
        font-size: 0.85263rem;

        word-break: break-word;   /* 단어 중간에서도 줄바꿈 가능 */
        white-space: normal;      /* 줄바꿈 허용 */
        overflow-wrap: break-word; /* 오래된 브라우저 호환성 */
        
        width:100%;
    }

    .contents .contents-map{
        padding: 6.25rem 1rem;
    }
    .contents .contents-map .map-title{
        gap: 1.5rem;
    }
    .contents .contents-map .map-title strong{
        font-size: 2.25rem;
        letter-spacing: -0.0475rem;
    }
    .contents .contents-map .map-title span{
        font-size: 1.125rem;
        letter-spacing: -0.00563rem;
    }

    .contents .contents-map .map-info{
        margin-top: 3.75rem;;
    }

    .contents .contents-map .map-info .map img{
        width:100%;
        margin: 0 auto;

    }
    .contents .contents-map dl{
        padding: 2rem 1.5rem;
        border-radius: 1.25rem;
        margin-top: 2.625rem;
    }
    .contents .contents-map dl dt{
        font-size: 1rem;
        letter-spacing: -0.005rem;
        margin-bottom: 0.625rem;
    }
    .contents .contents-map dl dd{
        font-size: 1rem;
        letter-spacing: -0.005rem;
        gap:0.313rem;
    }

}

@media screen and (max-width: 364px){
    .visual-title .title-main > div{
        font-size: 7.222vw;
    }
    .visual-title .title-main img{
        width:98.263%;   
    }
    .visual-title .title-sub{
        font-size: 5.6vw;
    }
    .visual-con p{
        font-size: 10.556vw;
    }
    .contents-type .contents-title .text span{
        font-size: 6.111vw;
    }
    .contents-type .contents-title .text strong{
        font-size: 10vw;
    }
    .contents-type .contents-title .btn span{
        font-size: 5.556vw;
    }

    .contents .contents-map .map-title strong{
        font-size: 10vw;
    }
    .contents .contents-map .map-title span{
        font-size: 4.722vw;
    }
    .contents .contents-map dl dt{
        font-size: 4.444vw;
    }
    .contents .contents-map dl dd{
        font-size: 4.444vw;
    }
}


/* POPUP CSS */
body.popup-open {
    overflow: hidden;
}

.popup-overlay *{
    font-family:"Pretendard Variable", Pretendard, sans-serif;
    box-sizing: border-box;
}
.popup-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: none;
    /* overflow-y: auto; */
    padding: 20px;
    /* padding:20px 20px 0 20px; */
}
.popup-overlay > div {
    position: relative;
    width: 636px;
    margin: 0 auto;
    border-radius: 60px;
    background: #FFF;
    box-shadow: 8px 8px 20px 0px rgba(0, 0, 0, 0.15);
}

.popup-content-scroll{
    overflow-y: auto;
    height:calc(100vh - 242px); 
    /* 80 + 122 + 20 + 20 */
    padding-bottom: 30px;
    padding-right: 20px;
}

@media screen and (max-width: 1199px){
    .popup-content-scroll{
        overflow-y: unset;
        height: unset;
        padding-bottom: 0;
        padding-right: 0;
    }
}

.popup-content .popup-close {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 40px;
    top: 40px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.11612 9.11612C9.60427 8.62796 10.3957 8.62796 10.8839 9.11612L20 18.2322L29.1161 9.11612C29.6043 8.62796 30.3957 8.62796 30.8839 9.11612C31.372 9.60427 31.372 10.3957 30.8839 10.8839L21.7678 20L30.8839 29.1161C31.372 29.6043 31.372 30.3957 30.8839 30.8839C30.3957 31.372 29.6043 31.372 29.1161 30.8839L20 21.7678L10.8839 30.8839C10.3957 31.372 9.60427 31.372 9.11612 30.8839C8.62796 30.3957 8.62796 29.6043 9.11612 29.1161L18.2322 20L9.11612 10.8839C8.62796 10.3957 8.62796 9.60427 9.11612 9.11612Z' fill='%23111111'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
}

.popup-content h1 {
    color: #0059FF;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.15px;
}
.popup-content h2 { 
    color: #111;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: -0.09px;
    margin-top: 32px;
}
.popup-content small { 
    display: inline-block;
    color: #666;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.07px;   
    margin-top: 12px;
}

.popup-content { 
    /* padding: 80px 40px 10px 40px; */
    padding: 80px 10px 10px 40px;
}
.popup-content .form-list { 
    margin-top: 32px;
    padding:0; 
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
    gap: 24px;
}
.form-list .form-group { 
    position: relative; 
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}
.form-list .form-group.email{ align-items: baseline;}
.form-list .form-group.only { 
    gap: 16px; 
    flex-direction: column; 
    align-items: inherit; 
}
.form-list .form-group label { 
    color: #111;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: -0.08px;
}
.form-list .form-group label.only { width: 100%; min-width: 100%; }
.form-list .form-group label .req {
    color: #F83B3B;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: -0.08px;
}

.form-list .form-group textarea { 
    resize: none;
    display: flex;
    height: 133px;
    padding: 23px 16px;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    border-radius: 4px;
    border: 1px solid #DDD;
    background: #F6F6F6;
    color: #888;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.08px;

}
.form-list .form-group .text-wrap {
    padding: 30px 20px;
    border-radius: 20px;
    background: #F7F7F7;
    color: #555;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.08px;
    width:100%;

}
.form-list .form-group .text-wrap strong { 
    color: #222;
    font-weight: 600;
}
.form-list .form-group .text-wrap .under{
    color: #555;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: -0.08px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.form-list .form-group .select-wrap,
.form-list .form-group .input-wrap {
    width: 100%;
    position: relative;
}

.form-list .form-group .select-wrap select,
.form-list .form-group .input-wrap input {
    display: flex;
    align-items: center;
    align-self: stretch;
    width: 100%;
    height: 44px;
    padding: 12px 20px;
    gap: 270px;
    border: 1px solid #E4E4E4;
    border-radius: 3px;
    font-size: 16px;
    color: #000;
    line-height:1;
}

.form-list .form-group .input-wrap input::placeholder,
.form-list .form-group .select-wrap select::placeholder {
    overflow: hidden;
    color: #888;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.08px;
}

.form-list .form-group .select-wrap select {
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='11' viewBox='0 0 13 11' fill='none'%3E%3Cpath d='M6.5 10.5L12.1292 0.75H0.870835L6.5 10.5Z' fill='%23222222'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 14px center;
    background-size: 13px 11px;
    padding-right: 40px;
}

.form-list .form-group .select-wrap select:focus,
.form-list .form-group .input-wrap input:focus {
    border-color: #222;
    outline: none;
}

.form-group .input-wrap input[disabled],
.form-group .input-wrap input:disabled {
    background: #F8F8F8;
    cursor: not-allowed;
    color: #C5C5C5;
}

.form-list .form-group.cert .align { 
    display: flex;
    align-items: center;
    gap: 14px;
    align-self: stretch;
}
.form-list .form-group.cert .align .input-wrap { 
    width:72.302%;
}
.form-list .form-group.cert .align .input-wrap .timer{ 
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    right:4.975%;
    overflow: hidden;
    color: #0059FF;
    text-align: right;
    text-overflow: ellipsis;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.08px;
}

.form-list .form-group .num-btn{
    width:auto;
    display: flex;
    flex:1;
    padding: 0px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 4px;
    background: #27313B;
    cursor: pointer;
}
.form-list .form-group .num-btn span{
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.form-list .form-group .num-text{
    color: #0059FF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}
.form-list .form-group.date .align { 
    display: flex;
    align-items: flex-start;
    gap: 14px;
    align-self: stretch; 
}
.form-list .form-group.date .align > div { 
    flex:1;
}

/* radio-wrap */
.form-list .form-group .radio-wrap{
    display: flex;
    align-items: flex-start;
    gap: 16px;
    flex-wrap: wrap;
}

.form-list .form-group .radio-wrap > div{
    display: flex;
    align-items: center;
    gap: 10px;
}
.form-list .form-group .radio-wrap input[type="radio"] {
    width: 20px;
    height: 20px;
    aspect-ratio: 1/1;
    border-radius: 999px;
    border: 1px solid #C0C0C0;
    background: #FFF;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    transition: all 0.2s ease;
    display: inline-block;
}

.form-list .form-group .radio-wrap input[type="radio"]:checked {
    width: 20px;
    height: 20px;
    aspect-ratio: 1/1;
    border: none;
    background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%3E%3Crect%20x%3D%220.5%22%20y%3D%220.5%22%20width%3D%2219%22%20height%3D%2219%22%20rx%3D%229.5%22%20fill%3D%22white%22/%3E%3Crect%20x%3D%220.5%22%20y%3D%220.5%22%20width%3D%2219%22%20height%3D%2219%22%20rx%3D%229.5%22%20stroke%3D%22%230059FF%22/%3E%3Ccircle%20cx%3D%2210%22%20cy%3D%2210%22%20r%3D%225%22%20fill%3D%22%230059FF%22/%3E%3C/svg%3E") no-repeat center / contain;
}

/* 버튼 */
.popup-overlay .popup-btn::before{
    position: absolute;
    content:'';
    top:-14px;
    left:0;
    right:0;
    width: 100%;
    height: 14px;
    flex-shrink: 0;
    background: linear-gradient(180deg, rgba(17, 17, 17, 0.00) 17.5%, #111 612.5%);
    background-blend-mode: multiply;
}
.popup-overlay .popup-btn{
    position: sticky;
    left:0;
    right:0;
    bottom: 0;
    width: auto;
    margin:0 auto;
    padding: 20px 40px 50px 40px;
    border-radius: 0px 0px 60px 60px;
    background: #FFF;
}
.popup-overlay .popup-btn > div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}
.popup-overlay .popup-btn a{
    display: flex;
    padding: 15.5px 0px;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    border-radius: 5px;
    background: #C5C5C5;
    cursor: pointer;

}
.popup-overlay .popup-btn a span{
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.popup-overlay .popup-btn a.apply-btn{
    border-radius: 5px;
    background: #0059FF;
}

.popup-overlay .datepicker-with-icon {
    cursor: pointer;
    width:24px;
    height:24px;
	background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M12.75 12.75C12.75 13.1642 12.4142 13.5 12 13.5C11.5858 13.5 11.25 13.1642 11.25 12.75C11.25 12.3358 11.5858 12 12 12C12.4142 12 12.75 12.3358 12.75 12.75Z' fill='%23222222'/><path d='M7.5 15.75C7.91421 15.75 8.25 15.4142 8.25 15C8.25 14.5858 7.91421 14.25 7.5 14.25C7.08579 14.25 6.75 14.5858 6.75 15C6.75 15.4142 7.08579 15.75 7.5 15.75Z' fill='%23222222'/><path d='M8.25 17.25C8.25 17.6642 7.91421 18 7.5 18C7.08579 18 6.75 17.6642 6.75 17.25C6.75 16.8358 7.08579 16.5 7.5 16.5C7.91421 16.5 8.25 16.8358 8.25 17.25Z' fill='%23222222'/><path d='M9.75 15.75C10.1642 15.75 10.5 15.4142 10.5 15C10.5 14.5858 10.1642 14.25 9.75 14.25C9.33579 14.25 9 14.5858 9 15C9 15.4142 9.33579 15.75 9.75 15.75Z' fill='%23222222'/><path d='M10.5 17.25C10.5 17.6642 10.1642 18 9.75 18C9.33579 18 9 17.6642 9 17.25C9 16.8358 9.33579 16.5 9.75 16.5C10.1642 16.5 10.5 16.8358 10.5 17.25Z' fill='%23222222'/><path d='M12 15.75C12.4142 15.75 12.75 15.4142 12.75 15C12.75 14.5858 12.4142 14.25 12 14.25C11.5858 14.25 11.25 14.5858 11.25 15C11.25 15.4142 11.5858 15.75 12 15.75Z' fill='%23222222'/><path d='M12.75 17.25C12.75 17.6642 12.4142 18 12 18C11.5858 18 11.25 17.6642 11.25 17.25C11.25 16.8358 11.5858 16.5 12 16.5C12.4142 16.5 12.75 16.8358 12.75 17.25Z' fill='%23222222'/><path d='M14.25 15.75C14.6642 15.75 15 15.4142 15 15C15 14.5858 14.6642 14.25 14.25 14.25C13.8358 14.25 13.5 14.5858 13.5 15C13.5 15.4142 13.8358 15.75 14.25 15.75Z' fill='%23222222'/><path d='M15 17.25C15 17.6642 14.6642 18 14.25 18C13.8358 18 13.5 17.6642 13.5 17.25C13.5 16.8358 13.8358 16.5 14.25 16.5C14.6642 16.5 15 16.8358 15 17.25Z' fill='%23222222'/><path d='M16.5 15.75C16.9142 15.75 17.25 15.4142 17.25 15C17.25 14.5858 16.9142 14.25 16.5 14.25C16.0858 14.25 15.75 14.5858 15.75 15C15.75 15.4142 16.0858 15.75 16.5 15.75Z' fill='%23222222'/><path d='M15 12.75C15 13.1642 14.6642 13.5 14.25 13.5C13.8358 13.5 13.5 13.1642 13.5 12.75C13.5 12.3358 13.8358 12 14.25 12C14.6642 12 15 12.3358 15 12.75Z' fill='%23222222'/><path d='M16.5 13.5C16.9142 13.5 17.25 13.1642 17.25 12.75C17.25 12.3358 16.9142 12 16.5 12C16.0858 12 15.75 12.3358 15.75 12.75C15.75 13.1642 16.0858 13.5 16.5 13.5Z' fill='%23222222'/><path fill-rule='evenodd' clip-rule='evenodd' d='M6.75 2.25C7.16421 2.25 7.5 2.58579 7.5 3V4.5H16.5V3C16.5 2.58579 16.8358 2.25 17.25 2.25C17.6642 2.25 18 2.58579 18 3V4.5H18.75C20.4069 4.5 21.75 5.84315 21.75 7.5V18.75C21.75 20.4069 20.4069 21.75 18.75 21.75H5.25C3.59315 21.75 2.25 20.4069 2.25 18.75V7.5C2.25 5.84315 3.59315 4.5 5.25 4.5H6V3C6 2.58579 6.33579 2.25 6.75 2.25ZM20.25 11.25C20.25 10.4216 19.5784 9.75 18.75 9.75H5.25C4.42157 9.75 3.75 10.4216 3.75 11.25V18.75C3.75 19.5784 4.42157 20.25 5.25 20.25H18.75C19.5784 20.25 20.25 19.5784 20.25 18.75V11.25Z' fill='%23222222'/></svg>") no-repeat right 10px center;
	background-size: 24px;
	padding-right: 30px;
}

@media screen and (max-width: 1199px){

    .popup-overlay{
        padding:0;
        overflow-y: auto;
    }
    .popup-overlay > div {
        max-width:100%;
        min-width:100%;
        box-shadow: none;
        border-radius: 0;
    }
    .popup-content{
        padding: 80px 40px 28px 40px;
    }
    .popup-content .popup-close {
        right:40px;
    }
    /* 버튼 */
    .popup-overlay .popup-btn{
        padding: 20px 40px 50px 40px;
        border-radius: 0;
    }
}

@media screen and (max-width: 600px){
    .popup-content{
        padding: 5rem 1rem 0 1rem;
    }
    .popup-content .popup-close {
        right:1rem;
    }
    .popup-content h1 {
        font-size: 1.75rem;
        letter-spacing: -0.00875rem;
    }
    .popup-content h2 { 
        font-size: 1.125rem;
        letter-spacing: -0.00563rem;
        margin-top: 2rem;
    }
    .popup-content small { 
        font-size: 0.875rem;
        letter-spacing: -0.00438rem;   
        margin-top: 0.75rem;
    }
    .popup-content .form-list{
        gap: 1.5rem;
    }
    .form-list .form-group { 
        gap: 1rem;
    }

    .form-list .form-group label { 
        font-size: 1rem;
        letter-spacing: -0.005rem;
    }

    .form-list .form-group label .req {
        font-size: 1rem; 
    }
    .form-list .form-group textarea { 
        height: 8.3125rem;
        padding: 1.4375rem 1rem;
        gap: 0.5rem;
        border-radius: 0.25rem;
    }
    .form-list .form-group .text-wrap {
        padding: 1.875rem 1.25rem;
        border-radius: 1.25rem;
    }

    .form-list .form-group .text-wrap .under{
        font-size: 1rem; 
    }

    .form-list .form-group .select-wrap select,
    .form-list .form-group .input-wrap input {
        height: 2.75rem;
        padding: 0.75rem 1.25rem;
        gap: 16.875rem;
        border-radius: 0.1875rem;
    }

    .form-list .form-group .input-wrap input::placeholder,
    .form-list .form-group .select-wrap select::placeholder {
        font-size: 1rem;
        letter-spacing: -0.005rem;
    }

    .form-list .form-group .select-wrap select {
        background-repeat: no-repeat;
        background-position: right 0.875rem center;
        background-size: 0.8125rem 0.6875rem;
        padding-right: 2.5rem;
    }

    .form-list .form-group.cert .align { 
        gap: 0.875rem;
    }
    .form-list .form-group.cert .align .input-wrap { 
        width:64.024%;
    }
    .form-list .form-group.cert .align .input-wrap .timer{ 
        font-size: 1rem;
        letter-spacing: -0.005rem;
    }
    .form-list .form-group .num-btn span{
        font-size: 1rem;
    }

    .form-list .form-group .num-text{
        font-size: 1rem;
    }
    .form-list .form-group.date .align { 
        gap: 0.875rem;
    }

    .form-list .form-group .radio-wrap{
        gap: 1rem;
    }
    .form-list .form-group .radio-wrap > div{
        gap: 0.625rem;

    }
    .form-list .form-group .radio-wrap input[type="radio"] {
        width: 1.25rem;
        height: 1.25rem;
    }
    .form-list .form-group .radio-wrap input[type="radio"]:checked {
        width: 1.25rem;
        height: 1.25rem;
    }
    /* 버튼 */
    .popup-overlay .popup-btn{
        padding: 1.25rem 1rem 3.75rem 1rem;
    }
    .popup-overlay .popup-btn a{
        padding: 0.90625rem 0rem;
    }
    .popup-overlay .popup-btn a span{
        font-size: 1.125rem;
    }
    .popup-overlay .datepicker-with-icon {
        width: 1.5rem;
        height: 1.5rem;
        background-size:1.5rem;  
        padding-right: 1.875rem; 
    }

    @media screen and (max-width: 320px) {
        .form-list .form-group.cert .align .input-wrap { 
            width:58%;
        }
        .form-list .form-group .select-wrap select,
        .form-list .form-group .input-wrap input {
            padding: 0.75rem 0.8rem;
        }
    }
}



/* forbidden CSS */
.coway-forbidden{
    width:100%;
    height: 100vh;
    display: flex;
    margin:0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    background: #FFF;
}
.coway-forbidden .forbid-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 52px;
}
.coway-forbidden .forbid-top .top-desc{
    color: #222;
    text-align: center;
    font-family: Pretendard;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
    letter-spacing: -0.52px;
}
.coway-forbidden .forbid-top .top-desc strong{
    font-weight: 800;
}
.coway-forbidden .forbid-btn{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
}
.coway-forbidden .forbid-btn a{
    display: flex;
    width: 300px;
    height: 70px;
    padding: 5px 11.25px 4px 13.125px;
    justify-content: center;
    align-items: center;
    border-radius: 936.563px;
    background: #0059FF;
}
.coway-forbidden .forbid-btn a span{
    color: #FFF;
    text-align: center;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.08px;
}
.coway-forbidden .forbid-btn a span em{
    font-weight: 700;
}

@media screen and (max-width: 1199px){
    .coway-forbidden{
        padding: 0px 30px;
    }
    .coway-forbidden .forbid-btn{
        width:100%;
        gap: 16px;
    }
    .coway-forbidden .forbid-btn a{
        width:calc(50% - 8px);
        max-width:262px;
        min-width:262px;
    }
    .coway-forbidden .forbid-btn a span{
        font-size: 20px;
        letter-spacing: -0.1px;
    }
    .coway-forbidden .forbid-btn a span em{
        font-weight: 700;
    }
}

@media screen and (max-width: 600px){
    .coway-forbidden img{
        width:100%;
    }
    .coway-forbidden{
        padding: 0rem 1rem;
        gap: 3.875rem;
    }
    .coway-forbidden .forbid-top{
        gap: 2.25rem;
    }
    .coway-forbidden .forbid-top .top-bi img{
        width:20rem;
        /* width:88.889vw; */
    }

    .coway-forbidden .forbid-top .top-desc{
        font-size: 1.3125rem;
        letter-spacing: -0.02625rem;
    }
    .coway-forbidden .forbid-btn{
        flex-direction: column;
        align-items: center;
        gap: 0.875rem;
        align-self: stretch;
    }
    .coway-forbidden .forbid-btn a{
        width:100%;
        max-width:20.5rem;
        min-width:20.5rem;
        display: flex;
        height: 4rem;
        padding: 0.3125rem 0.75rem 0.25rem 0.875rem;
    }
    .coway-forbidden .forbid-btn a span{
        font-size: 1.125rem;
        letter-spacing: -0.00563rem;
    }
    .coway-forbidden .forbid-btn a span em{
        font-weight: 700;
    }
}

@media screen and (max-width: 364px){
    .coway-forbidden .forbid-top .top-desc{
        font-size: 5.556vw;
    }
    .coway-forbidden .forbid-top .top-bi img{
        width:88.889vw;
    }
    .coway-forbidden .forbid-btn a span{
        font-size: 5vw;
    }
}
