.progress_invest {
    .section-reason {
        &.reason-3,
        &.reason-5 {
            background: $color-gray;
		}
		
		&.reason-4{
			a{
				position:relative;
				.best-badge{right:auto;left:61%;top:5px;}
			}
		}
    }
}