.v2 .login-wrap .bgBox {
  position: relative;
  height: 100%;
}
.v2 .login-wrap .bgBox span {
  position: absolute;
  height: 100%;
  background-color: #fff;
  width: 100px;
  left: 0;
  opacity: 0.8;
  animation: slideBg 0.5s ease-in-out 1 forwards;
}
@keyframes slideBg {
  0% {
    opacity: 0.8;
    width: 100px;
  }
  70% {
    opacity: 0;
    width: 100px;
  }
  to {
    opacity: 0;
    width: 50px;
  }
}
.v2 .login-wrap .video-wrap {
  overflow: hidden;
  position: absolute;
  min-width: 1920px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
