.progress_land {
    .section-visual {
        background: #000;
        .video-background {
            object-fit: cover;
        }
    }
    .winner-contents {
        .winner-slide { height: 340px; }
    }
    .section-reason {
        &.reason-1 .section-img .action {
            position: absolute;
            top: 64.22%;
            left: 0;
            right: 0;
        }
        &.reason-2 {
            background: $color-gray;
            .grounds-text { margin: 10px 0 34px; }
        }
        &.reason-4 {
            background: $color-gray;
            .section-title-wrap { padding-bottom: 27px; }
        }
        &.reason-5 {
            .section-title-wrap { padding-bottom: 27px; }
        }
        &.reason-6 {
            padding-bottom: 0;
            background: $color-gray;
            .section-title-wrap { padding-bottom: 27px; }
        }
        &.reason-7 {
            .grounds-text { margin: 15px 0 43px; }
        }
        &.reason-8 { background: $color-gray; }
        &.reason-9 .system-slider .swiper-system { padding: 0 25px; }
        &.reason-10 { background: $color-gray; }
    }
    .section-notice-line { background: $color-gray; }
    .review-slider {
        .swiper-slide {
            .core {
                padding: 24px 100px 24px 22px;
                background-repeat: no-repeat;
                background-position: right center;
                background-size: auto 100%;
            }
        }
    }
}