@charset "utf-8";

// Core variables and mixins
@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/extend";

/* font */
@import url('https://acaimg.etoos.com/common/font/notosanskr.css');

/* reset */
html{width:100%;font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body{background-color:#fff;*word-break:break-all;-ms-word-break:break-all;}
body,h1,h2,h3,h4,th,td,input, select, button, pre, textarea{color:#666;font-family:'notokr-demilight','Malgun Gothic','맑은고딕','돋움',dotum, sans-serif;font-size:13px;font-weight:normal;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,p,button, pre, input{margin:0;padding:0;}
img,fieldset,iframe{border:0 none;}
li{list-style:none;}
table{border-collapse:collapse;border-spacing:0;}
input,select,button{vertical-align:middle;}
img{vertical-align:middle;}
i,em,address{font-style:normal;}
label,button{cursor:pointer;}
button{margin:0;padding:0;background:none;border:0;outline:none;}
a, a:hover{outline:none;text-decoration:none;}
a{color:#666;}
a:hover{cursor:pointer;}
button *{position:relative;}
button img{left:-3px;*left:auto;}
caption, summary, hr, legend{display:none;}
legend{*width:0;}
area:focus{border: none;outline:none;outline-style: none;-moz-outline-style:none;}



























































/* body {overflow:hidden} */
.content > .inner {margin:0}
#event_wrap {position:relative;width:100%;min-width:1080px;background:#fff;overflow:hidden;font-family:'Noto Sans KR';letter-spacing:-0.04em}
#event_wrap * {font-family:'Noto Sans KR';}
#event_wrap img {vertical-align:top;}
#event_wrap .blind {display:block;overflow:hidden;position:absolute;top:-1000em;left:0;text-indent:-1000em}
#event_wrap .wheel0 {background:#dfe7f4}
#event_wrap .wheel1 {background:#303641;}
#event_wrap .wheel2, #event_wrap .wheel3, #event_wrap .wheel4, #event_wrap .wheel5 {background:url('https://acaimg.etoos.com/hp/pc/images/promotion/medical/cont1_bg.png') no-repeat 50% 0;height: 1042px;background-size:cover}
#event_wrap .wheel6, #event_wrap .wheel7, #event_wrap .wheel8, #event_wrap .wheel9 {background:url('https://acaimg.etoos.com/hp/pc/images/promotion/medical/cont2_bg.png') no-repeat 50% 0;height: 1042px;background-size:cover}
#event_wrap .wheel10, #event_wrap .wheel11 {background:url('https://acaimg.etoos.com/hp/pc/images/promotion/medical/cont3_bg.png') no-repeat 50% 0;height: 1042px;background-size:cover}
#event_wrap .wheel12, #event_wrap .wheel13, #event_wrap .wheel14, #event_wrap .wheel15 {background:url('https://acaimg.etoos.com/hp/pc/images/promotion/medical/cont4_bg.jpg') no-repeat 50% 0;height: 1042px;background-size:cover}
/* top */
#event_wrap .wheel0 {height: 1148px;}
#event_wrap .wheel0 .inner {position: relative;width: 1200px;margin: 0 auto;}
#event_wrap .wheel0 .slidewrap {position:absolute;overflow:hidden;z-index:1;}
#event_wrap .wheel0 .slide1 {left:0;top:164px;width:260px;height:260px;overflow:hidden;z-index:1;}
#event_wrap .wheel0 .slide2 {left:270px;top:164px;width:162px;height:143px;overflow:hidden;z-index:1;}
#event_wrap .wheel0 .slide3 {left:442px;top:92px;width:486px;height:215px;overflow:hidden;z-index:1;}
#event_wrap .wheel0 .slide4 {left:939px;top:317px;width:230px;height:230px;overflow:hidden;z-index:1;}
#event_wrap .wheel0 .slide5 {left:814px;top:708px;width:386px;height:351px;overflow:hidden;z-index:1;}
#event_wrap .wheel0 .slide6 {left:50px;top:776px;width:403px;height:234px;overflow:hidden;z-index:1;}
#event_wrap .wheel0 .slide7 {left:-60px;top:434px;width:320px;height:332px;overflow:hidden;z-index:1;}
#event_wrap .wheel0 span {opacity:0;position:absolute;display:inline-block;overflow:hidden}
#event_wrap .wheel0 .top_tit1 {top:350px;left:343px;z-index:2}
#event_wrap .wheel0 .top_tit2 {top:483px;left:324px;z-index:2}
#event_wrap .wheel0 .top_tit3 {top:613px;left:324px;z-index:2}
#event_wrap .wheel0 .top_line {top:480px;left:287px;z-index:3}
#event_wrap .wheel0 .top_blink1 {top:164px;left:939px;z-index:2;opacity: 1;animation:peng 1s infinite alternate;}
#event_wrap .wheel0 .top_blink2 {top:776px;left:463px;z-index:2;opacity: 1;animation:peng 1s infinite alternate;}
@keyframes peng{ 40% {opacity:1;} 70% {opacity:0;}}
/* common */
#event_wrap .g_ev_cont {position:relative;width:100%;height:100%;overflow:hidden;}
#event_wrap .g_ev_cont .inner_cont {position:relative;left:0;top:0;bottom:0;min-width:1080px;height:100%}
#event_wrap .g_ev_cont > span {opacity:0;position:absolute;display:inline-block;overflow:hidden;-webkit-transition: all 0.35s ease-in-out;transition: all 0.35s ease-in-out;}
/* motion */
#event_wrap .g_ev_cont .move_x {
    display:inline-block;opacity:0;
    position:absolute;display:inline-block;overflow:hidden;
    -webkit-transition: all 0.6s ease-in-out;transition: all 0.6s ease-in-out;
    -webkit-transform: translateX(400px);transform: translateX(400px)
}
#event_wrap .g_ev_cont .move_xr {
    display:inline-block;opacity:0;
    position:absolute;display:inline-block;overflow:hidden;
    -webkit-transition: all 0.6s ease-in-out;transition: all 0.6s ease-in-out;
    -webkit-transform: translateX(-400px);transform: translateX(-400px)
}
#event_wrap .g_ev_cont.active .move_x {opacity:1;-webkit-transform: translateX(0);transform: translateX(0)}
#event_wrap .g_ev_cont.active .move_xr {opacity:1;-webkit-transform: translateX(0);transform: translateX(0)}
#event_wrap .g_ev_cont.active .w_01 {transition-delay:0.30s}
#event_wrap .g_ev_cont.active .w_02 {transition-delay:0.60s}
#event_wrap .wheel2 .w_01,
#event_wrap .wheel3 .w_01,
#event_wrap .wheel4 .w_01,
#event_wrap .wheel5 .w_01 {bottom:0;left:50%;margin-left:-960px}
#event_wrap .wheel2 .w_02,
#event_wrap .wheel3 .w_02,
#event_wrap .wheel4 .w_02,
#event_wrap .wheel5 .w_02 {top:50%;left:50%;margin:-440px 0 0 -205px}
#event_wrap .wheel2 .btn_home,
#event_wrap .wheel3 .btn_home,
#event_wrap .wheel4 .btn_home,
#event_wrap .wheel5 .btn_home{position: absolute;top:393px;left:360px}
#event_wrap .wheel6 .w_01,
#event_wrap .wheel7 .w_01,
#event_wrap .wheel8 .w_01,
#event_wrap .wheel9 .w_01 {bottom:0;left:50%;margin-left:-310px}
#event_wrap .wheel6 .w_02,
#event_wrap .wheel7 .w_02,
#event_wrap .wheel8 .w_02,
#event_wrap .wheel9 .w_02 {top:50%;left:50%;margin:-443px 0 0 -690px}
#event_wrap .wheel6 .btn_home,
#event_wrap .wheel7 .btn_home,
#event_wrap .wheel8 .btn_home,
#event_wrap .wheel9 .btn_home{position: absolute;top:366px;left:515px}
#event_wrap .wheel10 .w_01,
#event_wrap .wheel11 .w_01 {bottom:0;left:50%;margin-left:-960px}
#event_wrap .wheel10 .w_02,
#event_wrap .wheel11 .w_02 {top:50%;left:50%;margin:-377px 0 0 -213px}
#event_wrap .wheel10 .btn_home,
#event_wrap .wheel11 .btn_home{position: absolute;top:302px;left:286px}
#event_wrap .wheel12 .w_01,
#event_wrap .wheel13 .w_01,
#event_wrap .wheel14 .w_01,
#event_wrap .wheel15 .w_01 {bottom:0;left:50%;margin-left:-310px}
#event_wrap .wheel12 .w_02,
#event_wrap .wheel13 .w_02,
#event_wrap .wheel14 .w_02,
#event_wrap .wheel15 .w_02 {top:50%;left:50%;margin:-377px 0 0 -690px}
#event_wrap .wheel12 .btn_home,
#event_wrap .wheel13 .btn_home,
#event_wrap .wheel14 .btn_home,
#event_wrap .wheel15 .btn_home{position: absolute;top:303px;left:471px}
/*nav*/
#event_wrap .wr_nav {position:fixed;z-index:10;top:0;right:0;display:-webkit-flex;display:flex;align-items:top;justify-content:center;width:195px;height:100%;background:#000;Opacity:0;transition: all 0.45s ease-in-out}
#event_wrap .wr_nav .list_nav {position:absolute;width:195px;top:290px}
#event_wrap .wr_nav .list_nav::before {position:absolute;top:-105px;left:0;width:195px;height:100px;background:url('https://acaimg.etoos.com/hp/pc/images/promotion/medical/nav1.png') 0 -168px no-repeat;content:""}
#event_wrap .wr_nav .list_nav .nav {display:block;width:195px;}
#event_wrap .wr_nav .list_nav .nav > strong {display:block;height:30px;width:195px;background:url('https://acaimg.etoos.com/hp/pc/images/promotion/medical/nav1.png') no-repeat;transition: all 0.45s ease-in-out}
#event_wrap .wr_nav .list_nav li a {display:block;height:auto}
#event_wrap .wr_nav .list_nav .tab > strong {height:32px;margin:15px 0 2px 0;font-size:0;text-indent:-9999px;}
#event_wrap .wr_nav .list_nav .tab_s {display:none;height:25px;padding:0 60px;color:#4c4f50;font-size:16px;line-height:25px;text-align:left}
#event_wrap .wr_nav .list_nav li:nth-child(3) .nav > strong {background-position:0 -293px}
#event_wrap .wr_nav .list_nav li:nth-child(7) .nav > strong  {background-position:0 -338px}
#event_wrap .wr_nav .list_nav li:nth-child(11) .nav > strong  {background-position:0 -385px}
#event_wrap .wr_nav .list_nav li:nth-child(13) .nav > strong  {background-position:0 -430px}
#event_wrap .nav1 .wr_nav {Opacity:1}
#event_wrap .wr_nav .list_nav li.on .tab_s {color:#000;font-family:'notokr-bold' !important}
/*nav-국어*/
#event_wrap .nav2 .list_nav .tab1,
#event_wrap .nav3 .list_nav .tab1,
#event_wrap .nav4 .list_nav .tab1,
#event_wrap .nav5 .list_nav .tab1 {display:block}
#event_wrap .nav2 .wr_nav,
#event_wrap .nav3 .wr_nav,
#event_wrap .nav4 .wr_nav,
#event_wrap .nav5 .wr_nav{background:#dbc3d4;right:0;Opacity:1}
#event_wrap .nav2 .wr_nav .list_nav::before,
#event_wrap .nav3 .wr_nav .list_nav::before,
#event_wrap .nav4 .wr_nav .list_nav::before,
#event_wrap .nav5 .wr_nav .list_nav::before {background:url('https://acaimg.etoos.com/hp/pc/images/promotion/medical/nav2.png') 0 -168px no-repeat}
#event_wrap .nav2 .wr_nav .list_nav .nav > strong,
#event_wrap .nav3 .wr_nav .list_nav .nav > strong,
#event_wrap .nav4 .wr_nav .list_nav .nav > strong,
#event_wrap .nav5 .wr_nav .list_nav .nav > strong {background:url('https://acaimg.etoos.com/hp/pc/images/promotion/medical/nav2.png') 0 -168px no-repeat}
#event_wrap .nav2 .wr_nav .list_nav li:nth-child(3) .nav > strong,
#event_wrap .nav3 .wr_nav .list_nav li:nth-child(3) .nav > strong,
#event_wrap .nav4 .wr_nav .list_nav li:nth-child(3) .nav > strong,
#event_wrap .nav5 .wr_nav .list_nav li:nth-child(3) .nav > strong {background-position:0 -293px}
#event_wrap .nav2 .wr_nav .list_nav li:nth-child(7) .nav > strong,
#event_wrap .nav3 .wr_nav .list_nav li:nth-child(7) .nav > strong,
#event_wrap .nav4 .wr_nav .list_nav li:nth-child(7) .nav > strong,
#event_wrap .nav5 .wr_nav .list_nav li:nth-child(7) .nav > strong {background-position:0 -338px}
#event_wrap .nav2 .wr_nav .list_nav li:nth-child(11) .nav > strong,
#event_wrap .nav3 .wr_nav .list_nav li:nth-child(11) .nav > strong,
#event_wrap .nav4 .wr_nav .list_nav li:nth-child(11) .nav > strong,
#event_wrap .nav5 .wr_nav .list_nav li:nth-child(11) .nav > strong {background-position:0  -385px}
#event_wrap .nav2 .wr_nav .list_nav li:nth-child(13) .nav > strong,
#event_wrap .nav3 .wr_nav .list_nav li:nth-child(13) .nav > strong,
#event_wrap .nav4 .wr_nav .list_nav li:nth-child(13) .nav > strong,
#event_wrap .nav5 .wr_nav .list_nav li:nth-child(13) .nav > strong {background-position:0  -430px}
/*nav-수학*/
#event_wrap .nav6 .list_nav .tab2,
#event_wrap .nav7 .list_nav .tab2,
#event_wrap .nav8 .list_nav .tab2,
#event_wrap .nav9 .list_nav .tab2 {display:block}
#event_wrap .nav6 .wr_nav,
#event_wrap .nav7 .wr_nav,
#event_wrap .nav8 .wr_nav,
#event_wrap .nav9 .wr_nav {background:#d3cab5;right:0;Opacity:1}
#event_wrap .nav6 .wr_nav .list_nav::before,
#event_wrap .nav7 .wr_nav .list_nav::before,
#event_wrap .nav8 .wr_nav .list_nav::before,
#event_wrap .nav9 .wr_nav .list_nav::before {background:url('https://acaimg.etoos.com/hp/pc/images/promotion/medical/nav3.png') 0 -168px no-repeat}
#event_wrap .nav6 .wr_nav .list_nav .nav > strong,
#event_wrap .nav7 .wr_nav .list_nav .nav > strong,
#event_wrap .nav8 .wr_nav .list_nav .nav > strong,
#event_wrap .nav9 .wr_nav .list_nav .nav > strong {background:url('https://acaimg.etoos.com/hp/pc/images/promotion/medical/nav3.png') 0 -168px no-repeat}
#event_wrap .nav6 .wr_nav .list_nav li:nth-child(3) .nav > strong,
#event_wrap .nav7 .wr_nav .list_nav li:nth-child(3) .nav > strong,
#event_wrap .nav8 .wr_nav .list_nav li:nth-child(3) .nav > strong,
#event_wrap .nav9 .wr_nav .list_nav li:nth-child(3) .nav > strong {background-position:0 -293px}
#event_wrap .nav6 .wr_nav .list_nav li:nth-child(7) .nav > strong,
#event_wrap .nav7 .wr_nav .list_nav li:nth-child(7) .nav > strong,
#event_wrap .nav8 .wr_nav .list_nav li:nth-child(7) .nav > strong,
#event_wrap .nav9 .wr_nav .list_nav li:nth-child(7) .nav > strong {background-position:0 -338px}
#event_wrap .nav6 .wr_nav .list_nav li:nth-child(11) .nav > strong,
#event_wrap .nav7 .wr_nav .list_nav li:nth-child(11) .nav > strong,
#event_wrap .nav8 .wr_nav .list_nav li:nth-child(11) .nav > strong,
#event_wrap .nav9 .wr_nav .list_nav li:nth-child(11) .nav > strong {background-position:0  -385px}
#event_wrap .nav6 .wr_nav .list_nav li:nth-child(13) .nav > strong,
#event_wrap .nav7 .wr_nav .list_nav li:nth-child(13) .nav > strong,
#event_wrap .nav8 .wr_nav .list_nav li:nth-child(13) .nav > strong,
#event_wrap .nav9 .wr_nav .list_nav li:nth-child(13) .nav > strong {background-position:0  -430px}
/*nav-영어*/
#event_wrap .nav10 .list_nav .tab3,
#event_wrap .nav11 .list_nav .tab3 {display:block}
#event_wrap .nav10 .wr_nav,
#event_wrap .nav11 .wr_nav {background:#b4c5d1;right:0;Opacity:1}
#event_wrap .nav10 .wr_nav .list_nav::before,
#event_wrap .nav11 .wr_nav .list_nav::before {background:url('https://acaimg.etoos.com/hp/pc/images/promotion/medical/nav4.png') 0 -168px no-repeat}
#event_wrap .nav10 .wr_nav .list_nav .nav > strong,
#event_wrap .nav11 .wr_nav .list_nav .nav > strong {background:url('https://acaimg.etoos.com/hp/pc/images/promotion/medical/nav4.png') 0 -168px no-repeat}
#event_wrap .nav10 .wr_nav .list_nav li:nth-child(3) .nav > strong,
#event_wrap .nav11 .wr_nav .list_nav li:nth-child(3) .nav > strong {background-position:0 -293px}
#event_wrap .nav10 .wr_nav .list_nav li:nth-child(7) .nav > strong,
#event_wrap .nav11 .wr_nav .list_nav li:nth-child(7) .nav > strong {background-position:0 -338px}
#event_wrap .nav10 .wr_nav .list_nav li:nth-child(11) .nav > strong,
#event_wrap .nav11 .wr_nav .list_nav li:nth-child(11) .nav > strong {background-position:0  -385px}
#event_wrap .nav10 .wr_nav .list_nav li:nth-child(13) .nav > strong,
#event_wrap .nav11 .wr_nav .list_nav li:nth-child(13) .nav > strong {background-position:0  -430px}
/*nav-과탐*/
#event_wrap .nav12 .list_nav .tab4,
#event_wrap .nav13 .list_nav .tab4,
#event_wrap .nav14 .list_nav .tab4,
#event_wrap .nav15 .list_nav .tab4 {display:block}
#event_wrap .nav12 .wr_nav,
#event_wrap .nav13 .wr_nav,
#event_wrap .nav14 .wr_nav,
#event_wrap .nav15 .wr_nav {background:#ac90c0;right:0;Opacity:1}
#event_wrap .nav12 .wr_nav .list_nav::before,
#event_wrap .nav13 .wr_nav .list_nav::before,
#event_wrap .nav14 .wr_nav .list_nav::before,
#event_wrap .nav15 .wr_nav .list_nav::before {background:url('https://acaimg.etoos.com/hp/pc/images/promotion/medical/nav5.png') 0 -168px no-repeat}
#event_wrap .nav12 .wr_nav .list_nav .nav > strong,
#event_wrap .nav13 .wr_nav .list_nav .nav > strong,
#event_wrap .nav14 .wr_nav .list_nav .nav > strong,
#event_wrap .nav15 .wr_nav .list_nav .nav > strong {background:url('https://acaimg.etoos.com/hp/pc/images/promotion/medical/nav5.png') 0 -168px no-repeat}
#event_wrap .nav12 .wr_nav .list_nav li:nth-child(3) .nav > strong,
#event_wrap .nav13 .wr_nav .list_nav li:nth-child(3) .nav > strong,
#event_wrap .nav14 .wr_nav .list_nav li:nth-child(3) .nav > strong,
#event_wrap .nav15 .wr_nav .list_nav li:nth-child(3) .nav > strong {background-position:0 -293px}
#event_wrap .nav12 .wr_nav .list_nav li:nth-child(7) .nav > strong,
#event_wrap .nav13 .wr_nav .list_nav li:nth-child(7) .nav > strong,
#event_wrap .nav14 .wr_nav .list_nav li:nth-child(7) .nav > strong,
#event_wrap .nav15 .wr_nav .list_nav li:nth-child(7) .nav > strong {background-position:0 -338px}
#event_wrap .nav12 .wr_nav .list_nav li:nth-child(11) .nav > strong,
#event_wrap .nav13 .wr_nav .list_nav li:nth-child(11) .nav > strong,
#event_wrap .nav14 .wr_nav .list_nav li:nth-child(11) .nav > strong,
#event_wrap .nav15 .wr_nav .list_nav li:nth-child(11) .nav > strong {background-position:0  -385px}
#event_wrap .nav12 .wr_nav .list_nav li:nth-child(13) .nav > strong,
#event_wrap .nav13 .wr_nav .list_nav li:nth-child(13) .nav > strong,
#event_wrap .nav14 .wr_nav .list_nav li:nth-child(13) .nav > strong,
#event_wrap .nav15 .wr_nav .list_nav li:nth-child(13) .nav > strong {background-position:0  -430px}
/*mobile*/
.mobile {overflow:visible !important;}
#event_wrap.mobile .common {display:none;}
#event_wrap.mobile .g_ev_cont {width:100%;height:1050px;}
#event_wrap.mobile .g_ev_cont .home {top:50px;}