<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>

	<link rel="stylesheet" type="text/css" href="https://img.eduwill.net/eduwill/live/libs/bxslider/jquery.bxslider.css" />
    <link rel="stylesheet" type="text/css" href="https://img.eduwill.net/eduwill/live/libs/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="https://img.eduwill.net/eduwill/live/libs/swiper/swiper.min.css" />
    <link rel="stylesheet" type="text/css" href="//img.eduwill.net/resources/common/web/css/webfont.css" />

    <link rel="stylesheet" type="text/css" href="//img.eduwill.net/resources/eduwill/live/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="//img.eduwill.net/resources/eduwill/live/css/common.css" />
    <link rel="stylesheet" type="text/css" href="https://img.eduwill.net/eduwill/live/css/common/eduf.css">

    <script type="text/javascript" src="//img.eduwill.net/resources/eduwill/live/js/jquery/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="//img.eduwill.net/resources/eduwill/live/js/jquery/jquery.tmpl.min.js"></script>
    <script type="text/javaScript" src="https://img.eduwill.net/eduwill/live/libs/slick/slick.min.js"></script>
    <script type="text/javascript" src="https://img.eduwill.net/eduwill/live/libs/swiper/swiper.min.js"></script>
    <script type="text/javaScript" src="https://img.eduwill.net/eduwill/live/libs/greensock/TweenMax.min.js"></script>

    <script type="text/javascript" src="https://img.eduwill.net/eduwill/live/js/common/script.js"></script>
    <script type="text/javascript" src="https://img.eduwill.net/eduwill/live/js/common/eduf.js"></script>

    <link rel="stylesheet" type="text/css" href="../css/web.css">

</head>
<body>
<div class="promotion"><!-- promotion -->

	<div class="sector-title-1">
		<div class="light1"><img src="https://img.eduwill.net/eduwill/img/2022/J/event/221201/light/light1.png" alt="" /></div>
		<div class="light2"><img src="https://img.eduwill.net/eduwill/img/2022/J/event/221201/light/light2.png" alt="" /></div>
		<div class="light3"><img src="https://img.eduwill.net/eduwill/img/2022/J/event/221201/light/light3.png" alt="" /></div>
		<div class="light4"><img src="https://img.eduwill.net/eduwill/img/2022/J/event/221201/light/light4.png" alt="" /></div>
		<div class="light5"><img src="https://img.eduwill.net/eduwill/img/2022/J/event/221201/light/light5.png" alt="" /></div>
		<div class="light6"><img src="https://img.eduwill.net/eduwill/img/2022/J/event/221201/light/light6.png" alt="" /></div>
		<div class="light7"><img src="https://img.eduwill.net/eduwill/img/2022/J/event/221201/light/light7.png" alt="" /></div>
		<div class="light8"><img src="https://img.eduwill.net/eduwill/img/2022/J/event/221201/light/light8.png" alt="" /></div>
		<div class="light9"><img src="https://img.eduwill.net/eduwill/img/2022/J/event/221201/light/light9.png" alt="" /></div>
		<div class="light10"><img src="https://img.eduwill.net/eduwill/img/2022/J/event/221201/light/light10.png" alt="" /></div>
		<div class="light11"><img src="https://img.eduwill.net/eduwill/img/2022/J/event/221201/light/light11.png" alt="" /></div>
		<div class="tween-box">
			<p><img src="https://img.eduwill.net/eduwill/img/2022/J/event/221201/pc/tween1.png" alt="에듀윌" /></p>
			<p>
				<img src="https://img.eduwill.net/eduwill/img/2022/J/event/221201/pc/tween3.png" alt="에듀윌" />
				<span class="blink1"><img src="https://img.eduwill.net/eduwill/img/2022/J/event/221201/pc/blink.png" alt="blink" /></span>
				<span class="blink2"><img src="https://img.eduwill.net/eduwill/img/2022/J/event/221201/pc/blink.png" alt="blink" /></span>
			</p>
			<p><img src="https://img.eduwill.net/eduwill/img/2022/J/event/221201/pc/tween4.png" alt="에듀윌" /></p>
			<p><img src="https://img.eduwill.net/eduwill/img/2022/J/event/221201/pc/tween5.png" alt="에듀윌" /></p>
		</div>
	</div>

    <div class="sector-title-2">
        <div class="wrap">
            <div class="title">
				<div class="motion title-1">
					<img src="https://img.eduwill.net/eduwill/img/2023/_116/event/230118/pc/title_1.png" alt="">
			   </div>
			   <div class="motion title-2">
					<img src="https://img.eduwill.net/eduwill/img/2023/_116/event/230118/pc/title_2.png" alt="">
			   </div>
			   <div class="motion title-3">
					<img src="https://img.eduwill.net/eduwill/img/2023/_116/event/230118/pc/title_3.jpg" alt="">
			   </div>
			   <div class="motion title-4">
					<img src="https://img.eduwill.net/eduwill/img/2023/_116/event/230118/pc/title_4.png" alt="" class="effect-extend">
			   </div>
			   <div class="motion title-5">
				   <img src="https://img.eduwill.net/eduwill/img/2023/_116/event/230118/pc/title_5.png" alt="">
			   </div>
            </div>
        </div>
    </div>



</div><!-- // promotion -->

<script>
	var isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ? true : false;
	var url = window.location.href;
	var str = 'event.eduwill.net';
	var checkUrl = url.indexOf(str);

	$(function () {
		scrollEvent(null);
        $(window).on("scroll", scrollEvent);

        var _isScroll = false;

		onComplete1();
		function scrollEvent(st) {
            var scrollTop = $(window).scrollTop();
            var offsetTitle2 = $(".sector-title-2").offset().top;

            if (scrollTop > offsetTitle2 - 200) {
                if (_isScroll == true) return;
				onComplete2(); 
                _isScroll = true;
            } else {
                if (_isScroll == false) return;
                _isScroll = false;
            }
        }

	});

	function onComplete1() {
		TweenMax.fromTo($(".sector-title-1 .light1"), 5, { rotation: -20 }, { rotation: 20, repeat: -1, yoyo: true, transformOrigin: "center bottom", perspective: 400, ease: Power4.eaesOut });
		TweenMax.fromTo($(".sector-title-1 .light4"), 5, { rotation: 20 }, { rotation: -20, repeat: -1, yoyo: true, transformOrigin: "center bottom", perspective: 400, ease: Power4.eaesOut });
		TweenMax.fromTo($(".sector-title-1 .light5"), 5, { rotation: -20 }, { rotation: 20, repeat: -1, yoyo: true, transformOrigin: "center bottom", perspective: 400, ease: Power4.eaesOut });
		TweenMax.fromTo($(".sector-title-1 .light6"), 7, { rotation: 20 }, { rotation: -10, repeat: -1, yoyo: true, transformOrigin: "center bottom", perspective: 400, ease: Power4.eaesOut });
		TweenMax.fromTo($(".sector-title-1 .light7"), 5, { rotation: 10 }, { rotation: -10, repeat: -1, yoyo: true, transformOrigin: "center bottom", perspective: 400, ease: Power4.eaesOut });
		TweenMax.fromTo($(".sector-title-1 .light8"), 5, { rotation: -10 }, { rotation: 10, repeat: -1, yoyo: true, transformOrigin: "center bottom", perspective: 400, ease: Power4.eaesOut });
		TweenMax.fromTo($(".sector-title-1 .light10"), 5, { rotation: 30 }, { rotation: -30, repeat: -1, yoyo: true, transformOrigin: "center bottom", perspective: 400, ease: Power4.eaesOut });
		TweenMax.fromTo($(".sector-title-1 .light11"), 5, { rotation: -20 }, { rotation: 20, repeat: -1, yoyo: true, transformOrigin: "center bottom", perspective: 400, ease: Power4.eaesOut });

		TweenMax.fromTo($(".sector-title-1 .blink1"), 0.35, { scale: 0.5 }, { scale: 1, delay: 0.5, repeat: -1, yoyo: true });
		TweenMax.fromTo($(".sector-title-1 .blink2"), 0.35, { scale: 0.5 }, { scale: 1, delay: 0.8, repeat: -1, yoyo: true });

		var _tweenMotion = $(".sector-title-1 .tween_box").children("p");
		var _item;
		_tweenMotion.each(function (i) {
			_item = $(this).children("img");
			TweenMax.set(_item, { scale: 1.2, opacity: 0 });
			TweenMax.to(_item, 0.35, { opacity: 1, scale: 1, ease: Expo.eaesIn, delay: 0.18 * i });
		});
	}

	function onComplete2() {
		var promotionTitle = $('.sector-title-2');
		TweenMax.fromTo( promotionTitle.find('.title-1'), .5, { opacity: 0 }, { opacity: 1, delay: 0.3, ease: Back.easeOut.config(1) });
		TweenMax.fromTo( promotionTitle.find('.title-3'), .6, { opacity: 0, scale: 0.3 }, { opacity: 1,scale: 1, delay: 0.7, ease: Back.easeOut.config(2) });
		TweenMax.fromTo( promotionTitle.find('.title-5'), .4, { opacity: 0,  x: -50 }, { opacity: 1, x: 0, delay: 1.2, ease: Circ.easeOut});
		TweenMax.fromTo( promotionTitle.find('.title-2'), .8, { opacity: 0,  x: 150 }, { opacity: 1, x: 0, delay: 1.6, ease: Circ.easeOut});
		TweenMax.fromTo( promotionTitle.find('.title-4'), .6, { opacity: 0,  scale: 0.3 }, {opacity: 1, scale: 1, delay: 2.0, ease: Circ.easeOut});
		TweenMax.fromTo( promotionTitle.find('.action'), .6, { opacity: 0 }, {opacity: 1, delay: 2.0, ease: Circ.easeOut});
		TweenMax.fromTo( promotionTitle.find('.date'), .6, { opacity: 0, y: 150 }, {opacity: 1,y:0, delay: 2.0, ease: Circ.easeOut});
	}


</script>


</body>
</html>