<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>

	<link rel="stylesheet" type="text/css" href="https://img.eduwill.net/eduwill/live/libs/bxslider/jquery.bxslider.css" />
    <link rel="stylesheet" type="text/css" href="https://img.eduwill.net/eduwill/live/libs/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="https://img.eduwill.net/eduwill/live/libs/swiper/swiper.min.css" />
    <link rel="stylesheet" type="text/css" href="//img.eduwill.net/resources/common/web/css/webfont.css" />

    <link rel="stylesheet" type="text/css" href="//img.eduwill.net/resources/eduwill/live/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="//img.eduwill.net/resources/eduwill/live/css/common.css" />
    <link rel="stylesheet" type="text/css" href="https://img.eduwill.net/eduwill/live/css/common/eduf.css">
    <link rel="stylesheet" type="text/css" href="../css/web.css">
</head>
<body>
<div class="promotion"><!-- promotion -->
	<div class="sector sector-title-0">
		<div class="wrap">
			<h1>타이틀 모션 모음</h1>
			<h4>모션</h4>
		</div>
	</div>

	<div class="sector sector-title-1">
		<div class="light1"><img src="https://img.eduwill.net/eduwill/img/2022/J/event/221201/light/light1.png" alt="" /></div>
		<div class="light2"><img src="https://img.eduwill.net/eduwill/img/2022/J/event/221201/light/light2.png" alt="" /></div>
		<div class="light3"><img src="https://img.eduwill.net/eduwill/img/2022/J/event/221201/light/light3.png" alt="" /></div>
		<div class="light4"><img src="https://img.eduwill.net/eduwill/img/2022/J/event/221201/light/light4.png" alt="" /></div>
		<div class="light5"><img src="https://img.eduwill.net/eduwill/img/2022/J/event/221201/light/light5.png" alt="" /></div>
		<div class="light6"><img src="https://img.eduwill.net/eduwill/img/2022/J/event/221201/light/light6.png" alt="" /></div>
		<div class="light7"><img src="https://img.eduwill.net/eduwill/img/2022/J/event/221201/light/light7.png" alt="" /></div>
		<div class="light8"><img src="https://img.eduwill.net/eduwill/img/2022/J/event/221201/light/light8.png" alt="" /></div>
		<div class="light9"><img src="https://img.eduwill.net/eduwill/img/2022/J/event/221201/light/light9.png" alt="" /></div>
		<div class="light10"><img src="https://img.eduwill.net/eduwill/img/2022/J/event/221201/light/light10.png" alt="" /></div>
		<div class="light11"><img src="https://img.eduwill.net/eduwill/img/2022/J/event/221201/light/light11.png" alt="" /></div>
		<div class="tween-box">
			<p><img src="https://img.eduwill.net/eduwill/img/2022/J/event/221201/pc/tween1.png" alt="" /></p>
			<p>
				<img src="https://img.eduwill.net/eduwill/img/2022/J/event/221201/pc/tween3.png" alt="" />
				<span class="blink1"><img src="https://img.eduwill.net/eduwill/img/2022/J/event/221201/pc/blink.png" alt="blink" /></span>
				<span class="blink2"><img src="https://img.eduwill.net/eduwill/img/2022/J/event/221201/pc/blink.png" alt="blink" /></span>
			</p>
			<p><img src="https://img.eduwill.net/eduwill/img/2022/J/event/221201/pc/tween4.png" alt="" /></p>
			<p><img src="https://img.eduwill.net/eduwill/img/2022/J/event/221201/pc/tween5.png" alt="" /></p>
		</div>
	</div>

    <div class="sector sector-title-2">
        <div class="wrap">
            <div class="title">
				<div class="motion title-1">
					<img src="https://img.eduwill.net/eduwill/img/2023/_116/event/230118/pc/title_1.png" alt="">
			   </div>
			   <div class="motion title-2">
					<img src="https://img.eduwill.net/eduwill/img/2023/_116/event/230118/pc/title_2.png" alt="">
			   </div>
			   <div class="motion title-3">
					<img src="https://img.eduwill.net/eduwill/img/2023/_116/event/230118/pc/title_3.jpg" alt="">
			   </div>
			   <div class="motion title-4">
					<img src="https://img.eduwill.net/eduwill/img/2023/_116/event/230118/pc/title_4.png" alt="" class="effect-extend">
			   </div>
			   <div class="motion title-5">
				   <img src="https://img.eduwill.net/eduwill/img/2023/_116/event/230118/pc/title_5.png" alt="">
			   </div>
            </div>
        </div>
    </div> 

	<div class="sector sector-title-3">	
		<div class="wrap">
			<div class="motion motion1"><img src="https://img.eduwill.net/eduwill/img/2022/Z/event/220204/pc/title_motion1.png" alt="" /></div>
			<div class="motion motion2"><img src="https://img.eduwill.net/eduwill/img/2022/Z/event/220204/pc/title_motion2.png" alt="" /></div>
			<div class="motion motion3"><img src="https://img.eduwill.net/eduwill/img/2022/Z/event/220204/pc/title_motion3.png" alt="꼭" /></div>
			<div class="motion motion4"><img src="https://img.eduwill.net/eduwill/img/2022/Z/event/220204/pc/title_motion4.png" alt="취" /></div>
			<div class="motion motion5"><img src="https://img.eduwill.net/eduwill/img/2022/Z/event/220204/pc/title_motion5.png" alt="업" /></div>
			<div class="motion motion6"><img src="https://img.eduwill.net/eduwill/img/2022/Z/event/220204/pc/title_motion6.png" alt="하" /></div>
			<div class="motion motion7"><img src="https://img.eduwill.net/eduwill/img/2022/Z/event/220204/pc/title_motion7.png" alt="자" /></div>
			<div class="motion motion8"><img src="https://img.eduwill.net/eduwill/img/2022/Z/event/220204/pc/title_motion8.png" alt="!" /></div>
		</div>	
	</div> 

	<div class="sector sector-title-4">
		<div class="wrap">
			<div class="motion motion2">
				<img src="https://img.eduwill.net/eduwill/img/2021/Z/event/210810/pc/title_motion2.png" alt="" />
			</div>
			<div class="motion txt-wrap">
				<div class="motion motion3"><img src="https://img.eduwill.net/eduwill/img/2021/Z/event/210810/pc/title_motion3.png" alt="" /></div>
				<div class="motion motion4"><img src="https://img.eduwill.net/eduwill/img/2021/Z/event/210810/pc/title_motion4.png" alt="" /></div>
			</div>
			<div class="motion motion5"><img src="https://img.eduwill.net/eduwill/img/2021/Z/event/210810/pc/title_motion5.png" alt="" /></div>
			<div class="motion motion6"><img src="https://img.eduwill.net/eduwill/img/2022/Z/event/220204/pc/title_motion6_211111.png" alt="" /></div>
			<div class="motion motion7"><img src="https://img.eduwill.net/eduwill/img/2021/Z/event/210810/pc/title_motion7.png" alt="" /></div>
		</div>
		<div class="motion motion8"><img src="https://img.eduwill.net/eduwill/img/2021/Z/event/210810/pc/bg_title_bottom.png" alt="" /></div>
	</div>

	<div class="sector sector-title-5">
		<div class="b-wave">
			<img src="https://img.eduwill.net/eduwill/img/2022/X/event/220601/pc/bg_title2.png" alt="물결배경">
		</div>
		<div class="b-wave2">
			<img src="https://img.eduwill.net/eduwill/img/2022/X/event/220601/pc/wave_2.png" alt="하단파도">
		</div>
		<div class="wrap">
			<div class="t-laurel">
				<img src="https://img.eduwill.net/eduwill/img/2022/X/event/220601/pc/laurel_x.png" alt="월계관">
			</div>
			<div class="title-title title1">
				<img src="https://img.eduwill.net/eduwill/img/2022/X/event/220601/pc/title_text1.png" alt="에듀윌 썸머">
			</div>
			<div class="title-title title2">
				<img src="https://img.eduwill.net/eduwill/img/2022/X/event/220601/pc/title_text2.png" alt="할인캉스">
			</div>
			<div class="title-title title3">
				<img src="https://img.eduwill.net/eduwill/img/2022/X/event/220601/pc/title_text3.png" alt="1위 에듀윌의 시원한 혜택 받고 합격하세요">
			</div>
			<div class="sale">
				<img src="https://img.eduwill.net/eduwill/img/2022/X/event/220601/pc/sale35.png" alt="35SALE">
			</div>
			<div class="title-bg">
				<div class="icon-1"><img src="https://img.eduwill.net/eduwill/img/2022/X/event/220601/pc/icon_1.png" alt=""></div>
				<div class="icon-2"><img src="https://img.eduwill.net/eduwill/img/2022/X/event/220601/pc/icon_2.png" alt=""></div>
				<div class="s-wave"><img src="https://img.eduwill.net/eduwill/img/2022/X/event/220601/pc/wave.png" alt=""></div>
				<div class="water-drop1"><img src="https://img.eduwill.net/eduwill/img/2022/X/event/220601/pc/water_drop_1.png" alt=""></div>
				<div class="water-drop2"><img src="https://img.eduwill.net/eduwill/img/2022/X/event/220601/pc/water_drop_2.png" alt=""></div>
				<div class="water-drop3"><img src="https://img.eduwill.net/eduwill/img/2022/X/event/220601/pc/water_drop_3.png" alt=""></div>
				<div class="water-drop4"><img src="https://img.eduwill.net/eduwill/img/2022/X/event/220601/pc/water_drop_4.png" alt=""></div>
				<div class="water-drop5"><img src="https://img.eduwill.net/eduwill/img/2022/X/event/220601/pc/water_drop_5.png" alt=""></div>
				<div class="water-drop6"><img src="https://img.eduwill.net/eduwill/img/2022/X/event/220601/pc/water_drop_6.png" alt=""></div>
			</div>
		</div>
	</div>

	<div class="sector sector-title-6">
		<div id="employ2023">
			<div class="top">
				<strong class="etoos"><img src="https://acaimg.etoos.com/cs/pc/gate/images/cnt/employ/2023/etoos.png" alt="etoos에듀"></strong>
				<div class="toptxt">[동행]의 가치를 아는<br>최고의 선생님을 모십니다</div>
				<div class="wr_visual">
					<strong class="visual_tit1"><img src="https://acaimg.etoos.com/cs/pc/gate/images/cnt/employ/2023/visual1.png" alt="2023"></strong>
					<strong class="visual_tit2"><img src="https://acaimg.etoos.com/cs/pc/gate/images/cnt/employ/2020/08/visual2.png" alt="강사 & 전략담임"></strong>
					<strong class="visual_tit3"><img src="https://acaimg.etoos.com/cs/pc/gate/images/cnt/employ/2020/08/visual3.png" alt="공개 채용"></strong>
					<span class="visual_line1"></span>
					<span class="visual_line2"></span>
					<span class="visual_line3"></span>
					<span class="visual_line4"></span>
					<span class="visual_line5"></span>
					<p class="visual_txt">최상의 역량을 발휘할 최고의 선생님을 찾습니다.</p>
					<span class="visual_ico"><img src="https://acaimg.etoos.com/cs/pc/gate/images/cnt/employ/2020/08/visual4.png" alt=""></span>
					<p class="visual_txt2">이투스교육 선생님은 학생의 마음을 깊이 읽어내고 소통합니다. 학생의 실력향상과 미래를 위해 고민합니다. 현재에 안주하지 않고 함께 성장하기 위해 노력합니다.</p>
					<p class="visual_logo"><img src="https://acaimg.etoos.com/cs/pc/gate/images/cnt/employ/2023/logo.png" alt=""></p>
				</div>
			</div>
		</div>
	</div>

	<div class="sector sector-title-7">
		<div id="event_wrap">

			<div class="top">
				<div class="inner">
					<span class="obj1"><img src="https://img.etoos.com/enp/front/2023/07/13/book/obj1.png" alt="" /></span>
					<span class="obj2"><img src="https://img.etoos.com/enp/front/2023/07/13/book/obj2.png" alt="" /></span>
					<span class="obj3"><img src="https://img.etoos.com/enp/front/2023/07/13/book/obj3.png" alt="" /></span>
				</div>
			</div>

			<div id="scroll_wrap" class="cont_wrap">
				<!-- cont1 -->
				<div class="cont_box cont1">
					<div class="inner">
						<!-- rolling_list -->
						<ul id="rolling1" class="rolling_list">
							<li class="on"><span><img src="https://img.etoos.com/enp/front/2023/07/13/book/tea1.jpg" alt="" /></span></li>
							<li><span><img src="https://img.etoos.com/enp/front/2023/07/13/book/tea2.jpg" alt="" /></span></li>
						</ul>
						<ul id="rolling2" class="rolling_list">
							<li class="on"><span><img src="https://img.etoos.com/enp/front/2023/07/13/book/rolling1.png" alt="" /></span></li>
							<li><span><img src="https://img.etoos.com/enp/front/2023/07/13/book/rolling2.png" alt="" /></span></li>
							<li><span><img src="https://img.etoos.com/enp/front/2023/07/13/book/rolling3.png" alt="" /></span></li>
							<li><span><img src="https://img.etoos.com/enp/front/2023/07/13/book/rolling4.png" alt="" /></span></li>
							<li><span><img src="https://img.etoos.com/enp/front/2023/07/13/book/rolling5.png" alt="" /></span></li>
							<li><span><img src="https://img.etoos.com/enp/front/2023/07/13/book/rolling6.png" alt="" /></span></li>
						</ul>
						<!-- //rolling_list -->
						<img src="https://img.etoos.com/enp/front/2023/07/13/book/cont1.png" alt="" style="position:relative;z-index:1;margin:0 -120px;" />
					</div>
				</div>
				<!-- //cont1 -->
			</div>
		</div>
	</div>

	<div class="sector sector-title-8">		
		<div id="pass">
			<!-- <div class="floBnrWrap">
				<div class="floBnr">
					<a href="javascript:;"><img src="//img.megals.co.kr/2023/0719_pass/flo.png" onclick="fnSetFocus( 'class', 'stn_05', 0 );" alt="자기소개서 특강 패스 바로가기"></a>
					<a href="javascript:;" onclick="fnSetFocus( 'id' , 'container' , 0 );" class="flobnr_top"><img src="//img.megals.co.kr/2023/0719_propass/btn_top.png" alt="TOP"></a>
				</div>
			</div> -->
			<div class="stn_top">
				<div class="inner">
					<!-- <img src="//img.megals.co.kr/2023/0719_pass/pass_top.jpg" alt=""> -->
					<div class="img_wrap">
						<div class="img img1"><img src="//img.megals.co.kr/2023/0719_pass/top1.png" alt=""></div>
						<div class="img img2"><img src="//img.megals.co.kr/2023/0719_pass/top2.png" alt=""></div>
						<div class="img img2-2"><img src="//img.megals.co.kr/2023/0719_pass/top2-2.png" alt=""></div>
						<div class="img img3-2"><img src="//img.megals.co.kr/2023/0719_pass/title1.png" alt=""></div>
						<div class="img img3-3"><img src="//img.megals.co.kr/2023/0719_pass/title2.png" alt=""></div>
						<div class="img img3-4"><img src="//img.megals.co.kr/2023/0719_pass/title3.png" alt=""></div>
						<div class="img img4"><img src="//img.megals.co.kr/2023/0719_pass/top4.png" alt=""></div>
						<div class="img img5"><img src="//img.megals.co.kr/2023/0719_pass/top5.png" alt=""></div>
						<div class="img img6">
							<img src="//img.megals.co.kr/2023/0719_pass/top6.png" alt="" usemap="#btn_link">
							<map name="btn_link">
								<area shape="rect" coords="3,135,1099,215" href="javascript:;" onclick="fnSetFocus('class','stn_04',0)" alt="특강 PASS 할인 쿠폰 제공 바로가기">
								<area shape="rect" coords="1,230,1100,307" href="/freepass/leet_interview_pass_2024.asp" alt="할인 쿠폰 제공 바로가기">
							</map>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div><!-- // promotion -->

<script type="text/javascript" src="//img.eduwill.net/resources/eduwill/live/js/jquery/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="//img.eduwill.net/resources/eduwill/live/js/jquery/jquery.tmpl.min.js"></script>
<script type="text/javaScript" src="https://img.eduwill.net/eduwill/live/libs/slick/slick.min.js"></script>
<script type="text/javascript" src="https://img.eduwill.net/eduwill/live/libs/swiper/swiper.min.js"></script>
<script type="text/javaScript" src="https://img.eduwill.net/eduwill/live/libs/greensock/TweenMax.min.js"></script>
<script type="text/javascript" src="https://img.eduwill.net/eduwill/live/js/common/script.js"></script>
<script type="text/javascript" src="https://img.eduwill.net/eduwill/live/js/common/eduf.js"></script>
<script type="text/javascript" src="https://go2.etoos.com/common/js/jquery/jquery.bxslider.min.js"></script>
<script>
	var isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ? true : false;
	var url = window.location.href;
	var str = 'event.eduwill.net';
	var checkUrl = url.indexOf(str);

	$(function () {

		scrollActiveEvent();

		onComplete1();
		onComplete2();
		onComplete5();
		onComplete6();
		onComplete7();
		onComplete8();

		//화면이 보여질때 해당 함수 실행하기
	});

	function onComplete1() {
		TweenMax.fromTo($(".sector-title-1 .light1"), 5, { rotation: -20 }, { rotation: 20, repeat: -1, yoyo: true, transformOrigin: "center bottom", perspective: 400, ease: Power4.eaesOut });
		TweenMax.fromTo($(".sector-title-1 .light4"), 5, { rotation: 20 }, { rotation: -20, repeat: -1, yoyo: true, transformOrigin: "center bottom", perspective: 400, ease: Power4.eaesOut });
		TweenMax.fromTo($(".sector-title-1 .light5"), 5, { rotation: -20 }, { rotation: 20, repeat: -1, yoyo: true, transformOrigin: "center bottom", perspective: 400, ease: Power4.eaesOut });
		TweenMax.fromTo($(".sector-title-1 .light6"), 7, { rotation: 20 }, { rotation: -10, repeat: -1, yoyo: true, transformOrigin: "center bottom", perspective: 400, ease: Power4.eaesOut });
		TweenMax.fromTo($(".sector-title-1 .light7"), 5, { rotation: 10 }, { rotation: -10, repeat: -1, yoyo: true, transformOrigin: "center bottom", perspective: 400, ease: Power4.eaesOut });
		TweenMax.fromTo($(".sector-title-1 .light8"), 5, { rotation: -10 }, { rotation: 10, repeat: -1, yoyo: true, transformOrigin: "center bottom", perspective: 400, ease: Power4.eaesOut });
		TweenMax.fromTo($(".sector-title-1 .light10"), 5, { rotation: 30 }, { rotation: -30, repeat: -1, yoyo: true, transformOrigin: "center bottom", perspective: 400, ease: Power4.eaesOut });
		TweenMax.fromTo($(".sector-title-1 .light11"), 5, { rotation: -20 }, { rotation: 20, repeat: -1, yoyo: true, transformOrigin: "center bottom", perspective: 400, ease: Power4.eaesOut });

		TweenMax.fromTo($(".sector-title-1 .blink1"), 0.35, { scale: 0.5 }, { scale: 1, delay: 0.5, repeat: -1, yoyo: true });
		TweenMax.fromTo($(".sector-title-1 .blink2"), 0.35, { scale: 0.5 }, { scale: 1, delay: 0.8, repeat: -1, yoyo: true });

		var _tweenMotion = $(".sector-title-1 .tween_box").children("p");
		var _item;
		_tweenMotion.each(function (i) {
			_item = $(this).children("img");
			TweenMax.set(_item, { scale: 1.2, opacity: 0 });
			TweenMax.to(_item, 0.35, { opacity: 1, scale: 1, ease: Expo.eaesIn, delay: 0.18 * i });
		});
	}

	function onComplete2() {
		var promotionTitle = $('.sector-title-2');
		TweenMax.fromTo( promotionTitle.find('.title-1'), .5, { opacity: 0 }, { opacity: 1, delay: 0.3, ease: Back.easeOut.config(1) });
		TweenMax.fromTo( promotionTitle.find('.title-3'), .6, { opacity: 0, scale: 0.3 }, { opacity: 1,scale: 1, delay: 0.7, ease: Back.easeOut.config(2) });
		TweenMax.fromTo( promotionTitle.find('.title-5'), .4, { opacity: 0,  x: -50 }, { opacity: 1, x: 0, delay: 1.2, ease: Circ.easeOut});
		TweenMax.fromTo( promotionTitle.find('.title-2'), .8, { opacity: 0,  x: 150 }, { opacity: 1, x: 0, delay: 1.6, ease: Circ.easeOut});
		TweenMax.fromTo( promotionTitle.find('.title-4'), .6, { opacity: 0,  scale: 0.3 }, {opacity: 1, scale: 1, delay: 2.0, ease: Circ.easeOut});
		TweenMax.fromTo( promotionTitle.find('.action'), .6, { opacity: 0 }, {opacity: 1, delay: 2.0, ease: Circ.easeOut});
		TweenMax.fromTo( promotionTitle.find('.date'), .6, { opacity: 0, y: 150 }, {opacity: 1,y:0, delay: 2.0, ease: Circ.easeOut});
	}

	function onComplete5(){
		var $promotionTitle5 = $('.sector-title-5');

        TweenMax.fromTo($('.sector-title-5 .sale'), 1, { y: 0 }, { y: -10, repeat: -1, yoyo: true, ease: Bounce.eaesInOut });
        TweenMax.fromTo($('.sector-title-5 .bg'), 1, { y: 0 }, { y: -5, repeat: -1, yoyo: true, ease: Bounce.eaesInOut });

		TweenMax.fromTo( $promotionTitle5.find('.title-laurel'), .5, { opacity: 0, y: '-100px' }, { opacity: 1, y: 0, delay: .2, ease: Back.easeOut.config(1) });
		TweenMax.fromTo( $promotionTitle5.find('.title1'), .5, { opacity: 0, scale: 0 }, { opacity: 1, scale: 1, delay: .3, ease: Back.easeOut.config(1) });
		TweenMax.fromTo( $promotionTitle5.find('.title2'), .6, { scaleY: 0, opacity: 0 }, { scaleY: 1, opacity: 1, delay: .4, ease: Power3.easeOut });
		TweenMax.fromTo( $promotionTitle5.find('.title3'), .5, { scale: 1.2, opacity: 0 }, { scale: 1, opacity: 1, delay: .5, ease: Back.easeInOut });
		TweenMax.fromTo( $promotionTitle5.find('.center'), .5, { scale: 1.3, opacity: 0 }, { scale: 1, opacity: 1, delay: .8, ease: Back.easeInOut });
		TweenMax.fromTo( $promotionTitle5.find('.sale'), .5, { scale: 1.4, opacity: 0 }, { scale: 1, opacity: 1, delay: .6, ease: Back.easeInOut });

		TweenMax.fromTo( $promotionTitle5.find('.water-drop1'), .5, { scale: 1.4, opacity: 0 }, { scale: 1, opacity: 1, delay: .6, ease: Back.easeInOut });
	}

	function onComplete6(){
		var ta = new TimelineMax({ delay:0, repeat:0 })
			ta.to('.visual_line1' , 0.3, {delay:0, opacity:0.8, width:"73px"})
					.to('.visual_tit1' , 0.5, {delay:0, opacity:1, left:"-9px"})
					.to('.visual_tit2' , 0.5, {delay:-0.3, opacity:1, left:"-9px"})
					.to('.visual_tit3' , 0.5, {delay:-0.3, opacity:1, left:"-9px"})
					.to (".visual_line2", 0.3, {delay:-0.3, opacity:0.8, width:"987px"})
					.to (".visual_line3", 0.3, {delay:-0.1, opacity:0.8, height:"571px"})
					.to (".visual_line4", 0.3, {delay:-0.1, opacity:0.8, width:"1316px"})
					.to (".visual_line5", 0.3, {delay:-0.1, opacity:0.8, height:"571px"})
					.to (".visual_txt", 0.8, {delay:-0.1, opacity:1, width:"620px", ease: Power4.easeOut})
					.to (".visual_txt2", 0.8, {delay:-0.1, opacity:1, width:"500px", ease: Power4.easeOut})
					.to (".visual_logo", 0.8, {delay:-0.2, opacity:1, ease: Power4.easeOut})
					.to (".visual_ico", 2.0, {delay:-1.7, opacity:1, left:"1083px", ease: Power4.easeOut });
			var te = new TimelineMax({ delay:0.6, repeat:0 })
			te.to('.etoos' , 0.5, {delay:0, opacity:1, top:"0", right:"0"})
			te.to('.toptxt' , 0.5, {delay:0, opacity:1, top:"0", left:"0"});
	}

	function onComplete7(){

		// title motion
		var $event_top = jQuery('#event_wrap .top');
		var event_motiontxt = new TimelineMax({delay:0, repeat:0});
		event_motiontxt.to($event_top.find('.obj1'), 0, {delay:0, opacity:0})
		event_motiontxt.to($event_top.find('.obj2'), 0, {delay:0, opacity:0})
		event_motiontxt.to($event_top.find('.obj3'), 0, {delay:0, opacity:0})
		event_motiontxt.to(jQuery('#event_wrap .nav'), 0, {delay:0, x:150, opacity:0})
		.to($event_top.find('.obj1'), 1.80, {delay:0.25, opacity:1, ease: Strong.easeOut, transformOrigin:'center center'})
		.to($event_top.find('.obj2'), 1.80, {delay:-0.80, opacity:1, ease: Strong.easeOut, transformOrigin:'center center'})
		.to($event_top.find('.obj3'), 1.80, {delay:-0.70, opacity:1, ease: Strong.easeOut, transformOrigin:'center center'})
		.to($event_top, 1.80, {delay:0.25, height:0, opacity:0, ease: Strong.easeOut, transformOrigin:'center center'})
		.to(jQuery('#event_wrap .nav'), 1.80, {delay:-0.70, x:0, opacity:1, ease: Strong.easeOut, transformOrigin:'center center'})

		// rolling
		function trolfunc(obj, speed){
			var trol_idx = 0;
			var trol_el = jQuery(obj);
			setInterval(function(){
				trol_idx++;
				if(trol_idx==trol_el.length){trol_idx=0}
				trol_el.removeClass('on').eq(trol_idx).addClass('on')
			}, speed);
		}
		setTimeout(function(){
			trolfunc('#event_wrap #rolling1 > li', 2500);
			trolfunc('#event_wrap #rolling2 > li', 1750);
		}, 5500);


		// aLink('#event_wrap', 130);
		// function aLink(target, topMargin){
		// 	jQuery('html, body').animate({ scrollTop : (jQuery(target).offset().top) + topMargin }, 750, 'swing');
		// }

		// agree
		function togglea( e,j ){
			if  (jQuery(j).hasClass('on')){
				jQuery(j).removeClass('on');
				jQuery(e).slideUp();
			}
			else{
				jQuery(j).addClass('on');
				jQuery(e).slideDown();
			}
			return false;
		}
		// scroll event
		var $win = jQuery(window);
		var $scroll_wrap = jQuery('#scroll_wrap');
		var $scroll_tab = jQuery('.nav');
		// jQuery(window).scroll(function() {
		// 	scrollEvent();
		// });
		// function scrollEvent() {
		// 	var scroll_top = $win.scrollTop();
		// 	if (scroll_top >= jQuery('#event_wrap').offset().top && scroll_top < jQuery('.cont2').offset().top ) {
		// 		$scroll_tab.find('ul li').removeClass('on');
		// 	} else if (scroll_top >= jQuery('.cont2').offset().top && scroll_top < jQuery('.cont3').offset().top ) {
		// 		$scroll_tab.find('ul li').removeClass('on').eq(0).addClass('on');
		// 	} else if (scroll_top >= jQuery('.cont3').offset().top && scroll_top < jQuery('.cont4').offset().top ) {
		// 		$scroll_tab.find('ul li').removeClass('on').eq(1).addClass('on');
		// 	} else if (scroll_top >= jQuery('.cont4').offset().top ) {
		// 		$scroll_tab.find('ul li').removeClass('on').eq(2).addClass('on');
		// 	}
		// }
	}

	function onComplete8(){
		$(document).ready(function () {
			var t1 = new TimelineLite();
				t1.to('.stn_top .img1', .5, { opacity:1, width:635 }, .3)
				.to('.stn_top .img2', .5, { opacity: 1, x:30, } ,.8)
				.to('.stn_top .img2-2', .5, { opacity: 1, x:-30, }, .9)
				.to('.stn_top .img4', .5, { opacity: 1, y:-30, }, 2.5)
				.to('.stn_top .img5', .5, { opacity: 1, y:-30,}, 2.6)
				.to('.stn_top .img6', .5, { opacity: 1, y:-30,}, 2.6)
		});

		$(window).load(function () {
			var ani_start = $('.stn_02 .img_wrap').offset().top;
			$(window).scroll(function () {
				if( $(this).scrollTop() >= ani_start-400 ){
					TweenMax.staggerTo($('.stn_02 .img'), .6, {opacity: 1, x: 30 }, .3);
				}
			})
		});
	}
	// 공통 animation
	function scrollActiveEvent(){
		$(window).on('scroll', function(){
			var wt = $(window).scrollTop();
			var section = $('.sector');
			section.each(function(i){
				if( wt >= section.eq(i).offset().top - 600){
					$(this).addClass('active');
				} else {
					$(this).removeClass('active');
				}
			});
		});
	}
</script>


</body>
</html> 