<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>

	<link rel="stylesheet" type="text/css" href="https://img.eduwill.net/eduwill/live/libs/bxslider/jquery.bxslider.css" />
    <link rel="stylesheet" type="text/css" href="https://img.eduwill.net/eduwill/live/libs/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="https://img.eduwill.net/eduwill/live/libs/swiper/swiper.min.css" />
    <link rel="stylesheet" type="text/css" href="//img.eduwill.net/resources/common/web/css/webfont.css" />

    <link rel="stylesheet" type="text/css" href="//img.eduwill.net/resources/eduwill/live/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="//img.eduwill.net/resources/eduwill/live/css/common.css" />
    <link rel="stylesheet" type="text/css" href="https://img.eduwill.net/eduwill/live/css/common/eduf.css">

    <script type="text/javascript" src="//img.eduwill.net/resources/eduwill/live/js/jquery/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="//img.eduwill.net/resources/eduwill/live/js/jquery/jquery.tmpl.min.js"></script>
    <script type="text/javaScript" src="https://img.eduwill.net/eduwill/live/libs/slick/slick.min.js"></script>
    <script type="text/javascript" src="https://img.eduwill.net/eduwill/live/libs/swiper/swiper.min.js"></script>
    <script type="text/javaScript" src="https://img.eduwill.net/eduwill/live/libs/greensock/TweenMax.min.js"></script>

    <script type="text/javascript" src="https://img.eduwill.net/eduwill/live/js/common/script.js"></script>
    <script type="text/javascript" src="https://img.eduwill.net/eduwill/live/js/common/eduf.js"></script>

    <link rel="stylesheet" type="text/css" href="../css/web.css">

</head>
<body>
<div class="promotion"><!-- promotion -->

	<!-- onComplete1(); -->
	<div class="sector sector-title-1">
		<div class="light1"><img src="https://img.eduwill.net/eduwill/img/2022/J/event/221201/light/light1.png" alt="" /></div>
		<div class="light2"><img src="https://img.eduwill.net/eduwill/img/2022/J/event/221201/light/light2.png" alt="" /></div>
		<div class="light3"><img src="https://img.eduwill.net/eduwill/img/2022/J/event/221201/light/light3.png" alt="" /></div>
		<div class="light4"><img src="https://img.eduwill.net/eduwill/img/2022/J/event/221201/light/light4.png" alt="" /></div>
		<div class="light5"><img src="https://img.eduwill.net/eduwill/img/2022/J/event/221201/light/light5.png" alt="" /></div>
		<div class="light6"><img src="https://img.eduwill.net/eduwill/img/2022/J/event/221201/light/light6.png" alt="" /></div>
		<div class="light7"><img src="https://img.eduwill.net/eduwill/img/2022/J/event/221201/light/light7.png" alt="" /></div>
		<div class="light8"><img src="https://img.eduwill.net/eduwill/img/2022/J/event/221201/light/light8.png" alt="" /></div>
		<div class="light9"><img src="https://img.eduwill.net/eduwill/img/2022/J/event/221201/light/light9.png" alt="" /></div>
		<div class="light10"><img src="https://img.eduwill.net/eduwill/img/2022/J/event/221201/light/light10.png" alt="" /></div>
		<div class="light11"><img src="https://img.eduwill.net/eduwill/img/2022/J/event/221201/light/light11.png" alt="" /></div>
		<div class="tween-box">
			<p><img src="https://img.eduwill.net/eduwill/img/2022/J/event/221201/pc/tween1.png" alt="" /></p>
			<p>
				<img src="https://img.eduwill.net/eduwill/img/2022/J/event/221201/pc/tween3.png" alt="" />
				<span class="blink1"><img src="https://img.eduwill.net/eduwill/img/2022/J/event/221201/pc/blink.png" alt="blink" /></span>
				<span class="blink2"><img src="https://img.eduwill.net/eduwill/img/2022/J/event/221201/pc/blink.png" alt="blink" /></span>
			</p>
			<p><img src="https://img.eduwill.net/eduwill/img/2022/J/event/221201/pc/tween4.png" alt="" /></p>
			<p><img src="https://img.eduwill.net/eduwill/img/2022/J/event/221201/pc/tween5.png" alt="" /></p>
		</div>
	</div>
	<!-- onComplete2(); -->
    <div class="sector sector-title-2">
        <div class="wrap">
            <div class="title">
				<div class="motion title-1">
					<img src="https://img.eduwill.net/eduwill/img/2023/_116/event/230118/pc/title_1.png" alt="">
			   </div>
			   <div class="motion title-2">
					<img src="https://img.eduwill.net/eduwill/img/2023/_116/event/230118/pc/title_2.png" alt="">
			   </div>
			   <div class="motion title-3">
					<img src="https://img.eduwill.net/eduwill/img/2023/_116/event/230118/pc/title_3.jpg" alt="">
			   </div>
			   <div class="motion title-4">
					<img src="https://img.eduwill.net/eduwill/img/2023/_116/event/230118/pc/title_4.png" alt="" class="effect-extend">
			   </div>
			   <div class="motion title-5">
				   <img src="https://img.eduwill.net/eduwill/img/2023/_116/event/230118/pc/title_5.png" alt="">
			   </div>
            </div>
        </div>
    </div> 

	<div class="sector sector-title-3">	
		<div class="wrap">
			<div class="motion motion1"><img src="https://img.eduwill.net/eduwill/img/2022/Z/event/220204/pc/title_motion1.png" alt="" /></div>
			<div class="motion motion2"><img src="https://img.eduwill.net/eduwill/img/2022/Z/event/220204/pc/title_motion2.png" alt="" /></div>
			<div class="motion motion3"><img src="https://img.eduwill.net/eduwill/img/2022/Z/event/220204/pc/title_motion3.png" alt="꼭" /></div>
			<div class="motion motion4"><img src="https://img.eduwill.net/eduwill/img/2022/Z/event/220204/pc/title_motion4.png" alt="취" /></div>
			<div class="motion motion5"><img src="https://img.eduwill.net/eduwill/img/2022/Z/event/220204/pc/title_motion5.png" alt="업" /></div>
			<div class="motion motion6"><img src="https://img.eduwill.net/eduwill/img/2022/Z/event/220204/pc/title_motion6.png" alt="하" /></div>
			<div class="motion motion7"><img src="https://img.eduwill.net/eduwill/img/2022/Z/event/220204/pc/title_motion7.png" alt="자" /></div>
			<div class="motion motion8"><img src="https://img.eduwill.net/eduwill/img/2022/Z/event/220204/pc/title_motion8.png" alt="!" /></div>
		</div>	
	</div> 

	<div class="sector sector-title-4">
		<div class="wrap">
			<div class="motion motion2">
				<img src="https://img.eduwill.net/eduwill/img/2021/Z/event/210810/pc/title_motion2.png" alt="" />
			</div>
			<div class="motion txt-wrap">
				<div class="motion motion3"><img src="https://img.eduwill.net/eduwill/img/2021/Z/event/210810/pc/title_motion3.png" alt="" /></div>
				<div class="motion motion4"><img src="https://img.eduwill.net/eduwill/img/2021/Z/event/210810/pc/title_motion4.png" alt="" /></div>
			</div>
			<div class="motion motion5"><img src="https://img.eduwill.net/eduwill/img/2021/Z/event/210810/pc/title_motion5.png" alt="" /></div>
			<div class="motion motion6"><img src="https://img.eduwill.net/eduwill/img/2022/Z/event/220204/pc/title_motion6_211111.png" alt="" /></div>
			<div class="motion motion7"><img src="https://img.eduwill.net/eduwill/img/2021/Z/event/210810/pc/title_motion7.png" alt="" /></div>
		</div>
		<div class="motion motion8"><img src="https://img.eduwill.net/eduwill/img/2021/Z/event/210810/pc/bg_title_bottom.png" alt="" /></div>
	</div>

	<div class="sector sector-title-5">
		<div class="b-wave">
			<img src="https://img.eduwill.net/eduwill/img/2022/X/event/220601/pc/bg_title2.png" alt="물결배경">
		</div>
		<div class="b-wave2">
			<img src="https://img.eduwill.net/eduwill/img/2022/X/event/220601/pc/wave_2.png" alt="하단파도">
		</div>
		<div class="wrap">
			<div class="t-laurel">
				<img src="https://img.eduwill.net/eduwill/img/2022/X/event/220601/pc/laurel_x.png" alt="월계관">
			</div>
			<div class="title-title title1">
				<img src="https://img.eduwill.net/eduwill/img/2022/X/event/220601/pc/title_text1.png" alt="에듀윌 썸머">
			</div>
			<div class="title-title title2">
				<img src="https://img.eduwill.net/eduwill/img/2022/X/event/220601/pc/title_text2.png" alt="할인캉스">
			</div>
			<div class="title-title title3">
				<img src="https://img.eduwill.net/eduwill/img/2022/X/event/220601/pc/title_text3.png" alt="1위 에듀윌의 시원한 혜택 받고 합격하세요">
			</div>
			<div class="sale">
				<img src="https://img.eduwill.net/eduwill/img/2022/X/event/220601/pc/sale35.png" alt="35SALE">
			</div>
			<div class="title-bg">
				<div class="icon-1"><img src="https://img.eduwill.net/eduwill/img/2022/X/event/220601/pc/icon_1.png" alt=""></div>
				<div class="icon-2"><img src="https://img.eduwill.net/eduwill/img/2022/X/event/220601/pc/icon_2.png" alt=""></div>
				<div class="s-wave"><img src="https://img.eduwill.net/eduwill/img/2022/X/event/220601/pc/wave.png" alt=""></div>
				<div class="water-drop1"><img src="https://img.eduwill.net/eduwill/img/2022/X/event/220601/pc/water_drop_1.png" alt=""></div>
				<div class="water-drop2"><img src="https://img.eduwill.net/eduwill/img/2022/X/event/220601/pc/water_drop_2.png" alt=""></div>
				<div class="water-drop3"><img src="https://img.eduwill.net/eduwill/img/2022/X/event/220601/pc/water_drop_3.png" alt=""></div>
				<div class="water-drop4"><img src="https://img.eduwill.net/eduwill/img/2022/X/event/220601/pc/water_drop_4.png" alt=""></div>
				<div class="water-drop5"><img src="https://img.eduwill.net/eduwill/img/2022/X/event/220601/pc/water_drop_5.png" alt=""></div>
				<div class="water-drop6"><img src="https://img.eduwill.net/eduwill/img/2022/X/event/220601/pc/water_drop_6.png" alt=""></div>
			</div>
		</div>
	</div>
	
	<div class="sector sector-title-6">
		<div class="wrap">
			
		</div>
	</div>

</div><!-- // promotion -->

<script>
	var isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ? true : false;
	var url = window.location.href;
	var str = 'event.eduwill.net';
	var checkUrl = url.indexOf(str);

	$(function () {

		scrollActiveEvent();

		// scrollEvent(null);
        // $(window).on("scroll", scrollEvent);

        // var _isScroll = false;

		onComplete1();
		onComplete5(); 

		// function scrollEvent(st) {
        //     var scrollTop = $(window).scrollTop();
        //     var offsetTitle2 = $(".sector-title-2").offset().top;
        //     var offsetTitle5 = $(".sector-title-5").offset().top;

        //     if (scrollTop > offsetTitle2 - 200) {
        //         if (_isScroll == true) return;
		// 		onComplete2(); 
        //         _isScroll = true;
        //     } 
		// 	else if(scrollTop > offsetTitle5 - 200){
		// 		alert(1);
        //         if (_isScroll == true) return;
		// 		onComplete5(); 
        //         _isScroll = true;
		// 	}
		// 	else {
        //         if (_isScroll == false) return;
        //         _isScroll = false;
        //     }
        // }
	});

	function onComplete1() {
		TweenMax.fromTo($(".sector-title-1 .light1"), 5, { rotation: -20 }, { rotation: 20, repeat: -1, yoyo: true, transformOrigin: "center bottom", perspective: 400, ease: Power4.eaesOut });
		TweenMax.fromTo($(".sector-title-1 .light4"), 5, { rotation: 20 }, { rotation: -20, repeat: -1, yoyo: true, transformOrigin: "center bottom", perspective: 400, ease: Power4.eaesOut });
		TweenMax.fromTo($(".sector-title-1 .light5"), 5, { rotation: -20 }, { rotation: 20, repeat: -1, yoyo: true, transformOrigin: "center bottom", perspective: 400, ease: Power4.eaesOut });
		TweenMax.fromTo($(".sector-title-1 .light6"), 7, { rotation: 20 }, { rotation: -10, repeat: -1, yoyo: true, transformOrigin: "center bottom", perspective: 400, ease: Power4.eaesOut });
		TweenMax.fromTo($(".sector-title-1 .light7"), 5, { rotation: 10 }, { rotation: -10, repeat: -1, yoyo: true, transformOrigin: "center bottom", perspective: 400, ease: Power4.eaesOut });
		TweenMax.fromTo($(".sector-title-1 .light8"), 5, { rotation: -10 }, { rotation: 10, repeat: -1, yoyo: true, transformOrigin: "center bottom", perspective: 400, ease: Power4.eaesOut });
		TweenMax.fromTo($(".sector-title-1 .light10"), 5, { rotation: 30 }, { rotation: -30, repeat: -1, yoyo: true, transformOrigin: "center bottom", perspective: 400, ease: Power4.eaesOut });
		TweenMax.fromTo($(".sector-title-1 .light11"), 5, { rotation: -20 }, { rotation: 20, repeat: -1, yoyo: true, transformOrigin: "center bottom", perspective: 400, ease: Power4.eaesOut });

		TweenMax.fromTo($(".sector-title-1 .blink1"), 0.35, { scale: 0.5 }, { scale: 1, delay: 0.5, repeat: -1, yoyo: true });
		TweenMax.fromTo($(".sector-title-1 .blink2"), 0.35, { scale: 0.5 }, { scale: 1, delay: 0.8, repeat: -1, yoyo: true });

		var _tweenMotion = $(".sector-title-1 .tween_box").children("p");
		var _item;
		_tweenMotion.each(function (i) {
			_item = $(this).children("img");
			TweenMax.set(_item, { scale: 1.2, opacity: 0 });
			TweenMax.to(_item, 0.35, { opacity: 1, scale: 1, ease: Expo.eaesIn, delay: 0.18 * i });
		});
	}

	function onComplete2() {
		var promotionTitle = $('.sector-title-2');
		TweenMax.fromTo( promotionTitle.find('.title-1'), .5, { opacity: 0 }, { opacity: 1, delay: 0.3, ease: Back.easeOut.config(1) });
		TweenMax.fromTo( promotionTitle.find('.title-3'), .6, { opacity: 0, scale: 0.3 }, { opacity: 1,scale: 1, delay: 0.7, ease: Back.easeOut.config(2) });
		TweenMax.fromTo( promotionTitle.find('.title-5'), .4, { opacity: 0,  x: -50 }, { opacity: 1, x: 0, delay: 1.2, ease: Circ.easeOut});
		TweenMax.fromTo( promotionTitle.find('.title-2'), .8, { opacity: 0,  x: 150 }, { opacity: 1, x: 0, delay: 1.6, ease: Circ.easeOut});
		TweenMax.fromTo( promotionTitle.find('.title-4'), .6, { opacity: 0,  scale: 0.3 }, {opacity: 1, scale: 1, delay: 2.0, ease: Circ.easeOut});
		TweenMax.fromTo( promotionTitle.find('.action'), .6, { opacity: 0 }, {opacity: 1, delay: 2.0, ease: Circ.easeOut});
		TweenMax.fromTo( promotionTitle.find('.date'), .6, { opacity: 0, y: 150 }, {opacity: 1,y:0, delay: 2.0, ease: Circ.easeOut});
	}

	function onComplete5(){
		var $promotionTitle5 = $('.sector-title-5');

        TweenMax.fromTo($('.sector-title-5 .sale'), 1, { y: 0 }, { y: -10, repeat: -1, yoyo: true, ease: Bounce.eaesInOut });
        TweenMax.fromTo($('.sector-title-5 .bg'), 1, { y: 0 }, { y: -5, repeat: -1, yoyo: true, ease: Bounce.eaesInOut });

		TweenMax.fromTo( $promotionTitle5.find('.title-laurel'), .5, { opacity: 0, y: '-100px' }, { opacity: 1, y: 0, delay: .2, ease: Back.easeOut.config(1) });
		TweenMax.fromTo( $promotionTitle5.find('.title1'), .5, { opacity: 0, scale: 0 }, { opacity: 1, scale: 1, delay: .3, ease: Back.easeOut.config(1) });
		TweenMax.fromTo( $promotionTitle5.find('.title2'), .6, { scaleY: 0, opacity: 0 }, { scaleY: 1, opacity: 1, delay: .4, ease: Power3.easeOut });
		TweenMax.fromTo( $promotionTitle5.find('.title3'), .5, { scale: 1.2, opacity: 0 }, { scale: 1, opacity: 1, delay: .5, ease: Back.easeInOut });
		TweenMax.fromTo( $promotionTitle5.find('.center'), .5, { scale: 1.3, opacity: 0 }, { scale: 1, opacity: 1, delay: .8, ease: Back.easeInOut });
		TweenMax.fromTo( $promotionTitle5.find('.sale'), .5, { scale: 1.4, opacity: 0 }, { scale: 1, opacity: 1, delay: .6, ease: Back.easeInOut });

		TweenMax.fromTo( $promotionTitle5.find('.water-drop1'), .5, { scale: 1.4, opacity: 0 }, { scale: 1, opacity: 1, delay: .6, ease: Back.easeInOut });
	}

	//animation
	function scrollActiveEvent(){
		$(window).on('scroll', function(){
			var wt = $(window).scrollTop();
			var section = $('.sector');
			section.each(function(i){
				if( wt >= section.eq(i).offset().top - 600){
					$(this).addClass('active');
				} else {
					$(this).removeClass('active');
				}
			});
		});
	}
</script>


</body>
</html>