<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<div>



		<table>
			<thead>
			  <tr>
				<th>구분</th>
				<th colspan="2">문학</th>
				<th>독서</th>
			  </tr>
			</thead>
			<tbody>
			  <tr>
				<td rowspan="2">1주차</td>
				<td>유형별 개념 학습</td>
				<td>유형별 개념 학습</td>
				<td>출제 경향 분석</td>
			  </tr>
			  <tr>
				<td>- 수능 용어(1)</td>
				<td>- 현대소설(1)</td>
				<td>- 2024학년도 수능 출제 방향 분석</td>
			  </tr>
			  <tr>
				<td rowspan="2">2주차</td>
				<td>유형별 개념 학습</td>
				<td>유형별 개념 학습</td>
				<td>거시 독해</td>
			  </tr>
			  <tr>
				<td>- 수능 용어(2)</td>
				<td>- 현대소설(2)</td>
				<td>- 구조 흐름 분석(1)</td>
			  </tr>
			  <tr>
				<td rowspan="2">3주차</td>
				<td>유형별 개념 학습</td>
				<td>유형별 개념 학습</td>
				<td>거시 독해</td>
			  </tr>
			  <tr>
				<td>- 수능 용어(3)</td>
				<td>- 현대소설(3)</td>
				<td>- 구조 흐름 분석(2)</td>
			  </tr>
			  <tr>
				<td rowspan="2">4주차</td>
				<td>유형별 개념 학습</td>
				<td>유형별 개념 학습</td>
				<td>거시 독해</td>
			  </tr>
			  <tr>
				<td>- 현대시(1)</td>
				<td>- 고전산문(1)</td>
				<td>- 구조 흐름 분석(3)</td>
			  </tr>
			  <tr>
				<td rowspan="2">5주차</td>
				<td>유형별 개념 학습</td>
				<td>유형별 개념 학습</td>
				<td>거시 독해</td>
			  </tr>
			  <tr>
				<td>- 현대시(2)</td>
				<td>- 고전산문(2)</td>
				<td>- 구조 흐름 분석(4)</td>
			  </tr>
			  <tr>
				<td rowspan="2">6주차</td>
				<td>유형별 개념 학습</td>
				<td>유형별 개념 학습</td>
				<td>제재별 특징 정리</td>
			  </tr>
			  <tr>
				<td>- 현대시(3)</td>
				<td>- 고전산문(3)</td>
				<td>- 인문/사회/기술</td>
			  </tr>
			</tbody>
			</table>


			

	</div>
</body>
</html>