.btn {
    // reset
    &.active.focus, 
    &.active:focus, 
    &.focus, 
    &:active.focus, 
    &:active:focus, 
    &:focus {
        outline: none;
    }
    &[disabled] {
        opacity: 1;
    }

    line-height: 1;
    // size 
    & {
        font-size: 18px;
        border-radius: 5px;        
        padding: 14px 12px;
        @include mq(screen-tablet) {
            font-size: 1.5rem;
            padding: 1.2rem;
        }
    }
    &-md {   
        font-size: 14px;
        padding: 12px 12px;
        @include mq(screen-tablet) {
            font-size: 1.5rem;
            padding: 1.2rem;
        }
    }
    &-sm {
        font-size: 14px;
        padding: 8px 12px;
    }

    // color
    &-dark {
        background-color: $color-White;
        border-color: $color-Black;
        color: $color-Black;
        &:hover,
        &:focus,
        &:active,
        &:active:hover {
            background-color: $color-Black;
            border-color: $color-Black;
            color: $color-White;
        }
        &.btn-fill {
            background-color: $color-Black;
            color: $color-White;
            &:hover,
            &:focus,
            &:active,
            &:active:hover {
                background-color: $color-White;
                color: $color-Black;
            }
        }
    }
    &-primary {
        &,
        &[disabled] {
            background-color: $color-White;
            border-color: $color-Primary;
            color: $color-Primary;
        }
        &:hover,
        &:focus,
        &:active,
        &:active:hover {
            background-color: $color-Primary;
            border-color: $color-Primary;
            color: $color-White;
        }
        &.btn-fill {
            background-color: $color-Primary;
            border-color: $color-Primary;
            color: $color-White;
            &:hover,
            &:focus,
            &:active,
            &:active:hover {
                background-color: $color-White;
                color: $color-Primary;
            }
        }
        
    }
    &-default {
        background-color: $color-White;
        border-color: $color-Stroke;
        color: $color-Black;
        &:hover,
        &:focus,
        &:active,
        &:active:hover {
            background-color: $color-White;
            border-color: $color-Stroke;
            color: $color-Black;
        }
        &.btn-fill {
            border-color: $color-Bg;
            background-color: $color-Bg;
            color: $color-Text ;
        }
    }

    // arrow
    &-arrow {
        position: relative;
        padding-right: 48px;
        &:after {
            @include contentReset();
            width: 16px;
            height: 16px;
            position: absolute;
            top: 50%; right: 16px;
            @include translateY(-50%);
        }
        &.btn-dark:after {
            @include background-name-ext-repeat-poistion("arrow-black", svg, no-repeat, 0 0);
        }
        &.btn-primary:after {
            @include background-name-ext-repeat-poistion("arrow-black", svg, no-repeat, 0 0);
        }
        &.btn-default:after {
            @include background-name-ext-repeat-poistion("arrow-gray", svg, no-repeat, 0 0);
        }
        &.btn-dark.btn-fill:after {
            @include background-name-ext-repeat-poistion("arrow-white", svg, no-repeat, 0 0);
        }
        &.btn-primary.btn-fill:after {
            @include background-name-ext-repeat-poistion("arrow-white", svg, no-repeat, 0 0);
        }
        &.btn-default.btn-fill:after {
            @include background-name-ext-repeat-poistion("arrow-gray", svg, no-repeat, 0 0);
        }
    }
}