@import "abstracts/mixins";  
@import "abstracts/extend";  
@import "abstracts/variables";  
@import "module/motion";
@import "module/popup";

.product-eco{
	min-width:1100px;
	overflow:hidden;
	*, *:before, *:after {
		font-family:$font-roboto;
		letter-spacing:-1px;
	}
	
	[class^="sector-"] {
		position: relative;
		text-align: center;
	}

	.wrap{
		position:relative;
		width:1100px;
		margin:0 auto;
		text-align:center;
	}

	.btn-text, .btn-grounds{
		display:inline-block;
		padding: 5px 10px;
		color:rgba(0, 0, 0, .5);
		font-size:14px;
		letter-spacing:-1px;
		line-height:1;
		font-weight:400;
		border: 1px solid rgba(0, 0, 0, .5);
		span{
			padding-right:12px;
			@include arrow(right, 7px, 7px, 1px, rgba(0, 0, 0, .5));
			&:before{
				right:0;
				margin-top: -5.5px;
			}
		}
		&.color-fff {
			border-color:rgba(255,255,255, .6);
			color: rgba(255,255,255, .6);
			span {
				&:before {
					border-color: rgba(255,255,255, .6);
				}
			}
		}
	}

	.icon-pointer {
		@include pointer(50%, 0, 66px, 73px, 1, bounce);
	}

	.icon-pointer12 {
		@include pointer(50%, 0, 57px, 65px, 12, bounce);
	}

	.slick-dots {
		text-align: center;
		li {
			display: inline-block;
			margin-left:6px;
			button {
				cursor: pointer;
				text-indent: -10000em;
				border: 0;padding:0;
				border-radius: 50%;
				width:14px;height:14px;
				background:#bbbbbb;
				border: none;
				transition: all .3s ease;
			}
			&.slick-active {
				button {
					width:38px;
					background:#ffc20e;
					border-radius:20px;
				}
			}
		}
	}
	.holder{position:relative;}

	.notice-text {
		text-align: left;
		font-size: 14px;
		color: #878787;
		font-weight: 400;
		line-height: 1.4;
	}

	.fix-right{
		position:fixed;
		top: 20%;
		right: 20px;
		z-index: 12;
		width: 246px;
		> div {
			display: block;
		}
		.slide-group {
			width: 220px;
			margin: -10px 0 0 20px;
			border-radius: 20px;
			@include linear-gradient(to bottom, #ffc500 0%, #fc6500 100%);
			@include boxShadow(0 10px 15px 0px rgba(0, 0, 0, 0.4));
			.slick-dots {
				position: absolute;
				left: 0;
				right: 0;
				bottom: 20px;
				li {
					button { background-color: #fff;}
					&.slick-active {
						button {
							width: 34px;
							border-radius: 20px;
						}
					}
				}
			}
		}
	}

	.fix-bottom {
		position: fixed;
		bottom: 0;
		right: 0;
		left: 0;
		height: 80px;
		background: rgba(0,0,0, .8);
		z-index: 11;
		.wrap {
			position: relative;
			top: -20px;
			a {
				@include pointer(60%, 10%, 57px, 65px, 12, bounce);
			}
		}
	}

	.section1 {
		background: url("https://img.eduwill.net/Img2/Won2/Product/energy/200413/bg_img01.jpg") 50% 0 no-repeat;
		background-size: cover;
	}

	.section3 {
		background: #fff;
	}

	.section4 {
		background: #f4f4f4;
	}

	.section5 {
		background: #f4f4f4;
		padding-bottom: 140px;
		.table-box{
			table{
				width:1010px;
				margin:0 auto;
				th{
					background-color: #595fab;
					color:#fff;
					&:nth-child(1){
						background-color: #3d4061;
					}
				}
				td{
					background-color: #fff;
					color:#000;
					&:nth-child(1){
						background-color: #e8e8e8;
						font-weight: bold;
					}
				}
				th,td{
					font-weight: 500;
					font-size: 20px;
					padding:14px 5px;
					border-bottom: 1px solid #ddd;
					border-right: 1px solid #ddd;
					&:first-child{
						border-left: 1px solid #ddd;
					}
					strong{
						font-weight: 700;
					}
				}
			}
		}
	}

	.section7 {
		background: #000;
	}

	.section7 .wrap {
		padding: 22px 0;
		line-height: 1.2;
		color: #fff;
		font-weight: 300;
		font-size: 36px;
		letter-spacing: -2px;
	}

	.section7 .wrap strong {
	font-weight: 900;
	color: #fff;
	font-size: 46px;
	letter-spacing: -3px;
	}

	.section7 .wrap strong span {
	color: #f0f14b;
	}

	.section-winner-list {
		background: url(https://img.eduwill.net/eduwill/img/2021/Q/product/210804/pc/cont4_bg.jpg) no-repeat 50% 50%;
		background-size: cover;
		padding-bottom: 120px;
		.winner-contents {
			width: 900px;
			margin: 0 auto;
			.winner-list {
				transform: perspective(240px) rotateX(35deg);
				p {
					margin: 5px 0;
					color: #222;
					font-size: 13px;
					font-weight: 700;
					text-align: center;
				}
			}
		}
	}

	.section-winner-list .btn-text {
		position: absolute;
		top: 380px;
		left: 1060px;
		z-index:10;
		width:70px;
	}

	// .section-winner-list .winner-contents {
	// 	width: 1100px;
	// 	position: absolute;
	// 	left: 50%;
	// 	bottom: -365px;
	// 	-webkit-transform: translateX(-50%);
	// 	-ms-transform: translateX(-50%);
	// 	transform: translateX(-50%);
	// }

	// .section-winner-list .winner-contents .winner-list {
	// 	-webkit-transform: perspective(300px) rotateX(45deg);
	// 	transform: perspective(300px) rotateX(45deg);
	// }

	// .section-winner-list .winner-contents .winner-list p {
	// 	margin: 10px 0;
	// 	color: #222;
	// 	font-size: 16px;
	// 	font-weight: 700;
	// 	text-align: center;
	// }

	.section-academy .btn-text {
		position: absolute;
		right: 0px;
		top: 210px;
		display: inline-block;
		padding: 5px 20px 5px 10px;
		font-size: 14px;
		letter-spacing: -1px;
		border: 1px solid #222;
		color: #222;
		background: #fff;
	}
	
	.section-academy .btn-text::after {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		display: block;
		width: 5px;
		height: 5px;
		margin-top: -2.5px;
		margin-left: -2.5px;
		border-width: 0;
		border-style: solid;
		border-color: #222;
		-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
				transform: rotate(45deg);
		border-top-width: 1px;
		border-right-width: 1px;
		border-bottom: none;
		border-left: none;
		margin-left: 0;
		left: auto;
		right: 7px;
	}

}


.dim {
display: none;
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
z-index: 100000;
background-color: rgba(0, 0, 0, 0.7);
}

.layer {
display: none;
position: fixed;
top: 50%;
left: 50%;
z-index: 100001;
width: 1000px;
height: 715px;
margin: -327px 0 0 -500px;
background-color: #fff;
}

.dim.in,
.layer.in {
display: block;
}

.layer_detail_info .layer_body {
width: 1000px;
margin: 0 auto;
}

.layer_detail_info .bx-wrapper {
width: 1000px;
height: 550px;
}

.layer_detail_info .bx-wrapper .bx-viewport {
left: 0;
width: 1000px !important;
height: 550px !important;
border: 0;
-webkit-box-shadow: none;
box-shadow: none;
}

.gallery-thumbs-container {
margin-top: 28px;
padding: 0 75px;
overflow: hidden;
}

.gallery-thumbs-container .bx-wrapper .bx-viewport {
width: 100% !important;
height: 110px !important;
}

.gallery-thumbs-container .academy_gallery_thumb {
overflow: hidden;
}

.gallery-thumbs-container .academy_gallery_thumb .thumb-item {
width: 200px !important;
height: 110px !important;
}

.gallery-thumbs-container .academy_gallery_thumb .thumb-item img {
width: 100%;
}

.gallery-thumbs-container .bx-controls-direction a {
top: 0;
width: 75px;
height: 110px;
margin-top: 0;
background-color: transparent;
background-repeat: no-repeat;
background-position: 0 0 !important;
}

.gallery-thumbs-container .bx-wrapper .bx-prev {
margin-left: 0;
left: -75px;
background-image: url("https://img.eduwill.net/Img2/Won2/promotion/license/180503_01/btn_prev.png");
}

.gallery-thumbs-container .bx-wrapper .bx-next {
margin-right: 0;
right: -75px;
background-image: url("https://img.eduwill.net/Img2/Won2/promotion/license/180503_01/btn_next.png");
}

.close_layer {
position: absolute;
top: 0;
right: -50px;
display: block;
width: 50px;
height: 50px;
background: url("https://img.eduwill.net/Img2/Won2/promotion/license/180503_01/layer_close.png") no-repeat center center;
}
