@import url("animate.min.css");
// color 
.point-co {
    &-1 {
        color: $color-blue !important;
    }
}

// margin
.margin-top {
    &-20 {
        margin-top: 20px;
    }
}
// 내공점수
.grade {
    display: inline-block;
    width: 38px;
    height: 18px;
    line-height: 20px;
    letter-spacing: 0;
    font-family: 'Roboto';
    text-align: center;
    vertical-align:top;
    @include font-size-color-weight(13px, $color-white, 700);
    background-color: #7f8794;
    &-1 {
        background-color: #7f8794;
    }
    &-2 {
        background-color: #7f8794;
    }
    &-3 {
        background-color: $color-blue;
    }
    &-4 {
        background-color: $color-orange;
    }
    &-5 {
        background-color: $color-red;
    }
}

// 사용자유형
.usertype {
    font-size: 11px;
    font-weight: 500;
    border: solid 1px transparent;
    display: inline-block;
    height: 22px;
    line-height: 22px;
    border-radius: 11px;
    padding: 0 9px;
    white-space: nowrap;
    &.type4 {
        color: $color-black;
        background-color: $color-yellow;
        border-color: $color-yellow;
    }
    &.type5 {
        color: $color-white;
        background-color: $color-red;
        border-color: $color-red;
    }
    &.type3 {
        color: $color-blue;
        background-color: $color-white;
        border-color: $color-blue;
    }
    &.type6 {
        color: $color-red;
        background-color: $color-white;
        border-color: $color-red;
    }
    &.type7 {
        color: #ef9207;
        background-color: $color-white;
        border-color: #ef9207;
    }
    &.type8 {
        color: $color-white;
        background-color: #8469e3;
        border-color: #8469e3;
    }
}

// 검색옵션
.sort {
    font-size: 0;
    .btn {
        @include buttonReset();
        @include font-size-color-weight(13px, #999, 500);
        @include textline();
        padding: 0 8px;
        margin-left: 0;
        &:before {
            margin-top: -6px;
        }
        &.active {
            color: $color-blue;
            padding-left: 22px;
            &:after {
                @include font-glyphicon();
                content: '\e013';
                font-size: 10px;
                color: $color-blue;
                height: 14px;
                position: absolute;
                top: 3px;
                left: 6px;
            }
        }
    }
}

//input-체크디자인버튼
.checks {
    position: relative;
    display: inline-block;
    height: 20px;

    input[type="checkbox"] {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        filter: alpha(opacity=0);
        width: 20px;
        height: 20px;
        vertical-align: middle;
        -webkit-appearance: none;
        cursor: pointer;
        background-color: $color-white;
        margin-top: 0;
    }
    input[type="checkbox"]:disabled + label {
        @include background-name-ext-repeat-poistion(bg_checkbox_disabled, png, no-repeat, 0 50%);
    }
    input[type="checkbox"] + label {
        cursor: pointer;
        @include background-name-ext-repeat-poistion(bg_checkbox_off, png, no-repeat, 0 50%);
        @include font-size-color-weight(14px, #333, 400);
        padding-left: 27px;
        line-height: 20px;
        min-height: 20px;
    }
    input[type="checkbox"] + label.hidden {
        display: inline-block;
        padding-left: 0;
        width: 20px;
        text-indent: -9999em;
    }
    input[type="checkbox"]:checked + label {
        @include background-name-ext-repeat-poistion(bg_checkbox2_on, png, no-repeat, 0 50%);
    }
}

//input-라디오디자인버튼
.radios {
    position: relative;
    display: inline-block;
    height: 20px;

    input[type="radio"] {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        filter: alpha(opacity=0);
        width: 18px;
        height: 18px;
        vertical-align: middle;
        -webkit-appearance: none;
        cursor: pointer;
        background-color: $color-white;
    }
    input[type="radio"] + label {
        cursor: pointer;
        @include background-name-ext-repeat-poistion(bg_radio_off, png, no-repeat, 0 50%);
        @include font-size-color-weight(14px, #666, 400);
        background-size: 18px;
        padding-left: 27px;
        line-height: 18px;
    }
    input[type="radio"] + label.hidden {
        display: inline-block;
        padding-left: 0;
        width: 18px;
        text-indent: -9999em;
    }
    input[type="radio"]:checked + label {
        @include background-name-ext-repeat-poistion(bg_radio_on, png, no-repeat, 0 50%);
    }
}

//input-파일선택
.filebox {
    input[type="file"] {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip:rect(0,0,0,0);
        border: 0;
    }
    label {
        border-radius: 0;
        height: 30px;
        border-color: #cbcbcb;
        border-left: none;
        background-color: $color-white;
        @include font-size-color-weight(12px, #333, 500);
        padding: 0 12px;
        line-height: 28px;
    }
    .upload-name {
        display: inline-block;
        padding: .5em .75em;
        font-size: inherit;
        font-family: inherit;
        line-height: normal;
        vertical-align: middle;
        background-color: #f5f5f5;
        border: 1px solid #ebebeb;
        border-bottom-color: #e2e2e2;
        border-radius: .25em;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
}

//input - 그룹버튼
.btn-group {
    .btn {
        border-radius: 0;
        height: 30px;
        line-height: 28px;
        padding: 0;
        width: 115px;
        border-color: #cdcdcd;
        background-color: $color-white;
        margin: 0 -1px;
        @include font-size-color-weight(14px, $color-gray, 400);
        box-shadow: none;
        &.active {
            background-color: $color-yellow;
            border-color: $color-yellow;
            color: #333;
            font-weight: 400;
        }
    }
}

//input - select
.select { 
    -webkit-appearance: none;
    -moz-appearance: none; 
    appearance: none; 
    @include background-name-ext-repeat-poistion(bg_select, png, no-repeat, 90% 50%);
    padding: 0 40px 0 15px;
    float: left;
    width: 155px;
    &::-ms-expand { 
        display: none; 
        float: left;
        width: 155px;
    }
} 


select { 
    -webkit-appearance: none;
    -moz-appearance: none; 
    appearance: none; 
    @include background-name-ext-repeat-poistion(bg_select, png, no-repeat, 90% 50%);
    background-size: 9px 5px;
    padding: 0 30px 0 10px;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    &::-ms-expand { 
        display: none; 
    }
    @include mq(screen-mobile) {
        height: 32px;
        line-height: 32px;
        font-size: 13px;
    }
}


//input - search
.form-search {
    .box {
        width: 100%;
        padding: 0 10%;
        @include clearfix();
        .select {
            height: 50px;
            border-color: $color-gray-light;
            @include font-size-color-weight(16px, #666, 400);
            float: left;
            width: 30%;
        }
        .input-group {
            float: left;
            width: 70%;
            input[type='text'] {
                height: 50px;
                border-color: $color-gray-light;
                border-radius: 0;
                border-width: 1px 0;
                @include font-size-color-weight(16px, #666, 400);
                @include placeholder-color(#b8b8b8);
            }
            .btn {
                border-color: $color-gray-light;
                border-radius: 0 2px 2px 0;
                background-color: #fff;
                width: 60px;
                height: 50px;
                font-size: 0;
                @include background-name-ext-repeat-poistion(icon_search_guide, png, no-repeat, 50% 50%);
            }
        }
    }
}

//툴팁
.tooltip-in {
    width: 240px;
    dl {
        background: $color-gray-light;
        padding: 22px 25px;
        position: relative;
        &:before {
            @include contentReset();
            @include font-glyphicon();
            content: "\e072";
            position: absolute;
            top: 10px;
            left: -10px;
            color: $color-gray-light;
            @include rotate(180deg);
        }
        dt {
            @include font-size-color-weight(14px, #333, 400);
            padding-bottom: 5px;
            & + dd.txt1 {
                margin-top: 0;
            }
        }
        dd {
            line-height: 18px;
            padding-top: 8px;
            &.txt1 {
                @include font-size-color-weight(13px, $color-blue, 400);
                margin-top: 20px;
            }
            &.txt2 {
                @include font-size-color-weight(13px, #7f8794, 400);
            }
            &.txt3 {
                @include font-size-color-weight(12px, #b67700, 400);
                padding-left: 12px;
                text-indent: -12px;
            }
        }
    }
}

//모달레이어
.modal-dialog {

    @include mq(screen-pc) {
        &.modal-sm {
            width: 340px;
        }
    }
    .modal-content {
        padding: 50px 40px 20px;
        text-align: center;
        .area-btn {
            text-align: center;
            margin-top: 20px;
        }
    }
    .txt1 {
        @include font-size-color-weight(16px, #333, 400); 
        line-height: 1.4;
    }
    .txt2 {
        @include font-size-color-weight(14px, #757a8b, 400);
        line-height: 1.4;
    }
    .highlight {
        color: #3366ff !important;
    }
}
#chAnswerCnt .modal-dialog .txt1 {
    padding: 0 30px 10px 0;
}

//질문 탭
.section-qnatab {
    background-color: $color-white;
    border: solid 1px $color-gray-light;
    select {
        height: 25px;
        border-color: #d5d5d7;
        @include font-size-color-weight(12px, $color-black-light, 400);
    }
    .tab-link {
        margin-bottom: 20px;
        @include tab();
        &.depth-3 {
            li {
                width: 33%;
                &:first-child {
                    width: 34%;
                }
            }
        }
        li {
            border: solid 1px  $color-gray-light;
            border-bottom-color:  $color-gray-light;
            background-color: #e4e6ed;
            border-top: none;
            &:hover {
                background-color: rgba(228, 230, 237, .8);
            }
            &:first-child {
                border-left: none;
            }
            &.active {
                border-color: $color-white;
                background-color: $color-white;
            }
            a {
                height: 55px;
                line-height: 55px;
                @include font-size-color-weight(16px, #b8bfce, 400);
                letter-spacing: -1px;
            }
        }
    }
    .tab-content {
        position: relative;
        padding: 0 0 0 129px;
        min-height: 700px !important;
        .menu {
            position: absolute;
            left: 0;
            width: 129px;
            padding-left: 15px;
            ul li {
                margin-top: 13px;
                @include font-size-color-weight(13px, #999, 400);
                line-height: 1.3;
                &:first-child {
                    margin-top: 0;
                }               
                &.line {
                    border-top: solid 1px #ececec;
                    padding-top: 20px;
                    margin-top: 20px;
                }
                &.menu-top {
                    a {
                        color: #333;
                    }
                }
                a {
                    @include font-size-color-weight(13px, #999, 400);
                }
                &.active a {
                    color: $color-blue;
                    font-weight: 500;
                }
            }
            &-btn {
                padding-bottom: 40px;
                .btn {
                    border-color: #e0e0e0;
                    background-color: $color-white;
                    border-radius: 0;
                    height: 36px;
                    width: 99px;
                    padding: 0;
                    @include font-size-color-weight(14px, $color-black, 400);
                }
            }
            &-title {
                @include font-size-color-weight(14px, $color-black, 500);
                padding-bottom: 15px;
            }
            hr {
                border-top: solid 1px #ececec;
                margin: 30px 0;
            }
        }
        .cont {
            border-left: solid 1px #f3f3f3;
            padding: 0 15px 30px 15px;
            .util {
                padding-bottom: 10px;
                @include clearfix();
                .type {
                    float: left;
                    font-size: 0;
                    width: 53px;
                    height: 25px;
                    background-size: 100%;
                    &[data-type='list'] {
                        @include background-name-ext-repeat-poistion(icon_mainqna_list, png, no-repeat, 0 0); 
                    }
                    &[data-type='cont'] {
                        @include background-name-ext-repeat-poistion(icon_mainqna_cont, png, no-repeat, 0 0); 
                    }
                    .btn {
                        width: 50%;
                        height: 25px;
                        background: none;
                        font-size: 0;
                    }
                }
                .count {
                    float: left;
                    margin-left: 4px;
                }
                .sort {
                    float: right;
                    padding-top: 4px;
                }
            }
            
            .data {
                letter-spacing: -.25px;
                li {
                    border-top: dashed 1px #dfe0e1;
                    position: relative;
                    &:first-child {
                        border-top-style: solid;
                    }
                    .subject {
                        @include ellipsis();
                        line-height: 27px;
                        .grade {
                            vertical-align: middle;
                            margin-top: -3px;
                            margin-right: 3px;
                        }
                        a {
                            @include font-size-color-weight(14px, $color-black, 500);
                        }
                    }
                    .text {
                        table {
                            th, td {
                                border: solid 1px #999;
                                padding: 0 8px;
                            }
                            @include mq(screen-mobile) {
                                width: 100% !important;
                            }
                        }
                    }
                }
                &[data-type='list'] {
                    border-bottom: solid 1px #dfe0e1;
                    li {
                        padding: 15px 0;
                        @include clearfix();
                        .subject {
                            float: left;
                            width: 65%;
                        }
                        &:hover {
                            background-color: #fafafa;
                            padding: 15px 15px;
                            margin: 0 -15px;
                            border-top-style: solid;
                            & + li {
                                padding: 15px 15px;
                                margin: 0 -15px;
                                border-top-style: solid;
                            }
                            @include mq(screen-pc-full) {
                                padding: 15px 30px;
                                margin: 0 -30px;
                                & + li {
                                    padding: 15px 30px;
                                    margin: 0 -30px;
                                }
                            }
                        }

                        .text {
                            display: none;
                        }
                        .info {
                            float: right;
                            width: 35%;
                            font-size: 0;
                            line-height: 27px;
                            span {
                                display: inline-block;
                                width: 50%;
                                text-align: center;
                                vertical-align: middle;
                                line-height: 1.1;
                                @include font-size-color-weight(12px, #999, 400);
                                &.info-answer {
                                    @include font-size-color-weight(12px, $color-black, 500);
                                }
                                &.info-kind {
                                    width: 50%;
                                    display: none;
                                }
                            }
                            
                        }
                        .link {
                            display: none;
                        }
                    }
                }
                &[data-type='cont'] {
                    li {
                        padding: 20px 0;
                        &:hover {
                            background-color: #fafafa;
                            padding: 20px 15px;
                            margin: 0 -15px;
                            border-top-style: solid;
                            & + li {
                                padding: 20px 15px;
                                margin: 0 -15px;
                                border-top-style: solid;
                            }
                            @include mq(screen-pc-full) {
                                padding: 20px 30px;
                                margin: 0 -30px;
                                & + li {
                                    padding: 20px 30px;
                                    margin: 0 -30px;
                                }
                            }
                        }
                        
                        .subject {
                            a {
                                font-size: 15px;
                            }
                        }
                        .text {
                            @include ellipsis-multi(2, 20);
                            margin-top: 14px;
                            a {
                                @include font-size-color-weight(13px, #999, 400);
                            }
                            
                        }
                        .info {
                            margin-top: 16px;
                            font-size: 0;
                            span {
                                @include font-size-color-weight(12px, #999, 400);
                                @include textline();
                                &.info-answer {
                                    color: #666;
                                    font-weight: 500;
                                }
                            }
                            
                        }
                        .link {
                            position: absolute;
                            right: 19px;
                            bottom: 13px;
                            a {
                                display: inline-block;
                                border: solid 1px $color-gray-light;
                                padding: 0 13px;
                                height: 30px;
                                line-height: 28px;
                                background-color: $color-white;
                                @include font-size-color-weight(13px, #333, 500);
                                span {
                                    display: inline-block;
                                    padding-left: 22px;
                                    @include background-name-ext-repeat-poistion(icon_answer, png, no-repeat, 0 50%);
                                    line-height: 28px;
                                }
                                
                            }
                            opacity: 0;
                            &.in {
                                opacity: 1;
                                @include transition-all(.3s);
                            }
                        }
                    }
                }
            }

            .pagination {
                margin: 40px 0 20px;
            }
        }
    }
    .nodata {
        text-align: center;
        border-top: solid 1px #dfe0e1;
        padding: 100px 0;
        .t1 {
            @include font-size-color-weight(22px, $color-black, 400);
        }
        .t2 {
            @include font-size-color-weight(12px, #999, 400);
            line-height: 22px;
            padding-top: 20px;
        }
    }
    @include mq(screen-pc-full) {
        .tab-link {
            li a {
                font-size: 18px;
            }
        }
        .tab-content {
            padding: 0 0 0 177px;
            .menu {
                width: 177px;
                padding-left: 30px;
            }
            .cont {
                padding: 0 30px 30px 31px;
            }
        }
    }
    
}

.wrap-main .section-qnatab {
    margin-top: 30px;
    @include mq(screen-tablet) {
        margin-top: 10px;
    }
}

//페이징
.pagination {
    text-align: center;
    display: block;
    padding: 0;
    margin: 0;
    border-radius: 0;
    font-size: 0;
    a {
        display: inline-block;
        margin: 0 4px;
        width: 20px;
        height: 20px;
        line-height: 18px;
        vertical-align: middle;
        font-family: $font-verdana;
        @include font-size-color-weight(14px, #000, 400);
        text-decoration: none;
        &.active {
            color: #ec303d;
        }
        &.prev {
            @include irReset();
            @include background-name-ext-repeat-poistion(btn_paging_prev, png, no-repeat, 0 0);
            margin-right: 12px;
        }
        &.next {
            @include irReset();
            @include background-name-ext-repeat-poistion(btn_paging_next, png, no-repeat, 0 0);
            margin-left: 12px;
        }
        @include mq(screen-mobile) {
            margin: 0;
        }
    }
    button {
        width: 100%;
        border-radius: 0;
        border-color: $color-gray-light;
        height: 45px;
        line-height: 43px;
        span {
            @include font-size-color-weight(13px, #79879c, 400);
        }
        i {
            @include font-size-color-weight(11px, #a1a8b3, 400);
            margin-left: 10px;
        }
    }
}

//테이블
.table {
    width: 100%;
    table-layout: fixed;
    border: none;
    border-top: solid 1px #b8c0d0;
    border-bottom: solid 1px $color-gray-light;
    margin: 0 0 -1px;
    img {
        max-width: 100%;
    }
    thead tr th {
        @include font-size-color-weight(16px, #333, 400);
        text-align: center;
        border: none;
        background-color: #e9ecf2 ;
        height: 59px;
        padding: 7px 0;
        vertical-align: middle;
        line-height: 1.1;
    }
    tbody tr td {
        @include font-size-color-weight(16px, #666, 400);
        text-align: center;
        border: none;
        border-top: dashed 1px #dfe0e1;
        background-color: $color-white;
        height: 63px;
        padding: 12px 0;
        vertical-align: middle;
        line-height: 1.3;
        .subject {
            @include font-size-color-weight(16px, #666, 400);
            display: block;
            text-align: left;
            padding: 0 30px;
            @include ellipsis();
        }
    }
    tbody tr:first-child td {
        border-top: none;
    }
    .screen-only-pc {
        display: table-cell;
    }
    & ~ .nodata {
        text-align: center;
        background-color: $color-white;
        padding: 50px 0;
        @include font-size-color-weight(16px, #666, 400);
    }
    @include mq(screen-mobile) {
        .screen-only-pc {
            display: none;
        }
        thead tr th {
            font-size: 14px;
            height: 40px;
        }
        tbody tr td {
            font-size: 13px;
            height: 40px;
            .subject {
                font-size: 13px;
                padding: 0 8px;
            }
        }
        & ~ .nodata {
            font-size: 13px;
            padding: 20px 0;
        }
    }

}

//테이블유틸
.table-util {
    @include clearfix();
    padding-bottom: 10px;
    .info {
        float: left;
        font-size: 0;
        span {
            @include font-size-color-weight(13px, #999, 400);
            line-height: 30px;
            @include textline();
            u {
                color: $color-blue;
            }
        }
    }
    .form-search {
        float: right;
        width: 380px;
        .box {
            width: 100%;
            padding: 0;
            .select {
                width: 30%;
                font-size: 14px;
                height: 30px;
                padding: 0 21px 0 10px;
                background-size: 10px;
                border-color: $color-gray-light;
            }
            .input-group {
                width: 70%;
                input[type="text"] {
                    font-size: 14px;
                    height: 30px;
                    border-color: $color-gray-light;
                }
                .btn {
                    width: 29px;
                    height: 30px;
                    background-size: 16px;
                    border-color: $color-gray-light;
                }
            }
            
        }
    }
    @include mq(screen-mobile) {
        .info span {
            white-space: nowrap;
            float: left;
            &:nth-child(3) {
                width: 100%;
                display: block;
                padding-left: 0;
                margin-left: 0;
                &:before {
                    display: none;
                }
            }
        }
    }
    @include mq(screen-tablet) {
        .info {
            float: none;
        }
        .form-search {
            float: right;
            padding-top: 10px;
        }
    }
}
// 훈장뱃지
.icon-badge {
    li {
        .icon {
            width: 36px;
            height: 36px;
            border-radius: 20px;
            background-color: #cbdbf1;
            position: relative;
            i {
                display: inline-block;
                width: 16px;
                height: 16px;
                border-radius: 8px;
                background-color: $color-black;
                text-align: center;
                line-height: 16px;
                position: absolute;
                bottom: -2px;
                right: -2px;
                &.num {
                    @include font-size-color-weight(5px, #ffe000, 500);
                }
                &.crown {
                    font-size: 0;
                    @include background-name-ext-repeat-poistion(icon-lv-crown, png, no-repeat, 50% 50%);
                }
            }
        }
        strong {
            display: block;
            @include font-size-color-weight(16px, $color-blue, 500);
            line-height: 1.1;
        }
        span {
            display: block;
            margin-top: 4px;
            @include font-size-color-weight(14px, #666, 400);
            line-height: 1.1;
        }
    }
}

// 훈장레이어
.section-badge {
    position: absolute;
    width: 248px;
    border-radius: 8px;
    box-shadow: 0px 10px 9.2px 0.8px rgba(0, 0, 0, 0.15);
    border: solid 1px #b8c0d0;
    background-color: #ffffff;
    padding: 8px;
    z-index: 999;
    margin: 90px 0 0 20px;
    
    @include mq(screen-pc-full) {
        margin-top: 0;
        left: 50%;
        margin: 90px 0 0 -640px;
    }
    @include mq(screen-mobile) {
        top: 143px;
        left: 50%;
        margin: 0 0 0 -124px;
        &.screen-only-pc {
            display: none !important;
        }
        
    }
    .close-text {
        @include buttonReset();
        font-size: 0;
        width: 17px;
        height: 17px;
        position: absolute;
        top: 15px;
        right: 15px;
        z-index: 1;
        &:before {
            @include contentReset();
            width: 1px;
            height: 23px;
            background-color: #868686;
            position: absolute;
            top: -3px;
            left: 8px;
            transform:rotate(-45deg);
            -webkit-transform: rotate(-45deg);
        }
        &:after {
            @include contentReset();
            width: 1px;
            height: 23px;
            background-color: #868686;
            position: absolute;
            top: -3px;
            left: 8px;
            transform:rotate(45deg);
            -webkit-transform: rotate(45deg);
        }

    }
    ul {
        padding: 8px;
        li {
            min-height: 52px;
            padding: 8px 32px 8px 55px;
            margin-top: 8px;
            position: relative;
            &:first-child {
                margin-top: 0;
            }
            .icon {
                position: absolute;
                top: 8px;
                left: 0;
            }
        }
    }
    .more {
        margin: 8px 10px;
        text-align: right;
        a {
            display: inline-block;
            @include font-size-color-weight(12px, #6b7483, 400);
            line-height: 36px;
            padding-right: 9px;
            position: relative;
            &:after {
                @include contentReset();
                width: 5px;
                height: 5px;
                border: solid 1px #868686;
                border-width: 1px 1px 0 0;
                position: absolute;
                top: 50%;
                right: 0;
                margin-top: -3px;
                transform:rotate(45deg);
                -webkit-transform: rotate(45deg);
            }
        }
    }
}

//네임카드
.namecard {
    background-color: #fff;
    border-left: solid 3px $color-blue;
    padding: 5px 16px;
    div {
        @include font-size-color-weight(13px, #666, 400);
        line-height: 1.4;
        padding-top: 5px;
        &:first-child {
            padding-top: 0;
        }
        &.item1 {
            strong {
                color: #333;
                white-space: nowrap;
            }
            span {
                color: #999;
                @include textline();
                white-space: nowrap;
            }
        }
        &.item2 {
            
        }
        &.item3 {
            //a {
                display: inline-block;
                color: #999;
                position: relative;
                padding-right: 10px;
                &:after {
                    @include contentReset();
                    @include rotate(45deg);
                    border: solid 1px #999;
                    border-width: 1px 1px 0 0;
                    width: 5px;
                    height: 5px;
                    position: absolute;
                    top: 50%;
                    right: 0;
                    margin-top: -1px
                }
            //}
            a {
                color: #999;
            }
        }
    }
    
}

// 검색옵션
.search-sort {
    .item1 {
        ul {
            text-align: center;
            display: table;
            width: 100%;
            border-collapse: collapse;
            li {
                display: table-cell;
                border: solid 1px $color-gray-light;
                
                a {
                    @include font-size-color-weight(16px, #333, 400);
                    text-decoration: none;
                    display: block;
                    height: 40px;
                    line-height: 38px;
                }
                &:before {
                    height: 15px;
                    margin-top: -8px;
                    background-color: ㅋ
                }
                &.active {
                    background-color: #f8f8f8;
                    a {
                        color: #333;
                        font-weight: 500;
                    }
                }
            }
        }
    }
    .item2 {
        padding: 15px 0;
        ::-webkit-scrollbar {
            height: 0;
        }
        ul {
            font-size: 0;
            white-space: nowrap;
            overflow-x: auto;
            li {
                display: inline-block;
                a {
                    @include font-size-color-weight(14px, #666, 400);
                    text-decoration: none;
                    display: inline-block;
                    border: solid 1px $color-gray-light;
                    border-radius: 16px;
                    height: 32px;
                    line-height: 32px;
                    text-align: center;
                    padding: 0 15px;
                    margin-right: 12px;
                }

                &.active a {
                    border-color: $color-blue;
                    background-color: $color-blue;
                    color: $color-white;
                }
            }
        }
    }

    @include mq(screen-pc-full) {
        .item2 {
            padding: 30px 0 20px;
            ul {
                text-align: right;
                white-space: normal;
                overflow-x: inherit;
                li {
                    @include textline();
                    display: inline-block;
                    padding-left: 16px;
                    margin-left: 15px;
                    &:before {
                        width: 1px;
                        height: 12px;
                        background-color: #ddd;
                        margin-top: -6px;
                    }
                    a {
                        border: none;
                        border-radius: 0;
                        height: auto;
                        line-height: 1;
                        padding: 0;
                        margin: 0;
                    }
                    &.active a {
                        border-color: $color-white;
                        background-color: $color-white;
                        color: $color-blue;
                    }
                }
            }
        }
    }
}

// swiper button
.swiper {
    text-align: center;
    font-size: 0;
    &-button {
        text-align: center;
        margin-top: 20px;
        font-size: 0;
        div {
            position: relative;
            margin-top: 0;
            background: none;
            width: 36px;
            height: 36px;
            border: solid 1px #d5d5d5;
            background-color: transparent;
            margin: 0 0 0 -1px;
            top: auto;
            right: auto;
            left: auto;
            display: inline-block;
            margin: 0 0 0 -1px; 
            &:hover {
                background-color: $color-white;
            }
            &.swiper-button-disabled {
                opacity: 1;
                background-color: transparent;
                &:before {
                    border-color: #d5d5d5;
                }
            }
            &:before {
                @include contentReset();
                width: 10px;
                height: 10px;
                border: solid 2px $color-black;
                border-width: 2px 2px 0 0;
                
                position: absolute;
                top: 12px;
            }
        }
        &-next {
            &:before {
                transform: rotate(45deg);
                left: 10px;
            }
            
        }
        &-prev {
            &:before {
                transform: rotate(225deg);
                right: 10px;
            }
        }
    }
}

// 내공자판기
.section-vendor {
    .box {
        border: solid 1px $color-gray-light;
        position: relative;
        padding: 10px 16px 16px;
        .swiper {
            &-container {
                width: 200px;
                margin: 0 auto;
                text-align: center;
                .photo {
                    text-align: center;
                    height: 100px;
                    overflow: hidden;
                    img {
                        width: 120px;
                        margin-top: -10px
                    }
                }
                .price {
                    margin-top: 11px;
                    i {
                        display: inline-block;
                        text-align: center;
                        border: solid 1px $color-point;
                        width: 35px;
                        height: 22px;
                        line-height: 22px;
                        @include font-size-color-weight(14px, $color-point, 700);
                        letter-spacing: -0.39px;
                        margin-right: 4px;
                        vertical-align: top;
                        position: relative;
                        top: 1px;
                    }
                    span {
                        display: inline-block;
                        line-height: 25px;
                        vertical-align: top;
                        @include font-size-color-weight(16px, $color-black, 500);
                        letter-spacing: -0.44px;
                        em {
                            margin-right: 3px;
                            @include font-size-color-weight(23px, $color-black, 700);
                            letter-spacing: -0.64px;
                            vertical-align: top;
                        }
                    }
                }
                .name {
                    margin-top: 8px;
                    @include font-size-color-weight(13px, #959595, 300);
                    letter-spacing: -0.54px;
                    line-height: 18px;
                    max-width: 200px;
                    @include ellipsis();
                }
                .btnarea {
                    display: none;
                }
            }
            &-button {
                text-align: center;
                font-size: 0;
                margin-top: 0;
                div {
                    border-color: $color-gray-light;
                    position: absolute;
                    top: 41px;
                }
                &-next {
                    right: -1px;
                }
                &-prev {
                    left: 0;
                }
            }
        }

        .btnarea {
            margin-top: 8px;
            a {
                display: block;
                height: 45px;
                border-color: $color-point;
                background-color: $color-point;
                text-align: center;
                padding: 0;
                span {
                    @include font-size-color-weight(16px, $color-white, 500);
                    letter-spacing: -0.62px;
                    position: relative;
                    padding-right: 18px;
                    line-height: 43px;
                    &:after {
                        @include contentReset();
                        width: 9px;
                        height: 9px;
                        border: solid 2px $color-white;
                        border-width: 2px 2px 0 0;
                        transform: rotate(45deg);
                        position: absolute;
                        top: 5px;
                        right: 0;
                    }
                }
            }
        }
    }
    
    @include mq(screen-pc) {
        .box {
            padding: 10px 13px 13px;
            .swiper {
                &-button {
                    div {
                        top: -1px;
                        width: 20px;
                        height: 20px;
                        &:before {
                            width: 6px;
                            height: 6px;
                            border-width: 1px 1px 0 0;
                            top: 6px;
                            left: 6px;
                        }
                    }
                    &-next {
                        right: -1px;
                    }
                    &-prev {
                        left: auto;
                        right: 18px;
                    }
                }
            }
            .btnarea {
                margin-top: 8px;
                a {
                    height: 36px;
                    span {
                        font-size: 13px;
                        letter-spacing: -0.5px;
                        padding-right: 12px;
                        line-height: 34px;
                        &:after {
                            width: 7px;
                            height: 7px;
                            border-width: 1px 1px 0 0;
                            top: 4px;
                        }
                    }
                }
            }
        }
       
    }
}
.wrap-main .section-vendor {
    @include mq(screen-tablet2) {
        
        .box {
            padding: 0;
            @include clearfix();
            .swiper {
                &-container {
                    width: 100%;
                    .photo {
                        height: 130px;
                        width: 260px;
                        display: inline-block;
                        vertical-align: top;
                        img {
                            width: 154px;
                            margin-top: -12px;
                        }
                    }
                    .btnarea {
                        display: block;
                        a {
                            width: 268px;
                            height: 36px;
                            top: 78px;
                            left: 398px;
                            span {
                                line-height: 34px;
                                font-size: 13px;
                                &:after {
                                    width: 7px;
                                    height: 7px;
                                    border-width: 1px 1px 0 0;
                                    top: 4px;
                                }
                            }
                        }
                    }
                    .item {
                        
                        margin-left: 68px;
                        text-align: left;
                        display:flex;
                        flex-flow: column;
                        display: inline-flex;;
                        vertical-align: top;
                        .price {
                            order: 2;
                            margin-top: 8px;
                        }
                        .name {
                            order: 1;
                            margin-top: 18px;
                        }
                        .btnarea {
                            order: 3;
                        }
                    }
                }
                &-button {
                    div {
                        top: -1px;
                        width: 36px;
                        height: 36px;
                        &:before {
                            width: 10px;
                            height: 10px;
                            top: 12px;
                            border-width: 2px 2px 0 0;
                        }
                    }
                    &-next {
                        right: -1px;
                        &:before {
                            left: 10px;

                        }
                    }
                    &-prev {
                        left: auto;
                        right: 34px;
                        &:before {
                            right: 10px;
                            left: auto;
                        }
                    }
                }
            }
            .btnarea {
                display:  none;
            }
        }
        
    }
}

