
@import url(/library/css/stylesheets/NotoSansKR-Hestia.css);
@import url('https://fonts.cdnfonts.com/css/gotham');

/* top */
#div_full {background:#001548;}
#div_cont {width:100%; text-align:center; clear:both; position:relative; overflow:hidden; font-family:"MalGun Gothic"; font-size:16px; letter-spacing:-0.5px; line-height:20px; color:#333;}    
#div_cont .con {position:relative; width:1000px; padding:100px 0; margin:0 auto; text-align:center;}

.top_wrap {width:100%; height:1115px; margin:0 auto; position:absolute; z-index:3; top:0; text-align:center;}

.top_bg {position:absolute; top:0; left:0; right:0; bottom:0;}
.top_bg [class^=bg] {position:absolute; top:0; left:0; right:0; bottom:0;}
.top_bg .bg1{
    background:url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_final_gate/top_bg01.jpg') 50% top no-repeat;
    background-size:cover;
}
.top_bg .bg2{
    opacity:0;
    background:url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_final_gate/top_bg02.jpg') 50% top no-repeat;
    background-size:cover;
    animation:top-bg 2s ease forwards;
}

@keyframes top-bg {
    0% {
        opacity:0;
    }
    50% {
        opacity:0.3;
    }
    100% {
        opacity:1;
    }
}

.top_wrap .act_wrap {position:absolute; width:1000px;}
.top_wrap .act_wrap {position:relative; width:1000px; margin:0 auto;}

.top_wrap .act_wrap .txt {position:absolute; opacity:0; z-index:2;} 
.top_wrap .act_wrap .act01 {left:35px; top:170px;}
.top_wrap .act_wrap .act02 {left:0; top:90px;}
.top_wrap .act_wrap .act03 {left:-250px; top:282px;}
.top_wrap .act_wrap .act04 {left:250px; top:418px;}
.top_wrap .act_wrap .act05 {left:250px; top:555px;}

.speedometer {position:absolute; left:548px; top:185px; opacity:0; animation:top-bg 2s ease forwards;}
.speedometer .speed_logo {position:absolute; left:50%; top:133px; margin-left:-160px; z-index:10;}
.speedometer .needle {position:absolute; left:292px; top:123px; width:10px; height:171px; background:#fff; transform:rotate(-103deg); transform-origin:bottom; animation:n-rotate 1200ms linear 1s forwards;}

@keyframes n-rotate {
	0% {
		transform:rotate(-103deg);
	}
	100% {
		transform:rotate(103deg);
	}
}

[class^=speed_marker] {
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:595px;
    height:390px;
    opacity:0;
}
.speed_marker01 {
    background:url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_final_gate/gauge01.png') no-repeat;
    animation: toggleMarkers 200ms linear 1020ms 1 forwards;
}
.speed_marker02 {
    background:url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_final_gate/gauge02.png') no-repeat;
    animation: toggleMarkers 200ms linear 1040ms 1 forwards;
}
.speed_marker03 {
    background:url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_final_gate/gauge03.png') no-repeat;
    animation: toggleMarkers 200ms linear 1060ms 1 forwards;
}
.speed_marker04 {
    background:url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_final_gate/gauge04.png') no-repeat;
    animation: toggleMarkers 200ms linear 1080ms 1 forwards;
}
.speed_marker05 {
    background:url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_final_gate/gauge05.png') no-repeat;
    animation: toggleMarkers 200ms linear 1100ms 1 forwards;
}
.speed_marker06 {
    background:url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_final_gate/gauge06.png') no-repeat;
    animation: toggleMarkers 200ms linear 1120ms 1 forwards;
}
.speed_marker07 {
    background:url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_final_gate/gauge07.png') no-repeat;
    animation: toggleMarkers 200ms linear 1140ms 1 forwards;
}
.speed_marker08 {
    background:url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_final_gate/gauge08.png') no-repeat;
    animation: toggleMarkers 200ms linear 1160ms 1 forwards;
}
.speed_marker09 {
    background:url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_final_gate/gauge09.png') no-repeat;
    animation: toggleMarkers 200ms linear 1180ms 1 forwards;
}
.speed_marker10 {
    background:url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_final_gate/gauge10.png') no-repeat;
    animation: toggleMarkers 200ms linear 1200ms 1 forwards;
}
.speed_marker11 {
    background:url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_final_gate/gauge11.png') no-repeat;
    animation: toggleMarkers 200ms linear 1220ms 1 forwards;
}
.speed_marker12 {
    background:url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_final_gate/gauge12.png') no-repeat;
    animation: toggleMarkers 200ms linear 1240ms 1 forwards;
}
.speed_marker13 {
    background:url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_final_gate/gauge13.png') no-repeat;
    animation: toggleMarkers 200ms linear 1260ms 1 forwards;
}
.speed_marker14 {
    background:url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_final_gate/gauge14.png') no-repeat;
    animation: toggleMarkers 200ms linear 1280ms 1 forwards;
}
.speed_marker15 {
    background:url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_final_gate/gauge15.png') no-repeat;
    animation: toggleMarkers 200ms linear 1300ms 1 forwards;
}
.speed_marker16 {
    background:url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_final_gate/gauge16.png') no-repeat;
    animation: toggleMarkers 200ms linear 1320ms 1 forwards;
}
.speed_marker17 {
    background:url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_final_gate/gauge17.png') no-repeat;
    animation: toggleMarkers 200ms linear 1340ms 1 forwards;
}
.speed_marker18 {
    background:url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_final_gate/gauge18.png') no-repeat;
    animation: toggleMarkers 200ms linear 1360ms 1 forwards;
}
.speed_marker19 {
    background:url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_final_gate/gauge19.png') no-repeat;
    animation: toggleMarkers 200ms linear 1380ms 1 forwards;
}
.speed_marker20 {
    background:url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_final_gate/gauge20.png') no-repeat;
    animation: toggleMarkers 200ms linear 1400ms 1 forwards;
}
.speed_marker21 {
    background:url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_final_gate/gauge21.png') no-repeat;
    animation: toggleMarkers 200ms linear 1420ms 1 forwards;
}
.speed_marker22 {
    background:url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_final_gate/gauge22.png') no-repeat;
    animation: toggleMarkers 200ms linear 1460ms 1 forwards;
}
.speed_marker23 {
    background:url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_final_gate/gauge23.png') no-repeat;
    animation: toggleMarkers 200ms linear 1480ms 1 forwards;
}
.speed_marker24 {
    background:url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_final_gate/gauge24.png') no-repeat;
    animation: toggleMarkers 200ms linear 1500ms 1 forwards;
}
.speed_marker25 {
    background:url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_final_gate/gauge25.png') no-repeat;
    animation: toggleMarkers 200ms linear 1520ms 1 forwards;
}
.speed_marker26 {
    background:url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_final_gate/gauge26.png') no-repeat;
    animation: toggleMarkers 200ms linear 1540ms 1 forwards;
}
.speed_marker27 {
    background:url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_final_gate/gauge27.png') no-repeat;
    animation: toggleMarkers 200ms linear 1560ms 1 forwards;
}
.speed_marker28 {
    background:url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_final_gate/gauge28.png') no-repeat;
    animation: toggleMarkers 200ms linear 1580ms 1 forwards;
}
.speed_marker29 {
    background:url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_final_gate/gauge29.png') no-repeat;
    animation: toggleMarkers 200ms linear 1600ms 1 forwards;
}
.speed_marker30 {
    background:url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_final_gate/gauge30.png') no-repeat;
    animation: toggleMarkers 200ms linear 1620ms 1 forwards;
}
.speed_marker31 {
    background:url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_final_gate/gauge31.png') no-repeat;
    animation: toggleMarkers 200ms linear 1640ms 1 forwards;
}
.speed_marker32 {
    background:url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_final_gate/gauge32.png') no-repeat;
    animation: toggleMarkers 200ms linear 1680ms 1 forwards;
}
.speed_marker33 {
    background:url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_final_gate/gauge33.png') no-repeat;
    animation: toggleMarkers 200ms linear 1700ms 1 forwards;
}
.speed_marker34 {
    background:url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_final_gate/gauge34.png') no-repeat;
    animation: toggleMarkers 200ms linear 1720ms 1 forwards;
}
.speed_marker35 {
    background:url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_final_gate/gauge35.png') no-repeat;
    animation: toggleMarkers 200ms linear 1740ms 1 forwards;
}
.speed_marker36 {
    background:url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_final_gate/gauge36.png') no-repeat;
    animation: toggleMarkers 200ms linear 1760ms 1 forwards;
}
.speed_marker37 {
    background:url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_final_gate/gauge37.png') no-repeat;
    animation: toggleMarkers 200ms linear 1780ms 1 forwards;
}
.speed_marker38 {
    background:url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_final_gate/gauge38.png') no-repeat;
    animation: toggleMarkers 200ms linear 1800ms 1 forwards;
}
.speed_marker39 {
    background:url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_final_gate/gauge39.png') no-repeat;
    animation: toggleMarkers 200ms linear 1820ms 1 forwards;
}
.speed_marker40 {
    background:url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_final_gate/gauge40.png') no-repeat;
    animation: toggleMarkers 200ms linear 1840ms 1 forwards;
}
.speed_marker41 {
    background:url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_final_gate/gauge41.png') no-repeat;
    animation: toggleMarkers 200ms linear 1860ms 1 forwards;
}
.speed_marker42 {
    background:url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_final_gate/gauge42.png') no-repeat;
    animation: toggleMarkers 200ms linear 1900ms 1 forwards;
}
.speed_marker43 {
    background:url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_final_gate/gauge43.png') no-repeat;
    animation: toggleMarkers 200ms linear 1920ms 1 forwards;
}
.speed_marker44 {
    background:url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_final_gate/gauge44.png') no-repeat;
    animation: toggleMarkers 200ms linear 1940ms 1 forwards;
}
.speed_marker45 {
    background:url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_final_gate/gauge45.png') no-repeat;
    animation: toggleMarkers 200ms linear 1960ms 1 forwards;
}
.speed_marker46 {
    background:url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_final_gate/gauge46.png') no-repeat;
    animation: toggleMarkers 200ms linear 2000ms 1 forwards;
}
.speed_marker47 {
    background:url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_final_gate/gauge47.png') no-repeat;
    animation: toggleMarkers 200ms linear 2020ms 1 forwards;
}
.speed_marker48 {
    background:url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_final_gate/gauge48.png') no-repeat;
    animation: toggleMarkers 200ms linear 2040ms 1 forwards;
}
.speed_marker49 {
    background:url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_final_gate/gauge49.png') no-repeat;
    animation: toggleMarkers 200ms linear 2060ms 1 forwards;
}
.speed_marker50 {
    background:url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_final_gate/gauge50.png') no-repeat;
    animation: toggleMarkers 200ms linear 2080ms 1 forwards;
}
.speed_marker51 {
    background:url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_final_gate/gauge51.png') no-repeat;
    animation: toggleMarkers 200ms linear 2100ms 1 forwards;
}
.speed_marker52 {
    background:url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_final_gate/gauge52.png') no-repeat;
    animation: toggleMarkers 200ms linear 2120ms 1 forwards;
}
.speed_marker53 {
    background:url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_final_gate/gauge53.png') no-repeat;
    animation: toggleMarkers 200ms linear 2140ms 1 forwards;
}

@keyframes toggleMarkers {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}

.fix_bottom_wrap {background:#000; position:fixed; bottom:0; left:0; width:100%; height:125px; z-index:10; }
.fix_bottom_area {width:1000px; margin:0 auto; overflow:hidden; padding-top:20px;}
.fix_bottom_area ul {display:inline-block; overflow:hidden;}
.fix_bottom_area ul li {display:table; float:left; width:95px; height:50px; text-align:center; border:1px solid #555;}
.fix_bottom_area ul li a {position:relative; font-size:16px; color:#fff; font-weight:500; word-break:keep-all; word-wrap:break-word;}

.fix_bottom_area ul li:hover {border-color:#FFF197;}
.fix_bottom_area ul li:hover a em {color:#FFF197; font-weight:bold;}

.fix_bottom_area ul li + li {margin-left:10px;}
.fix_bottom_area ul + ul {margin-left:68px;}
.fix_bottom_area ul.large {}
.fix_bottom_area ul li:nth-child(1),
.fix_bottom_area ul li:nth-child(2) {width:175px;}
.fix_bottom_area ul.small {width:175px;}
.fix_bottom_area ul.small li {width:100%;}
.fix_bottom_area ul p.title {width:100%; height:40px; line-height:37px; color:#fff; background:#0036a4; font-weight:bold; font-size:19px; text-align:center; margin-bottom:15px;}
  
    
.fix_bottom_wrap.inner {position:absolute; bottom:144px; z-index:1; width:1000px;max-width:1000px;height:auto;left:50%; margin-left:-500px;box-sizing:border-box;z-index:10;}
.fix_bottom_wrap.inner .fix_bottom_area {padding:20px 30px;box-sizing: border-box;}
.fix_bottom_wrap.inner .fix_bottom_area ul + ul {margin-left:20px;}
.fix_bottom_wrap.inner .fix_bottom_area ul.large {width:575px; float:left;}
.fix_bottom_wrap.inner .fix_bottom_area ul li {width:107px; margin-top:10px;box-sizing:border-box;}
.fix_bottom_wrap.inner .fix_bottom_area ul.large li:nth-child(7) {margin-left:0;}

.fix_bottom_wrap.inner .fix_bottom_area ul.medium {width:222px; float:left;}
.fix_bottom_wrap.inner .fix_bottom_area ul.medium li {width:106px; margin-left:0;}
.fix_bottom_wrap.inner .fix_bottom_area ul.medium li:nth-child(3) {margin-left:10px;}

.fix_bottom_wrap.inner .fix_bottom_area ul.small {width:103px; float:left;}
.fix_bottom_wrap.inner .fix_bottom_area ul.small li {width:100%; margin-top:10px;}
.fix_bottom_wrap.inner .fix_bottom_area ul.small li + li {margin-left:0;}
.fix_bottom_wrap.inner .fix_bottom_area ul p.title {width:100%;max-width:100%; height:45px; line-height:45px; color:#fff; background:#004FA8; font-weight:bold; font-size:18px; text-align:center;margin-bottom:0;}
.fix_bottom_wrap.inner .fix_bottom_area ul p.title span {font-size:18px; }
.fix_bottom_wrap.inner .fix_bottom_area ul li a {display:table-cell; vertical-align:middle;}

.fix_bottom_wrap.scroll {display:none; height:74px;}

.fix_bottom_wrap.scroll .fix_bottom_area  {max-width:100%;padding:17px 0;margin:auto; width:100%; margin:0 auto; min-width:1000px;}
.fix_bottom_wrap.scroll ul {text-align:left; display:contents; display:-ms-inline-flexbox;}
.fix_bottom_wrap.scroll ul + ul {margin-left:0;}
.fix_bottom_wrap.scroll ul.large { width:auto;}
.fix_bottom_wrap.scroll ul.small {text-align:right; width:auto;}
.fix_bottom_wrap.scroll ul p.title {display:inline-block; width:calc(7.5% - 33px);height:40px; line-height:37px;padding:0 8px;margin:0 1px;font-size:16px;border-radius:0;vertical-align: middle;box-sizing:border-box; width:75px;word-break: keep-all;}
.fix_bottom_wrap.scroll ul.small p.title {margin-left:30px;}
.fix_bottom_wrap.scroll ul p.title span {display:none;}
.fix_bottom_wrap.scroll ul p.title.v2 {margin:0 8px 0 35px;}
.fix_bottom_wrap.scroll ul li {float:none;display:inline-block;height:38px; line-height:38px;margin:0 2px;padding:0 10px;vertical-align: middle;width:65px; word-break:break-all; }
.fix_bottom_wrap.scroll ul.large li:nth-child(2) {width:140px;}
.fix_bottom_wrap.scroll ul.large li:nth-child(3) {width:140px;}

/* .fix_bottom_wrap.scroll ul.small li:nth-child(2) {width:123px;}
.fix_bottom_wrap.scroll ul.small li:nth-child(3) {width:123px;} */
.fix_bottom_wrap.scroll ul.small + ul.small li:nth-child(2) {width:65px;}
.fix_bottom_wrap.scroll ul li.v2 {width:calc(9% - 33px);}
.fix_bottom_wrap.scroll ul li a {display:block; width:100%; height:100%; line-height:37px; font-size:15px;}


@media screen and (max-width: 2000px) { 
    .fix_bottom_wrap.scroll ul li {margin:0 3px;}
    .fix_bottom_wrap.scroll ul.small p.title {margin-left:10px; margin-right:0;}
    .fix_bottom_wrap.scroll ul.large li:nth-child(2) {min-width:40px; margin-left:1px;}
}
@media screen and (max-width: 1720px) {
	.fix_bottom_wrap.scroll ul li,
	.fix_bottom_wrap.scroll ul li.v2 { margin:0 1px;}
	.fix_bottom_wrap.scroll ul li.v2 {}
    
    .fix_bottom_wrap.scroll ul.large li:nth-child(2) {width:123px;}
    .fix_bottom_wrap.scroll ul.large li:nth-child(3) {width:123px;}

    .fix_bottom_wrap.scroll ul.medium li {width:80px;}
    .fix_bottom_wrap.scroll ul li {width:44px;}
    .fix_bottom_wrap.scroll ul li {padding:0 2px;}
}

@media screen and (max-width: 1300px) { 
    .fix_bottom_wrap.scroll .fix_bottom_area  {min-width:1200px;}
	.fix_bottom_wrap.scroll ul li, 
    .fix_bottom_wrap.scroll ul li.v2 {margin:0; padding:0 7px;}
    
    .fix_bottom_wrap.scroll .fix_bottom_area  {max-width:100%;padding:17px 0;margin:auto;}
    .fix_bottom_wrap.scroll ul.large {width:calc(100% - 247px); width:auto}
    .fix_bottom_wrap.scroll ul.small {width:247px; text-align:right;}
    .fix_bottom_wrap.scroll ul p.title {display:inline-block; width:calc(7.5% - 33px);height:40px; line-height:37px;padding:0 8px;margin:0 1px;font-size:16px;border-radius:0;vertical-align: middle;box-sizing:border-box; width:auto;}
    .fix_bottom_wrap.scroll ul.small p.title {margin-left:7px; margin-right:1px;}
    .fix_bottom_wrap.scroll ul li {float:none;display:inline-block;height:38px; line-height:48px;margin:0;padding:0 3px;vertical-align: middle;}
    .fix_bottom_wrap.scroll ul li:nth-child(5) {}
    .fix_bottom_wrap.scroll ul li:nth-child(2) {min-width:40px; width:auto !important;}
    .fix_bottom_wrap.scroll ul li:nth-child(3) {min-width:40px; width:auto !important;}
}

@media screen and (max-width: 1000px) { 
    .fix_bottom_wrap.scroll .fix_bottom_area  {min-width:1000px;}
    .fix_bottom_wrap.scroll ul li {padding:0 5px;}
}

.text_area {position:absolute; left:50%; bottom:98px; width:1000px; margin-left:-500px; text-align:center;}
.text_area p {font-size:15px; color:rgba(255,255,255,.5);}
/*
 .book_posi.posi02 {margin-left:20px;}
.book_posi.posi03 {margin-left:20px;}

.top_txt_wrap {position:relative; padding:70px 0; background:#EEC695; z-index:1;}
.top_txt_wrap::after {position:absolute; top:-40px; left:50%; width:1px; height:80px; background:url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2024/2024_final_gate/con_img_line.png') no-repeat; z-index:2; content:'';} */


.div_con1 {height:932px; background:url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_final_gate/con01_bg.jpg') center top no-repeat; background-size:cover; overflow:hidden;}

.div_con5 {
	position:relative;
    height:1188px;
    background:url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_final_gate/con03_bg.jpg') center top no-repeat; 
    background-size:cover;
	overflow:hidden;
}
.div_con5 .title_wrap {text-align:center; padding-bottom:30px;}
.div_con5 .con {width:1030px !important;  margin:0 auto; position:relative;}

.div_con5 ul {
    position: relative;
    overflow: hidden;
    height:150px;
    padding:20px 0;
    margin: 0 auto;
    font-size:0;
	text-align:center;
}
.div_con5 ul + ul {margin-top:0px;}
.div_con5 ul li {
    display:inline-block;
	width:230px;
    height:150px;
	margin:0 13px;
    background:#fff;
    font-family: 'Noto Sans KR';
    letter-spacing: -0.5px;
    border-radius: 2px;
	text-align: center;

}
.div_con5 ul.wide_li li{width:470px;height:160px;}
.div_con5 ul li a {
    display: block;
    width:100%;
    float:left;
    position:relative;
	
}

.div_con5 ul li a {
    position:relative;
}

.div_con5 ul li .title {
    width: 90%;
    margin:0 auto;
    background: url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2024/2024_final_gate/dashed_line.png') center bottom no-repeat;
    border-bottom:none;
    margin-top:10px;
}
.div_con5 ul li .title strong {
    font-weight:700;
}
.div_con5 ul li .title span {
    font-size:25px;
	line-height:52px;
    font-weight:400;
    padding-right:20px;
    background: url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2020_half/bullet_arrow.png') right 50% no-repeat;
	letter-spacing:-1.5px;
}
.div_con5 ul li .flag {
    position:absolute;
    top:0px;
    right:0px;
    background: url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2021_half_gate/new_flag.png') 0 0 no-repeat;
    width:69px;
    height:36px;
    display:inline-block;
    vertical-align:middle;
}
.div_con5 ul li .flag.new {
    position:absolute;
    top:0px;
    right:0px;
    background: url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2021_nsufirst/new_flag.png') center top no-repeat;
    width:69px;
    height:36px;
    display:inline-block;
    vertical-align:middle;
}
.div_con5 ul li .flag span {
	color:#fff;
	font-size:15px;
	font-weight:700;
	margin-top:6px;
	display:block;

}
.div_con5 ul li .flag.ver01 {
    position:absolute;
    top:10px;
    right:-7px;
    background: url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2021_half_gate/end_flag.png') 0 0 no-repeat;
    width:46px;
    height:54px;
    display:inline-block;
    vertical-align:middle;
}
.div_con5 ul li .flag.ver01 span {
    margin-top:3px;
}

.div_con5 ul li .flag.ver02 {
    position:absolute;
    top:10px;
    right:-7px;
    background: url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2021_half_gate/end_flag.png') 0 0 no-repeat;
    width:46px;
    height:54px;
    display:inline-block;
    vertical-align:middle;
	line-height:1.3em;
	font-size:14px;
}
.div_con5 ul li .flag.ver02 span {
    margin-top:3px;
}

.div_con5 ul li .info_wrap {
	display:table;
	width:100%;
	height:85px;
}
.div_con5 ul.wide_li li .info_wrap{height:85px;}
.div_con5 ul li .info_wrap .info {
	display:table-cell;
	vertical-align:middle;
}
.div_con5 ul.wide_li li .info_wrap .info{padding-left:0;}
.div_con5 ul li .info_wrap p {
	font-size:21px;
	color:#0D48A8;
	font-weight:bold;
	font-family:'Noto Sans KR', 'Montserrat';
}
.div_con5 ul.wide_li li .info_wrap p{display:inline-block;margin-bottom:0;font-size:21px;}
.div_con5 ul.wide_li li .info_wrap p + p{margin-left:30px;}
.div_con5 ul li .info_wrap .sub_txt {
	margin-right:3px;
	width:45px;
	height:19px;
	line-height:17px;
	border-radius:11px;
	font-size:13px;
	color:#fff;
	display:inline-block;
	text-align:center;
	background:#0D48A8;    
	font-family: 'Noto Sans KR';
	font-weight:400;
    vertical-align:middle;
    margin-top:-4px;
}
.div_con5 ul.wide_li li .info_wrap .sub_txt{width:56px;height:23px;font-size:15px;line-height:23px;border-radius:12px;}
.div_con5 ul li.off a {cursor:default;}
.div_con5 .tit_sub{padding-top:70px;text-align:center;}

.animation_element.animation_set {opacity: 1 !important;}