@charset "UTF-8";
.grid, .lecture-container .lecture-tab, .lecture-container .lecture-list, .lecture-container .detail-info .item-total .core {
  *zoom: 1;
}

.grid:before, .lecture-container .lecture-tab:before, .lecture-container .lecture-list:before, .lecture-container .detail-info .item-total .core:before, .grid:after, .lecture-container .lecture-tab:after, .lecture-container .lecture-list:after, .lecture-container .detail-info .item-total .core:after {
  content: '';
  display: table;
}

.grid:after, .lecture-container .lecture-tab:after, .lecture-container .lecture-list:after, .lecture-container .detail-info .item-total .core:after {
  clear: both;
}

.lecture-container .bundle .subject, .lecture-container .bundle .subject a, .lecture-container .detail-table .table-section-3 .table .cell-desc {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.sr-only {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.grid, .lecture-container .lecture-tab {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.grid .col, .lecture-container .lecture-tab .col, .lecture-container .lecture-tab a {
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.montserrat {
  font-family: "Montserrat", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
}

.lato {
  font-family: "lato", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
}

.lecture-container .lecture-tab a:only-child, .lecture-container .lecture-tab a:nth-child(1):nth-last-child(1) {
  width: 100%;
}

.lecture-container .lecture-tab a:nth-child(1):nth-last-child(2), .lecture-container .lecture-tab a:nth-child(2):nth-last-child(1) {
  width: 50%;
}

.lecture-container .lecture-tab a:nth-child(1):nth-last-child(3), .lecture-container .lecture-tab a:nth-child(2):nth-last-child(2), .lecture-container .lecture-tab a:nth-child(3):nth-last-child(1) {
  width: 33.33%;
  width: calc(100% / 3);
}

.lecture-container .lecture-tab a:nth-child(1):nth-last-child(4), .lecture-container .lecture-tab a:nth-child(2):nth-last-child(3), .lecture-container .lecture-tab a:nth-child(3):nth-last-child(2), .lecture-container .lecture-tab a:nth-child(4):nth-last-child(1) {
  width: 25%;
}

.lecture-container .detail-table .grade span, .popup-content .grade a {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url("//img.eduwill.net/resources/teacher/img/star_off.png") 0 0 no-repeat;
}

.lecture-container .detail-table .grade span.on, .popup-content .grade a.on {
  background-image: url("//img.eduwill.net/resources/teacher/img/star_on.png");
}

.lecture-container {
  position: relative;
  color: #333334;
  background-color: #fff;
}

.lecture-container * {
  line-height: normal;
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  letter-spacing: -1px;
}

.lecture-container p {
  margin: 0;
  line-height: 1;
}

.lecture-container .label {
  display: inline-block;
  min-width: 34px;
  height: 17px;
  min-height: 17px;
  text-align: center;
  vertical-align: middle;
  line-height: 17px;
  font-size: 10px;
  border-width: 1px;
  border-style: solid;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.lecture-container .label-best {
  color: #f63b28;
  border-color: #f63b28;
}

.lecture-container .label-complete {
  font-size: 11px;
  color: #666;
  border-color: #666;
}

.lecture-container .label-new {
  color: #fa7f2d;
  border-color: #fa7f2d;
}

.lecture-container .label-ing {
  color: #fff;
  border-color: #798bce;
  background-color: #798bce;
}

.lecture-container .label-event {
  color: #fff;
  border-color: #f63b28;
  background-color: #f63b28;
}

.lecture-container .btn {
  position: relative;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.lecture-container .btn span {
  position: relative;
  display: inline-block;
}

.lecture-container .btn-ot {
  border-color: #a9b2c5;
}

.lecture-container .btn-ot span {
  color: #a9b2c5;
}

.lecture-container .btn-sampling {
  border-color: #a9b2c5;
}

.lecture-container .btn-sampling span {
  color: #a9b2c5;
}

.lecture-container .btn-cart {
  font-weight: 700;
  border-color: #dd3203;
  background-color: #fff;
}

.lecture-container .btn-cart span {
  color: #dd3203;
}

.lecture-container .btn-buy {
  font-weight: 700;
  border-color: #dd3203;
  background-color: #dd3203;
}

.lecture-container .btn-buy span {
  color: #fff;
}

.lecture-container .btn-intro {
  border-color: #3f63bf;
}

.lecture-container .btn-intro span {
  color: #3f63bf;
}

.lecture-container .btn-tpass {
  font-weight: 700;
  border-color: #a9b2c5;
  background-color: #a9b2c5;
}

.lecture-container .btn-tpass span {
  color: #fff;
}

.lecture-container .btn-more {
  border-width: 0;
  border-top-width: 1px;
  border-top-color: #f5f5f5;
}

.lecture-container .btn-more span {
  font-size: 14px;
  color: #666;
}

.lecture-container .btn-more span:after {
  content: '↓';
  display: inline-block;
}

.lecture-container .btn-link {
  border: none;
}

.lecture-container .btn-link span {
  padding-right: 10px;
  font-size: 12px;
  font-weight: 400;
  color: #999;
}

.lecture-container .btn-link span:after {
  content: '';
  position: absolute;
  top: 50%;
  display: block;
  width: 5px;
  height: 5px;
  margin-top: -2.5px;
  border-width: 0;
  border-style: solid;
  border-color: #999;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-top-width: 1px;
  border-right-width: 1px;
  right: 0;
}

.lecture-container .no-data {
  padding: 1.5625rem 0;
  text-align: center;
  font-size: 20px;
  border-top: 1px solid #eaeaf4;
  border-bottom: 1px solid #eaeaf4;
}

@media screen and (min-width: 720px) {
  .lecture-container .no-data {
    padding: 50px 0;
  }
}

.lecture-container .no-data .holder {
  border: none;
}

.lecture-container .lecture-tab {
  margin: 0 16px;
}

.lecture-container .lecture-tab a {
  width: 50%;
  padding: 8px 0 7px;
  text-align: center;
  font-size: 16px;
  color: #a9b2c5;
  border-bottom: 1px solid #a9b2c5;
  background-color: #f5f7f9;
}

.lecture-container .lecture-tab a.active {
  font-weight: 700;
  color: #fff;
  background-color: #a9b2c5;
}

.lecture-container .lecture-section {
  display: none;
}

.lecture-container .lecture-section.active {
  display: block;
}

.lecture-container .lecture-section .item-list {
  display: table-cell;
  vertical-align: middle;
}

.lecture-container .lecture-section .item {
  position: relative;
}

.lecture-container .lecture-section .item-lecture .bundle-info {
  padding-top: 15px;
}

.lecture-container .lecture-section .item-lecture .subject {
  font-size: 16px;
}

.lecture-container .lecture-section .item-lecture .subject span {
  font-weight: 700;
}

.lecture-container .lecture-section .item-lecture .bundle-price {
  margin-top: 9px;
}

.lecture-container .lecture-section .item-book .core:first-child {
  padding-top: 10px;
  border-top: 1px dashed #eaeaf4;
}

.lecture-container .lecture-section .item-book .subject {
  font-size: 12px;
}

.lecture-container .lecture-section .item-book .bundle-price {
  margin-top: 5px;
}

.lecture-container .lecture-section .item-book .price-after {
  font-size: 13px;
}

.lecture-container .lecture-section .item-book .price-after .unit {
  font-size: 11px;
}

.lecture-container .lecture-section .core {
  margin: 0 16px;
}

.lecture-container .core {
  position: relative;
}

.lecture-container .core.disabled label {
  cursor: default;
  pointer-events: none;
}

.lecture-container .core.disabled .checkbox {
  opacity: .5;
}

.lecture-container .core.disabled .bundle-info span {
  color: #999;
}

.lecture-container .core.disabled em {
  display: inline-block;
  margin-right: 5px;
  font-weight: 400;
  color: #798bce;
}

.lecture-container .checkbox {
  position: absolute;
  top: 50%;
  left: 0;
  width: 12px;
  height: 12px;
  margin-top: -6px;
}

.lecture-container label {
  display: table;
  width: 100%;
  cursor: pointer;
  table-layout: fixed;
  padding-bottom: 16px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.lecture-container .sort-list {
  margin: 16px 16px 0;
}

.lecture-container .sort-list + .lecture-list .list:first-child {
  margin-top: 16px;
}

.lecture-container .sort-list select {
  width: 100%;
}

.lecture-container .lecture-list {
  padding: 0 16px 33px;
}

.lecture-container .lecture-list .list {
  margin-top: 16px;
  border: 1px solid #a9b2c5;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (min-width: 1024px) {
  .lecture-container .lecture-list .list {
    float: left;
    width: calc(50% - 4px);
  }
  .lecture-container .lecture-list .list:nth-child(odd) {
    clear: left;
    margin-right: 4px;
  }
  .lecture-container .lecture-list .list:nth-child(even) {
    clear: right;
    margin-left: 4px;
  }
}

.lecture-container .lecture-list .holder {
  display: table;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.lecture-container .lecture-list + .lecture-action {
  padding: 0;
  background: none;
}

.lecture-container .lecture-list + .lecture-action .btn {
  width: 100%;
}

.lecture-container .label-list {
  padding-left: 24px;
  font-size: 0;
}

.lecture-container .label-list .label {
  margin-left: 5px;
}

.lecture-container .label-list .label:first-child {
  margin-left: 0;
}

.lecture-container .label-list + .subject {
  margin-top: 8px;
}

.lecture-container .bundle {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.lecture-container .bundle-price {
  text-align: right;
}

.lecture-container .bundle .subject {
  position: relative;
  padding-left: 24px;
  font-size: 16px;
  color: #333334;
}

.lecture-container .bundle .subject a {
  position: relative;
  z-index: 1;
  display: block;
}

.lecture-container .bundle .subject span {
  color: #333334;
}

.lecture-container .bundle .info {
  margin-top: 5px;
  padding-left: 24px;
  vertical-align: top;
  font-size: 12px;
  color: #798bce;
}

.lecture-container .bundle .info span {
  position: relative;
  display: inline-block;
  margin-left: 8px;
  padding-left: 8px;
}

.lecture-container .bundle .info span:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 1px;
  height: 14px;
  margin-top: -7px;
  background-color: #798bce;
}

.lecture-container .bundle .info span:first-child {
  margin-left: 0;
  padding-left: 0;
}

.lecture-container .bundle .info span:first-child:before {
  display: none;
}

.lecture-container .bundle .price {
  display: inline-block;
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif !important;
}

.lecture-container .bundle .price + .price {
  margin-left: 5px;
}

.lecture-container .bundle .price-before {
  font-size: 13px;
  font-weight: 500;
  color: #999;
  text-decoration: line-through;
}

.lecture-container .bundle .price-before .unit {
  font-size: 11px;
  font-weight: 400;
}

.lecture-container .bundle .price-after {
  font-size: 18px;
  font-weight: 700;
  color: #333334;
}

.lecture-container .bundle .price-after .unit {
  font-size: 13px;
}

.lecture-container .bundle .price-discount {
  font-size: 13px;
  font-weight: 500;
  color: #d8552f;
}

.lecture-container .bundle a {
  position: relative;
  z-index: 1;
}

.lecture-container .bundle a.btn {
  width: 90px;
  margin-top: 6px;
  padding: 2px 10px;
}

.lecture-container .bundle a.btn:first-child {
  margin-top: 0;
}

.lecture-container .lecture-action {
  padding: 16px 24px;
  text-align: center;
  font-size: 0;
  background-color: #f5f7f9;
}

.lecture-container .lecture-action .btn {
  width: calc(50% - 2.5px);
  margin-left: 2.5px;
  padding: 7px 0;
}

.lecture-container .lecture-action .btn:first-child {
  margin-left: 0;
  margin-right: 2.5px;
}

.lecture-container .lecture-title {
  padding: 24px 16px 8px;
  text-align: left;
  font-size: 18px;
  font-weight: 700;
}

.lecture-container .lecture-detail {
  padding-bottom: 16px;
  background-color: #f4f4f6;
}

.lecture-container .detail-intro {
  background-color: #fff;
}

.lecture-container .detail-intro .core {
  margin: 16px 16px 0;
}

.lecture-container .detail-intro .bundle {
  display: block;
}

.lecture-container .detail-intro .bundle-link {
  width: auto;
  margin-top: 32px;
  font-size: 0;
}

.lecture-container .detail-intro .bundle-link .btn {
  margin-left: 8px;
  padding: 4px 0 5px;
  font-size: 13px;
}

.lecture-container .detail-intro .bundle-link .btn:first-child {
  margin-left: 0;
}

.lecture-container .detail-intro .bundle-link .btn:nth-child(1):nth-last-child(3), .lecture-container .detail-intro .bundle-link .btn:nth-child(2):nth-last-child(2), .lecture-container .detail-intro .bundle-link .btn:nth-child(3):nth-last-child(1) {
  width: calc(100%/3 - 5.5px);
}

.lecture-container .detail-intro .bundle-link .btn:nth-child(1):nth-last-child(2), .lecture-container .detail-intro .bundle-link .btn:nth-child(2):nth-last-child(1) {
  width: calc(50% - 4px);
}

.lecture-container .detail-intro .bundle-link .btn:only-child, .lecture-container .detail-intro .bundle-link .btn:nth-child(1):nth-last-child(1) {
  width: 100%;
}

.lecture-container .detail-intro .bundle .subject {
  padding-left: 0;
  font-size: 18px;
  white-space: normal;
}

.lecture-container .detail-intro .bundle .info {
  padding-left: 0;
  font-size: 12px;
}

.lecture-container .detail-intro .bundle .name {
  margin-top: 1.25rem;
  font-size: 16px;
}

@media screen and (min-width: 720px) {
  .lecture-container .detail-intro .bundle .name {
    margin-top: 40px;
  }
}

.lecture-container .detail-intro .item-teacher {
  height: 245px;
  text-align: center;
  background: url("//img.eduwill.net/resources/img/common/lecture/bg_lecture.png") no-repeat center top;
  background-size: cover;
}

.lecture-container .detail-intro .item-teacher img {
  width: auto;
  height: 100%;
}

.lecture-container .detail-intro .item-lecture {
  text-align: left;
}

.lecture-container .detail-intro .item-lecture .subject span {
  font-weight: 700;
}

.lecture-container .detail-intro .label-list {
  padding-left: 0;
}

.lecture-container .detail-info {
  padding: 16px 16px 32px;
  border-bottom: 1px solid #eaeaf4;
  background-color: #fff;
}

.lecture-container .detail-info .item-list {
  text-align: left;
  border: 1px solid #798bce;
}

.lecture-container .detail-info .item-title {
  display: block;
  width: auto;
  margin: 16px 0 0 24px;
  text-align: left;
  font-size: 12px;
  font-weight: 400;
  color: #666;
}

.lecture-container .detail-info .item-title + .core {
  margin-top: 6px;
}

.lecture-container .detail-info .item-lecture {
  padding: 0 16px;
}

.lecture-container .detail-info .item-lecture .subject span {
  font-weight: 500;
}

.lecture-container .detail-info .item-book {
  padding: 0 16px;
}

.lecture-container .detail-info .item-book .item-title {
  margin-top: 0;
  padding-top: 16px;
  border-top: 1px dashed #eaeaf4;
}

.lecture-container .detail-info .item-total {
  padding: 11px 16px 12px;
  background-color: #f5f7f9;
}

.lecture-container .detail-info .item-total .core {
  text-align: right;
  border: none;
  background: none;
}

.lecture-container .detail-info .item-total .bundle {
  display: inline-block;
}

.lecture-container .detail-info .item-total .bundle-info {
  float: left;
  padding-top: 5px;
}

.lecture-container .detail-info .item-total .bundle-info .subject {
  padding: 0;
  font-size: 13px;
}

.lecture-container .detail-info .item-total .bundle-info .subject:before {
  display: none;
}

.lecture-container .detail-info .item-total .bundle-price {
  float: right;
  margin-top: 0;
}

.lecture-container .detail-info .core + .core {
  padding-top: +px;
}

.lecture-container .detail-info .bundle-info .subject {
  position: relative;
  padding-left: 24px;
}

.lecture-container .detail-info .bundle-price {
  margin-top: 16px;
}

.lecture-container .detail-info .lecture-action {
  margin-top: 16px;
  padding: 0;
  background: none;
}

.lecture-container .detail-info .lecture-action .btn {
  margin-left: 8px;
  padding: 8px 0;
  font-size: 14px;
}

.lecture-container .detail-info .lecture-action .btn:first-child {
  margin-left: 0;
  margin-right: 0;
}

.lecture-container .detail-info .lecture-action .btn-tpass {
  font-size: 13px;
}

.lecture-container .detail-info .lecture-action .btn:nth-child(1):nth-last-child(3), .lecture-container .detail-info .lecture-action .btn:nth-child(2):nth-last-child(2), .lecture-container .detail-info .lecture-action .btn:nth-child(3):nth-last-child(1) {
  width: calc(100%/3 - 5.5px);
}

.lecture-container .detail-info .lecture-action .btn:nth-child(1):nth-last-child(2), .lecture-container .detail-info .lecture-action .btn:nth-child(2):nth-last-child(1) {
  width: calc(50% - 4px);
}

.lecture-container .detail-info .lecture-action .btn:only-child, .lecture-container .detail-info .lecture-action .btn:nth-child(1):nth-last-child(1) {
  width: 100%;
}

.lecture-container .detail-table {
  margin-top: 16px;
  border-bottom: 1px solid #eaeaf4;
  background-color: #fff;
}

.lecture-container .detail-table .lecture-tab a {
  border-top-color: #a9b2c5;
}

.lecture-container .detail-table .lecture-tab a.active {
  background-color: #a9b2c5;
}

.lecture-container .detail-table .table-section {
  display: none;
  margin: 0 16px;
  padding-bottom: 32px;
}

.lecture-container .detail-table .table-section.active {
  display: block;
}

.lecture-container .detail-table .table-section.fold .table-body {
  position: relative;
  overflow: hidden;
  max-height: 370px;
}

.lecture-container .detail-table .table-section.fold .table-body:after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2.8125rem;
  background: transparent;
  background: -webkit-gradient(linear, left bottom, left top, from(#fff), to(transparent));
  background: linear-gradient(0deg, #fff 0%, transparent 100%);
}

@media screen and (min-width: 720px) {
  .lecture-container .detail-table .table-section.fold .table-body:after {
    height: 90px;
  }
}

.lecture-container .detail-table .table-section.fold .table-action .btn-list-more span:after {
  content: '';
  position: absolute;
  top: 50%;
  display: block;
  width: 5px;
  height: 5px;
  margin-top: -2.5px;
  border-width: 0;
  border-style: solid;
  border-color: #666;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-bottom-width: 1px;
  border-right-width: 1px;
}

.lecture-container .detail-table .table-section-1 .row {
  margin-top: 16px;
}

.lecture-container .detail-table .table-section-1 .cell-desc {
  border-top: 1px solid #eaeaf4;
}

.lecture-container .detail-table .table-section-2 .table-col {
  border-bottom: 1px solid #eaeaf4;
}

.lecture-container .detail-table .table-section-2 .table-col .row {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.lecture-container .detail-table .table-section-2 .table-col .cell {
  display: table-cell;
  width: 20%;
  padding: 8px 0;
  text-align: center;
  vertical-align: middle;
}

.lecture-container .detail-table .table-section-2 .table-col .cell-desc {
  width: 60%;
  padding: 8px 9px;
  text-align: left;
  border-top: none;
}

.lecture-container .detail-table .table-section-2 .table-col .table-head .row {
  margin-top: 0;
  border-top: none;
}

.lecture-container .detail-table .table-section-2 .table-col .table-body .row:first-child {
  border-top-color: #333334;
}

.lecture-container .detail-table .table-section-3 .table {
  border-bottom: 1px solid #eaeaf4;
}

.lecture-container .detail-table .table-section-3 .table .table-body .row:first-child {
  border-top: none;
}

.lecture-container .detail-table .table-section-3 .table a {
  display: block;
  padding: 0 16px;
}

.lecture-container .detail-table .table-section-3 .table .cell {
  padding: 0;
}

.lecture-container .detail-table .table-section-3 .table .cell-desc {
  padding-top: 8px;
}

.lecture-container .detail-table .table-section .table-title {
  position: relative;
  margin: 24px 16px 0;
  text-align: left;
  font-size: 18px;
  font-weight: 700;
}

.lecture-container .detail-table .table-section .table-title .total {
  font-size: 14px;
  font-weight: 400;
  color: #999;
}

.lecture-container .detail-table .table-section .table-title .btn {
  position: absolute;
  top: 0;
  right: 0;
}

.lecture-container .detail-table .table-section .table {
  margin-top: 12px;
}

.lecture-container .detail-table .table-section .table-row .row {
  border-top: 0;
}

.lecture-container .detail-table .table-section .table-row .cell {
  text-align: left;
}

.lecture-container .detail-table .table-section .table-row .cell-desc {
  color: #666;
}

.lecture-container .detail-table .table-section .table-head .cell {
  text-align: center;
}

.lecture-container .detail-table .table-section .table-body .cell-rank,
.lecture-container .detail-table .table-section .table-body .cell-writer {
  display: inline-block;
  margin-top: 8px;
  padding: 0 0 12px;
}

.lecture-container .detail-table .table-section .table-body .cell-writer {
  padding-left: 8px;
}

.lecture-container .detail-table .table-section .table-body .cell-round {
  color: #666;
}

.lecture-container .detail-table .table-section .table-body .cell-writer,
.lecture-container .detail-table .table-section .table-body .cell-time {
  color: #999;
}

.lecture-container .detail-table .table-section .row {
  border-top: 1px solid #eaeaf4;
}

.lecture-container .detail-table .table-section .cell {
  padding: 8px 16px;
  text-align: center;
  font-size: 14px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.lecture-container .detail-table .table-section .cell:only-child {
  padding: 16px 0;
}

.lecture-container .detail-table .table-section .cell-title, .lecture-container .detail-table .table-section .table-head .cell {
  font-weight: 600;
}

.lecture-container .detail-table .table-section .cell-desc {
  text-align: left;
}

.lecture-container .detail-table .table-action {
  margin-top: 1.25rem;
  text-align: center;
}

@media screen and (min-width: 720px) {
  .lecture-container .detail-table .table-action {
    margin-top: 40px;
  }
}

.lecture-container .detail-table .table-action .btn-list-more {
  display: block;
  padding: 0.3125rem 1.25rem;
  font-size: 2.77778vw;
  font-weight: 400;
  color: #666;
  border: 1px solid #eaeaf4;
  background-color: #fff;
}

@media screen and (min-width: 720px) {
  .lecture-container .detail-table .table-action .btn-list-more {
    padding: 10px 40px;
  }
}

@media screen and (min-width: 720px) {
  .lecture-container .detail-table .table-action .btn-list-more {
    font-size: 20px;
  }
}

@media screen and (min-width: 720px) {
  .lecture-container .detail-table .table-action .btn-list-more {
    display: inline-block;
    font-size: 14px;
  }
}

.lecture-container .detail-table .table-action .btn-list-more span {
  position: relative;
  display: inline-block;
  padding-right: 15px;
}

.lecture-container .detail-table .table-action .btn-list-more span:after {
  content: '';
  position: absolute;
  top: 50%;
  display: block;
  width: 5px;
  height: 5px;
  margin-top: -2.5px;
  border-width: 0;
  border-style: solid;
  border-color: #666;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-top-width: 1px;
  border-left-width: 1px;
  right: 0;
  margin-top: -1px;
}

.dimmed {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.7);
}

.popup {
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 1001;
  display: none;
  width: 90%;
  max-width: 720px;
  letter-spacing: -1px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.popup * {
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
}

.popup-close a {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 40px;
  height: 40px;
}

.popup-close a:before, .popup-close a:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 20px;
  height: 1px;
  margin-left: -10px;
  background-color: #fff;
}

.popup-close a:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.popup-close a:after {
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
}

.popup-close a span {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

@media screen and (min-width: 720px) {
  .popup-close a {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 60px;
    height: 60px;
  }
  .popup-close a:before, .popup-close a:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 30px;
    height: 1px;
    margin-left: -15px;
    background-color: #fff;
  }
  .popup-close a:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .popup-close a:after {
    -webkit-transform: rotate(315deg);
    transform: rotate(315deg);
  }
  .popup-close a span {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 0px;
    height: 0px;
    margin: -1px;
    padding: 0;
    word-break: keep-all;
    white-space: nowrap;
    color: transparent;
    border: 0;
    text-indent: -9999px;
  }
}

.popup-content {
  text-align: left;
  background-color: #fff;
}

.popup-content .title {
  padding: 10px 5%;
  font-size: 4.16667vw;
  font-weight: 700;
  color: #fff;
  background-color: #333334;
}

@media screen and (min-width: 720px) {
  .popup-content .title {
    font-size: 30px;
  }
}

.popup-content .item-list {
  padding: 0.78125rem;
}

@media screen and (min-width: 720px) {
  .popup-content .item-list {
    padding: 25px;
  }
}

.popup-content .list {
  line-height: 1.4;
  font-size: 0;
  color: #333334;
  border-top: 1px solid #eaeaf4;
}

.popup-content .list:first-child {
  border-top-color: #eaeaf4;
}

.popup-content .list:last-child {
  border-bottom: 1px solid #eaeaf4;
}

.popup-content .item {
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  font-size: 3.33333vw;
  letter-spacing: -.5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (min-width: 720px) {
  .popup-content .item {
    font-size: 24px;
  }
}

.popup-content .item.subject {
  width: 20%;
}

.popup-content .item.desc {
  width: 80%;
}

.popup-content .item:only-child {
  display: block;
  width: 100%;
  max-height: 12.5rem;
  overflow-y: auto;
}

@media screen and (min-width: 720px) {
  .popup-content .item:only-child {
    max-height: 400px;
  }
}

.popup-content .item table {
  width: 100% !important;
  border-bottom: 1px solid #333334;
  border-right: 1px solid #333334;
}

.popup-content .item table th,
.popup-content .item table td {
  text-align: center;
  border-top: 1px solid #333334;
  border-left: 1px solid #333334;
}

.popup-content .item a {
  font-weight: 700;
  color: #333334;
}
/*# sourceMappingURL=teacher.css.map */