@charset "UTF-8";
.hidden,
.sr_only,
.sr-only {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.grid {
  position: relative;
  box-sizing: border-box;
  *zoom: 1;
}
.grid:before, .grid:after {
  content: "";
  display: table;
}
.grid:after {
  clear: both;
}
.grid .col {
  position: relative;
  float: left;
  box-sizing: border-box;
}

.table {
  display: table;
}
.table .table-cell {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

.product-eco .slider-contents .slick-dots {
  font-size: 0;
}
.product-eco .slider-contents .slick-dots li {
  display: inline-block;
}
.product-eco .slider-contents .slick-dots button {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 0;
  color: transparent;
  text-indent: -9999px;
  border: 0;
  background: none;
}

.effect-bounce-diagonal {
  -webkit-animation-name: effectBounceDiagonal;
          animation-name: effectBounceDiagonal;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
@-webkit-keyframes effectBounceDiagonal {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10px, -10px);
  }
}
@keyframes effectBounceDiagonal {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10px, -10px);
  }
}

.effect-bounce-updown {
  -webkit-animation-name: effectBounceUpDown;
          animation-name: effectBounceUpDown;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
@-webkit-keyframes effectBounceUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
@keyframes effectBounceUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.effect-extend, .product-eco .sector-title .flag {
  -webkit-animation-name: effectExtend;
          animation-name: effectExtend;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
@-webkit-keyframes effectExtend {
  0%, 100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
}
@keyframes effectExtend {
  0%, 100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
}

.effect-blink {
  -webkit-animation-name: effectBlink;
          animation-name: effectBlink;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: step-end;
          animation-timing-function: step-end;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
@-webkit-keyframes effectBlink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
@keyframes effectBlink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.product-eco .wide {
  position: relative;
  left: 50%;
  display: block;
  transform: translateX(-50%);
}

.promotion,
.product-eco,
.fullservice {
  text-align: center;
}
.promotion [class^=sector-],
.product-eco [class^=sector-],
.fullservice [class^=sector-] {
  position: relative;
}
.promotion .wrap,
.product-eco .wrap,
.fullservice .wrap {
  position: relative;
  margin: 0 auto;
}
.promotion .wrap-full,
.product-eco .wrap-full,
.fullservice .wrap-full {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

#fixApply.fix-apply {
  display: none !important;
}

.product-eco {
  overflow: hidden;
  text-align: center;
}
.product-eco * {
  line-height: normal;
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  letter-spacing: -1px;
}
.product-eco [class^=product-],
.product-eco .item {
  position: relative;
}
.product-eco .wrap {
  width: 1200px;
}
.product-eco button {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  font-family: inherit;
  text-decoration: none;
  border: none;
  background: transparent;
  outline: 0;
  cursor: pointer;
}
.product-eco .only-pc {
  display: block;
}
.product-eco .only-mobile {
  display: none;
}
.product-eco .icon-pointer {
  position: relative;
  display: inline-block;
}
.product-eco .icon-pointer:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 8%;
  z-index: 1;
  display: block;
  width: 8.3333333333vw;
  height: 9.1666666667vw;
  background: url("//img.eduwill.net/Img2/Common/icon/pointer/icon_pointer_12.png") no-repeat 0 0;
  background-size: 100% auto;
  -webkit-animation-name: pointerBounceDiagonal;
          animation-name: pointerBounceDiagonal;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
@media screen and (min-width: 720px) {
  .product-eco .icon-pointer:after {
    width: 60px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .icon-pointer:after {
    height: 66px;
  }
}
@-webkit-keyframes pointerBounceDiagonal {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10px, -10px);
  }
}
@keyframes pointerBounceDiagonal {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10px, -10px);
  }
}
.product-eco .fix-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 140px;
  z-index: 11;
  padding: 24px 0 0 0;
  background: rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
}
.product-eco .fix-bottom .wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-eco .fix-bottom .wrap strong {
  display: inline-block;
  font-size: 34px;
  font-weight: 900;
  color: #fff;
  letter-spacing: -2px;
  text-align: left;
  margin-left: 50px;
}
.product-eco .fix-bottom .wrap strong em {
  color: #ffbf00;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  letter-spacing: -2px;
}
.product-eco .fix-bottom .wrap a {
  margin-right: 50px;
}
.product-eco .fix-bottom .wrap a {
  position: relative;
  display: inline-block;
}
.product-eco .fix-bottom .wrap a:after {
  content: "";
  position: absolute;
  top: 60%;
  right: 0;
  z-index: 1;
  display: block;
  width: 7.9166666667vw;
  height: 9.0277777778vw;
  background: url("//img.eduwill.net/Img2/Common/icon/pointer/icon_pointer_12.png") no-repeat 0 0;
  background-size: 100% auto;
  -webkit-animation-name: pointerBounceDiagonal;
          animation-name: pointerBounceDiagonal;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
@media screen and (min-width: 720px) {
  .product-eco .fix-bottom .wrap a:after {
    width: 57px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .fix-bottom .wrap a:after {
    height: 65px;
  }
}
@-webkit-keyframes pointerBounceDiagonal {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10px, -10px);
  }
}
@keyframes pointerBounceDiagonal {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10px, -10px);
  }
}
.product-eco .fix-right {
  position: fixed;
  bottom: 200px;
  right: -25px;
  z-index: 99;
  box-sizing: border-box;
}
.product-eco p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #666;
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
}
.product-eco p.fly, .product-eco p.eco {
  position: absolute;
}
.product-eco .grounds-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.4);
}
.product-eco .asterisk {
  display: inline-block;
  font-weight: 300;
  font-size: 26px;
  color: rgb(34, 34, 34);
  vertical-align: top;
  padding-top: 7px;
}
.product-eco .point-1 {
  color: #979797;
}
.product-eco .point-2 {
  color: #ff0000;
}
.product-eco .slider-contents {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.product-eco .slider-contents .slick-dots {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
}
.product-eco .slider-contents .slick-dots li {
  margin: 0 3.5px;
}
.product-eco .slider-contents .slick-dots li button {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: #d7d7d7;
}
.product-eco .slider-contents .slick-dots li.slick-active button {
  width: 50px;
  background-color: #a07dda;
}
.product-eco .slider-contents .slick-arrow {
  border-radius: 50%;
}
.product-eco .slider-contents .slick-arrow.slick-prev {
  position: absolute;
  top: 50%;
  z-index: 10;
  display: block;
  width: 8.3333333333vw;
  height: 8.3333333333vw;
  margin: 0;
  padding: 0;
  font-size: 0;
  color: transparent;
  text-indent: -9999px;
  border: none;
  outline: none;
  cursor: pointer;
  transform: translateY(-50%);
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  left: 30px;
}
@media screen and (min-width: 720px) {
  .product-eco .slider-contents .slick-arrow.slick-prev {
    width: 60px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .slider-contents .slick-arrow.slick-prev {
    height: 60px;
  }
}
.product-eco .slider-contents .slick-arrow.slick-prev:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 2.0833333333vw;
  height: 2.0833333333vw;
  border-width: 0;
  border-style: solid;
  border-color: #fff;
  border-bottom-width: 2px;
  border-left-width: 2px;
  transform: translate(-25%, -50%) rotate(45deg);
}
@media screen and (min-width: 720px) {
  .product-eco .slider-contents .slick-arrow.slick-prev:before {
    width: 15px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .slider-contents .slick-arrow.slick-prev:before {
    height: 15px;
  }
}
.product-eco .slider-contents .slick-arrow.slick-next {
  position: absolute;
  top: 50%;
  z-index: 10;
  display: block;
  width: 8.3333333333vw;
  height: 8.3333333333vw;
  margin: 0;
  padding: 0;
  font-size: 0;
  color: transparent;
  text-indent: -9999px;
  border: none;
  outline: none;
  cursor: pointer;
  transform: translateY(-50%);
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  right: 30px;
}
@media screen and (min-width: 720px) {
  .product-eco .slider-contents .slick-arrow.slick-next {
    width: 60px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .slider-contents .slick-arrow.slick-next {
    height: 60px;
  }
}
.product-eco .slider-contents .slick-arrow.slick-next:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 2.0833333333vw;
  height: 2.0833333333vw;
  border-width: 0;
  border-style: solid;
  border-color: #fff;
  border-top-width: 2px;
  border-right-width: 2px;
  transform: translate(-75%, -50%) rotate(45deg);
}
@media screen and (min-width: 720px) {
  .product-eco .slider-contents .slick-arrow.slick-next:before {
    width: 15px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .slider-contents .slick-arrow.slick-next:before {
    height: 15px;
  }
}
.product-eco .slick-slide * {
  line-height: 1;
  font-size: 0;
  vertical-align: top;
}
.product-eco .sector-title {
  z-index: 1;
  background-color: #d9f6fe;
  background-image: url("//img.eduwill.net/eduwill/img/2023/_114/product/230221/pc/bg_title.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.product-eco .sector-title .wrap {
  height: 1300px;
}
.product-eco .sector-title .flag {
  position: absolute;
  top: 285px;
  right: 175px;
}
.product-eco .sector-title .flag .text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 80px;
  font-size: 30px;
  font-weight: 800;
  line-height: 1.2;
  color: #000;
}
.product-eco .sector-title .action {
  position: absolute;
  top: 135px;
  right: 54px;
  z-index: 3;
}
.product-eco .sector-title .action a {
  display: block;
  width: 134px;
  height: auto;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}
.product-eco .sector-title .action a::before {
  display: none;
}
.product-eco .sector-benefit .wrap {
  width: 1300px;
}
.product-eco .sector-banner {
  background: #009def;
}
.product-eco .sector-why-1 {
  padding-bottom: 160px;
  background: #e4f5ff;
}
.product-eco .sector-why-1 .common-teacher-box .common-teacher-title {
  color: #222 !important;
}
.product-eco .sector-why-1 .common-teacher-box .common-teacher-title .emphasize {
  color: #222 !important;
}
.product-eco .sector-why-1 .common-teacher-review-list .slick-dots li button {
  background-color: #7f7f7f !important;
}
.product-eco .sector-why-1 .common-teacher-review-list .slick-dots li.slick-active button {
  background-color: #ffc327 !important;
}
.product-eco .sector-video {
  background-color: #fff;
  background-image: url("//img.eduwill.net/eduwill/img/2023/_114/product/230221/pc/bg_video.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.product-eco .sector-video .video {
  position: absolute;
}
.product-eco .sector-video .video-1 {
  top: 198px;
  left: 30px;
}
.product-eco .sector-video .video-1 iframe {
  position: absolute;
  top: 0px;
  left: 22px;
  width: 568px;
  height: 332px;
}
.product-eco .sector-video .video-2 {
  top: 675px;
  right: 30px;
}
.product-eco .sector-video .video-2 iframe {
  position: absolute;
  top: 0px;
  left: 22px;
  width: 568px;
  height: 332px;
}
.product-eco .sector-why-2 {
  background: #fff;
}
.product-eco .sector-why-3 {
  background: #fffad6;
}
.product-eco .sector-item {
  padding: 140px 0;
}
.product-eco .sector-item .section-title {
  text-align: center;
  position: relative;
  line-height: 1.3;
  font-size: 50px;
  font-weight: 900;
  color: #000;
  letter-spacing: -2px;
}
.product-eco .sector-item .section-title .sub-title {
  font-size: 40px;
}
.product-eco .sector-item .section-title .main-title {
  font-size: 55px;
}
.product-eco .sector-item .section-title .main-desc {
  font-size: 14px;
  font-weight: 300;
  color: #a9a9a9;
}
.product-eco .sector-item .price-table {
  width: 100%;
  margin: 50px auto 0;
}
.product-eco .sector-item .price-table .notice {
  text-align: right;
  margin-bottom: 10px;
  color: #D9001B;
  font-size: 14px;
}
.product-eco .sector-item .price-table table {
  width: 515px;
  margin: 0 auto;
  text-align: left;
  color: #222;
  border-collapse: inherit !important;
  border-radius: 20px;
  box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, 0.2);
}
.product-eco .sector-item .price-table table [class^=row-] td {
  width: 100%;
  vertical-align: top;
  color: #222;
  border-style: solid;
  border-width: 0;
  border-right-width: 5px;
  border-left-width: 5px;
  background: #fff;
}
.product-eco .sector-item .price-table table [class^=row-] td.product-1 {
  border-color: #009def;
}
.product-eco .sector-item .price-table table [class^=row-] .cell {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 0 20px;
  vertical-align: top;
  line-height: 1.45;
  letter-spacing: -1.6px;
  box-sizing: border-box;
}
.product-eco .sector-item .price-table table [class^=row-] .dash {
  display: inline-block;
  vertical-align: top;
  line-height: 26px;
  font-weight: 400;
}
.product-eco .sector-item .price-table table [class^=row-].row-title td {
  font-size: 35px;
  font-weight: 900;
  border-top-width: 5px;
  border-radius: 20px 20px 0 0;
}
.product-eco .sector-item .price-table table [class^=row-].row-title td.product-1 {
  color: #009def;
}
.product-eco .sector-item .price-table table [class^=row-].row-title .cell {
  position: relative;
  padding-top: 50px;
  padding-left: 50px;
  padding-bottom: 40px;
}
.product-eco .sector-item .price-table table [class^=row-].row-price td.product-1 {
  background: #d9f0fd;
}
.product-eco .sector-item .price-table table [class^=row-].row-price .cell {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: left;
}
.product-eco .sector-item .price-table table [class^=row-].row-price .cell .flag {
  position: absolute;
  top: 0;
  right: 30px;
  background: #009def;
  display: inline-block;
  padding-top: 5px;
  width: 90px;
  height: 80px;
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  line-height: 1.3;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.product-eco .sector-item .price-table table [class^=row-].row-price .cell .flag::before {
  border-top: 22px solid #009def;
  border-left: 45px solid transparent;
  border-right: 45px solid transparent;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  bottom: -22px;
  width: 0;
}
.product-eco .sector-item .price-table table [class^=row-].row-price .cell .before-price {
  font-size: 24px;
  font-weight: 600;
  text-decoration: line-through;
  color: #959595;
}
.product-eco .sector-item .price-table table [class^=row-].row-price .cell .after-price {
  font-size: 28px;
  color: #000;
  font-weight: 600;
}
.product-eco .sector-item .price-table table [class^=row-].row-price .cell .after-price span {
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  font-size: 35px;
}
.product-eco .sector-item .price-table table [class^=row-].row-price .cell .txt {
  text-align: left;
  font-size: 20px;
  font-weight: 400;
}
.product-eco .sector-item .price-table table [class^=row-].row-price .other .cell {
  justify-content: flex-end;
}
.product-eco .sector-item .price-table table [class^=row-].row-program.program-1 td .cell:after {
  display: none;
}
.product-eco .sector-item .price-table table [class^=row-].row-program.program-1 td.blank {
  background: none;
}
.product-eco .sector-item .price-table table [class^=row-].row-program.program-2 td .cell p .noti {
  display: block;
  font-size: 20px;
  font-weight: 500;
  color: #b0b0b0;
}
.product-eco .sector-item .price-table table [class^=row-].row-program.program-3 td {
  border-bottom-width: 5px;
  border-radius: 0 0 20px 20px;
}
.product-eco .sector-item .price-table table [class^=row-].row-program.program-3 td .cell {
  padding-bottom: 45px;
}
.product-eco .sector-item .price-table table [class^=row-].row-program.program-3 td .desc {
  font-size: 16px;
  font-weight: 300;
  color: #000;
  opacity: 0.8;
  margin-top: 25px;
}
.product-eco .sector-item .price-table table [class^=row-].row-program .cell {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  color: #303030;
}
.product-eco .sector-item .price-table table [class^=row-].row-program .cell:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0px;
  left: 0px;
  display: block;
  height: 1px;
  background-color: #dcdcdc;
  margin: 0 30px;
}
.product-eco .sector-item .price-table table [class^=row-].row-program P {
  font-size: 24px;
  font-weight: 900;
  color: inherit;
}
.product-eco .sector-item .price-table table [class^=row-].row-program li {
  position: relative;
  margin-top: 10px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -1.5px;
}
.product-eco .sector-item .price-table table [class^=row-].row-program li:first-child {
  margin-top: 20px;
}
.product-eco .sector-item .price-action {
  width: 515px;
  margin: 0 auto;
  border-radius: 50px;
  margin-top: 50px;
  background: #f95600;
  background: linear-gradient(to right, #f95600 0%, #eb2000 100%);
  box-shadow: inset 1px 2px 1px rgba(255, 255, 255, 0.5), inset -1px -1px 1px rgba(255, 255, 255, 0.5), 1px 2px 1px rgba(255, 255, 255, 0.5);
}
.product-eco .sector-item .price-action .btn-apply {
  width: 100%;
  padding: 20px;
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  color: #fff;
  border-radius: 80px;
  box-sizing: border-box;
}
.product-eco .sector-item .price-action .btn-apply {
  position: relative;
  display: inline-block;
}
.product-eco .sector-item .price-action .btn-apply:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
  display: block;
  width: 8.3333333333vw;
  height: 9.1666666667vw;
  background: url("//img.eduwill.net/Img2/Common/icon/pointer/icon_pointer_12.png") no-repeat 0 0;
  background-size: 100% auto;
  -webkit-animation-name: pointerBounceDiagonal;
          animation-name: pointerBounceDiagonal;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-item .price-action .btn-apply:after {
    width: 60px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .sector-item .price-action .btn-apply:after {
    height: 66px;
  }
}
@-webkit-keyframes pointerBounceDiagonal {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10px, -10px);
  }
}
@keyframes pointerBounceDiagonal {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10px, -10px);
  }
}
.product-eco .sector-schedule {
  padding: 110px 0 90px;
  background: #f3f3f3;
}
.product-eco .sector-schedule .schedule-box {
  width: 1100px;
  margin: 0 auto;
}
.product-eco .sector-schedule .schedule-box .schedule-title {
  text-align: left;
  font-size: 55px;
  font-weight: 900;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 40px;
  color: #222;
}
.product-eco .sector-schedule .schedule-box .schedule-title .action {
  height: 30px;
}
.product-eco .sector-schedule .schedule-box .schedule-table {
  width: 100%;
  border: 2px solid #000;
  background: #fff;
}
.product-eco .sector-schedule .schedule-box .schedule-table tr {
  display: block;
  border-bottom: 1px solid #818181;
}
.product-eco .sector-schedule .schedule-box .schedule-table tr td {
  padding: 35px 0;
  font-size: 20px;
}
.product-eco .sector-schedule .schedule-box .schedule-table tr td.title {
  width: 185px;
  background: #ededed;
  color: #464646;
  font-weight: 600;
}
.product-eco .sector-schedule .schedule-box .schedule-table tr td.desc {
  text-align: left;
  padding-left: 65px;
  color: #222;
}
.product-eco .sector-schedule .schedule-box .schedule-notice {
  font-weight: 300;
  text-align: right;
  font-size: 14px;
  color: #818181;
  margin-top: 15px;
}/*# sourceMappingURL=web.css.map */