@charset "UTF-8";
/* 컨텐츠 */
.product-eco #edoContent2 .ecoCont3 {
  display: none;
}
.product-eco[data-type="2466"] #edoContent2 .ecoCont3, .product-eco[data-type="2467"] #edoContent2 .ecoCont3 {
  display: block !important;
}
.product-eco[data-type="2466"] #edoContent2 .ecoCont3 .wrap, .product-eco[data-type="2467"] #edoContent2 .ecoCont3 .wrap {
  margin: 0 auto;
}
.product-eco[data-device=pc] #edoContent2 #eduf-paragraph {
  margin-bottom: 0;
}
.product-eco[data-device=pc] #edoContent2 .ecoCont1 .btn-reason {
  top: 270px;
  right: 0;
  color: #8a8a8a;
  border-color: #8a8a8a;
}
.product-eco[data-device=pc] #edoContent2 .ecoCont1 .btn-reason::after {
  border-color: #8a8a8a;
}
.product-eco[data-device=pc] #edoContent2 .ecoCont1 .wrap {
  padding-top: 90px;
}
.product-eco[data-device=pc] #edoContent2 .ecoCont2 {
  position: relative;
  background: #f4f4f4;
  background: linear-gradient(0deg, rgb(244, 244, 244) 0%, rgb(255, 255, 255) 20%);
}
.product-eco[data-device=pc] #edoContent2 .ecoCont2 .review-wrap {
  overflow: hidden;
  position: relative;
  opacity: 0.2;
  text-align: left;
}
.product-eco[data-device=pc] #edoContent2 .ecoCont2 .review-wrap .review-list {
  transform: perspective(640px) rotateX(40deg);
  width: 1100px;
  height: 802px;
  margin: 100px auto 0;
}
.product-eco[data-device=pc] #edoContent2 .ecoCont2 .review-wrap .review-list .item {
  padding: 15px 0;
  font-size: 16px;
}
.product-eco[data-device=pc] #edoContent2 .ecoCont2 .review-wrap .review-list .item + .item {
  margin-left: 4%;
}
.product-eco[data-device=pc] #edoContent2 .ecoCont2 .review-wrap .review-list .item span {
  font-size: inherit;
  display: inline-block;
}
.product-eco[data-device=pc] #edoContent2 .ecoCont2 .review-wrap .review-list .item span:nth-child(1) {
  width: 20%;
  text-align: center;
}
.product-eco[data-device=pc] #edoContent2 .ecoCont2 .review-wrap .review-list .item span:nth-child(2) {
  width: 70%;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product-eco[data-device=pc] #edoContent2 .ecoCont2 .review-wrap .review-list .item span:nth-child(3) {
  width: auto;
}
.product-eco[data-device=pc] #edoContent2 .ecoCont2 .review-wrap .review-list .item span:nth-child(4) {
  float: right;
}
.product-eco[data-device=pc] #edoContent2 .ecoCont2 .wrap {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.product-eco[data-device=pc] #edoContent2 .ecoCont2 .btn {
  position: absolute;
  top: 322px;
  left: 30px;
}
.product-eco[data-device=mo] #edoContent2 .ecoCont0 {
  background-color: #3D086D;
}
.product-eco[data-device=mo] #edoContent2 .ecoCont0:after {
  content: "";
  position: absolute;
  margin: 0 auto;
  z-index: 5;
  left: 0;
  right: 0;
  top: auto;
  bottom: -10.4166666667vw;
  width: 46.1111111111vw;
  height: 10.4166666667vw;
  background: url("https://img.eduwill.net/eduwill/img/2022/_113/product/module/mobile/2467/after_bar.png") no-repeat 50% 50%;
  background-size: cover;
}
@media screen and (min-width: 720px) {
  .product-eco[data-device=mo] #edoContent2 .ecoCont0:after {
    bottom: -75px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco[data-device=mo] #edoContent2 .ecoCont0:after {
    width: 332px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco[data-device=mo] #edoContent2 .ecoCont0:after {
    height: 75px;
  }
}
.product-eco[data-device=mo] #edoContent2 .ecoCont1 {
  padding-top: 19.4444444444vw;
}
@media screen and (min-width: 720px) {
  .product-eco[data-device=mo] #edoContent2 .ecoCont1 {
    padding-top: 140px;
  }
}
.product-eco[data-device=mo] #edoContent2 .ecoCont1 .btn-reason {
  top: -4%;
}
.product-eco[data-device=mo] #edoContent2 .ecoCont2 {
  background: #f4f4f4;
  background: linear-gradient(0deg, rgb(244, 244, 244) 0%, rgb(255, 255, 255) 20%);
}
.product-eco[data-device=mo] #edoContent2 .ecoCont2 .review-wrap {
  overflow: hidden;
  position: relative;
  opacity: 0.3;
  text-align: left;
}
.product-eco[data-device=mo] #edoContent2 .ecoCont2 .review-wrap .review-list {
  transform: perspective(640px) rotateX(40deg);
  width: 97.2222222222vw;
  height: 130.5555555556vw;
  margin: 13.8888888889vw auto 0;
}
@media screen and (min-width: 720px) {
  .product-eco[data-device=mo] #edoContent2 .ecoCont2 .review-wrap .review-list {
    width: 700px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco[data-device=mo] #edoContent2 .ecoCont2 .review-wrap .review-list {
    height: 940px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco[data-device=mo] #edoContent2 .ecoCont2 .review-wrap .review-list {
    margin: 100px auto 0;
  }
}
.product-eco[data-device=mo] #edoContent2 .ecoCont2 .review-wrap .review-list .item {
  padding: 2.0833333333vw 0;
  font-size: 1.9444444444vw;
}
@media screen and (min-width: 720px) {
  .product-eco[data-device=mo] #edoContent2 .ecoCont2 .review-wrap .review-list .item {
    padding: 15px 0;
  }
}
@media screen and (min-width: 720px) {
  .product-eco[data-device=mo] #edoContent2 .ecoCont2 .review-wrap .review-list .item {
    font-size: 14px;
  }
}
.product-eco[data-device=mo] #edoContent2 .ecoCont2 .review-wrap .review-list .item + .item {
  margin-left: 4%;
}
.product-eco[data-device=mo] #edoContent2 .ecoCont2 .review-wrap .review-list .item span {
  font-size: inherit;
  display: inline-block;
}
.product-eco[data-device=mo] #edoContent2 .ecoCont2 .review-wrap .review-list .item span:nth-child(1) {
  width: 10%;
  text-align: left;
}
.product-eco[data-device=mo] #edoContent2 .ecoCont2 .review-wrap .review-list .item span:nth-child(2) {
  width: 70%;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product-eco[data-device=mo] #edoContent2 .ecoCont2 .review-wrap .review-list .item span:nth-child(3) {
  width: auto;
}
.product-eco[data-device=mo] #edoContent2 .ecoCont2 .review-wrap .review-list .item span:nth-child(4) {
  float: right;
}
.product-eco[data-device=mo] #edoContent2 .ecoCont2 .wrap {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.product-eco[data-device=mo] #edoContent2 .ecoCont2 .btn {
  position: absolute;
  bottom: 18.0555555556vw;
  left: 50%;
  transform: translateX(-50%);
  width: 72.2222222222vw;
}
@media screen and (min-width: 720px) {
  .product-eco[data-device=mo] #edoContent2 .ecoCont2 .btn {
    bottom: 130px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco[data-device=mo] #edoContent2 .ecoCont2 .btn {
    width: 520px;
  }
}/*# sourceMappingURL=module_contents2.css.map */