@charset "utf-8";

.inner:after{content:'';display:block;clear:both;}
.eduList{float:left;width:48.5%;}
.eduList:first-child{margin-right:30px;}

.eduList .tit{position:relative;}
.eduList .tit span{position:absolute;right:0;top:0;display:block;color:#888;font-size:13px;font-family: 'Noto Sans KR';font-weight:300;}

@media screen and (max-width: 1399px) {
	.eduList{width:48%;}
	.eduList .tit span{font-size:12px;}
}


.eduInfo{background-color:#f5f7f9;padding:30px;}

.eduInfo .point {line-height: 1;margin-bottom:15px;}
.eduInfo .point:after {content:""; display:block; clear:both;}
.eduInfo .point .p1 {float:left;font-size:16px; color:#333; font-weight:400; padding-left:20px;}
.eduInfo .point .p1 a{margin-left:-20px;display:inline-block;padding:5px 10px;background-color:#fff;border:1px solid #2f6bda;border-radius:4px;color:#2f6bda;font-size:13px;font-family: 'Noto Sans KR';}
.eduInfo .point .p2 {float:right;padding-right:20px;}
.eduInfo .point strong {font-size:16px; color:#333; font-weight:900;  font-family: 'Noto Sans KR';vertical-align:-1px;}
.eduInfo .point strong em {font-size:20px; font-family:'Verdana'; font-weight:700; margin-right:5px; letter-spacing:-1px; }

.eduInfo .point_box{line-height: 1;background-color:#fff;border:2px solid #dcdcdc;padding:12px 20px;box-sizing: border-box;width:100%;}
.eduInfo .point_box:after {content:""; display:block; clear:both;}
.eduInfo .point_box .p1 {position:relative;top:10px;width:30%;float:left;font-size:16px; color:#333;font-family: 'Noto Sans KR'; font-weight:400;}
.eduInfo .point_box .p2 {float:right; text-align:right;width:70%;}
.eduInfo .point_box strong {font-size:16px; color:#333; font-weight:900; font-family: 'Noto Sans KR';vertical-align:-1px;}
.eduInfo .point_box input {font-size:20px; color:#333; font-family:'Verdana'; font-weight:700;  letter-spacing:-1px;text-align:right;width:50%;margin-right:5px; }

.eduInfo .btn_box{text-align:center;margin-top:30px;}
.eduInfo .btn {display:inline-block; padding:10px 20px; font-size:16px; font-family: 'Noto Sans KR';font-weight:400; border-radius:4px; margin-left:14px;box-sizing: border-box;}
.eduInfo .btn.b2 {color:#9ca1a5; background:#e4e7e9}
.eduInfo .btn.b2 span {background:url(//img.eduwill.net/resources/myroom/library/images/icon_change_off.png) no-repeat 0 50%; padding-left:27px}
.eduInfo .btn.b3 {color:#fff; background:#2f6bda;}
.eduInfo .btn.b3 span {background:url(//img.eduwill.net/resources/myroom/library/images/icon_change_w.png) no-repeat 0 50%; padding-left:27px}

.mystatus_m{display:none;}



@media screen and (max-width: 768px) {
	h2.tit{color:#4e4e4e;font-size:4.44vw;font-weight:700;height:auto;}
	.mystatus_m{display:block;width:91.1111%;margin:0 auto;}
	.mystatus_m .mymoney{padding:5% 0;margin-top:5%;background-color:#f5f7f9;text-align:center;font-size:5.27vw;color:#2f6bda;font-weight:900; font-family: 'Noto Sans KR';}
	.mystatus_m .mymoney em{font-size:6.6vw; font-family:'Verdana'; font-weight:700; margin-right:5px; letter-spacing:-1px; }
	
	.inner{width:91.1111%;margin:0 auto;}
	.eduList{width:100%;margin-top:10%;}
	.eduList:first-child{margin-right:0;}
	.eduList .tit span{position:relative;left:0;top:0;font-size:3vw;margin-top:2%;}

	.eduInfo{margin-top:5%;padding:7% 5%;}
	.eduList:first-child .eduInfo{margin-top:7%;}

	.eduInfo .point .p1{font-size:3.61vw;}
	.eduInfo .point .p1 a{font-size:3.61vw;padding:5px 20px;}
	.eduInfo .point strong{font-size:4vw;}
	.eduInfo .point strong em{font-size:4vw;}
	.eduInfo .point_box input{font-size:4vw;height:auto;margin-right:0;width:70%;}

	.eduInfo .point_box .p1{font-size:3.61vw;width:40%;top:20px;}
	.eduInfo .point_box strong{font-size:4vw;}
	.eduInfo .point_box strong em{font-size:5.55vw;}
	.eduInfo .point_box .p2{width:60%;}

	.eduInfo .btn{font-size:3.88vw;}
	.eduInfo .btn.b2 span {background:url(//img.eduwill.net/resources/myroom/library/images/icon_change_m2.png) no-repeat 0 50%; padding-left:35px}
	.eduInfo .btn.b3 span {background:url(//img.eduwill.net/resources/myroom/library/images/icon_change_m.png) no-repeat 0 50%;padding-left:35px; }

	input[type="text"], input[type="number"], input[type="password"] {height:70px;line-height:70px;}

}

@media screen and (max-width: 767px) {
	input[type="text"], input[type="number"], input[type="password"] {height:40px;line-height:40px;}
	.eduInfo .point_box .p1{top:15px;}
}

.layerWrap{width:360px;border:none;}
.layerWrap .top{display:none;}
.layerWrap .cont{padding: 10% 7%;box-sizing: border-box;}
.layerWrap .tit{color:#333;font-size:18px;text-align:center;font-weight:700;font-family: 'Noto Sans KR';margin-bottom:30px;}
.layerWrap .pwd_box{background-color:#f5f7f9;padding:7% 5%;}
.layerWrap .pwd_box input{border:2px solid #dcdcdc;background-color:#fff;font-size:20px;font-weight:700;font-family: 'Noto Sans KR';width:100%;text-align:center;}
.layerWrap .btn_box{text-align:center;font-size:0;margin-top:5%;}
.layerWrap .btn_box>a{display:inline-block;text-align:center;background-color:#2f6bda;color:#fff;font-size:13px;font-family: 'Noto Sans KR';padding:3% 0;width:100px;border-radius:5px;margin:0 8px;}
.layerWrap .btn_box>a.btn_cancel{background-color:#56595f;}

@media screen and (max-width: 768px) {
	
	.layerWrap{width:100%;}
	.layerWrap .tit{font-size:4.44vw;}
	.layerWrap .top{display:block;border:none;padding-bottom:0;}
	.layerWrap .top .tit{text-align:left;margin-bottom:0;}
	.layerWrap .btn_box>a{width:30%;font-size: 3.88vw;}
	.layerWrap .btn_box>a.btn_cancel{display:none;}
}


