@charset "utf-8";
.layerSurveyDim{position:fixed;left:0;top:0;width:100%;height:100%;background-color: rgba( 0, 0, 0, 0.6);z-index: 1002;}

#layer_survey {position: absolute; top:15%; left: 50%; z-index: 1; width:570px;margin: 0 0 0 -285px;border:1px solid #4a5470;z-index: 1003; font-family: 'Noto Sans KR', '맑은 고딕', 'Malgun Gothic', 'Apple SD Gothic Neo', 'Dotum', '돋움', 'Gulim', '굴림', '굴림체', Sans-Serif; }
#layer_survey *,
#layer_survey *:before,
#layer_survey *:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0;line-height:100%;}
#layer_survey img{border:0;vertical-align:top;line-height:0;font-size:0;}
#layer_survey a{text-decoration:none;}

#layer_survey .popup_close{position: absolute; right:20px; top:20px;}
#layer_survey .layer_cont{background-color:#fff; padding:60px 30px 40px;letter-spacing:-1px;}
#layer_survey .layer_cont .popup_tit{color:#000;font-size:24px;line-height:130%;font-weight:500; text-align:center;}
#layer_survey .layer_cont .popup_tit .highlight{color:#ff5000}
#layer_survey .layer_cont .popup_cont{margin-top:40px;}
#layer_survey .layer_cont .popup_cont .scroll_box{height:500px;overflow-y:auto;overflow-x:hidden;background-color:#f5f7f9;padding:30px 30px 10px;}
#layer_survey .layer_cont .popup_cont dl{margin-top:10px;}
#layer_survey .layer_cont .popup_cont dt{color:#333;font-size:15px;font-weight:500; }
#layer_survey .layer_cont .popup_cont dt span{letter-spacing:-1px;}
#layer_survey .layer_cont .popup_cont dt .point1,
#layer_survey .layer_cont .popup_cont dt .point2{color:#f00;font-size:12px;}
#layer_survey .layer_cont .popup_cont dd{position:relative;margin-top:15px;margin-bottom:30px;}
#layer_survey .layer_cont .popup_cont dd label{display:block;margin-bottom:10px;color:#333;font-size:14px;font-weight:300;padding-left:5px; }
#layer_survey .layer_cont .popup_cont .ta{resize:none;overflow-y:auto;margin:0;padding:0;width:100%;height:100px;color:#888; font-family: 'Noto Sans KR'; font-size:14px; padding:15px;line-height:130%;text-align:left;border:0;}
#layer_survey .layer_cont .popup_cont .radio_list { list-style: none; font-size: 0; }
#layer_survey .layer_cont .popup_cont .radio_list li { display: inline-block; margin-left: 10px; }
#layer_survey .layer_cont .popup_cont .radio_list label { padding-left: 0; cursor: pointer; }
#layer_survey .layer_cont .popup_cont .radio_list input { vertical-align: top; cursor: pointer; }
#layer_survey .layer_cont .score { margin-bottom: 10px; font-size: 15px; color: #666; }
#layer_survey .layer_cont .icon { display: inline-block; margin-left: 10px; vertical-align: top; }
#layer_survey .layer_cont .icon .i-star { cursor: pointer; display: inline-block; width: 16px; height: 15px; vertical-align: top; text-indent: -999px; font-size: 0; background: url('//img.eduwill.net/resources/myroom/library/images/icon_star_off2.png') no-repeat 0 0; }
#layer_survey .layer_cont .icon .i-star.on { background-image: url('//img.eduwill.net/resources/myroom/library/images/icon_star_on.png'); }

/* IE10 이상에서 input box 에 추가된 지우기 버튼 제거 */
#layer_survey .layer_cont .popup_cont input::-ms-clear { display: none; }

/* input type number 에서 화살표 제거 */
#layer_survey .layer_cont .popup_cont input[type=number]::-webkit-inner-spin-button,
#layer_survey .layer_cont .popup_cont input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

#layer_survey .layer_cont .popup_cont select { border-radius: 0; -webkit-appearance: none; -moz-appearance: none; appearance: none; outline: none; }
#layer_survey .layer_cont .popup_cont select::-ms-expand{ display: none;}

#layer_survey .layer_cont .popup_cont input[type='radio'],
#layer_survey .layer_cont .popup_cont input[type='checkbox']{width:15px;height:15px;}

#layer_survey .layer_cont .popup_cont input[type='text'],
#layer_survey .layer_cont .popup_cont input[type='number'],
#layer_survey .layer_cont .popup_cont select{ margin:0;padding:0;padding-left:10px;width:100%;height:28px;line-height:28px;color:#888;font-size:14px;font-family: 'Noto Sans KR';text-align:left;border:0;
border-radius: 0; color: #888;-webkit-box-sizing: border-box; box-sizing: border-box;}
#layer_survey .layer_cont .popup_cont select{background: #fff url('//img.eduwill.net/Img2/mobile2/brand_new/common/icon_select_arrow.png') no-repeat 97% center;background-size: 8px; }

#layer_survey .layer_cont .popup_btn .btn_request{display:block;padding:16px 0 15px;color:#fff;font-size:15px;font-weight:400; background-color:#ff5000;text-align:center;}

#layer_survey .layer_check{text-align:right;background-color:#eeeeee;padding:10px 25px;}
#layer_survey .layer_check a{display:inline-block;color:#666666;font-weight:400;font-size:12px;}
#layer_survey .layer_check a:first-child{position:relative;padding-right:10px;margin-right:5px;}
#layer_survey .layer_check a:first-child:after{content:'';position:absolute;right:0;top:50%;margin-top:-5px;width:1px;height:10px;background-color:#aaaaaa;}

#layer_survey .textLimitByte{position:absolute;right:7px;top:106px;color:#888;font-size:14px;}
#layer_survey .reviewMessage{text-align:left;color:#888;font-size:13px;margin-top:7px;}