/*----- visual -----*/
.visual-wrap {position:relative;width: 100%; height:100%;}
.visual-wrap .visual{position:relative;min-width:1200px;height:950px;overflow:hidden;background:#111828}
.visual-wrap .visual::before{content: ''; position: absolute; top:0; left: 0; width: 100%; height: 100%;  background: #050a17; opacity: 0.8; animation: fadein02  0.5s 3s ease-in both; z-index: 2;}

/* visual - scene01 */
.visual-wrap .scene01{background:url("https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_omega/scene01_bg.jpg") no-repeat center top; width: 100%; height: 950px; position: absolute; top:0; left: 0; overflow: hidden; z-index: 1;}
.visual-wrap .scene01 p.obj-book{position: absolute; top: 50%; left: 50%; transform: translate(-52%, -57%);}

/* visual - scene02 */
.visual-wrap .scene02{background: url("https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_omega/scene02_bg.jpg") no-repeat center top; width: 100%; height: 950px; position: absolute; top:0; left: 0; z-index: 2; overflow: hidden;animation: fadein  0.5s 0.5s ease-in both; }
.visual-wrap .scene02::after{content: ''; position: absolute; top:0; left: 0; width: 100%; height: 100%; background: url("https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_omega/scene02_window.png") no-repeat center top; animation: fadein  0.5s 3s ease-in both; z-index: 2;}

.visual-wrap .scene02 .obj-book{background: url("https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_omega/scene02_book.png") no-repeat center top; width: 395px; height: 412px; position: absolute; top: 50%; left: 50%; transform: translate(-52%, -57%); mix-blend-mode: screen;}
.visual-wrap .scene02 .obj-box01{width: 505px; position: absolute; top:240px; left: 0;}
.visual-wrap .scene02 .obj-box01 .obj-circle{position: absolute; top:118px; right: 0; width: 31px; height: 36px; background: url("https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_omega/scene02_circle01.png") no-repeat center top; animation: fadein 0.5s 0.5s linear both; mix-blend-mode: screen; }

.visual-wrap .scene02 .line{width: 0; height: 2px; background: #19d7ed; mix-blend-mode: screen;}
.visual-wrap .scene02 .obj-box01 .line01{position: absolute; top:128px; right: 30px; animation: scene02Line01_1  0.3s 0.6s ease-in both; transform: rotate(25deg); transform-origin: right;}
.visual-wrap .scene02 .obj-box01 .line02{position: absolute; top:100px; right: 90px; animation: scene02Line01_2  0.3s 0.8s ease-in both; transform-origin: right;}
.visual-wrap .scene02 .obj-box01 .obj{position: absolute; top:0; left: 0; animation: scaleInCenter 1s 1.1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; }

.visual-wrap .scene02 .obj-box02{width: 405px; position: absolute; top:567px; left: 122px;}
.visual-wrap .scene02 .obj-box02 .obj-circle{position: absolute; top:-19px; right: 0; width: 28px; height: 27px; background: url("https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_omega/scene02_circle02.png") no-repeat center top; animation: fadein 0.5s 0.5s linear both; mix-blend-mode: screen; }
.visual-wrap .scene02 .obj-box02 .line01{position: absolute; top:2px; right: 24px; animation: scene02Line02_1  0.3s 0.6s ease-in both; transform: rotate(-26deg); transform-origin: right;}
.visual-wrap .scene02 .obj-box02 .line02{position: absolute; top:40px; right: 101px; animation: scene02Line02_2  0.3s 0.8s ease-in both; transform-origin: right;}
.visual-wrap .scene02 .obj-box02 .obj{position: absolute; top:0; left: 0; animation: scaleInCenter 1s 1.1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; }

.visual-wrap .scene02 .obj-box03{width: 482px;position: absolute; top:408px; right: -2px;}
.visual-wrap .scene02 .obj-box03 .obj-circle{position: absolute; top:66px; left: 0; width: 39px; height: 40px; background: url("https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_omega/scene02_circle03.png") no-repeat center top; animation: fadein 0.5s 0.5s linear both; mix-blend-mode: screen; }
.visual-wrap .scene02 .obj-box03 .line{position: absolute; top:86px; left: 36px; animation: scene02Line03  0.3s 0.8s ease-in both; transform-origin: right;}
.visual-wrap .scene02 .obj-box03 .obj{position: absolute; top:0; right: 0; animation: scaleInCenter 1s 1.1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;}

.visual-wrap .scene02 .scene02-tit01{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%) scaleX(1.7); animation: scene02title01 1s 3.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both, scene02titleUp  ease  1s 5s forwards; transform-origin: center; z-index: 3;}
.visual-wrap .scene02 .scene02-tit02{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); animation: fadein 1.5s 6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; z-index: 3;}

/* visual - scene03 */
.visual-wrap .scene03{background: url("https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_omega/scene03_bg.jpg") no-repeat center top; width: 100%; height: 950px; position: absolute; top:0; left: 0; z-index: 4; overflow: hidden;animation: fadein  0.5s 8s ease-in both; background-size: 100% 100%; opacity: 0; }
.visual-wrap .scene03::before{content: ''; background: url("https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_omega/scene03_bg_back.jpg") no-repeat center top; width: 100%; max-width: 2000px; height: 950px; position: absolute; top:0; left: 50%; transform: translateX(-50%);z-index: 5; overflow: hidden;animation: fadein  0.5s 7s ease-in both; background-size: auto 100%;}
.visual-wrap .scene03::after{content: ''; background: url("https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_omega/scene03_bg_front.jpg") no-repeat center top;width: 100%; max-width: 2000px; height: 950px; position: absolute; top:0; left: 50%; transform: translateX(-50%); z-index: 5; overflow: hidden;animation: fadein  0.5s 9.5s ease-in both, fadein  0.7s 12.5s linear infinite alternate; background-size: auto 100%;}
.visual-wrap .scene03 .scene03-tit01{position: absolute; top:307px; left: 50%; transform: translateX(-50%); z-index: 6; animation: scene03title  0.5s 8.5s ease-in both;}
.visual-wrap .scene03 .scene03-tit02{position: absolute; top:350px; left: 50%; transform: translateX(-50%); z-index: 6; animation: fadein 0.5s 9s ease-in both;}
.visual-wrap .scene03 .scene03-tit03{position: absolute; top:652px; left: 50%; transform: translateX(-50%); z-index: 6; animation: fadein 0.5s 9s ease-in both;}

@keyframes scene02Line01_1 {
    0% {opacity: 0; width: 0; right: 0;}
    100% {opacity: 1; width: 68px; right: 30px;}
 }
 @keyframes scene02Line01_2 {
    0% {opacity: 0; width: 0; right: 90px;}
    100% {opacity: 1; width: 49px; right: 90px;}
 }
 
 @keyframes scene02Line02_1 {
    0% {opacity: 0; width: 0; right: 24px;}
    100% {opacity: 1; width: 86px; right: 24px;}
 }
 @keyframes scene02Line02_2 {
    0% {opacity: 0; width: 0; right: 101px;}
    100% {opacity: 1; width: 32px; right: 101px;}
 }
 @keyframes scene02Line03 {
    0% {opacity: 0; width: 0; left: 36px;}
    100% {opacity: 1; width: 86px; left: 36px;}
 }
 
 @keyframes scene02title01 {
    0% {
       transform: translate(-50%, -50%) scaleX(1.7);
       transform-origin: center;
       opacity: 0;
    }
    100% {
       transform: translate(-50%, -50%) scaleX(1);
       transform-origin: center;
       opacity: 1;
    }
 }
 
 @keyframes scene02titleUp {
    0% {
       transform: translate(-50%, -50%) scaleX(1);
       transform-origin: center;
       opacity: 1;
    }
    100% {
       transform: translate(-50%, -100%) scaleX(1);
       transform-origin: center;
       opacity: 0;
    }
 }
 @keyframes scene03title {
    0% {
       transform: translate(-50%, -50%);
       transform-origin: center;
       opacity: 0;
    }
    100% {
       transform: translate(-50%, -100%);
       transform-origin: center;
       opacity: 1;
    }
 }
 
 @keyframes scaleInCenter {
    0% {
       transform: scale(0);
       opacity: 1;
    }
    100% {
       transform: scale(1);
       opacity: 1;
    }
 }
 
 @keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }
 
 @keyframes fadein02 {
    0% {opacity: 0;}
    100% {opacity: 0.8;}
 }
 
/* fixmenu */
.omega-wrap .fix-menu {z-index:8;position:absolute;top:0;display:flex;justify-content:center;align-items:center;width:100%;box-sizing:border-box;background:transparent;}
.omega-wrap .fix-menu.fix {z-index:11;position:fixed;/*top:99px;*/top:0;left:0}
.omega-wrap .fix-menu.fix.fix-top{top:0 !important; }
.omega-wrap .fix-menu .menu {display:flex;justify-content:center;align-items:center;width:1020px;flex-basis: auto;}
.omega-wrap .fix-menu .menu a {height:96px; line-height: 1.3; display:flex;align-items:center;justify-content:center;flex-direction:column;text-align:center; position: relative; font-size:0;}
.omega-wrap .fix-menu .menu a::after{content: ''; position: absolute; top:50%; right:0;width: 1px; height: 28px; background: #C1C1C1; transform: translateY(-50%)}
.omega-wrap .fix-menu .menu a.on{border-left:none}
.omega-wrap .fix-menu .menu a.on + a {border-left:none}
.omega-wrap .fix-menu .menu a:first-child{background: #ffffff url("https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_omega/menu01_off.png") no-repeat center center; width: 390px;border-bottom-left-radius:30px;}
.omega-wrap .fix-menu .menu a:nth-of-type(2){background: #ffffff url("https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_omega/menu02_off.png") no-repeat center center;width: 362px;}
.omega-wrap .fix-menu .menu a:last-child{background: #ffffff url("https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_omega/menu03_off.png") no-repeat center center; width: 264px; border-bottom-right-radius:30px;}
.omega-wrap .fix-menu .menu a:last-child::after{content: ''; display: none;}
.omega-wrap .fix-menu .menu a.on:first-child{background: #ffffff url("https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_omega/menu01_on.png") no-repeat center center;}
.omega-wrap .fix-menu .menu a.on:nth-of-type(2){background: #ffffff url("https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_omega/menu02_on.png") no-repeat center center;}
.omega-wrap .fix-menu .menu a.on:last-child{background: #ffffff url("https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_omega/menu03_on.png") no-repeat center center;}


/*----- content -----*/
/* table common */
table {width:100%;border-top:1px solid #dfdfdf;}
table thead tr:first-child th:first-child, table tbody th:first-child {border-left:none!important}
table th, table td {text-align:center;font-size:16px;font-weight:400;vertical-align: middle;border-left:1px solid #dfdfdf;color:#1d1d1b;background-color:#fff;}
table th, table td p{font-size:15px;}
table th, table td .other-txt {font-size:14px;}
table .bg-sky td, table .bg-sky {background-color:#f1f4f9!important;}
table .bg-gray th, table .bg-gray td, table .bg-gray {background-color:#f6f6f6!important;}
table .bg-gray2 th, table .bg-gray2 td, table .bg-gray2 {background-color:#323232!important;}
table .bg-gray3 th, table .bg-gray3 td, table .bg-gray3 {background-color:#dfdfdf!important;}
table .bg-red th,table .bg-red td, table .bg-red {background-color:#f9efef!important;}
table tbody th.txt-left,
table tbody td.txt-left {padding-left:20px;text-align: left;}
table tbody td strong {font-weight: 600;}
table th.b-l-n, table td.b-l-n {border-left:0!important}
table .b-l{border-left:1px solid #dfdfdf!important;}
table .b-r{border-right:1px solid #dfdfdf!important;}
table thead tr:first-child th.b-l, table tbody th.b-l{border-left:1px solid #dfdfdf!important;}
table tbody th, table tbody td {border-bottom:1px solid #dfdfdf;}

/*모집요강 테이블(신규타입)*/
table.tbl-01.type02 {border-top: 2px solid #222222;}
table.tbl-01.type02 .bg-th {background: #FBFBFB;}
.tbl-01.type02 thead tr th {background: #fff;border-bottom: 1px solid #222222;padding: 22px 0;font-weight: 600;font-size: 16px;}
.tbl-01.type02 tbody th {font-weight: 600;padding: 22px 0;font-size: 16px;}
.tbl-01.type02 tbody td.bg-th {font-weight: 600;padding: 22px 0;font-size: 16px;}
.tbl-01.type02 tbody td {padding: 17.5px 1%;font-size: 16px;}
.tbl-01.type02 tbody tr td.bg-empty {background: #F3F3F3;}
.tbl-01.type02 tbody tr .red_txt {color: #D74343 !important;}

/* cont 공통 */
.omega-wrap * {font-family:'Pretendard Variable', sans-serif;}
.omega-wrap .inner {position:relative; width:1200px; margin:0 auto; box-sizing:border-box; height:100%;}
.omega-wrap div[class^=cont] {text-align:center;}
.omega-wrap div[class^=cont] .inner > .title {display:flex; justify-content:flex-start; text-align:left; margin-bottom:60px;}
.r-txt {text-align:right;font-size:14px;color:#B5B5B5;margin-top:20px;}

/* cont01 */
.cont01 {background:#000D2A}

/* cont02 */
.cont02 {position:relative; background:#001645 url("https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_omega/250326/cont02_bg.jpg") no-repeat center top;}

/* cont03 */
.cont-bg-box{background: linear-gradient(180deg, #0E008E -40.26%, #040028 103.06%)}
.cont03 {position:relative; padding: 160px 0 120px 0; text-align: center;}
.cont03 .inner::after{content: ''; position: absolute; top:212px; left: 0; background: url("https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_omega/cont03_obj_bg.png") no-repeat center top; mix-blend-mode: lighten; height: 826px; width: 1200px;}
.cont03 .inner::before{
   content: ''; 
   position: absolute;
   left: 0; right:0; margin:0 auto;
   bottom: 34.688px;
   width: 714px; height: 714px;
   border-radius: 714px;
   background: rgba(51, 36, 198, 0.60);
   filter: blur(200px);
}
.cont03 .inner .img_wrap{ position: relative; z-index:1;}

/* cont04 */
.cont04 {height: 1478px;}
.cont04 .inner::before{content: ''; position: absolute; bottom:-76px; left: 50%;transform: translateX(-50%); background: url("https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_omega/ico_clip.png") no-repeat center top; width: 147px; height: 147px;z-index: 2;}
.cont04::after{content: ''; position: absolute; bottom:0; left: 50%;transform: translateX(-50%); border-bottom-left-radius: 200px; border-bottom-right-radius: 200px; width: 1870px; height: 553px;  background: linear-gradient(180deg, rgba(10, 0, 101, 0.00) 0%, #0004FF 352.18%);}
.cont04 .tit{padding-top: 100px;}
.cont04 .slide-wrap {width:1200px; text-align: center;}
.cont04 ul{display: flex; gap: 20px; justify-content: center; margin-top:-30px;}
.cont04 ul li {width:384px;opacity:0.2;transition:.2s}
.cont04 ul li.active {opacity:1;}
.cont04 ul li div {overflow:hidden;border-radius:35px;}
.cont04 .inner::after{
   content: ''; 
   position: absolute;
   left: 243px;
   top: 200px;
   width: 714px; height: 714px;
   border-radius: 714px;
   background: rgba(51, 36, 198, 0.60);
   filter: blur(200px);
}
.cont04.js-cont .tit img{ position: relative; z-index:1;}

/* cont05 */
.cont05 {height: 1523px;}
.cont05 .tit{padding-top: 160px;}
.cont05 .slide-wrap {width:1200px; text-align: center;}
.cont05 ul{ display: flex; gap: 20px; justify-content: center; margin-top:-30px;}
.cont05 ul li {width:384px;opacity:0.2;transition:.2s}
.cont05 ul li.active {opacity:1;}
.cont05 ul li div {overflow:hidden;border-radius:35px;}
.cont05 .inner::before{
   content: ''; 
   position: absolute;
   left: 0; right:0; margin:0 auto;
   top: 236px;
   width: 714px; height: 714px;
   border-radius: 714px;
   background: rgba(51, 36, 198, 0.60);
   filter: blur(200px);
}
.cont05.js-cont .tit img{ position: relative; z-index:1;}

/* cont07 */
.cont06 {background: #EAEAEA; padding: 160px 0;}
.cont06 .tit{margin-bottom: 100px; text-align: center;}

/* cont07 */
.cont07 {height: 1519px;background:#D1E2FF; padding: 160px 0;}
.cont07 .tit{margin-bottom: 80px; text-align: center;}
.cont07 .slide-wrap {width:1200px; text-align: center;}
.cont07 ul{ display: flex; gap: 20px; justify-content: center; margin-top: 70px;}
.cont07 ul li {width:384px;opacity:0.2;transition:.2s}
.cont07 ul li.active {opacity:1;}
.cont07 ul li div {overflow:hidden;border-radius:35px;}
.cont07 .inner::before{
   content: ''; 
   position: absolute;
   left: 0; right:0; margin:0 auto;
   top: 338px;
   width: 714px; height: 714px;
   border-radius: 714px;
   background: rgba(51, 36, 198, 0.60);
   filter: blur(200px);
}
.cont07 .img_wrap img{ position: relative; z-index:1;}


/* cont08 */
.cont08 {position: relative; padding: 90px 0; text-align: center; background: url("https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_omega/cont08_bg.jpg") no-repeat center top;}
.cont08::after{content: ''; background: url("https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_omega/cont08_cover_bg.jpg") no-repeat center top; width: 100%; height: 323px; position: absolute; top:0; left: 0; z-index: -1; overflow: hidden; background-size: 100% 100%;}

/* cont09 */
.cont09 {padding: 160px 0; text-align: center; background: #fff;}
.cont09 .tit{margin-bottom: 60px;}

.cont09 .tbl-pos{position: relative;}
.cont09 .tbl-pos thead{z-index:8;position:relative;top:0;width:100%;box-sizing:border-box;background:transparent;border-top: 2px solid #222222;}
.cont09 .tbl-pos.fix thead{z-index:11;position:fixed;top:0; width: 1200px;}
.cont09 .tbl-pos.fix thead th:first-child{width:318px;}
.cont09 .tbl-pos.fix thead th:nth-last-of-type(2){width:96px;}
.cont09 .tbl-pos.fix thead th{width:97px;}

/*
.tbl-pos thead {width:100%; transition: all 0.3s ease;}
.tbl-pos.fix thead {position:fixed; top:0; left:50%; margin-left:-600px; z-index:10;}
*/
