@charset "UTF-8";
a {
  outline: 0;
  outline: none;
}

.grid, .product-eco .sector-price .price-group .price-benefit .grid-list, .product-eco .sector-price .price-group .price-head .price-won strong {
  *zoom: 1;
}
.grid:before, .product-eco .sector-price .price-group .price-benefit .grid-list:before, .product-eco .sector-price .price-group .price-head .price-won strong:before, .grid:after, .product-eco .sector-price .price-group .price-benefit .grid-list:after, .product-eco .sector-price .price-group .price-head .price-won strong:after {
  content: "";
  display: table;
}
.grid:after, .product-eco .sector-price .price-group .price-benefit .grid-list:after, .product-eco .sector-price .price-group .price-head .price-won strong:after {
  clear: both;
}

.hidden,
.sr_only,
.sr-only {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.grid, .product-eco .sector-price .price-group .price-benefit .grid-list, .product-eco .sector-price .price-group .price-head .price-won strong {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.grid .col, .product-eco .sector-price .price-group .price-benefit .grid-list .col, .product-eco .sector-price .price-group .price-head .price-won strong .col {
  position: relative;
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.table {
  display: table;
}
.table .table-cell {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

.product-eco .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  display: block;
  margin: 0;
  padding: 0;
  font-size: 0;
  color: transparent;
  text-indent: -9999px;
  border: none;
  background: none;
  outline: none;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.effect-bounce-diagonal {
  animation-name: effectBounceDiagonal;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-direction: normal;
}
@-webkit-keyframes effectBounceDiagonal {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    -ms-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}
@keyframes effectBounceDiagonal {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    -ms-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}

.effect-bounce-updown {
  animation-name: effectBounceUpDown;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-direction: normal;
}
@-webkit-keyframes effectBounceUpDown {
  0%, 100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
@keyframes effectBounceUpDown {
  0%, 100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

.effect-extend {
  animation-name: effectExtend;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-direction: normal;
}
@-webkit-keyframes effectExtend {
  0%, 100% {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
}
@keyframes effectExtend {
  0%, 100% {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
}

.effect-blink {
  animation-name: effectBlink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: step-end;
  animation-direction: normal;
}
@-webkit-keyframes effectBlink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
@keyframes effectBlink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.layer-dim {
  display: none;
  position: fixed;
  top: 0;
  right: 0px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background: #000;
  opacity: 0.8;
  overflow: hidden;
}
.layer-review {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10001;
  max-width: 768px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.layer-review .layer-close {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 8.3333333333vw;
  height: 8.3333333333vw;
  top: -60px;
  z-index: 10002;
}
@media screen and (min-width: 720px) {
  .layer-review .layer-close {
    width: 60px;
  }
}
@media screen and (min-width: 720px) {
  .layer-review .layer-close {
    height: 60px;
  }
}
.layer-review .layer-close:before, .layer-review .layer-close:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 30px;
  height: 2px;
  margin-left: -15px;
  background-color: #fff;
}
.layer-review .layer-close:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.layer-review .layer-close:after {
  -webkit-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  transform: rotate(315deg);
}
.layer-review .layer-close span {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}
.layer-review .layer-box {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}
.layer-review .layer-box iframe, .layer-review .layer-box video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: inherit;
}

.product-eco *, .product-eco *:before, .product-eco *:after {
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  letter-spacing: -0.1388888889vw;
}
@media screen and (min-width: 720px) {
  .product-eco *, .product-eco *:before, .product-eco *:after {
    letter-spacing: -1px;
  }
}
.product-eco li {
  list-style: none;
  padding: 0;
  margin: 0;
}
.product-eco img {
  border: 0;
  vertical-align: top;
}
.product-eco [class^=sector-] {
  position: relative;
}
.product-eco .wrap {
  position: relative;
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  text-align: center;
}
.product-eco .wrap-full {
  width: 100%;
}
.product-eco .holder {
  position: relative;
}
.product-eco .icon-pointer {
  position: relative;
  display: inline-block;
}
.product-eco .icon-pointer:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
  display: block;
  width: 13.6111111111vw;
  height: 13.1944444444vw;
  background: url("https://img.eduwill.net/Img2/Common/icon/pointer/icon_pointer_20.png") no-repeat 0 0;
  background-size: 100% auto;
  animation-name: pointerBounceDiagonal;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-direction: normal;
}
@media screen and (min-width: 720px) {
  .product-eco .icon-pointer:after {
    width: 98px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .icon-pointer:after {
    height: 95px;
  }
}
@-webkit-keyframes pointerBounceDiagonal {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    -ms-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}
@keyframes pointerBounceDiagonal {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    -ms-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}
.product-eco .slick-arrow {
  top: 50%;
  border-radius: 50%;
  left: auto;
  z-index: 112;
}
.product-eco .slick-arrow.slick-prev {
  position: absolute;
  top: 50%;
  z-index: 10;
  display: block;
  width: 11.3888888889vw;
  height: 11.3888888889vw;
  margin: 0;
  padding: 0;
  font-size: 0;
  color: transparent;
  text-indent: -9999px;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  background: rgba(255, 255, 255, 0.7);
  left: 1%;
}
@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-prev {
    width: 82px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-prev {
    height: 82px;
  }
}
.product-eco .slick-arrow.slick-prev:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 2.8472222222vw;
  height: 2.8472222222vw;
  border-width: 0;
  border-style: solid;
  border-color: #212121;
  border-bottom-width: 2px;
  border-left-width: 2px;
  -webkit-transform: translate(-25%, -50%) rotate(45deg);
  -ms-transform: translate(-25%, -50%) rotate(45deg);
  transform: translate(-25%, -50%) rotate(45deg);
}
@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-prev:before {
    width: 20.5px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-prev:before {
    height: 20.5px;
  }
}
.product-eco .slick-arrow.slick-next {
  position: absolute;
  top: 50%;
  z-index: 10;
  display: block;
  width: 11.3888888889vw;
  height: 11.3888888889vw;
  margin: 0;
  padding: 0;
  font-size: 0;
  color: transparent;
  text-indent: -9999px;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0;
  background: rgba(255, 255, 255, 0.7);
  left: auto;
  right: 1%;
}
@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-next {
    width: 82px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-next {
    height: 82px;
  }
}
.product-eco .slick-arrow.slick-next:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 2.8472222222vw;
  height: 2.8472222222vw;
  border-width: 0;
  border-style: solid;
  border-color: #212121;
  border-top-width: 2px;
  border-right-width: 2px;
  -webkit-transform: translate(-75%, -50%) rotate(45deg);
  -ms-transform: translate(-75%, -50%) rotate(45deg);
  transform: translate(-75%, -50%) rotate(45deg);
}
@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-next:before {
    width: 20.5px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-next:before {
    height: 20.5px;
  }
}
.product-eco .slick-dots {
  position: absolute;
  bottom: 8%;
  right: 0;
  left: 0;
  font-size: 0;
  z-index: 1;
}
.product-eco .slick-dots li {
  display: inline-block;
  margin: 0 0.8333333333vw;
}
@media screen and (min-width: 720px) {
  .product-eco .slick-dots li {
    margin: 0 6px;
  }
}
.product-eco .slick-dots li.slick-active button {
  background-color: #ffc20e;
}
.product-eco .slick-dots button {
  display: block;
  width: 2.7777777778vw;
  height: 2.7777777778vw;
  color: transparent;
  border: none;
  border-radius: 50%;
  background-color: #ddd;
  outline: none;
  cursor: pointer;
}
@media screen and (min-width: 720px) {
  .product-eco .slick-dots button {
    width: 20px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .slick-dots button {
    height: 20px;
  }
}
.product-eco .slick-slide {
  outline: none;
}
.product-eco .slick-slide a {
  outline: none;
}
.product-eco .action {
  position: relative;
}
.product-eco .action a {
  display: block;
  text-align: center;
  width: 100%;
  font-weight: 900;
  padding: 4.1666666667vw 4.1666666667vw 4.1666666667vw 0;
  letter-spacing: -0.2777777778vw;
  font-size: 4.7222222222vw;
  line-height: 1;
  background: #080d0a;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.product-eco .action a {
  position: relative;
  display: inline-block;
}
.product-eco .action a:before {
  content: "";
  position: absolute;
  top: 50%;
  display: block;
  width: 1.3888888889vw;
  height: 1.3888888889vw;
  margin-top: -0.6944444444vw;
  border-width: 0;
  border-style: solid;
  border-color: #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  right: 2.7777777778vw;
  border-top-width: 2px;
  border-right-width: 2px;
}
@media screen and (min-width: 720px) {
  .product-eco .action a:before {
    width: 10px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .action a:before {
    height: 10px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .action a:before {
    margin-top: -5px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .action a:before {
    right: 20px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .action a {
    padding: 30px 30px 30px 0;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .action a {
    letter-spacing: -2px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .action a {
    font-size: 34px;
  }
}
.product-eco .action a:before {
  right: 4.1666666667vw;
}
@media screen and (min-width: 720px) {
  .product-eco .action a:before {
    right: 30px;
  }
}
.product-eco .notice {
  text-align: right;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.4);
  line-height: 1.5;
  font-size: 3.0555555556vw;
  letter-spacing: -0.2083333333vw;
}
@media screen and (min-width: 720px) {
  .product-eco .notice {
    font-size: 22px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .notice {
    letter-spacing: -1.5px;
  }
}
.product-eco .sector-title {
  background: #fff url("https://img.eduwill.net/eduwill/img/2022/G/product/220819/pc/bg_title.jpg") 50% 0 no-repeat;
  background-size: 100% 100%;
}
.product-eco .sector-benefit {
  background: #f8f8f8;
}
.product-eco .sector-benefit-plus {
  position: relative;
  height: 211.3888888889vw;
  background: #D2F6BB;
  background: -webkit-linear-gradient(legacy-direction(162deg), #D2F6BB 0%, #FFFACA 100%);
  background: linear-gradient(162deg, #D2F6BB 0%, #FFFACA 100%);
}
@media screen and (min-width: 720px) {
  .product-eco .sector-benefit-plus {
    height: 1522px;
  }
}
.product-eco .sector-benefit-plus .wrap {
  position: absolute;
  top: -6.3888888889vw;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (min-width: 720px) {
  .product-eco .sector-benefit-plus .wrap {
    top: -46px;
  }
}
.product-eco .sector-price {
  padding-bottom: 13.8888888889vw;
  background: #F3F3F3;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-price {
    padding-bottom: 100px;
  }
}
.product-eco .sector-price .price-group {
  position: relative;
  width: 93.3333333333vw;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 0 0 3.0555555556vw 3.0555555556vw;
  background-color: #fff;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-price .price-group {
    width: 672px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .sector-price .price-group {
    border-radius: 0 0 22px 22px;
  }
}
.product-eco .sector-price .price-group .price-head {
  position: relative;
  padding: 11.1111111111vw 7.6388888889vw;
  background: #DDB1FF;
  background: -webkit-linear-gradient(legacy-direction(to bottom), #DDB1FF 0%, #FFFACA 100%);
  background: linear-gradient(to bottom, #DDB1FF 0%, #FFFACA 100%);
}
@media screen and (min-width: 720px) {
  .product-eco .sector-price .price-group .price-head {
    padding: 80px 55px;
  }
}
.product-eco .sector-price .price-group .price-head .price-info {
  width: 100%;
  margin-bottom: 5.5555555556vw;
  text-align: left;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-price .price-group .price-head .price-info {
    margin-bottom: 40px;
  }
}
.product-eco .sector-price .price-group .price-head .price-info p {
  margin-top: 1.3888888889vw;
  font-size: 3.8888888889vw;
  font-weight: 300;
  color: #212121;
  letter-spacing: -1px;
  line-height: 1;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-price .price-group .price-head .price-info p {
    margin-top: 10px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .sector-price .price-group .price-head .price-info p {
    font-size: 28px;
  }
}
.product-eco .sector-price .price-group .price-head .price-info strong {
  font-weight: 900;
  color: #212121;
  font-size: 6.25vw;
  letter-spacing: -1.06px;
  line-height: 1;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-price .price-group .price-head .price-info strong {
    font-size: 45px;
  }
}
.product-eco .sector-price .price-group .price-head .price-won {
  width: 100%;
  text-align: right;
}
.product-eco .sector-price .price-group .price-head .price-won strong {
  display: block;
  font-size: 3.6111111111vw;
  font-weight: 700;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-price .price-group .price-head .price-won strong {
    font-size: 26px;
  }
}
.product-eco .sector-price .price-group .price-head .price-won strong em {
  float: left;
  vertical-align: middle;
  line-height: 6.25vw;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-price .price-group .price-head .price-won strong em {
    line-height: 45px;
  }
}
.product-eco .sector-price .price-group .price-head .price-won strong span {
  font-size: 5.8333333333vw;
  letter-spacing: -2px;
  line-height: 1;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-price .price-group .price-head .price-won strong span {
    font-size: 42px;
  }
}
.product-eco .sector-price .price-group .price-head .price-won strong + strong {
  margin-top: 2.0833333333vw;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-price .price-group .price-head .price-won strong + strong {
    margin-top: 15px;
  }
}
.product-eco .sector-price .price-group .price-head .price-won strong.before-won {
  color: rgba(33, 33, 33, 0.5);
}
.product-eco .sector-price .price-group .price-head .price-won strong.before-won em {
  line-height: 4.8611111111vw;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-price .price-group .price-head .price-won strong.before-won em {
    line-height: 35px;
  }
}
.product-eco .sector-price .price-group .price-head .price-won strong.before-won span {
  text-decoration: line-through;
  font-size: 4.1666666667vw;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-price .price-group .price-head .price-won strong.before-won span {
    font-size: 30px;
  }
}
.product-eco .sector-price .price-group .price-head .price-won strong.before-won span.td-none {
  text-decoration: none;
}
.product-eco .sector-price .price-group .price-head .price-won strong.after-won {
  color: #FC1D1D;
}
.product-eco .sector-price .price-group .price-head .price-won strong.refund-won {
  color: #212121;
}
.product-eco .sector-price .price-group .price-head .price-won .notice {
  margin-top: 2.7777777778vw;
  color: rgba(33, 33, 33, 0.5);
  font-weight: 300;
  font-size: 2.2222222222vw;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-price .price-group .price-head .price-won .notice {
    margin-top: 20px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .sector-price .price-group .price-head .price-won .notice {
    font-size: 16px;
  }
}
.product-eco .sector-price .price-group .buttonWrap {
  position: relative;
}
.product-eco .sector-price .price-group .buttonWrap a {
  position: absolute;
  top: -9.0277777778vw;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-price .price-group .buttonWrap a {
    top: -65px;
  }
}
.product-eco .sector-price .price-group .buttonWrap a img {
  width: 86.9444444444vw;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-price .price-group .buttonWrap a img {
    width: 626px;
  }
}
.product-eco .sector-price .price-group .price-body {
  position: relative;
  padding: 4.8611111111vw 9.7222222222vw;
  top: -4.1666666667vw;
  overflow: hidden;
  background-color: #212121;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-price .price-group .price-body {
    padding: 35px 70px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .sector-price .price-group .price-body {
    top: -30px;
  }
}
.product-eco .sector-price .price-group .price-benefit {
  padding: 13.8888888889vw 0 2.7777777778vw;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-price .price-group .price-benefit {
    padding: 100px 0 20px;
  }
}
.product-eco .sector-price .price-group .price-benefit .grid-list {
  margin-bottom: 8.3333333333vw;
  margin-top: 1.3888888889vw;
  padding: 0 5.5555555556vw;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-price .price-group .price-benefit .grid-list {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .sector-price .price-group .price-benefit .grid-list {
    margin-top: 10px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .sector-price .price-group .price-benefit .grid-list {
    padding: 0 40px;
  }
}
.product-eco .sector-price .price-group .price-benefit .grid-list .text {
  font-weight: 700;
  font-size: 5vw;
  letter-spacing: -1.5px;
  line-height: 6.1111111111vw;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-price .price-group .price-benefit .grid-list .text {
    font-size: 36px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .sector-price .price-group .price-benefit .grid-list .text {
    line-height: 44px;
  }
}
.product-eco .sector-price .price-group .price-benefit .grid-list .text.text-1 {
  text-align: left;
  width: 100%;
}
.product-eco .sector-price .price-group .price-benefit .grid-list .text.text-2 {
  text-align: left;
  width: 100%;
}
.product-eco .sector-price .price-group .price-benefit .grid-list .col {
  width: 100%;
}
.product-eco .sector-price .price-group .price-benefit .grid-list .col li {
  position: relative;
  padding-left: 1.9444444444vw;
  font-size: 3.3333333333vw;
  color: #535353;
  font-weight: 400;
  line-height: 1.3;
  margin-top: 1.6666666667vw;
  text-align: left;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-price .price-group .price-benefit .grid-list .col li {
    padding-left: 14px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .sector-price .price-group .price-benefit .grid-list .col li {
    font-size: 24px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .sector-price .price-group .price-benefit .grid-list .col li {
    margin-top: 12px;
  }
}
.product-eco .sector-price .price-group .price-benefit .grid-list .col li:first-child {
  margin-top: 0;
}
.product-eco .sector-price .price-group .price-benefit .grid-list .col li:before {
  content: "·";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 900;
  color: #212121;
}
.product-eco .sector-price .price-group .price-benefit .grid-list .col.list-1 {
  padding: 1.3888888889vw 0 4.8611111111vw;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-price .price-group .price-benefit .grid-list .col.list-1 {
    padding: 10px 0 35px;
  }
}
.product-eco .sector-price .price-group .price-benefit .grid-list .col.list-2 {
  padding-top: 1.3888888889vw;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-price .price-group .price-benefit .grid-list .col.list-2 {
    padding-top: 10px;
  }
}
.product-eco .sector-price .price-group .price-benefit .grid-list .col.list-2 span {
  opacity: 0.5;
}
.product-eco .sector-info, .product-eco .sector-certificate {
  background: #fff;
}
.product-eco .sector-info-2 {
  background: #EBF7FF;
}
.product-eco .sector-bar {
  background: #FD853A;
}
.product-eco .sector-bar:after {
  content: "";
  display: block;
  position: absolute;
  top: 99%;
  left: 50%;
  z-index: 1;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 28.6111111111vw;
  height: 5.1388888889vw;
  background: url("https://img.eduwill.net/eduwill/img/2022/G/product/220819/mobile/bar_arrow.png") 50% 0 no-repeat;
  background-size: cover;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-bar:after {
    width: 206px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .sector-bar:after {
    height: 37px;
  }
}
.product-eco .sector-system-1 .slider {
  width: 100%;
}
.product-eco .sector-system-1 .slider .slick-slide {
  position: relative;
  width: 100%;
  text-align: center;
}
.product-eco .sector-system-1 .slider .slick-slide img {
  display: inline-block;
}
.product-eco .sector-system-1 .slider .slick-slide .slide-1 {
  background: #FFFACA;
}
.product-eco .sector-system-1 .slider .slick-slide .slide-1 .btn-sample {
  top: 38.8888888889vw;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-system-1 .slider .slick-slide .slide-1 .btn-sample {
    top: 280px;
  }
}
.product-eco .sector-system-1 .btn-sample {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 27.6388888889vw;
  height: 6.9444444444vw;
  left: 50%;
  margin-left: -43.75vw;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-system-1 .btn-sample {
    width: 199px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .sector-system-1 .btn-sample {
    height: 50px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .sector-system-1 .btn-sample {
    margin-left: -315px;
  }
}
.product-eco .sector-review {
  background: #F5F5F5;
}
.product-eco .sector-system-3 {
  background: #f8f8f8;
}
.product-eco .sector-winner {
  overflow: hidden;
  background: #ffbf00 url("https://img.eduwill.net/eduwill/img/2022/G/product/220509/mobile/bg_winner.jpg") 50% 0 no-repeat;
  background-size: cover;
}
.product-eco .sector-winner .winner-contents {
  position: relative;
  margin-top: -11.1111111111vw;
  padding-bottom: 11.1111111111vw;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-winner .winner-contents {
    margin-top: -80px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .sector-winner .winner-contents {
    padding-bottom: 80px;
  }
}
.product-eco .sector-winner .winner-contents .winner-list {
  -webkit-transform: perspective(400px) rotateX(45deg);
  -ms-transform: perspective(400px) rotateX(45deg);
  transform: perspective(400px) rotateX(45deg);
}
.product-eco .sector-winner .winner-contents .winner-list .slick-track {
  -webkit-transform: translate(0) !important;
  -ms-transform: translate(0) !important;
  transform: translate(0) !important;
}
.product-eco .sector-winner .winner-contents p {
  margin: 0 !important;
  padding: 0 !important;
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  text-align: center;
  line-height: 1.4;
  font-weight: 500;
  color: #222;
  font-size: 3.0555555556vw;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-winner .winner-contents p {
    font-size: 22px;
  }
}
.product-eco .sector-timetable {
  background: #f3f3f3;
}
.product-eco .sector-timetable .slider .slick-arrow {
  top: 0.6944444444vw;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
@media screen and (min-width: 720px) {
  .product-eco .sector-timetable .slider .slick-arrow {
    top: 5px;
  }
}
.product-eco .sector-curriculum {
  background: #d6e6db;
}
.product-eco .sector-place {
  padding: 5.5555555556vw 0;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-place {
    padding: 40px 0;
  }
}
.product-eco .sector-place .slider {
  width: 100%;
  margin: 0 auto;
}
.product-eco .sector-place .slider .slick-slide div {
  position: relative;
}
.product-eco .sector-place .slider .slick-slide div .label {
  position: absolute;
  top: 4.1666666667vw;
  right: 4.1666666667vw;
  width: 25.8333333333%;
  height: 14.9253731343%;
  display: table;
  text-align: center;
  border-radius: 50px;
  background: #fff;
  z-index: 10;
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 720px) {
  .product-eco .sector-place .slider .slick-slide div .label {
    top: 30px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .sector-place .slider .slick-slide div .label {
    right: 30px;
  }
}
.product-eco .sector-place .slider .slick-slide div .label strong {
  display: table-cell;
  vertical-align: middle;
  color: #181818;
  font-weight: 700;
  font-size: 2.7777777778vw;
  letter-spacing: -0.2777777778vw;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-place .slider .slick-slide div .label strong {
    font-size: 20px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .sector-place .slider .slick-slide div .label strong {
    letter-spacing: -2px;
  }
}
.product-eco .sector-place .slider .slick-arrow.slick-prev {
  position: absolute;
  top: 50%;
  z-index: 10;
  display: block;
  width: 9.0277777778vw;
  height: 9.0277777778vw;
  margin: 0;
  padding: 0;
  font-size: 0;
  color: transparent;
  text-indent: -9999px;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  background: rgba(255, 255, 255, 0.7);
}
@media screen and (min-width: 720px) {
  .product-eco .sector-place .slider .slick-arrow.slick-prev {
    width: 65px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .sector-place .slider .slick-arrow.slick-prev {
    height: 65px;
  }
}
.product-eco .sector-place .slider .slick-arrow.slick-prev:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 2.2569444444vw;
  height: 2.2569444444vw;
  border-width: 0;
  border-style: solid;
  border-color: #212121;
  border-bottom-width: 2px;
  border-left-width: 2px;
  -webkit-transform: translate(-25%, -50%) rotate(45deg);
  -ms-transform: translate(-25%, -50%) rotate(45deg);
  transform: translate(-25%, -50%) rotate(45deg);
}
@media screen and (min-width: 720px) {
  .product-eco .sector-place .slider .slick-arrow.slick-prev:before {
    width: 16.25px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .sector-place .slider .slick-arrow.slick-prev:before {
    height: 16.25px;
  }
}
.product-eco .sector-place .slider .slick-arrow.slick-next {
  position: absolute;
  top: 50%;
  z-index: 10;
  display: block;
  width: 9.0277777778vw;
  height: 9.0277777778vw;
  margin: 0;
  padding: 0;
  font-size: 0;
  color: transparent;
  text-indent: -9999px;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0;
  background: rgba(255, 255, 255, 0.7);
}
@media screen and (min-width: 720px) {
  .product-eco .sector-place .slider .slick-arrow.slick-next {
    width: 65px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .sector-place .slider .slick-arrow.slick-next {
    height: 65px;
  }
}
.product-eco .sector-place .slider .slick-arrow.slick-next:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 2.2569444444vw;
  height: 2.2569444444vw;
  border-width: 0;
  border-style: solid;
  border-color: #212121;
  border-top-width: 2px;
  border-right-width: 2px;
  -webkit-transform: translate(-75%, -50%) rotate(45deg);
  -ms-transform: translate(-75%, -50%) rotate(45deg);
  transform: translate(-75%, -50%) rotate(45deg);
}
@media screen and (min-width: 720px) {
  .product-eco .sector-place .slider .slick-arrow.slick-next:before {
    width: 16.25px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .sector-place .slider .slick-arrow.slick-next:before {
    height: 16.25px;
  }
}
.product-eco .sector-brand {
  background: #ffbf00 url("https://img.eduwill.net/eduwill/img/2022/G/product/220509/mobile/bg_end.jpg") 50% 0 no-repeat;
  background-size: cover;
}/*# sourceMappingURL=mobile.css.map */