/*
* Noto Sans KR (korean) http://www.google.com/fonts/earlyaccess
*/

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 100;
	src: url('//contents.eduwill.net/font/NotoSansKR-Thin.eot');
	src: local('※'), url('//contents.eduwill.net/font/NotoSansKR-Thin.eot?#iefix') format('embedded-opentype'), url('//contents.eduwill.net/font/NotoSansKR-Thin.woff2') format('woff2'), url('//contents.eduwill.net/font/NotoSansKR-Thin.woff') format('woff'), url('//contents.eduwill.net/font/NotoSansKR-Thin.otf') format('opentype');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 300;
	src: url('//contents.eduwill.net/font/NotoSansKR-Light.eot');
	src: local('※'), url('//contents.eduwill.net/font/NotoSansKR-Light.eot?#iefix') format('embedded-opentype'), url('//contents.eduwill.net/font/NotoSansKR-Light.woff2') format('woff2'), url('//contents.eduwill.net/font/NotoSansKR-Light.woff') format('woff'), url('//contents.eduwill.net/font/NotoSansKR-Light.otf') format('opentype');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 400;
	src: url('//contents.eduwill.net/font/NotoSansKR-Regular.eot');
	src: local('※'), url('//contents.eduwill.net/font/NotoSansKR-Regular.eot?#iefix') format('embedded-opentype'), url('//contents.eduwill.net/font/NotoSansKR-Regular.woff2') format('woff2'), url('//contents.eduwill.net/font/NotoSansKR-Regular.woff') format('woff'), url('//contents.eduwill.net/font/NotoSansKR-Regular.otf') format('opentype');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 500;
	src: url('//contents.eduwill.net/font/NotoSansKR-Medium.eot');
	src: local('※'), url('//contents.eduwill.net/font/NotoSansKR-Medium.eot?#iefix') format('embedded-opentype'), url('//contents.eduwill.net/font/NotoSansKR-Medium.woff2') format('woff2'), url('//contents.eduwill.net/font/NotoSansKR-Medium.woff') format('woff'), url('//contents.eduwill.net/font/NotoSansKR-Medium.otf') format('opentype');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 700;
	src: url('//contents.eduwill.net/font/NotoSansKR-Bold.eot');
	src: local('※'), url('//contents.eduwill.net/font/NotoSansKR-Bold.eot?#iefix') format('embedded-opentype'), url('//contents.eduwill.net/font/NotoSansKR-Bold.woff2') format('woff2'), url('//contents.eduwill.net/font/NotoSansKR-Bold.woff') format('woff'), url('//contents.eduwill.net/font/NotoSansKR-Bold.otf') format('opentype');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 900;
	src: url('//contents.eduwill.net/font/NotoSansKR-Black.eot');
	src: local('※'), url('//contents.eduwill.net/font/NotoSansKR-Black.eot?#iefix') format('embedded-opentype'), url('//contents.eduwill.net/font/NotoSansKR-Black.woff2') format('woff2'), url('//contents.eduwill.net/font/NotoSansKR-Black.woff') format('woff'), url('//contents.eduwill.net/font/NotoSansKR-Black.otf') format('opentype');
}
