@charset "utf-8";
@import "mixins";

/* 컨텐츠 */
@mixin shadowBg(){
	background: #f3f3f3 linear-gradient(0deg, rgba(243,243,243,1) 0%, rgba(255,255,255,1) 13%);
}
.product-eco {
	
	
	@media screen and (min-width: 530px) {
		.teacher-list-box .col a .t-info .t-name { padding-right: 23px; background-size: 18px auto;}
	}

	//PC
	&[data-device="pc"]{
		
		p {
			&.plusIcon {
				position: absolute;
				top: -60px;
				left: 50%;
				width: 180px;
				height: 180px;
				margin-left: -90px;
				border-radius: 50%;
				display: flex;
				align-items: flex-start;
				justify-content: center;
				color: #fff;
				font-size: 103px;
				font-family: 'Roboto';
				font-weight: 500;
				background: #432767;
			}
			&.eventType {
				position: absolute;
				font-size: 60px;
				color: #fff;
				font-weight: 900;
				letter-spacing: -4px;
				font-family: 'Noto Sans KR', '맑은 고딕', 'Malgun Gothic', 'Apple SD Gothic Neo', 'Dotum', '돋움', 'Gulim', '굴림', '굴림체', Sans-Serif;
				em {
					color: #05fbfa;
				}
	
				&.A {
					top: 107px;
					left: 181px;
				}
				&.B {
					bottom: 490px;
					left: 200px;
				}
	
			}
		}
		// content moudule
		#edoContent1 {
			
			.monthlyNumber2 {
				position: absolute;
				left: 157px;
				top: 260px;
				font-size: 37px;
				font-weight: 700;
				color: #222;
				letter-spacing: -2px;
				font-family: 'Roboto', 'Noto Sans KR', '맑은 고딕', 'Malgun Gothic', 'Apple SD Gothic Neo', 'Dotum', '돋움', 'Gulim', '굴림', '굴림체', Sans-Serif;;
			}
			
			.ecoContVisual {
				// yellow > background:url('https://img.eduwill.net/eduwill/img/2021/_106/product/211220/pc/eco4002/ecoContVisual_bg.jpg') no-repeat 50% 50%;
				background:url('https://img.eduwill.net/eduwill/img/2021/Q/product/211224/pc/eco4327/ecoContVisual_bg.jpg') no-repeat 50% 50%;
				background-size:cover;
				padding-bottom: 200px;

				.btn-reason {
					top: 60px;
					right: 10px;
					color: #000;
					border-color: #000;
					&::after {
						border-color: #000;
					}
				}
				.winner-contents {
					width: 900px;
					margin: 0 auto;
					.winner-list {
						transform: perspective(240px) rotateX(35deg);
						p {
							margin: 5px 0;
							color: #222;
							font-size: 16px;
							font-weight: 700;
							text-align: center;
						}
					}
				}
			}
			
			.ecoCont0 {
				background: #e1f0ff;
			}
			.ecoCont1 {
				.btn-reason {
					top: -100px;
					right: 10px;
					
				}
			}

			.ecoCont2,
			.ecoCont4 {
				background: #e1f0ff;
			}

			.ecoCont3 {
				.movie {
					position: absolute;
					bottom: 148px;
					right: 98px;
				}
			}

			.ecoCont4 {
				.wrap {
					width: 1360px;
				}
			}

			.ecoCont5 {
				background: #070b43;
				.wrap {
					width: 1360px;

					.mapArea {
						position: relative;
						top: 0;
						z-index: 10;
						
					}
					.tab-conts {
						position: absolute;
						top:258px;
						left: 0;
						z-index:5;

						.tab-cont {
							@include vw(height, 968px);
							position: absolute;
							left: 0;
							top: 0;
							display: none;
	
							&.on {
								display: block;
							}

	
						}
					}
					
					
				}
			}
			.ecoCont6 {
				@include vw(padding-bottom, 100px);
				background: #f3f3f3;
				.text{
					font-family: 'roboto';
					position: absolute;
					top: 258px;
					left: 183px;
					font-size: 30px;
					font-weight: 700;
					color: #222;
					line-height: 1;
					letter-spacing: -2px;
				}
				.slide4046,
				.slide4046_2{
					
					.slick {
						&-dots {
							margin-top: -20px;
							li {
								&.slick-active {
									button {
										background: #641ac9;
									}
								}
							}
						}
						&-slide {
							position: relative;
							
							button {
								&.eduf-reason-button {
									position: absolute;
									width: 100px;
									height: 100px;
									left: 280px;
									// right: 80px;
									top: 134px;
									//bottom: 47px;
									text-indent: -9999px;
								}
							}
						}
						
						&-arrow {
							position: absolute;
							top: 50%;
							z-index: 10;
							transform: translateY(-50%);
							width: 40px;
							height: 40px;
							border: 5px solid #c3c3c3;
							border-right: none;
							border-bottom: none;
							text-indent: -9999px;
							&.slick {
								&-prev {
									left: -15px;
									transform: rotate(-45deg);
								}
								&-next {
									right: -15px;
									transform: rotate(135deg);
								}
							}
						}
					}
					
				}

			}

			.ecoCont9 {
				.wrap {
					> img {
						position: relative;
						z-index: 2;
					}
				}
				
				.slideTable {
					position: absolute;
					bottom: 217px;
					left: 50px;
					width: 600px;
					background: #fff;
					.slick-slide {
						border-bottom: 2px solid #dbdbdb;
					}
					.tableWrap {
						&:last-child {
							dl {
								border: none;
							}
						}
					}
					dl {
						display: flex;
						align-items: center;
						font-size: 18px;
						color: #222;
						padding: 7px 48px 6px 48px;
						
						dt {
							font-weight: 700;
							font-family: 'Noto Sans KR', '맑은 고딕', 'Malgun Gothic', 'Apple SD Gothic Neo', 'Dotum', '돋움', 'Gulim', '굴림', '굴림체', Sans-Serif;
							padding-right: 32px;
						}
						em {
							color: #ffa300;
						}


					}

				}
			}

			.ecoCont7 {
				background: #f5f5f5;
				@include vw(padding-bottom, 120px);
			}

			.ecoCont8 {
				display: none;
			}

			.ecoTab {
				padding-bottom: 120px;
				.tabWrap {
					width: 1100px;
					margin: 0 auto;

					.tab-list {
						position:relative;
						display: inline-flex;
						justify-content: space-between;
						width: 100%;
						
						.tab-item {
							width:19.8%;
							height:100px;
							box-sizing:border-box;
							border-radius:17px 17px 0 0;
							background-color:#dbdbdb;
							color: #919191;
							font-size:26px;
							font-weight:700;
							text-align:center;
							line-height: 30px;
							letter-spacing:-2px;
							display: inline-flex;
							align-items: center;
							justify-content: center;
							&.on {
								position:relative;
								z-index:10;
								background-color:#3517cd;
								color:#fff;
								transition:all .2s;
								.f-color {
									color:#ffd40e;
									transition:all .3s;
								}
							}
						}
					}
					.tab-conts {
						margin-top: 0;
					}
					.tab-cont {
						display:none;
						padding:35px;
						border:15px solid #3517cd;
						//border-top:0;
						height: 670px;
						overflow: auto;
						font-size:0;
						&.on {
							display:block;
						}
						img {
							width:100%;
						}
					}
				}
				
				
			}

			.ecoCont10 {
				background: #e1f0ff;
				padding-bottom: 120px;

				.tabWrap {
					box-shadow: 0 15px 20px 3px rgba(0,0,0,0.2);

					.tab-list {
						position:relative;
						display: inline-flex;
						justify-content: space-between;
						width: 100%;
						border-radius:17px 17px 0 0;
						
						.tab-item {
							width:33.3%;
							height:120px;
							box-sizing:border-box;
							border-radius:17px 17px 0 0;
							background-color:#b5c3d3;
							color: #79828d;
							font-size: 30px;
							font-weight: 900;
							text-align:center;
							letter-spacing:-1px;
							display: flex;
							flex-direction: column;
							align-items: center;
							justify-content: center;
	
							em {
								font-weight: 400;
								font-size: 20px;
							}
							&.on {
								position:relative;
								z-index:10;
								background-color:#3517cd;
								color:#fff;
								transition:all .2s;
							}
						}
					}
					.tab-conts {
						margin-top: 0;
						.tab-cont {
							display:none;
							background: #fff;
							font-size:0;
							&.on {
								display:block;
							}
							img {
								width:100%;
							}
						}
					}
				}

				
				
				
			}

		}
		
		&[data-type="1101"],
		&[data-type="1100"],
		&[data-type="1800"] {
			.slick-dots {
				li {
					&.slick-active {
						button {
							background: #ffbe00 !important;
						}
					}
				}
			}
			#edoContent1 { 

				.ecoCont9 {
					display: none !important;
				}
				.ecoCont8 {
					display: block !important;
					padding-bottom: 20px;
	
					.btn-refunds {
						position: absolute;
						bottom: 70px;
						right: 150px;
					}
	
					&.ecoHide {
						display: block !important;
					}
	
					.btn-text {
						position:absolute;
						right: 50px;
						top:210px;
						display: inline-block;
						padding: 5px 20px 5px 10px;
						font-size: 14px;
						letter-spacing: -1px;
						border: 1px solid #222;
						color: #222;
						background: #fff;
			
						&::after {
							
							content: '';
							position: absolute;
							top: 50%;
							left: 50%;
							display: block;
							width: 5px;
							height: 5px;
							margin-top: -2.5px;
							margin-left: -2.5px;
							border-width: 0;
							border-style: solid;
							border-color: #222;
							transform: rotate(45deg);
							border-top-width: 1px;
							border-right-width: 1px;
							border-bottom: none;
							border-left: none;
							margin-left: 0;
							left: auto;
							right: 7px;
						}
					}
				}
				
			}
			
		}

		&[data-type="3814"] {
			#edoContent1 {
				.ecoCont0 {
					background: #f8eee5;
				}

				.ecoCont1 {
					background: #f5f5f5;
					padding-bottom: 120px;
					.bounce {
						position: absolute;
						right: 0;
						top: -30px;
						z-index: 20;
						animation:bounce 2s infinite both;
					}
				}

				.ecoCont2 {
					background: transparent;
				}

				.ecoCont3 {
					background: #f5f5f5;

					.gif {
						position: absolute;
						bottom: 193px;
    					left: 217px;
						z-index: 9;
					}
					.book {
						position: absolute;
						bottom: 93px;
						right: 32px;
						z-index: 10;
					}
				}

				.ecoCont4 {
					background:url('https://img.eduwill.net/eduwill/img/2022/Q/product/module/pc/3814/ecoCont4_bg.png') no-repeat 50% 50%;
					
				}
				.ecoCont5 {
					background: #410013;
				}

				.ecoCont10 {
					background: #f5ddec;

					.tabWrap {
						box-shadow: 0 15px 20px 3px rgba(0,0,0,0.2);
	
						.tab-list {
							position:relative;
							display: inline-flex;
							justify-content: space-between;
							width: 100%;
							border-radius:17px 17px 0 0;
							
							.tab-item {
								width:33.25%;
								height:120px;
								box-sizing:border-box;
								border-radius:17px 17px 0 0;
								background-color:#d3d3d3;
								color: #8d8d8d;
								font-size: 30px;
								font-weight: 900;
								text-align:center;
								letter-spacing:-1px;
								display: flex;
								flex-direction: column;
								align-items: center;
								justify-content: center;
		
								em {
									font-weight: 400;
									font-size: 20px;
								}
								&.on {
									position:relative;
									z-index:10;
									background-color:#3a3e59;
									color:#fff;
									transition:all .2s;
								}
							}
						}
						.tab-conts {
							margin-top: 0;
							.tab-cont {
								display:none;
								background: #fff;
								font-size:0;
								&.on {
									display:block;
								}
								img {
									width:100%;
								}
							}
						}
					}
				}
			}
		}
	}

	
	//MOBILE
	&[data-device="mo"]{
		p {
			&.plusIcon {
				position: absolute;
				left: 50%;
				@include vw(top, -54px);
				@include vw(width, 180px);
				@include vw(height, 180px);
				@include vw(margin-left, -90px);
				border-radius: 50%;
				
				display: flex;
				align-items: flex-start;
				justify-content: center;
				
				color: #fff;
				@include vw(font-size, 103px);
				font-family: 'Roboto';
				font-weight: 700;
				@include vw(line-height, 10px);
				
				background: #432767;
				box-sizing: border-box;
				padding:20px 0;
			}
			&.eventType {
				position: absolute;
				@include vw(font-size, 58px);
				color: #fff;
				font-weight: 900;
				@include vw(letter-spacing, -7px);
				line-height: 1.3;
				text-align: center;
				
				em {
					color: #05fbfa;
				}
	
				&.A {
					@include vw(top, 100px);
					@include vw(left, 50px);
					@include vw(right, 50px);
				}
				&.B {
					@include vw(bottom, 450px);
					@include vw(left, 50px);
					@include vw(right, 50px);
				}
	
			}
		}
		// content moudule
		
		#edoContent1 {
			.eco2912 {
				display: none;
			}
			#eduf-paragraph {
				margin-bottom: 0 !important;
				height: auto !important;
			}

			.monthlyNumber2 {
				position: absolute;
				@include vw(left, 124px);
				@include vw(top, 234px);
				@include vw(font-size, 21px);
				font-weight: 900;
				color: #2f2f2f;
				letter-spacing: -1px;
				font-family: 'Roboto', 'Noto Sans KR', '맑은 고딕', 'Malgun Gothic', 'Apple SD Gothic Neo', 'Dotum', '돋움', 'Gulim', '굴림', '굴림체', Sans-Serif;;
			}

			.ecoCont0 {
				background: #e1f0ff;
			}
			.ecoContVisual {
				// yellow > background:url('https://img.eduwill.net/eduwill/img/2021/_106/product/211220/mobile/eco4010/ecoContVisual_bg.jpg') no-repeat 50% 50%;
				background:url('https://img.eduwill.net/eduwill/img/2021/Q/product/211224/mobile/eco4328/ecoContVisual_bg.jpg') no-repeat 50% 50%;	
				background-size:cover;
				overflow: hidden;
				.btn-reason {
					top: 7.5vw;
					right: 5vw;
					color: #000;
					border-color: #000;
					&::after {
						border-color: #000;
					}

				}

				.btn {
					position:absolute;
					@include vw(top,50px);
					right:0;
					@include vw(width,234px);
				}
				.winner-contents {
					overflow:hidden;
					position:absolute;
					bottom: -37vw;
					left:50%;
					transform:translateX(-50%);
					width:100%;
					@include vw(height,260px);
					@include vw(padding-bottom,370px);
					.winner-list {
						transform:perspective(150px) rotateX(25deg);
						.slick-track {
							transform:translate(0) !important;
						}
					}
					p {
						color:#3e3e3e;
						@include vw(font-size,18px);
						font-weight:700;
						line-height:normal;
						text-align: center;
					}
				}
			}
			.ecoCont1 {
				.wrap {
					padding-top: 50px;
					.btn-reason {
						top: 4vw;
					}
					.item {
						display: flex;
						justify-content: space-between;
						flex-wrap: wrap;
						align-items: stretch;
						margin-bottom: 20px;
						@include vw(padding, 0 50px);
						> a {
							flex-basis: 48%;
							box-sizing: border-box;
							@include vw(margin-bottom, 40px);
						}


						.teacher-list-box {
							position: relative; 
							width: 100%; 
							margin: 0 auto;
						
							.col { 
								position: relative; 
								width: 32%; 
								margin: 0 2% 4% 0;
								
								&.none:last-child {
									display: none
								}
								&:nth-child(3n) {
									margin-right: 0;
								}
								a { 
									display: block; 
									width: 100%; 
									height: 100%;
						
									.t-info {
										position: absolute; 
										bottom: 0; 
										left: 0; 
										z-index: 1; 
										text-align: left; 
										line-height: 1;
										div {
											line-height: 1;
											color: #222; 
											letter-spacing: -1px;
						
											&.t-subject {
												// margin-bottom: 3px; 
												font-size: 3vw; 
												font-weight: 400; 
												
											}
											&.t-name {
												display: inline-block; 
												padding-right: 20px; 
												font-size: 3vw; 
												font-weight: 900; 
												background: url('https://img.eduwill.net/eduwill/img/2021/Q/common/teacher/icon_home.png') right bottom no-repeat; 
												background-size: 11px auto;
											}
										}
									}
									&.btn-none { cursor: default;}
						
								}
					
							}
							
						}
					}
				}

				
			}

			.ecoCont2,
			.ecoCont4 {
				background: #e1f0ff;
			}

			.ecoCont3 {
				.fix {
					position: absolute;
					@include vw(bottom, 170px);
					@include vw(right, 94px);
					@include vw(width, 245px);
				}
			}

			.ecoCont4 {
				@include vw(padding-bottom, 120px);
				.tabWrap {
					box-shadow: 0 15px 20px 3px rgba(0,0,0,0.2);
					@include vw(width, 620px);
					margin: 8vw auto 0 auto;

					.tab-list {
						position:relative;
						display: inline-flex;
						justify-content: space-between;
						border-radius:17px 17px 0 0;
						width: 100%;
						.tab-item {
							position: relative;
							width:50%;
							@include vw(height,91px);
							@include vw(font-size, 30px);
							padding-right: 10vw;
							box-sizing:border-box;
							border-radius:17px 17px 0 0;
							background-color:#b5c3d3;
							color: #999999;
							font-weight: 900;
							letter-spacing:-1px;
							display: flex;
							flex-direction: column;
							align-items: flex-end;
							justify-content: center;
							
							&::after {
								content: '';
								position: absolute;
								@include vw(left, 40px);
								bottom: 0;
								@include vw(width, 108px);
								@include vw(height, 130px);
								background: url('//img.eduwill.net/eduwill/img/2022/Q/product/module/mobile/eco4049/new2206/ecoCont4_tab_off.png') no-repeat center top;
								background-size: cover;
							}
							
							&.on {
								position:relative;
								z-index:10;
								background-color:#3517cd;
								color:#fff;
								transition:all .2s;

								&::after {
									background: url('//img.eduwill.net/eduwill/img/2022/Q/product/module/mobile/eco4049/new2206/ecoCont4_tab_on.png') no-repeat center top;
									background-size: cover;
								}
							}


						}
					}
					.tab-conts {
						margin-top: 0;
						.tab-cont {
							display:none;
							background: #fff;
							font-size:0;
							&.on {
								display:block;
							}
							img {
								width:100%;
							}
						}
					}
				}
			}
			
			.ecoCont5 {
				background: #070b43;
				@include vw(padding-bottom, 120px);
				
			}

			.ecoCont6 {
				background: #f3f3f3;
				@include vw(padding-bottom, 120px);

				.text{
					font-family: 'roboto';
					position: absolute;
					top: 42.75vw;
					@include vw(left, 118px);
					@include vw(font-size, 25px);
					font-weight: 700;
					color: #222;
					line-height: 1;
					letter-spacing: -2px;
				}

				.slide {
					
					.slick-dots {
						margin-top: -10px;
					}
				}
			}
			.ecoCont9 {
				.slideWrap {
					position: absolute;
					border-top: 2px solid #000;
					border-bottom: 2px solid #000;
					@include vw(top, 1155px);
					@include vw(left, 59px);
					@include vw(width, 600px);
					box-shadow: 0px 21px 21px -2px rgba(0,0,0,0.2);
					z-index: -1;
					> img {
						position: absolute;
						right: -7px;
						top: -57px;
						z-index: 2;
						width: 76px;
					}
				}
				.slideTitle {
					display: flex;
					align-items: center;
					justify-content: center;
					p {
						@include vw(font-size, 21px);
						background: #f0f0f0;
						@include vw(padding, 10px 0);
						border-bottom: 1px solid #b2b2b2;
						color: #222;
						font-weight: bold;
						text-align: center;
						box-sizing: border-box;
						&:first-child {
							width: 20%;
						}
						&:last-child {
							width: 80%;
							@include vw(padding-right, 30px);

						}
					}
				}
				.slideTable {
					width: 100%;
					background: #fff;
					
					.slick-slide {
						box-sizing: border-box;
						@include vw(line-height, 37px);
						border-bottom: 1px solid #dbdbdb;

					}
					.tableWrap {

						&:last-child {
							dl {
								border: none;
							}
						}
					}
					dl {
						display: flex;
						align-items: center;
						@include vw(font-size, 19px);
						color: #222;
						@include vw(padding, 0 0 0 48px);
						
						dt {
							font-weight: 700;
							font-family: 'Noto Sans KR', '맑은 고딕', 'Malgun Gothic', 'Apple SD Gothic Neo', 'Dotum', '돋움', 'Gulim', '굴림', '굴림체', Sans-Serif;
							@include vw(padding-right, 32px);
						}
						em {
							color: #ffa300;
						}


					}

				}
			}

			.ecoTab {
				@include vw(padding-bottom, 190px);
				
				.tab-list {
					position:relative;
					@include vw(margin,0 50px);
					@include vw(border-width,0 0 10px);
					
					.tab-item {
						float:left;
						width:50%;
						@include vw(height,100px);
						box-sizing:border-box;
						@include vw(border-radius,17px 17px 0 0);
						background-color:#dbdbdb;
						color:rgba(32,32,32,.4);
						@include vw(font-size,36px);
						font-weight:700;
						text-align:center;
						@include vw(line-height,100px);
						@include vw(letter-spacing,-2px);
						&.on {
							position:relative;
							z-index:10;
							background-color:#002bbe;
							color:#fff;
							transition:all .2s;
							.f-color {
								color:#ffd40e;
								transition:all .3s;
							}
						}
						.mHide {
							display:none;
						}
					}
				}
		
				.tab-cont {
					display:none;
					@include vw(padding,0 50px);
					
					font-size:0;
					&.on {
						display:block;
					}
					img {
						width:100%;
					}
					.slick-dots {
						position: absolute;
						bottom: -35px;
						left: 0;
						right: 0;
	
					}
				}
			}
			
			.ecoCont7 {
				background: #f5f5f5;
				@include vw(padding-bottom, 120px);

				.slick-dots {
					margin-top: -4vw;
				}
				
			}

			.ecoCont8 {
				display: none;
			}

			.ecoCont10 {
				background: #e1f0ff;
				@include vw(padding-bottom, 120px);
				.tabWrap {
					box-shadow: 0 15px 20px 3px rgba(0,0,0,0.2);
					@include vw(width, 620px);
					margin: 0 auto;

					.tab-list {
						position:relative;
						display: inline-flex;
						justify-content: space-between;
						border-radius:17px 17px 0 0;
						width: 100%;
						.tab-item {
							position: relative;
							width:33.3%;
							@include vw(height,91px);
							@include vw(font-size, 28px);
							box-sizing:border-box;
							@include vw(border-radius,17px 17px 0 0);
							background-color:#b5c3d3;
							color: #999999;
							font-weight: 900;
							letter-spacing: -.2vw;
							display: flex;
							flex-direction: column;
							align-items: center;
							justify-content: center;
							
							em {
								font-weight: 400;
								@include vw(font-size, 20px);
							}

							&.on {
								position:relative;
								z-index:10;
								background-color:#3517cd;
								color:#fff;
								transition:all .2s;
							}


						}
					}
					.tab-conts {
						margin-top: 0;
						.tab-cont {
							display:none;
							background: #fff;
							font-size:0;
							&.on {
								display:block;
							}
							img {
								width:100%;
							}
						}
					}
				}
			}

		}

		&[data-type="2912"],
		&[data-type="2911"],
		&[data-type="2908"] {
			#edoContent1 { 
				
				.ecoCont9 {
					display: none !important;
				}
				.ecoCont8 {
					display: block;
					@include vw(padding-bottom, 120px);
					&.ecoHide {
						display: block !important;
					}
					.btn-refunds {
						position: absolute;
						@include vw(bottom, 70px);
						left: 0;
						right: 0;
						z-index:1;
					}
					.slide {
						padding: 0 8vw;
						@include vw(margin-top, 50px);
					}
				}
				.ecoCont1 {
					.item {
						display: none !important;
					}
					.ecoHide {
						display: block !important;
					}

				}
				
				
			}
			
		}

		&[data-type="3815"] {
			#edoContent1 {
				.ecoCont0 {
					background: #f8eee5;
				}

				.ecoCont1 {
					background: #f5f5f5;
					@include vw(padding-bottom, 120px);
					.bounce {
						position: absolute;
						right: 0;
						top: -30px;
						z-index: 20;
						animation:bounce 2s infinite both;
					}
				}

				.ecoCont2 {
					background: transparent;
				}

				.ecoCont3 {
					background: #f5f5f5;

					.book {
						position: absolute;
						top: 49vw;
						right: 0;
						z-index: 10;
						@include vw(width, 273px);
					}
					.gif {
						position: absolute;
						top: 47.5vw;
						left: 8.2vw;
						z-index: 9;
						@include vw(width, 538px);
						
					}
				}

				.ecoCont4 {
					background: transparent;
					@include vw(padding-bottom, 120px);
					.tabWrap {
						box-shadow: 0 10px 10px 3px rgba(0,0,0,0.1);
						@include vw(width, 620px);
						margin: 0 auto;
	
						.tab-list {
							position:relative;
							display: inline-flex;
							justify-content: space-between;
							border-radius:5px 5px 0 0;
							width: 100%;
							.tab-item {
								position: relative;
								width:50%;
								padding: 0;
								@include vw(height, 130px);
								@include vw(font-size, 30px);
								box-sizing:border-box;
								border-radius:17px 17px 0 0;
								background-color:#b5c3d3;
								color: #999999;
								font-weight: 900;
								letter-spacing:-1px;
								display: flex;
								flex-direction: column;
								align-items: center;
								justify-content: center;
								
								&::after {
									display: none;
									
								}
								
								em {
									display: block;
									background: #fff;
									@include vw(width, 134px);
									@include vw(padding, 6px 0);
									@include vw(font-size, 24px);
									@include vw(border-radius, 30px);
									color: #999;
									margin-bottom: 1vw;
									font-weight: 700;

								}
								&.on {
									position:relative;
									z-index:10;
									background-color:#3a3e59;
									color:#fff;
									transition:all .2s;
	
									&::after {
										display: none;
									}

									em {
										color: #222;
	
									}
								}
	
	
							}
						}
						.tab-conts {
							margin-top: 0;
							.tab-cont {
								display:none;
								background: #fff;
								font-size:0;
								&.on {
									display:block;
								}
								img {
									width:100%;
								}
							}
						}
					}
				}


				.ecoCont5 {
					background: #410013;

					.slick-dots {
						margin-top: -5vw;
					}
				}

				.ecoCont6 {
					padding: 0;

				}

				.ecoCont9 {
					background: #f5f5f5;
					.slideWrap {
						z-index: 1;
					}

				}
				.ecoCont10 {
					background: transparent;
				
					.tabWrap {
						
						box-shadow: 0 15px 20px 3px rgba(0,0,0,0.2);
						@include vw(width, 620px);
						margin: 0 auto;

						.tab-list {
							position:relative;
							display: inline-flex;
							justify-content: space-between;
							border-radius:17px 17px 0 0;
							width: 100%;
							.tab-item {
								position: relative;
								width:32.7%;
								@include vw(height,140px);
								@include vw(font-size, 30px);
								font-weight: 900;
								box-sizing:border-box;
								@include vw(border-radius,10px 10px 0 0);
								background-color:#666666;
								color: #999999;
								letter-spacing: -.2vw;
								display: flex;
								flex-direction: column;
								align-items: center;
								justify-content: center;
								
								&.on {
									position:relative;
									z-index:10;
									background-color:#3a3e59;
									color:#fff;
									transition:all .2s;
								}


							}
						}
						.tab-conts {
							margin-top: 0;
							.tab-cont {
								display:none;
								background: #fff;
								font-size:0;
								&.on {
									display:block;
								}
								img {
									width:100%;
								}
							}
						}
					}
				}
			}
		}

	}

}