// --------------------------------------------
// form
// --------------------------------------------

form{
    margin:0;
    padding:0;
}

fieldset {
    margin:0; 
    padding:0;
    border:none;
}

input, .input_search {
    margin:0;
    padding:0;
    height:22px;
    line-height:20px;
    border:1px solid #999;
    padding:2px 0 2px 5px; 
    color:#555;
    font-size:14px;
    background-color:#fff !important;
}

select {
    margin:0;
    padding:0;
    height:22px;
    line-height:20px;
    border:1px solid #CCC;
    background-color:#fff;
}

textarea{
    margin:0;
    padding:0;
    border:1px solid #CCC;
    background-color:#fff;
    resize: none;
    padding:5px;
}