@charset "UTF-8";
.product-eco .sector-acer .info-lists .slick-slide .col a, .product-eco .sector-acer .info-lists .slick-slide .wrap-tab .tab-list li a, .product-eco .wrap-tab .tab-list .sector-acer .info-lists .slick-slide li a, .product-eco .sector-review .review-box, .product-eco .sector-begin .begin-list {
  display: flex;
  -webkit-align-item: center;
  align-items: center;
  justify-content: center;
}

.product-eco .sector-item .price-table table [class^=row-].row-discount a, .grid, .product-eco .sector-teacher .small-list, .product-eco .wrap-tab .tab-list {
  *zoom: 1;
}
.product-eco .sector-item .price-table table [class^=row-].row-discount a:before, .grid:before, .product-eco .sector-teacher .small-list:before, .product-eco .wrap-tab .tab-list:before, .product-eco .sector-item .price-table table [class^=row-].row-discount a:after, .grid:after, .product-eco .sector-teacher .small-list:after, .product-eco .wrap-tab .tab-list:after {
  content: "";
  display: table;
}
.product-eco .sector-item .price-table table [class^=row-].row-discount a:after, .grid:after, .product-eco .sector-teacher .small-list:after, .product-eco .wrap-tab .tab-list:after {
  clear: both;
}

.hidden,
.sr_only,
.sr-only {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.grid, .product-eco .sector-teacher .small-list, .product-eco .wrap-tab .tab-list {
  position: relative;
  box-sizing: border-box;
}
.grid .col, .product-eco .sector-teacher .small-list .col, .product-eco .wrap-tab .tab-list .col, .product-eco .wrap-tab .tab-list li {
  position: relative;
  float: left;
  box-sizing: border-box;
}

.table {
  display: table;
}
.table .table-cell {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

.effect-bounce-diagonal {
  animation-name: effectBounceDiagonal;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-direction: normal;
}
@keyframes effectBounceDiagonal {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10px, -10px);
  }
}

.effect-bounce-updown {
  animation-name: effectBounceUpDown;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-direction: normal;
}
@keyframes effectBounceUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.effect-extend {
  animation-name: effectExtend;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-direction: normal;
}
@keyframes effectExtend {
  0%, 100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
}

.effect-blink, .product-eco .sector-item .flag {
  animation-name: effectBlink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: step-start;
  animation-direction: normal;
}
@keyframes effectBlink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.promotion,
.product-eco,
.fullservice {
  text-align: center;
}
.promotion [class^=sector-],
.product-eco [class^=sector-],
.fullservice [class^=sector-] {
  position: relative;
}
.promotion .wrap,
.product-eco .wrap,
.fullservice .wrap {
  position: relative;
  margin: 0 auto;
}
.promotion .wrap-full,
.product-eco .wrap-full,
.fullservice .wrap-full {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.popup-dim {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 300;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup {
  position: absolute;
  top: 0;
  left: 50%;
  right: 0;
  z-index: 300;
  display: none;
  width: 100%;
  max-width: 108.3333333333vw;
  background-color: #fff;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 720px) {
  .popup {
    max-width: 780px;
  }
}
@media screen and (min-width: 720px) {
  .popup {
    transform: translate(-50%, 0);
    min-height: 320px;
  }
}
.popup * {
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  letter-spacing: -0.1388888889vw;
}
@media screen and (min-width: 720px) {
  .popup * {
    letter-spacing: -1px;
  }
}
.popup .popup-close a {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 1.5625rem;
  height: 1.5625rem;
  padding: 4.0277777778vw;
  z-index: 300;
}
@media screen and (min-width: 720px) {
  .popup .popup-close a {
    width: 50px;
  }
}
@media screen and (min-width: 720px) {
  .popup .popup-close a {
    height: 50px;
  }
}
.popup .popup-close a:before, .popup .popup-close a:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 25px;
  height: 1px;
  margin-left: -12.5px;
  background-color: #000;
}
.popup .popup-close a:before {
  transform: rotate(45deg);
}
.popup .popup-close a:after {
  transform: rotate(315deg);
}
.popup .popup-close a span {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}
@media screen and (min-width: 720px) {
  .popup .popup-close a {
    padding: 29px;
  }
}
.popup .popup-close::before, .popup .popup-close::after {
  opacity: 0;
}
.popup .text-box {
  margin-bottom: 5%;
  text-align: center;
  font-size: 2.7777777778vw;
  color: #000;
}
@media screen and (min-width: 720px) {
  .popup .text-box {
    font-size: 20px;
  }
}
.popup .text-box a {
  display: inline-block;
  margin-left: 1.1111111111vw;
  padding: 0 0.6944444444vw;
  color: #000;
  background-color: #ffd500;
}
@media screen and (min-width: 720px) {
  .popup .text-box a {
    margin-left: 8px;
  }
}
@media screen and (min-width: 720px) {
  .popup .text-box a {
    padding: 0 5px;
  }
}
.popup .popup-title {
  padding: 4.1666666667vw 0;
  font-weight: 400;
  text-align: center;
  line-height: 1.2;
  color: #fff;
  background-color: #393939;
}
@media screen and (min-width: 720px) {
  .popup .popup-title {
    padding: 30px 0;
  }
}
.popup .popup-title span {
  font-size: 4.1666666667vw;
  font-weight: 400;
  color: #fff;
}
@media screen and (min-width: 720px) {
  .popup .popup-title span {
    font-size: 30px;
  }
}
.popup .popup-title strong {
  display: block;
  font-size: 5.5555555556vw;
  font-weight: 900;
  letter-spacing: -0.2777777778vw;
}
@media screen and (min-width: 720px) {
  .popup .popup-title strong {
    font-size: 40px;
  }
}
@media screen and (min-width: 720px) {
  .popup .popup-title strong {
    letter-spacing: -2px;
  }
}
.popup .popup-cont {
  box-sizing: border-box;
  padding: 8.3333333333vw 5.5555555556vw 8.3333333333vw 5.5555555556vw;
  font-size: 3.3333333333vw;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.9);
  word-break: keep-all;
}
@media screen and (min-width: 720px) {
  .popup .popup-cont {
    padding: 60px 40px 60px 40px;
  }
}
@media screen and (min-width: 720px) {
  .popup .popup-cont {
    font-size: 24px;
  }
}
.popup .popup-cont p {
  margin: 0 auto 4.1666666667vw;
}
@media screen and (min-width: 720px) {
  .popup .popup-cont p {
    margin: 0 auto 30px;
  }
}
.popup .popup-cont p b {
  font-size: 3.8888888889vw;
  font-weight: 700;
  color: #95c7ff;
}
@media screen and (min-width: 720px) {
  .popup .popup-cont p b {
    font-size: 28px;
  }
}
.popup .popup-cont span {
  font-size: 3.0555555556vw;
}
@media screen and (min-width: 720px) {
  .popup .popup-cont span {
    font-size: 22px;
  }
}

#popupReview {
  border-radius: 3.0555555556vw;
}
@media screen and (min-width: 720px) {
  #popupReview {
    border-radius: 22px;
  }
}

.action-top-product {
  display: none !important;
}

.product-eco {
  overflow: hidden;
}
.product-eco img {
  border: 0;
  vertical-align: top;
}
.product-eco * {
  line-height: normal;
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  letter-spacing: -1px;
}
.product-eco .wrap {
  width: 1200px;
}
.product-eco .wing {
  position: fixed;
  top: 50%;
  z-index: 10;
  transform: translateY(-50%);
}
.product-eco .wing.left {
  display: block;
  top: 270px;
  left: 50%;
  margin-left: -800px;
}
.product-eco .wing.right {
  display: block;
  right: 10px;
  text-align: center;
}
.product-eco .wing.right a {
  display: block;
  margin: 0 auto;
  text-align: left;
}
.product-eco .wing.right .wing-wrap {
  width: 180px;
  padding: 20px 16px;
}
.product-eco .wing.right .wing-item {
  background: #ffffff;
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin-top: 12px;
  overflow: hidden;
  box-sizing: border-box;
}
.product-eco .wing.right .wing-item.top {
  padding: 0;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.product-eco .wing.right .wing-item.top img {
  width: 100%;
}
.product-eco .wing.right .wing-item .wing-title {
  text-align: left;
  background: #ffffff;
  margin-bottom: 10px;
}
.product-eco .wing.right .wing-item .wing-title b {
  color: #212121;
  font-size: 24px;
  font-family: "EduwillPassBold", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
}
.product-eco .wing.right .wing-item .wing-title b span {
  font-size: 16px;
  font-family: "EduwillPassBold", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
}
.product-eco .wing.right .wing-item .wing-title strong {
  color: #ff544f;
  font-size: 16px;
  font-family: "EduwillPassBold", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  letter-spacing: -0.01em;
}
.product-eco .wing.right .wing-item a {
  line-height: 24px;
  letter-spacing: -1px;
  font-size: 16px;
  color: #212121;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px 0;
  background-image: url("https://img.eduwill.net/eduwill/img/2021/G/product/210930_2/pc/wing_arrow.png");
  background-position: right bottom 15px;
  background-repeat: no-repeat;
}
.product-eco .wing.right .wing-item a.red {
  padding: 10px 0 0;
  background-position: right bottom 10px;
  font-weight: 700;
  color: #ff544f;
  background-image: url("https://img.eduwill.net/eduwill/img/2021/G/product/210930_2/pc/wing_arrow_red.png");
}
.product-eco .wing.right .wing-item.wing-sale {
  background: #06482b;
  padding: 22px 18px;
}
.product-eco .wing.right .wing-item.wing-sale a {
  border: none;
  padding: 0;
  background: none;
  letter-spacing: -0.02em;
}
.product-eco .wing.right .wing-item.wing-sale .text-1 {
  line-height: 140%;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.product-eco .wing.right .wing-item.wing-sale .text-1 span {
  color: #ffd900;
}
.product-eco .wing.right .wing-item.wing-sale .text-2 {
  font-size: 22px;
  font-weight: 700;
  color: #FFD900;
  line-height: 35px;
}
.product-eco .wing.right .wing-item.wing-sale .text-2 em {
  font-weight: 400;
  font-size: 24px;
}
.product-eco .wing.right .wing-item.wing-sale .text-2 b {
  font-weight: 900;
  font-size: 40px;
  line-height: 47px;
  color: #fff96c;
}
.product-eco .wing.right .wing-item.wing-sale .text-2 span {
  font-weight: 900;
  font-size: 24px;
  line-height: 35px;
}
.product-eco .wing.right .wing-item.wing-sale .text-3 {
  line-height: 24px;
  font-size: 13px;
  font-weight: 400;
  color: #ffffff;
}
.product-eco .holder {
  position: relative;
}
.product-eco p {
  margin: 0;
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(32, 32, 32, 0.6);
}
.product-eco p.notice {
  margin-top: 10px;
  font-size: 16px;
}
.product-eco .btn-fly {
  position: absolute;
  display: block;
  z-index: 1;
}
.product-eco .wrap-tab .tab-list a {
  display: block;
}
.product-eco .wrap-tab .tab-contents .item {
  position: relative;
  display: none;
}
.product-eco .wrap-tab .tab-contents .item.in {
  display: block;
}
.product-eco .action {
  position: absolute;
  top: 490px;
  left: 50%;
  transform: translateX(-50%);
}
.product-eco .action a {
  display: inline-block;
  padding: 12px 60px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -1px;
  border: 1px solid #212121;
  background: transparent;
  color: #212121;
}
.product-eco .icon-hand {
  position: absolute;
  top: 50%;
  right: -7%;
  width: 60px;
  animation-name: moving;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-direction: normal;
}
.product-eco .icon-hand img {
  max-width: 100%;
}
@keyframes moving {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}
.product-eco .slide-wrap .bx-wrapper .bx-viewport {
  left: 0;
  border: none;
  background: none;
  box-shadow: none;
}
.product-eco .slick-arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  padding: 0;
  font-size: 0;
  color: transparent;
  text-indent: -9999px;
  border: none;
  background: none;
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
  outline: none;
}
.product-eco .slick-arrow.slick-prev {
  margin-left: -628px;
  background-image: url("https://img.eduwill.net/eduwill/img/2021/G/product/210930_2/pc//btn_prev.png");
}
.product-eco .slick-arrow.slick-next {
  margin-left: 560px;
  background-image: url("https://img.eduwill.net/eduwill/img/2021/G/product/210930_2/pc//btn_next.png");
}
.product-eco .notice {
  text-align: right;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -1px;
  color: rgba(0, 0, 0, 0.4);
  line-height: 1.5;
}
.product-eco .flag {
  position: absolute;
  z-index: 1;
}
.product-eco .flag.flag-1 {
  top: 1318px;
  right: 50px;
  text-align: center;
}
.product-eco .flag.flag-1 span {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -1px;
  color: #fff;
  line-height: 1;
}
.product-eco .flag.flag-1 span strong {
  color: #66fd97;
}
.product-eco .flag.flag-2 {
  top: 10px;
  left: 82%;
}
.product-eco .flag.flag-2 span {
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  font-weight: 700;
  color: #000;
  font-size: 24px;
  letter-spacing: -2px;
  line-height: 1.2;
}
.product-eco .flag.flag-2 span strong {
  line-height: 1.2;
}
.product-eco .sector-visual-hyeri {
  height: 760px;
  margin-bottom: 70px;
}
.product-eco .sector-visual-hyeri::after {
  display: block;
  content: "";
  position: absolute;
  bottom: -70px;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: #195B3E;
}
.product-eco .sector-visual-hyeri .visual-cover {
  background: url("https://img.eduwill.net/eduwill/img/2022/0/product/221212/pc/right_arrow_green_2.png") right bottom no-repeat;
}
@media screen and (max-width: 1600px) {
  .product-eco .sector-visual-hyeri .visual-cover {
    background: url("https://img.eduwill.net/eduwill/img/2022/0/product/221212/pc/right_arrow_green_3.png") right bottom no-repeat;
  }
}
@media screen and (min-width: 1600px) and (max-width: 1750px) {
  .product-eco .sector-visual-hyeri .visual-cover {
    background: url("https://img.eduwill.net/eduwill/img/2022/0/product/221212/pc/right_arrow_green_2.png") right bottom no-repeat;
  }
}
@media screen and (min-width: 2400px) {
  .product-eco .sector-visual-hyeri .visual-cover {
    background: url("https://img.eduwill.net/eduwill/img/2022/0/product/221212/pc/right_arrow_green.png") 120% bottom no-repeat;
  }
}
.product-eco .section-title {
  position: relative;
  text-align: left;
  line-height: 1.3;
  font-size: 50px;
  font-weight: 900;
  color: #222;
  letter-spacing: -2px;
}
.product-eco .section-title.title-white {
  color: #fff;
}
.product-eco .section-title.title-center {
  text-align: center;
}
.product-eco .section-title.title-center .grounds-text {
  text-align: center;
}
.product-eco .section-title em {
  display: inline-block;
  margin-left: 3px;
  vertical-align: top;
  font-size: 18px;
  color: #222;
}
.product-eco .section-title em.star {
  vertical-align: top;
  font-size: 20px;
  color: inherit;
}
.product-eco .section-title .small-title {
  display: inline-block;
  font-size: 36px;
}
.product-eco .section-title .sub-title {
  display: block;
  margin-top: 16px;
  font-size: 38px;
  font-weight: 400;
  color: inherit;
  letter-spacing: -2px;
}
.product-eco .section-title .grounds-text {
  margin-top: 20px;
  font-weight: 400;
}
.product-eco .grounds-text {
  line-height: 1.5;
  font-size: 18px;
  font-weight: 400;
  color: rgba(34, 34, 34, 0.4);
}
.product-eco .asterisk {
  display: inline-block;
  font-weight: 300;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.6);
}
.product-eco .sector-top-banner {
  background-color: #ffe000;
}
.product-eco .sector-title {
  background: #244d40 url("https://img.eduwill.net/eduwill/img/2021/G/product/210930_2/pc/bg_title.jpg") 50% 0 no-repeat;
}
.product-eco .sector-title .wrap {
  width: 1200px;
}
.product-eco .sector-title .flag {
  position: absolute;
  top: 260px;
  left: 52%;
  margin-left: 195px;
  z-index: 1;
  animation-name: point;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-direction: normal;
}
@keyframes point {
  0%, 100% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
}
.product-eco .sector-title .slider-title {
  position: absolute;
  left: 50%;
  bottom: 63px;
  margin-left: -457px;
  margin-bottom: 37px;
  width: 914px;
  padding: 40px 0;
  text-align: center;
  line-height: 1;
  font-size: 43px;
  color: #fff;
  font-weight: 700;
  border-radius: 35px;
  border: 4px solid #d0ebaf;
  z-index: 1;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
}
.product-eco .sector-title .slider-title strong {
  color: #ffd75d;
  font-weight: 700;
  line-height: 1;
}
.product-eco .sector-title .slider-title .tag {
  position: absolute;
  top: -24px;
  left: 30px;
  width: 227px;
  height: 47px;
  font-size: 24px;
  font-weight: 700;
  color: #30337d;
  letter-spacing: -2px;
  text-align: center;
  line-height: 47px;
  border-radius: 50px;
  background: #fddb74;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
}
.product-eco .sector-title .slider-title.gradient {
  background: #195b3e;
  background: linear-gradient(#195b3e, #195b3e);
  background: #195b3e;
  background: linear-gradient(to bottom, #195b3e 0%, #195b3e 50%, #195b3e 100%);
}
.product-eco .sector-begin {
  position: relative;
  padding: 80px 0;
  line-height: 1.4;
  background-color: #195B3E;
  letter-spacing: -0.02em;
}
.product-eco .sector-begin .begin-title {
  font-size: 38px;
  color: #fff;
}
.product-eco .sector-begin .begin-title strong {
  font-weight: 700;
  font-size: 50px;
}
.product-eco .sector-begin .begin-cont {
  margin-top: 40px;
  padding: 20px 0;
  font-weight: 700;
  font-size: 38px;
  color: #fff;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.product-eco .sector-begin .begin-cont strong {
  font-weight: 700;
  color: #FFC900;
}
.product-eco .sector-begin .begin-list li {
  position: relative;
  margin: 40px 12px 0;
  padding: 30px 0px 50px;
  width: 282px;
  height: 261px;
  background: #ffffff;
  border-radius: 10px;
  box-sizing: border-box;
  text-align: center;
}
.product-eco .sector-begin .begin-list li::after {
  display: block;
  content: "";
  position: absolute;
  left: 50%;
  bottom: -20px;
  transform: translateX(-50%);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: #195B3E;
}
.product-eco .sector-begin .begin-list li p {
  text-align: center;
  color: #212121;
}
.product-eco .sector-begin .begin-list li .text-1 {
  display: inline-block;
  padding: 0 20px;
  height: 40px;
  line-height: 41px;
  background: #FFC900;
  border-radius: 20px;
  font-size: 22px;
  letter-spacing: -0.04em;
  color: #000;
}
.product-eco .sector-begin .begin-list li .text-2 {
  margin-top: 20px;
  font-weight: 700;
  font-size: 32px;
  line-height: 140%;
}
.product-eco .sector-begin .begin-list li .text-3 {
  font-size: 22px;
  line-height: 160%;
  text-align: center;
  letter-spacing: -0.04em;
  color: #999999;
}
.product-eco .sector-begin .begin-notice {
  margin-top: 30px;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  opacity: 0.4;
}
.product-eco .sector-item {
  padding-bottom: 100px;
  overflow: hidden;
}
.product-eco .sector-item .section-title {
  margin: 100px auto 80px;
  line-height: 1.5;
}
.product-eco .sector-item .flag {
  position: absolute;
  top: 110px;
  left: 15px;
  animation-delay: 1s;
}
.product-eco .sector-item .tag {
  position: absolute;
  top: 500px;
  left: 0;
}
.product-eco .sector-item .price-table {
  width: 1200px;
  margin: 0 auto;
}
.product-eco .sector-item .price-table table {
  width: 100%;
  text-align: left;
  color: #222;
  border-collapse: inherit !important;
}
.product-eco .sector-item .price-table table [class^=row-] td {
  position: relative;
  vertical-align: top;
  color: #222;
  border-style: solid;
  border-width: 0;
  border-right-width: 2px;
  border-left-width: 2px;
}
.product-eco .sector-item .price-table table [class^=row-] td.current {
  width: 386px;
  border-color: #195b3e;
  background: #fff;
}
.product-eco .sector-item .price-table table [class^=row-] td.current h2 span,
.product-eco .sector-item .price-table table [class^=row-] td.current .color {
  color: #195b3e;
}
.product-eco .sector-item .price-table table [class^=row-] td.current.color2 {
  border-color: #236A89;
  background: #fff;
}
.product-eco .sector-item .price-table table [class^=row-] td.current.color2 h2 span,
.product-eco .sector-item .price-table table [class^=row-] td.current.color2 .color {
  color: #236A89;
}
.product-eco .sector-item .price-table table [class^=row-] td.other {
  width: 386px;
  border-color: #81A8C5;
}
.product-eco .sector-item .price-table table [class^=row-] td.other h2 span {
  color: #81A8C5;
}
.product-eco .sector-item .price-table table [class^=row-] td.blank {
  width: 20px;
  border: none;
}
.product-eco .sector-item .price-table table [class^=row-] td .tag-221021 {
  position: absolute;
  top: -50px;
  left: 250px;
  text-align: center;
}
.product-eco .sector-item .price-table table [class^=row-] td .tag-221021 p {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  color: #222;
  padding: 25px 0;
  font-weight: 900;
  font-size: 18px;
  line-height: 130%;
}
.product-eco .sector-item .price-table table [class^=row-] .cell {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 0 20px;
  vertical-align: top;
  line-height: 1.45;
  letter-spacing: -1.6px;
  box-sizing: border-box;
}
.product-eco .sector-item .price-table table [class^=row-] .dash {
  display: inline-block;
  vertical-align: top;
  line-height: 26px;
  font-weight: 400;
}
.product-eco .sector-item .price-table table [class^=row-].row-title td {
  font-size: 32px;
  font-weight: 900;
  border-top-width: 2px;
  border-radius: 0 30px 0 0;
}
.product-eco .sector-item .price-table table [class^=row-].row-title h2 {
  font-size: 32px;
}
.product-eco .sector-item .price-table table [class^=row-].row-title .cell {
  position: relative;
  padding-top: 40px;
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 32px;
  line-height: 140%;
  letter-spacing: -0.02em;
}
.product-eco .sector-item .price-table table [class^=row-].row-title .cell .small-text {
  padding-top: 10px;
  font-size: 20px;
  color: #222;
  font-weight: 700;
}
.product-eco .sector-item .price-table table [class^=row-].row-title .flag-refund {
  position: absolute;
  top: -18px;
  right: 6px;
  width: 118px;
  height: 105px;
  padding: 24px;
  text-align: center;
  line-height: 1.1;
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  font-size: 23px;
  font-weight: 700;
  color: #fff;
  background-repeat: no-repeat;
  background-position: 0 0;
  box-sizing: border-box;
}
.product-eco .sector-item .price-table table [class^=row-].row-title .current .flag-refund {
  background-image: url("//img.eduwill.net/eduwill/img/2022/G/common/flag/pc/flag_refund_current.png");
}
.product-eco .sector-item .price-table table [class^=row-].row-title .other .flag-refund {
  background-image: url("//img.eduwill.net/eduwill/img/2022/G/common/flag/pc/flag_refund_other.png");
}
.product-eco .sector-item .price-table table [class^=row-].row-price {
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
}
.product-eco .sector-item .price-table table [class^=row-].row-price td {
  position: relative;
}
.product-eco .sector-item .price-table table [class^=row-].row-price .cell {
  padding: 20px 30px;
  border-radius: 30px 0;
  background-color: #f3f6f6;
}
.product-eco .sector-item .price-table table [class^=row-].row-price .before-price {
  display: block;
  text-decoration: line-through;
  font-size: 22px;
  font-weight: 500;
  color: #fff;
  opacity: 0.6;
}
.product-eco .sector-item .price-table table [class^=row-].row-price .before-price span {
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  font-size: 22px;
  color: #fff;
}
.product-eco .sector-item .price-table table [class^=row-].row-price .before-price:only-child {
  text-decoration: none;
  font-size: 32px;
  color: #fff;
}
.product-eco .sector-item .price-table table [class^=row-].row-price .before-price:only-child span {
  font-size: 72px;
  color: #fff;
}
.product-eco .sector-item .price-table table [class^=row-].row-price .after-price {
  font-size: 32px;
  color: #fff;
  letter-spacing: -2px;
}
.product-eco .sector-item .price-table table [class^=row-].row-price .after-price span {
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  font-size: 72px;
  color: #fff;
  letter-spacing: -2px;
}
.product-eco .sector-item .price-table table [class^=row-].row-price .flag-discount {
  position: absolute;
  top: 0;
  right: 0;
  width: 90px;
  padding: 15px 0 0;
  text-align: center;
  line-height: 1.2;
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  font-size: 17px;
  color: #fff;
  background: #ff544f;
  box-sizing: border-box;
}
.product-eco .sector-item .price-table table [class^=row-].row-price .flag-discount strong {
  font-weight: 700;
}
.product-eco .sector-item .price-table table [class^=row-].row-price .flag-discount::after {
  content: "";
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  width: 0;
  height: 0;
  border-top-width: 20px;
  border-top-style: solid;
  border-right: 45px solid transparent;
  border-left: 45px solid transparent;
  border-top-color: #ff544f;
}
.product-eco .sector-item .price-table table [class^=row-].row-price .current .before-price:only-child {
  color: #195b3e;
}
.product-eco .sector-item .price-table table [class^=row-].row-price .current .before-price:only-child span {
  color: #195b3e;
}
.product-eco .sector-item .price-table table [class^=row-].row-subject .cell {
  padding-top: 15px;
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: 400;
  color: #222;
}
.product-eco .sector-item .price-table table [class^=row-].row-subject .series {
  font-size: 20px;
  font-weight: 400;
  color: #888;
}
.product-eco .sector-item .price-table table [class^=row-].row-benefit .current {
  position: relative;
  z-index: 1;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}
.product-eco .sector-item .price-table table [class^=row-].row-benefit .current .cell {
  padding: 0;
}
.product-eco .sector-item .price-table table [class^=row-].row-benefit .other .cell::before {
  content: "";
  position: absolute;
  top: 0;
  right: 20px;
  left: 20px;
  display: block;
  height: 1px;
  background-color: #dcdcdc;
}
.product-eco .sector-item .price-table table [class^=row-].row-benefit .title {
  padding: 10px 20px 11px;
  font-size: 20px;
  font-weight: 900;
  color: #002ea3;
  background: #ffd327;
  background: linear-gradient(to right, #ffd327 0%, #ffbb27 100%);
}
.product-eco .sector-item .price-table table [class^=row-].row-benefit .title.title-puri {
  padding: 30px 20px;
}
.product-eco .sector-item .price-table table [class^=row-].row-benefit .title-flag {
  display: inline-block;
  padding: 3px 10px;
  vertical-align: middle;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  border-radius: 5px;
  background: #09a3eb;
  background: linear-gradient(to right, #09a3eb 0%, #4760ff 100%);
}
.product-eco .sector-item .price-table table [class^=row-].row-benefit .list {
  padding: 20px 0;
  text-align: center;
  font-size: 0;
}
.product-eco .sector-item .price-table table [class^=row-].row-benefit .list:first-child {
  padding-top: 70px;
}
.product-eco .sector-item .price-table table [class^=row-].row-benefit .list .list-item {
  display: inline-block;
  width: 39%;
  text-align: center;
  vertical-align: middle;
}
.product-eco .sector-item .price-table table [class^=row-].row-benefit .list .list-item:nth-child(2) {
  width: 22%;
}
.product-eco .sector-item .price-table table [class^=row-].row-benefit .list .list-item:nth-child(3) img {
  margin-top: -10px;
}
.product-eco .sector-item .price-table table [class^=row-].row-benefit .list .list-item:only-child {
  width: auto;
}
.product-eco .sector-item .price-table table [class^=row-].row-benefit .list .list-item:only-child img {
  width: 90%;
}
.product-eco .sector-item .price-table table [class^=row-].row-benefit .list .list-item img {
  width: 100%;
}
.product-eco .sector-item .price-table table [class^=row-].row-benefit .list .list-item span {
  display: block;
  margin-top: 10px;
  line-height: 1.2;
  font-size: 16px;
}
.product-eco .sector-item .price-table table [class^=row-].row-benefit li {
  position: relative;
  margin-top: 10px;
  padding-left: 10px;
  line-height: 1.35;
  font-size: 18px;
  font-weight: 700;
  color: #000;
}
.product-eco .sector-item .price-table table [class^=row-].row-benefit li:first-child {
  margin-top: 20px;
}
.product-eco .sector-item .price-table table [class^=row-].row-benefit li::before {
  content: "·";
  position: absolute;
  top: 0;
  left: 0;
}
.product-eco .sector-item .price-table table [class^=row-].row-program:last-child td {
  padding-bottom: 40px;
  border-bottom-width: 2px;
  border-radius: 0 0 0 30px;
}
.product-eco .sector-item .price-table table [class^=row-].row-program td.blank {
  border-bottom: 0;
  background: none;
}
.product-eco .sector-item .price-table table [class^=row-].row-program .cell {
  color: #222;
  padding-top: 15px;
  padding-bottom: 15px;
}
.product-eco .sector-item .price-table table [class^=row-].row-program .cell::before {
  content: "";
  position: absolute;
  right: 20px;
  left: 20px;
  display: block;
  height: 1px;
  background-color: #dcdcdc;
}
.product-eco .sector-item .price-table table [class^=row-].row-program .cell::before {
  top: 0;
}
.product-eco .sector-item .price-table table [class^=row-].row-program P {
  font-size: 24px;
  font-weight: 700;
  color: #222;
}
.product-eco .sector-item .price-table table [class^=row-].row-program li {
  position: relative;
  margin-top: 10px;
  line-height: 1.35;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -1.5px;
}
.product-eco .sector-item .price-table table [class^=row-].row-program li:first-child {
  margin-top: 20px;
}
.product-eco .sector-item .price-table table [class^=row-].row-program li::before {
  display: inline-block;
  content: "-";
  margin-right: 10px;
}
.product-eco .sector-item .price-table table [class^=row-].row-program .gray {
  font-size: 18px;
  color: #c3c3c3;
}
.product-eco .sector-item .price-table table [class^=row-].row-program .current p {
  color: #195b3e;
}
.product-eco .sector-item .price-table table [class^=row-].row-discount .current .detail {
  box-shadow: inset 1px 2px 2px #ffe855, inset -1px -2px 2px #ffba27, 1px 2px 1px #cf8d19;
  background: #ffba27;
}
.product-eco .sector-item .price-table table [class^=row-].row-discount .other .detail {
  box-shadow: inset 1px 2px 2px #f5f5f5, inset -1px -2px 2px #c7c7c7, 1px 2px 1px #a2967e;
  background: #c7c7c7;
}
.product-eco .sector-item .price-table table [class^=row-].row-discount a {
  display: block;
  color: #222;
  padding: 17px 0;
}
.product-eco .sector-item .price-table table [class^=row-].row-discount a:hover {
  color: inherit;
}
.product-eco .sector-item .price-table table [class^=row-].row-discount a .title {
  float: left;
  line-height: 1.33;
  font-size: 18px;
  font-weight: 700;
}
.product-eco .sector-item .price-table table [class^=row-].row-discount a .detail {
  float: right;
  padding: 8px 30px;
  font-size: 20px;
  border-radius: 40px;
  font-weight: 900;
}
.product-eco .sector-item .price-table table [class^=row-].row-discount2 td {
  border-bottom-width: 5px;
  border-radius: 0 0 0 30px;
}
.product-eco .sector-item .price-table table [class^=row-].row-discount2 td.current, .product-eco .sector-item .price-table table [class^=row-].row-discount2 td.other {
  background-color: #ebebeb;
}
.product-eco .sector-item .price-table table [class^=row-].row-action td {
  border-bottom-width: 2px;
  border-radius: 0 0 0 30px;
}
.product-eco .sector-item .price-table table [class^=row-].row-action .cell {
  padding-top: 30px;
  padding-bottom: 40px;
  letter-spacing: -1.5px;
}
.product-eco .sector-item .price-table table [class^=row-].row-action .btn-apply {
  position: relative;
  display: block;
  padding: 20px 40px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  border-radius: 5px;
  background-color: #212121;
  transition: all 0.3s;
}
.product-eco .sector-item .price-table table [class^=row-].row-action .btn-apply::before {
  content: "";
  position: absolute;
  top: 50%;
  display: block;
  width: 0.3125rem;
  height: 0.3125rem;
  margin-top: -0.15625rem;
  border-width: 0;
  border-style: solid;
  border-color: #fff;
  transform: rotate(45deg);
  border-top-width: 2px;
  border-right-width: 2px;
  right: 100px;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-item .price-table table [class^=row-].row-action .btn-apply::before {
    width: 10px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .sector-item .price-table table [class^=row-].row-action .btn-apply::before {
    height: 10px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .sector-item .price-table table [class^=row-].row-action .btn-apply::before {
    margin-top: -5px;
  }
}
.product-eco .sector-item .price-table table [class^=row-].row-action .btn-apply:hover {
  background: #195b3e;
}
.product-eco .sector-ask {
  background: #fafafa;
}
.product-eco .sector-ask img {
  margin-top: -40px;
}
.product-eco .sector-consulting {
  position: relative;
  background: #F8F8F8;
}
.product-eco .sector-consulting::before {
  z-index: 2;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 30px;
  background: #fff;
}
.product-eco .sector-consulting img {
  position: relative;
  z-index: 5;
}
.product-eco .sector-consulting .action {
  z-index: 5;
  position: absolute;
  top: 130px;
  right: 0;
  left: auto;
  transform: translate(0);
}
.product-eco .sector-consulting .action a {
  font-size: 18px;
  transition: all 0.3s;
  padding: 12px 60px;
  border: 1px solid #212121;
  border-radius: 0;
  background: transparent;
  box-shadow: none;
}
.product-eco .sector-consulting .action a span {
  position: relative;
  display: inline-block;
  padding-right: 16px;
}
.product-eco .sector-consulting .action a span:before {
  content: "";
  position: absolute;
  top: 50%;
  display: block;
  width: 0.3125rem;
  height: 0.3125rem;
  margin-top: -0.15625rem;
  border-width: 0;
  border-style: solid;
  border-color: #212121;
  transform: rotate(45deg);
  border-top-width: 1px;
  border-right-width: 1px;
  transition: all 0.3s;
  right: 0;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-consulting .action a span:before {
    width: 10px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .sector-consulting .action a span:before {
    height: 10px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .sector-consulting .action a span:before {
    margin-top: -5px;
  }
}
.product-eco .sector-consulting .action a:hover {
  color: #fff;
  border-color: #9a856b;
  background: #9a856b;
}
.product-eco .sector-consulting .action a:hover span:before {
  border-color: #fff;
}
.product-eco .sector-text {
  background: #195B3E;
  background: linear-gradient(90deg, #195B3E 37.23%, #236A89 98.44%);
}
.product-eco .sector-review .notice {
  margin: 0px auto 80px;
  font-weight: 500;
  font-size: 18px;
}
.product-eco .sector-review .review-box .review {
  margin: 0 12px 20px;
  cursor: pointer;
}
.product-eco .sector-review .slider-contents {
  width: 1138px;
  margin: 0 auto;
  padding-left: 19px;
  box-sizing: border-box;
}
.product-eco .sector-review .slider-contents .slick-slide img {
  width: 354px;
  margin-right: 19px;
  display: inline-block;
}
.product-eco .sector-teacher {
  padding-bottom: 90px;
}
.product-eco .sector-teacher .slide-contents {
  width: 1138px;
  margin: 0 auto;
  padding-left: 38px;
}
.product-eco .sector-teacher .teacher-major {
  text-align: center;
  margin-bottom: 40px;
}
.product-eco .sector-teacher .teacher-major .col, .product-eco .sector-teacher .teacher-major .wrap-tab .tab-list li, .product-eco .wrap-tab .tab-list .sector-teacher .teacher-major li {
  position: relative;
  display: block;
  width: 20%;
}
.product-eco .sector-teacher .teacher-major .col img, .product-eco .sector-teacher .teacher-major .wrap-tab .tab-list li img, .product-eco .wrap-tab .tab-list .sector-teacher .teacher-major li img {
  width: 190px;
}
.product-eco .sector-teacher .teacher-major .col .t-info, .product-eco .sector-teacher .teacher-major .wrap-tab .tab-list li .t-info, .product-eco .wrap-tab .tab-list .sector-teacher .teacher-major li .t-info {
  position: absolute;
  bottom: 6px;
  left: 2px;
  color: #222;
  font-size: 20px;
  text-align: left;
  line-height: 1;
  letter-spacing: -1px;
}
.product-eco .sector-teacher .teacher-major .col .t-info .subject.line2, .product-eco .sector-teacher .teacher-major .wrap-tab .tab-list li .t-info .subject.line2, .product-eco .wrap-tab .tab-list .sector-teacher .teacher-major li .t-info .subject.line2 {
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 3px;
}
.product-eco .sector-teacher .teacher-major .col .t-info .name, .product-eco .sector-teacher .teacher-major .wrap-tab .tab-list li .t-info .name, .product-eco .wrap-tab .tab-list .sector-teacher .teacher-major li .t-info .name {
  display: inline-block;
  padding-right: 27px;
  font-weight: 700;
  line-height: 1;
}
.product-eco .sector-teacher .teacher-major .slick-arrow.slick-prev {
  margin-left: -638px;
}
.product-eco .sector-teacher .teacher-major .slick-arrow.slick-next {
  margin-left: 552px;
}
.product-eco .sector-teacher .small-list {
  width: 100%;
}
.product-eco .sector-teacher .teacher-list {
  overflow: hidden;
  width: 1134px;
  margin: 0 auto;
}
.product-eco .sector-teacher .teacher-list .col, .product-eco .sector-teacher .teacher-list .wrap-tab .tab-list li, .product-eco .wrap-tab .tab-list .sector-teacher .teacher-list li {
  position: relative;
  float: left;
  width: 16.6666%;
  padding: 10px 17px;
  box-sizing: border-box;
}
.product-eco .sector-teacher .teacher-list .col img, .product-eco .sector-teacher .teacher-list .wrap-tab .tab-list li img, .product-eco .wrap-tab .tab-list .sector-teacher .teacher-list li img {
  width: 100%;
}
.product-eco .sector-teacher .teacher-list .col .t-info, .product-eco .sector-teacher .teacher-list .wrap-tab .tab-list li .t-info, .product-eco .wrap-tab .tab-list .sector-teacher .teacher-list li .t-info {
  position: absolute;
  top: 33px;
  left: 32px;
  text-align: left;
}
.product-eco .sector-teacher .teacher-list .col .t-info .subject, .product-eco .sector-teacher .teacher-list .wrap-tab .tab-list li .t-info .subject, .product-eco .wrap-tab .tab-list .sector-teacher .teacher-list li .t-info .subject {
  color: #e7e7e7;
  font-size: 15px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -1px;
}
.product-eco .sector-teacher .teacher-list .col .t-info .name, .product-eco .sector-teacher .teacher-list .wrap-tab .tab-list li .t-info .name, .product-eco .wrap-tab .tab-list .sector-teacher .teacher-list li .t-info .name {
  display: inline-block;
  padding-bottom: 30px;
  margin-top: 5px;
  font-size: 16px;
  font-weight: 700;
  color: #e7e7e7;
  letter-spacing: -1px;
  line-height: 1;
}
.product-eco .sector-teacher .notice {
  font-weight: 500;
  padding: 10px 50px 0 0;
}
.product-eco .sector-acer-title .action {
  position: absolute;
  top: 240px;
  left: 0px;
  z-index: 1;
  text-align: left;
  transform: translateX(0%);
}
.product-eco .sector-acer-title .action a {
  display: inline-block;
  position: relative;
}
.product-eco .sector-acer {
  padding-bottom: 90px;
  background: #fff;
}
.product-eco .sector-acer .wrap {
  width: 1100px;
}
.product-eco .sector-acer .info-lists .slick-track {
  left: 0 !important;
  transform: translate(0) !important;
}
.product-eco .sector-acer .wrap-tab {
  padding-bottom: 50px;
}
.product-eco .sector-acer .tab-list {
  height: 108px;
}
.product-eco .sector-acer .tab-list li {
  position: relative;
  float: left;
  width: 25%;
  border-left: 3px solid #fff;
  box-sizing: border-box;
}
.product-eco .sector-acer .tab-list li:first-child {
  border-left: 0;
}
.product-eco .sector-acer .tab-list li a {
  display: block;
  line-height: 108px;
  color: #838383;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: -1px;
  background: #bcbcbc;
  box-sizing: border-box;
}
.product-eco .sector-acer .tab-list li.in a {
  color: #c8d0ff;
  background: #363636;
}
.product-eco .sector-acer .tab-list li.in:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -15px;
  left: 50%;
  margin-left: -12px;
  width: 23px;
  height: 15px;
  background: url("https://img.eduwill.net/eduwill/img/2021/G/product/210930_2/pc/tab_arrow.png") 50% 0 no-repeat;
  z-index: 1;
}
.product-eco .sector-acer .tab-contents {
  padding-bottom: 60px;
  border: 1px solid #e1e1e1;
}
.product-eco .sector-acer .tab-contents .item {
  display: none;
}
.product-eco .sector-acer .tab-contents .item.in {
  display: block;
}
.product-eco .sector-acer .slick-list,
.product-eco .sector-acer .slick-track {
  transform: translate3d(0, 0, 0) !important;
}
.product-eco .sector-acer .info-lists {
  position: relative;
  z-index: 2;
}
.product-eco .sector-acer .info-lists .slick-track {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}
.product-eco .sector-acer .info-lists .slick-slide {
  outline: none;
  min-width: 24%;
}
.product-eco .sector-acer .info-lists .slick-slide:not(:last-child) {
  margin-right: 5px;
}
.product-eco .sector-acer .info-lists .slick-slide .col, .product-eco .sector-acer .info-lists .slick-slide .wrap-tab .tab-list li, .product-eco .wrap-tab .tab-list .sector-acer .info-lists .slick-slide li {
  position: relative;
  height: 123px;
  box-sizing: border-box;
}
.product-eco .sector-acer .info-lists .slick-slide .col a, .product-eco .sector-acer .info-lists .slick-slide .wrap-tab .tab-list li a, .product-eco .wrap-tab .tab-list .sector-acer .info-lists .slick-slide li a {
  height: 108px;
  line-height: 1.3;
  color: #838383;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: -1px;
  background: #bcbcbc;
  box-sizing: border-box;
}
.product-eco .sector-acer .info-lists .slick-slide .col.list-1, .product-eco .sector-acer .info-lists .slick-slide .wrap-tab .tab-list li.list-1, .product-eco .wrap-tab .tab-list .sector-acer .info-lists .slick-slide li.list-1 {
  border-left: 0;
}
.product-eco .sector-acer .info-lists .slick-slide.slick-current .col a, .product-eco .sector-acer .info-lists .slick-slide.slick-current .wrap-tab .tab-list li a, .product-eco .wrap-tab .tab-list .sector-acer .info-lists .slick-slide.slick-current li a {
  color: #d0ebaf;
  background: #363636;
}
.product-eco .sector-acer .info-lists .slick-slide.slick-current .col:after, .product-eco .sector-acer .info-lists .slick-slide.slick-current .wrap-tab .tab-list li:after, .product-eco .wrap-tab .tab-list .sector-acer .info-lists .slick-slide.slick-current li:after {
  content: " ";
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -12px;
  width: 23px;
  height: 15px;
  background: url("https://img.eduwill.net/eduwill/img/2021/G/product/210930_2/pc/tab_arrow.png") 50% 0 no-repeat;
  z-index: 1;
}
.product-eco .sector-acer .info-contents {
  position: relative;
  top: -15px;
  border: 1px solid #e1e1e1;
  padding: 80px 55px;
}
.product-eco .sector-acer .notice {
  font-size: 18px;
  font-weight: 500;
}
.product-eco .sector-acer .place-slider .slick-arrow.slick-prev {
  margin-left: -617px;
}
.product-eco .sector-acer .place-slider .slick-arrow.slick-next {
  margin-left: 568px;
}
.product-eco .sector-acer .place-slider .slick-slide div {
  position: relative;
}
.product-eco .sector-acer .place-slider .slick-slide div .label {
  position: absolute;
  top: 28px;
  right: 30px;
  display: inline-block;
  min-width: 185px;
  padding-top: 2px;
  text-align: center;
  border-radius: 50px;
  background: #fff;
  border: 4px solid #195b3e;
  z-index: 10;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}
.product-eco .sector-acer .place-slider .slick-slide div .label strong {
  line-height: 53px;
  font-size: 24px;
  color: #181818;
  font-weight: 700;
  letter-spacing: -1px;
}
.product-eco .sector-brand {
  background-color: #ffbf00;
  background-image: url("https://img.eduwill.net/eduwill/img/2021/G/product/210930_2/pc/bg_brand.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.product-eco .sector-support {
  padding-bottom: 120px;
}
.product-eco .sector-support .total-price {
  padding: 0 85px 50px 0;
  text-align: right;
}
.product-eco .sector-support .total-price strong {
  font-size: 30px;
  font-weight: 700;
  color: #000;
}
.product-eco .sector-support .total-price strong span {
  font-size: 60px;
  letter-spacing: -3px;
}
.product-eco .sector-support .total-price .notice {
  margin-top: 15px;
  font-weight: 500;
}
.product-eco .sector-price-box {
  background: #1f5641;
}
.product-eco .sector-price-box .price-box {
  position: absolute;
  top: 1063px;
  left: 284px;
}
.product-eco .sector-price-box .price-box .box {
  float: left;
  margin-left: 5px;
  width: 408px;
}
.product-eco .sector-price-box .price-box .box:first-child {
  margin-left: 0;
}
.product-eco .sector-price-box .price-box .box:first-child .before-price {
  margin-top: 70px;
}
.product-eco .sector-price-box .price-box .box.box-2 {
  width: 399px;
}
.product-eco .sector-price-box .price-box .box .discount {
  margin-bottom: 5px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  height: 30px;
  line-height: 30px;
  background: #313131;
  letter-spacing: -1px;
}
.product-eco .sector-price-box .price-box .box .discount strong {
  color: #e0f1cb;
}
.product-eco .sector-price-box .price-box .box .before-price {
  text-align: center;
  color: #838383;
  font-size: 24px;
  font-weight: 500;
  line-height: 1;
}
.product-eco .sector-price-box .price-box .box .before-price span {
  text-decoration: line-through;
}
.product-eco .sector-price-box .price-box .box .after-price {
  font-size: 30px;
  color: #000;
  line-height: 1;
  font-weight: 700;
}
.product-eco .sector-price-box .price-box .box .after-price span {
  line-height: 1;
  font-size: 40px;
  letter-spacing: -2px;
}
.product-eco .sector-price-box .price-box .box .after-price + .discount {
  margin-top: 10px;
}
.product-eco .sector-price-box .price-box .box .before-price-text {
  margin: 10px 0 0;
  font-size: 22px;
  color: #222;
  line-height: 1;
  font-weight: 700;
}
.product-eco .sector-price-box .price-box .box .before-price-text strong {
  color: #fb342e;
  line-height: 1;
}
.product-eco .sector-price-box.discount-box .price-box .box-2 .after-price,
.product-eco .sector-price-box.discount-box .price-box .box-3 .after-price {
  text-decoration: line-through;
}
.product-eco .sector-price-box.discount-box .price-box.discount {
  top: 1183px;
  left: 556px;
}
.product-eco .sector-price-box.discount-box .price-box.discount .box .discount {
  margin-bottom: 13px;
}
.product-eco .sector-price-box.discount-box .price-box.discount .box .after-price {
  text-decoration: none;
}/*# sourceMappingURL=web.css.map */