.topbg-full {
    margin: -19px -16px 0;
    height: 179px;
    @include background-name-ext-repeat-poistion('bg_top_01@2x', jpg, no-repeat, 50% 0);
    background-size: cover;
    @media (min-width: 1441px) {
        background-size: contain;
    }
    
    dl {
        padding: 86px 32px 0;
        & * {
            line-height: 1;
        }
        dt {
            @include font-size-color-weight(29px, #fff, 700);
        }
        dd {
            @include font-size-color-weight(16px, #fff, 400);
            margin-top: 13px;
        }
    }
    @media (min-width: 999px) {
        margin: 0;
        height: 300px;
        dl {
            max-width: 1100px;
            margin: 0 auto;
            padding: 170px 0 0;
            dt {
                @include font-size-color-weight(38px, #fff, 700);
            }
            dd {
                @include font-size-color-weight(23px, #fff, 400);
                margin-top: 19px;
            }
        }
    }

}

.page-jumbo {
    box-shadow: inset 0 -1px 0 0 #cccccc;
    margin: 0 -16px;
    padding: 54px 32px;
    dl {
        dt {
            @include font-size-color-weight(24px, #212121, 700);
            line-height: 1.33;
        }
        dd {
            @include font-size-color-weight(16px, #666, 500);
            line-height: 1.5;
            margin-top: 16px;
        }
        dd.t-sm {
            @include font-size-color-weight(12px, #666, 500);
            line-height: 2;
            margin-top: 16px;
        }
    }
    @media (min-width: 999px) {
        margin: 0;
        padding: 72px 0 89px;
        dl {
            padding-left: 579px;
            position: relative;
            dt {
                @include font-size-color-weight(40px, #212121, 700);
                position: absolute;
                top: 0;
                left: 0;
            }
            dd {
                @include font-size-color-weight(30px, #212121, 500);
                margin-top: 0;
            }
            dd.t-sm {
                @include font-size-color-weight(20px, #212121, 500);
                line-height: 1.4;
                margin-top: 40px;
            }
        }
    }
}

.recruit-table2 {
    margin: 7px 0 30px;
    border-top: 2px solid #212121;
    border-bottom: solid 1px #dddddd;
    ul {
        li {
            @include clearfix();
            background-color: #f7f7f7;
            &:first-child {
                &>div {
                    border-top: none;
                }
            }
            &>div {
                float: left;
                width: 50%;
                line-height: 1.5;
                padding: 10px;
                border-top: solid 1px #dddddd;
                text-align: center;
                &.col-title {
                    @include font-size-color-weight(14px, #212121, 500);
                }
                &.col-text {
                    background-color: #fff;
                    @include font-size-color-weight(14px, #555, 400);
                    &.line-3 {
                        height: 83px;
                        line-height: 63px;
                    }
                    
                }
            }
        }
    }
    @media (min-width: 999px) {
        margin: 14px 0 50px; 
        ul {
            position: relative;
            li {
                &>div {
                    width: 30%;
                    padding: 20px;
                    height: 61px;
                    &.col-title {
                        br {
                            display: none;
                        }
                    }
                    &.col-text {
                        &.line-3 {
                            height: auto;
                            line-height: 1.5;
                        }
                    }
                }
                &.col-3 {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 40%;
                    background-color: #fff;
                    border-left: solid 1px #dddddd;
                    &>div { 
                        height: 122px;
                        border-top: none;
                        &.col-text {
                            width: 100%;
                            padding: 51px 0;
                        }
                        &.col-title {
                            display: none;
                        }
                    }
                    
                }
            }
           
        }
    }
}

.modal-style2 {
    padding: 36px 10px !important;
    .modal-header {
        border-bottom: none;
        .close { 
            font-size:40px; 
            opacity:1; 
            font-weight:700; 
            margin: -15px 0 0 0;
        }
    }
    .modal-footer {
        border-top: none;
        text-align: center;
        padding-bottom: 30px;
        .btn-area {
            margin-top: 0;
        }
    }
    .modal-content {
        .btn-area {
            .btn {
                height: 36px;
                line-height: 34px;
                font-size: 13px;
                min-width: 88px;
            }
            .btn-top {
                position: absolute;
                top: -40px;
                right: 15px;                
                min-width: auto;
                
            }
        }
    }
    
    .apply-form2 {
        .asterisk {
            i {
                color: #ff0000;
                font-style: normal;
            }
            @include font-size-color-weight(12px, #212121, 400);
        }
        .step-title {
            margin-top: 40px;
            &:first-child {
                margin-top: 0;
            }
            @include font-size-color-weight(16px, #212121, 700);            
            border-bottom: solid 2px #212121;
            padding-bottom: 4px;
            .asterisk {
                margin-left: 12px;
            }
        }
        .form-group {
            padding: 10px 0;
            margin: 0;
            box-shadow: inset 0 -1px 0 0 #dddddd;
            word-break: break-all;
            input[type=text], 
            input[type=password], 
            input[type=number],
            select {
                height: 40px;
                font-size: 14px;
                color: #212121;
            }
            textarea {
                line-height: 1.5;
                min-height: 130px;
                font-size: 14px;
                color: #212121;
            }
            .upload-file {                
                label {
                    height: 40px;
                    line-height: 40px;
                    vertical-align: top;
                }
                span {
                    @include font-size-color-weight(14px, #666, 500);
                    line-height: 1.5;
                    margin-top: 8px;
                }
            }
            .tip-text {
                @include font-size-color-weight(12px, #959595, 400);
                line-height: 1.33;
                margin-top: 6px;
            }
            .file-list {
                margin-top: 10px;
            }
            ul {
                li {
                    @include clearfix();
                    margin-top: 10px;
                    &:first-child {
                        margin-top: 0;

                    }
                    .txt {
                        @include font-size-color-weight(14px, #212121, 500);
                        line-height: 40px;
                        float: left;
                        width: 105px;
                        
                    }
                    .int {
                        @include font-size-color-weight(14px, #212121, 400);
                        line-height: 40px;
                        float: left;
                        width: calc(100% - 105px);
                    }
                }
            }
        }
        .form-text {
            @include font-size-color-weight(14px, #666, 400);
            line-height: 1.43;
            margin-top: 16px;
        }
    }

    .form-table2 {
        .table {
            border-top: solid 2px #212121;
            &>thead>tr>th,
            &>tbody>tr>td,
            &>tbody>tr>th {
                box-shadow: inset 0 -1px 0 0 #dddddd;
                border: none;
                text-align: center;
                padding: 10px;
            }
            &>thead>tr>th {
                background-color: #f7f7f7;                
                @include font-size-color-weight(13px, #212121, 600);
                
            }
            &>tbody>tr>td {
                @include font-size-color-weight(13px, #212121, 400);
            }
            &>tbody>tr>th {
                background-color: #fff;                
                @include font-size-color-weight(13px, #212121, 600);
                
            }
        }
        .table-view {
            border-bottom: solid 1px #ddd;
            &>thead>tr>th,
            &>tbody>tr>td,
            &>tbody>tr>th {
                box-shadow: none;
                text-align: left;
                vertical-align: top;
                background-color: #fcfcfc;
            }
            a {
                text-decoration: underline;
                color: #0000ff;
            }
        }
        & + .btn-area {
            margin-top: 16px;
        }
    }


    
    @media (min-width: 999px) {
        .modal-header {
            padding: 38px 30px 20px;
            .close { 
                font-size:55px; 
                margin: -10px 8px 0 0;
            }
            h4 {
                font-size: 30px;
                line-height: 1.4;
            }
        }
        .modal-body {
            padding: 20px 30px;            
        }
        .modal-content {
            .btn-area {
                .btn {
                    height: 50px;
                    line-height: 48px;
                    font-size: 16px;
                    min-width: 150px;
                }
                .btn-top {
                    top: -70px;
                    right: 30px;
                    min-width: auto;
                    width: 112px;
                }
            }
        }
        .apply-form2 {
            .asterisk {
                font-size: 15px;
            }
            .step-title {
                font-size: 20px;
                padding-bottom: 10px;
                .asterisk {
                    margin-left: 20px;
                }
            }
            .form-group {
                padding: 10px 20px;
                .upload-file {
                    span {
                       display: block;
                       margin-top: 14px;
                       left: 0;
                    }
                }
                .tip-text {
                    font-size: 13px;
                    margin-top: 10px;
                }
                ul {
                    @include clearfix();
                    li {
                        .txt {
                            font-size: 15px;
                            text-align: right;
                            padding-right: 20px;
                        }
                        .int {
                            font-size: 15px;
                            &.fullwidth {
                                width: calc(100% - 105px) !important;
                            }
                        }
                        
                    }
                    &.col-3 li {
                        float: left;
                        width: 33.3333%;
                        margin-top: 0;
                    }
                }
            }
            .form-text {
                font-size: 15px;
                margin-top: 20px;
            }
        }
        .form-table2 {
            .table {
                &>thead>tr>th,
                &>tbody>tr>td,
                &>tbody>tr>th {
                    padding: 20px 10px;
                    font-size: 14px;
                }
            }
            & + .btn-area {
                margin-top: 24px;
            }
        }
        
    }

}


.page-recommend {
    padding: 54px 16px;
    @media (min-width: 999px) {
        padding: 114px 0;
    }
    .info-txt {
        @include font-size-color-weight(14px, #212121, 500);
    }

    .btn-area {
        margin-top: 54px;
        font-size: 0;
        text-align: center;
        .btn {
            height: 48px;
            line-height: 46px;
            @include font-size-color-weight(16px, #212121, 500);
            padding: 0 15px;
            min-width: 124px;
            margin-left: 10px;
            border-radius: 0;
            &:first-child {
                margin-left: 0;
            }
            &-default {
                border: solid 1px #ccc;
            }
            &-yellow {
                border: solid 1px #ffc000;
                background-color: #ffc000;
            }
        }
        @media (min-width: 999px) {
            margin-top: 114px;
            .btn {
                height: 65px;
                line-height: 63px;
                @include font-size-color-weight(22px, #212121, 500);
                min-width: 200px;
                margin-left: 20px;
                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }
}

