@charset "UTF-8";
.grid {
  *zoom: 1;
}
.grid:before, .grid:after {
  content: "";
  display: table;
}
.grid:after {
  clear: both;
}

.hidden,
.sr_only,
.sr-only,
.popup .popup-close span {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.grid {
  position: relative;
  box-sizing: border-box;
}
.grid .col {
  position: relative;
  float: left;
  box-sizing: border-box;
}

.table {
  display: table;
}
.table .table-cell {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

.product-eco .sector-title .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  display: block;
  margin: 0;
  padding: 0;
  text-indent: -9999px;
  border: none;
  background: none;
  outline: none;
  transform: rotate(45deg) translateY(-50%);
}

.effect-bounce-diagonal {
  -webkit-animation-name: effectBounceDiagonal;
          animation-name: effectBounceDiagonal;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
@-webkit-keyframes effectBounceDiagonal {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10px, -10px);
  }
}
@keyframes effectBounceDiagonal {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10px, -10px);
  }
}

.effect-bounce-updown {
  -webkit-animation-name: effectBounceUpDown;
          animation-name: effectBounceUpDown;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
@-webkit-keyframes effectBounceUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
@keyframes effectBounceUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.effect-extend {
  -webkit-animation-name: effectExtend;
          animation-name: effectExtend;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
@-webkit-keyframes effectExtend {
  0%, 100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
}
@keyframes effectExtend {
  0%, 100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
}

.effect-blink {
  -webkit-animation-name: effectBlink;
          animation-name: effectBlink;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: step-start;
          animation-timing-function: step-start;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
@-webkit-keyframes effectBlink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
@keyframes effectBlink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.effect-left-and-right {
  -webkit-animation-name: effectLeftAndRight;
          animation-name: effectLeftAndRight;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: step-start;
          animation-timing-function: step-start;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
@-webkit-keyframes effectLeftAndRight {
  0% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(5deg);
  }
}
@keyframes effectLeftAndRight {
  0% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(5deg);
  }
}

.popup-dim {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.6);
}

.popup {
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 400;
  display: none;
  width: 90%;
  max-width: 720px;
  letter-spacing: -1px;
  transform: translateX(-50%);
  box-sizing: border-box;
}
@media screen and (min-width: 1100px) {
  .popup {
    max-width: 500px;
  }
}
.popup * {
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
}
.popup p {
  margin: 0;
}
.popup .popup-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 5.5555555556vw;
  height: 5.5555555556vw;
  margin: 2.0833333333vw;
  background: url(https://img.eduwill.net/eduwill/img/2022/X/common/closed_btn.png) no-repeat 0;
  background-size: 100%;
  cursor: pointer;
}
@media screen and (min-width: 720px) {
  .popup .popup-close {
    width: 40px;
  }
}
@media screen and (min-width: 720px) {
  .popup .popup-close {
    height: 40px;
  }
}
@media screen and (min-width: 720px) {
  .popup .popup-close {
    margin: 15px;
  }
}
.popup .popup-close:after, .popup .popup-close:before {
  display: none !important;
}
@media screen and (min-width: 1100px) {
  .popup .popup-close {
    width: 30px;
    height: 30px;
    margin: 20px;
  }
}
.popup .popup-title {
  padding: 0.625rem;
  text-align: left;
  border-radius: 0;
  background-color: #000;
}
@media screen and (min-width: 720px) {
  .popup .popup-title {
    padding: 20px;
  }
}
.popup .popup-title p {
  font-size: 3.3333333333vw;
  font-weight: 700;
  color: #fff;
}
@media screen and (min-width: 720px) {
  .popup .popup-title p {
    font-size: 24px;
  }
}
.popup .popup-body {
  padding: 0.78125rem;
  text-align: left;
  line-height: 1.4;
  font-size: 2.5vw;
  font-weight: 400;
  color: #222;
  border: 2px solid #000;
  border-radius: 0;
  background-color: #fff;
}
@media screen and (min-width: 720px) {
  .popup .popup-body {
    padding: 25px;
  }
}
@media screen and (min-width: 720px) {
  .popup .popup-body {
    font-size: 18px;
  }
}
.popup .popup-body > div {
  margin-top: 20px;
}
.popup .popup-body > div:first-child {
  margin-top: 0;
}
.popup .popup-body div:first-child strong {
  margin-top: 0;
}
.popup .popup-body p {
  font-size: 2.2222222222vw;
  display: block;
  color: #000;
  margin-bottom: 1.3888888889vw;
  opacity: 0.8;
}
@media screen and (min-width: 720px) {
  .popup .popup-body p {
    font-size: 16px;
  }
}
@media screen and (min-width: 720px) {
  .popup .popup-body p {
    margin-bottom: 10px;
  }
}
.popup .popup-body p.popup-notice {
  margin-top: 0.3125rem;
  text-align: left;
  font-size: 1.9444444444vw;
}
@media screen and (min-width: 720px) {
  .popup .popup-body p.popup-notice {
    margin-top: 10px;
  }
}
@media screen and (min-width: 720px) {
  .popup .popup-body p.popup-notice {
    font-size: 14px;
  }
}
.popup .popup-body strong {
  display: block;
  margin-top: 0.625rem;
  font-size: 2.5vw;
}
@media screen and (min-width: 720px) {
  .popup .popup-body strong {
    margin-top: 20px;
  }
}
@media screen and (min-width: 720px) {
  .popup .popup-body strong {
    font-size: 18px;
  }
}
.popup .popup-table .table-row {
  width: 100%;
  table-layout: fixed;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
}
.popup .popup-table .table-row th,
.popup .popup-table .table-row td {
  padding: 0.3125rem;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
}
@media screen and (min-width: 720px) {
  .popup .popup-table .table-row th,
.popup .popup-table .table-row td {
    padding: 10px;
  }
}
.popup .popup-table .table-row th {
  font-size: 2.2222222222vw;
  background-color: #ddd;
}
@media screen and (min-width: 720px) {
  .popup .popup-table .table-row th {
    font-size: 16px;
  }
}
.popup .popup-table .table-row td {
  font-size: 1.9444444444vw;
  background-color: #fff;
}
@media screen and (min-width: 720px) {
  .popup .popup-table .table-row td {
    font-size: 14px;
  }
}
@media screen and (min-width: 1100px) {
  .popup.popup-base {
    max-width: 1000px;
  }
}
.popup.popup-base .popup-body {
  max-height: 18.75rem;
  overflow-y: auto;
}
@media screen and (min-width: 720px) {
  .popup.popup-base .popup-body {
    max-height: 600px;
  }
}

.eco-base-text {
  display: none;
  line-height: 1.5;
  font-size: 2.7777777778vw;
  font-weight: 400;
  color: #222;
  letter-spacing: -1px;
}
@media screen and (min-width: 720px) {
  .eco-base-text {
    font-size: 20px;
  }
}
@media screen and (min-width: 1100px) {
  .eco-base-text {
    font-size: 14px;
  }
}

.eco-3268 div + div {
  margin-top: 10px;
}

.eco-3272 p {
  display: block;
  color: #000;
  margin-bottom: 10px;
  opacity: 0.8;
}

.product-eco {
  line-height: normal;
  letter-spacing: -1px;
  /*공통영역*/
  /*리뷰슬라이드*/
  /*손가락*/
}
.product-eco * {
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
}
.product-eco .wrap {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.product-eco .wrap-full {
  width: 100%;
}
.product-eco .action {
  position: absolute;
}
.product-eco .action.t-left {
  top: 0;
  left: 50px;
}
.product-eco .action.t-right {
  top: 0;
  right: 50px;
}
.product-eco .action.t-center {
  top: 0;
  left: 0;
  right: 0;
  margin: 0 atuo;
}
.product-eco .action.b-left {
  bottom: 0;
  left: 50px;
}
.product-eco .action.b-right {
  bottom: 0;
  right: 50px;
}
.product-eco .action.b-center {
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 atuo;
}
.product-eco .btn-text {
  color: #000000;
  background-color: #ffeda8;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto;
}
.product-eco .btn-text.gray {
  background-color: #f6f6f6;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto;
}
.product-eco .point-color {
  color: #d93212;
}
.product-eco .bg {
  background-color: #fffae7;
}
.product-eco .wing-banner {
  position: fixed;
  top: 30%;
  right: 0;
  z-index: 50;
}
.product-eco .sale-area {
  position: relative;
  padding-bottom: 100px;
  text-align: left;
  box-sizing: border-box;
  width: 1100px;
  margin: 20px auto 0;
}
.product-eco .sale-area.bottom {
  margin: 0 auto;
}
.product-eco .sale-area .sale-info {
  width: 100%;
  margin-left: 1%;
}
.product-eco .sale-area .sale-info:hover .price-box {
  border: 2px solid #d93212;
}
.product-eco .sale-area .sale-info:hover .sale-btn a {
  background: #d93212;
}
.product-eco .sale-area .sale-info:first-child {
  margin-left: 0;
}
.product-eco .sale-area .sale-info .price-box {
  border: 2px solid #dfdfdf;
  background: #fff;
  box-sizing: border-box;
  box-shadow: 10px 9px 19px 5px rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: 10px 9px 19px 5px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 10px 9px 19px 5px rgba(0, 0, 0, 0.07);
  padding: 30px 40px;
  box-sizing: border-box;
}
.product-eco .sale-area .sale-info .price-box .sale-top {
  position: relative;
}
.product-eco .sale-area .sale-info .price-box .sale-top .name {
  font-size: 32px;
  font-weight: 900;
  color: #222;
  display: block;
  padding-top: 30px;
}
.product-eco .sale-area .sale-info .price-box .sale-top .discount {
  display: inline-block;
  width: 90px;
  height: 90px;
  text-align: center;
  box-sizing: border-box;
  padding: 19px;
  color: #fff;
  font-size: 22px;
  font-weight: 900;
  border-radius: 50%;
  background-color: #d93212;
  position: absolute;
  top: 38px;
  left: 321px;
  line-height: 1.2;
}
.product-eco .sale-area .sale-info .price-box .sale-top .ab {
  position: absolute;
}
.product-eco .sale-area .sale-info .price-box .sale-top .ab + .before-price {
  position: relative;
  top: 21px;
}
.product-eco .sale-area .sale-info .price-box .sale-top .sub {
  display: block;
  font-size: 16px;
  color: #222;
}
.product-eco .sale-area .sale-info .price-box .sale-top del {
  display: block;
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  font-size: 21px;
  font-weight: 600;
}
.product-eco .sale-area .sale-info .price-box .sale-middle {
  position: absolute;
  top: 33px;
  right: 40px;
  box-sizing: border-box;
  text-align: right;
}
.product-eco .sale-area .sale-info .price-box .sale-middle.sale {
  justify-content: space-between;
}
.product-eco .sale-area .sale-info .price-box .sale-middle .flag {
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  padding: 0px 7px;
  border-radius: 3px;
  -webkit-animation-name: flagEvent;
          animation-name: flagEvent;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: step-start;
          animation-timing-function: step-start;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
@-webkit-keyframes flagEvent {
  0%, 100% {
    color: #fff;
    background-color: #d93212;
  }
  50% {
    color: #000;
    background-color: #ffdf4b;
  }
}
@keyframes flagEvent {
  0%, 100% {
    color: #fff;
    background-color: #d93212;
  }
  50% {
    color: #000;
    background-color: #ffdf4b;
  }
}
.product-eco .sale-area .sale-info .price-box .sale-middle .flag span {
  -webkit-animation-name: flagPoint;
          animation-name: flagPoint;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: step-start;
          animation-timing-function: step-start;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
@-webkit-keyframes flagPoint {
  0%, 100% {
    color: #ffdf4b;
  }
  50% {
    color: #d93212;
  }
}
@keyframes flagPoint {
  0%, 100% {
    color: #ffdf4b;
  }
  50% {
    color: #d93212;
  }
}
.product-eco .sale-area .sale-info .price-box .sale-middle .flag + span {
  display: block;
}
.product-eco .sale-area .sale-info .price-box .sale-bottom {
  text-align: center;
}
.product-eco .sale-area .sale-info .price-box .sale-bottom a {
  display: block;
  padding: 10px 20px 10px 10px;
  color: #8a8a8a;
  font-size: 16px;
  border-top: 1px solid #e4e4e4;
}
.product-eco .sale-area .sale-info .price-box .sale-bottom .check-box {
  background: #f3f3f3;
  padding: 10px;
}
.product-eco .sale-area .sale-info .price-box .sale-bottom .check-box input {
  width: 15px;
  height: 15px;
}
.product-eco .sale-area .sale-info .price-box .sale-bottom .check-box label {
  color: #222;
  font-size: 18px;
  display: inline-block;
  margin-left: 5px;
}
.product-eco .sale-area .sale-info .price-box .sale-notice {
  margin-top: 10px;
  text-align: right;
  font-size: 13px;
}
.product-eco .sale-area .sale-info .price-box .price {
  font-family: "Roboto";
}
.product-eco .sale-area .sale-info .price-box .price.before-price {
  color: #8a8a8a;
  font-size: 21px;
  position: absolute;
  top: 137px;
  left: 0;
  font-weight: 600;
  display: inline-block;
  margin-top: 20px;
}
.product-eco .sale-area .sale-info .price-box .price.before-price .data-cost {
  font-family: "Roboto";
}
.product-eco .sale-area .sale-info .price-box .price.before-price .data-cost:before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #8a8a8a;
  position: absolute;
  left: 0;
  top: 50%;
}
.product-eco .sale-area .sale-info .price-box .price.after-price {
  font-size: 30px;
  font-weight: 900;
  color: #000;
  margin-top: 10px;
}
.product-eco .sale-area .sale-info .price-box .price.after-price .data-cost {
  font-family: "Roboto";
  font-size: 50px;
  letter-spacing: -3.3px;
}
.product-eco .sale-area .sale-info .price-box .price.after-price .desc {
  display: inline-block;
  margin-right: 20px;
  font-size: 20px;
  font-weight: 500;
  color: #d93212;
}
.product-eco .sale-area .sale-info .sale-btn {
  text-align: center;
  overflow: hidden;
}
.product-eco .sale-area .sale-info .sale-btn a {
  display: block;
  height: 100%;
  padding: 15px 30px 15px 15px;
  color: #fff;
  background: #222;
  font-weight: 900;
  font-size: 20px;
  width: 468px;
  float: right;
}
.product-eco .review-slide .list {
  position: relative;
}
.product-eco .review-slide .list .txt {
  position: absolute;
}
.product-eco .review-slide .list .txt p {
  color: #606060;
  font-size: 18px;
  line-height: 1.7;
  text-align: left;
  font-weight: 300;
  letter-spacing: -2px;
}
.product-eco .review-slide .list .txt p .point-color {
  font-weight: 600;
}
.product-eco .review-slide .slick-arrow {
  transform: translateY(-185%) !important;
}
.product-eco .floating-banner {
  position: fixed;
  top: 25%;
  right: 0;
  text-align: right;
  z-index: 99;
}
.product-eco .floating-banner a {
  position: absolute;
  width: 140px;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 113px;
  font-size: 0;
  top: 90px;
}
.product-eco .floating-banner .num {
  position: absolute;
  bottom: 134px;
  left: 12px;
  right: 0;
  margin: 0 auto;
  text-align: center;
  display: block;
  font-weight: 900;
  font-family: "Roboto";
  width: 146px;
  font-size: 30px;
}
.product-eco .pointer {
  position: relative;
  display: inline-block;
}
.product-eco .pointer:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
  display: block;
  width: 5.5555555556vw;
  height: 6.3888888889vw;
  background: url("//img.eduwill.net/Img2/Common/icon/pointer/icon_pointer_12.png") no-repeat 0 0;
  background-size: 100% auto;
  -webkit-animation-name: pointerBounceDiagonal;
          animation-name: pointerBounceDiagonal;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
@media screen and (min-width: 720px) {
  .product-eco .pointer:after {
    width: 40px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .pointer:after {
    height: 46px;
  }
}
@-webkit-keyframes pointerBounceDiagonal {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10px, -10px);
  }
}
@keyframes pointerBounceDiagonal {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10px, -10px);
  }
}
.product-eco .eco-4385 p {
  letter-spacing: -0.5px;
  position: relative;
  top: -6px;
}
.product-eco .eco-4491.pc .sale-date,
.product-eco .eco-4572.pc .sale-date,
.product-eco .label {
  display: inline-block;
  font-size: 18px;
  border-radius: 0px;
  padding: 2px 20px;
  font-weight: 600;
  border: none;
  background: #d93212;
  color: #fff;
  font-weight: 900;
  display: inline-block;
  box-sizing: border-box;
  margin-left: 5px;
  position: absolute;
  top: -31px;
  left: 0;
}
.product-eco .sector-title {
  background-image: url("//img.eduwill.net/eduwill/img/2022/_101/product/220414/pc/bg_title.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.product-eco .sector-title .action {
  top: 143px !important;
  right: 50px !important;
}
.product-eco .sector-title .slick-arrow {
  margin-top: -39px;
  transform: translateY(-136%) !important;
}
.product-eco .sector-title .slick-arrow.slick-prev {
  position: absolute;
  top: 50%;
  z-index: 10;
  display: block;
  width: 1.875rem;
  height: 1.875rem;
  margin: 0;
  padding: 0;
  font-size: 0;
  color: transparent;
  text-indent: -9999px;
  border: none;
  outline: none;
  cursor: pointer;
  transform: translateY(-50%);
  background: none;
  left: 35px;
  background: none;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-title .slick-arrow.slick-prev {
    width: 60px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .sector-title .slick-arrow.slick-prev {
    height: 60px;
  }
}
.product-eco .sector-title .slick-arrow.slick-prev:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0.46875rem;
  height: 0.46875rem;
  border-width: 0;
  border-style: solid;
  border-color: #b8b8b8;
  border-bottom-width: 4px;
  border-left-width: 4px;
  transform: translate(-25%, -50%) rotate(45deg);
}
@media screen and (min-width: 720px) {
  .product-eco .sector-title .slick-arrow.slick-prev:before {
    width: 15px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .sector-title .slick-arrow.slick-prev:before {
    height: 15px;
  }
}
.product-eco .sector-title .slick-arrow.slick-next {
  position: absolute;
  top: 50%;
  z-index: 10;
  display: block;
  width: 1.875rem;
  height: 1.875rem;
  margin: 0;
  padding: 0;
  font-size: 0;
  color: transparent;
  text-indent: -9999px;
  border: none;
  outline: none;
  cursor: pointer;
  transform: translateY(-50%);
  background: none;
  right: 35px;
  background: none;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-title .slick-arrow.slick-next {
    width: 60px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .sector-title .slick-arrow.slick-next {
    height: 60px;
  }
}
.product-eco .sector-title .slick-arrow.slick-next:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0.46875rem;
  height: 0.46875rem;
  border-width: 0;
  border-style: solid;
  border-color: #b8b8b8;
  border-top-width: 4px;
  border-right-width: 4px;
  transform: translate(-75%, -50%) rotate(45deg);
}
@media screen and (min-width: 720px) {
  .product-eco .sector-title .slick-arrow.slick-next:before {
    width: 15px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .sector-title .slick-arrow.slick-next:before {
    height: 15px;
  }
}
.product-eco .sector-benefit .content-title {
  text-align: center;
  padding-bottom: 30px;
}
.product-eco .sector-benefit .content-title strong {
  font-weight: 600;
}
.product-eco .sector-benefit .action {
  right: 100px;
  bottom: 90px !important;
}
.product-eco .sector-sale .action {
  top: 162px;
  right: 217px;
}
.product-eco .sector-curriculum .action {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 87px;
}
.product-eco .sector-curriculum .action:after {
  right: 210px;
}
.product-eco .sector-start .action {
  position: absolute;
  bottom: 110px;
}
.product-eco .sector-start .action .btn-text {
  padding: 8px 20px;
  background-color: #d93212;
  color: #fff;
  font-weight: 300;
}
.product-eco .sector-start .action .btn-text .point-color {
  color: #ffdf4b;
  font-weight: 600;
}
.product-eco .sector-start .action .btn-text:after {
  border-color: #fff;
}
.product-eco .sector-recommend .action {
  left: 610px;
  top: 188px;
}
.product-eco .sector-teacher .action {
  top: 419px;
  right: 70px;
}
.product-eco .sector-band {
  position: relative;
  padding: 30px 0;
  background-color: #13183b;
  background-image: url("//img.eduwill.net/eduwill/img/2022/_101/product/220414/pc/bg_band.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.product-eco .sector-band .point-color {
  color: #ffdf4b !important;
}
.product-eco .sector-band .brand-1 {
  margin-top: 20px;
}
.product-eco .sector-teachers .action {
  top: 198px;
  left: 307px;
}
.product-eco .sector-teachers .team {
  width: 1048px;
  margin: 0 auto;
  overflow: hidden;
  position: absolute;
  top: 447px;
  left: 0;
  right: 0;
}
.product-eco .sector-teachers .team > div {
  position: relative;
  width: 46%;
  box-sizing: border-box;
}
.product-eco .sector-teachers .team > div.ace {
  float: left;
}
.product-eco .sector-teachers .team > div.core {
  float: right;
}
.product-eco .sector-teachers .team > div strong {
  font-weight: 600;
  font-size: 24px;
  text-align: left;
  display: block;
  padding: 5px 30px;
}
.product-eco .sector-teachers .team > div .action-team {
  position: absolute;
  top: 10px;
  right: 15px;
}
.product-eco .sector-teachers .team > div .action-team .btn-text {
  border: 1px solid #8b8b93;
  background-color: #fff;
  padding: 5px 20px 5px 10px;
}
.product-eco .sector-book .content-title {
  padding: 90px 50px 20px;
}
.product-eco .sector-book .review-slide {
  margin-top: 15px;
}
.product-eco .sector-book .action {
  top: 170px;
  left: 506px;
}
.product-eco .sector-curriculum-step {
  background-color: #175d5b;
}
.product-eco .sector-short-pass {
  position: relative;
  padding: 90px 0 0;
  background-color: #13183b;
  background-image: url("//img.eduwill.net/eduwill/img/2022/_101/product/220414/pc/bg_pass.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.product-eco .sector-short-pass .point-color {
  color: #ffdf4b !important;
}
.product-eco .sector-short-pass .content-title-center {
  margin-bottom: 30px;
}
.product-eco .sector-short-pass .eco-4385 p {
  opacity: 1;
  color: #809788 !important;
}
.product-eco .sector-short-grow, .product-eco .sector-attention {
  padding-top: 80px;
}
.product-eco .sector-short-grow .action, .product-eco .sector-attention .action {
  top: 54px;
  left: 430px;
}
.product-eco .sector-prize {
  background-color: #fffae0;
}
.product-eco .sector-prize .content-title {
  display: none !important;
}
.product-eco .sector-prize .point-color {
  color: #175d5b !important;
}/*# sourceMappingURL=web.css.map */