
.screen-mobile {
	.nav-top {
		margin: rem(-30) rem(-16) 0;	
		border-bottom: solid rem(8) #F0F1F4;
		.nav-title {
			display: none;
		}
		.nav-step {
			position: inherit;
			@include translateY(0);
		}
	}

	.section-complete {
		.text {
			padding: rem(20);
		}
		.info {
			padding: rem(16);
		}
	}
}
	