@charset "UTF-8";
.product-eco .sector-item .price-table2 table [class^=row-].row-price .cell {
  *zoom: 1;
}
.product-eco .sector-item .price-table2 table [class^=row-].row-price .cell:before, .product-eco .sector-item .price-table2 table [class^=row-].row-price .cell:after {
  content: "";
  display: table;
}
.product-eco .sector-item .price-table2 table [class^=row-].row-price .cell:after {
  clear: both;
}

.hidden,
.sr_only,
.sr-only {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.grid {
  position: relative;
  box-sizing: border-box;
  *zoom: 1;
}
.grid:before, .grid:after {
  content: "";
  display: table;
}
.grid:after {
  clear: both;
}
.grid .col {
  position: relative;
  float: left;
  box-sizing: border-box;
}

.table {
  display: table;
}
.table .table-cell {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

.effect-bounce-diagonal {
  -webkit-animation-name: effectBounceDiagonal;
          animation-name: effectBounceDiagonal;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
@-webkit-keyframes effectBounceDiagonal {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10px, -10px);
  }
}
@keyframes effectBounceDiagonal {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10px, -10px);
  }
}

.effect-bounce-updown {
  -webkit-animation-name: effectBounceUpDown;
          animation-name: effectBounceUpDown;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
@-webkit-keyframes effectBounceUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
@keyframes effectBounceUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.effect-extend {
  -webkit-animation-name: effectExtend;
          animation-name: effectExtend;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
@-webkit-keyframes effectExtend {
  0%, 100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
}
@keyframes effectExtend {
  0%, 100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
}

.effect-blink {
  -webkit-animation-name: effectBlink;
          animation-name: effectBlink;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: step-end;
          animation-timing-function: step-end;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
@-webkit-keyframes effectBlink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
@keyframes effectBlink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.promotion,
.product-eco,
.fullservice {
  text-align: center;
}
.promotion [class^=sector-],
.product-eco [class^=sector-],
.fullservice [class^=sector-] {
  position: relative;
}
.promotion .wrap,
.product-eco .wrap,
.fullservice .wrap {
  position: relative;
  margin: 0 auto;
}
.promotion .wrap-full,
.product-eco .wrap-full,
.fullservice .wrap-full {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

#fixApply.fix-apply {
  display: none !important;
}

.product-eco {
  overflow: hidden;
  text-align: center;
}
.product-eco * {
  line-height: normal;
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  font-size: inherit;
  color: inherit;
  letter-spacing: -1px;
}
.product-eco [class^=product-],
.product-eco .item {
  position: relative;
}
.product-eco .wrap {
  width: 1200px;
}
.product-eco .only-pc {
  display: inline-block;
}
.product-eco .only-mobile {
  display: none;
}
.product-eco .icon-pointer {
  position: relative;
  display: inline-block;
}
.product-eco .icon-pointer:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
  display: block;
  width: 13.75vw;
  height: 13.3333333333vw;
  background: url("//img.eduwill.net/Img2/Common/icon/pointer/icon_pointer_20.png") no-repeat 0 0;
  background-size: 100% auto;
  -webkit-animation-name: pointerBounceDiagonal;
          animation-name: pointerBounceDiagonal;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
@media screen and (min-width: 720px) {
  .product-eco .icon-pointer:after {
    width: 99px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .icon-pointer:after {
    height: 96px;
  }
}
@-webkit-keyframes pointerBounceDiagonal {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10px, -10px);
  }
}
@keyframes pointerBounceDiagonal {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10px, -10px);
  }
}
.product-eco .fix-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 120px;
  z-index: 99;
  padding: 24px 0 0 0;
  background: rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
}
.product-eco .fix-bottom .wrap-full p {
  display: inline-block;
  color: #deeafd;
  margin-right: 20px;
  font-size: 22px;
  vertical-align: 5px;
}
.product-eco .fix-bottom .wrap-full strong {
  display: inline-block;
  font-size: 40px;
  font-weight: 900;
  color: #fff;
  letter-spacing: -2px;
}
.product-eco .fix-bottom .wrap-full a {
  margin-left: 20px;
  padding: 15px 80px;
  text-align: center;
  font-size: 28px;
  font-weight: 900;
  color: #fff;
  letter-spacing: -2px;
  border-radius: 76px;
  background-color: #ff5525;
  box-shadow: inset 0 2px 2px 0 rgba(255, 255, 255, 0.5), 0 9px 24px 0 rgba(0, 0, 0, 0.16);
}
.product-eco .fix-bottom .wrap-full a {
  position: relative;
  display: inline-block;
}
.product-eco .fix-bottom .wrap-full a:before {
  content: "";
  position: absolute;
  top: 50%;
  display: block;
  width: 1.6666666667vw;
  height: 1.6666666667vw;
  margin-top: -0.8333333333vw;
  border-width: 0;
  border-style: solid;
  border-color: #fff;
  transform: rotate(45deg);
  right: 3.3333333333vw;
  border-top-width: 2px;
  border-right-width: 2px;
}
@media screen and (min-width: 720px) {
  .product-eco .fix-bottom .wrap-full a:before {
    width: 12px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .fix-bottom .wrap-full a:before {
    height: 12px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .fix-bottom .wrap-full a:before {
    margin-top: -6px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .fix-bottom .wrap-full a:before {
    right: 24px;
  }
}
.product-eco .fix-bottom .wrap-full a::after {
  width: 57px;
  height: 65px;
}
.product-eco .action {
  margin-top: 12px;
}
.product-eco .action a {
  display: inline-block;
  padding: 14px 50px 15px;
  border: 1px solid #222;
  border-radius: 60px;
  box-sizing: border-box;
}
.product-eco .action a span {
  position: relative;
  display: block;
  padding-right: 30px;
  font-size: 20px;
  font-weight: 700;
  color: #222;
  letter-spacing: -1px;
}
.product-eco .action a span {
  position: relative;
  display: inline-block;
}
.product-eco .action a span:before {
  content: "";
  position: absolute;
  top: 50%;
  display: block;
  width: 1.1111111111vw;
  height: 1.1111111111vw;
  margin-top: -0.5555555556vw;
  border-width: 0;
  border-style: solid;
  border-color: #000;
  transform: rotate(45deg);
  right: 2.2222222222vw;
  border-top-width: 2px;
  border-right-width: 2px;
}
@media screen and (min-width: 720px) {
  .product-eco .action a span:before {
    width: 8px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .action a span:before {
    height: 8px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .action a span:before {
    margin-top: -4px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .action a span:before {
    right: 16px;
  }
}
.product-eco .action a span:before {
  right: 0;
}
.product-eco .sector-title {
  background-image: url("//img.eduwill.net/eduwill/img/2023/_122/product/230120/pc/bg_title.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.product-eco .sector-item {
  padding-bottom: 100px;
  background: #fff;
}
.product-eco .sector-item .section-title {
  padding-top: 100px;
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  font-size: 46px;
  font-weight: 500;
}
.product-eco .sector-item .section-title strong {
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  font-size: 65px;
  font-weight: 900;
  color: #0034ae;
  background: -webkit-linear-gradient(45deg, #1da1e2, #0034ae);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.product-eco .sector-item .section-title .small-title {
  font-weight: 700;
}
.product-eco .sector-item .price-table {
  width: 1200px;
  margin: 100px auto 0;
}
.product-eco .sector-item .price-table table {
  width: 100%;
  text-align: left;
  color: #222;
  border-collapse: inherit !important;
}
.product-eco .sector-item .price-table table [class^=row-] td {
  vertical-align: top;
  color: #222;
  border-style: solid;
  border-width: 0;
  border-right-width: 1px;
  border-left-width: 1px;
  border-color: #000;
}
.product-eco .sector-item .price-table table [class^=row-] td:first-child {
  border-left-width: 2px;
}
.product-eco .sector-item .price-table table [class^=row-] td:last-child {
  border-right-width: 2px;
}
.product-eco .sector-item .price-table table [class^=row-] td.current {
  width: 35%;
}
.product-eco .sector-item .price-table table [class^=row-] td.blank {
  width: 0;
  border: none;
}
.product-eco .sector-item .price-table table [class^=row-] td.other {
  width: 30%;
}
.product-eco .sector-item .price-table table [class^=row-] .cell {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 0 20px;
  vertical-align: top;
  line-height: 1.45;
  letter-spacing: -1.6px;
  box-sizing: border-box;
}
.product-eco .sector-item .price-table table [class^=row-] .cell .small {
  font-size: 16px;
  font-weight: 300;
}
.product-eco .sector-item .price-table table [class^=row-] .dash {
  display: inline-block;
  vertical-align: top;
  line-height: 26px;
  font-weight: 700;
}
.product-eco .sector-item .price-table table [class^=row-].row-title td {
  font-size: 30px;
  font-weight: 900;
  border-top-width: 2px;
}
.product-eco .sector-item .price-table table [class^=row-].row-title td .other .cell strong {
  margin-top: 45px !important;
}
.product-eco .sector-item .price-table table [class^=row-].row-title .cell {
  padding-top: 40px;
  padding-bottom: 30px;
}
.product-eco .sector-item .price-table table [class^=row-].row-title .flag-list {
  position: absolute;
  top: -25px;
  left: 20px;
}
.product-eco .sector-item .price-table table [class^=row-].row-title .flag-list > div {
  display: inline-block;
  padding: 9px 30px;
  line-height: 1;
  font-size: 18px;
  font-weight: 500;
  border-radius: 36px;
}
.product-eco .sector-item .price-table table [class^=row-].row-title .flag-list > div.flag {
  color: #000;
  background-color: #ffdd00;
}
.product-eco .sector-item .price-table table [class^=row-].row-title .current {
  background-color: #0034ae;
}
.product-eco .sector-item .price-table table [class^=row-].row-title .current .cell {
  color: #fff;
}
.product-eco .sector-item .price-table table [class^=row-].row-title .current .cell span {
  color: #ffdd00;
}
.product-eco .sector-item .price-table table [class^=row-].row-title .other {
  background-color: #fbf6ee;
}
.product-eco .sector-item .price-table table [class^=row-].row-title .other .cell {
  color: #000;
}
.product-eco .sector-item .price-table table [class^=row-].row-title .other .cell strong {
  margin-top: 45px !important;
}
.product-eco .sector-item .price-table table [class^=row-].row-price {
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
}
.product-eco .sector-item .price-table table [class^=row-].row-price td {
  border-top: 2px solid #000;
}
.product-eco .sector-item .price-table table [class^=row-].row-price .cell {
  padding-top: 15px;
  padding-bottom: 15px;
}
.product-eco .sector-item .price-table table [class^=row-].row-price .discount-price {
  font-size: 26px;
  font-weight: 700;
  color: #e63a15;
}
.product-eco .sector-item .price-table table [class^=row-].row-price .before-price {
  position: relative;
  padding-right: 20px;
  font-size: 18px;
  color: #010101;
}
.product-eco .sector-item .price-table table [class^=row-].row-price .before-price {
  position: relative;
  display: inline-block;
}
.product-eco .sector-item .price-table table [class^=row-].row-price .before-price:before {
  content: "";
  position: absolute;
  top: 50%;
  display: block;
  width: 1.3888888889vw;
  height: 1.3888888889vw;
  margin-top: -0.6944444444vw;
  border-width: 0;
  border-style: solid;
  border-color: #000;
  transform: rotate(45deg);
  right: 2.7777777778vw;
  border-top-width: 2px;
  border-right-width: 2px;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-item .price-table table [class^=row-].row-price .before-price:before {
    width: 10px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .sector-item .price-table table [class^=row-].row-price .before-price:before {
    height: 10px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .sector-item .price-table table [class^=row-].row-price .before-price:before {
    margin-top: -5px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .sector-item .price-table table [class^=row-].row-price .before-price:before {
    right: 20px;
  }
}
.product-eco .sector-item .price-table table [class^=row-].row-price .before-price::before {
  right: 0;
}
.product-eco .sector-item .price-table table [class^=row-].row-price .before-price::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  margin-top: -1px;
  background-color: #000;
}
.product-eco .sector-item .price-table table [class^=row-].row-price .before-price span {
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  font-size: 18px;
  color: #010101;
}
.product-eco .sector-item .price-table table [class^=row-].row-price .before-price:last-child {
  width: 100%;
  padding-right: 0;
  text-align: right;
  text-decoration: none;
  font-size: 40px;
  color: #e63a15;
}
.product-eco .sector-item .price-table table [class^=row-].row-price .before-price:last-child::before, .product-eco .sector-item .price-table table [class^=row-].row-price .before-price:last-child::after {
  display: none;
}
.product-eco .sector-item .price-table table [class^=row-].row-price .before-price:last-child span {
  font-size: 43px;
  color: #e63a15;
}
.product-eco .sector-item .price-table table [class^=row-].row-price .after-price {
  float: right;
  margin-top: -20px;
  font-size: 40px;
  color: #e63a15;
  letter-spacing: -2px;
}
.product-eco .sector-item .price-table table [class^=row-].row-price .after-price span {
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  font-size: 43px;
  color: #e63a15;
  letter-spacing: -2px;
}
.product-eco .sector-item .price-table table [class^=row-].row-subject td {
  border-top: 2px solid #000;
}
.product-eco .sector-item .price-table table [class^=row-].row-subject .cell {
  padding-top: 15px;
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
  color: #010101;
}
.product-eco .sector-item .price-table table [class^=row-].row-subject .series {
  font-size: 20px;
  font-weight: 400;
  color: #888;
}
.product-eco .sector-item .price-table table [class^=row-].row-program td {
  padding-bottom: 20px;
  border-top: 1px solid #efefef;
}
.product-eco .sector-item .price-table table [class^=row-].row-program .cell {
  color: #010101;
}
.product-eco .sector-item .price-table table [class^=row-].row-program li {
  position: relative;
  margin-top: 10px;
  padding-left: 10px;
  line-height: 1.35;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -1.5px;
}
.product-eco .sector-item .price-table table [class^=row-].row-program li:first-child {
  margin-top: 20px;
}
.product-eco .sector-item .price-table table [class^=row-].row-program li::before {
  content: "·";
  position: absolute;
  top: 0;
  left: 0;
}
.product-eco .sector-item .price-table table [class^=row-].row-program li.dash {
  display: block;
  padding-left: 0;
}
.product-eco .sector-item .price-table table [class^=row-].row-program li.dash::before {
  display: none;
}
.product-eco .sector-item .price-table table [class^=row-].row-program img + p {
  margin-top: 10px;
}
.product-eco .sector-item .price-table table [class^=row-].row-program P {
  font-size: 18px;
  font-weight: 500;
  color: #010101;
}
.product-eco .sector-item .price-table table [class^=row-].row-program P.effect-blink {
  margin: 10px 0;
  font-size: 20px;
  font-weight: 700;
  color: #e63a15;
}
.product-eco .sector-item .price-table table [class^=row-].row-acer td {
  border-top: 2px solid #000;
  background-color: #eee;
}
.product-eco .sector-item .price-table table [class^=row-].row-acer td.other .cell {
  padding: 20px !important;
}
.product-eco .sector-item .price-table table [class^=row-].row-acer .cell {
  padding: 0 !important;
}
.product-eco .sector-item .price-table table [class^=row-].row-acer .cell a {
  display: block;
  padding: 20px;
  font-size: 20px;
  font-weight: 700;
  color: #010101;
}
.product-eco .sector-item .price-table table [class^=row-].row-acer .cell a span {
  padding-right: 20px;
}
.product-eco .sector-item .price-table table [class^=row-].row-acer .cell a span {
  position: relative;
  display: inline-block;
}
.product-eco .sector-item .price-table table [class^=row-].row-acer .cell a span:before {
  content: "";
  position: absolute;
  top: 50%;
  display: block;
  width: 1.3888888889vw;
  height: 1.3888888889vw;
  margin-top: -0.6944444444vw;
  border-width: 0;
  border-style: solid;
  border-color: #000;
  transform: rotate(45deg);
  right: 2.7777777778vw;
  border-top-width: 2px;
  border-right-width: 2px;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-item .price-table table [class^=row-].row-acer .cell a span:before {
    width: 10px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .sector-item .price-table table [class^=row-].row-acer .cell a span:before {
    height: 10px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .sector-item .price-table table [class^=row-].row-acer .cell a span:before {
    margin-top: -5px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .sector-item .price-table table [class^=row-].row-acer .cell a span:before {
    right: 20px;
  }
}
.product-eco .sector-item .price-table table [class^=row-].row-acer .cell a span::before {
  right: 0;
}
.product-eco .sector-item .price-table table [class^=row-].row-action td {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}
.product-eco .sector-item .price-table table [class^=row-].row-action td.current .btn-apply {
  background-color: #e63a15;
}
.product-eco .sector-item .price-table table [class^=row-].row-action td.other .btn-apply {
  background-color: #393939;
}
.product-eco .sector-item .price-table table [class^=row-].row-action .cell {
  padding: 0;
  letter-spacing: -1.5px;
}
.product-eco .sector-item .price-table table [class^=row-].row-action .btn-apply {
  display: block;
  width: 100%;
  padding: 20px;
  text-align: center;
  font-size: 26px;
  font-weight: 900;
  color: #fff;
  border-radius: 0;
  box-sizing: border-box;
}
.product-eco .sector-item .price-table table [class^=row-].row-action .btn-apply::after {
  width: 72px;
  height: 70px;
}
.product-eco .sector-item .price-table2 {
  width: 1200px;
  margin: 50px auto 0;
}
.product-eco .sector-item .price-table2 table {
  width: 100%;
  text-align: left;
  color: #000;
  border-collapse: inherit !important;
}
.product-eco .sector-item .price-table2 table p {
  color: inherit;
}
.product-eco .sector-item .price-table2 table [class^=row-] td {
  vertical-align: top;
  color: #222;
  border-style: solid;
  border-width: 0;
  border-right-width: 1px;
  border-left-width: 1px;
  border-color: #d9d9d9;
}
.product-eco .sector-item .price-table2 table [class^=row-] td.current {
  width: 36%;
  border-right-width: 2px;
  border-left-width: 2px;
  border-left-color: #6a3fd0;
  border-right-color: #3a42e6;
}
.product-eco .sector-item .price-table2 table [class^=row-] td.blank {
  width: 0;
  border: none;
}
.product-eco .sector-item .price-table2 table [class^=row-] td.other {
  width: 32%;
}
.product-eco .sector-item .price-table2 table [class^=row-] td:first-child {
  border-right-width: 0;
}
.product-eco .sector-item .price-table2 table [class^=row-] td:last-child {
  border-left-width: 0 !important;
}
.product-eco .sector-item .price-table2 table [class^=row-] .cell {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 0 30px;
  vertical-align: top;
  line-height: 1.45;
  letter-spacing: -1.6px;
  box-sizing: border-box;
}
.product-eco .sector-item .price-table2 table [class^=row-] .cell .small {
  font-size: 16px;
  font-weight: 300;
}
.product-eco .sector-item .price-table2 table [class^=row-] .dash {
  display: inline-block;
  vertical-align: top;
  line-height: 26px;
  font-weight: 700;
}
.product-eco .sector-item .price-table2 table [class^=row-].row-top td {
  text-align: center;
  border-width: 0;
}
.product-eco .sector-item .price-table2 table [class^=row-].row-top td.current {
  border-left-color: #6a3fd0;
  border-right-color: #3a42e6;
  border-radius: 20px 20px 0 0;
  background: #6a3fd0;
  background: linear-gradient(to right, #6a3fd0, #3a42e6);
}
.product-eco .sector-item .price-table2 table [class^=row-].row-top td .cell {
  padding-top: 12px;
  padding-bottom: 11px;
}
.product-eco .sector-item .price-table2 table [class^=row-].row-top td strong {
  display: block;
  font-size: 18px;
  font-weight: 900;
  color: #fff;
}
.product-eco .sector-item .price-table2 table [class^=row-].row-title td {
  text-align: center;
  border-top-width: 1px;
}
.product-eco .sector-item .price-table2 table [class^=row-].row-title td.other:first-child {
  border-radius: 20px 0 0 0;
}
.product-eco .sector-item .price-table2 table [class^=row-].row-title td.other:last-child {
  border-radius: 0 20px 0 0;
}
.product-eco .sector-item .price-table2 table [class^=row-].row-title td.other strong {
  font-size: 28px;
}
.product-eco .sector-item .price-table2 table [class^=row-].row-title td.current {
  border-top-width: 0;
  background: #6a3fd0;
  background: linear-gradient(to right, #6a3fd0, #3a42e6);
}
.product-eco .sector-item .price-table2 table [class^=row-].row-title td.current .cell {
  padding-bottom: 16px;
  border-radius: 20px 20px 0 0;
  background-color: #fff;
}
.product-eco .sector-item .price-table2 table [class^=row-].row-title td.current strong {
  margin-top: 14px !important;
  font-size: 34px;
}
.product-eco .sector-item .price-table2 table [class^=row-].row-title td strong {
  display: block;
  margin-top: 45px !important;
  line-height: 1.3;
  font-weight: 900;
}
.product-eco .sector-item .price-table2 table [class^=row-].row-title .cell {
  padding-top: 30px;
  padding-bottom: 15px;
}
.product-eco .sector-item .price-table2 table [class^=row-].row-title .flag-list {
  text-align: center;
}
.product-eco .sector-item .price-table2 table [class^=row-].row-title .flag-list > div {
  display: inline-block;
  padding: 10px 22px;
  line-height: 1;
  font-size: 16px;
  font-weight: 700;
  border-radius: 36px;
}
.product-eco .sector-item .price-table2 table [class^=row-].row-title .flag-list > div.flag {
  color: #000;
  background-color: #ffdd00;
}
.product-eco .sector-item .price-table2 table [class^=row-].row-title .flag-list > div.flag-2 {
  color: #000;
  background-color: #eee;
}
.product-eco .sector-item .price-table2 table [class^=row-].row-title .flag-list > div.flag-3 {
  color: #000;
  background-color: #eee;
}
.product-eco .sector-item .price-table2 table [class^=row-].row-price {
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
}
.product-eco .sector-item .price-table2 table [class^=row-].row-price .cell {
  display: flex;
  padding-bottom: 30px;
  align-items: center;
  justify-content: space-between;
}
.product-eco .sector-item .price-table2 table [class^=row-].row-price .price-list {
  text-align: right;
}
.product-eco .sector-item .price-table2 table [class^=row-].row-price .before-price {
  position: relative;
  display: inline-block;
  min-width: 79px;
  margin-right: 10px;
  padding: 0 20px 0 0;
  font-size: 18px;
  font-weight: 300;
  color: #999;
  box-sizing: border-box;
}
.product-eco .sector-item .price-table2 table [class^=row-].row-price .before-price::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 79px;
  height: 6px;
  margin-top: -3px;
  background-image: url("//img.eduwill.net/eduwill/img/2023/_122/product/230120/pc/icon_price_arrow.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.product-eco .sector-item .price-table2 table [class^=row-].row-price .before-price span {
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  font-size: 18px;
  font-weight: 300;
  color: #999;
}
.product-eco .sector-item .price-table2 table [class^=row-].row-price .before-price:last-child {
  width: 100%;
  padding-right: 0;
  text-align: right;
  text-decoration: none;
  font-size: 30px;
  font-weight: 900;
  color: #ff0039;
}
.product-eco .sector-item .price-table2 table [class^=row-].row-price .before-price:last-child::before, .product-eco .sector-item .price-table2 table [class^=row-].row-price .before-price:last-child::after {
  display: none;
}
.product-eco .sector-item .price-table2 table [class^=row-].row-price .before-price:last-child span {
  font-size: 30px;
  font-weight: 900;
  color: #ff0039;
}
.product-eco .sector-item .price-table2 table [class^=row-].row-price .after-price {
  font-size: 30px;
  font-weight: 900;
  color: #ff0039;
  letter-spacing: -2px;
}
.product-eco .sector-item .price-table2 table [class^=row-].row-price .after-price span {
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  font-size: 30px;
  font-weight: 900;
  color: #ff0039;
  letter-spacing: -2px;
}
.product-eco .sector-item .price-table2 table [class^=row-].row-select td {
  text-align: center;
}
.product-eco .sector-item .price-table2 table [class^=row-].row-select td.current .select-pass {
  box-shadow: inset 0px 10px 10px 0px rgba(255, 255, 255, 0.1), 0px 10px 20px 0px rgba(93, 23, 232, 0.37);
}
.product-eco .sector-item .price-table2 table [class^=row-].row-select td.current .select-pass:before, .product-eco .sector-item .price-table2 table [class^=row-].row-select td.current .select-pass:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  background: #FFA63D;
  background: linear-gradient(-45deg, #FFA63D, #FF3D77, #338AFF, #3CF0C5);
  background-size: 600%;
  -webkit-animation-name: selectBtn;
          animation-name: selectBtn;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
@-webkit-keyframes selectBtn {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes selectBtn {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.product-eco .sector-item .price-table2 table [class^=row-].row-select td.current .select-pass::after {
  z-index: -1;
  filter: blur(30px);
  opacity: 0.8;
}
.product-eco .sector-item .price-table2 table [class^=row-].row-select .select-pass {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 20px;
  font-size: 28px;
  font-weight: 900;
  overflow: hidden;
  color: #fff;
  border-radius: 80px;
  background-color: #76a2ff;
  box-shadow: inset 0px 10px 10px 0px rgba(255, 255, 255, 0.1), 0px 10px 20px 0px rgba(118, 162, 255, 0.37);
}
.product-eco .sector-item .price-table2 table [class^=row-].row-select .select-pass span {
  position: relative;
  z-index: 1;
  padding-left: 56px;
}
.product-eco .sector-item .price-table2 table [class^=row-].row-select .select-pass span::before, .product-eco .sector-item .price-table2 table [class^=row-].row-select .select-pass span::after {
  content: "";
  position: absolute;
  top: 50%;
  color: #fff;
  box-sizing: border-box;
}
.product-eco .sector-item .price-table2 table [class^=row-].row-select .select-pass span::before {
  left: 14px;
  width: 16px;
  height: 10px;
  border-bottom: solid 4px currentColor;
  border-left: solid 4px currentColor;
  transform: translateY(-50%) rotate(-45deg);
}
.product-eco .sector-item .price-table2 table [class^=row-].row-select .select-pass span::after {
  left: 0;
  width: 42px;
  height: 42px;
  border: 4px solid currentColor;
  border-radius: 50%;
  transform: translateY(-50%);
}
.product-eco .sector-item .price-table2 table [class^=row-].row-subject .other {
  border-bottom-width: 1px;
  border-radius: 0 0 0 20px;
}
.product-eco .sector-item .price-table2 table [class^=row-].row-subject .other.other-2 {
  border-radius: 0 0 20px 0;
}
.product-eco .sector-item .price-table2 table [class^=row-].row-subject .cell {
  padding: 30px 50px 25px;
  font-size: 18px;
  font-weight: 700;
}
.product-eco .sector-item .price-table2 table [class^=row-].row-subject .cell span {
  position: relative;
  font-weight: 500;
}
.product-eco .sector-item .price-table2 table [class^=row-].row-subject .cell span:before {
  content: "";
  width: 5px;
  height: 5px;
  background-color: #000;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -10px;
}
.product-eco .sector-item .price-table2 table [class^=row-].row-subject .series {
  font-size: 20px;
  font-weight: 400;
  color: #888;
}
.product-eco .sector-item .price-table2 table [class^=row-].row-action td {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}
.product-eco .sector-item .price-table2 table [class^=row-].row-action td.current .btn-apply {
  background-color: #e63a15;
}
.product-eco .sector-item .price-table2 table [class^=row-].row-action td.other .btn-apply {
  background-color: #393939;
}
.product-eco .sector-item .price-table2 table [class^=row-].row-action .cell {
  padding: 0;
  letter-spacing: -1.5px;
}
.product-eco .sector-item .price-table2 table [class^=row-].row-action .btn-apply {
  display: block;
  width: 100%;
  padding: 20px;
  text-align: center;
  font-size: 26px;
  font-weight: 900;
  color: #fff;
  border-radius: 0;
  box-sizing: border-box;
}
.product-eco .sector-item .price-table2 table [class^=row-].row-action .btn-apply::after {
  width: 72px;
  height: 70px;
}
.product-eco .sector-item .price-table2 table [class^=row-].row-bottom td {
  line-height: 1;
  font-size: 0;
  border-bottom-width: 0px;
}
.product-eco .sector-item .price-table2 table [class^=row-].row-bottom td.other {
  height: 0;
  border: none;
}
.product-eco .sector-item .price-table2 table [class^=row-].row-bottom td.current {
  height: 25px;
  border-left-color: #6a3fd0;
  border-right-color: #3a42e6;
  border-radius: 0 0 20px 20px;
  background: #6a3fd0;
  background: linear-gradient(to right, #6a3fd0, #3a42e6);
}
.product-eco .sector-video {
  background-color: #eef4ff;
  padding-bottom: 140px;
}
.product-eco .sector-video .video-box {
  width: 1200px;
  background-color: #fff;
  border-radius: 20px;
  padding: 45px 50px;
  box-shadow: 0 12px 24px rgba(176, 197, 233, 0.5);
}
.product-eco .sector-video .video-box:first-child {
  margin-bottom: 40px;
}
.product-eco .sector-video .video-box .top {
  display: flex;
}
.product-eco .sector-video .video-box .top .video {
  width: 50%;
  margin-right: 10%;
  height: 366px;
  position: relative;
}
.product-eco .sector-video .video-box .top .video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 600px;
  height: 366px;
}
.product-eco .sector-video .video-box .top .video a {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: block;
}
.product-eco .sector-video .video-box .top .video a img {
  z-index: 10;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.product-eco .sector-video .video-box .top .cont {
  width: 40%;
  padding-top: 15px;
  text-align: left;
}
.product-eco .sector-video .video-box .top .cont h3 {
  font-size: 34px;
  font-weight: 800;
  color: #000;
}
.product-eco .sector-video .video-box .top .cont p {
  font-size: 22px;
  color: #000;
}
.product-eco .sector-video .video-box .top .cont span {
  display: block;
  font-size: 18px;
  color: #999;
  padding-bottom: 20px;
}
.product-eco .sector-qna {
  background-color: #deeafd;
  padding-bottom: 140px;
}
.product-eco .sector-qna .qna-box {
  margin-bottom: 35px;
}
.product-eco .sector-qna .qna-box .cont {
  display: flex;
  margin-bottom: 10px;
}
.product-eco .sector-qna .qna-box .cont span {
  width: 80px;
  height: 80px;
  text-align: center;
  font-size: 34px;
  font-weight: 900;
  box-sizing: border-box;
  padding: 10px 25px;
  border-radius: 20px;
  box-shadow: 0 12px 24px rgba(176, 197, 233, 0.5);
}
.product-eco .sector-qna .qna-box .cont span.question {
  background-color: #3e92ff;
  color: #fff;
}
.product-eco .sector-qna .qna-box .cont span.answer {
  padding: 10px 28px;
  border: 2px solid #a4c7ff;
  background-color: #fff;
  color: #3e92ff;
}
.product-eco .sector-qna .qna-box .cont p {
  width: 1100px;
  padding: 25px 40px;
  background-color: #fff;
  margin-left: 20px;
  border-radius: 20px;
  border: 2px solid #3e92ff;
  text-align: left;
  color: #000;
  box-shadow: 0 12px 24px rgba(176, 197, 233, 0.5);
}
.product-eco .sector-qna .qna-box .cont p.question-cont {
  font-size: 26px;
  font-weight: 800;
  margin: 0;
  margin-left: 20px;
}
.product-eco .sector-qna .qna-box .cont p.answer-cont {
  font-size: 22px;
  border: 2px solid #a4c7ff;
  margin: 0;
  margin-left: 20px;
}
.product-eco .sector-point {
  background-color: #f7f7f7;
}
.product-eco .sector-band {
  background-image: url("//img.eduwill.net/eduwill/img/2023/_122/product/230120/pc/bg_band.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.product-eco .sector-band .wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-eco .sector-band .wrap .band-cont {
  padding: 40px 0;
  width: 75%;
  text-align: left;
}
.product-eco .sector-band .wrap .band-cont span {
  font-size: 22px;
  color: #6e6e6e;
}
.product-eco .sector-band .wrap .band-cont p {
  color: #000;
  font-size: 40px;
  font-weight: 600;
  margin: 0;
}
.product-eco .sector-band .wrap .band-cont p strong {
  font-weight: 800;
}
.product-eco .sector-band .wrap .action {
  width: 25%;
}
.product-eco .sector-band .wrap .action a {
  background: #000;
  font-weight: 800;
}
.product-eco .sector-band .wrap .action a span {
  color: #fff;
}
.product-eco .sector-band .wrap .action a span:before {
  border-color: #fff;
}/*# sourceMappingURL=web.css.map */