@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
@import url(motion.css);

#container { padding-bottom:0px !important; text-align: center;} 
#contents { width:100%; text-align:center; clear:both; position:relative; overflow:hidden; font-family:"MalGun Gothic"; font-size:16px; letter-spacing:-0.5px; line-height:20px; color:#333; } 
.wrap{ width:1000px; max-width:1000px; margin:0 auto;}
.wrap_full{ width:100%; max-width:100%; margin:0 auto;}

.quick { width: 110px; position: fixed; top: 310px; left: 50%; margin-left: 523px; z-index: 10; } 
.quick img { opacity: 1;} 
/* section_title */
.section_title { background:#87cedf;height: 1640px; position:relative; z-index:1;} 
.section_title .wrap_full { width:100%; height:1640px; margin:0 auto; overflow:hidden;}
.section_title .act_wrap { position:relative; width:1000px; height:813px; margin:0 auto;} 
.section_title .act_wrap .txt {  position:absolute; opacity:0; z-index:2; left:50%;transform: translateX(-50%);} 
.section_title .act_wrap .act01 { top:100px; margin-left: -162px;}
.section_title .act_wrap .act01_01 { top:130px; margin-left: 171px;}
.section_title .act_wrap .act02 { top:225px;left:0;right:0;margin:0 auto;transform: translateX(0);} 
.section_title .act_wrap .act02_01 { top:272px;} 
.section_title .act_wrap .act02_02 { top:268px;} /* Per */
.section_title .act_wrap .act02_03 { top:268px;} /* Pl */
.section_title .act_wrap .act02_02_2 { top:272px;} /* sonal */
.section_title .act_wrap .act02_03_2 { top:280px;} /* ay */
.section_title .act_wrap .act03 { top:351px;left:0;right:0;margin:0 auto;transform: translateX(0);} 
.section_title .act_wrap .act04 { top:503px;left:0;right:0;margin:0 auto;transform: translateX(0);} 
.section_title .act_wrap .act04_01 { top:664px; margin-left:-274px;}
.section_title .act_wrap .act04_02 { top:488px; margin-left:17px;}
.section_title .act_wrap .act04_03 { top:637px; margin-left:237px;}
.section_title .video_area { position:relative; width:1000px; height:auto; margin:0 auto; z-index:10; } 
.section_title .video_content { position:absolute; top:165px; left:0px; width:100%; height:auto; }
/* .section_title star */
#sectionTitle .act_wrap .star { position:absolute;left:50%; display:block; width:0;height:0;border-radius:50%;background:#EFAAFD; transform-origin:100% 0;animation:star-ani 2.5s infinite ease-out;animation-direction:normal;opacity:0;}
#sectionTitle .act_wrap .star1 {top:0px;margin-left:-450px;-webkit-animation-delay:2.00s;animation-delay:2.00s;}
#sectionTitle .act_wrap .star2 {top:550px;margin-left:-150px;-webkit-animation-delay:3.50s;animation-delay:3.50s;}
#sectionTitle .act_wrap .star3 {top:50px;margin-left:350px;-webkit-animation-delay:2.50s;animation-delay:2.50s;}
#sectionTitle .act_wrap .star4 {top:650px;margin-left:850px;-webkit-animation-delay:3.00s;animation-delay:3.00s;}
#sectionTitle .act_wrap .star5 {top:1050px;margin-left:-400px;-webkit-animation-delay:3.00s;animation-delay:3.00s;}
#sectionTitle .act_wrap .star:after { position:absolute; top:0px; left:4px; content:''; border:1px solid #EFAAFD; border-width:1px 150px 1px 150px; border-color:transparent transparent transparent #EFAAFD; transform:rotate(-35deg) translate3d(1px, -1px, 0); transform-origin:0% 100%; animation:shooting-ani 2.5s infinite ease-out; animation-direction:normal;}
#sectionTitle .act_wrap .star1:after {-webkit-animation-delay:2.00s;animation-delay:2.00s;}
#sectionTitle .act_wrap .star2:after {-webkit-animation-delay:3.50s;animation-delay:3.50s;}
#sectionTitle .act_wrap .star3:after {-webkit-animation-delay:2.50s;animation-delay:2.50s;}
#sectionTitle .act_wrap .star4:after {-webkit-animation-delay:3.00s;animation-delay:3.00s;}
#sectionTitle .act_wrap .star5:after {-webkit-animation-delay:3.00s;animation-delay:3.00s;}
/* section_control */
.section_control{ padding:100px 0;}
.section_control .control_circle{ position: relative;height:688px;}
.section_control .control_circle > div{ position: absolute;}
.section_control .control_circle .control_arrow{ top:134px;left:0;right:0;margin:0 auto; animation: rotate_image 10s linear infinite;}
.section_control .control_circle .control_center{ top:168px;left:0;right:0;margin:0 auto;}
.section_control .control_circle .control_element{ position: absolute;left: 0; right: 0; margin: 0 auto; margin-left: 16px;}
/* section_diagram */
.section_diagram{ background:#4c247f;padding:100px 0;}
.section_diagram .diagram_rect{ position: relative;}
.section_diagram .diagram_line{ position: absolute;top:360px;left:0;right:0;margin:0 auto;}
.section_diagram .rect_list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-item: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: space-between;
}
.section_diagram .diagram_circle { position: relative;}
.section_diagram .diagram_circle .circle{ position: absolute; top:0;}
.section_diagram .diagram_circle .circle1{ left:37px; right:auto; top:339px;}
.section_diagram .diagram_circle .circle2{ left:138px; right:auto; top:96px;}
.section_diagram .diagram_circle .circle3{ left:380px; right:auto; top:0;}
.section_diagram .diagram_circle .circle4{ left:622px; right:auto; top:96px;}
.section_diagram .diagram_circle .circle5{ left:727px; right:auto; top:338px;}
/* section_report */
.section_report{ background:#fff; padding:100px 0;}
/* section_map */
.section_map{ background:#eeeef6; padding:100px 0 47px 0;}
.section_map .map_box{ position: relative;}
.section_map .map_box img.map{ position: relative;left:-27px;}
.section_map .btn_map{ position:absolute; width:484px; height:310px;  left:50%; top:246px; margin-left:-242px;}
/* section_contents */
.section_contents{ background:#fff; padding:100px 0;}
/* section_review */
.section_review { background:#f5eef5; padding:100px 0;} 
/* section_link_list */
.section_link_list { background:#290f4c; padding:100px 0; }
.section_link_list .academy_list {width:864px; margin:0 auto;} 
.section_link_list ul { 
    margin: 0 auto; position: relative; text-align:center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-item: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 40px 27px;
    flex-wrap: wrap;
    font-family: 'Noto Sans KR';
}
.section_link_list ul li {
    position: relative;
    display:inline-block;
    min-width:268px;
    font-family: 'Noto Sans KR'; 
    letter-spacing: -0.5px; 
    text-align: center;
    line-height:1;
}
.section_link_list ul li a { 
    display: block; 
    width:100%; 
    height:100%; 
    position:relative; 
    color:#000;     
    background-color:#fff;
    border-radius:4px;
}
.section_link_list ul li .title {
    position: relative;
    margin:0 auto; 
    border-bottom:none;
    padding:35px 0;
}
.section_link_list ul li .title:after { 
    content:'';
    position: absolute;
    bottom:0;
    left:10%;
    right:10%;
    border:1px dashed #c6c6c6;
}
.section_link_list ul li .title strong { font-weight:700; } 
.section_link_list ul li .title span { 
    position: relative;
    font-size:25px;
    font-weight:400;
} 
.section_link_list ul li .title span:after{
    content: '';
    position: absolute;
    top: 14px;
    right: -13px;
    width: 5px;
    height: 10px;
    background: url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2020_half/bullet_arrow.png') right 50% no-repeat;
}
.section_link_list ul li .flag { 
    position:absolute; 
    z-index:5;
    top:-14px; left:-7px; 
    background: url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2021_half_gate/open_flag.png') 0 0 no-repeat; 
    width:76px; height:37px; display:inline-block; vertical-align:middle; 
}
.section_link_list ul li .flag span {color:#fff;font-size:15px;font-weight:700;margin-top:3px;display:block; line-height:19px;} 
.section_link_list ul li .info_wrap {display:table;width:100%;padding:35px 0;} 
.section_link_list ul li .info_wrap .info {display:table-cell;vertical-align:middle; } 
.section_link_list ul li .info_wrap p {font-size:26px;color:#561589;font-weight:bold;font-family:'Noto Sans KR', 'Montserrat';} 
.section_link_list ul li .info_wrap .sub_txt { 
    position: absolute;
    top:84px;
    left:0;
    right:0;
    margin:0 auto;
    border-radius: 11px;
    font-size: 14px;
    color: #fff;
    display: inline-block;
    text-align: center;
    background-image: linear-gradient(120deg,#bc8894,#52158a);
    font-weight: 400;
    line-height: 1;
    width:71px;
    height:22px;
    line-height:22px;
}


.fix_bottom_wrap { width:1000px; max-width:1000px; height:auto; background:#000; z-index:10; box-sizing:border-box;} 
.fix_bottom_area { width:100%; margin:0 auto; overflow:hidden; padding:22px 20px 10px 20px; box-sizing: border-box;} 
.fix_bottom_area ul { 
    display: -webkit-box; display: -ms-flexbox; display: flex; gap:15px;
    -webkit-align-item: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; 
}
.fix_bottom_area ul li { 
    width:147.5px;
    height:46px; line-height:44px; border:1px solid #555;font-size: 16px; box-sizing:border-box;
}
.fix_bottom_area ul li a { font-size:16px; color:#fff; font-weight:500; position:relative; display:block;} 
.fix_bottom_area ul li:hover { border-color:#bf8cff; } 
.fix_bottom_area ul li:hover a em { color:#bf8cff; word-break:keep-all; } 
.fix_bottom_wrap.inner { position:absolute; top:813px; left:50%; margin-left:-500px;} 
.fix_bottom_wrap.scroll { width:100%; max-width:100%; display:none; bottom:0; position:fixed;}
.fix_bottom_wrap.scroll .fix_bottom_area { max-width: 1000px;}
.notice{ box-sizing:border-box;width:1000px;margin:0 auto;padding:0 20px 22px 0; color:#808080;font-size: 14px;text-align: right;}

/* animation */
.ani_element {transition:all 600ms; opacity:0;}
.ani_element.delay0 {transition-delay:0ms;}
.ani_element.delay50 {transition-delay:50ms;}
.ani_element.delay100 {transition-delay:100ms;}
.ani_element.delay150 {transition-delay:150ms;}
.ani_element.delay200 {transition-delay:200ms;}
.ani_element.delay250 {transition-delay:250ms;}
.ani_element.delay300 {transition-delay:300ms;}
.ani_element.delay350 {transition-delay:350ms;}
.ani_element.delay400 {transition-delay:400ms;}
.ani_element.delay450 {transition-delay:450ms;}
.ani_element.delay500 {transition-delay:500ms;}
.ani_element.delay550 {transition-delay:550ms;}
.ani_element.delay600 {transition-delay:600ms;}
.ani_element.delay650 {transition-delay:650ms;}
.ani_element.delay700 {transition-delay:700ms;}
.ani_element.delay750 {transition-delay:750ms;}
.ani_element.delay800 {transition-delay:800ms;}
.ani_element.delay850 {transition-delay:850ms;}
.ani_element.delay900 {transition-delay:900ms;}
.ani_element.delay950 {transition-delay:950ms;}
.ani_element.delay1000 {transition-delay:1000ms;}

.ani_element.b_to_t {transform:translate(0px, 80px);}
.ani_element.t_to_b {transform:translate(0px, -80px);}
.ani_element.l_to_r {transform:translate(-80px, 0px);}
.ani_element.r_to_l {transform:translate(80px, 0px);}
.ani_element.ani_set {transform:translate(0px, 0px) !important; opacity:1 !important;}

@-webkit-keyframes shooting-ani {
    0% {}
    50% {transform:scale(1) rotate(-35deg) translate(0px, 0px);}
    100% {transform:scale(0.5) rotate(-35deg) translate(0px, -1px);}
}
@-webkit-keyframes star-ani {
    0% {opacity:0;transform:scale(0) rotate(0) translate3d(0, 0, 0);}
    50% {opacity:1;transform:scale(1) rotate(0) translate3d(-200px, 200px, 0);}
    100% {opacity:0;transform:scale(1) rotate(0) translate3d(-300px, 300px, 0);}
}
@-webkit-keyframes rotate_image{
    100% { transform: rotate(360deg); }
}
@keyframes rotate_image{
    100% { transform: rotate(360deg); }
}
@keyframes rotate{
    from { opacity: 1.0; transform: rotate(0deg); }
    to { opacity: 1.0; transform: rotate(360deg); }
}
@keyframes effectBlink {
    0%, 100% { scale:1; opacity: 1; }
    50% { scale:1.2; opacity: 0.6; }
}
@keyframes bounce { 
    0% { transform: translateX(0px); } 
    50% { transform: translateX(-50px); } 
    100% { transform: translateX(0px); } 
}
