@charset "UTF-8";
.grid {
  *zoom: 1;
}
.grid:before, .grid:after {
  content: "";
  display: table;
}
.grid:after {
  clear: both;
}

.hidden,
.sr_only,
.sr-only {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.grid {
  position: relative;
  box-sizing: border-box;
}
.grid .col {
  position: relative;
  float: left;
  box-sizing: border-box;
}

.table {
  display: table;
}
.table .table-cell {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

.effect-bounce-diagonal {
  -webkit-animation-name: effectBounceDiagonal;
          animation-name: effectBounceDiagonal;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
@-webkit-keyframes effectBounceDiagonal {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10px, -10px);
  }
}
@keyframes effectBounceDiagonal {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10px, -10px);
  }
}

.effect-bounce-updown {
  -webkit-animation-name: effectBounceUpDown;
          animation-name: effectBounceUpDown;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
@-webkit-keyframes effectBounceUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
@keyframes effectBounceUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.effect-extend {
  -webkit-animation-name: effectExtend;
          animation-name: effectExtend;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
@-webkit-keyframes effectExtend {
  0%, 100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
}
@keyframes effectExtend {
  0%, 100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
}

.effect-blink {
  -webkit-animation-name: effectBlink;
          animation-name: effectBlink;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: step-end;
          animation-timing-function: step-end;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
@-webkit-keyframes effectBlink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
@keyframes effectBlink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.product-eco .sector-title .title-text, .product-eco .wrap-full,
.product-eco .wide {
  position: relative;
  left: 50%;
  display: block;
  transform: translateX(-50%);
}

.promotion,
.product-eco,
.fullservice {
  text-align: center;
}
.promotion [class^=sector-],
.product-eco [class^=sector-],
.fullservice [class^=sector-] {
  position: relative;
}
.promotion .wrap,
.product-eco .wrap,
.fullservice .wrap {
  position: relative;
  margin: 0 auto;
}
.promotion .wrap-full,
.product-eco .wrap-full,
.fullservice .wrap-full {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 1100px) {
  .eduf-layer-base2 .eduf-layer-wrap {
    max-width: 1000px !important;
  }
}
.eduf-layer-base2 .eduf-layer-wrap .eco-5111,
.eduf-layer-base2 .eduf-layer-wrap .eco-5096 {
  overflow-x: scroll;
}
@media screen and (min-width: 1100px) {
  .eduf-layer-base2 .eduf-layer-wrap .eco-5111,
.eduf-layer-base2 .eduf-layer-wrap .eco-5096 {
    overflow-x: auto;
  }
}
.eduf-layer-base2 .eduf-layer-wrap .eco-5111 table,
.eduf-layer-base2 .eduf-layer-wrap .eco-5096 table {
  min-width: 1000px;
}
@media screen and (min-width: 1100px) {
  .eduf-layer-base2 .eduf-layer-wrap .eco-5111 table,
.eduf-layer-base2 .eduf-layer-wrap .eco-5096 table {
    min-width: auto;
  }
}
.eduf-layer-base2 .eduf-layer-wrap table {
  width: 100%;
  table-layout: fixed;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.eduf-layer-base2 .eduf-layer-wrap table th {
  background-color: #f4f4f4;
}
.eduf-layer-base2 .eduf-layer-wrap table th,
.eduf-layer-base2 .eduf-layer-wrap table td {
  padding: 1.3888888889vw 0;
  text-align: center;
  font-size: 1.9444444444vw;
  color: #000;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
}
@media screen and (min-width: 720px) {
  .eduf-layer-base2 .eduf-layer-wrap table th,
.eduf-layer-base2 .eduf-layer-wrap table td {
    padding: 10px 0;
  }
}
@media screen and (min-width: 720px) {
  .eduf-layer-base2 .eduf-layer-wrap table th,
.eduf-layer-base2 .eduf-layer-wrap table td {
    font-size: 14px;
  }
}
.eduf-layer-base2 .eduf-layer-wrap table th p,
.eduf-layer-base2 .eduf-layer-wrap table td p {
  margin-top: 1.3888888889vw;
  text-align: center;
  font-size: 1.9444444444vw;
  opacity: 1;
}
@media screen and (min-width: 720px) {
  .eduf-layer-base2 .eduf-layer-wrap table th p,
.eduf-layer-base2 .eduf-layer-wrap table td p {
    margin-top: 10px;
  }
}
@media screen and (min-width: 720px) {
  .eduf-layer-base2 .eduf-layer-wrap table th p,
.eduf-layer-base2 .eduf-layer-wrap table td p {
    font-size: 14px;
  }
}
.eduf-layer-base2 .eduf-layer-wrap table .cell-subject {
  text-align: left;
  padding-left: 1.3888888889vw;
  word-break: keep-all;
}
@media screen and (min-width: 720px) {
  .eduf-layer-base2 .eduf-layer-wrap table .cell-subject {
    padding-left: 10px;
  }
}
.eduf-layer-base2 .eduf-layer-wrap table .cell-teacher img,
.eduf-layer-base2 .eduf-layer-wrap table .cell-book img {
  width: 13.8888888889vw;
}
@media screen and (min-width: 720px) {
  .eduf-layer-base2 .eduf-layer-wrap table .cell-teacher img,
.eduf-layer-base2 .eduf-layer-wrap table .cell-book img {
    width: 100px;
  }
}

* a {
  color: 0;
}

#fixApply.fix-apply {
  display: none !important;
}

.bottom_fix_btn {
  display: none !important;
}

.icon-pointer {
  position: relative;
  display: inline-block;
}
.icon-pointer:after {
  content: "";
  position: absolute;
  top: 54%;
  right: 173px;
  z-index: 1;
  display: block;
  width: 15.2777777778vw;
  height: 14.8611111111vw;
  background: url("//img.eduwill.net/Img2/Common/icon/pointer/icon_pointer_20.png") no-repeat 0 0;
  background-size: 100% auto;
  -webkit-animation-name: pointerBounceDiagonal;
          animation-name: pointerBounceDiagonal;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
@media screen and (min-width: 720px) {
  .icon-pointer:after {
    width: 110px;
  }
}
@media screen and (min-width: 720px) {
  .icon-pointer:after {
    height: 107px;
  }
}
@-webkit-keyframes pointerBounceDiagonal {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10px, -10px);
  }
}
@keyframes pointerBounceDiagonal {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10px, -10px);
  }
}

.product-eco {
  overflow: hidden;
}
.product-eco * {
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  letter-spacing: -1px;
}
.product-eco .only-mobile {
  display: none;
}
.product-eco .only-pc {
  display: inline-block;
}
.product-eco .only-pcbr {
  display: block;
}
.product-eco .wrap {
  width: 1200px;
}
.product-eco .slick-dots {
  width: 100%;
  margin-top: 30px;
  text-align: center;
}
.product-eco .slick-dots li {
  display: inline-block;
  margin: 0 6px;
}
.product-eco .slick-dots li button {
  width: 15px;
  height: 15px;
  text-indent: -9999em;
  border: none;
  border-radius: 50%;
  background-color: #b2b2b2;
  outline: none;
  cursor: pointer;
}
.product-eco .slick-dots li.slick-active button {
  border-radius: 15px;
  background-color: #e91190;
}
.product-eco .slick-arrow {
  border-radius: 50%;
}
.product-eco .slick-arrow.slick-prev {
  position: absolute;
  top: 50%;
  z-index: 10;
  display: block;
  width: 5.5555555556vw;
  height: 5.5555555556vw;
  margin: 0;
  padding: 0;
  font-size: 0;
  color: transparent;
  text-indent: -9999px;
  border: none;
  outline: none;
  cursor: pointer;
  transform: translateY(-50%);
  left: 50%;
  margin-left: -;
  background: rgba(0, 0, 0, 0.4);
  left: 30px;
}
@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-prev {
    width: 40px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-prev {
    height: 40px;
  }
}
.product-eco .slick-arrow.slick-prev:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 1.3888888889vw;
  height: 1.3888888889vw;
  border-width: 0;
  border-style: solid;
  border-color: #fff;
  border-bottom-width: 2px;
  border-left-width: 2px;
  transform: translate(-25%, -50%) rotate(45deg);
}
@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-prev:before {
    width: 10px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-prev:before {
    height: 10px;
  }
}
.product-eco .slick-arrow.slick-next {
  position: absolute;
  top: 50%;
  z-index: 10;
  display: block;
  width: 5.5555555556vw;
  height: 5.5555555556vw;
  margin: 0;
  padding: 0;
  font-size: 0;
  color: transparent;
  text-indent: -9999px;
  border: none;
  outline: none;
  cursor: pointer;
  transform: translateY(-50%);
  right: 50%;
  margin-right: -;
  background: rgba(0, 0, 0, 0.4);
  right: 30px;
}
@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-next {
    width: 40px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-next {
    height: 40px;
  }
}
.product-eco .slick-arrow.slick-next:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 1.3888888889vw;
  height: 1.3888888889vw;
  border-width: 0;
  border-style: solid;
  border-color: #fff;
  border-top-width: 2px;
  border-right-width: 2px;
  transform: translate(-75%, -50%) rotate(45deg);
}
@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-next:before {
    width: 10px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-next:before {
    height: 10px;
  }
}
.product-eco .fix-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  z-index: 100;
  text-align: center;
}
.product-eco .fix-bottom a:after {
  width: 60px;
  height: 60px;
  right: 38px;
}
.product-eco .fix-bottom.text-btn a {
  width: 1200px;
}
.product-eco .fix-bottom.text-btn a span {
  color: #ffffff;
  font-size: 42px;
  font-weight: 800;
  display: inline-block;
  line-height: 100px;
  letter-spacing: -0.05em;
}
.product-eco .fix-bottom.text-btn a span span {
  font-weight: 400;
}
.product-eco .sector-visual-hyeri {
  background: url("//img.eduwill.net/eduwill/img/2023/_116/product/230214/pc/bg_visual.jpg") 50% 0 no-repeat;
}
.product-eco .sector-title {
  position: relative;
  background-image: url("//img.eduwill.net/eduwill/img/2023/_116/product/230214/pc/bg_title.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.product-eco .sector-title .btn-base {
  position: absolute;
  left: 76%;
  top: 109px;
}
.product-eco .sector-benefit {
  background: linear-gradient(180deg, #ffffff 32%, #FFCB50 32%);
  position: relative;
}
.product-eco .sector-benefit .btn-wrap {
  position: absolute;
  bottom: 120px;
  left: 270px;
}
.product-eco .sector-benefit .btn-wrap ul li a {
  display: inline-block;
}
.product-eco .sector-benefit .btn-wrap ul li a + a {
  margin-left: 8px;
}
.product-eco .sector-benefit .btn-wrap ul li + li {
  margin-top: 11px;
}
.product-eco .sector-benefit.has-hyeri .hyeri-obj-1 {
  position: absolute;
  left: 50%;
  margin-left: -810px;
  bottom: 60px;
}
.product-eco .sector-plus {
  background-image: url("//img.eduwill.net/eduwill/img/2023/_116/product/230214/pc/bg_plus.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.product-eco .sector-plus .info01 {
  display: inline-block;
  position: absolute;
  bottom: 165px;
  left: 180px;
  font-size: 24px;
  line-height: 35px;
  letter-spacing: -0.02em;
  font-weight: 700;
  color: #ffffff;
}
.product-eco .sector-plus .info02 {
  display: inline-block;
  position: absolute;
  bottom: 155px;
  left: 486px;
  font-size: 24px;
  line-height: 35px;
  letter-spacing: -0.02em;
  font-weight: 700;
  color: #ffffff;
}
.product-eco .sector-plus .info02 span {
  font-size: 14px;
  display: block;
  line-height: 1.2;
  font-weight: normal;
}
.product-eco .sector-plus .info03 {
  display: inline-block;
  position: absolute;
  bottom: 232px;
  right: 203px;
}
.product-eco .sector-plus .info03 span {
  font-size: 24px;
  line-height: 35px;
  letter-spacing: -0.02em;
  font-weight: 700;
  color: #ffffff;
  position: relative;
}
.product-eco .sector-plus .info03 span::after {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  content: "";
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
}
.product-eco .sector-info-01 {
  background-color: #ffffff;
}
.product-eco .sector-info-02 {
  background-color: #FAFAFA;
}
.product-eco .sector-info-03 {
  background-color: #ffffff;
}
.product-eco .sector-teacher {
  background-image: url("//img.eduwill.net/eduwill/img/2023/_116/product/230214/pc/bg_plus.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.product-eco .sector-new-teacher {
  background-image: url("//img.eduwill.net/eduwill/img/2023/_116/product/230214/pc/bg_new_teacher.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.product-eco .sector-question {
  background-color: #F8F8FA;
}
.product-eco .sector-apply {
  background-color: #ffffff;
  overflow: hidden;
  border-bottom: 12px solid #ebebeb;
}
.product-eco .sector-apply .deco-hyeri {
  position: absolute;
  bottom: -520px;
  right: -170px;
}
.product-eco .sector-apply .table-wrap {
  color: #000000;
  line-height: 1.5;
  min-width: 1200px;
}
.product-eco .sector-apply .table-wrap .division {
  position: relative;
}
.product-eco .sector-apply .table-wrap .division span {
  position: absolute;
  top: 20px;
  left: 420px;
  font-weight: 700;
  font-size: 20px;
}
.product-eco .sector-apply .table-wrap .division span + span {
  left: auto;
  right: 170px;
}
.product-eco .sector-apply .table-wrap .table {
  width: 1100px;
  margin: auto;
  border: 1.5px solid #000000;
  border-radius: 20px;
  font-weight: 500;
  overflow: hidden;
}
.product-eco .sector-apply .table-wrap .table .gray {
  background-color: #F5F5F5;
}
.product-eco .sector-apply .table-wrap .table .red {
  color: #CB3805;
}
.product-eco .sector-apply .table-wrap .table .bold {
  font-weight: 700;
}
.product-eco .sector-apply .table-wrap .table table {
  width: 100%;
}
.product-eco .sector-apply .table-wrap .table table tr td {
  width: 39.2%;
  color: #000000;
  position: relative;
  font-size: 18px;
  height: 60px;
}
.product-eco .sector-apply .table-wrap .table table tr td:first-child {
  width: 235px;
}
.product-eco .sector-apply .table-wrap .table table tr td + td {
  border-left: 1px solid #D9D9D9;
}
.product-eco .sector-apply .table-wrap .table table tr td .certification-btn {
  position: absolute;
  top: 15px;
  right: 24.5px;
}
.product-eco .sector-apply .table-wrap .table table tr.price-info td {
  height: 93px;
}
.product-eco .sector-apply .table-wrap .table table tr.price-info td .before {
  font-size: 16px;
  color: #696969;
  position: relative;
}
.product-eco .sector-apply .table-wrap .table table tr.price-info td .before::after {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  content: "";
  background-color: #696969;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
}
.product-eco .sector-apply .table-wrap .table table tr.price-info td .after {
  font-size: 26px;
  font-weight: 700;
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  padding-left: 20px;
}
.product-eco .sector-apply .table-wrap .table table tr.price-info td.num {
  padding-left: 45px;
  text-align: left;
}
.product-eco .sector-apply .table-wrap .table table tr.price-info td.num .price-btn {
  position: absolute;
  top: 33px;
  right: 24.5px;
}
.product-eco .sector-apply .table-wrap .table table tr + tr {
  border-top: 1px solid #D9D9D9;
}
.product-eco .sector-apply .info01 {
  display: inline-block;
  position: absolute;
  bottom: 266px;
  left: 180px;
  font-size: 24px;
  line-height: 35px;
  letter-spacing: -0.02em;
  font-weight: 700;
  color: #ffffff;
}
.product-eco .sector-apply .info02 {
  display: inline-block;
  position: absolute;
  bottom: 256px;
  left: 486px;
  font-size: 24px;
  line-height: 35px;
  letter-spacing: -0.02em;
  font-weight: 700;
  color: #ffffff;
}
.product-eco .sector-apply .info02 span {
  font-size: 14px;
  display: block;
  line-height: 1.2;
  font-weight: normal;
}
.product-eco .sector-apply .info03 {
  display: inline-block;
  position: absolute;
  bottom: 335px;
  right: 203px;
}
.product-eco .sector-apply .info03 span {
  font-size: 24px;
  line-height: 35px;
  letter-spacing: -0.02em;
  font-weight: 700;
  color: #ffffff;
  position: relative;
}
.product-eco .sector-apply .info03 span::after {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  content: "";
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
}
.product-eco .sector-apply .price .num-wrap {
  position: absolute;
  bottom: 140px;
  right: 500px;
  font-size: 65px;
  font-weight: 700;
}
.product-eco .sector-apply .price .num-wrap .num {
  font-weight: 900;
  font-size: 80px;
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  vertical-align: bottom;
}
.product-eco .sector-apply .price a {
  position: absolute;
  bottom: 155px;
  right: 120px;
}
.product-eco .sector-notice {
  background-color: #ebebeb;
  text-align: left;
  padding-top: 85px;
  padding-bottom: 150px;
}
.product-eco .sector-notice .wrap {
  text-align: left;
}
.product-eco .sector-notice .wrap .notice-title {
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  color: #717171;
  position: relative;
  padding-bottom: 6px;
  display: inline-block;
  margin-bottom: 40px;
}
.product-eco .sector-notice .wrap .notice-title::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #d9d9d9;
  content: "";
}
.product-eco .sector-notice .wrap .notice-list {
  text-align: left;
  overflow: hidden;
}
.product-eco .sector-notice .wrap .notice-list p {
  color: #717171;
  font-weight: 700;
  width: 10%;
  float: left;
}
.product-eco .sector-notice .wrap .notice-list ul {
  width: 90%;
  float: left;
  color: #717171;
}
.product-eco .sector-notice .wrap .notice-list ul li.bold {
  font-weight: 600;
}
.product-eco .sector-notice .wrap .notice-list ul li table {
  margin-top: 18px;
  border: 2px solid #d9d9d9;
  background-color: #ffffff;
}
.product-eco .sector-notice .wrap .notice-list ul li table tr {
  border-bottom: 1px solid #d9d9d9;
}
.product-eco .sector-notice .wrap .notice-list ul li table tr th {
  padding: 8px;
}
.product-eco .sector-notice .wrap .notice-list ul li table tr th.first {
  border-right: 1px solid #d9d9d9;
  text-align: center;
  width: 10%;
}
.product-eco .sector-notice .wrap .notice-list ul li table tr td {
  padding: 8px;
  border-right: 1px solid #d9d9d9;
}
.product-eco .sector-notice .wrap .notice-list ul li table tr td.first {
  text-align: center;
  width: 10%;
}
.product-eco .sector-notice .wrap .notice-list ul li table .gray {
  background-color: #efefef;
}
.product-eco .sector-notice .wrap .notice-list + .notice-list {
  margin-top: 30px;
}/*# sourceMappingURL=web.css.map */