@import "abstracts/mixins";  
@import "abstracts/extend";  
@import "abstracts/variables";  

@import "module/popup";  

#fixApply{ opacity:0; z-index: 1; display: none !important;}

.product-eco{
	min-width:1200px;
	overflow:hidden;
	*, *:before, *:after{font-family:$font-roboto;letter-spacing:-1px;}
	[class^="sector-"] {
		position: relative;
		text-align: center;
	}
	.wrap{
		position:relative;
		width:1200px;
		margin:0 auto;
		text-align:center;
		&.wrap-1300 {
			width: 1300px;
		}
	}

	.btn-text, .btn-grounds{
		display:inline-block;
		color:#8a8a8a;font-size:15px;letter-spacing:-1px;line-height:1;
		font-weight:400;
		span{
			padding-right:10px;
			@include arrow(right, 4px, 4px, 1px, #8a8a8a);
			&:before{right:0;}
		}
	}
	.btn-text{position:absolute;right:210px;top:30px;}
	.btn-grounds{
		position:relative;margin-top:10px;font-size:14px;
		span{
			padding-right:10px;
		}
	}

	.slide-group{
		position:relative;margin-top:20px;
		.video-container{
			.slick-slide{opacity:0.4;}
			.slick-active{opacity:1;}
			.slide-list{
				padding-top:30px;
				img{
					border-top-right-radius: 20px;
				}
			}
		}

		.slick-dots {
			text-align: center;
			li {
				display: inline-block;
				margin-left:6px;
				button {
					cursor: pointer;
					text-indent: -10000em;
					border: 0;padding:0;
					border-radius: 50%;
					width:10px;height:10px;
					background:#bbbbbb;
				}
				&.slick-active {
					button {
						background:#f4582e;
					}
				}
			}
		}
	
		.slide-list{
			margin:0 10px;
			padding-bottom:30px;
			img{
				@include boxShadow(	7px 7px 27px 0px rgba(0, 0, 0, 0.23));
			}
		}
		
	}

	.holder{position:relative;}

	.fix-right{
		position:fixed;right:0;top:30%;z-index:10;
		@include boxShadow(1px 1px 10px 0px rgba(0, 0, 0, 0.17)); 
		width:170px;border:1px solid #e5e5e5;
		a{
			display:block;
			border-bottom:1px dotted #e4e4e4;
			text-align:left;
			padding:20px;
			background-color:#fff;
			p{
				line-height:1.3;margin:0;color:#222;font-size:16px;
				strong{color:#f4582e;font-size:16px;font-weight:700;display:block;margin-bottom:5px;}
			}
			span{
				margin-top:19px;
				padding-right:20px;font-size:14px;color:#8a8a8a;
				@include arrow(right, 4px, 4px, 1px, #8a8a8a);
			}
		}
	}


	.fix-bottom {
		position: fixed;
		bottom: 0;
		right: 0;
		left: 0;
		height: 80px;
		background: rgba(33,32,66, .9);
		z-index: 11;
		.wrap {
			position: relative;
			a {
				@include pointer(60%, 10%, 57px, 65px, 12, bounce);
			}
		}
	}

	.icon-pointer {
		@include pointer(60%, 0, 57px, 65px, 12, bounce);
	}


	.sector-title{
		position:relative;
		background:#fff url('#{$img-path}/pc/bg_title.jpg') repeat-x 50% 0;
		.effect-blink{margin:0;position:absolute;left:170px;top:432px;color:#ffb379;font-size:24px;line-height:1.4;letter-spacing: -1px;font-family:$font-noto;font-weight:700;}
		.effect-title {
			position: absolute;
			top: 472px;
			left: 330px;
			margin: 0;
			text-align: left;
			font-size: 34px;
			color: #fff;
			font-weight: 700;
			line-height: 1;
			letter-spacing: -1.5px;
			strong {
				line-height: 1;
				letter-spacing: -1.5px;
				color: #ffb379;
			}
		}
	}

	.sector-intro {
		.btn-text {
			position: absolute;
			top: 573px;
			right: 0;
			z-index: 1;
		}
	}

	.sector-stage {
		background: url('#{$img-path}/pc/bg_stage.jpg') repeat-x 50% 0;
	}

	.sector-price{
		.price-box {
			position: relative;
			.btn-apply {
				position: absolute;
				display: block;
				top: 140px;
				right: 20px;
				width: 240px;
				height: 140px;
				z-index: 1;
			}
			&.price-1 {
				border-bottom: 9px solid #f0f0f3;
			}
		}
		&.bg-pink {
			background: #ffd1e8;
			.price-box {
				&.price-1 {
					border-color: rgba(255,255,255, .3);
				}
			}
		}
	}

	.sector-curriculum,
	.sector-package {
		background: #f3f3f3;
	}


	.sector-network {
		padding-bottom:120px;
		.wrap { width: 1232px;}
		.btn-text {
			position: absolute;
			top: 832px;
			right: 210px;
			z-index: 1;
		}
	}

}





