@charset "utf-8";
@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/extend";


#header .gnb a {
    color: #888;
	font-weight: 400;
	&:hover{
		color: #000;
	}
}
#header .gnb .active a {
    font-weight: 600;
     color: #000;
}
#header .gnb a:before, #header .gnb a:after {
    background-color: #fdc300
}
#header.new-page{
	&::before{display: none;}
}
#header.new-page .logo {
	position: relative;
	padding:10px;
	margin-left:0;
	margin-top:0;
	width: 100%;
    box-sizing: border-box;
	.close{
		position: absolute;
		top:0;right:10px;
		font-size: 10px;
		display: inline-block;
		width:15px;
		height: 15px;
		background: url(https://img.eduwill.net/resources/qs/live/images/common/ic_close.svg) no-repeat center;
		background-size: 100%;
		font-size: 0;
	}
}
#contents,
.container {
	// background: none !important;
}
.no_data {
	margin-top: 16px;
	p {
    padding: 50px 0 !important;
	}
}
.button.primary{
	background-color: #fdc300 !important;
	border-color:#fdc300 !important;
	color: #000;
	&:hover{
		background-color: #e9bd28 !important;
		border-color:#e9bd28 !important;
	}
}
.center{
	text-align: center;
}
.bbs_pagination{margin-top:20px}
.pagination{
	a{
		font-family: verdana;
		display: inline-block;
		padding:2px 7px 2px;
		border-radius: 50%;
		&.on{
			background: #4063bf;
			font-weight: 600;
			color:#fff
		}
	}
}
.pagination a.control {
    position: relative;
    width: 20px;
    height: 12px;
    padding: 0;
    color: transparent;
    border: 1px solid none;
    background: none;
	&:before{
		content: "";
		position: absolute;
		top: 50%;
		display: block;
		width:7px;
		height: 7px;
		border-width: 0;
		border-style: solid;
		border-color: #949494;
		transform: rotate(45deg);
		left:0;right:0;margin:0 auto;
	}
	&.control-prev:before {
		border-bottom-width: 1px;
		border-left-width: 1px;
		left: 8px;
	}
	&.control-next:before {
		border-top-width: 1px;
		border-right-width: 1px;
		left: 5px;
	}
}
.bg-w{background-color: #fff;    display: inline-block;}
.right{text-align: right;}
.grid .col {
    border-color: #ddd;
}
.form-control .datepicker-wrap{
	.inp{display: inline-block;}
	input[name="datepicker"] {
		background: url(https://img.eduwill.net/resources/qs/live/images/common/date_range.svg) no-repeat 14px center;
		background-size: 16px 20px;
		min-width: 146px;
		width: 146px;
		padding: 12px 14px 12px 44px;
		border: 1px solid #ddd;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		font-size: 18px;
		color: #333;
		font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
		font-size: 14px;
	}
	.btn{
		display: inline-block;
		.button{
			margin-left:10px;
			padding:10px 30px
		}
	}

} 
.fake_check{
	input[type="checkbox"]{
		display: inline-block; position: absolute; z-index: -1; clip: rect(0 0 0 0); width: 1px; height: 1px; *height: 0; margin: -1px; padding: 0; overflow: hidden; word-break: keep-all; white-space: nowrap; color: transparent; border: 0; text-indent: -9999px; 
	}
	label{
		display: block; 
		padding-left: 18px;
		line-height: 20px; 
		color: #000; background-image: url('//img.eduwill.net/resources/qs/live/images/common/check_box_outline_blank.png'); 
		background-repeat: no-repeat; 
		background-position: left center; 
		background-size: 18px; 
		display: inline;
	}
	input:checked + label { 
		background-image: url('//img.eduwill.net/resources/qs/live/images/common/check_box.png');
	}

}
.bbs_head{
	.fake_check{
		label{
		 background-image: url('//img.eduwill.net/resources/qs/live/images/common/check_box_outline_blank_w.png'); 
		}
		input:checked + label { 
			background-image: url('//img.eduwill.net/resources/qs/live/images/common/check_box_w.png');
		}
	}
}

.section_exam_search{
	padding:20px 0 10px;
	input{
		height: 34px;
		outline: none;
		border:1px solid #ddd;
		padding:10px;
		background-color: #fff;
		width:100%;
		
	}
	.search_area{
		position: relative;
		.inp{
			padding-right:86px
		}
		.button{
			position: absolute;
			right:0;
			top:0;
			width:80px;
			font-size:13px;
			font-weight: 200;
			box-sizing: border-box;
			height: 34px;
			line-height: 1.3;
			border-radius: 3px;
		}
	}
}
.mobile_list{
	.bbs_list .bbs_body .item .module{
		.subject{font-size:14px}
		.action{
			margin-top:10px;
			a{
				font-weight: 400;
			}
		}
	}
}






/*메인*/
.renewal_qs{
	.only_mobile{display: none !important;}
	.only_pc{display: inline-block !important;}
	h2.title {
		margin-top: 0;
	}
	h3.title {
		@include vw(font-size,37px);
		@media (min-width:320px){
			font-size: 20px;
		}
	}
	.inner{
		box-sizing: border-box;
		.wrap{
			max-width:1200px;
			padding:0 50px;
			width:100%;
			margin:0 auto;
			box-sizing: border-box;
			overflow: hidden;
		}
		.fr1{
			width:66%;
			float: left;

		}
		.fr2{
			width:30%;
			float: right;
		}
		&.top{
			background: #f2f3f7 !important;
			@include vw(padding,60px 0);
			 
		}
		&.bottom{
			background: #fff !important;
			@include vw(padding,60px 0);
		}

		.section{
			&_card_list{
				padding-bottom: 0;
				position: relative;
				.title{
					font-weight: 600;
					@include vw(font-size,44px);
					@media (min-width:415px){
						font-size: 32px;
					}
					display: inline-block;
				}
				.desc{
					@include vw(font-size,23px);
					@media (min-width:415px){
						font-size: 13px;
					}
					display: inline-block;
					padding-left: 12px;
					position: relative;
					top: 7px;
					margin-top: 0;
					min-height: auto;
					height: auto;
					padding-top: 0;
				}
				.grid{
					.more{
						text-align: right;
						position: absolute;
						right: 0;
						top: -22px;
					}
					.total_btn{
						padding-right:15px;
						&:after{
							@include arrow(right, 5px, 5px, 1px, #444);
							right: 5px;
							margin-top: -2.6px;
						}
					}
					.item{
						margin:16px 0;
						width:48.5%;
						&:nth-child(even){
							float: right
						}
						.module{border-radius: 8px;}
						.action {
							.button{
								background-color: #fdc300;
								border-color:#fdc300;
								color: #000;
								@include vw(font-size,30px);
								@media (min-width:415px){
									font-size: 15px;
								}
								&:hover{
									background-color: #e9bd28;
									border-color:#e9bd28;
								}
							}
						}
						&.is_apply{
							.action{
								.button{
									background-color: #7d8dbb !important;
									border-color: #7d8dbb !important;
									color:#fff;
									@include vw(font-size,30px);
									@media (min-width:415px){
										font-size: 15px;
									}
									&:hover{
										background-color: #6475a5;
										border-color: #6475a5;
										
									}
								}
							}
						}
					}
				}
			
				.subject {
					padding-right: 0;
					width: 100%;
					overflow: hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					-webkit-line-clamp: 2;
					-webkit-box-orient: vertical;
					@include vw(font-size,33px);
					@media (min-width:415px){
						font-size: 18px;
					}

				}
				.info_list{
					bottom:auto;margin-top: 5px;
					li{
						text-indent: -22px;
						padding-left: 52px;
						color:#333;
						@include vw(font-size,26px);
						@media (min-width:415px){
							font-size: 14px;
						}
					}
					
				}
				.no_exam .core {
					background-image: url(//img.eduwill.net/resources/qs/dev/images/loading2.gif);
				}
			}
			&_stats{
				background: none;
				padding-bottom:0;
				// border:1px solid blue;
				.btn_setting {
					position: relative;
					top: 0;
				}
				.label {
					background-color: #fff;
				}
				.notice{
					.title{
						margin:17px 0 19px
					}
				}
				.notice-box{
					padding:16px;
					background-color: #fff;
					border:1px solid #cacdd6;
					border-radius: 7px;
					box-shadow: 0 3px 0 #dee0e6;
					.notice-slide{
						color: #666;
						font-size: 14px;
					}
					.slick-arrow {
						position: absolute;
						top: -30px;
						z-index: 1;
						display: block;
						width: 20px;
						height: 20px;
						margin: 0;
						padding: 0;
						text-indent: -9999px;
						border: none;
						background: none;
						outline: none;
						cursor: pointer;
						border:1px solid #cacdd6;
						background-color: #fff;
						box-sizing: border-box;
						padding: 3px 5px;
						&.slick-prev {
							border-radius: 5px 0 0 5px;
							right:19px;
							&:after { 
								@include arrow(left, 5px, 5px, 2px, #666);
								@include vw(left,8px);
								margin-top: -3px !important;
							 }
						}
						&.slick-next {
							border-radius:0 5px 5px 0;
							right: 0px;
							&:after { 
								@include arrow(right, 5px, 5px, 2px, #666);
								@include vw(right,8px);
								margin-top: -3px !important;
							 }
						}
					}
				}
				.present{
					position: relative;
					.title {
						margin-top: 22px;
					}
					.btn_setting {
						position: absolute;
						top: 0px;
						right:0;
						width: auto;
						height: auto;
						padding: 3px 8px 4px 26px;
						border: 1px solid #cacdd6;
						border-radius: 4px;
						background:#fff url('#{$img-path}/common/icon_setting.png')no-repeat 5px center;
						background-size: 20px;
					}
					.present_box{
						margin-top:20px;
						background: #e6e8ef;
						overflow: hidden;
						padding:16px;
						border-radius: 7px;
						.col{
							float:left;
							width:37.3%;
							text-align:left;
							span{font-size:14px;color: #666;display: block;}
							strong{font-size:18px;color:#333;display: block;}
							border-left:1px solid #cacdd6;
							box-sizing: border-box;
							padding:0 10px;
							
							&:first-child{border-left:none;width:25%}
						}

					}
				}
				.another{
					position: relative;
					padding-right:0;
					.title {
						margin-top: 13px;
					}
					.q-mark {
						margin-top: 16px;
						display: inline-block;
						font-size: 12px;
						background: #fff;
						border-radius: 50%;
						padding: 0px 5px;
						font-weight: 300;
						position: relative;
						top: 0;
					}
					.chart_rank{
						position: absolute;
						top:0;
						right:0;
						overflow: inherit;
						a{
							position: relative;
							display:inline-block;
							right: 0px;
							top: 3px;
							color:#666;
							padding:0 5px;
							font-size: 14px;
							&.on{
								color:#4063bf;
								font-weight: 500;
							}
							&:before{
								content: '';
								width:1px;
								height: 10px;
								background-color: #ddd;
								position: absolute;
								left:0;
								top:50%;
								transform: translateY(-50%);
							}
							&:first-child:before{display: none;}
						}

					}
				}
				.myself{
					padding-left: 0;
					.title {
						margin-top: 0;
					}
				}
				.banner{
					.swiper-slide img {
						margin-top: 36px;
						position: relative;
						height: 423px;
						display: block;
					}
					.banner-paging{
						position: absolute;
						top:36px;
						right:0;
						line-height: 0.7;
						color:#f2f3f7;
						width:40px;
						height: 30px;
						z-index: 99;
						.swiper-pagination{
							background: rgba(0, 0, 0, 0.4);
							display: inline-block;
							height: 100%;
							width:100% ;
							line-height: 2.1;
							top: 0;
						}
					}
				}
			
			
			}
			&_exam_list{
				padding-bottom: 30px;
				background: #fff;
				.no_data {
					margin-top: 0px;
					padding: 28px 0;
				}
				.button.primary {
					background-color: #fdc300;
					border-color:#fdc300;
					color: #000;
					&:hover{
						background-color: #e9bd28;
					}
				}
				.inp{
					position: relative;
					.inp_input{
						padding-right:108px
					}
					.inp_button{
						a{
							&.sercher{
								background: #7d8dbb;
								border-color: #7d8dbb;
								color:#fff;
								border-radius: 5px;
								display: inline-block;
								width:100px;
								position: absolute;
								top:0;
								right:0;
								&:hover{
									background-color: #6475a5;
								}
							}
						}
					}
					.txt{
						width:100%;
						outline: none;
						height: 44px;
						box-sizing: border-box;
						padding:0 10px;
						border:1px solid #ddd
					}
				}
				.bbs_body{
					.col:nth-child(1):nth-last-child(2) {
						width: 75%;
					}
					.col:nth-child(2):nth-last-child(1) {
						padding-right: 0px;
					}
					.col:nth-child(2):nth-last-child(1) {
						width: 25%;
					}
				}
				.sel{
					position: relative;
					padding-top:50px;
					.select{
						min-width: 155px;
						height: 40px;
						position: absolute;
						right:0;
						bottom:0;
					}
				}
			}
			
	
		}
	}
	.bbs_list .bbs_body {
		border-radius: 0 0 5px 5px;
		border: 1px solid #ddd;
	}
}
/*나의훈련*/
.section_exam_select .grid:only-child {
    width: 100%;
}
.page_training{
	.bbs_list .state{
		text-align: center !important;
	}
}
/*오답노트*/
.page_note{
	// .pagination{
	// 	a{
	// 		padding: 4px 9px 4px;
	// 		border-radius: 50%;
	// 		background: #fff;
	// 		margin: 0 2px;
	// 		&.on{
	// 			background: #4063bf;
	// 			font-weight: 600;
	// 			color:#fff
	// 		}
	// 		&.control{
	// 			background: none;
	// 		}
	// 	}
	// }
	.holder{
		.grid.date{
			width:100%;
			margin-top:15px;
		}
	}
	.bbs_info {
		.btn{
			a{
				width: 100px;
				height: 34px;
				box-sizing: border-box;
				line-height: 0.7;
				font-weight: 400;
			}
		}
		.sort {
			float: right;
		}
		.right {
			float: right;
			text-align: right;
			background-color: #fff;
			width: auto;
			select{outline: none;height: 34px;    line-height: 1.5;}
		}
	}
	.bbs_list{
		.check {
			width: 5%;
			text-align: left !important;
		}
		.subject {
			width: 12%;
			text-align: left !important;
			p{font-size: 15px;}
		}
		.state {
			width: 8%;
			text-align: left !important;
			.label {
				position: relative;
				display: inline-block;
				min-width: 18px;
				min-height: 18px;
				padding: 1px 8px;
				vertical-align: middle;
				font-size: 12px;
				border-radius: 5px;
				-webkit-box-sizing: border-box;
				box-sizing: border-box;
				&.label_wrong {
					color: #ff7979;
					border:1px solid #ff7979;
				}
				&.label_ambiguous {
					color: #ffa81f;
					border:1px solid #ffa81f;
				}
				&.label_mistake {
					color: #868686;
					border:1px solid #868686;
				}
				&.label_add {
					color: #31b0e6;
					border:1px solid #31b0e6;
				}
			}
		}
		.desc {
			width: 61%;
			a{font-weight: 400;	font-size: 15px;}
			a:hover{border-bottom:1px solid #666
				
			}
		}
		.date{
			width: 12%;
			text-align: right !important;
		}
	}
	.bbs_head{
		padding: 0  25px 0 30px !important;
		.item{margin-left:10px}
		
	}
	.bbs_body{
		.check{text-align: left;}
	}

	.section_exam_select .sticker_box .title a {padding:0;&:after{display: none;}}
	.section_exam_select .sticker_list {width:auto;margin-top: 0}
	.section_exam_select .grid {width: 100%;}
	.section_exam_select .grid +.grid .col {text-align: left;}
	


}
/*교재풀이*/
.page_textbook{
	.section_exam_list .bbs_list .bbs_head .col:nth-child(1):nth-last-child(2) {
		width: 84% !important;
	}
	.section_exam_list .bbs_list .bbs_head .col:nth-child(2):nth-last-child(1) {
		width: 10% !important;
	}

	.section_exam_list .bbs_list .col:nth-child(1):nth-last-child(2) {
		width: 70%;
	}
	.section_exam_list .bbs_list .col:nth-child(2):nth-last-child(1) {
		width: 30%;
		padding-right: 0;
	}
	.bbs_list .col .button:only-child {
		width:100px;
	}
	.bbs_info.grid{
		.col.sort{
			float: right;
		}
	}
	.bbs_list .bbs_body .col {
		float: left;
	}
	.bbs_list .bbs_head .state {
		text-align: center !important;
	}
	.bbs_list .bbs_body .state{
		text-align: right !important;
	}
	
}


.only_mobile{display: none !important;}
.only_pc{display: block !important;}
@media only screen and (max-width: 1200px) {
	.renewal_qs .inner .wrap{
		max-width: 1100px;
		padding:0 20px;
	}

}
@media only screen and (max-width: 1099px) {
	#header .logo .course {
		display: inline-block;
		margin-left: 8px;
		font-size: 17px;
		font-weight: 400;
		color: #888;
	}
	.bbs_list .bbs_body {
		border-radius: 5px;
	}
	.section_exam_select .holder {
		margin-bottom: 10px;
	}
	/*오답노트*/
	.page_note{
		.bbs_list .bbs_head {
			display: block;
			padding: 0px 10px 0 16px !important;
		}
		.bbs_list .bbs_body{
			border-radius: 0 0 5px 5px !important;
		}
		.section_exam_select .sticker_box .title span {
			font-size: 13px;
		}
		
		.form-control .datepicker-wrap{
			input[name="datepicker"] {
				height: 34px;
			}
			.button {
			    padding: 4px 30px;
				height: 34px;
				box-sizing: border-box;
				font-weight: 400;
			}
		}
	
	}
}
@media only screen and (max-width: 940px) {
	.renewal_qs .inner .section_stats .another .chart_rank {
		position: relative;
		text-align: right;
	}
	.renewal_qs .inner .section_stats .another a {
		margin-top:5px
	}
}
@media only screen and (max-width: 806px){
	.page_textbook{
		.bbs_list .col .button {
			margin: 2px 3px;
		}
	}
} 
@media only screen and (max-width: 767px) {
	.only_pc{display: none !important;}
	.only_mobile{display: block !important;}
	/*메인*/
	.renewal_qs{
		.only_pc{display: none !important;}
		.only_mobile{display: block !important;}
		.inner{
			.wrap{
				padding:0 15px;
				&.type2{padding:0}
			}
			.fr1{
				width:100%
			}
			.fr2{
				width:100%;
				float: left;
				.myself{
					padding:0 15px;
				}
			}
			&.top{
				background: linear-gradient(to bottom, #f2f3f7 65%, #fff 100%) !important;
				background: -webkit-gradient(linear, left top, left bottom, color-stop(65%, #f2f3f7), to(#fff)) !important;
			
			}
			&.bottom{
				padding-top:0;
				.wrap{
					padding:0;
				}
			}
		}
		.section{
			&_card_list{
				.title{
					// @include vw(font-size,64px);
					display: block !important
				}
				.desc{
					@include vw(font-size,24px);
					padding-left: 0 !important;
					position: relative;
					@include vw(top,10px);
				}
				.grid{
					.item{
						width:100% !important;
						margin:15px 0 0 !important;
						float: none !important;
					
						&:nth-child(even){
							float: none !important
						}
					}
				}
				
			}
			&_stats{
				.notice{
					margin-top:15px
				}
				.notice{
					.title{
						margin-top:42px !important
					}
				}
				.present{
					.title{
						margin-top:42px !important
					}
				}
				.another{
					.title{
						margin-top:42px !important;
					}
					.chart_rank{
						position: absolute !important;
					}
				}
			}
		}
	}
	/*나의훈련*/
	.page_textbook{
		.bbs_list .col .button {
			&:only-child{
				width:100%
			}
		}
	}
	/*오답노트*/
	.page_note{
		.center{
			margin-top:40px
		}
	
		.bbs_list .bbs_head {
			padding: 0 20px 0 9px !important;
			
			.check{
				width:auto;
				margin-right: 5px;
			}
			.subject,
			.state {
				display: none;
			}
			.desc {
				width:auto;
				text-align: left;
				padding-left: 5px;
			}
			.date {
				width:auto;
				position: absolute;
   				right: 0;
			}
		}
		.bbs_body{
			.col {
				display: inline-block !important;
				vertical-align: top;
			}
			.check,.subject,.state {
				width: auto !important;
				height: 40px !important;
				padding-right:10px !important
			}
			.desc {
				width: 100% !important;
				display: block !important;
				padding:0 90px 14px 25px !important;
				a{font-size: 13px;}
			}
			.date{
					width: auto;
					position: absolute;
				    right: 0;
					top: 50%;
					transform: translateY(-50%);
					padding: 0;
			}

		}
	}
}
@media only screen and (max-width: 587px){
	/*오답노트*/
	.page_note{
		.form-control .datepicker-wrap{
			overflow: hidden;
			.inp{
				display: block;
				float: left;
				width:47.5%;
				margin-bottom: 10px;
				&+span{
					display: block;
					width: 5%;
					float: left;
					text-align:center;
				}
			}

			input[name="datepicker"] {
			width:100%;
			min-width: auto
			}
			.btn{
				display: block;
				text-align: right;
				margin-top:10px;
				.button{
				
				}
			}
		
		} 
	}
} 
@media only screen and (max-width: 475px){
	.form-control .datepicker-wrap{
		input[name="datepicker"] {
			background-position: 10px center;
			background-size: 13px 17px;
			padding: 12px 5px 12px 33px;
			
		}
	} 
	
}
@media only screen and (max-width: 420px){
	.form-control .datepicker-wrap{
		input[name="datepicker"] {
			background-size: 13px 17px;
			padding: 12px 14px 12px 37px;
			
		}
	} 
	.page_training .subject {font-size: 14px;}
	.page_textbook .subject {font-size: 14px;}
	
}
@media only screen and (max-width: 375px){
	.form-control .datepicker-wrap{
		input[name="datepicker"] {
			padding: 12px 5px 12px 30px;
			font-size: 13px;
			
		}
	} 
}
@media only screen and (max-width: 320px){
	.section_exam_select label.col {width: 27% !important;}
	.section_exam_select .col {width: 70% !important;}
	.page_note{
		.bbs_info {
			.btn{
				a{
					width: 80px;
					font-size: 13px;
					
				}
			}
		}
		.form-control .datepicker-wrap input[name=datepicker] {
			background: none;
			padding: 12px 5px 12px 7px !important;
		}
		.bbs_head{
			.desc{display: none;}
			.date{display: none;}
		}
		.bbs_body{
			.desc {
				padding: 0 0 14px 25px !important; 
			}
			.date{
				position: relative;
				padding-left:25px !important;
			}
		}
	}
}
@media only screen and (max-width: 298px){
	#header .logo a {
		padding: 15px 0 13px;
	}
	#header .logo .puri {
		font-size: 13px;
	
	}
	#header .logo .course {
		font-size: 13px;
		margin-left:5px
	}
}
@media only screen and (max-width: 280px){

	.page_note{
		.bbs_info {
			.btn{
				a{
					width: auto;
					
					
				}
			}
		}
	}
	
}

