@charset "UTF-8";
.grid {
  *zoom: 1;
}
.grid:before, .grid:after {
  content: "";
  display: table;
}
.grid:after {
  clear: both;
}

.sr-only {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.grid {
  box-sizing: border-box;
}
.grid .col {
  float: left;
  box-sizing: border-box;
}

.promotion,
.product-eco,
.fullservice {
  text-align: center;
}
.promotion [class^=sector-],
.product-eco [class^=sector-],
.fullservice [class^=sector-] {
  position: relative;
}
.promotion .wrap,
.product-eco .wrap,
.fullservice .wrap {
  position: relative;
  margin: 0 auto;
}
.promotion .wrap-full,
.product-eco .wrap-full,
.fullservice .wrap-full {
  position: relative;
  margin: 0 auto;
  width: 100%;
}

.product-eco * {
  line-height: normal;
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  letter-spacing: -1px;
}
.product-eco .wrap {
  width: 100%;
  max-width: 720px;
}
.product-eco p {
  margin: 0;
  text-align: left;
  font-size: 2.7777777778vw;
  color: #666;
}
@media screen and (min-width: 720px) {
  .product-eco p {
    font-size: 20px;
  }
}
.product-eco p.notice {
  margin-top: 1.3888888889vw;
}
@media screen and (min-width: 720px) {
  .product-eco p.notice {
    margin-top: 10px;
  }
}
.product-eco .slider-contents {
  position: relative;
}
.product-eco .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 1;
  padding: 0;
  font-size: 0;
  color: transparent;
  background-color: transparent;
  text-indent: -9999px;
  border: none;
  cursor: pointer;
  outline: none;
  width: 6.9444444444vw;
  height: 6.9444444444vw;
  margin-top: -3.4722222222vw;
}
@media screen and (min-width: 720px) {
  .product-eco .slick-arrow {
    width: 50px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .slick-arrow {
    height: 50px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .slick-arrow {
    margin-top: -25px;
  }
}
.product-eco .slick-arrow.slick-prev {
  left: 2%;
  background-image: url("https://img.eduwill.net/eduwill/img/2021/G/product/211015/mobile/btn_prev.png");
  background-size: cover;
}
.product-eco .slick-arrow.slick-next {
  left: auto;
  right: 2%;
  background-image: url("https://img.eduwill.net/eduwill/img/2021/G/product/211015/mobile/btn_next.png");
  background-size: cover;
}
.product-eco .slick-slide {
  outline: none;
}
.product-eco .slick-slide a {
  outline: none;
}
.product-eco .icon-hand {
  position: absolute;
  top: 50%;
  right: 5%;
  width: 6.9444444444%;
  -webkit-animation-name: moving;
          animation-name: moving;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
.product-eco .icon-hand img {
  max-width: 100%;
}
@-webkit-keyframes moving {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}
@keyframes moving {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}
.product-eco .notice {
  text-align: right;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.4);
  line-height: 1.5;
  font-size: 3.0555555556vw;
  letter-spacing: -0.2083333333vw;
}
@media screen and (min-width: 720px) {
  .product-eco .notice {
    font-size: 22px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .notice {
    letter-spacing: -1.5px;
  }
}
.product-eco .sector-banner {
  background-color: #ffe000;
}
.product-eco .sector-title {
  background-color: #1607c5;
  background-image: url("https://img.eduwill.net/eduwill/img/2021/G/product/211015/mobile/bg_title.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto 100%;
}
.product-eco .sector-benefit {
  background: #ffe491;
}
.product-eco .sector-benefit .eco-puri {
  position: absolute;
  top: 69.7966248377%;
  right: 76.5277777778%;
  z-index: 1;
  line-height: 1;
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  font-size: 4.4444444444vw;
  font-weight: 700;
  color: #222;
  letter-spacing: -0.2777777778vw;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-benefit .eco-puri {
    font-size: 32px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .sector-benefit .eco-puri {
    letter-spacing: -2px;
  }
}
.product-eco .sector-benefit-plus {
  background: #2847ee;
}
.product-eco .sector-benefit-plus img {
  margin-top: -6.1111111111vw;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-benefit-plus img {
    margin-top: -44px;
  }
}
.product-eco .sector-graph {
  background: #f1f1f1;
}
.product-eco .sector-text {
  background: #334fef;
}
.product-eco .sector-review .notice {
  padding-right: 4.1666666667%;
  margin-top: 1.3888888889vw;
  font-weight: 500;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-review .notice {
    margin-top: 10px;
  }
}
.product-eco .sector-teacher {
  padding-bottom: 12.5vw;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-teacher {
    padding-bottom: 90px;
  }
}
.product-eco .sector-teacher .slide-contents {
  position: relative;
  width: 86.1111111111%;
  margin: 0 auto;
}
.product-eco .sector-teacher .slide-contents .slick-slide {
  padding: 0 1.1111111111vw;
  box-sizing: border-box;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-teacher .slide-contents .slick-slide {
    padding: 0 8px;
  }
}
.product-eco .sector-teacher .slide-contents .slick-arrow.slick-prev {
  left: -4.1666666667vw;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-teacher .slide-contents .slick-arrow.slick-prev {
    left: -30px;
  }
}
.product-eco .sector-teacher .slide-contents .slick-arrow.slick-next {
  right: -4.1666666667vw;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-teacher .slide-contents .slick-arrow.slick-next {
    right: -30px;
  }
}
.product-eco .sector-teacher .t-info {
  position: absolute;
  text-align: left;
  line-height: 1;
  left: 0.5555555556vw;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-teacher .t-info {
    left: 4px;
  }
}
.product-eco .sector-teacher .t-info .subject {
  font-size: 3.3333333333vw;
  letter-spacing: -0.2777777778vw;
  font-weight: 400;
  color: #222;
  line-height: 1;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-teacher .t-info .subject {
    font-size: 24px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .sector-teacher .t-info .subject {
    letter-spacing: -2px;
  }
}
.product-eco .sector-teacher .t-info .name {
  display: inline-block;
  padding-right: 5.2777777778vw;
  font-size: 3.3333333333vw;
  letter-spacing: -0.2777777778vw;
  font-weight: 700;
  color: #222;
  line-height: 1;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-teacher .t-info .name {
    padding-right: 38px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .sector-teacher .t-info .name {
    font-size: 24px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .sector-teacher .t-info .name {
    letter-spacing: -2px;
  }
}
.product-eco .sector-teacher .big-list .col {
  position: relative;
}
.product-eco .sector-teacher .big-list .col a {
  display: inline-block;
  padding: 0 0.6944444444vw;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-teacher .big-list .col a {
    padding: 0 5px;
  }
}
.product-eco .sector-teacher .big-list .col .t-info {
  bottom: 0;
  z-index: 1;
}
.product-eco .sector-teacher .small-list {
  margin: 4.1666666667vw auto 0;
  width: 86.1111111111%;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-teacher .small-list {
    margin: 30px auto 0;
  }
}
.product-eco .sector-teacher .small-list .col {
  position: relative;
  padding: 0 0.5% 1%;
  box-sizing: border-box;
}
.product-eco .sector-teacher .small-list .col .t-info {
  top: 10%;
  left: 10%;
}
.product-eco .sector-teacher .small-list .col .t-info .subject {
  font-size: 2.5vw;
  color: #e7e7e7;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-teacher .small-list .col .t-info .subject {
    font-size: 18px;
  }
}
.product-eco .sector-teacher .small-list .col .t-info .name {
  color: #e7e7e7;
  padding-right: 0;
  font-size: 2.5vw;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-teacher .small-list .col .t-info .name {
    font-size: 18px;
  }
}
.product-eco .sector-teacher .small-list .col:nth-child(3n) {
  margin-right: 0;
}
.product-eco .sector-teacher .small-list .slick-arrow.slick-prev {
  left: -4.1666666667vw;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-teacher .small-list .slick-arrow.slick-prev {
    left: -30px;
  }
}
.product-eco .sector-teacher .small-list .slick-arrow.slick-next {
  right: -4.1666666667vw;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-teacher .small-list .slick-arrow.slick-next {
    right: -30px;
  }
}
.product-eco .sector-teacher .grounds-text {
  text-align: right;
  padding-right: 6.9444444444%;
  font-size: 3.3333333333vw;
  color: rgba(0, 0, 0, 0.5);
}
@media screen and (min-width: 720px) {
  .product-eco .sector-teacher .grounds-text {
    font-size: 24px;
  }
}
.product-eco .sector-acer {
  padding-bottom: 16.6666666667vw;
  background: #fff;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-acer {
    padding-bottom: 120px;
  }
}
.product-eco .sector-acer .btn-acer {
  margin-bottom: 8.3333333333vw;
  text-align: left;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-acer .btn-acer {
    margin-bottom: 60px;
  }
}
.product-eco .sector-acer .btn-acer a {
  display: inline-block;
  position: relative;
}
.product-eco .sector-acer .btn-acer a .icon-hand {
  right: 40%;
}
.product-eco .sector-acer .item {
  position: relative;
}
.product-eco .sector-acer .item .teacher-img {
  position: absolute;
  top: 14.1843971631%;
  width: 91.6666666667%;
  left: 50%;
  z-index: 1;
  overflow: hidden;
  transform: translateX(-50%);
}
.product-eco .sector-acer .slick-list,
.product-eco .sector-acer .slick-track {
  left: 0 !important;
  transform: translate3d(0, 0, 0) !important;
}
.product-eco .sector-acer .acer-list {
  position: relative;
  width: 91.6666666667%;
  margin: 0 auto;
  z-index: 2;
}
.product-eco .sector-acer .acer-list .slick-slide {
  outline: none;
}
.product-eco .sector-acer .acer-list .slick-slide .col {
  position: relative;
  border-left: 3px solid #fff;
  padding-bottom: 2.0833333333vw;
  box-sizing: border-box;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-acer .acer-list .slick-slide .col {
    padding-bottom: 15px;
  }
}
.product-eco .sector-acer .acer-list .slick-slide .col a {
  position: relative;
  display: block;
  color: #838383;
  font-weight: 700;
  background: #bcbcbc;
  padding: 3.3333333333vw 0;
  font-size: 3.3333333333vw;
  letter-spacing: -0.2777777778vw;
  box-sizing: border-box;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-acer .acer-list .slick-slide .col a {
    padding: 24px 0;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .sector-acer .acer-list .slick-slide .col a {
    font-size: 24px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .sector-acer .acer-list .slick-slide .col a {
    letter-spacing: -2px;
  }
}
.product-eco .sector-acer .acer-list .slick-slide .col.list-1 {
  border-left: 0;
}
.product-eco .sector-acer .acer-list .slick-slide.slick-current .col a {
  color: #c8d0ff;
  background: #363636;
}
.product-eco .sector-acer .acer-list .slick-slide.slick-current .col a:after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 0;
  z-index: 1;
  transform: translateX(-50%);
  border-width: 0;
  border-style: solid;
  border-color: transparent;
  border-top-color: #363636;
  border-right-width: 1.3888888889vw;
  border-left-width: 1.3888888889vw;
  border-top-width: 2.0833333333vw;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-acer .acer-list .slick-slide.slick-current .col a:after {
    border-right-width: 10px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .sector-acer .acer-list .slick-slide.slick-current .col a:after {
    border-left-width: 10px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .sector-acer .acer-list .slick-slide.slick-current .col a:after {
    border-top-width: 15px;
  }
}
.product-eco .sector-acer .acer-contents {
  position: relative;
  top: -2.0833333333vw;
  width: 91.6666666667%;
  margin: 0 auto;
  border: 1px solid #e1e1e1;
  border-top: 0;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-acer .acer-contents {
    top: -15px;
  }
}
.product-eco .sector-acer .notice {
  margin-top: 2.7777777778vw;
  padding-right: 4.1666666667%;
  font-weight: 500;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-acer .notice {
    margin-top: 20px;
  }
}
.product-eco .sector-acer .single-slider {
  width: 91.6666666667%;
  margin: 0 auto;
}
.product-eco .sector-acer .single-slider .slick-slide div {
  position: relative;
}
.product-eco .sector-acer .single-slider .slick-slide div .label {
  position: absolute;
  top: 4.1666666667vw;
  right: 4.1666666667vw;
  width: 25.8333333333%;
  height: 14.9253731343%;
  display: table;
  text-align: center;
  border-radius: 50px;
  background: #fff;
  border: 2px solid #4f6af3;
  z-index: 10;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.4);
}
@media screen and (min-width: 720px) {
  .product-eco .sector-acer .single-slider .slick-slide div .label {
    top: 30px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .sector-acer .single-slider .slick-slide div .label {
    right: 30px;
  }
}
.product-eco .sector-acer .single-slider .slick-slide div .label strong {
  display: table-cell;
  vertical-align: middle;
  color: #181818;
  font-weight: 700;
  font-size: 3.3333333333vw;
  letter-spacing: -0.2777777778vw;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-acer .single-slider .slick-slide div .label strong {
    font-size: 24px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .sector-acer .single-slider .slick-slide div .label strong {
    letter-spacing: -2px;
  }
}
.product-eco .sector-acer .slick-arrow.slick-prev {
  left: -4.1666666667vw;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-acer .slick-arrow.slick-prev {
    left: -30px;
  }
}
.product-eco .sector-acer .slick-arrow.slick-next {
  right: -4.1666666667vw;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-acer .slick-arrow.slick-next {
    right: -30px;
  }
}
.product-eco .sector-curriculum {
  background: #fff;
}
.product-eco .sector-price-box {
  background: #5872f4;
}/*# sourceMappingURL=mobile.css.map */