@charset "UTF-8";
.grid {
  *zoom: 1;
}
.grid:before, .grid:after {
  content: "";
  display: table;
}
.grid:after {
  clear: both;
}

.hidden,
.sr_only,
.sr-only {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.grid {
  position: relative;
  box-sizing: border-box;
}
.grid .col {
  position: relative;
  float: left;
  box-sizing: border-box;
}

.table {
  display: table;
}
.table .table-cell {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

.effect-bounce-diagonal {
  -webkit-animation-name: effectBounceDiagonal;
          animation-name: effectBounceDiagonal;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
@-webkit-keyframes effectBounceDiagonal {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10px, -10px);
  }
}
@keyframes effectBounceDiagonal {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10px, -10px);
  }
}

.effect-bounce-updown {
  -webkit-animation-name: effectBounceUpDown;
          animation-name: effectBounceUpDown;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
@-webkit-keyframes effectBounceUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
@keyframes effectBounceUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.effect-extend {
  -webkit-animation-name: effectExtend;
          animation-name: effectExtend;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
@-webkit-keyframes effectExtend {
  0%, 100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
}
@keyframes effectExtend {
  0%, 100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
}

.effect-blink {
  -webkit-animation-name: effectBlink;
          animation-name: effectBlink;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: step-start;
          animation-timing-function: step-start;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
@-webkit-keyframes effectBlink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
@keyframes effectBlink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.promotion,
.product,
.product-eco,
.fullservice {
  text-align: center;
}
.promotion [class^=sector-],
.product [class^=sector-],
.product-eco [class^=sector-],
.fullservice [class^=sector-] {
  position: relative;
}
.promotion .wrap,
.product .wrap,
.product-eco .wrap,
.fullservice .wrap {
  position: relative;
  margin: 0 auto;
}
.promotion .wrap-full,
.product .wrap-full,
.product-eco .wrap-full,
.fullservice .wrap-full {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.motion-1 {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s;
  transition-timing-function: ease-out;
}

.motion-2 {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s;
  transition-timing-function: ease-out;
}

.motion-3 {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s;
  transition-timing-function: ease-out;
}

.motion-4 {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s;
  transition-timing-function: ease-out;
}

.motion-5 {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s;
  transition-timing-function: ease-out;
}

.motion-6 {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s;
  transition-timing-function: ease-out;
}

.motion-graph-end {
  opacity: 0;
  transform: scale(1, 1);
  transition: all 0.5s;
  transition-timing-function: ease-out;
  transform-origin: center center;
}

.motion-stamp-1 {
  opacity: 0;
  transform: scale(1.5, 1.5);
  transition: all 0.5s;
  transition-timing-function: ease-out;
  transform-origin: center center;
}

.active .motion-1 {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.2s;
}
.active .motion-2 {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 1.2s;
}
.active .motion-3 {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 2.2s;
}
.active .motion-4 {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 3.2s;
}
.active .motion-5 {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 4.2s;
}
.active .motion-6 {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 5.2s;
}
.active .motion-graph-end {
  opacity: 1;
  transform: scale(1, 1);
  transition-delay: 6.2s;
  transform-origin: center center;
}
.active .motion-stamp-1 {
  opacity: 1;
  transform: scale(1, 1);
  transition-delay: 0.1s;
  transform-origin: center center;
}

.popup-dim2 {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.7);
}

.popup {
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 200;
  display: none;
  width: 90%;
  max-width: 720px;
  letter-spacing: -1px;
  background: #fff;
  border-radius: 20px;
  transform: translateX(-50%);
  box-sizing: border-box;
}
@media screen and (min-width: 1100px) {
  .popup {
    max-width: 1000px;
  }
}
.popup * {
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
}
.popup .popup-close {
  position: absolute;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 1.40625rem;
  height: 1.40625rem;
  cursor: pointer;
  top: 5px;
  right: 5px;
}
@media screen and (min-width: 720px) {
  .popup .popup-close {
    width: 45px;
  }
}
@media screen and (min-width: 720px) {
  .popup .popup-close {
    height: 45px;
  }
}
.popup .popup-close:before, .popup .popup-close:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 22.5px;
  height: 1px;
  margin-left: -11.25px;
  background-color: #333;
}
.popup .popup-close:before {
  transform: rotate(45deg);
}
.popup .popup-close:after {
  transform: rotate(315deg);
}
.popup .popup-close span {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}
.popup .popup-body {
  padding: 6.9444444444vw 5.5555555556vw;
  background-color: #fff;
}
@media screen and (min-width: 720px) {
  .popup .popup-body {
    padding: 50px 40px;
  }
}
.popup .popup-body P {
  text-align: left;
  line-height: 1.4;
  font-size: 2.5vw;
  font-weight: 400;
  color: #222;
  margin: 0;
}
@media screen and (min-width: 720px) {
  .popup .popup-body P {
    font-size: 18px;
  }
}

#popupBook p {
  display: none;
}
#popupBook p.book1, #popupBook p.book2, #popupBook p.book3, #popupBook p.book4 {
  display: block;
}

.product-eco {
  overflow: hidden;
  text-align: center;
}
.product-eco * {
  line-height: normal;
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  font-size: inherit;
  color: inherit;
  letter-spacing: -1px;
}
.product-eco .wrap {
  width: 1200px;
}
.product-eco .only-mobile,
.product-eco .mobile-only {
  display: none;
}
.product-eco .holder {
  position: relative;
}
.product-eco .item {
  position: relative;
}
.product-eco .slick-arrow {
  border-radius: 50%;
}
.product-eco .slick-arrow.slick-prev {
  position: absolute;
  top: 50%;
  z-index: 10;
  display: block;
  width: 1.875rem;
  height: 1.875rem;
  margin: 0;
  padding: 0;
  font-size: 0;
  color: transparent;
  text-indent: -9999px;
  border: none;
  outline: none;
  cursor: pointer;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.4);
  left: 30px;
}
@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-prev {
    width: 60px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-prev {
    height: 60px;
  }
}
.product-eco .slick-arrow.slick-prev:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0.46875rem;
  height: 0.46875rem;
  border-width: 0;
  border-style: solid;
  border-color: #fff;
  border-bottom-width: 2px;
  border-left-width: 2px;
  transform: translate(-25%, -50%) rotate(45deg);
}
@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-prev:before {
    width: 15px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-prev:before {
    height: 15px;
  }
}
.product-eco .slick-arrow.slick-next {
  position: absolute;
  top: 50%;
  z-index: 10;
  display: block;
  width: 1.875rem;
  height: 1.875rem;
  margin: 0;
  padding: 0;
  font-size: 0;
  color: transparent;
  text-indent: -9999px;
  border: none;
  outline: none;
  cursor: pointer;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.4);
  right: 30px;
}
@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-next {
    width: 60px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-next {
    height: 60px;
  }
}
.product-eco .slick-arrow.slick-next:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0.46875rem;
  height: 0.46875rem;
  border-width: 0;
  border-style: solid;
  border-color: #fff;
  border-top-width: 2px;
  border-right-width: 2px;
  transform: translate(-75%, -50%) rotate(45deg);
}
@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-next:before {
    width: 15px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-next:before {
    height: 15px;
  }
}
.product-eco .slick-dots {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  font-size: 0;
  text-align: right;
}
.product-eco .slick-dots li {
  display: inline-block;
  margin: 0 0.8333333333vw;
}
@media screen and (min-width: 720px) {
  .product-eco .slick-dots li {
    margin: 0 6px;
  }
}
.product-eco .slick-dots li.slick-active button {
  width: 1.5277777778vw;
  border-radius: 6.9444444444vw;
  background-color: #000;
}
@media screen and (min-width: 720px) {
  .product-eco .slick-dots li.slick-active button {
    width: 11px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .slick-dots li.slick-active button {
    border-radius: 50px;
  }
}
.product-eco .slick-dots button {
  display: block;
  width: 1.5277777778vw;
  height: 1.5277777778vw;
  color: transparent;
  border: none;
  border-radius: 50%;
  background-color: #fff;
  outline: none;
  cursor: pointer;
}
@media screen and (min-width: 720px) {
  .product-eco .slick-dots button {
    width: 11px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .slick-dots button {
    height: 11px;
  }
}
.product-eco .flag-review-box {
  position: fixed;
  right: 0;
  top: 150px;
  z-index: 11;
  width: 270px;
  padding: 36px 0 25px 0;
  text-align: left;
  overflow: hidden;
  border-radius: 20px;
  line-height: 1.5;
  letter-spacing: -1px;
  text-align: center;
  box-sizing: border-box;
  background: #fce8a9;
  background: linear-gradient(120deg, #fce8a9 0%, #fcce2f 80%, #fcce2f 100%);
}
.product-eco .flag-review-box h3 {
  font-size: 18px;
  color: #000;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 15px;
  letter-spacing: -2px;
}
.product-eco .flag-review-box h3 strong {
  font-weight: 800;
  font-size: 26px;
  letter-spacing: -2px;
}
.product-eco .flag-review-box .flag-review-slide > div {
  background-color: #fff;
  border-radius: 30px;
  width: 230px;
  margin: 0 auto;
}
.product-eco .flag-review-box .flag-review-slide > div .slick-slide {
  text-align: left;
  padding: 20px;
  box-sizing: border-box;
}
.product-eco .flag-review-box .flag-review-slide > div .slide {
  letter-spacing: -0.5px;
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  color: #222;
  word-break: keep-all;
}
.product-eco .flag-review-box .flag-review-slide > div .slide .name {
  font-size: 13px;
  color: #222;
  opacity: 0.5;
  margin-top: 25px;
}
.product-eco .flag-review-box .flag-review-slide > div .slide .point {
  color: #e90f06 !important;
  display: inline;
  word-break: keep-all;
}
.product-eco .flag-review-box .flag-review-slide .slick-dots {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 15px;
}
.product-eco .flag-review-box .flag-review-slide .slick-dots li {
  display: inline-block;
  margin: 0px 2px;
}
.product-eco .flag-review-box .flag-review-slide .slick-dots li button {
  width: 10px;
  height: 10px;
  text-indent: -9999em;
  border: none;
  border-radius: 50%;
  background-color: #ccaa48;
  outline: none;
  cursor: pointer;
  padding: 0;
}
.product-eco .flag-review-box .flag-review-slide .slick-dots li.slick-active button {
  width: 30px;
  border-radius: 50px;
  background-color: #fff7e2;
}
.product-eco .flag-review-box a {
  width: 230px;
  margin: 0 auto;
  background-color: #000;
  display: inline-block;
  margin-top: 15px;
  padding: 11px 0;
  color: #fff;
  font-weight: 700;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0;
  position: relative;
}
.product-eco .flag-review-box a:before {
  content: "";
  position: absolute;
  bottom: 42px;
  right: 0px;
  width: 105px;
  height: 103px;
  background-image: url("https://img.eduwill.net/eduwill/img/2022/S/product/220602/pc/trophy.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.product-eco .flag-review-box a:after {
  content: "";
  position: absolute;
  top: 50%;
  display: block;
  width: 0.25rem;
  height: 0.25rem;
  margin-top: -0.125rem;
  border-width: 0;
  border-style: solid;
  border-color: #fff;
  transform: rotate(45deg);
  border-top-width: 2px;
  border-right-width: 2px;
  right: 20%;
}
@media screen and (min-width: 720px) {
  .product-eco .flag-review-box a:after {
    width: 8px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .flag-review-box a:after {
    height: 8px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .flag-review-box a:after {
    margin-top: -4px;
  }
}
.product-eco .sector-top-banner {
  background-color: #0f1837;
  background-image: url("https://img.eduwill.net/eduwill/img/2022/S/product/220602/pc/bg_top_banner.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.product-eco .sector-title {
  background-color: #0f1837;
  background-image: url("https://img.eduwill.net/eduwill/img/2022/S/product/220602/pc/bg_title.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.product-eco .sector-title .action {
  position: absolute;
  z-index: 7;
  top: 1280px;
  right: 50px;
}
.product-eco .sector-plus {
  background: #1c45b1;
  background: linear-gradient(to bottom, #1c45b1 0%, #1c388b 50%, #1c388b 50%, #1c388b 50%, #1c388b 50%, #1c388b 100%);
}
.product-eco .sector-plus .wrap:before {
  content: "";
  width: 100px;
  height: 100px;
  background-image: url("https://img.eduwill.net/eduwill/img/2022/S/product/220602/pc/ico_plus.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: -50px;
  z-index: 0;
}
.product-eco .sector-price {
  background: #1c388b;
  background: linear-gradient(to bottom, #1c388b 0%, #1c388b 50%, #1c388b 50%, #1c388b 50%, #f5f5f7 50%, #f5f5f7 100%);
  padding-bottom: 110px;
}
.product-eco .sector-price .price-box {
  margin: 0 auto;
  display: table;
  width: 1100px;
  margin: 0 auto;
  padding: 30px 44px;
  background: #fff;
  border-radius: 5.5555555556vw;
  box-sizing: border-box;
  box-shadow: 0 10px 5px 0 rgba(0, 0, 0, 0.5);
  line-height: 1;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-price .price-box {
    border-radius: 40px;
  }
}
.product-eco .sector-price .price-box .price-cell {
  display: table-cell;
  vertical-align: middle;
  font-weight: bold;
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  position: relative;
}
.product-eco .sector-price .price-box .price-title h3 {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 50px;
  color: #222;
  text-align: left;
  font-weight: bold;
  line-height: 1.2;
}
.product-eco .sector-price .price-box .price-after {
  text-align: right;
}
.product-eco .sector-price .price-box .square-flag {
  position: relative;
  background: #ffcd04;
  letter-spacing: -2px;
  font-weight: 700;
  padding: 0;
  font-size: 22px;
  color: #ea1d00;
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
}
.product-eco .sector-price .price-box .circle-flag {
  position: relative;
}
.product-eco .sector-price .price-box .before {
  letter-spacing: -1px;
  font-size: 34px;
  color: #bbb;
  position: relative;
  display: block;
  text-decoration: line-through;
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
}
.product-eco .sector-price .price-box .after {
  line-height: 1.2;
  color: #eb2200;
  display: inline-block;
  font-size: 50px;
  font-weight: 800;
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
}
.product-eco .sector-price .price-box .detail {
  display: block;
  color: #c0c0c0;
  font-size: 26px;
}
.product-eco .sector-price .price-box .btn-area {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}
.product-eco .sector-price .price-box .btn-area .price-btn {
  background: #f00;
  background: #f54e00;
  background: linear-gradient(to right, #f54e00 0%, #ea1d00 100%);
  border-radius: 15px;
  font-size: 30px;
  padding: 30px 50px;
  font-weight: 800;
  color: #fff;
  text-align: center;
  line-height: 1;
  position: relative;
  display: inline-block;
}
.product-eco .sector-price .price-box .btn-area .price-btn:after {
  content: "";
  position: absolute;
  top: 70%;
  right: 0;
  z-index: 1;
  display: block;
  width: 1.78125rem;
  height: 2.03125rem;
  background: url("https://img.eduwill.net/Img2/Common/icon/pointer/icon_pointer_12.png") no-repeat 0 0;
  background-size: 100% auto;
  -webkit-animation-name: pointerBounceDiagonal;
          animation-name: pointerBounceDiagonal;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-price .price-box .btn-area .price-btn:after {
    width: 57px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .sector-price .price-box .btn-area .price-btn:after {
    height: 65px;
  }
}
@-webkit-keyframes pointerBounceDiagonal {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10px, -10px);
  }
}
@keyframes pointerBounceDiagonal {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10px, -10px);
  }
}
.product-eco .sector-price .price-box .btn-area .notice {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  font-weight: normal;
  color: #bfbfbf;
}
.product-eco .sector-interview {
  background-color: #f5f5f7;
}
.product-eco .sector-interview .holder .action {
  position: absolute;
  z-index: 7;
  top: 124px;
  right: 50px;
}
.product-eco .sector-interview .interview-group {
  position: relative;
  width: 889px;
  margin: 0 auto;
  height: 420px;
  overflow: hidden;
}
.product-eco .sector-interview .interview-group .video-box {
  position: relative;
  width: 740px;
  height: 420px;
  background-color: #000;
}
.product-eco .sector-interview .interview-group .video-box video, .product-eco .sector-interview .interview-group .video-box iframe {
  width: 100%;
  height: 100%;
}
.product-eco .sector-interview .interview-group .video-box .btn-video {
  position: absolute;
  left: 0;
  top: 0;
}
.product-eco .sector-interview .interview-group .interview-list {
  position: absolute;
  right: 0;
  top: 0;
  width: 141px;
  font-size: 0;
}
.product-eco .sector-interview .interview-group .interview-list .slide-list {
  position: relative;
  margin-bottom: 2.5px;
  text-align: right;
}
.product-eco .sector-interview .interview-group .interview-list .slide-list .btn-play {
  position: relative;
  display: block;
  width: 141px;
}
.product-eco .sector-interview .interview-group .interview-list .slide-list .btn-play:after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.product-eco .sector-interview .interview-group .interview-list .slide-list .btn-play:focus {
  outline: 0;
}
.product-eco .sector-interview .interview-group .interview-list .slide-list .btn-play.on:after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  width: 100%;
  height: 100%;
  background-color: transparent;
}
.product-eco .sector-review {
  background-color: #f3f3f3;
  padding: 50px 0 90px 0;
}
.product-eco .sector-review .wrap {
  width: 100%;
}
.product-eco .sector-review .wrap .review-list .slick-slide {
  margin: 0 -10px;
}
.product-eco .sector-review .wrap .review-list .slick-arrow {
  display: none !important;
  opacity: 0;
}
.product-eco .sector-winner-list {
  background-color: #fff;
}
.product-eco .sector-winner-list .winner-contents {
  height: 400px;
  margin: 0 auto;
  margin-top: -50px;
  margin-bottom: -50px;
  transform: translateX(-40px);
}
.product-eco .sector-winner-list .winner-contents .winner-list {
  transform: perspective(400px) rotateX(45deg);
  overflow: hidden;
}
.product-eco .sector-winner-list .winner-contents .winner-list p {
  color: #000;
  font-size: 2.5vw;
  margin: 5px 0;
  font-weight: 500;
  text-align: center;
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-winner-list .winner-contents .winner-list p {
    font-size: 18px;
  }
}
.product-eco .sector-bar {
  background: #dbecfe;
  background: linear-gradient(to right, #dbecfe 0%, #dbecfe 100%);
}
.product-eco .sector-bar .wrap:after {
  content: "";
  background-image: url("https://img.eduwill.net/eduwill/img/2022/S/product/220602/pc/bar_after.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  position: absolute;
  z-index: 7;
  width: 250px;
  height: 65px;
  bottom: -65px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.product-eco .sector-step {
  background-color: #fff;
}
.product-eco .sector-benefit-slide {
  background-color: #0f1837;
  background-image: url("https://img.eduwill.net/eduwill/img/2022/S/product/220602/pc/bg_benefit_slide.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  padding-bottom: 160px;
}
.product-eco .sector-benefit-slide .wrap {
  text-align: center;
  margin: 0 auto;
}
.product-eco .sector-benefit-slide .wrap .slick-slider {
  width: 1148px;
  margin: 0 auto;
  margin-left: 30px;
}
.product-eco .sector-benefit-slide .wrap .slick-arrow {
  border-radius: 0;
}
.product-eco .sector-benefit-slide .wrap .slick-arrow.slick-prev {
  position: absolute;
  top: 50%;
  z-index: 10;
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  margin: 0;
  padding: 0;
  font-size: 0;
  color: transparent;
  text-indent: -9999px;
  border: none;
  outline: none;
  cursor: pointer;
  transform: translateY(-50%);
  background: rgb(0, 0, 0);
  left: 0;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-benefit-slide .wrap .slick-arrow.slick-prev {
    width: 40px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .sector-benefit-slide .wrap .slick-arrow.slick-prev {
    height: 40px;
  }
}
.product-eco .sector-benefit-slide .wrap .slick-arrow.slick-prev:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0.3125rem;
  height: 0.3125rem;
  border-width: 0;
  border-style: solid;
  border-color: #fff;
  border-bottom-width: 1px;
  border-left-width: 1px;
  transform: translate(-25%, -50%) rotate(45deg);
}
@media screen and (min-width: 720px) {
  .product-eco .sector-benefit-slide .wrap .slick-arrow.slick-prev:before {
    width: 10px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .sector-benefit-slide .wrap .slick-arrow.slick-prev:before {
    height: 10px;
  }
}
.product-eco .sector-benefit-slide .wrap .slick-arrow.slick-next {
  position: absolute;
  top: 50%;
  z-index: 10;
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  margin: 0;
  padding: 0;
  font-size: 0;
  color: transparent;
  text-indent: -9999px;
  border: none;
  outline: none;
  cursor: pointer;
  transform: translateY(-50%);
  background: rgb(0, 0, 0);
  right: 0;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-benefit-slide .wrap .slick-arrow.slick-next {
    width: 40px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .sector-benefit-slide .wrap .slick-arrow.slick-next {
    height: 40px;
  }
}
.product-eco .sector-benefit-slide .wrap .slick-arrow.slick-next:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0.3125rem;
  height: 0.3125rem;
  border-width: 0;
  border-style: solid;
  border-color: #fff;
  border-top-width: 1px;
  border-right-width: 1px;
  transform: translate(-75%, -50%) rotate(45deg);
}
@media screen and (min-width: 720px) {
  .product-eco .sector-benefit-slide .wrap .slick-arrow.slick-next:before {
    width: 10px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .sector-benefit-slide .wrap .slick-arrow.slick-next:before {
    height: 10px;
  }
}
.product-eco .sector-benefit-slide .wrap .action {
  position: absolute;
  z-index: 7;
  top: 1052px;
  right: 50px;
}
.product-eco .sector-curriculum .graph-wrap {
  width: 1200px;
  height: 651px;
  background-color: #0f1837;
  background-image: url("https://img.eduwill.net/eduwill/img/2022/S/product/220602/pc/bg_curriculum.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.product-eco .sector-curriculum .graph-wrap .graph-box {
  width: 845px;
  height: 555px;
  margin: 0 auto;
  position: relative;
}
.product-eco .sector-curriculum .graph-wrap .graph-box .motion {
  position: absolute;
  z-index: 5;
}
.product-eco .sector-curriculum .graph-wrap .graph-box .motion-1 {
  left: 0;
}
.product-eco .sector-curriculum .graph-wrap .graph-box .motion-2 {
  left: 148px;
}
.product-eco .sector-curriculum .graph-wrap .graph-box .motion-3 {
  left: 290px;
}
.product-eco .sector-curriculum .graph-wrap .graph-box .motion-4 {
  left: 425px;
}
.product-eco .sector-curriculum .graph-wrap .graph-box .motion-5 {
  left: 565px;
}
.product-eco .sector-curriculum .graph-wrap .graph-box .motion-6 {
  left: 705px;
}
.product-eco .sector-curriculum .circle-box {
  position: absolute;
  z-index: 10;
  top: 355px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.product-eco .sector-new {
  background-color: #eff6fd;
}
.product-eco .sector-new .flag-new {
  position: absolute;
  z-index: 10;
  top: -18px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.product-eco .sector-new .flag-2023 {
  position: absolute;
  z-index: 10;
  top: 121px;
  left: 621px;
}
.product-eco .sector-teacher {
  background: #fff;
  background: linear-gradient(to bottom, #fff 0%, #fff 55%, #fff 55%, #fff 55%, #eff6fd 55%, #eff6fd 100%);
}
.product-eco .sector-teacher .teacher-tabslider {
  position: relative;
}
.product-eco .sector-teacher .other {
  position: absolute;
  top: 0;
  left: 0;
}
.product-eco .sector-teacher .info-pager {
  margin-left: 330px;
}
.product-eco .sector-teacher .info-pager.slick-slider .slick-track, .product-eco .sector-teacher .info-pager.slick-slider .slick-list {
  top: -3px;
  left: 0 !important;
}
.product-eco .sector-teacher .info-pager .slick-slide .col {
  cursor: pointer;
  transition: background-color 0.3s;
  transition-timing-function: ease-out;
  width: 291px;
  height: 521px;
}
.product-eco .sector-teacher .info-pager .slick-slide .col1 {
  background-image: url("https://img.eduwill.net/eduwill/img/2022/S/product/220602/pc/teacher1.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto;
}
.product-eco .sector-teacher .info-pager .slick-slide .col2 {
  background-image: url("https://img.eduwill.net/eduwill/img/2022/S/product/220602/pc/teacher2.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto;
}
.product-eco .sector-teacher .info-pager .slick-slide .col3 {
  background-image: url("https://img.eduwill.net/eduwill/img/2022/S/product/220602/pc/teacher3.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto;
}
.product-eco .sector-teacher .info-pager .slick-slide.slick-current .col {
  width: 291px;
  height: 521px;
}
.product-eco .sector-teacher .info-pager .slick-slide.slick-current .col1 {
  background-image: url("https://img.eduwill.net/eduwill/img/2022/S/product/220602/pc/teacher1_on.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto;
}
.product-eco .sector-teacher .info-pager .slick-slide.slick-current .col2 {
  background-image: url("https://img.eduwill.net/eduwill/img/2022/S/product/220602/pc/teacher2_on.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto;
}
.product-eco .sector-teacher .info-pager .slick-slide.slick-current .col3 {
  background-image: url("https://img.eduwill.net/eduwill/img/2022/S/product/220602/pc/teacher3_on.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto;
}
.product-eco .sector-teacher .info-slider {
  width: 100%;
}
.product-eco .sector-teacher .info-slider .col {
  text-align: center;
}
.product-eco .sector-teacher .info-slider .col img {
  display: inline-block;
  box-shadow: 0 20px 10px 0 rgba(0, 0, 0, 0.5);
}
.product-eco .sector-book .stamp {
  position: absolute;
  z-index: 10;
  top: 625px;
  left: 881px;
}
.product-eco .sector-book .action {
  position: absolute;
  top: 326px;
  right: 50px;
}
.product-eco .sector-exam {
  background-color: #fff;
}
.product-eco .sector-exam .exam-list img {
  margin: auto;
}
.product-eco .sector-contents {
  background: #f4f4f4;
}
.product-eco .sector-service {
  background: #fff;
}
.product-eco .sector-winner {
  background-color: #040301;
  background-image: url("https://img.eduwill.net/eduwill/img/2022/0/event/220414/pc/bg_winner.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.product-eco .sector-winner .action {
  position: absolute;
  bottom: 120px;
  right: 30px;
}
.product-eco .sector-bar-bottom {
  background: #2d3655;
  background: linear-gradient(to right, #2d3655 0%, #363869 100%);
}/*# sourceMappingURL=web.css.map */