/* ==================================================================
	Font 세팅 
===================================================================== */
@font-face {
	font-family: 'Pretendard Variable';		/* 사용할 글꼴 이름 */
	font-weight: 45 920;					/* 가변 글꼴의 지원 범위 (최소~최대) */
	font-style: normal;						/* 일반체 (이탤릭 아님) */
	font-display: swap;						/* 시스템 기본 글꼴을 먼저 보여주고, 웹폰트 로딩 : 사용자 경험 향상 */
	src: url('../font/PretendardVariable.woff2') format('woff2-variations'); /* 가변 woff2 파일 : Chrome, Safari 등 최신 브라우저 지원 */
}


body,textarea,button,input,select,pre{color:#333; font-size:14px; font-family:'Pretendard Variable', 'Malgun Gothic', 'Noto Sans KR', dotum; font-weight:normal; -webkit-text-size-adjust:none; }


/* ==================================================================
	campus\library\css\common_new.css 에 있는 기본 CSS
===================================================================== */
textarea,button,input{ border:0;}
button::-moz-focus-inner {padding:0;border:0;} /*파이어폭스 버튼 전용*/
ul,ol,li{list-style:none}
img, fieldset{border:none; vertical-align:top}
a{text-decoration:none; color:inherit;}
a:hover, a:focus, a:active, a:visit {text-decoration:none;}
table{width:100%; border-collapse:collapse; border-spacing:0;}
table td,table th{vertical-align:top;}
button{margin:0; padding:0; background:none; cursor:pointer; border:none;}
em{font-style:normal;}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
pre{white-space: pre-wrap; word-wrap: break-word;}



/* ==================================================================
	REM 세팅 
===================================================================== */
/* 모바일 기준 (기본값) */
html {
  font-size: 62.5%; /* 1rem = 10px (16px × 0.625) */
}
body {
  font-size: 1.5rem; /* = 15px */
  /*margin: 5rem;*/      /* = 50px */
}

/* 태블릿 (768px 이상) */
@media (min-width: 768px) {
  html {
    font-size: 62.5%; 
    /* 현재는 모바일과 동일 비율 유지 (1rem = 10px) */
    /* 필요 시 여기만 퍼센트 조절해서 전체 rem 크기 일괄 스케일 조정 가능 */
    /* 예: 66.67% → 1rem = 10.67px → 1.5rem = 16px */
  }
  body {
    font-size: 1.6rem; /* = 16px (폰트 크기만 조절) */
    /*margin: 5rem;*/      /* = 50px */
  }
}


/* PC (1200px 이상) */
@media (min-width: 1200px) {
  body {
    font-size: 1.6rem; /* = 16px */
    /*margin: 5rem;*/      /* = 50px */
  }
}


