$font-noto: 'Noto Sans KR', '맑은 고딕', 'Malgun Gothic', 'Apple SD Gothic Neo', 'Dotum', '돋움', 'Gulim', '굴림', '굴림체', Sans-Serif;
$font-malgun: 'MalGun Gothic', '맑은고딕', 'dotum';
$font-roboto: 'Roboto', 'Noto Sans KR', '맑은 고딕', 'Malgun Gothic', 'Apple SD Gothic Neo', 'Dotum', '돋움', 'Gulim', '굴림', '굴림체', Sans-Serif;
$font-albert: 'Albert Sans', sans-serif;

//color
$color-primary: #0f3f8a;
$color-primary-light: #003198;
$color-main:#0044ac;

$color-blue:#0e61c7;

$color-white:#fff;
$color-black:#000;

