$color-white: #fff;
$color-black: #000;
$color-lightblack: #333;


$color-blue: #4c57e6;
$color-lightblue: #5b74f0;
$color-darkblue: #434999;
$color-yellow: #ffe139;
$color-darkyellow: #ddbf1a;

$color-gray: #dadada;
$color-darkGray: #9aa1ab;
$color-lightGray: #dee3eb;
$color-gray-a: #ddd;
$color-gray-b: #eee;

$color-red: #ff2d2d;
$color-pink: #ffdbdb;

$aside-width: 250px;

$mobile-side: 1.7rem;

$font-verdana: 'Verdana', 'Noto Sans KR', sans-serif, '맑은고딕','Malgun Gothic','돋움', Dotum, '굴림', Gulim, Tahoma, sans-serif, verdana, AppleGothic;

$font-tahoma: 'Tahoma', 'Noto Sans KR', sans-serif, '맑은고딕','Malgun Gothic','돋움', Dotum, '굴림', Gulim, Tahoma, sans-serif, verdana, AppleGothic;


