@charset "UTF-8";
.grid, .product-eco .sector-price .price-list, .product-eco .sector-curriculum .curriculum-step {
  *zoom: 1;
}

.grid:before, .product-eco .sector-price .price-list:before, .product-eco .sector-curriculum .curriculum-step:before, .grid:after, .product-eco .sector-price .price-list:after, .product-eco .sector-curriculum .curriculum-step:after {
  content: '';
  display: table;
}

.grid:after, .product-eco .sector-price .price-list:after, .product-eco .sector-curriculum .curriculum-step:after {
  clear: both;
}

.hidden,
.sr_only,
.sr-only,
.popup .popup-close span {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.grid, .product-eco .sector-price .price-list {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.grid .col, .product-eco .sector-price .price-list .col {
  position: relative;
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.table {
  display: table;
}

.table .table-cell {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

.effect-bounce-diagonal {
  -webkit-animation-name: effectBounceDiagonal;
          animation-name: effectBounceDiagonal;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes effectBounceDiagonal {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}

@keyframes effectBounceDiagonal {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}

.effect-bounce-updown {
  -webkit-animation-name: effectBounceUpDown;
          animation-name: effectBounceUpDown;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes effectBounceUpDown {
  0%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@keyframes effectBounceUpDown {
  0%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

.effect-extend {
  -webkit-animation-name: effectExtend;
          animation-name: effectExtend;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes effectExtend {
  0%, 100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
}

@keyframes effectExtend {
  0%, 100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
}

.effect-blink {
  -webkit-animation-name: effectBlink;
          animation-name: effectBlink;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: step-end;
          animation-timing-function: step-end;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes effectBlink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes effectBlink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.promotion,
.product-eco,
.fullservice {
  text-align: center;
}

.promotion [class^="sector-"],
.product-eco [class^="sector-"],
.fullservice [class^="sector-"] {
  position: relative;
}

.promotion .wrap,
.product-eco .wrap,
.fullservice .wrap {
  position: relative;
  margin: 0 auto;
}

.promotion .wrap-full,
.product-eco .wrap-full,
.fullservice .wrap-full {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.popup-dim {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.7);
}

.popup {
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 200;
  display: none;
  width: 90%;
  max-width: 720px;
  letter-spacing: -1px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (min-width: 1100px) {
  .popup {
    max-width: 1000px;
  }
}

.popup * {
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
}

.popup .popup-close {
  position: absolute;
  top: -40px;
  right: 0;
  cursor: pointer;
}

.popup .popup-body {
  padding: 3.47222vw;
  text-align: left;
  line-height: 1.4;
  font-size: 2.5vw;
  font-weight: 400;
  color: #222;
  border: 2px solid #000;
  background-color: #fff;
}

@media screen and (min-width: 720px) {
  .popup .popup-body {
    padding: 25px;
  }
}

@media screen and (min-width: 720px) {
  .popup .popup-body {
    font-size: 18px;
  }
}

#fixApply.fix-apply {
  display: none !important;
}

.product-eco {
  overflow: hidden;
  text-align: center;
}

.product-eco * {
  line-height: normal;
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  font-size: inherit;
  color: inherit;
  letter-spacing: -1px;
}

.product-eco [class^="product-"],
.product-eco .item {
  position: relative;
}

.product-eco .wrap {
  width: 1300px;
}

.product-eco .eco-puri {
  display: inline-block;
}

.product-eco button {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  font-family: inherit;
  text-decoration: none;
  border: none;
  background: transparent;
  outline: 0;
  cursor: pointer;
}

.product-eco .only-pc {
  display: inline-block;
}

.product-eco .only-pcbr {
  display: block;
}

.product-eco .only-mobile {
  display: none;
}

.product-eco .fix-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 120px;
  z-index: 11;
  padding: 24px 0 0 0;
  background: rgba(0, 0, 0, 0.8);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.product-eco .fix-bottom .wrap strong {
  display: inline-block;
  font-size: 40px;
  font-weight: 900;
  color: #fff;
  letter-spacing: -2px;
}

.product-eco .fix-bottom .wrap strong em {
  color: #ffbf00;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  letter-spacing: -2px;
}

.product-eco .fix-bottom .wrap a {
  position: relative;
  display: inline-block;
  margin-left: 20px;
  width: 275px;
  height: 70px;
  text-align: center;
  vertical-align: top;
  border-radius: 100px;
  background: #fa5800;
  background: -webkit-gradient(linear, left top, right top, from(#fa5800), to(#eb260a));
  background: linear-gradient(to right, #fa5800 0%, #eb260a 100%);
}

.product-eco .fix-bottom .wrap a span {
  /*@include arrow(right, 12px, 12px, 3px, #fff);*/
  display: block;
  padding-right: 6px;
  font-size: 30px;
  font-weight: 900;
  color: #fff;
  line-height: 70px;
  letter-spacing: -2px;
}

.product-eco .fix-bottom .wrap a span:after {
  position: absolute;
  top: 50%;
  margin-top: -6px;
  right: 30px;
}

.product-eco .fix-bottom .wrap a {
  position: relative;
  display: inline-block;
}

.product-eco .fix-bottom .wrap a:after {
  content: '';
  position: absolute;
  top: 60%;
  right: 0;
  z-index: 1;
  display: block;
  width: 7.91667vw;
  height: 9.02778vw;
  background: url("//img.eduwill.net/Img2/Common/icon/pointer/icon_pointer_12.png") no-repeat 0 0;
  background-size: 100% auto;
  -webkit-animation-name: pointerBounceDiagonal;
          animation-name: pointerBounceDiagonal;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@media screen and (min-width: 720px) {
  .product-eco .fix-bottom .wrap a:after {
    width: 57px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .fix-bottom .wrap a:after {
    height: 65px;
  }
}

@-webkit-keyframes pointerBounceDiagonal {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}

@keyframes pointerBounceDiagonal {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}

.product-eco .fix-right {
  position: fixed;
  bottom: 120px;
  right: 0;
  z-index: 10;
}

.product-eco .fix-right.fix-full {
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

.product-eco .fix-right.fix-full a {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.product-eco .fix-right a {
  position: relative;
  z-index: 1;
  display: inline-block;
}

.product-eco .fix-right .text {
  position: absolute;
  top: 20px;
  left: 45px;
  font-size: 28px;
  font-weight: 600;
  color: #fff;
}

.product-eco .fix-right .text .title {
  display: block;
}

.product-eco .fix-right .text .day {
  display: inline-block;
}

.product-eco .fix-right .text-2 {
  position: absolute;
  top: 130px;
  left: 63px;
  font-size: 56px;
  font-weight: 600;
  color: #fff;
}

.product-eco .fix-bottom-timer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  padding: 20px 0 15px;
  background: #000;
}

.product-eco .fix-bottom-timer .wrap {
  display: table;
}

.product-eco .fix-bottom-timer .wrap > div {
  display: table-cell;
  vertical-align: middle;
}

.product-eco .fix-bottom-timer .timer-tag {
  padding: 3px 32px;
  border-radius: 40px;
  background-color: #ffbf00;
}

.product-eco .fix-bottom-timer .timer-tag span {
  line-height: 1.3;
  font-size: 20px;
  font-weight: 900;
  color: #000;
}

.product-eco .fix-bottom-timer .timer-day {
  text-align: left;
}

.product-eco .fix-bottom-timer .timer-day span {
  line-height: 1.3;
  font-size: 17px;
  font-weight: 900;
  color: #fff;
  letter-spacing: 0;
}

.product-eco .fix-bottom-timer .timer-day span strong {
  color: #ffbf00;
}

.product-eco .fix-bottom-timer .timer-pass {
  font-size: 0;
}

.product-eco .fix-bottom-timer .timer-pass > div {
  display: inline-block;
  line-height: 1;
}

.product-eco .fix-bottom-timer .timer-pass span {
  display: inline-block;
  margin: 0 2px;
  width: 44px;
  height: 60px;
  text-align: center;
  vertical-align: middle;
  line-height: 60px;
  font-size: 44px;
  font-weight: 900;
  color: #000;
  background: url("//img.eduwill.net/eduwill/img/2022/G/common/bg/bg_timer_white.png") no-repeat 50% 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.product-eco .fix-bottom-timer .timer-pass em {
  display: inline-block;
  height: 60px;
  padding: 0 5px;
  vertical-align: middle;
  line-height: 60px;
  font-size: 20px;
  font-weight: 700;
  color: #fbf8f4;
}

.product-eco .fix-bottom-timer .timer-action a {
  position: relative;
  display: inline-block;
}

.product-eco .fix-bottom-timer .timer-action a:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
  display: block;
  width: 5.27778vw;
  height: 5.97222vw;
  background: url("//img.eduwill.net/Img2/Common/icon/pointer/icon_pointer_12.png") no-repeat 0 0;
  background-size: 100% auto;
  -webkit-animation-name: pointerBounceDiagonal;
          animation-name: pointerBounceDiagonal;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@media screen and (min-width: 720px) {
  .product-eco .fix-bottom-timer .timer-action a:after {
    width: 38px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .fix-bottom-timer .timer-action a:after {
    height: 43px;
  }
}

@-webkit-keyframes pointerBounceDiagonal {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}

@keyframes pointerBounceDiagonal {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}

.product-eco p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #666;
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
}

.product-eco p.fly, .product-eco p.eco {
  position: absolute;
}

.product-eco .grounds-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.4);
}

.product-eco .asterisk {
  display: inline-block;
  font-weight: 300;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.6);
}

.product-eco .point-1 {
  color: #fdcf0e;
}

.product-eco .point-2 {
  color: #ff7200;
}

.product-eco .point-3 {
  color: #0939b2;
}

.product-eco .point-4 {
  color: #ea1d00;
}

.product-eco .point-5 {
  color: #1848c2;
}

.product-eco .highlight {
  display: inline-block;
  position: relative;
  font-weight: 900;
  padding: 0 5px;
  z-index: 1;
}

.product-eco .highlight:before {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 22px;
  background: #f9c400;
  z-index: -1;
}

.product-eco .slider-contents {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.product-eco .slick-dots {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  font-size: 0;
  text-align: right;
}

.product-eco .slick-dots li {
  display: inline-block;
  margin: 0 0.1875rem;
}

@media screen and (min-width: 720px) {
  .product-eco .slick-dots li {
    margin: 0 6px;
  }
}

.product-eco .slick-dots li.slick-active button {
  width: 2.875rem;
  border-radius: 1.5625rem;
  background-color: #ffbe00;
}

@media screen and (min-width: 720px) {
  .product-eco .slick-dots li.slick-active button {
    width: 92px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .slick-dots li.slick-active button {
    border-radius: 50px;
  }
}

.product-eco .slick-dots button {
  display: block;
  width: 1rem;
  height: 0.9375rem;
  color: transparent;
  border: none;
  border-radius: 50%;
  background-color: #bbb;
  outline: none;
  cursor: pointer;
}

@media screen and (min-width: 720px) {
  .product-eco .slick-dots button {
    width: 32px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .slick-dots button {
    height: 30px;
  }
}

.product-eco .slick-arrow {
  border-radius: 50%;
}

.product-eco .slick-arrow.slick-prev {
  position: absolute;
  top: 50%;
  z-index: 10;
  display: block;
  width: 8.33333vw;
  height: 8.33333vw;
  margin: 0;
  padding: 0;
  font-size: 0;
  color: transparent;
  text-indent: -9999px;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  left: 30px;
}

@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-prev {
    width: 60px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-prev {
    height: 60px;
  }
}

.product-eco .slick-arrow.slick-prev:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 2.08333vw;
  height: 2.08333vw;
  border-width: 0;
  border-style: solid;
  border-color: #fff;
  border-bottom-width: 2px;
  border-left-width: 2px;
  -webkit-transform: translate(-25%, -50%) rotate(45deg);
  transform: translate(-25%, -50%) rotate(45deg);
}

@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-prev:before {
    width: 15px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-prev:before {
    height: 15px;
  }
}

.product-eco .slick-arrow.slick-next {
  position: absolute;
  top: 50%;
  z-index: 10;
  display: block;
  width: 8.33333vw;
  height: 8.33333vw;
  margin: 0;
  padding: 0;
  font-size: 0;
  color: transparent;
  text-indent: -9999px;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  right: 30px;
}

@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-next {
    width: 60px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-next {
    height: 60px;
  }
}

.product-eco .slick-arrow.slick-next:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 2.08333vw;
  height: 2.08333vw;
  border-width: 0;
  border-style: solid;
  border-color: #fff;
  border-top-width: 2px;
  border-right-width: 2px;
  -webkit-transform: translate(-75%, -50%) rotate(45deg);
  transform: translate(-75%, -50%) rotate(45deg);
}

@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-next:before {
    width: 15px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-next:before {
    height: 15px;
  }
}

.product-eco .action {
  margin-top: 12px;
}

.product-eco .action a {
  display: inline-block;
  padding: 14px 50px 15px;
  border: 1px solid #222;
  border-radius: 60px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.product-eco .action a span {
  position: relative;
  display: block;
  padding-right: 30px;
  font-size: 20px;
  font-weight: 700;
  color: #222;
  letter-spacing: -1px;
}

.product-eco .action a span::after {
  content: '→';
  position: absolute;
  top: 50%;
  right: 0;
  line-height: 1;
  font-family: cursive;
  font-weight: 400;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.product-eco .action.type-2 a {
  width: 316px;
  height: 56px;
  padding: 0;
  border-radius: 50px;
  background: #fff;
  border: 1px solid #e2e2e2;
  -webkit-box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.1);
}

.product-eco .action.type-2 a span {
  display: block;
  padding-left: 30px;
  line-height: 54px;
  font-size: 21px;
  font-weight: 700;
  color: #222;
  letter-spacing: -1.5px;
  background: none;
}

.product-eco .action.type-2 a span {
  position: relative;
  display: inline-block;
}

.product-eco .action.type-2 a span:before {
  content: '';
  position: absolute;
  top: 50%;
  display: block;
  width: 1.11111vw;
  height: 1.11111vw;
  margin-top: -0.55556vw;
  border-width: 0;
  border-style: solid;
  border-color: #000;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  right: 2.22222vw;
  border-top-width: 2px;
  border-right-width: 2px;
}

@media screen and (min-width: 720px) {
  .product-eco .action.type-2 a span:before {
    width: 8px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .action.type-2 a span:before {
    height: 8px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .action.type-2 a span:before {
    margin-top: -4px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .action.type-2 a span:before {
    right: 16px;
  }
}

.product-eco .action.type-2 a span:before {
  right: 0;
}

.product-eco .action.type-2 a span:after {
  display: none;
}

.product-eco .action.cop, .product-eco .action.fire, .product-eco .action.post, .product-eco .action.seven {
  display: none;
}

.product-eco .action.gov {
  display: block;
}

.product-eco .comm-title {
  margin-bottom: 45px;
  letter-spacing: -2px;
  font-size: 50px;
  text-align: left;
  font-weight: 900;
  line-height: 1.4;
  color: #000;
}

.product-eco .comm-sub-title {
  padding-left: 28px;
  letter-spacing: -2px;
  font-size: 40px;
  position: relative;
  text-align: left;
  font-weight: 900;
  color: #000;
  line-height: 1;
  border-left: 1px solid #c1c1c1;
}

.product-eco .comm-sub-title .highlight {
  padding: 0 5px;
  font-size: 40px;
  display: inline-block;
  position: relative;
  z-index: 1;
  font-weight: 900;
  line-height: 1;
}

.product-eco .comm-sub-title .highlight:before {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 15px;
  background: #f9c400;
  z-index: -1;
}

.product-eco .comm-sub-title em {
  position: relative;
  color: #222;
  vertical-align: bottom;
  top: 5px;
  font-size: 22px;
}

.product-eco .comm-sub-title .sub-title {
  margin-top: 16px;
  letter-spacing: -2px;
  font-size: 30px;
  font-weight: 300;
  line-height: 1.4;
  color: #000;
}

.product-eco .comm-sub-title .grounds-text {
  margin-top: 20px;
  font-weight: 400;
  color: #afafaf;
}

.product-eco .section-title {
  position: relative;
  text-align: left;
  line-height: 1.3;
  font-size: 50px;
  font-weight: 900;
  color: #000;
  letter-spacing: -2px;
}

.product-eco .section-title.title-white {
  color: #fff;
}

.product-eco .section-title.title-center {
  text-align: center;
}

.product-eco .section-title em {
  display: inline-block;
  margin-left: 3px;
  vertical-align: middle;
  font-size: 16px;
  color: #707070;
}

.product-eco .section-title em.star {
  vertical-align: top;
  font-size: 20px;
  color: inherit;
}

.product-eco .section-title .small-title {
  display: inline-block;
  font-size: 36px;
}

.product-eco .section-title .sub-title {
  display: block;
  margin-top: 16px;
  font-size: 30px;
  font-weight: 300;
  color: inherit;
  letter-spacing: -2px;
}

.product-eco .section-title .grounds-text {
  margin-top: 20px;
  font-weight: 400;
  color: #afafaf;
}

.product-eco [class^="sector-"] .section-title {
  font-size: 60px;
}

.product-eco .product-system {
  padding: 100px 0 115px;
}

.product-eco .product-system .wrap {
  width: 1200px;
}

.product-eco .product-system .action {
  position: absolute;
  top: 300px;
  left: 700px;
  z-index: 1;
}

.product-eco .product-system .grounds-text {
  margin-top: 15px;
  text-align: left;
  color: #afafaf;
  line-height: 1.4;
  font-weight: 400;
}

.product-eco .product-life {
  padding-bottom: 115px;
}

.product-eco .product-life .wrap {
  width: 1200px;
}

.product-eco .product-puri {
  padding-bottom: 115px;
}

.product-eco .product-puri .wrap {
  width: 1200px;
}

.product-eco .product-puri .action {
  position: absolute;
  top: 258px;
  left: 682px;
  z-index: 1;
}

.product-eco .product-king {
  padding-bottom: 50px;
}

.product-eco .product-king .wrap {
  width: 1200px;
}

.product-eco .product-king .slider-contents {
  position: absolute;
  top: 110px;
  left: 0;
  width: 600px;
  height: 226px;
  overflow: hidden;
  z-index: 1;
}

.product-eco .product-king .slider-contents .slick-slide .col {
  border-bottom: 1px solid #b2b2b2;
}

.product-eco .product-king .slider-contents .slick-slide .col strong {
  display: inline-block;
  line-height: 56px;
  font-size: 20px;
  font-weight: 700;
  color: #000;
  letter-spacing: -1.5px;
}

.product-eco .product-king .slider-contents .slick-slide .col strong.num {
  width: 100px;
  text-align: center;
}

.product-eco .product-king .slider-contents .slick-slide .col strong.desc {
  width: 490px;
  text-align: left;
  padding-left: 10px;
  font-weight: 400;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.product-eco .product-king .slider-contents .slick-slide .col strong.desc .ea {
  display: inline-block;
  margin-left: 5px;
  color: #ffa300;
}

.product-eco .product-king .action {
  position: absolute;
  top: 378px;
  left: 663px;
  z-index: 1;
}

.product-eco .product-program .wrap,
.product-eco .product-mock .wrap {
  width: 1200px;
}

.product-eco .product-program .grounds-text,
.product-eco .product-mock .grounds-text {
  position: absolute;
  top: 210px;
  left: 710px;
  text-align: left;
  font-size: 17px;
}

.product-eco .product-program .grounds-text span,
.product-eco .product-mock .grounds-text span {
  display: block;
}

.product-eco .sector-title {
  background-color: #f2f94e;
  background-image: url("//img.eduwill.net/eduwill/img/2022/G/product/220607/pc/bg_title.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.product-eco .sector-winner {
  padding-bottom: 90px;
}

.product-eco .sector-winner .wrap::after {
  content: "";
  width: 597px;
  height: 834px;
  position: absolute;
  top: 248px;
  right: -205px;
  background-image: url("//img.eduwill.net/eduwill/img/2022/G/product/220607/pc/throphy.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.product-eco .sector-winner .section-title {
  text-align: center;
}

.product-eco .sector-winner .review-video {
  text-align: left;
}

.product-eco .sector-winner .review-box {
  width: 1020px;
  position: relative;
  margin-top: -75px;
}

.product-eco .sector-winner .review-box .review-list::before {
  content: '';
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 1;
  width: 20px;
  height: 480px;
  background-color: #fff;
}

.product-eco .sector-winner .review-box .review-list-info {
  position: absolute;
  bottom: 4px;
  right: 170px;
  text-align: right;
  font-size: 16px;
  font-weight: 500;
}

.product-eco .sector-winner .review-box .slick-slide {
  margin: 0 -30px;
  width: 548px !important;
}

.product-eco .sector-winner .review-box .slick-arrow {
  border-radius: 0;
}

.product-eco .sector-winner .review-box .slick-arrow.slick-prev {
  position: absolute;
  top: 50%;
  z-index: 10;
  display: block;
  width: 4.16667vw;
  height: 4.16667vw;
  margin: 0;
  padding: 0;
  font-size: 0;
  color: transparent;
  text-indent: -9999px;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  background: #fff;
  top: 540px;
  right: 120px;
  left: auto;
  border: 1px solid #eee;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-winner .review-box .slick-arrow.slick-prev {
    width: 30px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .sector-winner .review-box .slick-arrow.slick-prev {
    height: 30px;
  }
}

.product-eco .sector-winner .review-box .slick-arrow.slick-prev:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 1.04167vw;
  height: 1.04167vw;
  border-width: 0;
  border-style: solid;
  border-color: #808080;
  border-bottom-width: 1px;
  border-left-width: 1px;
  -webkit-transform: translate(-25%, -50%) rotate(45deg);
  transform: translate(-25%, -50%) rotate(45deg);
}

@media screen and (min-width: 720px) {
  .product-eco .sector-winner .review-box .slick-arrow.slick-prev:before {
    width: 7.5px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .sector-winner .review-box .slick-arrow.slick-prev:before {
    height: 7.5px;
  }
}

.product-eco .sector-winner .review-box .slick-arrow.slick-next {
  position: absolute;
  top: 50%;
  z-index: 10;
  display: block;
  width: 4.16667vw;
  height: 4.16667vw;
  margin: 0;
  padding: 0;
  font-size: 0;
  color: transparent;
  text-indent: -9999px;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0;
  background: #fff;
  top: 540px;
  right: 90px;
  border: 1px solid #eee;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-winner .review-box .slick-arrow.slick-next {
    width: 30px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .sector-winner .review-box .slick-arrow.slick-next {
    height: 30px;
  }
}

.product-eco .sector-winner .review-box .slick-arrow.slick-next:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 1.04167vw;
  height: 1.04167vw;
  border-width: 0;
  border-style: solid;
  border-color: #808080;
  border-top-width: 1px;
  border-right-width: 1px;
  -webkit-transform: translate(-75%, -50%) rotate(45deg);
  transform: translate(-75%, -50%) rotate(45deg);
}

@media screen and (min-width: 720px) {
  .product-eco .sector-winner .review-box .slick-arrow.slick-next:before {
    width: 7.5px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .sector-winner .review-box .slick-arrow.slick-next:before {
    height: 7.5px;
  }
}

.product-eco .sector-winner .grounds-text {
  text-align: left;
  margin-top: 25px;
  margin-left: 50px;
}

.product-eco .sector-winner .action {
  margin-top: 50px;
}

.product-eco .sector-benefit {
  background: #85daff;
}

.product-eco .sector-event {
  background: #ffd200;
}

.product-eco .sector-event .pollen {
  position: absolute;
  top: -130px;
  left: -270px;
}

.product-eco .sector-banner-1 {
  background-color: #050300;
  background-image: url("//img.eduwill.net/eduwill/img/2022/G/product/220607/pc/bg_banner_1.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.product-eco .sector-banner-2 {
  background-color: #050300;
  background-image: url("//img.eduwill.net/eduwill/img/2022/G/product/220607/pc/bg_banner_2.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.product-eco .sector-banner-2 .gift {
  position: absolute;
  top: 119px;
  left: 0;
  z-index: 1;
}

.product-eco .sector-banner-3 {
  padding-bottom: 25px;
  background: #1848c2;
}

.product-eco .sector-banner-3 .section-title {
  padding-top: 60px;
}

.product-eco .sector-banner-3 .grounds-text {
  margin-top: 5px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
}

.product-eco .sector-check-1 .wrap {
  z-index: 1;
}

.product-eco .sector-check-1 .content {
  margin-bottom: -320px;
}

.product-eco .sector-check-2 {
  background: #ebf9ff;
}

.product-eco .sector-price .price-list {
  position: absolute;
  top: 1166px;
  left: 227px;
  z-index: 1;
}

.product-eco .sector-price .price-list .col {
  position: relative;
  margin-left: 27px;
  width: 322px;
  height: 530px;
}

.product-eco .sector-price .price-list .col .price-box {
  padding-top: 40px;
  text-align: center;
  color: #222;
  font-size: 22px;
  font-weight: 700;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.product-eco .sector-price .price-list .col .price-box .before-price {
  font-size: 28px;
  font-weight: 400;
  color: #a3a3a3;
  text-decoration: line-through;
  margin-bottom: 44px;
}

.product-eco .sector-price .price-list .col .price-box .before-price strong {
  font-weight: 500;
}

.product-eco .sector-price .price-list .col .price-box .after-price {
  display: inline-block;
  font-size: 51px;
  font-weight: 900;
  color: #e82b2b;
  margin-top: 3px;
}

.product-eco .sector-price .price-list .col .price-box .after-price span {
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  font-size: 56px;
  font-weight: 900;
  color: #ea3a3a;
  letter-spacing: -2px;
}

.product-eco .sector-price .price-list .col .price-box .notice {
  display: block;
  font-size: 14px;
  font-weight: 400;
  color: #a3a3a3;
}

.product-eco .sector-price .price-list .col .price-box .notice + .btn-price {
  margin-top: 35px;
}

.product-eco .sector-price .price-list .col .price-box .icon {
  position: relative;
  margin-top: 44px;
}

.product-eco .sector-price .price-list .col .price-box .icon span {
  position: absolute;
  top: 10px;
  left: 70px;
  color: #fff;
  font-size: 28px;
  line-height: 1.3;
}

.product-eco .sector-price .price-list .col .price-box .btn-price {
  margin-top: 55px;
}

.product-eco .sector-price .price-list .col .price-box .btn-price {
  position: relative;
  display: inline-block;
}

.product-eco .sector-price .price-list .col .price-box .btn-price:after {
  content: '';
  position: absolute;
  top: 65%;
  right: -2%;
  z-index: 1;
  display: block;
  width: 7.91667vw;
  height: 9.02778vw;
  background: url("//img.eduwill.net/Img2/Common/icon/pointer/icon_pointer_12.png") no-repeat 0 0;
  background-size: 100% auto;
  -webkit-animation-name: pointerBounceDiagonal;
          animation-name: pointerBounceDiagonal;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-price .price-list .col .price-box .btn-price:after {
    width: 57px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .sector-price .price-list .col .price-box .btn-price:after {
    height: 65px;
  }
}

@-webkit-keyframes pointerBounceDiagonal {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}

@keyframes pointerBounceDiagonal {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}

.product-eco .sector-price .price-list .col.item-1 {
  margin-left: 0;
}

.product-eco .sector-step {
  padding-bottom: 100px;
  background: #fffee7;
}

.product-eco .sector-graph {
  padding-bottom: 80px;
  background-color: #eef6f9;
}

.product-eco .sector-graph .section-title {
  padding: 60px 0 0 50px;
}

.product-eco .sector-graph .graph-list {
  font-size: 0;
}

.product-eco .sector-graph .graph-list > div {
  display: inline-block;
  margin: 0 -20px;
}

.product-eco .sector-graph .grounds-text {
  margin-right: 50px;
  text-align: right;
}

.product-eco .sector-review {
  padding-bottom: 100px;
  background: #fdcf0e;
}

.product-eco .sector-review::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 1;
  display: block;
  width: 309px;
  height: 75px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-image: url("//img.eduwill.net/eduwill/img/2022/G/product/220607/pc/bg_review_tail.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto;
}

.product-eco .sector-review .slick-arrow.slick-prev {
  left: 50%;
  margin-left: -500px;
}

.product-eco .sector-review .slick-arrow.slick-next {
  right: 50%;
  margin-right: -500px;
}

.product-eco .sector-review .section-title {
  padding-top: 60px;
  line-height: 1.4;
}

.product-eco .sector-teacher {
  padding-bottom: 100px;
}

.product-eco .sector-teacher .wrap {
  width: 1200px;
}

.product-eco .sector-teacher .section-title {
  width: 1200px;
  margin: 100px auto 0;
}

.product-eco .sector-teacher .action {
  width: 1100px;
  margin: 0 auto;
  text-align: right;
}

.product-eco .sector-teacher .action a {
  display: inline-block;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}

.product-eco .sector-teacher .slick-arrow {
  margin-top: -150px;
}

.product-eco .sector-teacher .slick-arrow.slick-prev {
  left: 50%;
  margin-left: -600px;
}

.product-eco .sector-teacher .slick-arrow.slick-next {
  right: 50%;
  margin-right: -600px;
}

.product-eco .sector-teacher .teacher-list {
  position: relative;
}

.product-eco .sector-teacher .teacher-list [class^="teacher-"] {
  position: relative;
}

.product-eco .sector-teacher .teacher-list [class^="teacher-"] .text {
  position: absolute;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .sector-teacher .teacher-list.list-slide {
  margin-top: 80px;
  padding-bottom: 55px;
}

.product-eco .sector-teacher .teacher-list.list-slide::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100px;
  background: #fdcf0e;
}

.product-eco .sector-teacher .teacher-list.list-slide [class^="teacher-"] {
  margin: 0 40px;
}

.product-eco .sector-teacher .teacher-list.list-slide [class^="teacher-"] .text {
  top: 0;
  left: 50%;
  margin-left: 50px;
  opacity: 0;
}

.product-eco .sector-teacher .teacher-list.list-slide [class^="teacher-"].teacher-2 .text,
.product-eco .sector-teacher .teacher-list.list-slide [class^="teacher-"].teacher-3 .text {
  margin-left: 80px;
}

.product-eco .sector-teacher .teacher-list.list-slide [class^="teacher-"].teacher-4 .text {
  margin-left: 60px;
}

.product-eco .sector-teacher .teacher-list.list-slide .slick-active .text {
  opacity: 1;
}

.product-eco .sector-teacher .teacher-list.list-card {
  margin: 13px -7px;
  text-align: left;
}

.product-eco .sector-teacher .teacher-list.list-card > div {
  position: relative;
  display: inline-block;
  width: 156px;
  margin: 7px;
  background: #d4d4d4;
}

.product-eco .sector-teacher .teacher-list.list-card > div a {
  position: relative;
  z-index: 1;
  display: block;
}

.product-eco .sector-teacher .teacher-list.list-card > div a::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  display: block;
  width: 100%;
  height: 72px;
  background: #fdcf0e;
}

.product-eco .sector-teacher .teacher-list.list-card > div a .text {
  position: absolute;
  bottom: 10px;
  left: 10px;
  text-align: left;
}

.product-eco .sector-teacher .teacher-list.list-card > div a .text span {
  display: block;
  font-size: 15px;
  font-weight: 300;
  color: #000;
}

.product-eco .sector-teacher .teacher-list.list-card > div a .text span.name {
  font-weight: 900;
}

.product-eco .sector-teacher .teacher-list.list-card > div img {
  width: 100%;
}

.product-eco .sector-teacher .teacher-list.list-masonry {
  margin: 20px -7px;
  text-align: left;
}

.product-eco .sector-teacher .teacher-list.list-masonry > div {
  position: relative;
  display: inline-block;
  width: 156px;
  margin: 0 7px 14px;
  vertical-align: top;
  background: #d4d4d4;
}

.product-eco .sector-teacher .teacher-list.list-masonry > div.teacher-yellow {
  background: #fdcf0e;
}

.product-eco .sector-teacher .teacher-list.list-masonry > div a {
  position: relative;
  z-index: 1;
  display: block;
}

.product-eco .sector-teacher .teacher-list.list-masonry > div a:hover::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.product-eco .sector-teacher .teacher-list.list-masonry > div a:hover .text {
  display: block;
}

.product-eco .sector-teacher .teacher-list.list-masonry > div a .text {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 1;
  display: none;
}

.product-eco .sector-teacher .teacher-list.list-masonry > div a .text span {
  display: block;
  font-size: 15px;
  font-weight: 300;
  color: #fff;
}

.product-eco .sector-teacher .teacher-list.list-masonry > div a .text span.name {
  font-weight: 900;
}

.product-eco .sector-teacher .teacher-list.list-masonry > div img {
  width: 100%;
}

.product-eco .sector-teacher .fold-box .teacher-list + .action {
  margin-top: 50px;
  text-align: center;
}

.product-eco .sector-teacher .fold-box .teacher-list + .action .teacher-list-more span {
  font-size: 20px;
}

.product-eco .sector-teacher .fold-box .teacher-list + .action .teacher-list-more span {
  position: relative;
  display: inline-block;
}

.product-eco .sector-teacher .fold-box .teacher-list + .action .teacher-list-more span:before {
  content: '';
  position: absolute;
  top: 50%;
  display: block;
  width: 1.38889vw;
  height: 1.38889vw;
  margin-top: -0.69444vw;
  border-width: 0;
  border-style: solid;
  border-color: #000;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-top-width: 2px;
  border-left-width: 2px;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-teacher .fold-box .teacher-list + .action .teacher-list-more span:before {
    width: 10px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .sector-teacher .fold-box .teacher-list + .action .teacher-list-more span:before {
    height: 10px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .sector-teacher .fold-box .teacher-list + .action .teacher-list-more span:before {
    margin-top: -5px;
  }
}

.product-eco .sector-teacher .fold-box .teacher-list + .action .teacher-list-more span::before {
  right: 0;
}

.product-eco .sector-teacher .fold-box .teacher-list + .action .teacher-list-more span::after {
  display: none;
}

.product-eco .sector-teacher .fold-box.list-fold .list-masonry {
  height: 680px;
  overflow: hidden;
}

.product-eco .sector-teacher .fold-box.list-fold .list-masonry + .action .teacher-list-more span {
  position: relative;
  display: inline-block;
}

.product-eco .sector-teacher .fold-box.list-fold .list-masonry + .action .teacher-list-more span:before {
  content: '';
  position: absolute;
  top: 50%;
  display: block;
  width: 1.38889vw;
  height: 1.38889vw;
  margin-top: -0.69444vw;
  border-width: 0;
  border-style: solid;
  border-color: #000;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-bottom-width: 2px;
  border-right-width: 2px;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-teacher .fold-box.list-fold .list-masonry + .action .teacher-list-more span:before {
    width: 10px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .sector-teacher .fold-box.list-fold .list-masonry + .action .teacher-list-more span:before {
    height: 10px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .sector-teacher .fold-box.list-fold .list-masonry + .action .teacher-list-more span:before {
    margin-top: -5px;
  }
}

.product-eco .sector-book {
  padding-bottom: 100px;
  background-color: #ebecef;
  background-image: url("//img.eduwill.net/eduwill/img/2022/G/product/220607/pc/bg_book.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.product-eco .sector-book .wrap {
  width: 1200px;
}

.product-eco .sector-book .section-title {
  padding-top: 100px;
}

.product-eco .sector-book .section-title .sub-title + a {
  display: inline-block;
  vertical-align: top;
  margin-top: 20px;
}

.product-eco .sector-book .item {
  margin-top: 20px;
}

.product-eco .sector-book .item .flag {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-animation-name: flagMoving;
          animation-name: flagMoving;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes flagMoving {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}

@keyframes flagMoving {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}

.product-eco .sector-curriculum .wrap {
  width: 1200px;
}

.product-eco .sector-curriculum .section-title {
  margin: 80px 0 0 0;
}

.product-eco .sector-curriculum .curriculum-step {
  position: absolute;
  top: 50px;
  right: 150px;
  left: 100px;
}

.product-eco .sector-curriculum .step {
  float: left;
  display: table;
  width: 234px;
  height: 234px;
  margin: 20px 40px;
  text-align: center;
  border: 10px solid #d5d5d5;
  border-radius: 50%;
  background: #fff;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.product-eco .sector-curriculum .step.on {
  border-color: #ffd908;
  -webkit-box-shadow: 0 0 20px 0 rgba(255, 159, 38, 0.6);
  box-shadow: 0 0 20px 0 rgba(255, 159, 38, 0.6);
}

.product-eco .sector-curriculum .step.on .step-box .label-title {
  background: #ffd908;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.product-eco .sector-curriculum .step.step-4, .product-eco .sector-curriculum .step.step-5, .product-eco .sector-curriculum .step.step-6 {
  float: right;
}

.product-eco .sector-curriculum .step .step-box {
  display: table-cell;
  vertical-align: middle;
}

.product-eco .sector-curriculum .step .step-box .label-title {
  display: inline-block;
  margin-bottom: 12px;
  width: 110px;
  height: 40px;
  line-height: 42px;
  text-align: center;
  font-weight: 700;
  font-size: 22px;
  color: #000;
  letter-spacing: -1px;
  border-radius: 50px;
  background: #dedede;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  /*@include linear-gradient(to bottom, #ededed 0%, #dedede 100%);*/
}

.product-eco .sector-curriculum .step .step-box dl dt {
  margin-bottom: 10px;
  font-weight: 900;
  font-size: 28px;
  line-height: 1.3;
  letter-spacing: -2px;
  color: #000;
}

.product-eco .sector-curriculum .step .step-box dl dd {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: -2px;
  color: #000;
}
/*# sourceMappingURL=web.css.map */