* {margin:0;padding:0;}
body {padding:0;margin:0 auto;}
#guidegnb_box {display:block;position:relative;top:0px;left:0;margin:0;padding:0;font-size:0;line-height:0;height:100px;}

#guidegnb {display:block;width:1200px;margin:0;padding:0;}
#guidegnb ul {display:block;width:100%;margin:0;padding:0;}
#guidegnb ul li {display:inline-block;float:left;width:12.5%;}
#guidegnb ul li a {display:block;width:100%;padding:15px 0;border-right:1px solid #eee;border-bottom:2px solid #333;text-align:center;font-size:15px;line-height:15px;}
#guidegnb ul .current {background:#333;color:white;border-right:1px solid #333;}

#guidesgnb {display:block;width:1200px;margin:0;padding:0;}
#guidesgnb ul {float:left;display:block;width:100%;margin:0;padding:0;}
#guidesgnb ul li {display:inline-block;float:left;width:12.5%;}
#guidesgnb ul li a {display:block;width:100%;height:20px;padding:10px 0;border-right:1px solid #eee;border-bottom:1px solid #333;text-align:center;font-size:14px;line-height:14px;}
#guidesgnb ul .current {background:#444555;color:white;border-right:1px solid #333;}


#div_web {float:left;width:75%;text-align:center;}
#div_web_block {float:left;display:block;width:31%;min-height:300px;margin:10px 15px 30px 0;padding:0 0 10px 0;border-top:2px solid #73d3d3;border-bottom:2px solid #73d3d3;}
#div_web_block dt {float:left;display:block;width:100%;height:30px;padding:0 0 4px 0;margin:0 0 8px 0;line-height:30px;background:#d6edef;}

/* 화살표 라벨 */
#div_web_block dd {float:left;display:block;width:80%;min-height:23px;margin:0px 10px 5px 10px;text-align:left;border-bottom:1px dotted #ccc;
    background:url('https://img.megastudy.net/campus/library/common/icon/arrow2.gif') no-repeat left 5px;
    padding:0 0 5px 14px;
}

#div_web_block ul {float:left;display:block;width:95%;height:100%;margin:9px 0 0 0;padding:5px 0 10px 10px;background:#f7f7f7;border-top:1px solid #eee;}
#div_web_block li {float:left;display:block;width:100%;height:18px;padding:1px 0 1px 0;}
#div_web_block h3 {font-weight:bold;}

#div_web_block.div_web_block_red {border-top:2px solid #d3a773;border-bottom:2px solid #d3a773;}
#div_web_block.div_web_block_red dt {background:#efe5d6;}

#div_mobile {float:right;width:25%;text-align:center;}
#div_mobile_block {float:left;display:block;width:100%;min-height:200px;margin:10px 0 30px 0;padding:0 0 10px 0;border-top:2px solid #b5d373;border-bottom:2px solid #b5d373;}
#div_mobile_block dt {float:left;display:block;width:100%;height:30px;padding:0 0 4px 0;margin:0 0 8px 0;line-height:30px;background:#e4efd6;}
#div_mobile_block dd {float:left;display:block;width:85%;min-height:23px;margin:0px 10px 5px 10px;text-align:left;border-bottom:1px dotted #ccc;
    background:url('https://img.megastudy.net/campus/library/common/icon/arrow2.gif') no-repeat left 5px;
    padding:0 0 0 17px;}
#div_mobile_block ul {float:left;display:block;width:95%;height:100%;margin:9px 0 0 0;padding:5px 0 10px 10px;background:#f7f7f7;border-top:1px solid #eee;}
#div_mobile_block li {float:left;display:block;width:100%;height:18px;padding:1px 0 1px 0;}
#div_mobile_block h3 {font-weight:bold;}

.lec_info {padding:0 !important}
h2.pub_title {font-size:15px; background:#ccc; color:#000; font-weight:bold; padding:10px;}
.line_box {border:1px solid #ccc; padding:10px;}

/* 히스토리 페이지 리뉴얼 */
#guidegnb_box #renewal {display:block;position:relative;top:0px;left:250px;margin:0;padding:0;font-size:0;line-height:0;height:100px;}

#renewal #div_web {width:80%;text-align:center;margin: 0 auto;}
#renewal #div_web_block {float:left;display:block;width:31%;min-height:300px;margin:10px 15px 30px 0;padding:0 0 10px 0;border-top:2px solid #73d3d3;border-bottom:2px solid #73d3d3;}
#renewal #div_web_block dt {float:left;display:block;width:100%;height:30px;padding:0 0 4px 0;margin:0 0 8px 0;line-height:30px;background:#d6edef;}

#renewal #div_web_block.div_web_block_red ul {
    float:left;display:block;width:410px;height:100%;margin:9px 0 0 0px;padding:5px 0 10px 10px;background:#f7f7f7;border-top:1px solid #eee;
}

#renewal #div_web_block ul {float:left;display:block;width:100%;height:100%;margin:9px 0 0 0px;padding:5px 0 10px 10px;background:#f7f7f7;border-top:1px solid #eee;}
#renewal #div_web_block li {float:left;display:block;width:100%;height:18px;line-height: 1.7em;border-bottom: 1px dotted #ccc;padding:4px 0;}

/* 인트로 라벨 */ 
#div_web_block dd.intro{position:relative;z-index:2;padding-left:63px;line-height: 1.7em;}
#div_web_block dd.intro,  
#div_mobile_block dd.intro{position:relative;z-index:2;padding-left:63px;line-height: 1.7em;}
#div_web_block dd.intro:before,
#div_mobile_block dd.intro:before{
    display: block;
    content: '인트로';
    position:absolute;
    top:1px; left:-1px;
    z-index:1;
    width:45px; height:20px;
    border-radius: 20px; padding:0 5px;
    background-color: #fce2ba;  
    font-size: 12px; font-weight: bold;
    text-align: center;
    line-height:1.7em;
}
 
/* 공통 라벨 */ 
#div_web_block dd.gongtong,
#div_mobile_block dd.gongtong{position:relative;z-index:2;padding-left:63px;line-height: 1.7em;}
#div_web_block dd.gongtong:before,
#div_mobile_block dd.gongtong:before{
    display: block;
    content: '공통';
    position:absolute;
    top:1px; left:-1px;
    z-index:1;
    width:45px; height:20px;
    border-radius: 20px; padding:0 5px;
    background-color: #e9e5df; 
    font-size: 12px; font-weight: bold;  
    text-align: center;
    line-height:1.7em;
}
/* 모집 라벨 */ 
#div_web_block dd.mojip{position:relative;z-index:2;padding-left:63px;line-height: 1.7em;}
#div_web_block dd.mojip:before{
    display: block;
    content: '모집';
    position:absolute;
    top:1px; left:-1px;
    z-index:1;
    width:45px; height:20px;
    border-radius: 20px; padding:0 5px;
    background-color: #dce6f1; 
    font-size: 12px; font-weight: bold;  
    text-align: center;
    line-height:1.7em;
}

/* 단과 라벨 */ 
#div_web_block dd.danka{position:relative;z-index:2;padding-left:63px;line-height: 1.7em;}
#div_web_block dd.danka:before{
    display: block;
    content: '단과';
    position:absolute;
    top:1px; left:-1px;
    z-index:1;
    width:45px; height:20px;
    border-radius: 20px; padding:0 5px;
    background-color: #fadfd8; 
    font-size: 12px; font-weight: bold;  
    text-align: center;
    line-height:1.7em;
}
/* 학원별 특별 콘텐츠 라벨 */ 
#div_web_block dd.contt{position:relative;z-index:2;padding-left:63px;line-height: 1.7em;}
#div_web_block dd.contt:before{
    display: block;
    content: '콘텐츠';
    position:absolute;
    top:1px; left:-1px;
    z-index:1;
    width:45px; height:20px;
    border-radius: 20px; padding:0 5px;
    background-color: #d7ebce; 
    font-size: 12px; font-weight: bold;  
    text-align: center;
    line-height:1.7em;
}

/* 모바일 버튼 */
span.mo_btn {display: inline-block;float: right;background-color: #e4e0ee;border-radius:5px;margin-right: 5px;line-height: 1.8em;}
span.mo_btn a{margin: 0 auto;font-weight: bold;width:50px;height:20px;padding:0 10px;}

