.ibm {
	position: relative;
	display: block;
	line-height: 1;
	font-size: 0;
	word-break: break-word;
	word-break: keep-all;
	-webkit-font-smoothing: antialiased;
	* {
		line-height: normal; 
		font-family: $font-noto;
		@include boxSizing(border-box);
	}
	// reset after modify
	p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select, option, img, div {
		margin: 0;
		padding: 0;
	}
	img {
		vertical-align: top;
		max-width: 100%;
		@include breakpoint(maxMobile){
			max-width: none;
		}
	}

	// 딤을 제외한 배너
	.ibm-wrap {
		// 분할 배너(이미지 다수)
		&.ibm-split {
			.ibm-inner {
				&[data-ibm-slide="true"] {
					.ibm-item {
						padding: 0;
					}
				}
				.ibm-item {
					display: inline-block;
					width: auto;
					margin-top: 0;
					padding: 0 5px;
					vertical-align: top;
					@include boxSizing(border-box);
					// @include breakpoint(desktop){
					// 	padding: 0 5px;
					// }
					&:first-child { padding-left: 0; }
					&:last-child { padding-right: 0; }
					//
					// @extend %variable;
					// @include breakpoint(desktop){
					// 	width: auto;
					// }
					img {
						width: auto;
					}
				}
			}
		}
	}

	// N개의 배너를 감싸는 부모
	.ibm-inner {
		position: relative;
		display: inline-block;
		width: 100%;
		margin: 0 auto;
		&[data-ibm-slide] {
			.ibm-item {
				margin-top: 0;
			}
			// *{
			// 	min-height: 0;
			// 	min-width: 0;
			// }
		}
		.ibm-item {
			margin-top: 10px;
			overflow: hidden;
			&:first-child,
			&:only-child { margin-top: 0; }
		}

		.slick-list {
			width: 100% !important;
			height: 100% !important;
			* {
				outline: none;
				&:link,
				&:active,
				&:hover,
				&:focus,
				&:focus-within { outline: none; }
			}
		}
		.slick-arrow {
			z-index: map-get($z-index, control);
			&.slick-prev {
				@include slideArrow(left, 50px, 50px, 2px, #fff);
				left: 0;
				// &::before {
				// 	@include boxShadow(inset 2px -2px 0 0 rgba($color: #000, $alpha: .7));
				// }
				@include breakpoint(desktop) {
					left: 50%;
					margin-left: -550px;
				}
			}
			&.slick-next {
				@include slideArrow(right, 50px, 50px, 2px, #fff);
				right: 0;
				@include breakpoint(desktop) {
					right: 50%;
					margin-right: -550px;
				}
				// &::before {
				// 	@include boxShadow(inset -2px 2px 0 0 rgba($color: #000, $alpha: .7));
				// }
			}
		}
		.slick-dots {
			position: absolute;
			@include vw(top, 12px);
			@include vw(right, 12px);
			li {
				display: inline-block;
				@include vw(width, 10px);
				@include vw(height, 10px);
				@include vw(margin, 0 8px);
				border-radius: 50%;
				background-color: #000;
				cursor: pointer;
				opacity: .1;
				@include boxShadow(0 0 5px rgba($color: #fff, $alpha: 1));
				@include transition(all, .5s);
				@include breakpoint(desktop){
					margin: 0 4px;
				}
				button {
					@extend %hidden;
				}
				&.slick-active {
					@include vw(width, 20px);
					@include vw(border-radius, 10px);
					opacity: .3;
				}
			}
		}
		// pagination : thumbnail
		.slick-dots-thumb {
			// position: absolute;
			// right: 0;
			// bottom: 0;
			// left: 0;
			@include vw(margin-top, 10px);
			text-align: center;
			li {
				position: relative;
				display: inline-block;
				@include vw(width, 100px);
				@include vw(margin, 0 10px);
				opacity: .5;
				cursor: pointer;
				&:after {
					content: '';
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 100%;
					display: none;
					border: 2px solid #000;
					@include transition(all, 3s);
					@include boxSizing(border-box);
				}
				img {
					width: 100%;
				}
				&.slick-active {
					opacity: 1;
					&:after {
						display: block;
					}
				}
			}
		}
		// pagination : text
		.slick-dots-text {
			position: absolute;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 1;
			text-align: center;
			background: rgba($color: #000, $alpha: .3);
			li {
				// @extend %variable;
				display: inline-block;
				@include vw(min-width, 100px);
				@include vw(height, 50px);
				&:first-child a::before {
					display: none;
				}
				&.slick-active {
					a {
						color: rgba($color: #fff, $alpha: 1.0);
						span {
							border-bottom-color: rgba($color: #fff, $alpha: 1);
						}
					}
				}
				a {
					position: relative;
					display: flex;
					width: 100%;
					height: 100%;
					@include vw(padding, 10px 20px);
					align-items: center;
					justify-content: center;
					@include vw(font-size, 17px);
					font-weight: 400;
					color: rgba($color: #fff, $alpha: .5);
					@include boxSizing(border-box);
					cursor: pointer;
					&::before {
						content: '';
						position: absolute;
						top: 50%;
						left: 0;
						display: block;
						@include vw(width, 1px);
						@include vw(height, 10px);
						background: #fff;
						@include translateY(-50%);
					}
					span {
						display: inline-block;
						line-height: 1;
						@include vw(padding-bottom, 2px);
						border-bottom: 1px solid rgba($color: #fff, $alpha: 0);
					}
				}
			}
		}
	}
	// pagination : number
	.slick-dots-number {
		position: absolute;
		@include vw(top, 20px);
		@include vw(right, 20px);
		@include vw(padding, 4px 10px 5px);
		line-height: 1;
		font-family: $font-roboto;
		@include vw(font-size, 16px);
		font-weight: 500;
		color: #000;
		@include vw(border-radius, 20px);
		background-color: rgba($color: #fff, $alpha: .5);
		@include breakpoint(desktop){
			right: auto;
			left: 50%;
			margin-left: 550px;
		}
	}

	// 1개의 배너를 감싸는 부모
	.ibm-item {
		position: relative;
		z-index: 0;
		width: 100%;
		text-align: center;
		//background: url('#{$img-path}/loading.gif') no-repeat center center;
		background-size: auto 100%;
		&.ibm-item-video {
			.ibm-wings:after {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				z-index: 1;
				display: block;
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, .6);
			}
		}
		img {
			display: inline-block;
			max-width: 100%;
			margin: 0 auto;
			@include breakpoint(maxMobile){
				max-width: none;
			}
		}
	}

	// 실제 배너
	.ibm-banner {
		position: relative;
		display: inline-block;
		z-index: 2;
	}

	// motion
	.ibm-bounce-diagonal {
		@extend .effect-bounce-diagonal;
	}
	.ibm-bounce-updown {
		@extend .effect-bounce-updown;
	}
	.ibm-extend {
		@extend .effect-extend;
	}
	.ibm-blink {
		@extend .effect-blink;
	}

	// 타이머
	.ibm-deadline {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		@include vw(padding, 5px 0);
		font-weight: 900;
		&.ibm-bottom { top: auto; bottom: 0; }
		p {
			display: inline-block;
			vertical-align: middle;
			line-height: normal;
			@include vw(font-size, 26px);
			letter-spacing: -1px;
			@include breakpoint(custom){
				@include vw(font-size, 18px);
			}
			@include breakpoint(desktop){
				font-size: 28px;
			}
			&.ibm-timer {
				@include vw(margin, 0 10px);
				span:first-child em { min-width: auto; }
			}
			// &.ibm-text {
			//     @include vw(padding-top, 4px);
			//     line-height: normal;
			//     &.text-1 {
			//         float: left;
			//         min-width: 18%;
			//         text-align: right;
			//         @include breakpoint(maxMobile){
			//             min-width: 20%;
			//         }
			//     }
			//     &.text-2 {
			//         float: right;
			//         min-width: 19%;
			//         text-align: left;
			//         @include breakpoint(maxMobile){
			//             min-width: 22%;
			//         }
			//     }
			// }
		}
		span {
			line-height: 1;
			em {
				display: inline-block;
				@include vw(min-width, 40px);
				font-family: $font-roboto;
				@include vw(font-size, 30px);
				@include breakpoint(custom){
					@include vw(font-size, 20px);
				}
				@include breakpoint(desktop){
					font-size: 34px;
				}
				&.unit {
					min-width: auto;
					font-family: $font-noto;
				}
			}
		}
	}

	// 텍스트(시스템 폰트)
	.ibm-customize {
		.ibm-text-list {
			position: absolute;
			top: 0;
			display: block;
			height: 100%;
			&:nth-child(1):nth-last-child(3),
			&:nth-child(2):nth-last-child(2),
			&:nth-child(3):nth-last-child(1) { width: calc(100%/3); }
			&:nth-child(1):nth-last-child(3) { left: 0; }
			&:nth-child(2):nth-last-child(2) { left: 33.33%; }
			&:nth-child(3):nth-last-child(1) { left: 66.66%; }

			&:nth-child(1):nth-last-child(2),
			&:nth-child(2):nth-last-child(1) {
				width: 50%;
				&:after { top: 65%; }
			}
			&:nth-child(1):nth-last-child(2) { left: 0; }
			&:nth-child(2):nth-last-child(1) { left: 50%; }

			&:nth-child(1):nth-last-child(1) {
				right: 0;
				bottom: 0;
				left: 0;
				width: 100%;
			}
		}
		.ibm-text {
			position: absolute;
			line-height: 1.2;
			letter-spacing: -1px;
			&.ibm-text-eduwill {
				font-family: $font-eduwill-B;
			}
			&.ibm-text-roboto {
				font-family: $font-roboto;
			}
		}
		.ibm-text-bg {
			@include vw(padding, 5px 20px);
		}
	}

	// 링크
	.ibm-links {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		a {
			position: absolute;
			top: 0;
			display: inline-block;
			height: 100%;
			&:nth-child(1):nth-last-child(3),
			&:nth-child(2):nth-last-child(2),
			&:nth-child(3):nth-last-child(1) { width: calc(100%/3); width: 33.33%; }
			&:nth-child(1):nth-last-child(3) { left: 0; }
			&:nth-child(2):nth-last-child(2) { left: 33.33%; }
			&:nth-child(3):nth-last-child(1) { left: 66.66%; }

			&:nth-child(1):nth-last-child(2),
			&:nth-child(2):nth-last-child(1) {
				width: 50%;
				&:after {
					top: 75%;
					@include breakpoint(desktop){
						top: 65%;
					}
				}
			}
			&:nth-child(1):nth-last-child(2):after {
				@include vw(margin-left, -50px);
				@include breakpoint(desktop){
					margin-left: 165px;
				}
			}
			&:nth-child(2):nth-last-child(1):after {
				@include vw(margin-left, 50px);
				@include breakpoint(desktop){
					margin-left: 65px;
				}
			}
			&:nth-child(1):nth-last-child(2) { left: 0; }
			&:nth-child(2):nth-last-child(1) { left: 50%; }

			&:nth-child(1):nth-last-child(1) {
				right: 0;
				bottom: 0;
				left: 0;
				width: 100%;
				&:after {
					@include vw(margin-left, 150px);
					@include breakpoint(desktop){
						margin-left: -140px;
					}
				}
			}

			&:after {
				content: '';
				position: absolute;
				top: 75%;
				left: 50%;
				display: none;
				width: 36px;
				height: 41px;
				background: url('#{$img-pointer-path}/icon_pointer_12.png') no-repeat 0 0;
				background-size: 100% auto;
				@include breakpoint(desktop){
					top: 72%;
				}
				@include animation(pointerBounce, 1s, $iteration: infinite){
					0%, 100% { @include translateXY(0, 0); }
					50% { @include translateXY(10px, 10px); }
				}
				.progress_flow .ibm-layer & {
					display: block;
					top: 90%;
					left: 75%;
					margin-left: 0;
				}
			}

			&:not(a[target]) {
				&:after { display: none !important; }
			}
		}
	}

	// 닫기(모음)
	.ibm-action {
		font-size: 0;
		a {
			display: inline-block;
			text-align: center;
			@include vw(font-size, 26px);
			color: #000;
			@include breakpoint(desktop){
				font-size: 13px;
			}
			span {
				position: relative;
				display: block;
				line-height: 1;
			}
		}
	}
	// 닫기(단일)
	.ibm-close {
		z-index: map-get($z-index, close);
		display: block;
	}

	// 손가락
	.ibm-pointer {
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 1;
		@include vw(width, 50px);
		img {
			width: 100% !important;
		}
	}

	// 배경
	.ibm-wings {
		div {
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			z-index: map-get($z-index, wings);
			height: 100%;
			background-repeat: no-repeat;
			background-position: center top;
			background-size: cover;
			&:nth-child(1):nth-last-child(2),
			&:nth-child(2):nth-last-child(1) { width: 50%; }
			&:nth-child(1):nth-last-child(2) { left: 0; }
			&:nth-child(2):nth-last-child(1) { left: 50%; }

			&:nth-child(1):nth-last-child(1) { left: 0; width: 100%; }
		}
		video { 
			position: absolute;
			top: 0;
			left: 50%;
			z-index: 1;
			width: auto;
			height: 100%;
			min-width: 100%;
			min-height: 100%;
			background-color: #000;
			@include translateX(-50%);
			@include breakpoint(desktop){
				top: 50%;
				height: auto;
				@include translateXY(-50%, -50%);
			}
		}
	}

	// 딤
	.ibm-dim {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		display: none;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, .7);
	}

	// 과정메인 메인 슬라이드
	.main-slide & {
		height: 542px;
		background: #f9f9f9 url('//img.eduwill.net/resources/common/web/images/loader/loading.gif') no-repeat center center;
		background-size: auto;
		.ibm-wrap,
		.ibm-inner,
		.ibm-item { height: 542px; }
		.ibm-inner {
			.slick-dots {
				top: auto;
				@include vw(bottom, 60px);
				left: 0;
				@include breakpoint(desktop){
					bottom: 10%;
				}
				li {
					width: 20px;
					height: 20px;
					background-color: #666;
					opacity: 1;
					&.slick-active { background-color: #fff; }
				}
			}
		}
		.ibm-wings {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 1;
			width: 100%;
			height: 542px;
			overflow: hidden;
		}
		.ibm-links a {
			height: 542px;
			&:after { display: block; top: 73%; }
			&:nth-child(1):nth-last-child(2):after,
			&:nth-child(2):nth-last-child(1):after { top: 73%; }
		}
		.ibm-item-video {
			.ibm-links a:nth-child(1):nth-last-child(1):after {
				top: 360px;
				margin-left: 200px;
			}
		}
		.ibm-item-video {
			.ibm-links a:nth-child(1):nth-last-child(2):after,
			.ibm-links a:nth-child(2):nth-last-child(1):after { top: 65%; }
		}
	}
	.main-slide & {
		.ibm-links a:nth-child(1):nth-last-child(1):after {
			top: 410px;
		}
	}
	.main-slide .slideRight-banner & {
		height: auto;
		background: none;
		.ibm-wrap,
		.ibm-inner,
		.ibm-item { height: auto; }
		.ibm-wings { height: auto; }
		.ibm-links a { height: auto; }
	}

	// 전기기사 대방학원
	.dbq .main-slide & {
		.ibm-links a {
			&:after { display: none; }
		}
		.ibm-item-video {
			.ibm-links a {
				&:after { display: block; }
				&:nth-child(1):nth-last-child(2):after,
				&:nth-child(2):nth-last-child(1):after { top: 65%; }
			}
		}

	}

	// 한매, 한국어
	.invest .main-slide &,
	.kor .main-slide & {
		.ibm-item-video {
			.ibm-links a:nth-child(1):nth-last-child(2):after,
			.ibm-links a:nth-child(2):nth-last-child(1):after { top: 68%; }
			// .ibm-links a:nth-child(1):nth-last-child(2) { width: 64%; }
			// .ibm-links a:nth-child(2):nth-last-child(1) { left: 64%; width: 36%; }
			// .ibm-links a:nth-child(1):nth-last-child(2):after { margin-left: 285px; }
			// .ibm-links a:nth-child(2):nth-last-child(1):after { margin-left: -50px; }
			.ibm-links a:nth-child(1):nth-last-child(2):after { margin-left: 210px; }
		}
	}

	// 국제
	.trade .main-slide & {
		.ibm-item-video {
			.ibm-links a:nth-child(1):nth-last-child(2):after,
			.ibm-links a:nth-child(2):nth-last-child(1):after { top: 72%; }
			// .ibm-links a:nth-child(1):nth-last-child(2) { width: 64%; }
			// .ibm-links a:nth-child(2):nth-last-child(1) { left: 64%; width: 36%; }
			// .ibm-links a:nth-child(1):nth-last-child(2):after { margin-left: 285px; }
			// .ibm-links a:nth-child(2):nth-last-child(1):after { margin-left: -50px; }
			.ibm-links a:nth-child(1):nth-last-child(2):after { margin-left: 210px; }
		}
		.ibm-links a:nth-child(1):nth-last-child(2):after,
		.ibm-links a:nth-child(2):nth-last-child(1):after { top: 75%; }
	}

	// mobile
	.sector-main-visual-ibm & {
		.ibm-links a::after {
			display: block;
		}
	}
}
