.btn {
    &-link {
        padding: 0;
        border: none;
        img {
            vertical-align: top;
        }
    }

    border-radius: 6px;
    padding: 13px;
    font-weight: 500;

    &-sm {
        font-size: 12px;
        padding: 10px;
    }

    &-dark,
    &-dark:hover,
    &-dark:focus {
        color: $color-white;
        background-color: $color-dark;
        border-color: $color-dark;
    }

    &-default,
    &-default:hover,
    &-default:focus {
        color: #333;
        background-color: $color-white;
        border-color: $color-line;
    }

    &-gray,
    &-gray:hover,
    &-gray:focus {
        color: $color-black;
        background-color: $color-line;
        border-color: $color-line;
    }

    &-success,
    &-success:hover,
    &-success:focus {
        color: $color-black;
        background-color: $color-success;
        border-color: $color-success;
    }

    &-info,
    &-info:hover,
    &-info:focus {
        color: $color-white;
        background-color: $color-info;
        border-color: $color-info;
    }

    &-primary,
    &-primary:hover,
    &-primary:focus {
        color: $color-white;
        background-color: $color-primary;
        border-color: $color-primary;
    }

    &-shadow,
    &-shadow:hover,
    &-shadow:focus {
        color: #707070;
        background-color: $color-white;
        border-color: none;
        -webkit-box-shadow: 4px 4px 16px 0px rgba(0,0,0,0.04);
        -moz-box-shadow: 4px 4px 16px 0px rgba(0,0,0,0.04);
        box-shadow: 4px 4px 16px 0px rgba(0,0,0,0.04);
    }
}