// wrap
#wrap {
	position: relative;
}

body.house-info{
	
	// header
	#header { border-bottom: 0 !important;}
	#header .gnb.main{ border-top: 1px solid #eaeaf4;}
	#header .gnb.main ul{ text-align: left;}
	#header .gnb.main li a.active{ color:#132053; }
	#header .gnb.main li a{ text-align: center;}
	#header .gnb.main li a span:after{ display: none;}
	#header .gnb.sub{background-color:#132053;}
	#header .gnb.sub.scroll:after{ display: none;}
	#header .gnb.sub ul{ text-align: left;}
	#header .gnb.sub li a{ text-align: center;color:#a0a5ba; background-color:#132053;}
	#header .gnb.sub li a span:after{ display: none;}
	#header .gnb.sub li a.active{ color:#fff; font-weight: 700;}

	// container
	#container {
		height: 100%;
		background-color: $bg-color-white;
		margin-bottom:0;
	}
	.inner {
		position: relative;
		margin: 0 auto;
		@extend %clearfix;
		max-width: 720px;
		padding: 0;
	}
	.main-visual{
		background-color:#000;
		text-align: center;
		margin:0 auto;
	}
	.main-contents{
		.notice-section{
			@include rem(padding, 0 16px);

			.grid{	

				.col{
					border-radius: 3px;
					box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
					&:first-child{
						@include rem(margin-top, 16px);
					}
					@include rem(margin-top, 12px);
					@include rem(padding, 16px 0 15px 16px);
					@include boxSizing(border-box);
					background-color:#fff;
					&.nth-child-1{
						background: url('#{$img-path-m}/main/ic-arrow.png') right center no-repeat;
						@include rem(background-size, 62px);
						background-color:#fff;
						width:100%;
						height:100%;
					}
					&.nth-child-2, &.nth-child-3{
						width:50%;
						height:100%;	
					}
					a{
						display:block;
						width:100%;
						height:100%;
						font-family: $font-noto;
						dl{
							dt{
								strong{
									padding: 2px 8px;
									border-radius: 3px;
									background-color: #ffbf00;
									font-weight:normal;
									span{
										font-weight:bold;
									}
								}
							}
							dd{

							}
						}
						.date{

						}
						span{
							@include rem(font-size, 15px);
							font-weight: 400;
							letter-spacing: -0.5px;
							display:inline-block;
						}
						strong{
							@include rem(font-size, 18px);
							display:inline-block;
							font-weight: 500;
							color: #010101;
						}
					}
				}
			}
		}

		.hyper-section{
			@include rem(padding, 0 16px);
			.title-group{
				@include rem(margin-top, 58px);
				strong{
					@include rem(font-size, 24px);
					font-weight: bold;
					letter-spacing: -0.6px;
					color: #010101;
				}
			}
			.list-group{
				&:last-child{
					@include rem(margin-bottom, 58px);
				}
				.list{
					background: url('#{$img-path-m}/main/ic-arrow.png') right center no-repeat;
					@include rem(background-size, 62px);
					border-radius: 3px;
					box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
					&:first-child{
						@include rem(margin-top, 16px);
					}
					@include rem(margin-top, 12px);
					@include rem(padding, 16px 0 15px 16px);
					@include boxSizing(border-box);
					background-color:#fff;
					a{
						display:block;
						width:100%;
						height:100%;
						font-family: $font-noto;
						span{
							@include rem(font-size, 15px);
							font-weight: 400;
							letter-spacing: -0.5px;
							display:inline-block;
						}
						strong{
							@include rem(font-size, 18px);
							display:inline-block;
							font-weight: 500;
							color: #010101;
						}
					}
				}
			}
		}

	}
}





