@charset "utf-8";

.full_container { color: #131313; background: #f8f8f8; }
.full_container .top-banner { background-color: #22223a; }

/* full-state */
.full-state { position: relative; background-color: #165abf; }
.full-state .wrap { padding: 0; }
.full-state .col { width: 50%; padding: 11px 2%; text-align: left; }
.full-state .col:only-child { width: 100%; }
.full-state .col .case { font-size: .875rem; }
.full-state .col span { display: inline-block; margin-right: 8px; color: #fff; }
.full-state .col strong { display: inline-block; color: #fff; }
.full-state .desc { font-size: .6875rem; color: rgba(255, 255, 255, .5); }

@media only screen and (min-width: 720px) {
    .full-state .col { padding: 22px 5.56% 23px; }
    .full-state .col:first-child { padding-right: 0; }
    .full-state .col:last-child { padding-left: 0; }
    .full-state .col .case { font-size: 1.375rem; }
    .full-state .desc { font-size: 1rem; }
}

.full_container .section1 { padding-bottom: 60px; }
.full_container .follow-banner { margin: 0 6.5278%; }
.full_container .follow-banner a { display: block; }
.full_container .follow-banner a:last-child { margin-top: 5px; }
.full_container .section2 { padding: 50px 0; text-align: left; }
.full_container .section2 .title { margin-left: 4.167%; font-size: 6.944vw; font-weight: 700; color: #131313; }
.full_container .section2 .notice-board { position: relative; margin-top: 15px; padding: 9.5px 0 21.5px; }
.full_container .section2 .notice-board:before,
.full_container .section2 .notice-board:after { content: ''; position: absolute; right: 0; left: 0; display: block; width: 100%; background-repeat: no-repeat; background-position: center center; background-size: 100% auto; }
.full_container .section2 .notice-board:before { top: 0; height: 11px; background-image: url('//img.eduwill.net/Img2/Common/event/full/cop/202009/mobile/board_top.png'); }
.full_container .section2 .notice-board:after { bottom: 0; height: 23px; background-image: url('//img.eduwill.net/Img2/Common/event/full/cop/202009/mobile/board_bottom.png'); }
.full_container .section2 .notice-board .inner { padding: 5% 10%; background: url('//img.eduwill.net/Img2/Common/event/full/cop/202009/mobile/board_middle.png') repeat-y center center; background-size: 100% auto; }
.full_container .section2 .notice-board .inner p { line-height: 1.4; font-size: 5vw; font-weight: 700; color: #ffe200; }

@media only screen and (min-width: 720px) {
    .full_container .section1 { padding-bottom: 120px; }
    .full_container .follow-banner a:last-child { margin-top: 10px; }
    .full_container .section2 { padding: 100px 0; }
    .full_container .section2 .title { font-size: 50px; }
    .full_container .section2 .notice-board { margin-top: 30px; padding: 19px 0 43px; }
    .full_container .section2 .notice-board:before { height: 19px; }
    .full_container .section2 .notice-board:after { height: 43px; }
    .full_container .section2 .notice-board .inner p { font-size: 36px; }
}

.full-con h3.title { position: relative; text-align: left; font-size: 5vw; font-weight: bold; }
.full-con h3.title + .table-wrap { margin-top: 20px; }
.full-contents .full-con { display: none; padding-bottom: 50px; }
.full-contents .holder { margin-top: 7.5px; padding: 29px 5.56% 40px; background: #fff; }
.full-contents .holder + .holder { margin-top: 32px; }

.full-contents .table-wrap table { width: 100%; border-collapse: collapse; border-spacing: 0px; empty-cells: show; table-layout: fixed; border-top: 1px solid #d2d2d2; border-right: 1px solid #ddd; }
.full-contents .table-wrap table th,
.full-contents .table-wrap table td { padding: 10px 0; text-align: center; font-size: 3.611vw; color: #131313; letter-spacing: -1px; border-bottom: 1px solid #d2d2d2; border-left: 1px solid #ddd; }
.full-contents .table-wrap table label { display: inline-block; margin: 0 10px; }

.full-contents .table-wrap .table-row th { vertical-align: middle; font-weight: 500; }
.full-contents .table-wrap .table-row td { padding-left: 30px; text-align: left; }
.full-contents .table-wrap .table-row td strong { font-weight: 500; }

.full-con .dim { position: absolute; top:0; left:0; z-index:100; width:100%; height:100%; background: rgba(16, 38, 66, .8); }
.full-con .example { position: absolute; top: 50%; right: 5%; left: 5%; z-index:110; padding: 20px 0; text-align: center; background-color: #fff; -webkit-transform: translateY(-49%); -ms-transform: translateY(-49%); transform: translateY(-49%); }
.full-con .example strong { line-height: 1; font-size: 5vw; font-weight: 700; }
.full-con .example p { margin-top: 5px; font-size: 4.167vw; font-weight:300; }
.full-con .example p + p { margin-top: 0; }

.full_container .btn-info { position: relative; display: block; padding: 10px 0; line-height: normal; border-radius: 5px; background: #035fe7; background: linear-gradient(to bottom, #035fe7 0%, #035fe7 80%, #0242ba 94%, #0242ba 100%); -webkit-box-sizing: border-box; box-sizing: border-box; }
.full_container .btn-info span { font-size: 4.167vw; font-weight: 500; color: #fff; letter-spacing: -1px; }

.full_container .full_tab ul li { width: 33.33%; }
.full_container .full_tab .flag { position: absolute; top: -25px; right: 0; left: 0; display: block; }
.full_container .full_tab .flag em { position: relative; display: inline-block; padding: 8px 10px 9px; line-height: 1; font-size: 2.778vw; font-weight: 500; color: #131313; border-radius: 37px; background-color: #ffe200; }
.full_container .full_tab .flag em:after { content: ''; position: absolute; bottom: -10px; left: 50%; display: block; width: 0; height: 0; margin-left: -5px; border-top: 10px solid #ffe200; border-right: 5px solid transparent; border-left: 5px solid transparent; }

@media only screen and (min-width: 720px) {
    .full_container .full_tab .flag em { font-size: 20px; }
    .full-con h3.title { font-size: 36px; }
    .full-con h3.title + .table-wrap { margin-top: 40px; }
    .full_container .full-contents .holder { margin-top: 15px; padding-top: 58px; padding-bottom: 80px; }
    .full_container .full-contents .holder + .holder { margin-top: 64px; }

    .full-contents .full-con { padding-bottom: 100px; }
    .full-contents .table-wrap table th,
    .full-contents .table-wrap table td { font-size: 26px; }

    .full-con .example { padding: 20px 0; }
    .full-con .example strong { font-size: 36px; }
    .full-con .example p { margin-top: 10px; font-size: 30px; }

    .full_container .btn-info { padding: 20px 0; border-radius: 10px; }
    .full_container .btn-info span { font-size: 30px; }
}

/* full-marking */
.full-marking .marking-info li { padding-top: 20px; font-size: 3.750vw; }
.full-marking .marking-info li:after { content:' '; display:block; overflow:hidden; clear:both;}
.full-marking .marking-info li .title { margin-bottom:5px; text-align:left; font-size: 3.750vw; font-weight: 500;}
.full-marking .marking-info li .contxt { text-align:left; }
.full-marking .marking-info li.bg-gray .contxt { padding: 5px; background-color: #f8f8f8; }
.full-marking .marking-info li .radio-box label { padding-right: 50px; vertical-align: middle; }
.full-marking .marking-info li .radio-box.three label { padding-right:20px;}
.full-marking .marking-info li .inputText { margin-top:0; width:100%;}
.full-marking .marking-info li select { margin-top:0; width:100%; color:#333;}
.full-marking .marking-info li.plus { text-align: left; font-size: 3.889vw; }
.full-marking .marking-info li.plus strong { display: inline-block; font-weight: 400; letter-spacing:-1px; }
.full-marking .marking-info li.plus span { display: inline-block; margin-left: 10px; }

@media only screen and (min-width: 720px) {
    .full-marking .marking-info li { padding-top: 40px; font-size: 27px; }
    .full-marking .marking-info li .title { margin-bottom: 10px; font-size: 36px; }
    .full-marking .marking-info li.bg-gray .contxt { padding: 10px; }
    .full-marking .marking-info li.plus { font-size: 28px; }
}

/* full-level */
.full-level { margin-bottom: 15px; text-align: left; }
.full-level .level-title { font-size: 3.750vw; }
.full-level .level-title strong { font-size: 5vw; }
.full-level .table-wrap { margin-top: 20px; }
.full-level .radio { margin: 10px 0 0 10px; font-size: 1rem; color: #3e3e3e; }
.full-level .radio span { display: inline-block; width: 32%; }

@media only screen and (min-width: 720px) {
    .full-level { margin-bottom: 30px; }
    .full-level .level-title { font-size: 27px; }
    .full-level .level-title strong { font-size: 36px; }
    .full-level .table-wrap { margin-top: 40px; }
    .full-level .radio { margin: 20px 0 0 20px; font-size: 2rem; }
    .full-level .radio input { width: 1.5rem; height: 1.5rem; }
}

/* full-remarking */
.full-remarking li { margin: 10px 12.22% 0; text-align: left; font-size: 4.167vw; }
.full-remarking li:first-child { margin-top: 30px; }
.full-remarking a { margin-top: 10px; text-align: center; }
@media only screen and (min-width: 720px) {
    .full-remarking li { margin-top: 20px; font-size: 30px; }
}

/* full-result */
.full-result { position: relative; }
.title-wrap .notice { margin-top: 10px; padding: 10px; text-align: left; font-size: 3.472vw; font-weight: 300; background-color: #f8f8f8; }
.full-result .title-wrap .notice { padding-bottom: 0; }
.full-result .update { padding: 0 10px 10px; text-align: left; font-size: 3.472vw; font-weight: 300; background-color: #f8f8f8; }
.full-result .full-graph h3.title { margin: 30px 0 20px; }
.full-result .form-control { margin-bottom: 20px; }
.full-result .form-control select { width: 100%; }
.full-result .radio_check { margin:12px 0 18px; text-align:center;}
.full-result .radio_check ul li { display:inline-block; width:32%; text-align:center;}
.full-result .radio_check label { font-size:14px; font-weight:400; color:#3e3e3e;}

.full-result .top_5 .section_title { margin-bottom:13px;}
.full-result .table_wrap table { width:100%; border-top:2px solid #000; border-bottom:2px solid #000;}
.full-result .table_wrap table th { color:#333; font-weight:700; border:0; border-bottom:1px solid #cecece;}
.full-result .table_wrap table td { text-align:center; font-weight:500; color:#333; border-bottom:1px solid #cecece;}

@media only screen and (min-width: 720px) {
    .title-wrap .notice { margin-top: 20px; padding: 20px; font-size: 25px; }
    .full-result .title-wrap .notice { padding-bottom: 0;}
    .full-result .update { padding: 0 20px 20px; font-size: 25px; }
    .full-result .full-graph h3.title { margin: 60px 0 40px; }
    .full-result .form-control { margin-bottom: 40px; }
    .full-result .radio_check { margin:24px 0 36px;}
    .full-result .radio_check label { font-size:26px;}

    .full-result .top_5 .section_title { margin-bottom:26px;}
    .full-result .table_wrap table th,
    .full-result .table_wrap table td { font-size:32px;}
}

/* full-download */
.full-download .full-action .core { margin: 0; }

/* full-lecture */
.full-lecture { margin-top: 40px; }
.full-lecture .full-action { margin-top: 0; }

@media only screen and (min-width: 720px) {
    .full-lecture { margin-top: 80px; }
}

/* total-data */
.total-data { position: relative; margin-top: 40px; }
.total-data .paging a { display:block; font-size: .6875rem; color:#000; background:#e2e2e2; text-align:center; padding:8px 0;}

.total-data td.t2 { position: relative; }
.total-data .layerCon {position:absolute; top: 100%; left: 0; z-index: 100; width: 100%; }
.total-data .layerCon .inn {border:3px solid #035fe7; padding:20px; background:#fff}
.total-data .layerCon .inn .subj { position: relative; text-align: left; }
.total-data .layerCon .inn .subj strong { font-size: .8125rem; color:#999; font-weight:bold; }
.total-data .layerCon .inn .subj strong em { font-size: .9375rem; color:#000}
.total-data .layerCon .inn .subj .date { display: block; padding-top: 5px; text-align: right; font-size: .6875rem; color:#888; border-top: 1px solid #dddde2; }
.total-data .layerCon .inn .text { margin-top: 10px; padding: 0 4px; text-align:left; font-size: .875rem; color:#333; line-height:1.4; }
.total-data .layerCon .inn .file { margin-top: 10px; padding:10px 0; border:solid 1px #b5b1d4; border-width: 1px 0; background:#f1f1f1; }
.total-data .layerCon .inn .file dl { position:relative; font-size: .6875rem; *zoom: 1; }
.total-data .layerCon .inn .file dl:before,
.total-data .layerCon .inn .file dl:after { content: ''; display: table; }
.total-data .layerCon .inn .file dl:after { clear: both; }
.total-data .layerCon .inn .file dt { float: left; width: 20%; text-align:center; font-weight: bold; color: #0242ba; }
.total-data .layerCon .inn .file dd { float: left; width: 80%; padding: 0 10px; color: #1e1e1e; -webkit-box-sizing: border-box; box-sizing: border-box; }
.total-data .layerCon .layer_close { display: block; position: absolute; top: 0; right: 0; width: 30px; height: 30px; }
.total-data .layerCon .layer_close:before,
.total-data .layerCon .layer_close:after{content:'';position:absolute;top:50%;left:50%;display:block;width:16px;height:2px;margin-left:-8px;background-color:#666;}
.total-data .layerCon .layer_close:before{-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);}
.total-data .layerCon .layer_close:after{-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg);}

@media only screen and (min-width: 720px) {
    .total-data { margin-top: 80px; }
    .total-data .paging a { padding: 16px 0; font-size:1rem;}

    .total-data .layerCon .inn { padding: 40px; }
    .total-data .layerCon .inn .subj { padding-bottom: 12px; }
    .total-data .layerCon .inn .subj strong { font-size: 1.625rem; }
    .total-data .layerCon .inn .subj strong em { font-size: 1.875rem;}
    .total-data .layerCon .inn .subj .date { bottom: -26px; font-size: 1.125rem; }
    .total-data .layerCon .inn .text { margin-top: 20px; font-size: 1.375rem; }
    .total-data .layerCon .inn .file { margin-top: 20px; padding: 20px 0; }
    .total-data .layerCon .inn .file dl { font-size: 1.125rem; }

    .total-data .layerCon .layer_close { width: 50px; height: 50px; }
    .total-data .layerCon .layer_close:before,
    .total-data .layerCon .layer_close:after { width: 30px; margin-left: -15px; }
}

/* full-action */
.full-action { margin-top: 30px; }
.full-action .core { text-align: center; margin: 0 12.22%; }
.full-action .core a { position: relative; display: block; margin-top: 5px; padding: 10px 0; font-size: 4.167vw; font-weight: 700; letter-spacing: -1px; border: 1px solid #2d2d2d; border-radius: 5px; -webkit-box-sizing: border-box; box-sizing: border-box; }
.full-action .core a:first-child { margin-top: 0; }

.full-action .btn-marking { color: #131313; background: #ffea00; background: linear-gradient(to bottom, #ffea00 0%, #ffea00 80%, #ffd000 94%, #ffd000 100%); }
.full-action .btn-marking:after { content: ''; position: absolute; top: 50%; right: 5%; display: block; width: 10px; height: 10px; margin-top: -5px; border-top: 2px solid #000; border-right: 2px solid #000; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }
.full-action .btn-save { color: #fff; background: #434343; }
.full-action .btn-analysis { color: #222; background: #eee; background: linear-gradient(to bottom, #eee 0%, #eee 80%, #cbcbcb 94%, #cbcbcb 100%); }
.full-action .btn-result { color: #fff; background: #035fe7; background: linear-gradient(to bottom, #035fe7 0%, #035fe7 80%, #0242ba 94%, #0242ba 100%); }
.full-action .btn-download-1 { color: #fff; background: #035fe7; background: linear-gradient(to bottom, #035fe7 0%, #035fe7 80%, #0242ba 94%, #0242ba 100%); }
.full-action .btn-download-2 { color: #fff; background: #003e99; background: linear-gradient(to bottom, #003e99 0%, #003e99 80%, #002e81 94%, #002e81 100%); }

.full-action .notice { margin: 10px 4.167% 0; padding: 0; text-align: left; font-size: 3.333vw; color: #878787; }

@media only screen and (min-width: 720px) {
    .full-action { margin-top: 60px; }
    .full-action .core a { margin-top: 10px; padding: 20px 0; font-size: 30px; border-radius: 10px; }
    .full-action .notice { margin-top: 20px; font-size: 24px; }
}


/* full_cop : 경찰 풀서비스 클래스 */