@import "abstracts/mixins";  
@import "abstracts/extend";  
@import "abstracts/variables";  

@import "module/motions";

#fixApply.fix-apply{ display: none !important;}
body {
	line-height: inherit;
}
.product-eco{
	min-width:1200px;
	overflow:hidden;
	*, *:before, *:after{font-family:$font-roboto;letter-spacing:-1px;}
	[class^="sector-"] {
		position: relative;
	}
	.wrap{
		position:relative;
		width:1200px;
		margin:0 auto;
		text-align:center;
		&.wrap-1300 {
			width: 1300px;
		}
	}
	
	.slick-dots {
		width: 100%;
		margin-top: 20px;
		text-align: center;
		li {
			display: inline-block;
			margin: 0 6px;
			button {
				width: 20px;
				height: 20px;
				text-indent: -9999em;
				border: none;
				border-radius: 50%;
				background-color: #d8d8d8;
				outline: none;
				cursor: pointer;
			}
			&.slick-active {
				button {
					width: 20px;
					border-radius: 15px;
					background-color: #1a2553;
				}
			}
		}
	}

	.btn-text, .btn-grounds{
		display:inline-block;
		color:#8a8a8a;font-size:15px;letter-spacing:-1px;line-height:1;
		font-weight:400;
		span{
			padding-right:10px;
			@include arrow(right, 4px, 4px, 1px, #8a8a8a);
			&:before{right:0;}
		}
	}
	.btn-text{position:absolute;right:210px;top:30px;}
	.btn-grounds{
		position:relative;margin-top:10px;font-size:14px;
		span{
			padding-right:10px;
		}
	}

	.slide-group{
		position:relative;margin-top:20px;
		.video-container{
			.slick-slide{opacity:0.4;}
			.slick-active{opacity:1;}
			.slide-list{
				padding-top:30px;
				img{
					border-top-right-radius: 20px;
				}
			}
		}

		.slick-dots {
			text-align: center;
			li {
				display: inline-block;
				margin-left:6px;
				button {
					cursor: pointer;
					text-indent: -10000em;
					border: 0;padding:0;
					border-radius: 50%;
					width:10px;height:10px;
					background:#bbbbbb;
				}
				&.slick-active {
					button {
						background:#f4582e;
					}
				}
			}
		}
	
		.slide-list{
			margin:0 10px;
			padding-bottom:30px;
			img{
				@include boxShadow(	7px 7px 27px 0px rgba(0, 0, 0, 0.23));
			}
		}
		
	}

	.holder{position:relative;}

	.icon-pointer {
		@include pointer(50%, 0, 66px, 73px, 1, bounce);
	}
	
	.notice {
		margin-bottom: 30px;
		font-size: 12px;
		font-weight: 400;
		color: rgba(0,0,0, .6);
	}

	.title-group {
		position: relative;
		margin-bottom: 40px;
		padding: 0 30px;
		text-align: left;
		p {
			margin: 0;
			color: #222;
			&.title {
				margin-bottom: 35px;
				font-size: 42px;
				font-weight: 900;
				color: #222;
				letter-spacing: -2px;
				line-height: 1.2;
				strong {
					font-weight: 900;
					letter-spacing: -2px;
					line-height: 1.2;
					color: #042393;
				}
			}
			&.desc {
				font-size: 24px;
				line-height: 1.6;
				.notice {
					margin-bottom: 0;
					display: inline-block;
					padding-left: 10px;
					line-height: 1.6;
					font-size: 18px;
					font-weight: 700;
					color: #ff0000;
				}
			}
		}
	}

	.fix-banner {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(0,0,0, .8);
		z-index: 10;
		.lecture-apply {
			padding: 15px 30px;
			height: 100px;
			text-align: left;
			strong {
				display: inline-block;
				font-weight: 700;
				font-size: 40px;
				letter-spacing: -2px;
				line-height: 70px;
				vertical-align: top;
				&.subject { color: #ffe400;}
				&.date {
					position: relative;
					padding-left: 25px;
					margin-left: 24px;
					font-size: 34px;
					color: #fff;
					line-height: 1;
					&:before {
						content: '';
						display: block;
						position: absolute;
						width: 1px;
						height: 27px;
						top: 50%;
						left: 0;
						z-index: 1;
						background: #fff;
						@include translateY(-50%);
					}
					span {
						display: inline-block;
						font-size: 20px;
						color: #fff;
						line-height: 1.2;
						font-weight: 400;
						vertical-align: top;
						img { vertical-align: top; position: relative; top: 3px; margin-left: 4px;}
					}
				}
			}

			.buttons {
				display: inline-block;
				margin-left: 32px;
				vertical-align: top;
				a {
					display: inline-block;
					padding: 0 30px;
					min-width: 200px;
					text-align: center;
					line-height: 70px;
					font-size: 26px;
					font-weight: 700;
					color: #222;
					letter-spacing: -1.5px;
					&.btn-apply { background: #ffdd00;}
					&.btn-apply-2 { background: #fff;}
					+ a {
						margin-left: 10px;
					}
					&:after { right: -30px;}
				}
			}
		}
	}

	.sector-title{
		position:relative;
		background: url('#{$img-path}/pc/bg_title.jpg') 50% 0 no-repeat;
		background-size: cover;
		.wide {
			position: relative;
			left: 50%;
			@include translateX(-55%);
		}
	}

	.sector-bar {
		background: #2a334f;
		&.is-arrow {
			&:after {
				content: '';
				display: block;
				position: absolute;
				left: 50%;
				top: 100%;
				@include translateX(-50%);
				width: 40px;
				height: 20px;
				z-index: 1;
				background: url('#{$img-path}/pc/arrow_2.png') 50% 0 no-repeat;
				background-size: cover;
			}
		}
		&.navy { background: #142054;}
	}

	.sector-info-1 {
		background: #fff;
	}

	.sector-info-2 {
		background: #f5f5f5;
	}
	.sector-video {
		background-color: #2a334f;
		height: 845px;
		position: relative;
		.video{
			position: absolute;
			top: 100px;
			left: 50%;
			transform: translateX(-50%);
			video{
				position: relative;
				z-index: 3;
				width: 1140px;
				height: 640px;
			}
			.thum{
				position: absolute;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				z-index: 4;
			}		
		}
	
	}

	.sector-info-3 {
		@include linear-gradient(to bottom, #fff 95%, #2a334f 95%);
	}

	.sector-benefit {
		background: #2a334f;
	}

	.sector-step { background: #f5f5f5;}

	.sector-lecture {
		padding: 95px 0;
		.title-group {
			.desc {
				img {
					position: relative;
					top: 9px;
					margin-left: 5px;
				}
			}
		}
	}

	.sector-curriculum {
		padding: 95px 0;
		background: #f5f5f5;
		.table-wrap {
			padding:  0 30px;
			table {
				width: 100%;
				table-layout: fixed;
				border-collapse: collapse;
				thead {
					th {
						padding: 18px 0;
						text-align: center;
						vertical-align: middle;
						font-size: 20px;
						color: #fff;
						font-weight: 700;
						background: #042393;
						border-left: 1px solid #d8d8d8;
						&:first-child { border-left: 0;}
					}
				}
				tbody {
					td {
						padding: 18px 0;
						text-align: center;
						color: #222;
						font-size: 20px;
						font-weight: 400;
						background: #fff;
						border-right: 1px solid #d8d8d8;
						border-bottom: 1px solid #d8d8d8;
						&.align-left {
							padding: 18px 40px;
							text-align: left;
							border-right: 0;
						}
					}
				}
			}
		}
	}

	.sector-teacher{
		background:#f6f6f6;
		.btn-teacher{
			display: inline-block;
			position: absolute;
			width:155px;
			height:57px;
			z-index:7;
			top:99px;
			right:205px;
		}
	}

	.sector-story{
		background:#fff;
		.interview-list{
			width:1100px;
			margin:0 auto;
			.video{
				display:block;
				width:545px;
				height: 300px;
				float:left;
				&:nth-child(2){margin-left:10px;}
				position: relative;
				a{
					img { 
						width: 100%;
						height: 100%;
						position: absolute;
						top: 0; 
						left: 0;
						z-index: 7;
					}
				}
				video { 
					height: 300px;
				}
			}
			&:after{content:'';display:block;clear:both;}
		}
	}

	.sector-network { 
		padding-bottom: 90px; 
		background: #f6f6f6;
		.slick-slide{
			margin: 0 20px;
			padding: 0px 0 40px 0;
			opacity: .3;
			filter: blur(0);
			&.slick-active{
				opacity: .3;
				filter: blur(0);
			}
			&.slick-center{
				opacity: 1;
				filter: blur(1);
			}
			p{
				overflow: hidden;
				box-shadow: 10px 15px 20px 10px rgba($color: #828282, $alpha: 0.4);
				img{
					width: 100%;
				}
			}
		}
	}
	
	.sector-lecture{
		background:#fff;
	}
	.sector-awrads{
		background:#f6f6f6;
		.btn-awrads{
			position: absolute;
			width:660px;
			height:100px;
			z-index:7;
			bottom:100px;
			right:0;
			left:0;
			margin:0 auto;
		}
	}
}





