//유형별키워드
@include mq(screen-pc) {
    .keyword {
        width: 100%;
        position: absolute;
        left: 0;
        top: 40px;
        ul {
            //keyword layout
            
            width: 744px;
           // margin: -20px auto 0;
            @include clearfix();
        }
        li {
            float: left;
            width: 50%;
            height: 454px;
            border: solid 1px #ddd;
            background-color: $color-white;
            margin-left: -1px;
            &.keyword-01 {
               //display: none;
            }
        }
        @include mq(screen-tablet) {
            ul {
                width: 160%;
            }
        }

        dl {
            letter-spacing: -.5px;
            dt {
                background-color: #f5f5f5;
                height: 44px;
                position: relative;
                strong {
                    @include font-size-color-weight(15px, #666, 400);
                    line-height: 44px;
                    padding-left: 14px;
                }
                .desc {
                    @include font-size-color-weight(12px, #999, 400);
                    position: absolute;
                    top: 16px;
                    right: 14px;
                    &.btn {
                        @include buttonReset();
                        &-text {
                            &:after {
                                @include contentReset();
                                width: 100%;
                                height: 1px;
                                background-color: #afafaf;
                                position: absolute;
                                bottom: 1px;
                                left:0;
                            }
                        }
                        &-icon {
                            top: 14px;
                            width: 16px;
                            height: 16px;
                            overflow: hidden;
                            border: solid 1px #acacac;
                            span {
                                color:#acacac;
                                vertical-align: top;
                                font-size: 10px;
                                top: 2px;
                                left: 1px;
                            }
                        }
                    }
                    &.time em {
                        font-size: 11px;
                    }
                }
            }
            dd {
                height: 41px;
                line-height: 41px;
                overflow: hidden;
                padding: 0 14px;
                border-top: solid 1px #eee;
                position: relative;
                &:first-child {
                    border-top: none;
                }
                .data-no {
                    @include font-size-color-weight(14px, #ccc, 400);
                }
                .data-key {
                    text-decoration: none;
                    &:hover .data-text {
                        text-decoration: underline;
                    }
                    display: inline-block;
                    @include ellipsis();
                    max-width: 90%;
                }
                .data-text {
                    @include font-size-color-weight(14px, $color-black, 400);
                    display: inline-block;
                    vertical-align: top;
                }
                .data-num {
                    font-family: $font-verdana;
                    @include font-size-color-weight(11px, #ccc, 700);
                    display: inline-block;
                    vertical-align: top;
                    padding-right: 2px;
                }
                .data-count {
                    font-family: $font-verdana;
                    @include font-size-color-weight(10px, #ccc, 400);
                    display: inline-block;
                    vertical-align: top;
                    padding-left: 2px;
                }
                .data-sort {
                    @include font-size-color-weight(14px, #ccc, 400);
                    display: inline-block;
                    vertical-align: top;
                    padding-right: 2px;
                }
                .btn-del {
                    @include buttonReset();
                    position: absolute;
                    top: 4px;
                    right: 12px;
                    color: #687ff1;
                    font-size: 20px;
                }
            }
        }
        li.keyword-02 dl dd .data-key {
            max-width: 75%;
        }
        li.keyword-04 dl dd .data-key {
            max-width: 80%;
        }
        .bottom {
            display:none;
        }
    } 
}

@include mq(screen-mobile) {
    .keyword {
        display:none !important;
    }

}


