@charset "UTF-8";
.grid, .product-eco[data-device="pc"] #edoContent2 .ecoCont3 .review-wrap .review-list .item {
  *zoom: 1;
}

.grid:before, .product-eco[data-device="pc"] #edoContent2 .ecoCont3 .review-wrap .review-list .item:before, .grid:after, .product-eco[data-device="pc"] #edoContent2 .ecoCont3 .review-wrap .review-list .item:after {
  content: '';
  display: table;
}

.grid:after, .product-eco[data-device="pc"] #edoContent2 .ecoCont3 .review-wrap .review-list .item:after {
  clear: both;
}

.grid, .product-eco[data-device="pc"] #edoContent2 .ecoCont3 .review-wrap .review-list .item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.grid .col, .product-eco[data-device="pc"] #edoContent2 .ecoCont3 .review-wrap .review-list .item .col {
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* 컨텐츠 */
.product-eco[data-device="pc"] #edoContent2 #eduf-paragraph {
  margin-bottom: 0;
}

.product-eco[data-device="pc"] #edoContent2 .ecoCont1 .btn-reason {
  top: 220px;
  right: 100px;
  background: #fff;
  border-color: #e0e0e0;
  color: #777778;
}

.product-eco[data-device="pc"] #edoContent2 .ecoCont1 .btn-reason::after {
  border-color: #7a7a7a;
}

.product-eco[data-device="pc"] #edoContent2 .ecoCont1 .wrap {
  padding-top: 90px;
}

.product-eco[data-device="pc"] #edoContent2 .ecoCont2 .typing {
  position: absolute;
  left: 70px;
  top: 340px;
  line-height: 1;
  color: #022222;
  font-weight: 900;
  font-size: 40px;
}

.product-eco[data-device="pc"] #edoContent2 .ecoCont2 .typing:after {
  content: '';
  position: relative;
  top: -5px;
  display: inline-block;
  -webkit-animation-name: cursor;
  animation-name: cursor;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  width: 2px;
  height: 40px;
  background-color: #022222;
  vertical-align: middle;
}

.product-eco[data-device="pc"] #edoContent2 .ecoCont3 {
  position: relative;
}

.product-eco[data-device="pc"] #edoContent2 .ecoCont3 .wrap {
  position: absolute;
  top: 100px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.product-eco[data-device="pc"] #edoContent2 .ecoCont3 .btn {
  position: absolute;
  top: 262px;
  left: 30px;
}

.product-eco[data-device="pc"] #edoContent2 .ecoCont3 .review-wrap {
  position: relative;
  overflow: hidden;
  opacity: 0.2;
  text-align: left;
}

.product-eco[data-device="pc"] #edoContent2 .ecoCont3 .review-wrap .review-list {
  -webkit-transform: perspective(640px) rotateX(40deg);
          transform: perspective(640px) rotateX(40deg);
  width: 1200px;
  margin: 100px auto 0;
  height: 856px;
}

.product-eco[data-device="pc"] #edoContent2 .ecoCont3 .review-wrap .review-list .item {
  padding: 15px 0;
  font-size: 16px;
}

.product-eco[data-device="pc"] #edoContent2 .ecoCont3 .review-wrap .review-list .item span {
  font-size: inherit;
  display: inline-block;
}

.product-eco[data-device="pc"] #edoContent2 .ecoCont3 .review-wrap .review-list .item span:not(first-child) {
  margin-left: 4%;
}

.product-eco[data-device="pc"] #edoContent2 .ecoCont3 .review-wrap .review-list .item .views {
  float: right;
}

.product-eco[data-device="pc"] #edoContent2 .ecoCont3 .review-wrap .review-list .item .subject {
  width: 70%;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.product-eco[data-device="pc"][data-type="1313"] #edoContent2 .ecoCont1 {
  background: url("https://img.eduwill.net/eduwill/img/2022/Q/product/module/pc/1313/ecoCont1_bg.jpg") no-repeat center top;
  background-size: cover;
}

.product-eco[data-device="pc"][data-type="1313"] #edoContent2 .ecoCont1 .btn-reason {
  top: 20px;
  background: none;
  color: #fff;
}

.product-eco[data-device="pc"][data-type="1313"] #edoContent2 .ecoCont1 .btn-reason::after {
  border-color: #fff;
}

.product-eco[data-device="pc"][data-type="1313"] #edoContent2 .ecoCont2 .typing {
  top: 367px;
  left: 87px;
}

.product-eco[data-device="pc"][data-type="1313"] #edoContent2 .ecoCont2,
.product-eco[data-device="pc"][data-type="1313"] #edoContent2 .ecoContVideo {
  background: #f9f9f9;
}

.product-eco[data-device="pc"][data-type="1313"] #edoContent2 .ecoContVideo {
  padding-bottom: 120px;
}

.product-eco[data-device="pc"][data-type="1313"] #edoContent2 .ecoContVideo .eduf-slider-wrap {
  width: 1590px !important;
  overflow: hidden;
  margin: 0 auto;
}

.product-eco[data-device="pc"][data-type="1313"] #edoContent2 .ecoContVideo .eduf-slider-wrap .slick-list {
  padding-left: 25%;
}

.product-eco[data-device="pc"][data-type="1313"] #edoContent2 .ecoContVideo .eduf-slider-wrap .slick-slide {
  opacity: .5;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.product-eco[data-device="pc"][data-type="1313"] #edoContent2 .ecoContVideo .eduf-slider-wrap .slick-slide.slick-active {
  opacity: 1;
}

.product-eco[data-device="mo"] #edoContent2 #eduf-paragraph {
  margin-bottom: 0;
}

.product-eco[data-device="mo"] #edoContent2 .ecoCont1 .wrap img {
  margin-top: 11.11111vw;
}

@media screen and (min-width: 720px) {
  .product-eco[data-device="mo"] #edoContent2 .ecoCont1 .wrap img {
    margin-top: 80px;
  }
}

.product-eco[data-device="mo"] #edoContent2 .ecoCont1 .wrap .btn-reason {
  top: 7vw;
}

.product-eco[data-device="mo"] #edoContent2 .ecoCont2 .typing {
  position: absolute;
  left: 11.94444vw;
  top: 42.36111vw;
  line-height: 1;
  color: #022222;
  font-weight: 900;
  font-size: 5vw;
}

@media screen and (min-width: 720px) {
  .product-eco[data-device="mo"] #edoContent2 .ecoCont2 .typing {
    left: 86px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco[data-device="mo"] #edoContent2 .ecoCont2 .typing {
    top: 305px;
  }
}

.product-eco[data-device="mo"] #edoContent2 .ecoCont2 .typing:after {
  content: '';
  position: relative;
  top: -3px;
  display: inline-block;
  -webkit-animation-name: cursor;
  animation-name: cursor;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  width: 2px;
  height: 25px;
  background-color: #000;
  vertical-align: middle;
}

.product-eco[data-device="mo"] #edoContent2 .ecoCont3 .btn {
  position: absolute;
  bottom: 18.05556vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 86.11111vw;
}

@media screen and (min-width: 720px) {
  .product-eco[data-device="mo"] #edoContent2 .ecoCont3 .btn {
    bottom: 130px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco[data-device="mo"] #edoContent2 .ecoCont3 .btn {
    width: 620px;
  }
}

.product-eco[data-device="mo"][data-type="1109"] #edoContent2 .ecoCont1 {
  background: #332d25;
}

.product-eco[data-device="mo"][data-type="1109"] #edoContent2 .ecoCont1 .btn-reason {
  top: 6vw;
}

.product-eco[data-device="mo"][data-type="1109"] #edoContent2 .ecoCont2 .typing {
  top: 76.66667vw;
}

@media screen and (min-width: 720px) {
  .product-eco[data-device="mo"][data-type="1109"] #edoContent2 .ecoCont2 .typing {
    top: 552px;
  }
}

.product-eco[data-device="mo"][data-type="1109"] #edoContent2 .ecoCont2,
.product-eco[data-device="mo"][data-type="1109"] #edoContent2 .ecoContVideo {
  background: #f9f9f9;
}

.product-eco[data-device="mo"][data-type="1109"] #edoContent2 .ecoContVideo {
  padding-bottom: 11.11111vw;
}

@media screen and (min-width: 720px) {
  .product-eco[data-device="mo"][data-type="1109"] #edoContent2 .ecoContVideo {
    padding-bottom: 80px;
  }
}

.product-eco[data-device="mo"][data-type="1109"] #edoContent2 .ecoContVideo .slide .slick-dots {
  margin-top: -20px;
}

.product-eco[data-device="mo"][data-type="1109"] #edoContent2 .ecoContVideo .eduf-slider-wrap {
  margin: 40px auto 0 auto;
}

.product-eco[data-device="mo"][data-type="1109"] #edoContent2 .ecoContVideo .eduf-slider-wrap .slick-list {
  padding-left: 3.47222vw;
}

@media screen and (min-width: 720px) {
  .product-eco[data-device="mo"][data-type="1109"] #edoContent2 .ecoContVideo .eduf-slider-wrap .slick-list {
    padding-left: 25px;
  }
}

.product-eco[data-device="mo"][data-type="1109"] #edoContent2 .ecoContVideo .eduf-slider-wrap img {
  width: 76.38889vw;
}

@media screen and (min-width: 720px) {
  .product-eco[data-device="mo"][data-type="1109"] #edoContent2 .ecoContVideo .eduf-slider-wrap img {
    width: 550px;
  }
}

.product-eco[data-device="mo"][data-type="1109"] #edoContent2 .ecoContVideo .eduf-slider-wrap .slick-dots {
  width: 100vw;
}

@media screen and (min-width: 720px) {
  .product-eco[data-device="mo"][data-type="1109"] #edoContent2 .ecoContVideo .eduf-slider-wrap .slick-dots {
    width: 720px;
  }
}
/*# sourceMappingURL=module_contents2_2206.css.map */