// Core variables and mixins
@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/extend";

@import "module/base";
// @import "module/popup";
@import "module/popupPC";

.promotion{
	overflow: hidden;
    * { 
		font-family: $font-noto;
		letter-spacing: -1px; 
	}
    .wrap { 
		width: 1200px; 
		margin:0 auto;
	}

	.mo-only{ display: none;}
	.pc-only{ display: block;}
	hr{
		border:none;
		padding:10px 0;
	}
	.sector-title-1{
		
		.emblem-box{ 
			position:absolute;
			left:50%;
			top:0;
			transform:translateX(-50%);
			text-align:right;
			width:1100px;
			margin:0 auto;
		}
		position:relative;
		@include bg($color:#000, $url: 'https://img.eduwill.net/eduwill/img/2022/J/event/221201/pc/bg_title.jpg', $size: cover);
		background-size:cover;
		height:704px;
		overflow:hidden;
		.light1{position:absolute;left:50%;bottom:-15px;margin-left:-960px;}
		.light2{position:absolute;left:50%;bottom:-30px;margin-left:-900px;}
		.light3{position:absolute;left:50%;bottom:-16px;margin-left:-815px;}
		.light4{position:absolute;left:50%;bottom:-394px;margin-left:-700px;}
		.light5{position:absolute;left:50%;bottom:-45px;margin-left:-500px;}
		.light6{position:absolute;left:50%;bottom:-30px;}
		.light7{position:absolute;left:50%;bottom:-25px;margin-left:-200px;}
		.light8{position:absolute;left:50%;bottom:-50px;margin-left:40px;}
		.light9{position:absolute;left:50%;bottom:-40px;margin-left:260px;}
		.light10{position:absolute;left:50%;bottom:-30px;margin-left:500px;}
		.light11{position:absolute;left:50%;bottom:-15px;margin-left:650px;}
		
		.tween-box{
			position:absolute;
			left:50%;
			top:147px;
			transform:translateX(-50%);
			text-align:center;
			width:1100px;
			margin:0 auto; 
			p{
				&:nth-child(1){}
				&:nth-child(2){
					margin-top:40px;
					position: relative;
					.blink1{ position:absolute;left:290px;top:-55px;}
					.blink2{position:absolute;right:290px;top:-50px;}
				}
				&:nth-child(3){
					position:relative;margin-top:76px;
				}
				&:nth-child(4){
					position: absolute;
					top:37px;
					left:0;
				}
			}
		}
	}

	.sector-title-2{
		position: relative;
		background-color: #3150c5;
		overflow: hidden;
		.wrap {
			height: 1000px; 
			width: 1400px;
		}
        .title {
            > div {
                z-index: 10;
                position: absolute;
                opacity: 0;
                &.title-1 {
                    top: 60px;
                    left: 0;
					right: 0;
                }
                &.title-2 {
					z-index: 17;
                    top: 410px;
					right: 120px;
                }
                &.title-3 {
                    top: 260px;
                    left: -160px;
                }
                &.title-4 {
                    top: 240px;
                    right: 320px;
                }
				&.title-5 {
					z-index: 16;
                    top: 245px;
                    left: 335px;
                }
            }
        }
	}

	.sector-title-3{
		
	}
}
