.progress-G {
	.section-lineup {
		.lineup-list .swiper-slide-active .inner { background: $color-lineup-G; }
		.text16 strong { color: $color-lineup-G; }
	}
}

.progress-C,
.progress-_104 {
	.section-product {
		@include rem(margin-top, 42px);
		background-color: #f5f6f8;
	}

	.section-news {
		background-color: #e4ebf9;
	}
}