@charset "UTF-8";
.product-eco .sector-target .tab-list {
  display: flex;
  -webkit-align-item: center;
  align-items: center;
  justify-content: center;
}

.hidden,
.sr_only,
.sr-only {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.grid {
  position: relative;
  box-sizing: border-box;
  *zoom: 1;
}
.grid:before, .grid:after {
  content: "";
  display: table;
}
.grid:after {
  clear: both;
}
.grid .col {
  position: relative;
  float: left;
  box-sizing: border-box;
}

.table {
  display: table;
}
.table .table-cell {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

.product-eco .slider-contents .slick-dots {
  font-size: 0;
}
.product-eco .slider-contents .slick-dots li {
  display: inline-block;
}
.product-eco .slider-contents .slick-dots button {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 0;
  color: transparent;
  text-indent: -9999px;
  border: 0;
  background: none;
}

.effect-bounce-diagonal {
  -webkit-animation-name: effectBounceDiagonal;
          animation-name: effectBounceDiagonal;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
@-webkit-keyframes effectBounceDiagonal {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10px, -10px);
  }
}
@keyframes effectBounceDiagonal {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10px, -10px);
  }
}

.effect-bounce-updown {
  -webkit-animation-name: effectBounceUpDown;
          animation-name: effectBounceUpDown;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
@-webkit-keyframes effectBounceUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
@keyframes effectBounceUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.effect-extend {
  -webkit-animation-name: effectExtend;
          animation-name: effectExtend;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
@-webkit-keyframes effectExtend {
  0%, 100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
}
@keyframes effectExtend {
  0%, 100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
}

.effect-blink {
  -webkit-animation-name: effectBlink;
          animation-name: effectBlink;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: step-end;
          animation-timing-function: step-end;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
@-webkit-keyframes effectBlink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
@keyframes effectBlink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.product-eco .wide {
  position: relative;
  left: 50%;
  display: block;
  transform: translateX(-50%);
}

.promotion,
.product-eco,
.fullservice {
  text-align: center;
}
.promotion [class^=sector-],
.product-eco [class^=sector-],
.fullservice [class^=sector-] {
  position: relative;
}
.promotion .wrap,
.product-eco .wrap,
.fullservice .wrap {
  position: relative;
  margin: 0 auto;
}
.promotion .wrap-full,
.product-eco .wrap-full,
.fullservice .wrap-full {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

#fixApply.fix-apply {
  display: none !important;
}

.product-eco {
  overflow: hidden;
  text-align: center;
}
.product-eco * {
  line-height: normal;
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  letter-spacing: -1px;
}
.product-eco [class^=product-],
.product-eco .item {
  position: relative;
}
.product-eco .wrap {
  width: 1200px;
}
.product-eco .only-pc {
  display: block;
}
.product-eco .only-mobile {
  display: none;
}
.product-eco .icon-pointer {
  position: relative;
  display: inline-block;
}
.product-eco .icon-pointer:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 8%;
  z-index: 1;
  display: block;
  width: 8.3333333333vw;
  height: 9.1666666667vw;
  background: url("//img.eduwill.net/Img2/Common/icon/pointer/icon_pointer_12.png") no-repeat 0 0;
  background-size: 100% auto;
  -webkit-animation-name: pointerBounceDiagonal;
          animation-name: pointerBounceDiagonal;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
@media screen and (min-width: 720px) {
  .product-eco .icon-pointer:after {
    width: 60px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .icon-pointer:after {
    height: 66px;
  }
}
@-webkit-keyframes pointerBounceDiagonal {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10px, -10px);
  }
}
@keyframes pointerBounceDiagonal {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10px, -10px);
  }
}
.product-eco .fix-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 140px;
  z-index: 11;
  padding: 24px 0 0 0;
  background: rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
}
.product-eco .fix-bottom .wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-eco .fix-bottom .wrap strong {
  display: inline-block;
  font-size: 34px;
  font-weight: 900;
  color: #fff;
  letter-spacing: -2px;
  text-align: left;
  margin-left: 50px;
}
.product-eco .fix-bottom .wrap strong em {
  color: #ffbf00;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  letter-spacing: -2px;
}
.product-eco .fix-bottom .wrap a {
  margin-right: 50px;
}
.product-eco .fix-bottom .wrap a {
  position: relative;
  display: inline-block;
}
.product-eco .fix-bottom .wrap a:after {
  content: "";
  position: absolute;
  top: 60%;
  right: 0;
  z-index: 1;
  display: block;
  width: 7.9166666667vw;
  height: 9.0277777778vw;
  background: url("//img.eduwill.net/Img2/Common/icon/pointer/icon_pointer_12.png") no-repeat 0 0;
  background-size: 100% auto;
  -webkit-animation-name: pointerBounceDiagonal;
          animation-name: pointerBounceDiagonal;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
@media screen and (min-width: 720px) {
  .product-eco .fix-bottom .wrap a:after {
    width: 57px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .fix-bottom .wrap a:after {
    height: 65px;
  }
}
@-webkit-keyframes pointerBounceDiagonal {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10px, -10px);
  }
}
@keyframes pointerBounceDiagonal {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10px, -10px);
  }
}
.product-eco .fix-right {
  position: fixed;
  bottom: 400px;
  right: 0;
  z-index: 99;
  box-sizing: border-box;
}
.product-eco .fix-right a {
  display: block;
}
.product-eco .fix-right a + a {
  margin-top: 10px;
}
.product-eco p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #666;
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
}
.product-eco p.fly, .product-eco p.eco {
  position: absolute;
}
.product-eco .grounds-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.4);
}
.product-eco .asterisk {
  display: inline-block;
  font-weight: 300;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.6);
}
.product-eco .slider-contents {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.product-eco .slider-contents .slick-dots {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
}
.product-eco .slider-contents .slick-dots li {
  margin: 0 3.5px;
}
.product-eco .slider-contents .slick-dots li button {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: #d7d7d7;
}
.product-eco .slider-contents .slick-dots li.slick-active button {
  width: 50px;
  background-color: #a07dda;
}
.product-eco .slider-contents .slick-arrow {
  border-radius: 50%;
}
.product-eco .slider-contents .slick-arrow.slick-prev {
  position: absolute;
  top: 50%;
  z-index: 10;
  display: block;
  width: 8.3333333333vw;
  height: 8.3333333333vw;
  margin: 0;
  padding: 0;
  font-size: 0;
  color: transparent;
  text-indent: -9999px;
  border: none;
  outline: none;
  cursor: pointer;
  transform: translateY(-50%);
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  left: 30px;
}
@media screen and (min-width: 720px) {
  .product-eco .slider-contents .slick-arrow.slick-prev {
    width: 60px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .slider-contents .slick-arrow.slick-prev {
    height: 60px;
  }
}
.product-eco .slider-contents .slick-arrow.slick-prev:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 2.0833333333vw;
  height: 2.0833333333vw;
  border-width: 0;
  border-style: solid;
  border-color: #fff;
  border-bottom-width: 2px;
  border-left-width: 2px;
  transform: translate(-25%, -50%) rotate(45deg);
}
@media screen and (min-width: 720px) {
  .product-eco .slider-contents .slick-arrow.slick-prev:before {
    width: 15px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .slider-contents .slick-arrow.slick-prev:before {
    height: 15px;
  }
}
.product-eco .slider-contents .slick-arrow.slick-next {
  position: absolute;
  top: 50%;
  z-index: 10;
  display: block;
  width: 8.3333333333vw;
  height: 8.3333333333vw;
  margin: 0;
  padding: 0;
  font-size: 0;
  color: transparent;
  text-indent: -9999px;
  border: none;
  outline: none;
  cursor: pointer;
  transform: translateY(-50%);
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  right: 30px;
}
@media screen and (min-width: 720px) {
  .product-eco .slider-contents .slick-arrow.slick-next {
    width: 60px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .slider-contents .slick-arrow.slick-next {
    height: 60px;
  }
}
.product-eco .slider-contents .slick-arrow.slick-next:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 2.0833333333vw;
  height: 2.0833333333vw;
  border-width: 0;
  border-style: solid;
  border-color: #fff;
  border-top-width: 2px;
  border-right-width: 2px;
  transform: translate(-75%, -50%) rotate(45deg);
}
@media screen and (min-width: 720px) {
  .product-eco .slider-contents .slick-arrow.slick-next:before {
    width: 15px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .slider-contents .slick-arrow.slick-next:before {
    height: 15px;
  }
}
.product-eco .slick-dots {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  font-size: 0;
  text-align: right;
}
.product-eco .slick-dots li {
  display: inline-block;
  margin: 0 0.1875rem;
}
@media screen and (min-width: 720px) {
  .product-eco .slick-dots li {
    margin: 0 6px;
  }
}
.product-eco .slick-dots li.slick-active button {
  width: 2.875rem;
  border-radius: 1.5625rem;
  background-color: #ffbe00;
}
@media screen and (min-width: 720px) {
  .product-eco .slick-dots li.slick-active button {
    width: 92px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .slick-dots li.slick-active button {
    border-radius: 50px;
  }
}
.product-eco .slick-dots button {
  display: block;
  width: 10px;
  height: 12px;
  color: transparent;
  border: none;
  border-radius: 50%;
  background-color: #bbb;
  outline: none;
  cursor: pointer;
}
.product-eco .slick-slide * {
  line-height: 1;
  font-size: 0;
  vertical-align: top;
}
.product-eco .review-desc {
  height: 100px;
  padding-top: 25px;
  box-sizing: border-box;
  margin-top: -100px;
  opacity: 0.6;
}
.product-eco .review-desc .wrap {
  text-align: right;
}
.product-eco .sector-title {
  z-index: 1;
  background-image: url("//img.eduwill.net/eduwill/img/2023/_114/product/230112/pc/bg_title.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.product-eco .sector-title .wrap {
  width: 1500px;
}
.product-eco .sector-title .action {
  position: absolute;
  top: 124px;
  right: 310px;
  z-index: 3;
}
.product-eco .sector-title .action a {
  display: block;
  width: 100px;
  height: auto;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}
.product-eco .sector-title .action a::before {
  display: none;
}
.product-eco .sector-benefit {
  background-image: url("//img.eduwill.net/eduwill/img/2023/_114/product/230112/pc/bg_benefit.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  padding-bottom: 100px;
}
.product-eco .sector-benefit .wrap {
  z-index: 1;
}
.product-eco .sector-benefit .benefit-box {
  margin-top: -152px;
  margin-bottom: 15px;
}
.product-eco .sector-benefit .price-box {
  position: relative;
  width: 960px;
  height: 235px;
  margin: 0 auto;
  border-radius: 2px;
  background: #262938;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-eco .sector-benefit .price-box .price {
  width: 430px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 45px;
}
.product-eco .sector-benefit .price-box .price .before-price {
  display: flex;
}
.product-eco .sector-benefit .price-box .price .before-price .price-text {
  font-size: 36px;
  font-weight: 600;
  color: #fff;
  margin-right: 15px;
}
.product-eco .sector-benefit .price-box .price .before-price .before-num {
  position: relative;
  font-size: 35px;
  font-weight: 700;
  color: #7d7d93;
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
}
.product-eco .sector-benefit .price-box .price .before-price .before-num::before {
  content: "";
  width: 196px;
  height: 26px;
  position: absolute;
  top: 28px;
  left: 0;
  background-image: url("//img.eduwill.net/eduwill/img/2023/_114/product/230112/pc/arrow_price.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.product-eco .sector-benefit .price-box .price .after-price {
  margin-top: -25px;
}
.product-eco .sector-benefit .price-box .price .after-price .after-num {
  font-size: 95px;
  color: #97ff00;
  font-weight: 700;
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
}
.product-eco .sector-benefit .price-box .price-btn {
  position: relative;
}
.product-eco .sector-benefit .price-box .price-btn {
  position: relative;
  display: inline-block;
}
.product-eco .sector-benefit .price-box .price-btn:after {
  content: "";
  position: absolute;
  top: 70%;
  right: 0%;
  z-index: 1;
  display: block;
  width: 9.0277777778vw;
  height: 10vw;
  background: url("//img.eduwill.net/Img2/Common/icon/pointer/icon_pointer_1.png") no-repeat 0 0;
  background-size: 100% auto;
  -webkit-animation-name: pointerBounceDiagonal;
          animation-name: pointerBounceDiagonal;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-benefit .price-box .price-btn:after {
    width: 65px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .sector-benefit .price-box .price-btn:after {
    height: 72px;
  }
}
@-webkit-keyframes pointerBounceDiagonal {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10px, -10px);
  }
}
@keyframes pointerBounceDiagonal {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10px, -10px);
  }
}
.product-eco .sector-benefit .price-box .price-btn .flag-text {
  position: absolute;
  top: 18px;
  left: 78px;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}
.product-eco .sector-award {
  background-image: url("//img.eduwill.net/eduwill/img/2023/_114/product/230112/pc/bg_award.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.product-eco .sector-target .tab-list li {
  cursor: pointer;
  width: 316px;
  height: 80px;
  margin: 0 4px;
  border-radius: 20px 20px 0 0;
  box-sizing: border-box;
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  color: #292e44;
  background: #e9e9e9;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-eco .sector-target .tab-list li.on {
  background: #292e44;
  color: #fff;
}
.product-eco .sector-target .tab-list li a {
  display: inline-block;
}
.product-eco .sector-target .tab-view {
  padding-top: 95px;
  display: none;
  background-color: #292e44;
}
.product-eco .sector-target .tab-view .teacher {
  position: relative;
}
.product-eco .sector-target .tab-view .teacher:before {
  z-index: 3;
  content: "";
  position: absolute;
  display: block;
  top: 0;
  width: calc(50% - 600px);
  height: 100%;
  background-repeat: repeat-x;
  background-position: 0 0;
}
.product-eco .sector-target .tab-view .teacher:before {
  left: 0;
}
.product-eco .sector-target .tab-view .action {
  position: absolute;
  left: 50%;
  margin-left: -83px;
  top: 395px;
  z-index: 10;
  width: 70px;
  height: 70px;
}
.product-eco .sector-target .tab-view .action a {
  width: 100%;
  height: 100%;
  display: block;
}
.product-eco .sector-target .tab-view .slider {
  z-index: 10;
  padding-bottom: 150px;
}
.product-eco .sector-target .tab-view .slick-slide {
  position: relative;
}
.product-eco .sector-target .tab-view .slick-slide.slick-active {
  opacity: 1;
}
.product-eco .sector-target .tab-view .slick-slide.slick-active .stamp {
  display: block;
  -webkit-animation-name: stampEvent;
          animation-name: stampEvent;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: cubic-bezier(0.89, -0.01, 0.96, 0.07);
          animation-timing-function: cubic-bezier(0.89, -0.01, 0.96, 0.07);
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
@-webkit-keyframes stampEvent {
  0% {
    opacity: 0;
    transform: scale(1.2, 1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
@keyframes stampEvent {
  0% {
    opacity: 0;
    transform: scale(1.2, 1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
.product-eco .sector-target .tab-view .slick-slide .stamp {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -115px 0 0 -115px;
  display: none;
}
.product-eco .sector-target .tab-view .slick-arrow {
  position: absolute;
  top: 40%;
  z-index: 10;
  content: "";
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  text-indent: -9999px;
  display: block;
  cursor: pointer;
  width: 14.0277777778vw;
  height: 14.0277777778vw;
  margin-top: -3.4722222222vw;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-target .tab-view .slick-arrow {
    width: 101px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .sector-target .tab-view .slick-arrow {
    height: 101px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .sector-target .tab-view .slick-arrow {
    margin-top: -25px;
  }
}
.product-eco .sector-target .tab-view .slick-arrow.slick-prev {
  left: 21%;
  background: url("//img.eduwill.net/eduwill/img/2022/_114/event/220718/mobile/slide_prev.png") 0 0 no-repeat;
  background-size: cover;
}
.product-eco .sector-target .tab-view .slick-arrow.slick-next {
  right: 21%;
  background: url("//img.eduwill.net/eduwill/img/2022/_114/event/220718/mobile/slide_next.png") 0 0 no-repeat;
  background-size: cover;
}
.product-eco .sector-check-1 {
  background: #f5f5f5;
}
.product-eco .sector-check-2 {
  background: #ffffff;
}
.product-eco .sector-compare {
  background: #cdcdcd;
  background: linear-gradient(to right, #cdcdcd 50%, #64dd44 50%);
}
.product-eco .sector-compare .wrap {
  width: 1300px;
}
.product-eco .sector-banner {
  background-image: url("//img.eduwill.net/eduwill/img/2023/_114/product/230112/pc/bg_banner.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.product-eco .sector-banner .wrap {
  width: 1300px;
}
.product-eco .sector-allpass-1 {
  background: #fff;
}
.product-eco .sector-allpass-2 {
  padding-bottom: 160px;
  background: #f5f5f5;
}
.product-eco .sector-allpass-2 #commonTeacherBox .common-teacher-title {
  width: 1100px;
  margin: 0 auto;
  text-align: left;
  font-size: 55px;
  letter-spacing: -3.5px;
  font-weight: 900;
}
.product-eco .sector-allpass-2 #commonTeacherBox .common-teacher-title .emphasize {
  letter-spacing: -3.5px;
  color: #ea00ad;
  font-weight: 900;
}
.product-eco .sector-allpass-2 #commonTeacherBox .common-teacher-title .teacher-action {
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  color: #454545;
  margin-top: 10px;
  margin-bottom: 63px;
}
.product-eco .sector-allpass-2 #commonTeacherBox .common-teacher-list {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 45px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.product-eco .sector-allpass-2 #commonTeacherBox .common-teacher-list .col {
  position: relative;
  margin-right: 20px;
  margin-bottom: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.product-eco .sector-allpass-2 #commonTeacherBox .common-teacher-review-list {
  width: 1119px;
  margin: 0 auto;
}
.product-eco .sector-allpass-2 #commonTeacherBox .common-teacher-review-list .slick-arrow.slick-prev {
  position: absolute;
  top: 100px;
  left: -15px;
  z-index: 10;
  display: block;
  width: 60px;
  height: 60px;
  margin: 0;
  padding: 0;
  font-size: 0;
  color: transparent;
  text-indent: -9999px;
  border: none;
  outline: none;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}
.product-eco .sector-allpass-2 #commonTeacherBox .common-teacher-review-list .slick-arrow.slick-prev::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 15px;
  height: 15px;
  border-width: 0;
  border-style: solid;
  border-color: #fff;
  border-bottom-width: 2px;
  border-left-width: 2px;
  transform: translate(-25%, -50%) rotate(45deg);
}
.product-eco .sector-allpass-2 #commonTeacherBox .common-teacher-review-list .slick-arrow.slick-next {
  position: absolute;
  top: 100px;
  right: -15px;
  z-index: 10;
  display: block;
  width: 60px;
  height: 60px;
  margin: 0;
  padding: 0;
  font-size: 0;
  color: transparent;
  text-indent: -9999px;
  border: none;
  outline: none;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}
.product-eco .sector-allpass-2 #commonTeacherBox .common-teacher-review-list .slick-arrow.slick-next::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 15px;
  height: 15px;
  border-width: 0;
  border-style: solid;
  border-color: #fff;
  border-top-width: 2px;
  border-right-width: 2px;
  transform: translate(-75%, -50%) rotate(45deg);
}
.product-eco .sector-allpass-2 #commonTeacherBox .common-teacher-review-list .slick-dots {
  position: absolute;
  top: 290px;
  right: 0;
  left: 0;
  text-align: center;
}
.product-eco .sector-allpass-2 #commonTeacherBox .common-teacher-review-list .slick-dots li {
  display: inline-block;
  margin: 0 3.5px;
}
.product-eco .sector-allpass-2 #commonTeacherBox .common-teacher-review-list .slick-dots li button {
  width: 10px;
  height: 12px;
  border-radius: 20px;
  background-color: #7f7f7f;
  display: block;
  font-size: 0;
  color: transparent;
  text-indent: -9999px;
  border: 0;
}
.product-eco .sector-allpass-2 #commonTeacherBox .common-teacher-review-list .slick-dots li.slick-active button {
  background-color: #0051d9;
}
.product-eco .sector-allpass-2.white {
  padding-bottom: 110px;
  background-color: #ffffff;
  padding-top: 0;
}
.product-eco .sector-allpass-2.white .eco-teacher-3649 {
  margin-bottom: 85px;
}
.product-eco .sector-allpass-2.white .wrap-full {
  padding-bottom: 50px;
}
.product-eco .sector-allpass-2.white .wrap-full .slick-slide {
  margin: 0 -10px;
}
.product-eco .sector-allpass-2.white .wrap-full .slick-dots {
  width: 100%;
  text-align: center;
  margin-top: 330px;
}
.product-eco .sector-allpass-2.white .wrap-full .slick-dots li {
  display: inline-block;
  margin: 0 0.15625rem;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-allpass-2.white .wrap-full .slick-dots li {
    margin: 0 5px;
  }
}
.product-eco .sector-allpass-2.white .wrap-full .slick-dots li.slick-active button {
  background-color: #ffbe00;
}
.product-eco .sector-allpass-2.white .wrap-full .slick-dots button {
  width: 10px;
  height: 11px;
  background-color: #bbbbbb;
}
.product-eco .sector-allpass-2.white .action.base {
  position: absolute;
  top: 237px;
  left: 304px;
}
.product-eco .sector-allpass-2.white .action.teacher {
  text-align: center;
}
.product-eco .sector-allpass-3 {
  background: #fff;
}
.product-eco .sector-allpass-4 {
  background: #f5f5f5;
}
.product-eco .sector-allpass-4 .action {
  position: absolute;
  top: 487px;
  left: 440px;
}
.product-eco .sector-allpass-5 {
  padding-bottom: 126px;
}
.product-eco .sector-achieve {
  background: #132439;
}/*# sourceMappingURL=web.css.map */