@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

#container{ padding: 0 !important;}
#div_cont {
    color: #333;
    font-size: 13px;
    font-family: "MalGun Gothic";                           
    font-size: 16px;
    line-height: 1;
    letter-spacing: -1.5px;
}
#div_cont {
    width: 100%;
    text-align: center;
    clear: both;
    position: relative;
    overflow: hidden;
}
#div_cont .con {
    width: 1000px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    padding-bottom: 100px;
}

.con img { vertical-align: top;}
.div_con .top_wrap { position: relative; overflow: hidden; height: 1276px;}
.div_con .top_wrap .act_wrap { position: relative; width: 1000px; height:1276px; margin: 0 auto;}
.div_con .top_wrap .act_wrap .motion{position:absolute;left:0;right:0;margin:0 auto;opacity:0;}
.div_con .top_wrap .act_wrap .motion._01{top:680px;}
.div_con .top_wrap .act_wrap .motion._02{top:778px;}
.div_con .top_wrap .act_wrap .motion._03{top:40px; left:68px;}
.div_con .top_wrap .act_wrap .motion._04{top:130px;}
.div_con .top_wrap .act_wrap .motion._05{top:366px;left:50%;margin-left:-154px;opacity:0;}

.div_con1{ margin-top: -281px;}
.div_con1 .con{ background:#fff;}
.div_con1 .tab_head .tab_menuList{width:100%; display: inline-flex;justify-content: space-around;gap:0;}
.div_con1 .tab_menuList li { width:16.666%;position: relative;background:#ecebf5;}
.div_con1 .tab_menuList li a{ 
    display: block;color:#777;font-size: 22px;  font-family: 'Noto Sans KR';font-weight: 600;
    padding:17px 0;border-bottom:2px solid #A29FCA;background:#fff !important;
}
.div_con1 .tab_menuList li.on a{ 
    background:transparent !important;
    position: relative;
    background:#fff !important;
    color:#525089;
}
.div_con1 .tab_menuList li.on a:after{}
.div_con1 .tab_menuList li.on .arrow-up:after{
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    z-index: 4;
    top:58px;
    left:0;
    right:0;
    margin:0 auto;
    z-index:10;
    border: 7px solid transparent;
    border-bottom-color: #54508B;
    transform: rotate(180deg);
}
.div_con1 .tab_menuList li.on .arrow-up:before{
    content: '';
    width: 100%;
    height: 4px;
    position: absolute;
    z-index: 5;
    left:0;
    right:0;
    bottom: -1px;
    margin:0 auto;
    border-bottom:4px solid #54508B;
}
.div_con1 .tab_body { padding:0; background:#ecebf5; font-size:0;}

.box_act {
    position:relative; width:1000px; opacity:0; height:386px; display: flex;justify-content: space-around;
}
.box_act li {
    position:relative;
    z-index:3;
    -webkit-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
    opacity:1;
}
.box_act li img {opacity:1 !important; left:0;}
.box_act li img.back{position:absolute;left:0px;top:0px;}
.box_act li .flipper{
    width:335px;height:386px;transition:0.6s;
    -webkit-transition:0.6s;
    transform-style:preserve-3d;
    -webkit-transform-style:preserve-3d;
    position:relative;
}
.box_act .front, .box_act .back{
    backface-visibility:hidden;
    -webkit-backface-visibility:hidden;
    transition:0.6s;
    -webkit-transition:0.6s;
    transform-style:preserve-3d;
    -webkit-transform-style:preserve-3d;
    text-indent:-1000em;
}
.box_act .back{transform:rotateY(180deg);-webkit-transform:rotateY(180deg);}
.box_act .front{z-index:2;transform:rotateY(0deg);-webkit-transform:rotateY(0deg);}
.box_act li.on .back, .box_act li.on .back{transform:rotateY(0deg);-webkit-transform:rotateY(0deg);}
.box_act li.on .front, .box_act li.on .front{transform:rotateY(180deg);-webkit-transform:rotateY(180deg);display:none\9;}

.div_con2{ background: linear-gradient(to bottom, #EAEAEA 0%, #EAEAEA 84%, #fff 84%, #fff 100%);}
.div_con3 .type_element{padding-top: 0;}
.div_con5{ background:#100F1F;}
.div_con5 .step_element{
    display: flex;
    gap: 8px;
    justify-content: center;
}

/* typing title */
.type_element{padding-top: 100px;}
.type_element div:nth-child(2){ margin-top: 21px;}
.type_element div:nth-child(3){ margin-top: 21px;}
.to_type.animation_set{
    width: 0; height: 53px;
    overflow: hidden;margin:0 auto;
    animation: typing .8s linear .8s forwards; 
    animation-timing-function: steps(15, jump-none);
}
@keyframes typing {
    from{ width: 0;}
    to{width: 325px;}        
}





