@charset "UTF-8";
a {
  outline: 0;
  outline: none;
}

.grid {
  *zoom: 1;
}

.grid:before, .grid:after {
  content: '';
  display: table;
}

.grid:after {
  clear: both;
}

.hidden,
.sr_only,
.sr-only {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.grid {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.grid .col {
  position: relative;
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.table {
  display: table;
}

.table .table-cell {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

.product-eco .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  display: block;
  margin: 0;
  padding: 0;
  font-size: 0;
  color: transparent;
  text-indent: -9999px;
  border: none;
  background: none;
  outline: none;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.product-eco .sector-lineup .tab-list a:only-child, .product-eco .sector-lineup .tab-list a:nth-child(1):nth-last-child(1) {
  width: 100%;
}

.product-eco .sector-lineup .tab-list a:nth-child(1):nth-last-child(2), .product-eco .sector-lineup .tab-list a:nth-child(2):nth-last-child(1) {
  width: 50%;
}

.product-eco .sector-lineup .tab-list a:nth-child(1):nth-last-child(3), .product-eco .sector-lineup .tab-list a:nth-child(2):nth-last-child(2), .product-eco .sector-lineup .tab-list a:nth-child(3):nth-last-child(1) {
  width: 33.333%;
}

.product-eco .sector-lineup .tab-list a:nth-child(1):nth-last-child(4), .product-eco .sector-lineup .tab-list a:nth-child(2):nth-last-child(3), .product-eco .sector-lineup .tab-list a:nth-child(3):nth-last-child(2), .product-eco .sector-lineup .tab-list a:nth-child(4):nth-last-child(1) {
  width: 25%;
}

.product-eco .sector-lineup .tab-list a:nth-child(1):nth-last-child(5), .product-eco .sector-lineup .tab-list a:nth-child(2):nth-last-child(4), .product-eco .sector-lineup .tab-list a:nth-child(3):nth-last-child(3), .product-eco .sector-lineup .tab-list a:nth-child(4):nth-last-child(2), .product-eco .sector-lineup .tab-list a:nth-child(5):nth-last-child(1) {
  width: 20%;
}

.product-eco .sector-lineup .tab-list a:nth-child(1):nth-last-child(6), .product-eco .sector-lineup .tab-list a:nth-child(2):nth-last-child(5), .product-eco .sector-lineup .tab-list a:nth-child(3):nth-last-child(4), .product-eco .sector-lineup .tab-list a:nth-child(4):nth-last-child(3), .product-eco .sector-lineup .tab-list a:nth-child(5):nth-last-child(2), .product-eco .sector-lineup .tab-list a:nth-child(6):nth-last-child(1) {
  width: 16.66%;
}

.product-eco .sector-lineup .tab-list a:nth-child(1):nth-last-child(7), .product-eco .sector-lineup .tab-list a:nth-child(2):nth-last-child(6), .product-eco .sector-lineup .tab-list a:nth-child(3):nth-last-child(5), .product-eco .sector-lineup .tab-list a:nth-child(4):nth-last-child(4), .product-eco .sector-lineup .tab-list a:nth-child(5):nth-last-child(3), .product-eco .sector-lineup .tab-list a:nth-child(6):nth-last-child(2), .product-eco .sector-lineup .tab-list a:nth-child(7):nth-last-child(1) {
  width: 14.28571%;
}

.product-eco .sector-lineup .tab-list a:nth-child(1):nth-last-child(8), .product-eco .sector-lineup .tab-list a:nth-child(2):nth-last-child(7), .product-eco .sector-lineup .tab-list a:nth-child(3):nth-last-child(6), .product-eco .sector-lineup .tab-list a:nth-child(4):nth-last-child(5), .product-eco .sector-lineup .tab-list a:nth-child(5):nth-last-child(4), .product-eco .sector-lineup .tab-list a:nth-child(6):nth-last-child(3), .product-eco .sector-lineup .tab-list a:nth-child(7):nth-last-child(2), .product-eco .sector-lineup .tab-list a:nth-child(8):nth-last-child(1) {
  width: 12.5%;
}

.product-eco .sector-lineup .tab-list a:nth-child(1):nth-last-child(9), .product-eco .sector-lineup .tab-list a:nth-child(2):nth-last-child(8), .product-eco .sector-lineup .tab-list a:nth-child(3):nth-last-child(7), .product-eco .sector-lineup .tab-list a:nth-child(4):nth-last-child(6), .product-eco .sector-lineup .tab-list a:nth-child(5):nth-last-child(5), .product-eco .sector-lineup .tab-list a:nth-child(6):nth-last-child(4), .product-eco .sector-lineup .tab-list a:nth-child(7):nth-last-child(3), .product-eco .sector-lineup .tab-list a:nth-child(8):nth-last-child(2), .product-eco .sector-lineup .tab-list a:nth-child(9):nth-last-child(1) {
  width: 11.11%;
}

.product-eco .sector-lineup .tab-list a:nth-child(1):nth-last-child(10), .product-eco .sector-lineup .tab-list a:nth-child(2):nth-last-child(9), .product-eco .sector-lineup .tab-list a:nth-child(3):nth-last-child(8), .product-eco .sector-lineup .tab-list a:nth-child(4):nth-last-child(7), .product-eco .sector-lineup .tab-list a:nth-child(5):nth-last-child(6), .product-eco .sector-lineup .tab-list a:nth-child(6):nth-last-child(5), .product-eco .sector-lineup .tab-list a:nth-child(7):nth-last-child(4), .product-eco .sector-lineup .tab-list a:nth-child(8):nth-last-child(3), .product-eco .sector-lineup .tab-list a:nth-child(9):nth-last-child(2), .product-eco .sector-lineup .tab-list a:nth-child(10):nth-last-child(1) {
  width: 10%;
}

.effect-bounce-diagonal {
  -webkit-animation-name: effectBounceDiagonal;
          animation-name: effectBounceDiagonal;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes effectBounceDiagonal {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}

@keyframes effectBounceDiagonal {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}

.effect-bounce-updown {
  -webkit-animation-name: effectBounceUpDown;
          animation-name: effectBounceUpDown;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes effectBounceUpDown {
  0%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@keyframes effectBounceUpDown {
  0%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

.effect-extend {
  -webkit-animation-name: effectExtend;
          animation-name: effectExtend;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes effectExtend {
  0%, 100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
}

@keyframes effectExtend {
  0%, 100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
}

.effect-blink, .product-eco .sector-event .flag {
  -webkit-animation-name: effectBlink;
          animation-name: effectBlink;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: step-end;
          animation-timing-function: step-end;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes effectBlink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes effectBlink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.layer-dim {
  display: none;
  position: fixed;
  top: 0;
  right: 0px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background: #000;
  opacity: .8;
  overflow: hidden;
}

.layer-review {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10001;
  max-width: 768px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.layer-review .layer-close {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 8.33333vw;
  height: 8.33333vw;
  top: -60px;
  z-index: 10002;
}

@media screen and (min-width: 720px) {
  .layer-review .layer-close {
    width: 60px;
  }
}

@media screen and (min-width: 720px) {
  .layer-review .layer-close {
    height: 60px;
  }
}

.layer-review .layer-close:before, .layer-review .layer-close:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 30px;
  height: 2px;
  margin-left: -15px;
  background-color: #fff;
}

.layer-review .layer-close:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.layer-review .layer-close:after {
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
}

.layer-review .layer-close span {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.layer-review .layer-box {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.layer-review .layer-box iframe, .layer-review .layer-box video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: inherit;
     object-fit: inherit;
}

.product-eco {
  min-width: 1200px;
  overflow: hidden;
}

.product-eco *, .product-eco *:before, .product-eco *:after {
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  letter-spacing: -1px;
}

.product-eco li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.product-eco img {
  border: 0;
  vertical-align: top;
}

.product-eco [class^="sector-"] {
  position: relative;
}

.product-eco .wrap {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.product-eco .wrap-full {
  width: 100%;
}

.product-eco .holder {
  position: relative;
}

.product-eco .wing-right {
  position: fixed;
  top: 250px;
  right: 10px;
  width: 190px;
  border-radius: 0 30px 0 30px;
  overflow: hidden;
  z-index: 10;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.product-eco .wing-right .wing-title {
  border-radius: 0 30px 0 0;
}

.product-eco .action {
  position: relative;
}

.product-eco .action a {
  display: block;
  width: 100%;
  padding: 45px 0;
  font-weight: 900;
  letter-spacing: -2px;
  font-size: 34px;
  line-height: 1;
  background: #080d0a;
  color: #fff;
}

.product-eco .action a {
  position: relative;
  display: inline-block;
}

.product-eco .action a:before {
  content: '';
  position: absolute;
  top: 50%;
  display: block;
  width: 1.38889vw;
  height: 1.38889vw;
  margin-top: -0.69444vw;
  border-width: 0;
  border-style: solid;
  border-color: #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  right: 2.77778vw;
  border-top-width: 3px;
  border-right-width: 3px;
}

@media screen and (min-width: 720px) {
  .product-eco .action a:before {
    width: 10px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .action a:before {
    height: 10px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .action a:before {
    margin-top: -5px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .action a:before {
    right: 20px;
  }
}

.product-eco .action a:before {
  right: 80px;
}

.product-eco .icon-pointer {
  position: relative;
  display: inline-block;
}

.product-eco .icon-pointer:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
  display: block;
  width: 11.11111vw;
  height: 12.22222vw;
  background: url("https://img.eduwill.net/Img2/Common/icon/pointer/icon_pointer_1.png") no-repeat 0 0;
  background-size: 100% auto;
  -webkit-animation-name: pointerBounceDiagonal;
          animation-name: pointerBounceDiagonal;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@media screen and (min-width: 720px) {
  .product-eco .icon-pointer:after {
    width: 80px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .icon-pointer:after {
    height: 88px;
  }
}

@-webkit-keyframes pointerBounceDiagonal {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}

@keyframes pointerBounceDiagonal {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}

.product-eco .slick-arrow {
  top: 50%;
  border-radius: 50%;
  left: 50% !important;
  z-index: 112;
}

.product-eco .slick-arrow.slick-prev {
  position: absolute;
  top: 50%;
  z-index: 10;
  display: block;
  width: 6.94444vw;
  height: 6.94444vw;
  margin: 0;
  padding: 0;
  font-size: 0;
  color: transparent;
  text-indent: -9999px;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  margin-left: -628px;
}

@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-prev {
    width: 50px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-prev {
    height: 50px;
  }
}

.product-eco .slick-arrow.slick-prev:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 1.73611vw;
  height: 1.73611vw;
  border-width: 0;
  border-style: solid;
  border-color: #fff;
  border-bottom-width: 3px;
  border-left-width: 3px;
  -webkit-transform: translate(-25%, -50%) rotate(45deg);
  transform: translate(-25%, -50%) rotate(45deg);
}

@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-prev:before {
    width: 12.5px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-prev:before {
    height: 12.5px;
  }
}

.product-eco .slick-arrow.slick-next {
  position: absolute;
  top: 50%;
  z-index: 10;
  display: block;
  width: 6.94444vw;
  height: 6.94444vw;
  margin: 0;
  padding: 0;
  font-size: 0;
  color: transparent;
  text-indent: -9999px;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  margin-left: 560px;
}

@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-next {
    width: 50px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-next {
    height: 50px;
  }
}

.product-eco .slick-arrow.slick-next:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 1.73611vw;
  height: 1.73611vw;
  border-width: 0;
  border-style: solid;
  border-color: #fff;
  border-top-width: 3px;
  border-right-width: 3px;
  -webkit-transform: translate(-75%, -50%) rotate(45deg);
  transform: translate(-75%, -50%) rotate(45deg);
}

@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-next:before {
    width: 12.5px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-next:before {
    height: 12.5px;
  }
}

.product-eco .notice {
  text-align: right;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -1px;
  color: rgba(0, 0, 0, 0.4);
  line-height: 1.5;
}

.product-eco .sector-title {
  background-image: url("https://img.eduwill.net/eduwill/img/2022/G/product/220427/pc/bg_title.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  height: 883px;
}

.product-eco .sector-title .wrap img {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.product-eco .sector-title .wrap a {
  top: 677px;
  width: 681px;
  height: 131px;
}

.product-eco .sector-title .wrap a::after {
  right: 0;
}

.product-eco .sector-title .wrap .flag {
  position: absolute;
  top: 640px;
  left: calc(50% - 155px);
  width: 310px;
  height: 90px;
  line-height: 60px;
  background-image: url("https://img.eduwill.net/eduwill/img/2022/G/product/220427/pc/title_flag.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.5;
  color: #fff;
  -webkit-animation-name: imgBounce;
          animation-name: imgBounce;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes imgBounce {
  0%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@keyframes imgBounce {
  0%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

.product-eco .sector-intro {
  background: #ec5985;
  background: -webkit-gradient(linear, left top, left bottom, from(#ec5985), to(#f285ad));
  background: linear-gradient(to bottom, #ec5985 0%, #f285ad 100%);
  position: relative;
  overflow: hidden;
}

.product-eco .sector-intro .stamp {
  position: absolute;
  top: -300px;
  left: -500px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.product-eco .sector-banner-1 {
  background: #b8e9ff;
}

.product-eco .sector-lineup {
  background: #fff;
}

.product-eco .sector-lineup .tab-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1200px;
  height: 158px;
  margin: 0 auto;
  font-size: 0;
}

.product-eco .sector-lineup .tab-list a {
  position: relative;
  display: block;
  width: 549px;
  height: 158px;
}

.product-eco .sector-lineup .tab-list a span {
  display: none;
}

.product-eco .sector-lineup .tab-list a.tab-1 {
  background-image: url("https://img.eduwill.net/eduwill/img/2022/G/product/220427/pc/tab1-off.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.product-eco .sector-lineup .tab-list a.tab-1.active {
  background-image: url("https://img.eduwill.net/eduwill/img/2022/G/product/220427/pc/tab1-on.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.product-eco .sector-lineup .tab-list a.tab-2 {
  background-image: url("https://img.eduwill.net/eduwill/img/2022/G/product/220427/pc/tab2-off.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.product-eco .sector-lineup .tab-list a.tab-2.active {
  background-image: url("https://img.eduwill.net/eduwill/img/2022/G/product/220427/pc/tab2-on.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.product-eco .sector-lineup .tab-view {
  position: relative;
  z-index: 1;
  display: none;
  height: 1075px;
  overflow: hidden;
}

.product-eco .sector-lineup .tab-view.tab-view-1 {
  background-color: #ffe3e6;
}

.product-eco .sector-lineup .tab-view.tab-view-2 {
  background-color: #b8e9ff;
}

.product-eco .sector-lineup .tab-view.active {
  display: block;
}

.product-eco .sector-lineup .tab-view .wrap {
  width: 1200px;
}

.product-eco .sector-lineup .tab-view .video-box {
  position: absolute;
  top: 261px;
  right: 0;
  width: 632px;
  height: 355px;
}

.product-eco .sector-lineup .tab-view .video-box a {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.product-eco .sector-lineup .tab-view .teacher {
  position: absolute;
  top: 250px;
  left: -60px;
  z-index: -1;
}

.product-eco .sector-lineup .tab-view .home {
  position: absolute;
  top: 645px;
  right: 0;
}

.product-eco .sector-lineup .tab-view .text-list {
  position: absolute;
  top: 670px;
  right: 0;
}

.product-eco .sector-banner-2 {
  background: #e04478;
}

.product-eco .sector-event {
  padding-bottom: 120px;
}

.product-eco .sector-event .gray-bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 615px !important;
  background-color: #f6f7f8;
}

.product-eco .sector-event a {
  margin-top: 40px;
}

.product-eco .sector-event .flag {
  position: absolute;
  top: 360px;
  left: 170px;
  width: 311px;
  height: 106px;
  line-height: 67px;
  background-image: url("https://img.eduwill.net/eduwill/img/2022/G/product/220427/pc/event_flag.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.5;
  color: #fff;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.product-eco .sector-banner-3 {
  background-image: url("https://img.eduwill.net/eduwill/img/2022/G/product/220427/pc/bg_banner_3.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
/*# sourceMappingURL=web.css.map */