#container {padding-bottom: 0px !important;}
.star-wrap {
    position: relative;
    line-height:1.5; 
}

.mt85 {margin-top:85px !important;} 
.r-txt {color: #888;text-align: right;font-size: 14px;font-weight: 400;margin-top: 20px;line-height: 1;}

/*Visual*/
.star-wrap .visual {
    position:relative; height: 735px;
    background: url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_star/top_visual_03.jpg') 50% 0 no-repeat; background-size: cover; box-sizing: border-box;
    overflow:hidden;} 

.star-wrap .visual .visual_top {position: relative;width: 1200px; margin:0 auto; text-align:center;}  

.star-wrap .visual .motion {position:absolute; top:0; left:0; right:0; margin:0 auto;z-index: 1;opacity: 0;}
.star-wrap .visual .motion.m-tit01 {top:180px;z-index:5;}
.star-wrap .visual .motion.m-tit02 {top:270px;z-index:5;}
.star-wrap .visual .motion.m-tit03 {top:353px;z-index:5;}
.star-wrap .visual .motion.m-tit04 {z-index:2; }
.star-wrap .visual .motion.m-tit05 {top:273px;z-index:5;transform: scale(0);}
.star-wrap .visual .motion.m-tit06 {top:108px;z-index:5;}
 
.star-wrap .visual .motion.m-obj01 {left:-150px;margin-left: 150px;top: -30px;}
.star-wrap .visual .motion.m-obj02 {top:430px;left:-150px;margin-left: 150px;}
.star-wrap .visual .motion.m-obj03 {margin-right: -150px;top: 30px;}
.star-wrap .visual .motion.m-obj04 {top:525px;margin-right: -210px;}

 
/*Contents*/ 
.star-wrap *[class^="cont0"] {padding: 120px 0;text-align: center;}
.star-wrap .inner {width: 1200px;margin: 0 auto;box-sizing: border-box;height: 100%;} 


/* ------------------------------------ cont01 --------------------------------------- */  
.slick-slider{position: relative;display: block; box-sizing: border-box;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;-webkit-touch-callout: none;-khtml-user-select: none;-ms-touch-action: pan-y;touch-action: pan-y;-webkit-tap-highlight-color: transparent;}
.slick-list{position: relative;display: block;overflow: hidden;margin: 0;padding: 0;}
.slick-list:focus{outline: none;}
.slick-list.dragging{cursor: pointer;cursor: hand;}
.slick-slider .slick-track,
.slick-slider .slick-list{-webkit-transform: translate3d(0, 0, 0);-moz-transform: translate3d(0, 0, 0);-ms-transform: translate3d(0, 0, 0);-o-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}

.slick-track{position: relative;top: 0;left: 0;display: block;margin-left: auto;margin-right: auto;}
.slick-track:before,
.slick-track:after{display: table;content: '';}
.slick-track:after{clear: both;}
.slick-loading .slick-track{visibility: hidden;}
.slick-slide{display: none;float: left;height: 100%;min-height: 1px;}
[dir='rtl'] .slick-slide
{float: right;}
.slick-slide img{display: block;}
.slick-slide.slick-loading img
{display: none;}
.slick-slide.dragging img{pointer-events: none;}
.slick-initialized .slick-slide{display: block;}
.slick-loading .slick-slide{visibility: hidden;}
.slick-vertical .slick-slide{display: block;height: auto;border: 1px solid transparent;}
.slick-arrow.slick-hidden{display: none;}
.slick-arrow:focus{outline:none;}

.inner_slider{position:relative; width:1300px;margin:0 auto;margin-left:-30px;}
.inner_slider .slick-list{ height:735px;padding-top:60px !important; }
.inner_slider .slick-slide{overflow:hidden;width:100%;transform:scale(0.8);font-size:0;transition:0.5s;box-sizing:border-box;} 
.inner_slider .slick-slide.slick-current{transform:scale(1);cursor: pointer;transition:all 1s ease; filter: drop-shadow(0 1.5rem 1.5rem rgba(163, 163, 163, 0.20));}   
/* 윈도우 버튼 */
.inner_slider .slider.center li {position: relative;}  
.inner_slider .slider.center li a{position: absolute;right: 74px;bottom: 77px; width: 115px;height: 35px;}  
/* slide arrows */
.inner_slider .slick-arrow{position:absolute;top:400px;z-index:10;width:12px;height:21px;font-size:1px;text-indent:-9999px;color:transparent;}
.inner_slider .slick-arrow.slick-prev{left:390px;background :url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_star/cont01_prev_arrow.png') 50% 0 no-repeat;}
.inner_slider .slick-arrow.slick-next{right:420px;background :url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_star/cont01_next_arrow.png') 50% 0 no-repeat;}
					
.dsc_slide {color: #888; font-size: 16px; font-weight: 300;line-height: 150%; text-align: center;}

.slick-dots
{
	position: absolute;
	left: 0;right: 0;
	display: block;
	width: 100%;
	padding: 0;
	margin: 0;
	height:9px;
	list-style: none;
	opacity:1;
	text-align: center;
}
.slick-dots li
{
	position: relative;
	display: inline-block;
	width:2.81vw;
	height:2.81vw;
	margin:0 0.78vw;
	padding: 0;
	cursor: pointer;
} 
.slick-dots li button
{
	font-size: 0;
	line-height: 0;
	display: block;
	cursor: pointer;
	color: transparent;
	border: 0;
	outline: none;
	background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
	outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
	opacity: 1;
}
.slick-dots li button:before
{
	content:"";
	position: absolute;
	top: 0;
	left: 0;
	border-radius:2.81vw;
	background: #bbb;
	text-align: center;
	color: black;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {background:#2E68FD;}  
.slide_dots li {overflow:hidden;}

.slick-vertical .slick-slide {width:100%; height:auto;}


.inner_slider .slick-dots {display:flex; position:relative; width:1200px; height:6px; margin:10px auto 60px; border-radius:6px; background:#f1f1f1; overflow:hidden;}
.inner_slider .slick-dots li {width:240px; height:100%; margin:0; border-radius:0; background:#f1f1f1;}
.inner_slider .slick-dots li button:before {height:100%; border-radius:0; background:#f1f1f1;}
.inner_slider .slick-dots li.slick-active button:before {width:240px; height:100%; border-radius:6px; background:#2E68FD;} 
    
 

/* ------------------------------------ cont02 --------------------------------------- */
.cont02 {overflow: visible !important;}  
.cont02 .inner{position: relative;}
.cont02_bg01 {
    position:relative; height: 894px; z-index: 2;
    background: url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_star/cont02_bg01.jpg') 50% 0 no-repeat; background-size: cover; box-sizing: border-box;
    overflow:hidden
}
.cont02_bg_effect {position: absolute;top:-90px;left:-100px;margin:0 auto;}

.cont02 .data_alert:hover {cursor: pointer;}
.cont02 .data_alert:hover + .data_alert_wrap{display: block;}
.cont02 .data_alert_wrap {display: none;width: 800px;padding: 20px;margin: 15px auto 0; background-color: rgba(12, 19, 95, 0.60);border-radius:10px;box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.09); }
.cont02 .data_alert_wrap p {font-size: 16px; color: #fff; font-weight: 400; line-height: 150%; text-align: left;}

 
/* ------------------------------------ cont02_02  --------------------------------------- */
.cont02_02 {
    position: relative; z-index: 1;
    padding-top:30px !important;
    background: linear-gradient(180deg, #ABBCF3 3.22%, #D5DCF0 39.51%, #E5E8EF 73.62%);
}
.cont02_02 .data_alarm_wrap02 {position: relative;} 
.cont02_02 .data_alert02:hover {cursor: pointer;}
.cont02_02 .data_alert02:hover .data_alert_txt{display: block;position: relative;z-index: 3;}
.cont02_02 .data_alert02 {position: absolute;bottom:55px;right:0;left:0; margin:0 auto; width:130px;height: 30px;} 
.cont02_02 .data_alert_txt {display: none;position: absolute; top:0; left:-335px;  width: 800px;padding: 20px;margin: 40px auto 0; background-color:rgba(255, 255, 255, 0.60);border-radius:10px;box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.09);}
.cont02_02 .data_alert_txt p{font-size: 16px; color: #888; font-weight: 400; line-height: 150%; text-align: left;}


/* ------------------------------------ cont03  --------------------------------------- */
.cont03 {padding-bottom: 110px !important;}
.cont03_sub_tit {padding:100px 0 0 !important; color: #000;font-size: 45px; font-weight: 800; line-height: 120%;}
.cont03_sub_tit._02 {padding:85px 0 0 !important; }

/*nonstop_slide*/
.nonstop.slide_area { 
    position: relative;
    height: 500px; 
}
.nonstop.slide_area + .nonstop.slide_area {margin-top:20px;}
.nonstop.slide_wrap {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 47440px;
    margin-left: -850px;
    height:500px;
    padding-top: 60px;
    overflow: hidden;
}
.nonstop.slide_wrap li {
    position: relative;
    float: left;
    width: 386px;
    height:430px;
    margin-right:20px;
}
.nonstop.slide_wrap li + li {}
.nonstop.slide_wrap:after {
    clear: both;
    display: block;
    content: '';
}

/* 윈도우버튼 */
.nonstop.slide_wrap li a{
    position: absolute;
    bottom:40px; right: 30px; 
    width: 50px;height: 50px;
}

/* ------------------------------------ cont04  --------------------------------------- */
.cont04_bg01 {
    position:relative; height: 368px; padding: 0px !important;
    background: url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2025/2025_star/cont04_bg01.jpg') 50% 0 no-repeat; background-size: cover; box-sizing: border-box;
    overflow:hidden;
}
.cont04_bg_effect {
    position: absolute; top:30px;left:-600px;right: 0;bottom: 0; margin-left: -600px; 
    animation: floating 1s linear infinite; -webkit-animation: floating 1s linear 0s infinite alternate;
}
.cont04_bg_effect02 {
    position: absolute; top:-30px; right: -650px;bottom: 0; left: 0; margin-right: -400px;
    animation: floating02 1s linear infinite; -webkit-animation: floating02 1s linear 0s infinite alternate;
}

@keyframes floating {
    0% {margin-top: 15px;}
    100% {margin-top: 0px;}
}
@-webkit-keyframes floating {
    0% {margin-top: 15px;}
    100% {margin-top: 0px;}
}

@keyframes floating02 {
    0% {transform: scale(0.9);}
    100% {transform: scale(1);}
}
@-webkit-keyframes floating02 {
    0% {transform: scale(0.9);}
    100% {transform: scale(1);}
}



