/* 플로팅 배너 숨김 */
.wrap_left_sky {display: none;}

/* 컨텐츠 공통 */
.system-wrap {margin-top:-20px;}
.system-wrap .section {z-index:2;box-sizing:border-box;}
.system-wrap .section .inner {/*padding-left:400px;*/width:1200px;margin:0 auto;}
.system-wrap .section.bg-gray {background:#eeeeee;}

.system-wrap .visual {display:flex;justify-content:center;align-content:center;flex-wrap:wrap;position: relative;padding:120px 0;box-sizing:border-box;text-align:center;background:url('https://russeldata.megastudy.net/campus/images/russel/intro/info/sys_bg.jpg') no-repeat 50% 0;background-size:cover;z-index:4}
.system-wrap .visual:before {left:0;}
.system-wrap .visual:after {right:0;}

.system-wrap .vis-stxt, .system-wrap .vis-stit, .system-wrap .vis-tit{width:100%;}
.system-wrap .vis-stxt {margin-bottom:35px;}
.system-wrap .vis-stxt span {display:inline-block;vertical-align:middle;margin:0 15px;}
.system-wrap .system-slider {position:relative;width:1200px;height:630px;margin:0;}

/* 고정메뉴 */

.quick-box {display:none;position:fixed;top:150px;left:50px;z-index:3}
.quick-box .quick-menu {position:relative;margin:30px 0 0 48px;}
.quick-box .quick-menu::before {content:'';position:absolute;left:2px;top:8px;display:block;background:#dadada;width:1px;height:95px;}
.quick-box .quick-menu li {display:block;position:relative;width:171px;height:18px;transition:all .5s;margin-bottom:27px;cursor:pointer;}
.quick-box .quick-menu li:nth-child(1) {background:url('https://russeldata.megastudy.net/campus/images/russel/intro/info/sys_q01.png') no-repeat 100% 0;}
.quick-box .quick-menu li:nth-child(2) {background:url('https://russeldata.megastudy.net/campus/images/russel/intro/info/sys_q02.png') no-repeat 100% 0;}
.quick-box .quick-menu li:nth-child(3) {background:url('https://russeldata.megastudy.net/campus/images/russel/intro/info/sys_q03.png') no-repeat 100% 0;}
.quick-box .quick-menu li.on {height:22px;margin-left:-1px;}
.quick-box .quick-menu li:nth-child(1).on {background:url('https://russeldata.megastudy.net/campus/images/russel/intro/info/sys_q01.png') no-repeat 100% 100%;}
.quick-box .quick-menu li:nth-child(2).on {background:url('https://russeldata.megastudy.net/campus/images/russel/intro/info/sys_q02.png') no-repeat 100% 100%;}
.quick-box .quick-menu li:nth-child(3).on {background:url('https://russeldata.megastudy.net/campus/images/russel/intro/info/sys_q03.png') no-repeat 100% 100%;}


.system-wrap .system01 {padding:150px 0 100px;}
.system-wrap .system02, .system-wrap .system03 {padding:150px 0;}
.system-wrap .section .inner .con-txt {margin-top:-10px;line-height:35px;text-align:right;color:#222222;font-size:23px;font-weight:500;}
.system-wrap .section .inner .con-tit {text-align:right;}
.system-wrap .section .inner .con-txt strong {font-weight:700;}
.sys-img-wrap {position:relative;width:1200px;}
.system-img-slider {width:1095px;}
.system-img-slider p{width:254px;text-align:center;}
.system-img-slider span {display:block;}
.system-img-slider .img {position:relative;}
.system-img-slider .img .btn-plus {position:absolute;right:0;bottom:0;}
.system-img-slider .txt {margin-top:10px;color:#222222;font-size:18px;font-weight:500;}
.sys-img-wrap .sys-prev {position:absolute;left:0;top:50%;margin-top:-75px;}
.sys-img-wrap .sys-next {position:absolute;right:0;top:50%;margin-top:-75px;}
.sys-img-wrap .s-txt {text-align:right;font-size:13px;color:#bebebe;font-weight:300;}


/* keyframes */

@keyframes fadeIn { 
    0% {opacity:0;}
    100% {opacity:1;}
}

@keyframes widFul { 
    0% {width:0;}
    100% {width:inherit;}
}

@keyframes fadeOut { 
    0% {opacity:1;}
    100% {opacity:0;}
}

@keyframes showUp { 
    0% {opacity:0;transform:translateY(10%);}
    100% {opacity:1;transform:translateY(0);}
}






/* 기숙 */
.yj-system-wrap {margin-top:-50px;}
.yj-quick-box .quick-menu li:nth-child(1) {background:url('https://russeldata.megastudy.net/campus/images/russel_yj/info/system/sys_q01.png') no-repeat 100% 0;}
.yj-quick-box .quick-menu li:nth-child(2) {background:url('https://russeldata.megastudy.net/campus/images/russel_yj/info/system/sys_q02.png') no-repeat 100% 0;}
.yj-quick-box .quick-menu li:nth-child(3) {background:url('https://russeldata.megastudy.net/campus/images/russel_yj/info/system/sys_q03.png') no-repeat 100% 0;}
.yj-quick-box .quick-menu li:nth-child(1).on {background:url('https://russeldata.megastudy.net/campus/images/russel_yj/info/system/sys_q01.png') no-repeat 100% 100%;}
.yj-quick-box .quick-menu li:nth-child(2).on {background:url('https://russeldata.megastudy.net/campus/images/russel_yj/info/system/sys_q02.png') no-repeat 100% 100%;}
.yj-quick-box .quick-menu li:nth-child(3).on {background:url('https://russeldata.megastudy.net/campus/images/russel_yj/info/system/sys_q03.png') no-repeat 100% 100%;}
.yj-system-wrap .section .inner {text-align:center;}

.yj-system-wrap .tab {display:flex;justify-content:center;align-items:center;}
.yj-system-wrap .tab a {width:399px;height:80px;font-size:0;margin-right:1px;}
.yj-system-wrap .tab a:nth-child(1) {background:url('https://russeldata.megastudy.net/campus/images/russel_yj/info/system/tab01.jpg') no-repeat 100% 0;}
.yj-system-wrap .tab a:nth-child(2) {background:url('https://russeldata.megastudy.net/campus/images/russel_yj/info/system/tab02.jpg') no-repeat 100% 0;}
.yj-system-wrap .tab a:nth-child(3) {margin-right:0;background:url('https://russeldata.megastudy.net/campus/images/russel_yj/info/system/tab03.jpg') no-repeat 100% 0;}
.yj-system-wrap .tab a:nth-child(1).on {background:url('https://russeldata.megastudy.net/campus/images/russel_yj/info/system/tab01.jpg') no-repeat 100% 100%;}
.yj-system-wrap .tab a:nth-child(2).on {background:url('https://russeldata.megastudy.net/campus/images/russel_yj/info/system/tab02.jpg') no-repeat 100% 100%;}
.yj-system-wrap .tab a:nth-child(3).on {background:url('https://russeldata.megastudy.net/campus/images/russel_yj/info/system/tab03.jpg') no-repeat 100% 100%;}
.yj-system-wrap .tab-content p {display:none;}
.yj-system-wrap .tab-content p.on {display:block;}

.yj-system-wrap .stit02 {margin:115px 0 75px;}
.yj-system-wrap .stit03 {margin:120px 0 50px;}
.yj-system-wrap .system03 .box {box-shadow:1px 1px 30px #e4e4e4;margin-bottom:30px;}
.yj-system-wrap .system03 .box:last-of-type {margin-bottom:0;}

