.progress_math {
    .winner-contents {
        margin-top: 40px;
        .winner-slide { height: 240px; }
    }
    .section-reason {
        &.reason-1 {
            .action { margin-top: 40px; }
        }
        &.reason-2 {
            background: $color-gray;
            .section-title-wrap { padding-bottom: 32px; }
            .section-img { margin-top: 60px; }
            .comment {
                margin-top: 20px;
                text-align: center;
                @include rem(font-size, 13px);
                font-weight: 500;
            }
        }
        &.reason-4 {
            .section-title-wrap { padding-bottom: 32px; }
        }
        &.reason-5 {
            background: $color-gray;
            .section-img {
                margin: 60px 20px 0;
            }
        }
    }
}