@charset "UTF-8";
.grid {
  *zoom: 1;
}
.grid:before, .grid:after {
  content: "";
  display: table;
}
.grid:after {
  clear: both;
}

.hidden,
.sr_only,
.sr-only {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.grid {
  position: relative;
  box-sizing: border-box;
}
.grid .col {
  position: relative;
  float: left;
  box-sizing: border-box;
}

.table {
  display: table;
}
.table .table-cell {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

.effect-bounce-diagonal {
  -webkit-animation-name: effectBounceDiagonal;
          animation-name: effectBounceDiagonal;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
@-webkit-keyframes effectBounceDiagonal {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10px, -10px);
  }
}
@keyframes effectBounceDiagonal {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10px, -10px);
  }
}

.effect-bounce-updown {
  -webkit-animation-name: effectBounceUpDown;
          animation-name: effectBounceUpDown;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
@-webkit-keyframes effectBounceUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
@keyframes effectBounceUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.effect-extend {
  -webkit-animation-name: effectExtend;
          animation-name: effectExtend;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
@-webkit-keyframes effectExtend {
  0%, 100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
}
@keyframes effectExtend {
  0%, 100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
}

.effect-blink {
  -webkit-animation-name: effectBlink;
          animation-name: effectBlink;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: step-end;
          animation-timing-function: step-end;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
@-webkit-keyframes effectBlink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
@keyframes effectBlink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.product-eco {
  overflow: hidden;
}
.product-eco *, .product-eco *:before, .product-eco *:after {
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  letter-spacing: -0.1388888889vw;
}
@media screen and (min-width: 720px) {
  .product-eco *, .product-eco *:before, .product-eco *:after {
    letter-spacing: -1px;
  }
}
.product-eco .holder, .product-eco .item {
  position: relative;
}
.product-eco .section {
  position: relative;
  padding: 0;
  margin: 0;
  border-bottom: 0;
}
.product-eco .wrap {
  position: relative;
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  text-align: center;
}
.product-eco .section-slide .swiper-container {
  width: 100%;
  height: 100%;
  padding: 10% 0 12%;
}
.product-eco .section-slide .swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: auto;
  top: 0;
  left: 31%;
  color: #999;
  font-size: 3.3333333333vw;
}
@media screen and (min-width: 720px) {
  .product-eco .section-slide .swiper-container-horizontal > .swiper-pagination-bullets {
    font-size: 24px;
  }
}
.product-eco .section-slide .swiper-container-horizontal .swiper-pagination-fraction {
  bottom: auto;
  top: 0;
  text-align: right;
  color: #999;
  padding-right: 6.9444444444vw;
  font-size: 3.3333333333vw;
  box-sizing: border-box;
}
@media screen and (min-width: 720px) {
  .product-eco .section-slide .swiper-container-horizontal .swiper-pagination-fraction {
    padding-right: 50px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .section-slide .swiper-container-horizontal .swiper-pagination-fraction {
    font-size: 24px;
  }
}
.product-eco .section-slide .swiper-container-horizontal .swiper-pagination-fraction .swiper-pagination-current {
  color: #222;
  font-weight: 700;
}
.product-eco .section-slide .swiper-container-horizontal .swiper-pagination-fraction .swiper-pagination-custom {
  bottom: auto;
  top: 0;
  left: 31%;
  color: #999;
  font-size: 3.3333333333vw;
}
@media screen and (min-width: 720px) {
  .product-eco .section-slide .swiper-container-horizontal .swiper-pagination-fraction .swiper-pagination-custom {
    font-size: 24px;
  }
}
.product-eco .section-slide .swiper-slide {
  width: 62.5vw;
  margin-left: 5%;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 15px 15px 30px 0px rgba(0, 0, 0, 0.15);
  transition: all 0.5s ease;
}
@media screen and (min-width: 720px) {
  .product-eco .section-slide .swiper-slide {
    width: 450px;
  }
}
.product-eco .section-slide .swiper-slide.swiper-slide-active {
  background-color: #ffd471;
  transition: all 0.5s ease;
}
.product-eco .icon-pointer {
  position: relative;
  display: inline-block;
}
.product-eco .icon-pointer:after {
  content: "";
  position: absolute;
  top: 60%;
  right: 5%;
  z-index: 1;
  display: block;
  width: 7.9166666667vw;
  height: 9.0277777778vw;
  background: url("https://img.eduwill.net/Img2/Common/icon/pointer/icon_pointer_12.png") no-repeat 0 0;
  background-size: 100% auto;
  -webkit-animation-name: pointerBounceDiagonal;
          animation-name: pointerBounceDiagonal;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
@media screen and (min-width: 720px) {
  .product-eco .icon-pointer:after {
    width: 57px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .icon-pointer:after {
    height: 65px;
  }
}
@-webkit-keyframes pointerBounceDiagonal {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10px, -10px);
  }
}
@keyframes pointerBounceDiagonal {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10px, -10px);
  }
}
.product-eco .fix-banner {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 50px;
  background: #e50e0e;
  z-index: 11;
}
.product-eco .text {
  text-align: right;
  font-weight: 500;
  color: #aaa;
  margin-top: 2.7777777778vw;
  padding-right: 6.9444444444vw;
  font-size: 2.7777777778vw;
}
@media screen and (min-width: 720px) {
  .product-eco .text {
    margin-top: 20px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .text {
    padding-right: 50px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .text {
    font-size: 20px;
  }
}
.product-eco .bxslide_box {
  width: 86.1111111111vw;
  margin: 0 auto;
}
@media screen and (min-width: 720px) {
  .product-eco .bxslide_box {
    width: 620px;
  }
}
.product-eco .bxslide_box .bx-wrapper .bx-controls .bx-controls-direction a {
  width: 6.9444444444vw;
  height: 6.9444444444vw;
}
@media screen and (min-width: 720px) {
  .product-eco .bxslide_box .bx-wrapper .bx-controls .bx-controls-direction a {
    width: 50px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .bxslide_box .bx-wrapper .bx-controls .bx-controls-direction a {
    height: 50px;
  }
}
.product-eco .bxslide_box .bx-wrapper .bx-controls .bx-controls-direction a.bx-prev {
  left: 0;
  background: url("//img.eduwill.net/eduwill/img/2022/L/lecture/220801//mobile/btn_prev.png") center top no-repeat;
  background-size: cover;
}
.product-eco .bxslide_box .bx-wrapper .bx-controls .bx-controls-direction a.bx-next {
  right: 0;
  background: url("//img.eduwill.net/eduwill/img/2022/L/lecture/220801//mobile/btn_next.png") center top no-repeat;
  background-size: cover;
}
.product-eco .section-title {
  background: url("//img.eduwill.net/eduwill/img/2022/L/lecture/220801//mobile/bg_title.jpg") center top no-repeat;
  background-size: cover;
}
.product-eco .section-review {
  padding-bottom: 16.6666666667vw;
}
@media screen and (min-width: 720px) {
  .product-eco .section-review {
    padding-bottom: 120px;
  }
}
.product-eco .section-up {
  background: #f2f2f2;
}
.product-eco .section-teacher .btn-view {
  position: absolute;
  top: 127.5vw;
  width: 55.5555555556vw;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
@media screen and (min-width: 720px) {
  .product-eco .section-teacher .btn-view {
    top: 918px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .section-teacher .btn-view {
    width: 400px;
  }
}
.product-eco .section-video {
  padding-bottom: 13.8888888889vw;
  margin-bottom: 13.8888888889vw;
  background: #f7f7f7;
}
@media screen and (min-width: 720px) {
  .product-eco .section-video {
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .section-video {
    margin-bottom: 100px;
  }
}
.product-eco .section-video iframe,
.product-eco .section-video video {
  position: relative;
  width: 86.1111111111vw;
  height: 50vw;
  margin: 0 auto;
}
@media screen and (min-width: 720px) {
  .product-eco .section-video iframe,
.product-eco .section-video video {
    width: 620px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .section-video iframe,
.product-eco .section-video video {
    height: 360px;
  }
}
.product-eco .section-movie {
  position: relative;
  overflow: hidden;
}
.product-eco .section-movie video {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  z-index: 0;
}
.product-eco .section-movie img {
  position: relative;
  z-index: 1;
}
.product-eco .section-apply-title .title-banner {
  padding: 3.125rem 0 3.125rem 1.5625rem;
  font-size: 6.3888888889vw;
  letter-spacing: -0.2777777778vw;
  line-height: 1.4;
  font-weight: bold;
  text-align: left;
  color: #333;
}
@media screen and (min-width: 720px) {
  .product-eco .section-apply-title .title-banner {
    padding: 100px 0 100px 50px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .section-apply-title .title-banner {
    font-size: 46px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .section-apply-title .title-banner {
    letter-spacing: -2px;
  }
}
.product-eco .notice {
  padding: 0 1.5625rem;
  font-size: 2.5vw;
  text-align: left;
  color: #999;
}
@media screen and (min-width: 720px) {
  .product-eco .notice {
    padding: 0 50px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .notice {
    font-size: 18px;
  }
}

.dimmed {
  display: none;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.6);
}

.popup {
  display: none;
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 40000;
  transform: translateX(-50%);
  max-width: 594px;
  box-sizing: border-box;
  border: 1px solid #393939;
  background-color: #fff;
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
}
@media screen and (max-width: 768px) {
  .popup {
    width: 88.88889%;
  }
}
.popup .popup_close {
  position: absolute;
  top: 0;
  right: 0;
  width: 56px;
  height: 56px;
}
.popup .popup_close a {
  display: block;
  width: 100%;
  height: 100%;
}
.popup .popup_close a:before, .popup .popup_close a:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 30px;
  height: 1px;
  margin-left: -15px;
  background-color: #aaa;
}
.popup .popup_close a:before {
  transform: rotate(45deg);
}
.popup .popup_close a:after {
  transform: rotate(-45deg);
}
.popup .popup_title {
  padding: 28px 0;
  font-weight: 400;
  text-align: center;
  color: #fff;
  letter-spacing: -1px;
  line-height: 1.2;
  background-color: #393939;
}
@media screen and (max-width: 720px) {
  .popup .popup_title {
    letter-spacing: 0;
    padding: 14px 0;
  }
}
.popup .popup_title strong {
  display: block;
  letter-spacing: -2px;
  font-weight: 700;
}
@media screen and (min-width: 720px) {
  .popup .popup_title strong {
    font-size: 32px;
  }
}
@media screen and (max-width: 719px) {
  .popup .popup_title strong {
    font-size: 4.44444vw;
  }
}
@media screen and (max-width: 720px) {
  .popup .popup_title strong {
    display: block;
    letter-spacing: 0;
  }
}
.popup .popup_title strong em {
  display: block;
  color: #ffd800;
}
.popup .popup_cont {
  padding: 5% 3% 0;
}/*# sourceMappingURL=mobile.css.map */