@charset "UTF-8";
@import url("https://img.eduwill.net/resources/common/web/css/webfont.css");
body.house-info .inner {
  *zoom: 1;
}

body.house-info .inner:before, body.house-info .inner:after {
  content: '';
  display: table;
}

body.house-info .inner:after {
  clear: both;
}

#wrap {
  position: relative;
}

body.house-info #header {
  border-bottom: 0 !important;
}

body.house-info #header .gnb.main {
  border-top: 1px solid #eaeaf4;
}

body.house-info #header .gnb.main ul {
  text-align: left;
}

body.house-info #header .gnb.main li a.active {
  color: #132053;
}

body.house-info #header .gnb.main li a {
  text-align: center;
}

body.house-info #header .gnb.main li a span:after {
  display: none;
}

body.house-info #header .gnb.sub {
  background-color: #132053;
}

body.house-info #header .gnb.sub.scroll:after {
  display: none;
}

body.house-info #header .gnb.sub ul {
  text-align: left;
}

body.house-info #header .gnb.sub li a {
  text-align: center;
  color: #a0a5ba;
  background-color: #132053;
}

body.house-info #header .gnb.sub li a span:after {
  display: none;
}

body.house-info #header .gnb.sub li a.active {
  color: #fff;
  font-weight: 700;
}

body.house-info #container {
  height: 100%;
  background-color: #fff;
  margin-bottom: 0;
}

body.house-info .inner {
  position: relative;
  margin: 0 auto;
  max-width: 720px;
  padding: 0;
}

body.house-info .main-visual {
  background-color: #000;
  text-align: center;
  margin: 0 auto;
}

body.house-info .main-contents .notice-section {
  padding: 0 1rem;
}

@media screen and (min-width: 720px) {
  body.house-info .main-contents .notice-section {
    padding: 0 16px;
  }
}

body.house-info .main-contents .notice-section .grid .col {
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
  margin-top: 0.75rem;
  padding: 1rem 0 0.9375rem 1rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
}

body.house-info .main-contents .notice-section .grid .col:first-child {
  margin-top: 1rem;
}

@media screen and (min-width: 720px) {
  body.house-info .main-contents .notice-section .grid .col:first-child {
    margin-top: 16px;
  }
}

@media screen and (min-width: 720px) {
  body.house-info .main-contents .notice-section .grid .col {
    margin-top: 12px;
  }
}

@media screen and (min-width: 720px) {
  body.house-info .main-contents .notice-section .grid .col {
    padding: 16px 0 15px 16px;
  }
}

body.house-info .main-contents .notice-section .grid .col.nth-child-1 {
  background: url("https://img.eduwill.net/resources/img/house/examInfo/mobile/main/ic-arrow.png") right center no-repeat;
  background-size: 3.875rem;
  background-color: #fff;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 720px) {
  body.house-info .main-contents .notice-section .grid .col.nth-child-1 {
    background-size: 62px;
  }
}

body.house-info .main-contents .notice-section .grid .col.nth-child-2, body.house-info .main-contents .notice-section .grid .col.nth-child-3 {
  width: 50%;
  height: 100%;
}

body.house-info .main-contents .notice-section .grid .col a {
  display: block;
  width: 100%;
  height: 100%;
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
}

body.house-info .main-contents .notice-section .grid .col a dl dt strong {
  padding: 2px 8px;
  border-radius: 3px;
  background-color: #ffbf00;
  font-weight: normal;
}

body.house-info .main-contents .notice-section .grid .col a dl dt strong span {
  font-weight: bold;
}

body.house-info .main-contents .notice-section .grid .col a span {
  font-size: 0.9375rem;
  font-weight: 400;
  letter-spacing: -0.5px;
  display: inline-block;
}

@media screen and (min-width: 720px) {
  body.house-info .main-contents .notice-section .grid .col a span {
    font-size: 15px;
  }
}

body.house-info .main-contents .notice-section .grid .col a strong {
  font-size: 1.125rem;
  display: inline-block;
  font-weight: 500;
  color: #010101;
}

@media screen and (min-width: 720px) {
  body.house-info .main-contents .notice-section .grid .col a strong {
    font-size: 18px;
  }
}

body.house-info .main-contents .hyper-section {
  padding: 0 1rem;
}

@media screen and (min-width: 720px) {
  body.house-info .main-contents .hyper-section {
    padding: 0 16px;
  }
}

body.house-info .main-contents .hyper-section .title-group {
  margin-top: 3.625rem;
}

@media screen and (min-width: 720px) {
  body.house-info .main-contents .hyper-section .title-group {
    margin-top: 58px;
  }
}

body.house-info .main-contents .hyper-section .title-group strong {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: -0.6px;
  color: #010101;
}

@media screen and (min-width: 720px) {
  body.house-info .main-contents .hyper-section .title-group strong {
    font-size: 24px;
  }
}

body.house-info .main-contents .hyper-section .list-group:last-child {
  margin-bottom: 3.625rem;
}

@media screen and (min-width: 720px) {
  body.house-info .main-contents .hyper-section .list-group:last-child {
    margin-bottom: 58px;
  }
}

body.house-info .main-contents .hyper-section .list-group .list {
  background: url("https://img.eduwill.net/resources/img/house/examInfo/mobile/main/ic-arrow.png") right center no-repeat;
  background-size: 3.875rem;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
  margin-top: 0.75rem;
  padding: 1rem 0 0.9375rem 1rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
}

@media screen and (min-width: 720px) {
  body.house-info .main-contents .hyper-section .list-group .list {
    background-size: 62px;
  }
}

body.house-info .main-contents .hyper-section .list-group .list:first-child {
  margin-top: 1rem;
}

@media screen and (min-width: 720px) {
  body.house-info .main-contents .hyper-section .list-group .list:first-child {
    margin-top: 16px;
  }
}

@media screen and (min-width: 720px) {
  body.house-info .main-contents .hyper-section .list-group .list {
    margin-top: 12px;
  }
}

@media screen and (min-width: 720px) {
  body.house-info .main-contents .hyper-section .list-group .list {
    padding: 16px 0 15px 16px;
  }
}

body.house-info .main-contents .hyper-section .list-group .list a {
  display: block;
  width: 100%;
  height: 100%;
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
}

body.house-info .main-contents .hyper-section .list-group .list a span {
  font-size: 0.9375rem;
  font-weight: 400;
  letter-spacing: -0.5px;
  display: inline-block;
}

@media screen and (min-width: 720px) {
  body.house-info .main-contents .hyper-section .list-group .list a span {
    font-size: 15px;
  }
}

body.house-info .main-contents .hyper-section .list-group .list a strong {
  font-size: 1.125rem;
  display: inline-block;
  font-weight: 500;
  color: #010101;
}

@media screen and (min-width: 720px) {
  body.house-info .main-contents .hyper-section .list-group .list a strong {
    font-size: 18px;
  }
}
/*# sourceMappingURL=style_m.css.map */