.form-control {
    border-color: #eaeaf4;
    background-color: $color-White;
    height: 40px;
    letter-spacing: -.5px;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    &:hover {
        // border-color: $color-Medium-Light;
        // background-color: $color-White;
        // -webkit-box-shadow: 0 0 0 2px $color-Accent-1-Light; 
        // box-shadow: 0 0 0 2px $color-Accent-1-Light; 
    }
    &:focus {
        // background-color: $color-White;
        border-color: #365cff;
        // box-shadow: none;
        box-shadow: none;
    }
    &[disabled], 
    &[readonly]  {
        border-color: #eaeaf4;
        background-color: $color-Bg-Disabled;
        color: $color-Medium-Light;
        &:hover {
            box-shadow: none;
        }
    }
    @include placeholder-color($color-Medium-Light);
    color: $color-Black;

    &.success {
        border-color: $color-Accent-2;
        background-color: $color-White;
    }

    &.error {
        border-color: $color-Red;
        background-color: $color-White;
    }

    & + .text-required {
        margin-top: 9px;
        & * {
            display: inline-block;
            vertical-align: middle;
        }
        span {            
            @include font-size-color-weight($typo-size-13, $color-Red, 400);
            line-height: 15px;
        }        
        i.icon-exc {
            width: 14px; height: 14px;
            @include background-name-ext-repeat-poistion("icon/icon-exc", svg, no-repeat, 0 0);
            margin-right: 6px;
        }
    }

    &-disabled {
        border-color: $color-Bg-Disabled;
        background-color: $color-Bg-Disabled;
        &:hover {
            border-color: $color-Bg-Disabled;
            background-color: $color-Bg-Disabled;
        }
        &:focus {
            background-color: $color-Bg-Disabled;
            border-color: $color-Bg-Disabled;
        }
    }
    &.full {
        width: 100% !important;
    }
}

select.form-control {
    padding-right: 40px;
    background: #fff url(//img.eduwill.net/resources/mgenius/dev/images/arrow-icon-arrow-down-black-fill.svg) no-repeat right 12px center/8px 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    // &[disabled], 
    // &[readonly]  {
    //     background: $color-Bg-Disabled url(//img.eduwill.net/resources/kin/kin_2.0/images/icon/icon-arrow-down-disabled.svg) no-repeat right 14px center/12px 8px;
    // }
    // &-dark,
    // &-dark:hover,
    // &-dark:focus {
    //     border-color: $color-Medium;
    //     background-color: transparent;
    //     color: $color-White;
    //     background-image: url(//img.eduwill.net/resources/kin/kin_2.0/images/icon/icon-arrow-down-w.svg)

    // }
    &::-ms-expand {
        display:none
    }
}
textarea.form-control {
    padding: 10px 14px;
    resize: none;
}
.input-icon {
    &-group {
        position: relative;        
        .icon {
            @include contentReset();
            position: absolute; top: 50%; left: 50%;
            transform: translate(-50%, -50%);
        }
        .input-icon {
            display: block;
            width: 40px; height: 40px;
            position: absolute; top: 0;
            
        }
        .input-button {
            border: none;
            background-color: $color-White;
            &.bg-none {
                background-color: transparent;
            }
            width: 24px; height: 24px;
            position: absolute; top: 50%; right: 9px;
            transform: translateY(-50%);
        }
        
    }
    
    &-left {
        padding-left: 40px;
        & + .input-icon {
            left: 0;
        }
        & + .input-button {
            left: 9px;
        }
    }
    &-right {
        padding-right: 40px;
        & + .input-icon {
            right: 0;
        }
        & + .input-button {
            right: 9px;
        }
    }
}
.form-control[disabled], 
.form-control[readonly] {
    & + .input-icon-calendar:before {
        @include background-name-ext-repeat-poistion('icon/icon-calendar-disabled', svg, no-repeat, 0 0);
    }
}

/* checkbox */
.checkbox, .radio {
    display: inline-block;
    padding-left: 20px;
    line-height: 22px;
    height: auto;
    min-height: 22px;
    cursor: pointer;
    position: relative;    
    margin: 0;
    input[type="checkbox"],
    input[type="radio"] {
        position: absolute; left: -9999px;        
    }
    span {
        margin-left: 6px;
        @include font-size-color-weight($typo-size-15, $color-Dark, 400);
        display: inline-block;
    }
    i {
        position: absolute;
        top: 2px;
        left: 0;
        display: inline-block;
        width: 20px;
        height: 20px;
        background-size: 20px;
    }
    input[type="checkbox"] + i {
        @include background-name-ext-repeat-poistion('icon-check-off', svg, no-repeat, 0 0);
        
    }
    input[type="checkbox"]:checked + i {
        @include background-name-ext-repeat-poistion('icon-check-on', svg, no-repeat, 0 0);
    }
    input[type="checkbox"]:disabled + i {
        @include background-name-ext-repeat-poistion('icon-check-off', svg, no-repeat, 0 0);
    }

    input[type="radio"] + i {
        @include background-name-ext-repeat-poistion('icon-radio-off', svg, no-repeat, 0 0);
    }
    input[type="radio"]:checked + i {
        @include background-name-ext-repeat-poistion('icon-radio-on', svg, no-repeat, 0 0);
    }
    input[type="radio"]:disabled + i {
        @include background-name-ext-repeat-poistion('icon-radio-off', svg, no-repeat, 0 0);
    }
}

.filebox {
    position: relative;
    padding-right: 108px;
    input[type="file"] {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip:rect(0,0,0,0);
        border: 0;
    }
    label {
        position: absolute; top: 0; right: 0;
        display: inline-block;
        width: 100px; height: 40px;
        @include font-size-color-weight($typo-size-15, $color-White, 400);
        line-height: 40px;
        text-align: center;
        cursor: pointer;
        background-color: $color-Accent-1;
        border-radius: 8px; 
        
        &:hover,
        &:focus,
        &.active.focus, 
        &.active:focus,     
        &:active,
        &:active:hover,
        &:active.focus, 
        &:active:focus, 
        &:active:hover {
            background-color: $color-Accent-1-hover;
        }
    }
    .upload-name {
        border-color: $color-Accent-1-Light;
        background-color: $color-Accent-1-Light;
    }
}


.date-piker {
    display: flex;
    .input-piker {
        display: inline-block;
        width: calc(50% - 18px);
        @include background-name-ext-repeat-poistion('icon-cs-calendar', svg, no-repeat, 100% 0);
        padding-right: 40px;
        color: $color-Dark;
        background-color: $color-White;
        border: solid 1px #eaeaf4;
        & + span {
            display: inline-block;
            width: 36px;
            text-align: center;
            line-height: 36px !important;
        }
    }
    .time-piker {
        background-color: $color-White !important;
    }
}

