@charset "UTF-8";
.grid {
  *zoom: 1;
}
.grid:before, .grid:after {
  content: "";
  display: table;
}
.grid:after {
  clear: both;
}

.hidden,
.sr_only,
.sr-only {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.grid {
  position: relative;
  box-sizing: border-box;
}
.grid .col {
  position: relative;
  float: left;
  box-sizing: border-box;
}

.table {
  display: table;
}
.table .table-cell {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

.product-eco .slick-dots {
  font-size: 0;
}
.product-eco .slick-dots li {
  display: inline-block;
}
.product-eco .slick-dots button {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 0;
  color: transparent;
  text-indent: -9999px;
  border: 0;
  background: none;
}

.effect-bounce-diagonal {
  -webkit-animation-name: effectBounceDiagonal;
          animation-name: effectBounceDiagonal;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
@-webkit-keyframes effectBounceDiagonal {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10px, -10px);
  }
}
@keyframes effectBounceDiagonal {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10px, -10px);
  }
}

.effect-bounce-updown {
  -webkit-animation-name: effectBounceUpDown;
          animation-name: effectBounceUpDown;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
@-webkit-keyframes effectBounceUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
@keyframes effectBounceUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.effect-extend {
  -webkit-animation-name: effectExtend;
          animation-name: effectExtend;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
@-webkit-keyframes effectExtend {
  0%, 100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
}
@keyframes effectExtend {
  0%, 100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
}

.effect-blink {
  -webkit-animation-name: effectBlink;
          animation-name: effectBlink;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: step-start;
          animation-timing-function: step-start;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
@-webkit-keyframes effectBlink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
@keyframes effectBlink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.dimmed {
  display: none;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.6);
}

.popup {
  display: none;
  position: fixed;
  background-color: transparent;
  width: 86.1111111111vw;
  height: 147.9166666667vw;
  left: 50%;
  top: 6%;
  width: 90%;
  max-width: 720px;
  margin: 0 auto;
  z-index: 100;
  transform: translateX(-50%);
  box-sizing: border-box;
}
@media screen and (min-width: 720px) {
  .popup {
    width: 620px;
  }
}
@media screen and (min-width: 720px) {
  .popup {
    height: 1065px;
  }
}
@media screen and (min-width: 1100px) {
  .popup {
    width: 111.1111111111vw;
    max-width: 900px;
    top: 6%;
  }
}
@media screen and (min-width: 1100px) and (min-width: 720px) {
  .popup {
    width: 800px;
  }
}
.popup * {
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
}
.popup .popup-close {
  position: absolute;
  top: 10px;
  right: 0;
  width: 7.7777777778vw;
  height: 7.7777777778vw;
}
@media screen and (min-width: 720px) {
  .popup .popup-close {
    width: 56px;
  }
}
@media screen and (min-width: 720px) {
  .popup .popup-close {
    height: 56px;
  }
}
.popup .popup-close:before, .popup .popup-close:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 4.1666666667vw;
  height: 0.1388888889vw;
  margin-left: -2.0833333333vw;
  background-color: #fff;
}
@media screen and (min-width: 720px) {
  .popup .popup-close:before, .popup .popup-close:after {
    width: 30px;
  }
}
@media screen and (min-width: 720px) {
  .popup .popup-close:before, .popup .popup-close:after {
    height: 1px;
  }
}
@media screen and (min-width: 720px) {
  .popup .popup-close:before, .popup .popup-close:after {
    margin-left: -15px;
  }
}
.popup .popup-close:before {
  transform: rotate(45deg);
}
.popup .popup-close:after {
  transform: rotate(-45deg);
}
.popup .popup-title {
  margin: 0 auto;
  padding: 3%;
  font-weight: 800;
  text-align: left;
  box-sizing: border-box;
  color: #fff;
  letter-spacing: -1px;
  line-height: 1.2;
  background-color: transparent;
  width: 86.1111111111vw;
  font-size: 4.1666666667vw;
}
@media screen and (min-width: 720px) {
  .popup .popup-title {
    width: 620px;
  }
}
@media screen and (min-width: 720px) {
  .popup .popup-title {
    font-size: 30px;
  }
}
@media screen and (min-width: 1100px) {
  .popup .popup-title {
    width: 111.1111111111vw;
  }
}
@media screen and (min-width: 1100px) and (min-width: 720px) {
  .popup .popup-title {
    width: 800px;
  }
}
.popup .popup-title strong {
  display: block;
  letter-spacing: -2px;
  font-weight: 700;
}
@media screen and (min-width: 720px) {
  .popup .popup-title strong {
    font-size: 32px;
  }
}
@media screen and (max-width: 719px) {
  .popup .popup-title strong {
    font-size: 4.44444vw;
  }
}
@media screen and (max-width: 720px) {
  .popup .popup-title strong {
    display: block;
    letter-spacing: 0;
  }
}
.popup .popup-title strong em {
  display: block;
  color: #ffd800;
}
.popup .popup-cont {
  padding: 3%;
  width: 86.1111111111vw;
  box-sizing: border-box;
  margin: 0 auto;
}
@media screen and (min-width: 720px) {
  .popup .popup-cont {
    width: 620px;
  }
}
@media screen and (min-width: 1100px) {
  .popup .popup-cont {
    width: 111.1111111111vw;
  }
}
@media screen and (min-width: 1100px) and (min-width: 720px) {
  .popup .popup-cont {
    width: 800px;
  }
}
.popup .popup-cont table {
  background-color: #fff;
}
@media screen and (min-width: 1100px) {
  .popup .popup-cont table {
    width: 111.1111111111vw;
  }
}
@media screen and (min-width: 1100px) and (min-width: 720px) {
  .popup .popup-cont table {
    width: 800px;
  }
}
.popup .popup-cont table tr td {
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  text-align: center;
  padding: 1.3888888889vw;
  font-size: 2.7777777778vw;
  font-weight: 400;
}
@media screen and (min-width: 720px) {
  .popup .popup-cont table tr td {
    padding: 10px;
  }
}
@media screen and (min-width: 720px) {
  .popup .popup-cont table tr td {
    font-size: 20px;
  }
}
.popup .popup-cont table tr:last-child td {
  border-bottom: none;
}
.popup .popup-cont thead td {
  background-color: #2c7bff;
  color: #fff;
  font-weight: 800;
}

/* 공통 */
.product-eco {
  /* 컨텐츠 */
}
.product-eco #fixApply {
  display: none !important;
}
.product-eco * {
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif !important;
}
.product-eco * p,
.product-eco * span {
  margin: 0;
}
.product-eco .wrap {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}
.product-eco .slick-dots {
  margin-top: 20px;
  text-align: center;
}
.product-eco .slick-dots li {
  width: 20px;
  height: 20px;
  margin: 0 6px;
  border-radius: 50%;
  background-color: #d8d8d8;
}
.product-eco .slick-dots li.slick-active {
  background-color: #1a2553;
}
.product-eco .sector {
  position: relative;
}
.product-eco .sector-banner {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 15;
}
.product-eco .sector-banner a {
  position: relative;
  display: inline-block;
}
.product-eco .sector-banner a:after {
  content: "";
  position: absolute;
  top: 65%;
  right: 55px;
  z-index: 1;
  display: block;
  width: 1.75rem;
  height: 1.9375rem;
  background: url("//img.eduwill.net/Img2/Common/icon/pointer/icon_pointer_1.png") no-repeat 0 0;
  background-size: 100% auto;
  -webkit-animation-name: pointerBounceDiagonal;
          animation-name: pointerBounceDiagonal;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-banner a:after {
    width: 56px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .sector-banner a:after {
    height: 62px;
  }
}
@-webkit-keyframes pointerBounceDiagonal {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10px, -10px);
  }
}
@keyframes pointerBounceDiagonal {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10px, -10px);
  }
}
.product-eco .sector-banner a img {
  margin-top: -40px;
}
.product-eco .sector-link {
  height: 123px;
  background-color: #000;
  margin-bottom: -18px;
  z-index: 2;
}
.product-eco .sector-link .link-wrap {
  display: flex;
}
.product-eco .sector-link .link-wrap a {
  position: relative;
  display: block;
  width: 100%;
}
.product-eco .sector-link .link-wrap a img {
  filter: grayscale(100%);
}
.product-eco .sector-link .link-wrap a:hover img {
  filter: grayscale(0%);
}
.product-eco .sector-link .link-wrap a.on img {
  filter: grayscale(0%);
}
.product-eco .sector-title {
  background-image: url("//img.eduwill.net/eduwill/img/2023/_105/product/230221/pc/bg_title.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.product-eco .sector-title .wrap a {
  position: absolute !important;
  bottom: 80px;
  left: 0;
  position: relative;
  display: inline-block;
}
.product-eco .sector-title .wrap a:after {
  content: "";
  position: absolute;
  top: 68%;
  right: 6%;
  z-index: 1;
  display: block;
  width: 1.75rem;
  height: 1.9375rem;
  background: url("//img.eduwill.net/Img2/Common/icon/pointer/icon_pointer_1.png") no-repeat 0 0;
  background-size: 100% auto;
  -webkit-animation-name: pointerBounceDiagonal;
          animation-name: pointerBounceDiagonal;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-title .wrap a:after {
    width: 56px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .sector-title .wrap a:after {
    height: 62px;
  }
}
@-webkit-keyframes pointerBounceDiagonal {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10px, -10px);
  }
}
@keyframes pointerBounceDiagonal {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10px, -10px);
  }
}
.product-eco .sector-apply {
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  padding: 100px 0 130px 0;
}
.product-eco .sector-apply .title {
  margin-bottom: 50px;
}
.product-eco .sector-apply .title p {
  font-size: 42px;
  font-weight: 900 !important;
}
.product-eco .sector-apply .price-table {
  width: 1100px;
  margin: 0 auto;
  table-layout: fixed;
}
.product-eco .sector-apply .price-table table {
  table-layout: fixed;
  width: 100%;
  text-align: left;
  color: #222;
  border-collapse: inherit !important;
}
.product-eco .sector-apply .price-table table [class^=row-] td {
  vertical-align: top;
  color: #222;
  background-color: #f7f7f7;
  width: 49%;
}
.product-eco .sector-apply .price-table table [class^=row-] td.blank {
  width: 2%;
  border: none;
  background-color: transparent;
}
.product-eco .sector-apply .price-table table [class^=row-] td.other {
  width: 49%;
  border-color: #dbdbdb;
}
.product-eco .sector-apply .price-table table [class^=row-] td.other2 {
  width: 49%;
  border-color: #dbdbdb;
}
.product-eco .sector-apply .price-table table [class^=row-] td.on {
  background-color: #f2f7ff;
}
.product-eco .sector-apply .price-table table [class^=row-] .cell {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 20px 28px 20px 60px;
  vertical-align: top;
  line-height: 1.45;
  letter-spacing: -1.6px;
  box-sizing: border-box;
}
.product-eco .sector-apply .price-table table [class^=row-].row-title td {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: relative;
  vertical-align: middle;
  font-size: 36px;
  text-align: center;
}
.product-eco .sector-apply .price-table table [class^=row-].row-title td .cell {
  background: #ebebeb;
  line-height: 1.2;
  padding: 30px 18px 18px 18px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.product-eco .sector-apply .price-table table [class^=row-].row-title td .cell h3 {
  font-weight: 900;
  padding-bottom: 0 !important;
}
.product-eco .sector-apply .price-table table [class^=row-].row-title td.current .flag {
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  font-size: 14px;
  color: #fff;
  background-color: #2c7bff;
  width: 225px;
  height: 25px;
  padding: 2px 15px;
  line-height: 1.8;
  border-radius: 20px;
  letter-spacing: -1px;
}
.product-eco .sector-apply .price-table table [class^=row-].row-title td.current .best {
  position: absolute;
  top: 25px;
  left: -42px;
  z-index: 3;
  width: 85px;
  height: 85px;
}
.product-eco .sector-apply .price-table table [class^=row-].row-title td.on .cell {
  background: #000375;
  color: #fff;
}
.product-eco .sector-apply .price-table table [class^=row-].row-border {
  font-size: 0;
}
.product-eco .sector-apply .price-table table [class^=row-].row-border .cell {
  width: 100%;
  text-align: center;
  padding: 0 0;
}
.product-eco .sector-apply .price-table table [class^=row-].row-border .cell::after {
  content: "";
  position: absolute;
  right: 1px;
  left: 1px;
  display: block;
  width: 90%;
  height: 1px;
  margin: 0 auto;
  background-color: #d3d3d3;
}
.product-eco .sector-apply .price-table table [class^=row-].row-border .cell::after {
  bottom: 0;
}
.product-eco .sector-apply .price-table table [class^=row-].row-border .current .cell:after {
  background-color: #e0d4d4;
}
.product-eco .sector-apply .price-table table [class^=row-].row-border.no-border .cell:after {
  display: none;
}
.product-eco .sector-apply .price-table table [class^=row-].row-price {
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  border-radius: 20px;
}
.product-eco .sector-apply .price-table table [class^=row-].row-price td {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.product-eco .sector-apply .price-table table [class^=row-].row-price .cell {
  text-align: center;
  display: table;
}
.product-eco .sector-apply .price-table table [class^=row-].row-price .before-price {
  width: 62%;
  text-align: left;
  display: inline-block;
  font-size: 18px;
  color: #959595;
  text-align: left;
  vertical-align: middle;
}
.product-eco .sector-apply .price-table table [class^=row-].row-price .before-price span {
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  font-size: 18px;
  color: #959595;
}
.product-eco .sector-apply .price-table table [class^=row-].row-price .before-price span.black {
  color: #000;
}
.product-eco .sector-apply .price-table table [class^=row-].row-price .before-price span.red {
  display: block;
  color: red;
}
.product-eco .sector-apply .price-table table [class^=row-].row-price .before-price span.gray {
  text-decoration: line-through;
}
.product-eco .sector-apply .price-table table [class^=row-].row-price .after-price {
  width: 38%;
  text-align: right;
  display: inline-block;
  font-size: 35px;
  color: #000;
  letter-spacing: -2px;
  text-align: right;
  vertical-align: middle;
}
.product-eco .sector-apply .price-table table [class^=row-].row-price .after-price span {
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  font-size: 40px;
  color: #1f75ec;
  letter-spacing: -2px;
}
.product-eco .sector-apply .price-table table [class^=row-].row-subject .cell {
  font-size: 18px;
  font-weight: 700;
  position: relative;
}
.product-eco .sector-apply .price-table table [class^=row-].row-subject .cell .red-notice {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  text-align: center;
  background-color: #fb0000;
  color: #fff;
  width: 260px;
  height: 30px;
  font-size: 20px;
  border-radius: 20px;
}
.product-eco .sector-apply .price-table table [class^=row-].row-subject.date .cell {
  padding: 20px 20px 20px 60px;
  background-image: url("//img.eduwill.net/eduwill/img/2023/_105/product/230221/pc/icon_calendar.png");
  background-repeat: no-repeat;
  background-position: 20px center;
  background-size: 32px auto;
}
.product-eco .sector-apply .price-table table [class^=row-].row-subject.date td.on .cell {
  background-image: url("//img.eduwill.net/eduwill/img/2023/_105/product/230221/pc/icon_calendar_on.png");
  background-repeat: no-repeat;
  background-position: 20px center;
  background-size: 32px auto;
}
.product-eco .sector-apply .price-table table [class^=row-].row-subject.date td.on .cell span {
  color: #1f75ec;
}
.product-eco .sector-apply .price-table table [class^=row-].row-subject.video .cell {
  background-image: url("//img.eduwill.net/eduwill/img/2023/_105/product/230221/pc/icon_video_off.png");
  background-repeat: no-repeat;
  background-position: 20px 24px;
  background-size: 32px auto;
}
.product-eco .sector-apply .price-table table [class^=row-].row-subject.video td.on .cell {
  background-image: url("//img.eduwill.net/eduwill/img/2023/_105/product/230221/pc/icon_video_on.png");
  background-repeat: no-repeat;
  background-position: 20px 24px;
  background-size: 32px auto;
}
.product-eco .sector-apply .price-table table [class^=row-].row-subject.band .cell {
  background-image: url("//img.eduwill.net/eduwill/img/2023/_105/product/230221/pc/icon_band_off.png");
  background-repeat: no-repeat;
  background-position: 20px 24px;
  background-size: 25px auto;
}
.product-eco .sector-apply .price-table table [class^=row-].row-subject.band td.on .cell {
  background-image: url("//img.eduwill.net/eduwill/img/2023/_105/product/230221/pc/icon_band_on.png");
  background-repeat: no-repeat;
  background-position: 20px 24px;
  background-size: 25px auto;
}
.product-eco .sector-apply .price-table table [class^=row-].row-subject.lecture .cell {
  text-align: center;
  padding: 20px;
}
.product-eco .sector-apply .price-table table [class^=row-].row-subject.lecture .cell img {
  text-align: center;
}
.product-eco .sector-apply .price-table table [class^=row-].row-subject.lecture .cell span {
  display: block;
}
.product-eco .sector-apply .price-table table [class^=row-].row-subject.lecture .cell .red {
  color: red;
}
.product-eco .sector-apply .price-table table [class^=row-].row-subject.graduation .cell {
  background-image: url("//img.eduwill.net/eduwill/img/2023/_105/product/230221/pc/icon_graduation_off.png");
  background-repeat: no-repeat;
  background-position: 20px 24px;
  background-size: 32px auto;
}
.product-eco .sector-apply .price-table table [class^=row-].row-subject.graduation td.on .cell {
  background-image: url("//img.eduwill.net/eduwill/img/2023/_105/product/230221/pc/icon_graduation_on.png");
  background-repeat: no-repeat;
  background-position: 20px 24px;
  background-size: 32px auto;
}
.product-eco .sector-apply .price-table table [class^=row-].row-subject.book .cell {
  background-image: url("//img.eduwill.net/eduwill/img/2023/_105/product/230221/pc/icon_book_off.png");
  background-repeat: no-repeat;
  background-position: 20px 24px;
  background-size: 32px auto;
}
.product-eco .sector-apply .price-table table [class^=row-].row-subject.book td.on .cell {
  background-image: url("//img.eduwill.net/eduwill/img/2023/_105/product/230221/pc/icon_book_on.png");
  background-repeat: no-repeat;
  background-position: 20px 24px;
  background-size: 32px auto;
}
.product-eco .sector-apply .price-table table [class^=row-].row-subject.product .cell {
  padding: 20px 20px;
}
.product-eco .sector-apply .price-table table [class^=row-].row-price * {
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
}
.product-eco .sector-apply .price-table table [class^=row-].row-price .cell {
  text-align: left;
  line-height: 1.2;
  padding-top: 0;
  padding-left: 40px !important;
}
.product-eco .sector-apply .price-table table [class^=row-].row-price .cell .del {
  position: relative;
  font-size: 30px;
  font-weight: 400;
  color: #737373;
}
.product-eco .sector-apply .price-table table [class^=row-].row-price .cell .del:before {
  content: "";
  position: absolute;
  left: 0;
  top: 60%;
  width: 130px;
  height: 11px;
  background-image: url("//img.eduwill.net/eduwill/img/2023/_105/product/230221/pc/del.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100%;
  transform: translateY(-60%);
}
.product-eco .sector-apply .price-table table [class^=row-].row-price .cell .price {
  font-size: 50px;
  font-weight: 900;
  color: #000375;
}
.product-eco .sector-apply .price-table table [class^=row-].row-action td {
  border: none;
  border-radius: 0 0 20px 20px;
  background-color: transparent;
}
.product-eco .sector-apply .price-table table [class^=row-].row-action td.on .btn-apply {
  background-color: #000375;
}
.product-eco .sector-apply .price-table table [class^=row-].row-action .cell {
  margin-top: 20px;
  padding: 0;
  letter-spacing: -1.5px;
}
.product-eco .sector-apply .price-table table [class^=row-].row-action .btn-apply {
  -moz-text-align-last: left;
       text-align-last: left;
  position: relative;
  display: block;
  width: 100%;
  padding: 25px 90px 30px 30px;
  line-height: 0.2;
  font-size: 40px;
  font-weight: 900;
  color: #ffd100;
  background-color: #000;
  border-radius: 20px;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
}
.product-eco .sector-apply .price-table table [class^=row-].row-action .btn-apply:after {
  content: "";
  position: absolute;
  top: 62%;
  right: -8px;
  z-index: 1;
  display: block;
  width: 1.75rem;
  height: 1.9375rem;
  background: url("//img.eduwill.net/Img2/Common/icon/pointer/icon_pointer_1.png") no-repeat 0 0;
  background-size: 100% auto;
  -webkit-animation-name: pointerBounceDiagonal;
          animation-name: pointerBounceDiagonal;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-apply .price-table table [class^=row-].row-action .btn-apply:after {
    width: 56px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .sector-apply .price-table table [class^=row-].row-action .btn-apply:after {
    height: 62px;
  }
}
@-webkit-keyframes pointerBounceDiagonal {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10px, -10px);
  }
}
@keyframes pointerBounceDiagonal {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10px, -10px);
  }
}
.product-eco .sector-apply .price-table table [class^=row-].row-action .btn-apply span {
  line-height: 1.2;
  font-weight: 700;
  font-size: 24px;
}
.product-eco .sector-apply .price-table table [class^=row-].row-action .btn-apply em {
  position: absolute;
  top: 34px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  font-size: 30px;
  font-weight: 900;
  color: #000;
  border-radius: 50%;
  background-color: #ffd100;
}
.product-eco .sector-why {
  background-image: url("//img.eduwill.net/eduwill/img/2023/_105/product/230221/pc/bg_why.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto;
  background-color: #f6f6f6;
}
.product-eco .sector-review {
  background-color: #f6f6f6;
}
.product-eco .sector-bar {
  position: relative;
  background-color: #000375;
}
.product-eco .sector-bar:after {
  content: "";
  display: block;
  width: 35px;
  height: 35px;
  background-color: #000375;
  transform: rotate(45deg);
  position: absolute;
  top: 89%;
  left: 49%;
}
.product-eco .sector-point .tab-wrap .tab-list {
  display: flex;
  justify-content: center;
}
.product-eco .sector-point .tab-wrap .tab-list li {
  cursor: pointer;
  line-height: 79%;
}
.product-eco .sector-point .tab-view {
  display: none;
  width: 1100px;
  height: 680px;
  padding: 40px;
  margin: 0 auto;
  background-color: #f5f5f5;
}
.product-eco .sector-point .tab-view.on {
  display: block !important;
}
.product-eco .sector-point .tab-view .video {
  position: relative;
  width: 1020px;
  height: 600px;
}
.product-eco .sector-point .tab-view .video img {
  width: 100%;
  height: 600px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}
.product-eco .sector-point.point2 {
  padding-top: 60px;
}
.product-eco .sector-point.point2 .tab-view {
  width: 1100px;
  padding: 40px 0;
  background-color: #f5f5f5;
}
.product-eco .sector-point.point2 .tab-view a {
  position: absolute;
  bottom: 170px;
  left: 232px;
}
.product-eco .sector-point.point2 .tab-view.on {
  display: block !important;
}
.product-eco .sector-teacher {
  background: #f6f6f6;
}
.product-eco .sector-teacher .btn-teacher {
  display: inline-block;
  position: absolute;
  width: 155px;
  height: 57px;
  z-index: 7;
  top: 99px;
  right: 205px;
}
.product-eco .sector-story {
  background: #fff;
}
.product-eco .sector-story .interview-list {
  width: 1100px;
  margin: 0 auto;
}
.product-eco .sector-story .interview-list .video {
  display: block;
  width: 545px;
  height: 300px;
  float: left;
  position: relative;
}
.product-eco .sector-story .interview-list .video:nth-child(2) {
  margin-left: 10px;
}
.product-eco .sector-story .interview-list .video a img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 7;
}
.product-eco .sector-story .interview-list .video video {
  height: 300px;
}
.product-eco .sector-story .interview-list:after {
  content: "";
  display: block;
  clear: both;
}
.product-eco .sector-network {
  padding-bottom: 90px;
  background: #f6f6f6;
}
.product-eco .sector-network .slick-slide {
  margin: 0 20px;
  padding: 0px 0 40px 0;
  opacity: 0.3;
  filter: blur(0);
}
.product-eco .sector-network .slick-slide.slick-active {
  opacity: 0.3;
  filter: blur(0);
}
.product-eco .sector-network .slick-slide.slick-center {
  opacity: 1;
  filter: blur(1);
}
.product-eco .sector-network .slick-slide p {
  overflow: hidden;
  box-shadow: 10px 15px 20px 10px rgba(130, 130, 130, 0.4);
}
.product-eco .sector-network .slick-slide p img {
  width: 100%;
}
.product-eco .sector-lecture {
  background: #fff;
}
.product-eco .sector-awrads {
  background: #f6f6f6;
}
.product-eco .sector-awrads .btn-awrads {
  position: absolute;
  width: 660px;
  height: 100px;
  z-index: 7;
  bottom: 100px;
  right: 0;
  left: 0;
  margin: 0 auto;
}/*# sourceMappingURL=web.css.map */