@charset "UTF-8";
a {
  outline: 0;
  outline: none;
}

.popup-apply .popup-body .list, .grid {
  *zoom: 1;
}
.popup-apply .popup-body .list:before, .grid:before, .popup-apply .popup-body .list:after, .grid:after {
  content: "";
  display: table;
}
.popup-apply .popup-body .list:after, .grid:after {
  clear: both;
}

.hidden,
.sr_only,
.sr-only {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.grid {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.grid .col {
  position: relative;
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.table, .popup-apply .popup-body .list .list-item {
  display: table;
}
.table .table-cell, .popup-apply .popup-body .list .table .list-item > div, .popup-apply .popup-body .list .list-item .table-cell, .popup-apply .popup-body .list .list-item > div {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

.product-eco .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  display: block;
  margin: 0;
  padding: 0;
  font-size: 0;
  color: transparent;
  text-indent: -9999px;
  border: none;
  background: none;
  outline: none;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.effect-bounce-diagonal {
  animation-name: effectBounceDiagonal;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-direction: normal;
}
@-webkit-keyframes effectBounceDiagonal {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    -ms-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}
@keyframes effectBounceDiagonal {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    -ms-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}

.effect-bounce-updown {
  animation-name: effectBounceUpDown;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-direction: normal;
}
@-webkit-keyframes effectBounceUpDown {
  0%, 100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
@keyframes effectBounceUpDown {
  0%, 100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

.effect-extend {
  animation-name: effectExtend;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-direction: normal;
}
@-webkit-keyframes effectExtend {
  0%, 100% {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
}
@keyframes effectExtend {
  0%, 100% {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
}

.effect-blink {
  animation-name: effectBlink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: step-end;
  animation-direction: normal;
}
@-webkit-keyframes effectBlink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
@keyframes effectBlink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.popup-dim {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 300;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.8);
}

.popup-apply {
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 310;
  display: none;
  width: 90%;
  max-width: 640px;
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  background-color: #fff;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.popup-apply p {
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
}
@media screen and (min-width: 1100px) {
  .popup-apply {
    width: 100%;
    max-width: 720px;
  }
}
.popup-apply .popup-head {
  padding: 0.875rem;
  text-align: center;
  line-height: 1.2;
  font-size: 3.6111111111vw;
  font-weight: 700;
  color: #fff;
  letter-spacing: -1px;
  background-color: #2e2b48;
}
@media screen and (min-width: 720px) {
  .popup-apply .popup-head {
    padding: 28px;
  }
}
@media screen and (min-width: 720px) {
  .popup-apply .popup-head {
    font-size: 26px;
  }
}
.popup-apply .popup-head strong {
  display: block;
  font-size: 5vw;
}
@media screen and (min-width: 720px) {
  .popup-apply .popup-head strong {
    font-size: 36px;
  }
}
.popup-apply .popup-body {
  padding: 1.25rem 0.9375rem 1.5625rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: left;
}
@media screen and (min-width: 720px) {
  .popup-apply .popup-body {
    padding: 40px 30px 50px;
  }
}
.popup-apply .popup-body .list {
  margin-top: 0.3125rem;
  line-height: 1.5;
}
@media screen and (min-width: 720px) {
  .popup-apply .popup-body .list {
    margin-top: 10px;
  }
}
.popup-apply .popup-body .list:first-child {
  margin-top: 0;
}
.popup-apply .popup-body .list .list-item {
  width: 100%;
  table-layout: fixed;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.popup-apply .popup-body .list .list-item .subject {
  width: 22%;
  text-align: left;
  font-size: 3.3333333333vw;
  font-weight: 500;
  color: #000;
}
@media screen and (min-width: 720px) {
  .popup-apply .popup-body .list .list-item .subject {
    font-size: 24px;
  }
}
.popup-apply .popup-body .list .list-item .forms {
  width: 78%;
}
.popup-apply .popup-body .list .list-item.agree-item {
  padding-left: 22%;
  line-height: 1.5;
}
.popup-apply .popup-body .agree-box {
  margin-top: 0.625rem;
}
@media screen and (min-width: 720px) {
  .popup-apply .popup-body .agree-box {
    margin-top: 20px;
  }
}
.popup-apply .popup-body .agree-box:first-child {
  margin-top: 0;
}
.popup-apply .popup-body .agree-title {
  display: block;
  font-size: 2.5vw;
  font-weight: 500;
  color: #000;
}
@media screen and (min-width: 720px) {
  .popup-apply .popup-body .agree-title {
    font-size: 18px;
  }
}
.popup-apply .popup-body .agree-item {
  font-size: 2.5vw;
  line-height: 1.5;
}
@media screen and (min-width: 720px) {
  .popup-apply .popup-body .agree-item {
    font-size: 18px;
  }
}
.popup-apply .popup-body .agree-item .agree-title {
  font-size: 2.5vw;
}
@media screen and (min-width: 720px) {
  .popup-apply .popup-body .agree-item .agree-title {
    font-size: 18px;
  }
}
.popup-apply .popup-body .agree-item .btn {
  display: block;
  margin-top: 0.3125rem;
}
@media screen and (min-width: 720px) {
  .popup-apply .popup-body .agree-item .btn {
    margin-top: 10px;
  }
}
.popup-apply .popup-body .text {
  display: block;
  width: 100%;
  padding: 0.25rem 0.5rem;
  height: 40px;
  font-size: 3.3333333333vw;
  border: 1px solid #ccc;
  background: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media screen and (min-width: 720px) {
  .popup-apply .popup-body .text {
    padding: 8px 16px;
  }
}
@media screen and (min-width: 720px) {
  .popup-apply .popup-body .text {
    font-size: 24px;
  }
}
.popup-apply .popup-body .btn {
  position: relative;
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}
.popup-apply .popup-body .btn.btn-apply {
  padding: 0.625rem;
  font-size: 3.8888888889vw;
  font-weight: 700;
  color: #000;
  border: 1px solid #000;
  background-color: #ffd900;
}
@media screen and (min-width: 720px) {
  .popup-apply .popup-body .btn.btn-apply {
    padding: 20px;
  }
}
@media screen and (min-width: 720px) {
  .popup-apply .popup-body .btn.btn-apply {
    font-size: 28px;
  }
}
.popup-apply .popup-body .btn.btn-apply:after {
  right: 5%;
}
.popup-apply .popup-body .btn.btn-apply:after {
  position: relative;
  display: inline-block;
}
.popup-apply .popup-body .btn.btn-apply:after:before {
  content: "";
  position: absolute;
  top: 50%;
  display: block;
  width: 1.1111111111vw;
  height: 1.1111111111vw;
  margin-top: -0.5555555556vw;
  border-width: 0;
  border-style: solid;
  border-color: #000;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  right: 2.2222222222vw;
  border-top-width: 2px;
  border-right-width: 2px;
}
@media screen and (min-width: 720px) {
  .popup-apply .popup-body .btn.btn-apply:after:before {
    width: 8px;
  }
}
@media screen and (min-width: 720px) {
  .popup-apply .popup-body .btn.btn-apply:after:before {
    height: 8px;
  }
}
@media screen and (min-width: 720px) {
  .popup-apply .popup-body .btn.btn-apply:after:before {
    margin-top: -4px;
  }
}
@media screen and (min-width: 720px) {
  .popup-apply .popup-body .btn.btn-apply:after:before {
    right: 16px;
  }
}
.popup-apply .popup-body .btn.btn-cancel {
  padding: 0.625rem;
  font-size: 3.8888888889vw;
  font-weight: 700;
  color: #555;
  border: 1px solid #999;
  background-color: #999;
}
@media screen and (min-width: 720px) {
  .popup-apply .popup-body .btn.btn-cancel {
    padding: 20px;
  }
}
@media screen and (min-width: 720px) {
  .popup-apply .popup-body .btn.btn-cancel {
    font-size: 28px;
  }
}
.popup-apply .popup-body .btn.btn-cancel:after {
  right: 5%;
}
.popup-apply .popup-body .btn.btn-cancel:after {
  position: relative;
  display: inline-block;
}
.popup-apply .popup-body .btn.btn-cancel:after:before {
  content: "";
  position: absolute;
  top: 50%;
  display: block;
  width: 1.1111111111vw;
  height: 1.1111111111vw;
  margin-top: -0.5555555556vw;
  border-width: 0;
  border-style: solid;
  border-color: #999;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  right: 2.2222222222vw;
  border-top-width: 2px;
  border-right-width: 2px;
}
@media screen and (min-width: 720px) {
  .popup-apply .popup-body .btn.btn-cancel:after:before {
    width: 8px;
  }
}
@media screen and (min-width: 720px) {
  .popup-apply .popup-body .btn.btn-cancel:after:before {
    height: 8px;
  }
}
@media screen and (min-width: 720px) {
  .popup-apply .popup-body .btn.btn-cancel:after:before {
    margin-top: -4px;
  }
}
@media screen and (min-width: 720px) {
  .popup-apply .popup-body .btn.btn-cancel:after:before {
    right: 16px;
  }
}
.popup-apply .popup-body .btn.btn-modify {
  padding: 0.3125rem;
  font-size: 2.5vw;
  color: #222;
  border: 1px solid #ccc;
  background-color: #eee;
}
@media screen and (min-width: 720px) {
  .popup-apply .popup-body .btn.btn-modify {
    padding: 10px;
  }
}
@media screen and (min-width: 720px) {
  .popup-apply .popup-body .btn.btn-modify {
    font-size: 18px;
  }
}
.popup-apply .popup-body .btn.btn-modify:after {
  right: 5%;
}
.popup-apply .popup-body .btn.btn-modify:after {
  position: relative;
  display: inline-block;
}
.popup-apply .popup-body .btn.btn-modify:after:before {
  content: "";
  position: absolute;
  top: 50%;
  display: block;
  width: 1.1111111111vw;
  height: 1.1111111111vw;
  margin-top: -0.5555555556vw;
  border-width: 0;
  border-style: solid;
  border-color: #000;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  right: 2.2222222222vw;
  border-top-width: 2px;
  border-right-width: 2px;
}
@media screen and (min-width: 720px) {
  .popup-apply .popup-body .btn.btn-modify:after:before {
    width: 8px;
  }
}
@media screen and (min-width: 720px) {
  .popup-apply .popup-body .btn.btn-modify:after:before {
    height: 8px;
  }
}
@media screen and (min-width: 720px) {
  .popup-apply .popup-body .btn.btn-modify:after:before {
    margin-top: -4px;
  }
}
@media screen and (min-width: 720px) {
  .popup-apply .popup-body .btn.btn-modify:after:before {
    right: 16px;
  }
}
.popup-apply .popup-body .privacy-box {
  height: 6.25rem;
  margin: 0.3125rem 0;
  padding: 0.46875rem;
  text-align: left;
  line-height: 1.4;
  font-size: 2.7777777778vw;
  font-weight: 400;
  color: #666;
  background: #e7e7e7;
  overflow-y: scroll;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media screen and (min-width: 720px) {
  .popup-apply .popup-body .privacy-box {
    height: 200px;
  }
}
@media screen and (min-width: 720px) {
  .popup-apply .popup-body .privacy-box {
    margin: 10px 0;
  }
}
@media screen and (min-width: 720px) {
  .popup-apply .popup-body .privacy-box {
    padding: 15px;
  }
}
@media screen and (min-width: 720px) {
  .popup-apply .popup-body .privacy-box {
    font-size: 20px;
  }
}
.popup-apply .popup-body .privacy-box .core {
  margin-top: 0.625rem;
}
@media screen and (min-width: 720px) {
  .popup-apply .popup-body .privacy-box .core {
    margin-top: 20px;
  }
}
.popup-apply .popup-body .privacy-box .core:first-child {
  margin-top: 0;
}
.popup-apply .popup-body .privacy-box .core strong {
  display: block;
  margin-bottom: 5px;
  font-weight: 700;
  color: #000;
}
.popup-apply .popup-body .privacy-box .core .table-wrap {
  margin: 0.3125rem 0 0.625rem;
}
@media screen and (min-width: 720px) {
  .popup-apply .popup-body .privacy-box .core .table-wrap {
    margin: 10px 0 20px;
  }
}
.popup-apply .popup-body .privacy-box .core .table-wrap table {
  width: 100%;
  border-right: 1px solid #666;
  border-bottom: 1px solid #666;
}
.popup-apply .popup-body .privacy-box .core .table-wrap table th,
.popup-apply .popup-body .privacy-box .core .table-wrap table td {
  padding: 0.15625rem;
  text-align: center;
  font-size: 2.2222222222vw;
  border-left: 1px solid #666;
  border-top: 1px solid #666;
}
@media screen and (min-width: 720px) {
  .popup-apply .popup-body .privacy-box .core .table-wrap table th,
.popup-apply .popup-body .privacy-box .core .table-wrap table td {
    padding: 5px;
  }
}
@media screen and (min-width: 720px) {
  .popup-apply .popup-body .privacy-box .core .table-wrap table th,
.popup-apply .popup-body .privacy-box .core .table-wrap table td {
    font-size: 16px;
  }
}
.popup-apply .popup-body .privacy-box .core .table-wrap table th.highlight,
.popup-apply .popup-body .privacy-box .core .table-wrap table td.highlight {
  font-size: 3.3333333333vw;
  font-weight: 700;
}
@media screen and (min-width: 720px) {
  .popup-apply .popup-body .privacy-box .core .table-wrap table th.highlight,
.popup-apply .popup-body .privacy-box .core .table-wrap table td.highlight {
    font-size: 24px;
  }
}
.popup-apply .popup-action {
  display: block;
  margin-top: 0.625rem;
  font-size: 0;
}
@media screen and (min-width: 720px) {
  .popup-apply .popup-action {
    margin-top: 20px;
  }
}
.popup-apply .popup-action .btn:only-child {
  width: 100%;
}
.popup-apply .popup-action .btn:nth-child(1):nth-last-child(2), .popup-apply .popup-action .btn:nth-child(2):nth-last-child(1) {
  width: 49%;
}
.popup-apply .popup-action .btn:nth-child(1):nth-last-child(2) {
  margin-right: 0.5%;
}
.popup-apply .popup-action .btn:nth-child(2):nth-last-child(1) {
  margin-left: 0.5%;
}
.popup-apply .popup-close {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 6.9444444444vw;
  height: 6.9444444444vw;
  top: 5px;
  right: 5px;
  z-index: 1;
}
@media screen and (min-width: 720px) {
  .popup-apply .popup-close {
    width: 50px;
  }
}
@media screen and (min-width: 720px) {
  .popup-apply .popup-close {
    height: 50px;
  }
}
.popup-apply .popup-close:before, .popup-apply .popup-close:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 25px;
  height: 2px;
  margin-left: -12.5px;
  background-color: #fff;
}
.popup-apply .popup-close:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.popup-apply .popup-close:after {
  -webkit-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  transform: rotate(315deg);
}
.popup-apply .popup-close span {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.action-top.action-top-product {
  display: none !important;
}

.product-eco {
  min-width: 1200px;
  overflow: hidden;
}
.product-eco *, .product-eco *:before, .product-eco *:after {
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  letter-spacing: -1px;
}
.product-eco li {
  list-style: none;
  padding: 0;
  margin: 0;
}
.product-eco img {
  border: 0;
  vertical-align: top;
}
.product-eco [class^=sector-] {
  position: relative;
}
.product-eco .wrap {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.product-eco .wrap-full {
  width: 100%;
}
.product-eco .holder {
  position: relative;
}
.product-eco .wing {
  position: fixed;
  top: 50%;
  z-index: 10;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.product-eco .wing.right {
  display: block;
  right: 10px;
}
.product-eco .wing.right a {
  display: block;
  border-radius: 20px;
  text-align: center;
  -webkit-box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.15);
}
.product-eco .wing.right a.wing-2 {
  margin-top: 10px;
}
.product-eco .wing.right a.top {
  width: 63px;
  height: 63px;
  margin: 0 auto;
  border-radius: 100px;
  margin-top: 10px;
}
.product-eco .icon-pointer {
  position: relative;
  display: inline-block;
}
.product-eco .icon-pointer:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 2%;
  z-index: 1;
  display: block;
  width: 15.2777777778vw;
  height: 14.8611111111vw;
  background: url("https://img.eduwill.net/Img2/Common/icon/pointer/icon_pointer_20.png") no-repeat 0 0;
  background-size: 100% auto;
  animation-name: pointerBounceDiagonal;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-direction: normal;
}
@media screen and (min-width: 720px) {
  .product-eco .icon-pointer:after {
    width: 110px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .icon-pointer:after {
    height: 107px;
  }
}
@-webkit-keyframes pointerBounceDiagonal {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    -ms-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}
@keyframes pointerBounceDiagonal {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    -ms-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}
.product-eco .slick-arrow {
  top: 50%;
  border-radius: 50%;
  left: 50% !important;
  z-index: 112;
}
.product-eco .slick-arrow.slick-prev {
  position: absolute;
  top: 50%;
  z-index: 10;
  display: block;
  width: 6.9444444444vw;
  height: 6.9444444444vw;
  margin: 0;
  padding: 0;
  font-size: 0;
  color: transparent;
  text-indent: -9999px;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  margin-left: -628px;
}
@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-prev {
    width: 50px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-prev {
    height: 50px;
  }
}
.product-eco .slick-arrow.slick-prev:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 1.7361111111vw;
  height: 1.7361111111vw;
  border-width: 0;
  border-style: solid;
  border-color: #fff;
  border-bottom-width: 3px;
  border-left-width: 3px;
  -webkit-transform: translate(-25%, -50%) rotate(45deg);
  -ms-transform: translate(-25%, -50%) rotate(45deg);
  transform: translate(-25%, -50%) rotate(45deg);
}
@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-prev:before {
    width: 12.5px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-prev:before {
    height: 12.5px;
  }
}
.product-eco .slick-arrow.slick-next {
  position: absolute;
  top: 50%;
  z-index: 10;
  display: block;
  width: 6.9444444444vw;
  height: 6.9444444444vw;
  margin: 0;
  padding: 0;
  font-size: 0;
  color: transparent;
  text-indent: -9999px;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  margin-left: 560px;
}
@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-next {
    width: 50px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-next {
    height: 50px;
  }
}
.product-eco .slick-arrow.slick-next:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 1.7361111111vw;
  height: 1.7361111111vw;
  border-width: 0;
  border-style: solid;
  border-color: #fff;
  border-top-width: 3px;
  border-right-width: 3px;
  -webkit-transform: translate(-75%, -50%) rotate(45deg);
  -ms-transform: translate(-75%, -50%) rotate(45deg);
  transform: translate(-75%, -50%) rotate(45deg);
}
@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-next:before {
    width: 12.5px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-next:before {
    height: 12.5px;
  }
}
.product-eco .notice {
  text-align: right;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -1px;
  color: rgba(0, 0, 0, 0.4);
  line-height: 1.5;
}
.product-eco .sector-title {
  background: url("https://img.eduwill.net/eduwill/img/2022/G/product/220715_2/pc/bg_title.jpg") 50% 0 no-repeat;
  background-size: cover;
  height: 1245px;
}
.product-eco .sector-title img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.product-eco .sector-banner-1 {
  background: #48F4E6;
}
.product-eco .sector-banner-1 .wrap {
  position: relative;
}
.product-eco .sector-banner-1 .wrap::after {
  z-index: 2;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -60px;
  display: block;
  content: "";
  width: 328px;
  height: 60px;
  background: url("https://img.eduwill.net/eduwill/img/2022/G/product/220715_2/pc/banner_arrow.png") 50% 0 no-repeat;
  background-size: cover;
}
.product-eco .sector-banner-1 .no-sign {
  position: absolute;
  top: 10%;
  right: 5%;
}
.product-eco .sector-intro {
  background: #001F3E;
}
.product-eco .sector-video {
  padding-bottom: 120px;
  background: #F8F8F8;
}
.product-eco .sector-video .video-box {
  width: 900px;
  height: 506px;
  margin: 0 auto;
}
.product-eco .sector-review {
  padding-bottom: 110px;
  background: #CCF9F5;
}
.product-eco .sector-review .slick-slide {
  opacity: 0.5;
}
.product-eco .sector-review .slick-slide.slick-active {
  opacity: 1;
}
.product-eco .sector-banner-2 {
  background: #FF3E3E;
}
.product-eco .sector-banner-2 .wrap {
  position: relative;
}
.product-eco .sector-banner-2 .wrap::after {
  z-index: 2;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -60px;
  display: block;
  content: "";
  width: 328px;
  height: 60px;
  background: url("https://img.eduwill.net/eduwill/img/2022/G/product/220715_2/pc/banner_2_arrow.png") 50% 0 no-repeat;
  background-size: cover;
}
.product-eco .sector-teacher {
  background: #F8F8F8;
}
.product-eco .sector-lecture {
  position: relative;
  padding-bottom: 120px;
  background: #282828;
}
.product-eco .sector-lecture .action {
  position: absolute;
  bottom: 90px;
  left: 110px;
}
.product-eco .sector-map {
  position: relative;
  padding-bottom: 120px;
  background: #282828;
}
.product-eco .sector-map .map-box {
  position: absolute;
  left: 120px;
  bottom: 80px;
  width: 419px;
  height: 300px;
}
.product-eco .sector-map .map-btn {
  position: absolute;
  right: 270px;
  bottom: 80px;
}
.product-eco .sector-banner-3 {
  background: #6543FF;
}/*# sourceMappingURL=web.css.map */