.main-banner-exam{
	position:absolute;left:50%;top:46px;margin-left:524px;
	.exam-container{
		cursor:pointer;
		background-color:#fff;
		border:1px solid #e9e9e9;
		padding :0 3px;
		border-radius:5px;
		width:84px;height:64px;overflow:hidden;text-align:center;
		@include boxSizing(border-box);

		.slick-slide{
			>div{
				display:flex;
				align-items: center;
				height:64px;
			}
			span{
				display:block;color:#262547;line-height:1;
				font-family:$font-roboto;font-size:11px;font-weight:500;
				margin-top:2px;
				&:first-child{margin-top:0;}
				&.dday{font-weight:900;font-size:19px;}
				&.subject{}
				&.date{}
			}
		}
	}
}

// 노량진 기술직 신규
.main-right-banner {
	width: 117px;
	box-sizing: border-box;
	position: fixed;
	top: 228px;
	left: 50%;
	margin-left: 670px;
	border: 1px solid #D3DBDE;
	border-radius: 10px;
	background: #fff;
	z-index: 10;
	padding: 20px 0;
	ul {
		li {
			width: 117px;
			margin-bottom: 18px;
			&:last-child {
				margin-bottom: 0;
			}
			a {
				display: flex;
				flex-direction: column;
				align-items: center;
				.icon-img {
					display: block;
					margin-bottom: 4px;
				}
				.title {
					font-weight: 400;
					font-size: 14px;
					color: #212121;
					letter-spacing: -1px;
				}
			}
		}
	}
}

// 경영 아카데미 배너
.slideRight-banner {
	position: fixed;
	top: 310px;
	right: 20px;
	left: auto;
	margin: 0;
	width: 116px;
	border-radius: 8px;
	overflow: hidden;
	z-index: 100;
	.consult-banner {
		width: 100%;
		margin-bottom: 10px;
		background: transparent;
		.consult-title {
			padding: 14px 0;
			text-align: center;
			background: #444;
			color: #ebebeb;
			font-size: 14px;
			font-weight: 700;
			line-height: 18px;
			letter-spacing: -1px;
			strong {
				display: block;
				line-height: 18px;
				font-weight: 700;
				font-size: 14px;
				color: #FFD900;
			}
		}
		.quick-list {
			li {
				background: #f6f6f6;
				border-top: 1px solid #ddd;
				width: 100%;
				@include arrow(right, 6px, 6px, 1px, #444);
				&:first-child { border-top: 0;}
				a {
					display: block;
					position: relative;
					text-align: left;
					padding: 0 16px;
					font-size: 13px;
					font-weight: 400;
					color: #444;
					letter-spacing: -1px;
					line-height: 35px;
				}
				&.reserv {
					background: #FFD900;
					border-color: #FFD900;
					a {
						font-weight: 700;
						color: #453b00;
					}
				}
			}
		}
	}
	&.slideRight-banner-2 {
		top: 210px;
		width: 150px;
		.consult-banner {
			.consult-title {
				font-size: 16px;
				strong {
					font-size: 16px;
				}
			}
			.quick-list {
				ul {
					display: flex;
					flex-direction: column;
					li {
						box-sizing: border-box;
						height: 39px;
						display: flex;
						align-items: center;
						a {
							font-size: 15px;
						}
						&.kakao, &.naver, &.youtube {
							height: 54px;
							a {
								font-size: 15px;
								line-height: 1.4;
								display: flex; 
								align-items: center;
								z-index: 2;
								width: 100%;
								height: 100%;
							}
							&::before {
								display: none;
							}
							&::after {
								content: '';
								display: block;
								position: absolute;
								z-index: 1;
							}
						}
						&.kakao {
							background: #FFEA00;
							a {
								color: #444444;
							}
							&::after {
								top: 14px;
								right: 13px;
								width: 25px;
								height: 26px;
								@include bg($url: 'https://img.eduwill.net/eduwill/img/2022/common/academy/main/cpta/pc/icon_kakao.png', $size: cover);
							}
						}
						&.naver {
							background: #00C73C;
							a {
								font-weight: 700;
								color: #ffffff;
							}
							&::after {
								top: 16px;
								right: 11px;
								width: 29px;
								height: 25px;
								@include bg($url: 'https://img.eduwill.net/eduwill/img/2022/common/academy/main/cpta/pc/icon_naver.png', $size: cover);
							}
						}
						&.youtube {
							background: #FF0000;
							a {
								font-weight: 700;
								color: #ffffff;
							}
							&::after {
								top: 11px;
								right: 10px;
								width: 32px;
								height: 32px;
								@include bg($url: 'https://img.eduwill.net/eduwill/img/2022/common/academy/main/cpta/pc/icon_youtube.png', $size: cover);
							}
						}
						&:last-child {
							border-radius: 0 0 8px 8px;
						}
					}
				}
			}
		}
	}

	&.slideRight-banner-3 {
		top: 210px;
		width: 116px;
		text-align:center;
		transition:all 0.3s ease;

		&.scroll{
			transition:all 0.3s ease;
			top:110px;
		}
		.consult-banner {
			background: transparent;

			.consult-title {
				background: #212121;
				border-radius: 10px;
				font-size: 14px;
				padding:22px 0;
				font-weight:400;
				strong {
					font-size: 16px;
					font-weight:900;
					margin-top:5px;
				}
			}
			.quick-list {
				margin-top:6px;
				background: #FFFFFF;
				border: 1px solid #D0D5DD;
				border-radius: 10px;
				padding:12px 0;
				ul {

					li {		
						background: transparent;
						padding :8px 0;
						border-top:0;

						&:before{display:none;}				
						a {
							display:block;text-align:center;line-height:28px;
							span{display:block;font-size:14px;}
						}

					}
				}
			}
		}
	}
}

