.jra {
	// 신규
	.slideRight-banner {
		position: fixed;
		top: 310px;
		right: 20px;
		left: auto;
		margin: 0;
		width: 116px;
		border-radius: 8px;
		overflow: hidden;
		z-index: 100;
		.consult-banner {
			width: 100%;
			margin-bottom: 10px;
			background: transparent;
			.consult-title {
				padding: 14px 0;
				text-align: center;
				background: #444;
				color: #ebebeb;
				font-size: 14px;
				font-weight: 700;
				line-height: 18px;
				letter-spacing: -1px;
				strong {
					display: block;
					line-height: 18px;
					font-weight: 700;
					font-size: 14px;
					color: #FFD900;
				}
			}
			.quick-list {
				li {
					background: #f6f6f6;
					border-top: 1px solid #ddd;
					width: 100%;
					@include arrow(right, 6px, 6px, 1px, #444);
					&:first-child { border-top: 0;}
					a {
						display: block;
						position: relative;
						text-align: left;
						padding: 0 16px;
						font-size: 13px;
						font-weight: 400;
						color: #444;
						letter-spacing: -1px;
						line-height: 35px;
						// vertical-align: top;
					}
					&.reserv {
						background: #FFD900;
						border-color: #FFD900;
						a {
							font-weight: 700;
							color: #453b00;
						}
					}
				}
			}
		}
	}

	.btn-action {
		a{
			position:relative;
			vertical-align:middle;
			display:inline-block;
			background: #212121;
			color: #ffffff;
			padding: 10px 50px 10px 30px;
			min-width: 0;
			font-weight: 400;
			font-size: 18px;
			border: none;
			text-align: center;
			border-radius: 23px;
			@include arrow(right, 6px, 6px, 2px, #fff);
			&:before{ right: 25px; }

			&:hover{
				background: #1a6fec;
			}
			
		}
	}

	.main-title {
		.main-copy {
			font-size: 32px;
		}
	}

	.main{
		&-temp-product {
			padding: 100px 0;
			.product-list-wrap{
				.product-list-col{
					li{ 
						width: 590px;
						padding-left:62px;
						&:first-child{
							width: 590px;
						}
						&:nth-child(2) {
							/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2598f7+0,2598f7+100 */
							background: rgb(37,152,247); /* Old browsers */
							background: -moz-linear-gradient(-45deg,  rgba(37,152,247,1) 0%, rgba(37,152,247,1) 100%); /* FF3.6-15 */
							background: -webkit-linear-gradient(-45deg,  rgba(37,152,247,1) 0%,rgba(37,152,247,1) 100%); /* Chrome10-25,Safari5.1-6 */
							background: linear-gradient(135deg,  rgba(37,152,247,1) 0%,rgba(37,152,247,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
							filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2598f7', endColorstr='#2598f7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
						}
						.product-link{
							bottom: 40px;
						}
					}
				}
			}
		}

		&-temp-news {
			padding: 0 0 100px 0;
			.main-title {
				margin-bottom: 40px;
				.main-copy {
					margin-top: 0;
				}
			}
		}

		// 신규
		&-temp-plan {
			padding: 0 0 100px 0;
			.main-title {
				margin-bottom: 40px;
			}
			.plan {
				margin-bottom: 50px;
			}
		}

		&-temp-teachers {
			margin-top: 100px;
			.main-title { 
				height: 360px;
				.main-copy {
					margin-top: 0;
				}
				.btn-action {
					a{
						padding: 10px 65px 10px 30px;
					}
				}
			}
			
		}

		&-temp-lecture {
			padding: 100px 0;
		}

		&-temp-banner-list {
			&.banner-list-1 {
				padding: 0 0 80px 0;
				.main-slide-wraps {
					width: 386px !important;
					height: 120px !important;
				}
			}
		}

		&-temp-service {
			padding: 0 0 100px 0;
			.main-service-left{
				.service-list{
					padding: 40px 0 70px 0;
					background: #f2f7fd;
					border-radius: 25px;
					li{
						margin-left: 79px;
						&:nth-child(1) {
							margin-left: 60px;
						}
						&:last-child {
							margin-right: 60px;
						}
						&:nth-child(1){background-image:url(#{$img-path}/G/main/pc/icon_content1_off.png);}
						&:nth-child(2){background-image:url(#{$img-path}/G/main/pc/icon_content3_off.png);}
						&:nth-child(3){background-image:url(#{$img-path}/G/main/pc/icon_content5_off.png);}
						&:nth-child(4){background-image:url(#{$img-path}/G/main/pc/icon_content12_off.png);}
						&:nth-child(5){background-image:url(#{$img-path}/G/main/pc/icon_content7_off.png);}
						&:nth-child(6){background-image:url(#{$img-path}/G/main/pc/icon_content8_off.png);}
						&:nth-child(7){background-image:url(#{$img-path}/G/main/pc/icon_content9_off.png);}

						&:hover{
							&:nth-child(1){background-image:url(#{$img-path}/G/main/pc/icon_content1_on.png);}
							&:nth-child(2){background-image:url(#{$img-path}/G/main/pc/icon_content3_on.png);}
							&:nth-child(3){background-image:url(#{$img-path}/G/main/pc/icon_content5_on.png);}
							&:nth-child(4){background-image:url(#{$img-path}/G/main/pc/icon_content12_on.png);}
							&:nth-child(5){background-image:url(#{$img-path}/G/main/pc/icon_content7_on.png);}
							&:nth-child(6){background-image:url(#{$img-path}/G/main/pc/icon_content8_on.png);}
							&:nth-child(7){background-image:url(#{$img-path}/G/main/pc/icon_content9_on.png);}
						}
					}
				}
			}
		}

		&-temp-tip {
			padding: 80px 0 90px;
			background: #fff;
		}

		&-temp-reason {
			padding: 100px 0;
			.main-title {
				margin-bottom: 40px;
			}
		}

		&-temp-map {
			@include bg($color: #fff, $url: '#{$img-path}/common/academy/main/cpta/pc/bg_map.jpg');
			.wrap {
				height: 504px;
			}
		}
	}
}

