<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>

	<link rel="stylesheet" type="text/css" href="https://img.eduwill.net/eduwill/live/libs/bxslider/jquery.bxslider.css" />
    <link rel="stylesheet" type="text/css" href="https://img.eduwill.net/eduwill/live/libs/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="https://img.eduwill.net/eduwill/live/libs/swiper/swiper.min.css" />
    <link rel="stylesheet" type="text/css" href="//img.eduwill.net/resources/common/web/css/webfont.css" />

    <link rel="stylesheet" type="text/css" href="//img.eduwill.net/resources/eduwill/live/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="//img.eduwill.net/resources/eduwill/live/css/common.css" />
    <link rel="stylesheet" type="text/css" href="https://img.eduwill.net/eduwill/live/css/common/eduf.css">

    <script type="text/javascript" src="//img.eduwill.net/resources/eduwill/live/js/jquery/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="//img.eduwill.net/resources/eduwill/live/js/jquery/jquery.tmpl.min.js"></script>
    <script type="text/javaScript" src="https://img.eduwill.net/eduwill/live/libs/slick/slick.min.js"></script>
    <script type="text/javascript" src="https://img.eduwill.net/eduwill/live/libs/swiper/swiper.min.js"></script>
    <script type="text/javaScript" src="https://img.eduwill.net/eduwill/live/libs/greensock/TweenMax.min.js"></script>

    <script type="text/javascript" src="https://img.eduwill.net/eduwill/live/js/common/script.js"></script>
    <script type="text/javascript" src="https://img.eduwill.net/eduwill/live/js/common/eduf.js"></script>

    <link rel="stylesheet" type="text/css" href="../css/web.css">

</head>
<body>
<div class="promotion"><!-- promotion -->

	<div class="sector-tab">
		<div class="wrap">
			<div class="tab-box">
				<ul class="tab-list">
					<li class="on">tab1</li>
					<li>tab2</li>
				</ul>
				<div class="tab-view">
					<span>1</span>
				</div>
				<div class="tab-view">
					<span>2</span>
				</div>
			</div>
		</div>
	</div>

	<div class="container sector-motion">
		<div class="wrap">
			<p class="box box-1 motion-1"><span>motion-1</span></p>
			<p class="box box-2 motion-x-3"><span>motion-x-3</span></p>
			<p class="box box-3 motion-box-5"><span>motion-box-5</span></p>
			<p class="box box-4 motion-scale-y-3"><span>motion-scale-y-3</span></p>
		</div>
	</div>

</div><!-- // promotion -->

<script>
	var isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ? true : false;
	var url = window.location.href;
	var str = 'event.eduwill.net';
	var checkUrl = url.indexOf(str);

	$(function () {
		tabControl(".sector-tab");
	});

	$(window).on('scroll', function(){
		var wt = $(window).scrollTop();
		var section = $('.container');

		section.each(function(i){
			if( wt >= section.eq(i).offset().top - 100){
				$(this).addClass('active');
			} else {
				$(this).removeClass('active');
			}
		});
	});
	
	function tabControl($seletor){
		$($seletor).find(".tab-list").children("li").on("click", function(){
			var idx = $(this).index();
			var tabList = $($seletor).find(".tab-list").children("li");

			tabList.removeClass("on");
			tabList.eq(idx).addClass("on");
			
			$($seletor).find(".tab-view").hide();
			$($seletor).find(".tab-view").eq(idx).show();
		});
	}

</script>


</body>
</html>