
// 단풍놀이
#promotion-fall {
    // 기간엠블럼
    .emblem-date {
        position: absolute;
        top: 20px;
        left: 20px;
        em {
            display: inline-block;
            background-color: #fad3c3;
            padding: 0 12px;
            height: 35px;
            line-height: 35px;
            border-radius: 18px;
            text-align: center;
            @include font-size-color-weight(18px, #1d0200, 500);
        }
        span { 
            display: inline-block;
            margin-left: 7px;
            line-height: 35px;
            @include font-size-color-weight(18px, #1d0200, 500);
        }

        @media screen and (max-width:720px) {
            top: 5.556vw;
            left: 5.556vw;
            em {
                padding: 0 2.500vw;
                height: 7.500vw;
                line-height: 7.500vw;
                font-size: 3.889vw;
                border-radius: 3.750vw;
            }
            span {
                line-height: 7.500vw;
                font-size: 3.889vw;
            }
        }
    }

    .depthbody {
        & > div {
            position: absolute;
            top: 0;
            left: 0;
        }
        .depth1 {
            z-index: 1;
        }
        .depth2 {
            z-index: 2;
        }
        .depth3 {
            z-index: 3;
        }
        .depth4 {
            z-index: 4;
        }
        .depth5 {
            z-index: 5;
        }
        .depth6 {
            z-index: 6;
        }
        .depth7 {
            z-index: 7;
        }
        .depth8 {
            z-index: 8;
        }
        @media screen and (max-width:720px) {

        }
    }
    .section-visual {
        @include background-name-ext-repeat-poistion('promotion/fall/pc/bg_visual', png, repeat-x, 50% 0);
        background-size: cover;
        .depthbody {
            .depth1 {
                position: relative;
            }
            .depth2 {
                top: -30px;
                @media screen and (max-width: 1280px) {
                    top: -2.344vw;
                }
            }
        }
    }

    .section-event {
        @include background-name-ext-repeat-poistion('promotion/fall/pc/bg_event_wrap', png, repeat-x, 50% 0);
        background-size: cover;
        @media screen and (max-width:720px) {
            @include background-name-ext-repeat-poistion('promotion/fall/mobile/bg_event_wrap', png, repeat-x, 50% 0);
        }
        .inner-p {
            max-width: 1100px;
        }
        .depthbody {
            .depth2 {
                position: relative;
            }
            .title {
                top: 125px;
                text-align: center;
                width: 100%;
                img {
                    width: 360px;
                }
                @media screen and (max-width: 1100px) {
                    top: 11.364vw;
                    img {
                        width: 32.727vw;
                    }
                }
                @media screen and (max-width:720px) {
                    top: 0;
                    img {
                        width: 100%;
                    }
                }
            }
            .person1 {
                top: 710px;
                left: 288px;
                img {
                    width: 171px;
                }
                @media screen and (max-width: 1100px) {
                    top: 64.531vw;
                    left: 27.969vw;
                    img {
                        width: 15.391vw;
                        height: 21.875vw;
                    }
                }
                @media screen and (max-width: 720px) {
                    top: 116.528vw;
                    left: 10.694vw;
                    img {
                        width: 27.500vw;
                        height: 38.889vw;
                    }
                }
            }
            .person2 {
                top: 725px;
                left: 645px;
                img {
                    width: 162px;
                }
                @media screen and (max-width: 1100px) {
                    top: 66.016vw;
                    left: 59.297vw;
                    img {
                        width: 14.609vw;
                        height: 20.859vw;
                    }
                }
                @media screen and (max-width: 720px) {
                    top: 119.167vw;
                    left: 66.528vw;
                    img {
                        width: 25.972vw;
                        height: 37.083vw;
                    }
                }
            }
            .btn {
                top: 975px;
                left: 390px;
                box-shadow: none;
                cursor: pointer;
                img {
                    width: 367px;
                }
                @media screen and (max-width: 1100px) {
                    top: 88.636vw;
                    left: 35.455vw;
                    img {
                        width: 33.364vw;
                    }
                }
                @media screen and (max-width: 720px) {
                    top: 161.250vw;
                    left: 22.833vw;
                    img {
                        width: 58.611vw;
                    }
                }
            }
            .count {
                top: 1005px;
                left: 195px;
                @include font-size-color-weight(28px, #aaa, 500);
                white-space: nowrap;
                em {
                    color: #1f1d1d;
                }
                @media screen and (max-width: 1100px) {
                    top: 91.364vw;
                    left: 17.727vw;
                    font-size: 2.545vw;
                }
                @media screen and (max-width: 720px) {
                    top: 153.056vw; 
                    left: 0;
                    width: 100%;
                    text-align: center;
                    font-size: 5.556vw;
                }
            }
            .end {
                .btnarea {
                    font-size: 0;
                    position: absolute;
                    top: 737px;
                    left: 483px;
                    display: inline-block;
                    width: 315px;
                    height: 72px;
                    @media screen and (max-width: 1280px) {
                        top: 57.578vw;
                        left: 37.734vw;
                        width: 24.609vw;
                        height: 5.625vw;
                    }
                    @media screen and (max-width: 720px) {
                        top: 104.722vw;
                        left: 23.611vw;
                        width: 52.778vw;
                        height: 11.111vw;
                    }
                }
            }
        }

        .modal-gift {
            .modal-dialog {
                max-width: 700px;
                @media (min-width: 768px) {
                    width: 700px;
                }
            }
            .modal-body {
                padding: 0 41px 38px;
            }
            .close {
                z-index: 1;
            }
            .txt {
                padding: 47px 0 27px;
                text-align: center;
                @include font-size-color-weight(30px, #000, 500);
                line-height: 36px;
                strong {
                    font-weight: 500;
                    color: #d7200a;
                }
            }
            .product {
                background-color: #efefef;
                border-radius: 5px 5px 0 0;
            }
            .desc {
                background-color: #efefef;
                border-radius: 0 05px 5px;
                padding: 0 24px 24px 24px;
                dl {
                    border-top: solid 1px $color-gray-light;
                    padding-top: 20px;
                    dt {
                        @include font-size-color-weight(15px, #555, 700);
                        padding-bottom: 8px;
                    }
                    dd {
                        @include font-size-color-weight(15px, #888, 400);
                        line-height: 22px;
                        position: relative;
                        padding-left: 11px;
                        &:after {
                            @include contentReset();
                            content: '-';
                            @include font-size-color-weight(15px, #888, 400);
                            position: absolute;
                            top: 0;
                            left: 0;
                        }
                    }
                }
            }
            .btnarea {
                padding-top: 50px;
                font-size: 0;
                text-align: center;
                .btn {
                    min-width: 150px;
                    height: 60px;
                    line-height: 60px;
                    padding: 0 25px;
                    @include font-size-color-weight(21px, #000, 500);
                    background-color: #fff;
                    border-color: #ccc;
                    border-radius: 30px;
                    margin: 0 1%;
                    &.btn2 {
                        background-color: #1c3092;
                        border-color: #1c3092;
                        color: #fff;
                    }
                    &.btn3 {
                        background-color: #ffdb34;
                        border-color: #ffdb34;
                        color: $color-black;
                    }
                    &.w-auto {
                        width: auto;
                        padding: 0 25px;
                    }
                }
            }
            @media screen and (max-width:720px) {
                font-size: 5.556vw;
                line-height: 6.944vw;
                
                .modal-body {
                    padding: 5.556vw;
                }
                .txt {
                    padding: 7.500vw 0 4.444vw;
                    font-size: 5.556vw;
                    line-height: 6.944vw;
                }
                .desc {
                    dl {
                        padding-top: 4.167vw;
                        dt {
                            font-size: 3.333vw;
                        }
                        dd {
                            font-size: 3.333vw;
                            line-height: 4.167vw;
                            padding-left: 1.944vw;
                            &:after {
                                font-size: 3.333vw;
                            }
                        }
                    }
                }
                .btnarea {
                    padding-top: 5.556vw;
                    .btn {
                        min-width: 23.611vw;
                        height: 9.722vw;
                        line-height: 9.722vw;
                        padding: 0 4.861vw;
                        font-size: 4.167vw;
                        border-radius: 4.861vw;
                    }
                }
            }
        }
    }

    .section-tip {
        text-align: center;
        .title {
            padding: 85px 0 64px;
            @media screen and (max-width: 1280px) {
                padding: 6.641vw 0 5vw;
                img {
                    width: 48.281vw;
                }
            }
            @media screen and (max-width: 720px) {
                padding: 0;
                img {
                    width: 100%;
                }
            }
        }
        .btnarea {
            @include clearfix();
            li {
                float: left;
                width: 50%;
                text-align: left;
                padding: 0 30px;
                @media screen and (max-width: 1280px) {
                    padding: 0 2.344vw;
                    img {
                        width: 36.719vw;
                    }
                }
                @media screen and (max-width: 720px) {
                    width: 100%;
                    padding: 0 5.556vw;
                    margin-top: 5.556vw;
                    &:first-child {
                        margin-top: 0;
                    }
                    img {
                        width: 100%;
                    }
                }
                &:first-child {
                    text-align: right;
                }
                a {
                    display: inline-block;
                    font-size: 0;
                    
                    &:hover {
                        transition: all 2s;
                        position: relative;
                        top: -10px;
                        left: -10px;
                        img {
                            -webkit-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.2);
                            -moz-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.2);
                            box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.2);
                            border-radius: 50px;
                        }
                    }
                }
            }
        }
        .desc {
            text-align: center;
            @include font-size-color-weight(21px, #aaa, 400);
            line-height: 30px;
            padding: 60px 0;
            letter-spacing: -1px;
            span {
                display: block;
            }
            @media screen and (max-width: 1280px) {
                font-size: 1.641vw;
                line-height: 2.344vw;
                padding: 4.688vw 0;
            }
            @media screen and (max-width: 720px) {
                font-size: 3.889vw;
                line-height: 5.556vw;
                padding: 5.556vw 0 12.500vw;
                span {
                    padding-top: 0.694vw;
                }
            }
        }
    }
    .section-info {
        background-color: #efefef;
        dl {
            padding: 75px 145px;
            text-align: left;
            letter-spacing: -1.5px;
            dt {
                @include font-size-color-weight(27px, $color-black-light, 500);
                & + dd {
                    margin-top: 15px;
                }
            }
            dd {
                @include font-size-color-weight(21px, #777, 400);                
                margin-top: 13px;
                padding-left: 11px;
                position: relative;
                &:after {
                    @include contentReset();
                    content: '-';
                    @include font-size-color-weight(21px, #777, 400);
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                &.no-bul {
                    &:after {
                        display: none;
                    }
                }
                &.t-btn {
                    margin-top: 30px;
                    padding-left: 0;
                    a {
                        display: inline-block;
                        border: solid 1px #aaa;
                        border-radius: 5px;
                        height: 51px;
                        padding: 0 25px 0 20px;
                        span {
                            @include font-size-color-weight(21px, #777, 700);
                            display: inline-block;
                            line-height: 49px;
                            padding-right: 28px;
                            position: relative;
                            &:after {
                                @include contentReset();
                                border: solid 1px #1d0200;
                                width: 10px;
                                height: 10px;
                                border-width: 1px 1px 0 0;
                                transform: rotate(45deg);
                                position: absolute;
                                top: 19px;
                                right: 3px;
                            }
                        }
                    }
                }
            }
        }
        @media screen and (max-width: 1280px) {
            dl {
                padding: 5.859vw 11.328vw;
                dt {
                    font-size: 2.109vw;
                    & + dd {
                        margin-top: 1.172vw;
                    }
                }
                dd {
                    font-size: 1.641vw;
                    margin-top: 1.016vw;
                    padding-left: 0.859vw;
                    &:after {
                        font-size: 1.641vw;
                    }
                    &.t-btn {
                        margin-top: 2.344vw;
                        a {
                            border-radius: 0.391vw;
                            height: 3.984vw;
                            padding: 0 1.953vw 0 1.563vw;
                            span {
                                font-size: 1.641vw;
                                line-height: 3.828vw;
                                padding-right: 2.188vw;
                                &:after {
                                    width: 0.781vw;
                                    height: 0.781vw;
                                    top: 1.484vw;
                                    right: 0.234vw;
                                }
                            }
                        }
                    }
                }
            }
        }
        @media screen and (max-width: 720px) {
          
            dl {
                padding: 7.639vw 5.556vw;
                dt {
                    font-size: 4.722vw;
                    & + dd {
                        margin-top: 4.167vw;
                    }
                }
                dd {
                    font-size: 3.611vw;
                    margin-top: 2.083vw;
                    padding-left: 2.083vw;
                    &:after {
                        font-size: 3.611vw;
                    }
                    &.t-btn {
                        margin-top: 2.083vw;
                        a {
                            border-radius: 0.417vw;
                            height: 8.889vw;
                            padding: 0 5.556vw;
                            span {
                                font-size: 3.333vw;
                                line-height: 8.611vw;
                                padding-right: 4.306vw;
                                &:after {
                                    width: 1.667vw; 
                                    height: 1.667vw; 
                                    top: 3.333vw;
                                    right: 0.417vw;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}