
@import url('https://fonts.cdnfonts.com/css/gotham');
@import url('../../public/stylesheets/NotoSansKR-Hestia.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

  

#div_cont {
    color: #333;
    font-size: 13px;
    font-family: "MalGun Gothic";
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: -1.5px;
    width: 100%;
    text-align: center;
    clear: both;
    position: relative;
    background:#fff;
}
#div_cont .con_wrap {background:#7fc7ea; position:relative;}
#div_cont .con_wrap .title {
    position:absolute;
    left:50%; margin-left:-333px;
    top:-90px; z-index:2;
}
#div_cont .con {
    position: relative;
    overflow:hidden;
    width:1000px;
    margin: 0 auto;
    z-index: 1;
    text-align:center;
    padding-bottom:100px;
}
#div_cont .con .box_area {
    background:#fff;
    margin:45px 52px 0 49px;
    border-radius: 15px;
}
#div_cont .con .box_area + .box_area {margin-top:4px;}
#div_cont .con .box_area:after {
    clear:both;
    display:block;
    content:'';
}
/* top visual vrolling css */
.top_wrap {position:relative; overflow:hidden; height:1110px; background:#ECE6D5;}
.top_wrap .act_wrap {position:relative; width:1000px; height:750px; margin: 0 auto;}

.act {
    position:absolute;
    opacity:0;
    z-index:2;
}
.act.act01 {
    top:100px;
    left:217px;
}
/* .act.act02 {
    top:191px;
    left:374px;
} */
.act.act02 {
    /* top:265px; */
    top:365px;
    left:118px;
}
.act.act03 {
    /* top:468px; */
    top:490px;
    left:254px;
}

.act.act04 {
    top:0;
    left:50%;
    margin-left:-640px;
    transform: scale(0.1);
    z-index:10;
}

.act.act05 {
    top:0;
    left:50%;
    margin-left:-550px;
    z-index:1;
}

.act.act06 {
    bottom:-135px;
    left:36px;
    transform: scale(0.5);
    z-index:7;
}

.quick {
    width: 100px;
    position: fixed;
    top: 310px;
    left: 50%;
    margin-left: 523px;
    z-index: 999;
}
.quick img {
    opacity: 1;
}

.top_star {position:relative; padding-top:191px; z-index:2;}
.top_star img {display:inline-block; margin:0 17px; animation:star-active 0.8s cubic-bezier(0.4, 0, 0.2, 1) both;}
.top_star .star1 {animation-delay:0.55s;}
.top_star .star2 {animation-delay:0.65s;}
.top_star .star3 {animation-delay:0.75s;}

@keyframes star-active {
	from {
		opacity:0;
		-webkit-transform:translateY(50px); 
		transform:translateY(50px); 
	}
	to {
		opacity:1.0;
		-webkit-transform:translateY(0); 
		transform:translateY(0); 
	}
}

.arrow span{
    display: block;
    width: 41px;
    height: 41px;
    background:url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2022_teamplay_step/heart_ico_wh.png') 0 0 no-repeat;
    animation: animate 2.4s infinite;
    margin-top:-3px;
    opacity:1;
}

.arrow span:nth-child(1){
    animation-delay: -0.6s;
}
.arrow span:nth-child(2){
    animation-delay: -1.2s;
}
@keyframes animate {
    0%{
        opacity: 1;
        transform: translate(0px,0px);
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 0;
        transform: translate(0px,-30px);
    }
}

.inner {
    position: relative;
    z-index: 0;
    width: 1080px;
    margin: 0 auto;
    text-align: center;
}
.inner img {
    vertical-align: top;
}
.clearfix {
  zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
  clear: both;
}
.btn {position:absolute; top:70px; left:0px;}
.btn.btn02 {left:520px;}
    
.move_light_wrap {position:absolute; top:110px; left:0px; background:#fbefb8; overflow:hidden;}
.move_light_wrap .move_light {margin:6px 6px;}
.move_light_wrap .con01_light {position:absolute; top:-655px; left:-1000px;}
.move_light_wrap .move_light img {margin-left:0; margin-top:0; z-index:1; position:relative;}



/* teamplay_apply ?û•?ïô?ã†Ï≤? */
.team_rfix_banner {
    position: fixed;
    top: 335px;
    right: 0;
    z-index: 10;
}
.team_rfix_banner a {
    display: block;
    box-shadow: 2px 3px 7px 1px rgba(0, 0, 0, 0.2);
}
.team_rfix_banner a + a {
    margin-top: 10px;
}
.teamplay_apply * {
    box-sizing: border-box;
    text-align: left;
    font-family: 'Noto Sans KR';
}
.teamplay_apply div, .teamplay_apply p, .teamplay_apply span {
    font-size: 100%;
}
.teamplay_apply {
    margin: -15px 0 100px;
    letter-spacing: -0.8px;
}
.teamplay_apply .inner {
    width: 1160px;
    padding:80px 80px 85px;
	background:#fff;
	border-radius:7px;
	box-shadow: 0px 3px 10px 3px #c2d9e6;
}
.teamplay_apply .inner.pt60 {
	padding:60px 80px 85px 100px;
}
.teamplay_apply .inner.pt70 {
	padding:70px 80px 85px 100px;
}
.teamplay_apply .bg .inner {
    margin-top: 3px;
}
.teamplay_apply input[type="text"] {
    width: 100px;
    height: 36px;
    padding: 0 10px;
    line-height: 34px;
    text-align: center;
	box-sizing:border-box;
}
.teamplay_apply select {
    width: 100px;
    font-size: 16px;
    height: 36px;
}
.teamplay_apply textarea {
    width: 100%;
    height: 150px;
    padding: 20px;
    font-size: 16px;
    border: 1px solid #d0d0d0;
    resize: none;
    overflow-y: scroll;
}
.teamplay_apply textarea::placeholder {
    color: #777;
}
.teamplay_apply textarea::placeholder {
    color: #777;
    opacity: 1;
}
.teamplay_apply textarea::-webkit-input-placeholder {
    color: #777;
}
.teamplay_apply textarea:-ms-input-placeholder {
    color: #777;
}
.teamplay_apply textarea:-mos-input-placeholder {
    color: #777;
}

.teamplay_apply input::placeholder {
    color: #777;
}
.teamplay_apply input::placeholder {
    color: #777;
    opacity: 1;
}
.teamplay_apply input::-webkit-input-placeholder {
    color: #777;
}
.teamplay_apply input:-ms-input-placeholder {
    color: #777;
}
.teamplay_apply input:-mos-input-placeholder {
    color: #777;
}
.teamplay_apply .input_file {
    position: relative;
    padding: 18px;
}
.teamplay_apply .input_file .file_name {
    display: inline-block;
    position: relative;
    min-width: 300px;
    height: 36px;
    line-height: 34px;
    padding: 0 40px 0 10px;
    vertical-align: top;
    text-align: left;
    border: 1px solid #dcdcdc;
}
.teamplay_apply .input_file .file_name em {color:#ccc; margin-left:5px; font-size:13px;}
.teamplay_apply .input_file .file_name.disabled {
    border-color: #ddd;
    background: #f0f0f6;
    cursor: default;
    color: #888;
}
.teamplay_apply .input_file .file_name.disabled {
    border-color: #c8c8c8;
    background: #fbfbfc;
    cursor: default;
    color: #888;
}
.teamplay_apply .input_file input {
    width: 345px;
    padding-right: 40px;
    vertical-align: top;
    text-align: left;
}
.teamplay_apply .input_file.account input {
    padding-right:0;
}
.teamplay_apply .input_file.account select {
    font-size:14px;
}

.teamplay_apply .account .input_file .info_txt {
    
    font-size: 15px;
    line-height: 22px;
}
.teamplay_apply .table_new_type_01.account th {font-size:17px;}
.teamplay_apply .input_file.account .file_name {font-size:14px;}
.teamplay_apply .input_file .btn_delete {
    position: absolute;
    top: 0;
    right: 0;
    width: 34px;
    height: 34px;
    background: url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2022_teamplay_step/icon_delete.png') no-repeat center;
}
.teamplay_apply em.essen {color:#eb005e; padding-top:3px; vertical-align:middle;}
.teamplay_apply .btn_default {
    display: inline-block;
    min-width: 148px;
    padding: 0 10px;
    height: 36px;
    margin-left: 10px;
    line-height: 34px;
	font-weight:normal;
    font-size: 16px;
    text-align: center;
    color: #fff;
    background: #333e52;
}
.teamplay_apply .btn_default span:before {
    content: '';
    display: inline-block;
}
.teamplay_apply .btn_default .i_file:before {
    width: 14px;
    height: 17px;
    margin-right: 4px;
    background: url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2022_teamplay_step/icon_file.png') no-repeat;
    vertical-align: -3px;
}
.teamplay_apply .btn_default .i_check:before {

    width: 17px;
    height: 12px;
    margin-right: 4px;
    background: url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2020_teamplay_step/icon_check.png') no-repeat;
	display: none;
}
.teamplay_apply .btn_default .i_search:before {
    width: 13px;
    height: 13px;
    margin:0 4px -1px 0;
    background: url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2022_teamplay_step/icon_search.png') no-repeat;
}
.teamplay_apply .btn_default.disabled {
    border-color: #c8c8c8;
    color: #c8c8c8;
    cursor: default;
}
.teamplay_apply .btn_default.disabled .i_file:before {
    background: url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2020_teamplay_step/icon_file_disabled.png') no-repeat;
}

.teamplay_apply .btn_default.bd {
	min-width:auto;
	padding:0 18px;
	line-height: 30px;
	border:1px solid #2e57aa;
	color:#204eab;
	background:#fff;

}

.teamplay_apply .btn_box {
    margin-top: 70px;
}
.teamplay_apply .btn_l {
    display: block;
    width: 100%;
    height: 78px;
    line-height: 78px;
    font-size: 25px;
    text-align: center;
    color: #777;
    background: #acacac;
	border-radius:5px;
}
/* .teamplay_apply .btn_l:hover {
    background: #9d3102;
    color: #fff;
} */
.teamplay_apply .btn_l span:after {
    content: '';
    display: inline-block;
    margin-left: 15px;
    width: 11px;
    height: 19px;
    background: url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2021_teamplay_step/icon_arrow_gr.png') no-repeat;
}
.teamplay_apply .btn_l.arrow_none span:after {
    display: none;
}
.teamplay_apply .btn_l.on {
    color: #fff;
    background: #2050ab;
}
.teamplay_apply .btn_l.on span:after {
    content: '';
    display: inline-block;
    margin-left: 15px;
    width: 11px;
    height: 19px;
    background: url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2020_teamplay_step/icon_arrow.png') no-repeat;
}
/* .teamplay_apply .btn_l:hover span:after {
    background: url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2020_teamplay_step/icon_arrow.png') no-repeat;
} */
.teamplay_apply .btn_l.type1 {
    background: #81ace9;
    color: #fff;
    box-shadow: none;
	border-radius:5px ;
}
.teamplay_apply .btn_l.type1 em {
    font-size: 20px;
    vertical-align: bottom;
}
.teamplay_apply .type1.btn_l span:after {
    background: url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2020_teamplay_step/icon_arrow.png') no-repeat;
}
.teamplay_apply .btn_l.type1:hover {
    background: #81ace9;
}
.teamplay_apply h2 {
    position: relative;
    display: inline-block;
    line-height: normal;

}
.teamplay_apply h2:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0;
    width: 57px;
    height: 57px;
    background: url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2022_teamplay_step/h2_title_bg.png') no-repeat;
    z-index: -1;
}
.teamplay_apply h2 > span {
    font-size: 40px;
	padding-left: 26px;
/*     background: url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2021_teamplay_step/bg_title.png') repeat-x bottom left; */
}
.teamplay_apply h2 > em {
    font-size: 36px;
    font-weight: 400;
    color: #204eab;
}
.teamplay_apply h2.type1:before {
    display: none;
}
.teamplay_apply h2.type1 span {
    position: relative;
}
.teamplay_apply h2.type1 span:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0;
    width: 57px;
    height: 57px;
    background: url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2022_teamplay_step/h2_title_bg.png') no-repeat;
    z-index: -1;
}
.teamplay_apply h2 .alert_msg {
    display: inline-block;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 300;  
    color: #204eab;

}

.teamplay_apply h3 {
    margin-top: 70px;
    font-size: 36px;
    font-weight: bold;
    padding-left:30px;
    position: relative;
}

.teamplay_apply h3:after {position:absolute; left:0; top:-10px; width:58px; height:58px; display:block; clear:both; content:''; background: url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2022_teamplay_step/h3_star.png') 0 50% no-repeat; z-index:-1; }

.guide_txt{color: #7e8289;font-size:14px ;}

.teamplay_apply .guide_wrap {margin: 0 auto ;padding: 70px 80px;background:#fff url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2022_teamplay_step/bg_guide_spot.png') 800px 50% no-repeat; box-sizing:border-box; width:1160px; margin-top:3px; position:relative;}
.guide_txt02{color: #444;font-size: 22px !important;line-height:34px; padding-left:45px;}
.guide_txt02 + .guide_txt02 {margin-top:15px;}
.guide_txt02 strong{color:#a21b0f;font-size: 20px !important;}
.guide_txt02 strong .blt_star{color:#a21b0f;font-weight: normal;}

.teamplay_apply h3 em.star {position:relative; width:10px; height:10px; display:inline-block; float:left; margin-right:5px;}
.teamplay_apply h3 em.star img {position:absolute; top:6px; left:0;}


.teamplay_apply .map_area{padding:0 5px;}
.teamplay_apply .map_area .add_txt {position: relative;margin-bottom: 20px;}
.teamplay_apply .map_area .add_txt .txt{color: #333333;font-size: 22px;font-weight: 500;}
.teamplay_apply .map_area .add_txt span{display: block;font-size: 20px;font-weight: normal;margin-top: 0px;}
.teamplay_apply .map_area .add_txt .btn_detailMap{position: absolute;right: 0;bottom: 0;border: 1px solid #a63d39;color: #900c08;font-size: 14px;display: inline-block;padding: 0px 15px;}


.teamplay_apply .map_area_wrap {width: 570px;height: 250px; border:1px solid #dddddd; position:relative;overflow: hidden;}
.teamplay_apply .map_area_wrap iframe{position: absolute;left: -100px;top: -10px;}

.teamplay_apply .map_area em.plus_btn {position:absolute; bottom:0; right:0; width:50px; height:50px; background:#333;}
.teamplay_apply .map_area em.plus_btn:before, 
.teamplay_apply .map_area em.plus_btn:after {position:absolute; top:50%; left:50%; content:''; display:block; background:#fff;}
.teamplay_apply .map_area em.plus_btn:before {width:28px; height:2px; margin-top:-1px; margin-left:-14px;}
.teamplay_apply .map_area em.plus_btn:after {width:2px; height:28px; margin-top:-14px; margin-left:-1px;}
.teamplay_apply h4 {
    position: relative;
    margin-top: 60px;
    padding-left: 14px;
    font-size: 20px;
    font-weight: 400;
}
.teamplay_apply h4:before {
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    width: 5px;
    height: 5px;
    background: #696969;
}
.teamplay_apply h4 .check {}
.teamplay_apply .gr_txt {
    color: #a1a4a9;
}
.teamplay_apply .list_txt li {
    font-size: 15px;
    color: #777;
    line-height: 1.7;
}
.teamplay_apply .ag_box.account * {font-family: "MalGun Gothic","ÎßëÏ??Í≥†Îîï",dotum !important;}
.teamplay_apply .ag_box.account ul.list_txt {padding-bottom:35px;}
.teamplay_apply .account .list_txt li {font-size:14px;}
.teamplay_apply .info_txt {
    margin-top: 10px;
    font-size: 15px;
    color: #7e8289;
}
.teamplay_apply .info_txt.account {font-size:14px; line-height:26px; color:#777; font-weight:normal; font-family: "MalGun Gothic","ÎßëÏ??Í≥†Îîï",dotum !important; margin-top:15px;}
.teamplay_apply .table_new_type_01 {
    width: 100%;
    border-top: 3px solid #333;
    border-collapse: collapse;
}
.teamplay_apply .table_new_type_01{border-top: 2px solid #333333;}
.teamplay_apply .table_new_type_01 th,
.teamplay_apply .table_new_type_01 td {
    padding: 12px 10px;
    vertical-align: middle;
    font-size: 18px;
    text-align: center;
    border-left: 1px solid #c7c7c7;
    border-bottom: 1px solid #c7c7c7;
        border-top: 1px solid #c7c7c7;
}
.teamplay_apply .table_new_type_01 th {
    padding: 15px 10px;
    background: #f2f2f2;
    border-top: 1px solid #c7c7c7;
    font-weight: 400;
}
.teamplay_apply .table_new_type_01 td {
    background: #fff;
}

.teamplay_apply .table_new_type_01 tr th.brL,
.teamplay_apply .table_new_type_01 tr td.brL {
    border-left: 1px solid #c7c7c7 !important;
}
.teamplay_apply .table_new_type_01 tr th.brR,
.teamplay_apply .table_new_type_01 tr td.brR {
    border-right: 1px solid #c7c7c7 !important;
}

.teamplay_apply .table_new_type_01.account td {
    border-top: 1px solid #c7c7c7;
}
.teamplay_apply .table_new_type_01 tr.on td {
    background: #fcdbd8;
}
.teamplay_apply .table_new_type_01 td.bg_blue {
    /* background: #dbe6fc; */
	background: #e2eeff;
}
.teamplay_apply .table_new_type_01 td.bg_pink {
    background: #fcdbd8;
}
.teamplay_apply .table_new_type_01 td .info_txt {
    color: #555;
    font-weight: 300;
}
.teamplay_apply .table_new_type_01 tr:first-child th:first-child,
.teamplay_apply .table_new_type_01 tr th:first-child,
.teamplay_apply .table_new_type_01 tr td:first-child {
    border-left: none;
}

.teamplay_apply .table_new_type_01.bod_style01 th{font-size: 20px;font-weight: 500;}
.teamplay_apply .table_new_type_01.bod_style01 td{vertical-align: top;line-height: 1.5em;font-size: 20px;padding: 15px 20px;color: #333333;}
.va_m{vertical-align: middle !important;}


.teamplay_apply .search_box th {
    border: none;
    padding: 10px 5px;
    text-align: left;
}

.teamplay_apply .search_box label {
    padding: 0 5px;
    vertical-align: middle;
}
.teamplay_apply .search_box th:first-child label {
    padding-left: 10px;
}
.teamplay_apply .search_box input {
    text-align: left;
}
.teamplay_apply .search_box th .btn_default {
    min-width:105px;
	margin-left: 10px;
}
.teamplay_apply .ag_box {
    padding: 25px 30px;
    background: #fff;
	border: 1px solid #c7c7c7;
	box-sizing:border-box;
}
.teamplay_apply .ag_box.account {border:1px solid #ddd; border-top:3px solid #333; padding:35px 40px 0; height:200px; overflow-y:scroll;}
.teamplay_apply .ag_box li {
    color: #646567;
}
.teamplay_apply .textarea_box {
    margin-top: 50px;
}
.teamplay_apply .textarea_box + .textarea_box {
    margin-top: 50px;
}
.teamplay_apply .textarea_box h4 {
    margin-top: 0;
}
.teamplay_apply .textarea_box p.ment {
    line-height:1.7em;
	margin:5px 0 15px 13px;
	font-size:16px;
	color:#777;
}
.teamplay_apply .textarea_box p.ment span{
	display:inline-block;
	color:#204eab;	
	line-height:1.2;
	vertical-align:middle;
	border-bottom: 1px solid #204eab;
}
.teamplay_apply .textarea_box .info_txt {
    margin-top: 5px;
}
.teamplay_apply .sat_stared {
    width: 100%;
    min-height: 40px;
    margin: 20px 0;
    overflow: hidden;
}
.teamplay_apply .sat_stared .radio_list {
    float: left;
    width: 200px;
    margin-top: 10px;
}
.teamplay_apply .sat_stared .reason_form {
    float: left;
    width: 775px;
    font-size: 16px;
}
.teamplay_apply .sat_stared .reason_form span {
    display: inline-block;
    margin-top: 10px;
}
.teamplay_apply .sat_stared .reason_form input, 
.teamplay_apply .sat_stared .reason_form select {
    margin-left: 10px;
    height: 40px;
    vertical-align: top;
}
.teamplay_apply .sat_stared .reason_form select {
    width: 228px;
}
.teamplay_apply .sat_stared .reason_form input {
    width: 378px;
    text-align: left;
    font-size: 16px;
}
/* Í∞ÑÍ≤© */
.teamplay_apply h2 + .info_txt {
    margin-top: 20px;
}
.teamplay_apply h2 + h3 {
    margin-top: 50px;
}
.teamplay_apply h3 + .table_new_type_01 {
    margin-top: 60px;
}
.teamplay_apply h3 + h4 {
    margin-top: 40px;
}
.teamplay_apply h4 + .table_new_type_01,
.teamplay_apply h4 + textarea,
.teamplay_apply h4 + .ag_box {
    margin-top: 15px;
}
.teamplay_apply .ag_box + .radio_list {
    margin-top: 10px;
}

.radio {position:relative; display:inline-block; padding-left: 25px;}
.radio input[type="radio"] {position:absolute; top:-1px; padding:0; margin:0; width:0; height:0; overflow:hidden; text-indent:-1000px; clip:rect(0 0 0 0);}
.radio input[type="radio"] + label {display:inline-block; font-size:16px; cursor:pointer;}
.radio input[type="radio"] + label:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 1px solid #cecece;
    background: #fff;
    transform: translateY(-50%);
}
.radio input[type="radio"]:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 6px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #204eab;
    transform: translateY(-50%);
}
.radio_list li + li {
    margin-left: 20px;
}
.radio_list .radio {
    padding-left: 19px;
}
.radio_list .radio input[type="radio"] + label {
    font-size: 16px;
    font-weight:normal;
    font-family: "MalGun Gothic","ÎßëÏ??Í≥†Îîï",dotum !important; 
}
.radio_list .radio input[type="radio"] + label:before {
    width: 13px;
    height: 13px;
}
.radio_list .radio input[type="radio"] + label:after {
    width: 8px;
    height: 8px;
    left: 4px;
}
.check {position:relative; padding-left: 19px;}
.check input[type="checkbox"] {position:absolute; top:5px; padding:0; margin:0; width:0; height:0; overflow:hidden; text-indent:-1000px;}
/* .check input[type="checkbox"] + label {display:inline-block; font-size:15px; cursor:pointer; color: #333;} */
.check input[type="checkbox"] + label {
    display: block;
    /* position: absolute;
    top: -1px;
    left: 0; */
    width: 88px;
    height: 21px;
    background-image: url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2021_teamplay_step/icon_check_4.png');
    background-repeat: no-repeat;
    cursor:pointer;
}

.check input[type="checkbox"]:checked + label {
    /* top: 0px;
    left: 0; */
    background-image: url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2022_teamplay_step/icon_check_3.png');
    background-repeat: no-repeat;
}

/* disabled */
.teamplay_apply .reason_form.disabled select,
.teamplay_apply .reason_form.disabled input {
    opacity: 0.5;
    background: none;
}
.teamplay_apply .table_new_type_01.disabled select,
.teamplay_apply .table_new_type_01.disabled input {
    border-color: #c8c8c8;
    background: #fbfbfc;
    color: #999;
}


.blt_star{font-family: 'Gotham', sans-serif !important;}

.teamplay_apply .box_cgrt{background: url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2022_teamplay_step/bg_cgrt.png') 50% 0 no-repeat;padding-top: 150px;height: 371px;position: relative;z-index: 10;}
.teamplay_apply .account_name {font-size:60px; color:#111; font-family: "MalGun Gothic","ÎßëÏ??Í≥†Îîï",dotum;position:relative; margin:0 auto;text-align: center;}
.teamplay_apply .account_name strong {line-height:1; display:inline-block; }
.teamplay_apply .account_name span {font-weight:bold; color:#2d4a9e; display:inline-block;font-size:61px;}
.teamplay_apply .txt_select{text-align: center;font-size: 40px;color: #000; font-weight:normal;}
.teamplay_apply .txt_select .blt_star{font-size: 40px;display: inline-block;vertical-align: middle;margin-top: -19px;font-weight: 500;color: #000;}

.teamplay_apply .account_name_wrap{/*background: rgb(196,150,97);
background: linear-gradient(160deg, rgba(196,150,97,1) 0%, rgba(215,193,156,1) 21%, rgba(227,218,191,1) 38%, rgba(227,218,191,1) 66%, rgba(195,163,137,1) 86%, rgba(173,120,94,1) 100%);*/background: url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2022_teamplay_step/box_bg.png') 50% 0 no-repeat;padding:20px 20px 100px;position: relative;z-index:0 ;}
.teamplay_apply .account_name_detail{padding: 60px 24px; text-align:center;}
.teamplay_apply .account_name_detail .detail {font-size:32px; font-weight:bold; color:#000;line-height: 1.5em;margin-bottom: 20px;display: inline-block;vertical-align: top;letter-spacing: 0; text-align:center; margin:0 auto; position:relative; }
.teamplay_apply .account_name_detail .detail p {display:inline-block; position:relative; z-index:2;}
.teamplay_apply .account_name_detail .detail:after {position:absolute; width:100%; left:0%; bottom:2px; height:13px; background:#ffe7af; content:''; display:block; clear:both; z-index:1;}
.teamplay_apply .account_name_detail .detail .blt_star {display: inline-block;vertical-align: middle;margin-top: -16px;font-weight: normal;}
.teamplay_apply .account_name_detail .detail span {font-weight:bold; color:#2d4a9e; display:inline-block; font-size:32px;}
.teamplay_apply .account_name_detail .txt {line-height: 25px;color: #555;display: block; margin-top:30px; margin:30px 140px;}
.teamplay_apply .account_name_detail .txt li{font-size:17px;}
.teamplay_apply .account_name_detail .txt li + li {margin-top:10px;}
.teamplay_apply .account_name_detail .txt li strong{font-weight: 500;}
.teamplay_apply .account_name_detail .txt li:first-child{margin-top: 0; font-weight:bold;}
.teamplay_apply .account_name_detail .txt li .s_txt{font-size: 15px;color: #888888; font-weight:normal;}

/* 21?ÖÑ 2?õî 17?ùº 11?öå ?†ï?ãú ?û•?ïô?Éù ?ï©Í≤©Ïûê Î∞úÌëú css*/
.teamplay_apply.part11 .account_name_wrap {height:585px;background:url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2021_teamplay_step/con03_img03_js.png')no-repeat 50% 0;box-shadow: 0px 0px 0px #fff;}
.teamplay_apply.part11 .account_name {position:absolute;top:143px;right: 610px;display:inline-block;}
.teamplay_apply.part11 .account_name_detail {position:absolute;top:400px;right:0;width:100%;padding:0;text-align:center;background:none;}
.teamplay_apply.part11 .detail p, .teamplay_apply.part11 .detail span {display:inline-block;line-height:1;vertical-align:top;}
.teamplay_apply.part11 .detail {display:inline-block;width:auto;line-height:1;vertical-align:top;margin:0;}
.teamplay_apply.part11 .detail em {display:inline-block;width:auto;vertical-align:top;}
.teamplay_apply.bg {background:#fffaf0;}
.teamplay_apply.bg .inner {padding-top:100px;padding-bottom:100px;margin:0 auto;}
.teamplay_apply.bg h3 {margin-top:0;}
.teamplay_apply.part11 .btn_l {display: block;width: 100%;height: 90px;line-height: 90px;font-size: 32px;text-align: center;color: #787878;background: #cecece;border-radius:3px;box-shadow: 0 3px 3px 0 #9a9a9a;}
.teamplay_apply.part11 .btn_l.on {background:#950e0a;color:#fff;box-shadow: 0 3px 3px 0 #c6c6c6;}
.teamplay_apply.part11 .btn_l span:after {display:none;}

/* 
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .teamplay_apply .account_name span {vertical-align:baseline;}
    .teamplay_apply .account_name strong {padding-bottom:8px;}
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .teamplay_apply .account_name_detail .detail span {vertical-align:baseline;}
    .teamplay_apply .account_name_detail .detail em {top:4px;}
} */
.pop_team_wrap {
    display:none; 
    position:absolute; 
    top:0; 
    left:15%; 
    background:#fff;
    z-index:100; 
    width: 800px;}
.pop_team_wrap .popTitle {
    background: #204eab;
}
.pop_team_wrap .pop_body {
    margin-top: 0; 
    height:500px; 
    overflow-y:scroll; 
    overflow-x:hidden;
}
.pop_team_wrap .btn_close {
    position:absolute; 
    top: 0; 
    right: 0;
    background: url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2020_teamplay_step/icon_close.png') no-repeat center;
}
.pop_team_dim {
    display:none;
    position:fixed; 
    top:0; left:0; 
    width:100%; 
    height:100%; 
    background:#000; 
    opacity:0.5; 
    z-index:99;
}

.pop_team_wrap2 {
    position:absolute; 
    top:15%; 
    left:30%; 
    background:#fff;
    z-index:100; 
    width: 800px;}
.pop_team_wrap2 .popTitle {
    background: #9d3102;
}
.pop_team_wrap2 .pop_body {
    margin-top: 0; 
    height:500px; 
    overflow-y:scroll; 
    overflow-x:hidden;
}
.pop_team_wrap2 .btn_close {
    position:absolute; 
    top: 0; 
    right: 0;
    background: url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2020_teamplay_step/icon_close.png') no-repeat center;
}
.pop_team_dim2 {
    position:fixed; 
    top:0; left:0; 
    width:100%; 
    height:100%; 
    background:#000; 
    opacity:0.5; 
    z-index:99;
}

.point_color{color: #3d64b3 !important;}

.quick_mn{position: absolute;right: 0;top: 288px;z-index: 1000;}
.quick_mn a{display: block;}

.txt_under{text-decoration: underline !important;}