@charset "utf-8";

/* no data */
.no_data { margin-top: 10px; padding: 23px 0 28px; border-top: 1px solid #d4d4d4; }
.no_data p { padding-top: 25px; text-align: center; font-size: 14px; }
.section_card_list .no_data { margin-top: 0; border: 0; }
.section_card_list .no_data p { padding-bottom: 35px; }
.section_stats .no_data p { background-repeat: no-repeat; background-position: center top; background-size: 24px; }
.section_stats .another .no_data p { background-image: url('//img.eduwill.net/resources/qs/dev/images/main/icon_document_sm.png'); }
.section_stats .myself .no_data p { background-image: url('//img.eduwill.net/resources/qs/dev/images/main/icon_note_sm.png'); }

.section_card_list .no_data.is_success { height: 292px; margin-bottom: 50px; padding-top: 30px; padding-bottom: 0; text-align: center; background-image: url('//img.eduwill.net/resources/qs/dev/images/main/bg_success_sm.png'); background-repeat: no-repeat; background-position: center bottom; background-size: 110px auto; }
.section_card_list .no_data.is_success p { width: 100%; padding: 0; background-repeat: no-repeat; background-position: center center; background-size: auto 100%; }
.section_card_list .no_data.is_success .nth_child_1 { height: 11.643865%; max-height: 68px; background-image: url('//img.eduwill.net/resources/qs/dev/images/main/success_1_sm.png'); }
.section_card_list .no_data.is_success .nth_child_2 { height: 5.65%; max-height: 33px; margin-top: 5px; background-image: url('//img.eduwill.net/resources/qs/dev/images/main/success_2_sm.png'); }

/* section_notice */
.section_notice { position: relative; background-color: #f2f3f7; }
.section_notice p { padding: 11px 20px; overflow: hidden; -o-text-overflow: ellipsis; text-overflow: ellipsis; white-space: nowrap; font-size: 14px; font-weight: 300; letter-spacing: 0; border-radius: 5px; background-color: #e0e3ea; }
.section_notice p span { padding-right: 4px; font-family: '바탕', '명조', 'Nanum Myeongjo', Serif; font-style: italic; font-weight: bold; color: #4063bf; } /* 'Bodoni Bd BT' */
.section_notice .btn_setting { position: absolute; top: -72px; right: 0; width: 34px; height: 34px; background-image: url('//img.eduwill.net/resources/qs/dev/images/common/icon_setting.png'); background-repeat: no-repeat; background-position: center center; background-size: 100% auto; }
.section_notice .btn_setting span { width: 0; height: 0; font-size: 0; text-indent: -9999px; }

/* section_card_list */
.section_card_list { background-color: #f2f3f7; }
.section_card_list .subject { padding-right: 70px; font-size: 17px; font-weight: 700; color: #222; }
.section_card_list .info_list { min-height: 37px; margin-top: 10px; color: #444; }
.section_card_list .info_list li { position: relative; margin-top: 4px; padding-left: 7px; font-size: 14px; letter-spacing: 0; }
.section_card_list .info_list li:before { content: ''; display: block; position: absolute; top: 7px; left: 0; width: 3px; height: 3px; border-radius: 50%; background-color: #666; }
.section_card_list .info_list span { display: inline-block; font-weight: 700; }
.section_card_list .info_list span:after { content: ''; display: inline-block; width: 1px; height: 10px; margin: 0 4px 0 6px; background-color: #bbb; }
.section_card_list .user { position: absolute; top: 19px; right: 19px; padding-left: 20px; font-family: verdana; font-size: 13px; color: #999; background-image: url('//img.eduwill.net/resources/qs/dev/images/main/icon_user_sm.png'); background-repeat: no-repeat; background-position: left center; background-size: 22px auto; }

.section_card_list .state { margin-top: 22px; padding-top: 21px; border-top: 1px dashed #aaa; }
.section_card_list .state .col { width: 50%; }
.section_card_list .state .subject { padding-right: 0; font-size: 15px; font-weight: 500; }
.section_card_list .state .subject > a { position: relative; display: inline-block; color: #333; }
.section_card_list .state .subject span { display: inline-block; padding-right: 24px; background-image: url('//img.eduwill.net/resources/qs/dev/images/main/icon_exclamation_sm.png'); background-repeat: no-repeat; background-position: right center; background-size: auto 100%; }
.section_card_list .state .subject .notice { position: absolute; top: -30px; right: -40%; padding: 2px; font-size: 11px; color: #f63b28; border: 1px solid #f63b28; border-radius: 2px; background-color: #fff; }
.section_card_list .state .subject .notice:after { content: ''; position: absolute; bottom: -4px; left: 50%; width: 6px; height: 6px; border-bottom: 1px solid #f63b28; border-right: 1px solid #f63b28; background-color: #fff; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }
.section_card_list .state .cumulative { text-align: right; font-size: 15px; font-weight: 500; color: #f63b28; }
.section_card_list .number_list { margin-top: 6px; }
.section_card_list .number_list li { position: relative; float: left; width: 14.28571428571429%; text-align: center; -webkit-box-sizing: border-box; box-sizing: border-box; }
.section_card_list .number_list strong { display: block; height: 42px; line-height: 42px; margin-left: -1px; font-family: verdana; font-weight: normal; font-size: 14px; color: #888; border: 1px solid #ddd; background-color: #f3f3f3; -webkit-box-sizing: border-box; box-sizing: border-box; }
.section_card_list .number_list li:first-child strong { margin-left: 0; }
.section_card_list .number_list .complete strong { font-size: 14px; font-weight: bold; color: #fff; background-color: #525664; }
.section_card_list .number_list .today strong:before,
.section_card_list .number_list .complete strong:before { content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 1; display: block; width: 100%; height: 100%; border: 1px solid #393c47; -webkit-box-sizing: border-box; box-sizing: border-box; }
.section_card_list .number_list .today strong { font-weight: bold; color: #393c47; background-color: #fff; }
.section_card_list .number_list .today strong:before { border-width: 2px; }
.section_card_list .total { padding: 25px 0; line-height: 22px; text-align: center; color: #888; font-size: 13px; }
.section_card_list .total span { color: #393c47; }
.section_card_list .total .number { display: inline-block; padding-left: 26px; background-image: url('//img.eduwill.net/resources/qs/dev/images/main/icon_smile_sm.png'); background-repeat: no-repeat; background-position: left center; background-size: 22px; }
.section_card_list .total .times { font-weight: bold; }

.section_card_list .no_state { height: 40px; line-height: 40px; margin-top: 6px; font-size:13px; text-align: center; color: #d7d9de; background: #525664 url('//img.eduwill.net/resources/qs/dev/images/main/bgx_diagonal.png') repeat-x 0 0; background-size: auto 100%; }
.section_card_list .no_state strong { color: #fff; }

/* 220511 수정 START */
.section_card_list .has_state {}
.section_card_list .has_state.coming .module{display:flex;justify-content:center;align-items:center;background-image: url('//img.eduwill.net/resources/qs/dev/images/main/comingsoon_sm.png'); background-size: auto;padding:95px 0;}
.section_card_list .has_state.coming .module .coming_wrap{text-align:center;}
.section_card_list .has_state.coming .module .coming_wrap .copy{color: #4063BF;font-weight:700;font-family:Verdana;font-size:32px;}
.section_card_list .has_state.coming .module .coming_wrap .date{color:#333;font-size:16px;font-weight:700;letter-spacing: -0.933333px;margin-top:13px;}
.section_card_list .has_state.coming .module .coming_wrap .desc{color:#666;font-size:14px;letter-spacing: -0.933333px;margin-top:5px;}
.section_card_list .has_state.coming .module .coming_wrap .br{display:block;}
/* 220511 수정 END */

.section_card_list .is_apply .take,
.section_card_list .is_coming .apply,
.section_card_list .is_end .take,
.section_card_list .is_deadline .info_list li { color: #999; }

.section_card_list .is_apply .take:before,
.section_card_list .is_coming .apply:before,
.section_card_list .is_end .take:before,
.section_card_list .is_deadline .info_list li:before { background-color: #999; }

.section_card_list .is_coming .button,
.section_card_list .is_end .button,
.section_card_list .is_deadline .button { border-color: #bbb; background-color: #bbb; cursor: not-allowed; pointer-events: none; }

.section_card_list .no_exam { border: 0; }
.section_card_list .no_exam .core { min-height: 120px; background-image: url('//img.eduwill.net/resources/qs/dev/images/loading.gif'); background-repeat: no-repeat; background-position: center center; background-size: 70px auto; }

.changing_banner .banner { width: 100%; height: 130px; background-repeat: no-repeat; background-position: center center; background-size: auto 100%; }
.changing_banner .nth_child_1 { background-image: url('//img.eduwill.net/resources/qs/dev/images/main/changing_banner_1.png'); }

/* for gov */
.is_gov .changing_banner .nth_child_1 { background-image: url('//img.eduwill.net/resources/qs/dev/images/main/changing_banner_gov.png'); }

/* section_stats */
.section_stats { padding-bottom: 30px; background-color: #fff; }
.section_stats .grid .col { float: none; }
.section_stats .title { font-weight: 500; }
.section_stats .title strong { font-weight: 900; }
.section_stats .title + div { overflow: hidden; -o-text-overflow: ellipsis; text-overflow: ellipsis; white-space: nowrap; }
.section_stats ul { border-top: 1px solid #d4d4d4; }
.section_stats li { position: relative; display: block; height: 19px; margin-top: 8px; padding: 2px 0 2px 29px; font-size: 14px; overflow: hidden; -o-text-overflow: ellipsis; text-overflow: ellipsis; white-space: nowrap; }
.section_stats li:first-child { margin-top: 13px; }
.section_stats a { display: block; overflow: hidden; -o-text-overflow: ellipsis; text-overflow: ellipsis; white-space: nowrap; }
.section_stats .label { position: absolute; top: 50%; left: 0; display: block; width: 22px; height: 22px; padding: 2px 0; margin-top: -11px; text-align: center; font-family: verdana; font-size: 11px; font-weight: bold; color: #444; border: 1px solid #ccc; background-color: #eee; -webkit-box-sizing: border-box; box-sizing: border-box; }
.section_stats .myself ul { margin-top: 10px; }
.section_stats .myself li { background-image: url('//img.eduwill.net/resources/qs/dev/images/main/icon_note_sm.png'); background-repeat: no-repeat; background-position: left center; background-size: 22px auto; }
.section_stats .another .title strong { font-family: verdana; color: #000; }
.section_stats .another a { margin-top: 10px; }
.section_stats u { text-decoration: none; border-bottom: 1px solid #666; }

/* section_banner */
.section_banner { background-color: #fff; }
.section_banner .wrap { margin: 0; }
/* .section_banner .banner a { display: block; padding: 20px 15px; background-repeat: no-repeat; background-position: right bottom; background-size: auto 100%; }
.section_banner .desc { font-size: 14px; }
.section_banner .subject { margin-top: 7px; font-size: 20px; line-height: 24px; font-weight: 900; }
.section_banner .banner.is_survey em { font-weight: 400; }
.section_banner .subject span { display: block; font-weight: 400; }
.section_banner .subject strong { display: inline-block; width: 26px; height: 26px; line-height: 26px; text-align: center; vertical-align: 3px; font-family: verdana, 'Noto Sans KR'; font-weight: 400; font-size: 8px; color: #fff; letter-spacing: 0px; border-radius: 50%; }

.section_banner .banner.is_always a { background-color: #e2e5ed; background-image: url('//img.eduwill.net/resources/qs/dev/images/main/bg_always_sm.png'); }
.section_banner .banner.is_always .desc { color: #65676b; }
.section_banner .banner.is_always .subject { color: #2b3143; }
.section_banner .banner.is_always .subject strong { background-color: #2b3143; }

.section_banner .banner.is_survey a { background-color: #f4e8eb; background-image: url('//img.eduwill.net/resources/qs/dev/images/main/bg_survey_sm.png'); }
.section_banner .banner.is_survey .desc { color: #6f6a61; }
.section_banner .banner.is_survey .desc strong { color: #db3234; }
.section_banner .banner.is_survey .subject { color: #272624; }
.section_banner .banner.is_survey .subject strong { background-color: #2d467e; }

.section_banner .banner.is_event a { background-color: #ddd4c5; background-image: url('//img.eduwill.net/resources/qs/dev/images/main/bg_event_sm.png'); }
.section_banner .banner.is_event .desc { color: #6f6a61; }
.section_banner .banner.is_event .desc strong { color: #b93839; }
.section_banner .banner.is_event .subject { color: #272624; }
.section_banner .banner.is_event .subject strong { background-color: #2d467e; }

.section_banner .banner.is_dokhan a { background-color: #918c88; background-image: url('//img.eduwill.net/resources/qs/dev/images/main/bg_dokhan_sm.png'); }
.section_banner .banner.is_dokhan .desc { color: #cdc1b7; }
.section_banner .banner.is_dokhan .subject { color: #fff; }
.section_banner .banner.is_dokhan .subject strong { background-color: #ff2d3c; }

.section_banner .banner.is_kin a { background-color: #fff0cf; background-image: url('//img.eduwill.net/resources/qs/dev/images/main/bg_kin_sm.jpg'); }
.section_banner .banner.is_kin .desc { color: rgba(0, 0, 0, .7); }
.section_banner .banner.is_kin .subject { color: #000f52; }
.section_banner .banner.is_kin .subject strong { background-color: #000f52; }

.section_banner .banner.is_life a { background-color: #fef1e8; background-image: url('//img.eduwill.net/resources/qs/dev/images/main/bg_life_sm.jpg'); }
.section_banner .banner.is_life .desc { color: rgba(0, 0, 0, .7); }
.section_banner .banner.is_life .subject { color: #fa5363; }
.section_banner .banner.is_life .subject strong { background-color: #fca2a6; }

.section_banner .banner.is_life_gov a { background-color: #2b1b65; background-image: url('//img.eduwill.net/resources/qs/dev/images/main/bg_life_gov.jpg'); }
.section_banner .banner.is_life_gov .desc { color: #ffa3ad; }
.section_banner .banner.is_life_gov .subject { color: #fff; }
.section_banner .banner.is_life_gov .subject strong { background-color: #5d3cd6; }

.section_banner .banner.is_life_event a { background-color: #0d6b64; background-image: url('//img.eduwill.net/resources/life/live/images/promotion/191030/BN/bg_event_191031.jpg'); }
.section_banner .banner.is_life_event .desc { color: #f3ffa0; }
.section_banner .banner.is_life_event .subject { color: #fff; }
.section_banner .banner.is_life_event .subject strong { background-color: #0e4945; }

.section_banner .banner.is_king_event a { background-color: #ffe64c; background-image: url('//img.eduwill.net/resources/qs/dev/images/main/bg_king_event.png'); }
.section_banner .banner.is_king_event .desc { color: rgba(0, 0, 0, .7); letter-spacing: -1px; }
.section_banner .banner.is_king_event .subject { color: #5334bb; }
.section_banner .banner.is_king_event .subject span { color: #333; }
.section_banner .banner.is_king_event .subject strong { background-color: #5334bb; } */

.section_banner .bx-wrapper .bx-controls-direction { display: none; }
.section_banner .bx-wrapper .bx-pager { top: 9px; right: 9px; width: auto; padding-top: 0; text-align: right; font-size: 0; }
.section_banner .bx-wrapper .bx-pager a { width: 6px; height: 6px; margin-left: 4px; border-radius: 6px; background-color: #aaa2a4; -webkit-transition: all .3s; -o-transition: all .3s; transition: all .3s; }
.section_banner .bx-wrapper .bx-pager a:first-child { margin-left: 0; }
.section_banner .bx-wrapper .bx-pager a:hover { background-color: #f63b28; }
.section_banner .bx-wrapper .bx-pager a.active { width: 15px; background-color: #f63b28; }

.section_banner .banner .desc { position: absolute; top: 16.5%; left: 4.72%; color: #6912db; letter-spacing: -1.2px; font-size: 3.75vw; }

/* layer */
.layer_state { right: 2.78%; left: 2.78%; }
.layer_state .layer_wrap { position: relative; height: 100%; overflow-y: auto; border-radius: 4px; background-color: #fff; }
.layer_state .layer_body { padding: 0; }
.layer_state .layer_body img { width: 100%; max-width: 100%; }
.layer_state .layer_body .action { margin: 0 13.23529411764706% 16px; }
.layer_state .layer_body .action a { width: 100%; }
.layer_state .state_tab_list { border-bottom: 2px solid #f1f1f1; border-radius: 4px 4px 0 0; background-color: #f1f1f1; }
.layer_state .state_tab_list li { width: 50%; }
.layer_state .state_tab_list a { display: block; padding: 10px 0; text-align: center; font-size: 15px; color: #666; }
.layer_state .state_tab_list .active a { font-weight: 700; color: #333; border-radius: 4px 4px 0 0; background-color: #fff; }
.layer_state .state_tab_contents .item { display: none; }
.layer_state .state_tab_contents .item.active { display: block; }

@media only screen and (min-width: 768px) {
	/* section_notice */
	.section_notice .btn_setting { top: -50px; }

	/* section_card_list */
	.section_card_list { padding-bottom: 30px; }
	.section_card_list .wrap > .grid { margin: 0 0 0 -2%; }
	.section_card_list .item { position: relative; float: left; width: 48%; height: 218px; margin: 2% 0 0 2%; }
	.section_card_list .item { -webkit-transition: all .4s; -o-transition: all .4s; transition: all .4s; }
	.section_card_list .item:hover { z-index: 1; -webkit-transform: translateX(-4px); -ms-transform: translateX(-4px); transform: translateX(-4px); }
	.section_card_list .item:hover .module { -webkit-box-shadow: 5px 5px 10px #dee0e6; box-shadow: 5px 5px 10px #dee0e6; }
	.section_card_list .module { height: 100%; padding: 24px; border-radius: 10px; }
	.section_card_list .core { position: relative; height: 100%; }
	.section_card_list .subject { min-height: 48px; font-size: 20px; line-height:24px; }
	.section_card_list .info_list { position: absolute; bottom: 68px; left: 0; right: 0; min-height: 46px; margin-top: 0; }
	.section_card_list .info_list li { padding-left: 8px; font-size: 14px; }
	.section_card_list .info_list li:before { top: 8px; width: 3px; height: 3px; }
	.section_card_list .info_list span { letter-spacing: -1px; }
	.section_card_list .info_list span:after { height: 12px; margin: 0 6px 0 10px; }
	.section_card_list .user { top: 3px; right: 0; padding-left: 19px; background-image: url('//img.eduwill.net/resources/qs/dev/images/main/icon_user_lg.png'); background-size: auto; }
	.section_card_list .action { position: absolute; bottom: 0; left: 0; right: 0; margin-top: 0; }
	.section_card_list .action .button{color:#fff;}

	.section_card_list .has_state { width: 98%; }
	/* 220511 수정 START */
	.section_card_list .has_state.coming .module{background-image: url('//img.eduwill.net/resources/qs/dev/images/main/comingsoon_lg.png'); background-size: auto;padding:0;}
	.section_card_list .has_state.coming .module .coming_wrap .copy{font-size:36px;}
	.section_card_list .has_state.coming .module .coming_wrap .date{font-size:18px;}
	.section_card_list .has_state.coming .module .coming_wrap .desc{font-size:16px;}
	.section_card_list .has_state.coming .module .coming_wrap .br{display:inline-block;}
	/* 220511 수정 END */

	.section_card_list .has_state .module { *zoom: 1; }
	.section_card_list .has_state .module:before,
	.section_card_list .has_state .module:after { content: ''; display: table; }
	.section_card_list .has_state .module:after { clear: both; }
	.section_card_list .has_state .core { float: left; width: 50%; padding-right: 33px; -webkit-box-sizing: border-box; box-sizing: border-box; }
	.section_card_list .has_state .core .action { right: 33px; }
	.section_card_list .has_state .user { right: 33px; }
	.section_card_list .has_state .state { height: 170px; margin-top: 0; padding: 0 0 0 33px; border-top-width: 0; border-left: 1px dashed #aaa; }
	.section_card_list .state .subject { position: relative; font-size: 16px; }
	.section_card_list .state .subject span { padding-right: 23px; background-image: url('//img.eduwill.net/resources/qs/dev/images/main/icon_exclamation_lg.png'); background-size: auto; }
	.section_card_list .state .subject .notice { right: -58%; padding: 0 6px; font-size: 14px; }
	.section_card_list .state .cumulative { font-size: 16px; }
	.section_card_list .number_list { margin-top: 17px; }
	.section_card_list .number_list strong { height: 45px; line-height: 45px; font-size: 14px; }
	.section_card_list .total { padding: 33px 0 32px; font-size: 14px; }
	.section_card_list .total .number { padding-left: 25px; background-image: url('//img.eduwill.net/resources/qs/dev/images/main/icon_smile_lg.png'); background-size: auto; }

	.section_card_list .no_state {font-size: 14px; margin-top: 17px; height: 45px; line-height: 45px; background-size: auto; }
	.section_card_list .no_exam .core { min-height: 170px; background-size: 40px auto; }

	/* changing_banner */
	.changing_banner .banner { height: 150px; }

	/* section_stats */
	.section_stats { padding-bottom: 40px; }
	.section_stats .grid .col { float: left; width: 50%; padding-left: 20px; }
	.section_stats .title { margin-top: 40px; }
	.section_stats ul { border-top: 1px solid #d4d4d4; }
	.section_stats li { margin-top: 12px; padding: 4px 0 4px 35px; font-size: 14px; letter-spacing: -.7px; }
	.section_stats li:first-child { margin-top: 20px; }
	.section_stats a:hover { font-weight: 500; color: #222; }
	.section_stats .label { width: 26px; height: 26px; margin-top: -13px; font-size: 13px; }
	.section_stats .myself ul { margin-top: 16px; }
	.section_stats .myself li { padding-left: 28px; background-image: url('//img.eduwill.net/resources/qs/dev/images/main/icon_note_lg.png'); background-size: auto; }
	.section_stats .another a { margin-top: 16px; }
	.section_stats .another { padding-left: 0; padding-right: 20px; }

	/* section_banner */
	.section_banner { padding-bottom: 40px; }
	.section_banner .wrap { margin: 0 20px; }
/*
	.section_banner .banner a {padding: 37px 30px 35px 30px; }
	.section_banner .desc { font-size: 18px; }
	.section_banner .subject { font-size: 30px; letter-spacing: -1.6px; }
	.section_banner .subject span { display: inline-block; }
	.section_banner .subject strong { width: 40px; height: 40px; line-height: 40px; font-size: 16px; }
*/
	.section_banner .bx-wrapper .bx-pager { top: 14px; right: 9px; }
	.section_banner .bx-wrapper .bx-pager a { width: 12px; height: 12px; border-radius: 12px; margin-left: 4px; }
	.section_banner .bx-wrapper .bx-pager a:first-child { margin-left: 0; }
	.section_banner .bx-wrapper .bx-pager a.active { width: 30px; }

	.section_banner .banner .desc { left: 3%; font-size: 1.75rem; }

	/* layer */
	.layer_state { top: 50%; left: 50%; width: 340px; height: 550px; margin-left: 0; border-radius: 8px; -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, .3); box-shadow: 10px 10px 10px rgba(0, 0, 0, .3); background-color: #fff; }
	.layer_state { -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
	.layer_state .layer_wrap { position: relative; height: auto; overflow-y: visible; border-radius: 8px; }
	.layer_state .layer_body .action { margin-top: 0; margin-bottom: 16px; }
	.layer_state .layer_body .action .button { padding: 6px 10px; }

	/* no data */
	.no_data { margin-top: 16px; padding: 43px 0 28px; }
	.no_data p { padding-top: 35px; font-size: 14px; }
	.section_card_list .no_data { margin-top: 0; border: 0; }
	.section_card_list .no_data p { padding-bottom: 25px; }
	.section_stats .no_data p { background-size: auto; }
	.section_stats .another .no_data p { background-image: url('//img.eduwill.net/resources/qs/dev/images/main/icon_document_lg.png'); }
	.section_stats .myself .no_data p { background-image: url('//img.eduwill.net/resources/qs/dev/images/main/icon_note_lg.png'); }

	.section_card_list .no_data.is_success { width: 614px; height: auto; margin: 0 auto; padding-top: 56px; padding-bottom: 66px; text-align: left; background-image: url('//img.eduwill.net/resources/qs/dev/images/main/bg_success_lg.png'); background-position: right center; background-size: auto; }
	.section_card_list .no_data.is_success p { background-position: left center; background-size: auto; }
	.section_card_list .no_data.is_success .nth_child_1 { height: 65px; background-image: url('//img.eduwill.net/resources/qs/dev/images/main/success_1_lg.png'); }
	.section_card_list .no_data.is_success .nth_child_2 { height: 28px; margin-top: 9px; background-image: url('//img.eduwill.net/resources/qs/dev/images/main/success_2_lg.png'); }
	.section_card_list .no_data.is_success .action { position: static; margin-top: 29px; }
}

@media only screen and (min-width: 1100px) {
	/* section_notice */
	.section_notice { background-color: transparent; }
	.section_notice p { font-size: 13px; position: absolute; top: -43px; right: 0; width: 356px; padding: 0; text-align: right; border-radius: 0; background-color: transparent; }
	.section_notice p a:hover { text-decoration: underline; }
	.section_notice .btn_setting { top: -80px; width: auto; height: auto; padding: 3px 8px 4px 26px; border: 1px solid #cacdd6; border-radius: 4px; background-color: #fff; background-position: 8px center; background-size: 17px; }
	.section_notice .btn_setting span { width: auto; height: auto; font-size: 14px; font-weight: 500; color: #666; text-indent: 0; }

	/* section_card_list */
	.section_card_list { padding-bottom: 60px; }
	.section_card_list .wrap > .grid { margin: -16px 0 0 -16px; }
	.section_card_list .item {  width: 356px; margin: 16px 0 0 16px; }
	.section_card_list .has_state { width: 728px; }

	/* changing_banner */
	.changing_banner { position: absolute; top: 104px; right: -254px; z-index: 1; }
	.changing_banner .banner { width: 270px; height: 342px; background-size: auto; -webkit-animation: movingBanner .8s; animation: movingBanner .8s; }
	.changing_banner .nth_child_1 { background-image: url('//img.eduwill.net/resources/qs/dev/images/main/changing_banner_1_lg.png'); }

	/* for gov */
	.is_gov .changing_banner .nth_child_1 { width: 222px; height: 352px; background-image: url('//img.eduwill.net/resources/qs/dev/images/main/changing_banner_gov_lg.png'); }

	/* section_stats */
	.section_stats { padding-bottom: 45px; }
	.section_stats .myself { padding-left: 30px; }
	.section_stats .title { margin-top: 55px; }
	.section_stats .another { padding-right: 30px; }

	/* section_banner */
	.section_banner { padding-bottom: 60px; }
	.section_banner .wrap { margin: 0 auto; }
/*
	.section_banner .banner a { padding: 37px 49px 35px; background-size: auto; }
	.section_banner .desc { font-size: 18px; }
	.section_banner .subject { margin-top: 5px; font-size: 34px; }
	.section_banner .subject strong { width: 46px; height: 46px; line-height: 46px; vertical-align: 8px; font-size: 16px; }
	.section_banner .banner.is_always a { background-image: url('//img.eduwill.net/resources/qs/dev/images/main/bg_always_lg.png'); }
	.section_banner .banner.is_survey a { background-image: url('//img.eduwill.net/resources/qs/dev/images/main/bg_survey_lg.png'); }
	.section_banner .banner.is_event a { background-image: url('//img.eduwill.net/resources/qs/dev/images/main/bg_event_lg.png'); }
	.section_banner .banner.is_dokhan a { background-image: url('//img.eduwill.net/resources/qs/dev/images/main/bg_dokhan_lg.png'); }
	.section_banner .banner.is_kin a { background-image: url('//img.eduwill.net/resources/qs/dev/images/main/bg_kin_lg.jpg'); }
	.section_banner .banner.is_life a { background-image: url('//img.eduwill.net/resources/qs/dev/images/main/bg_life_lg.jpg'); }
	.section_banner .banner.is_life_gov a { background-position-y: 30%; }
	.section_banner .banner.is_life_event a { background-position-y: 0; }
	.section_banner .banner.is_king_event a { background-image: url('//img.eduwill.net/resources/qs/dev/images/main/bg_king_event_lg.png'); }
*/
	.section_banner .bx-wrapper:hover .bx-controls-direction { display: block; opacity: 1; }
	.section_banner .bx-wrapper .bx-controls-direction { opacity: 0; -webkit-transition: opacity .3s; -o-transition: opacity .3s; transition: opacity .3s; }
	.section_banner .bx-wrapper .bx-controls-direction a { width: 30px; height: 50px; background-color: rgba(0, 0, 0, .25); }
	.section_banner .bx-wrapper .bx-controls-direction a:after { content: ''; position: absolute; top: 50%; left: 50%; width: 10px; height: 10px; margin-top: -5px; border-top: 2px solid #fff; border-right: 2px solid #fff; }
	.section_banner .bx-wrapper .bx-controls-direction .bx-next { right: 0; }
	.section_banner .bx-wrapper .bx-controls-direction .bx-next:after { margin-left: -8px; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }
	.section_banner .bx-wrapper .bx-controls-direction .bx-prev { left: 0; }
	.section_banner .bx-wrapper .bx-controls-direction .bx-prev:after { margin-left: -4px; -webkit-transform: rotate(-135deg); -ms-transform: rotate(-135deg); transform: rotate(-135deg); }
}


/* animation */
@-webkit-keyframes movingBanner {
	0% {
		opacity: 0;
		-webkit-transform: translate(0, 100px);
		-ms-transform: translate(0, 100px);
		transform: translate(0, 100px);
	}
	50% {
		-webkit-transform: translate(0, -50px);
		-ms-transform: translate(0, -50px);
		transform: translate(0, -50px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate(0, 0);
		-ms-transform: translate(0, 0);
		transform: translate(0, 0);
	}
}
@keyframes movingBanner {
	0% {
		opacity: 0;
		-webkit-transform: translate(0, 100px);
		-ms-transform: translate(0, 100px);
		transform: translate(0, 100px);
	}
	50% {
		-webkit-transform: translate(0, -50px);
		-ms-transform: translate(0, -50px);
		transform: translate(0, -50px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate(0, 0);
		-ms-transform: translate(0, 0);
		transform: translate(0, 0);
	}
}