@charset "utf-8";

/* common */
#mainContent { position: relative; text-align: center; background-color: #f4f4f6; }
#mainContent img { width: 100%; vertical-align: top; }

.container { margin-top: 8px; }

/* label */
.label { position: absolute; top: 0; left: 50%; display: inline-block; width: 24px; height: 15px; margin-left: -12px; text-align: center; -webkit-box-sizing: border-box; box-sizing: border-box; }
.label:after { content: ''; position: absolute; bottom: -3px; left: 0; right: 0; display: block; width: 0; height: 0; border-left: 12px solid transparent; border-right: 12px solid transparent; border-top-width: 3px; border-top-style: solid; }
.label em { vertical-align: top; font-size: .6875rem; }
.label_black { background-color: #000; }
.label_black:after { border-top-color: #000; }
.label_black em { color: #ffcc00; }
.label_red { background-color: #e91d03; }
.label_red:after { border-top-color: #e91d03; }
.label_red em  { color: #fff; }
.label_beige { background-color: #9a8b8b; }
.label_beige:after { border-top-color: #9a8b8b; }
.label_beige em  { color: #fff; }

.label_large { width: 42px; margin-left: -21px; }
.label_large:after { border-left-width: 21px; border-right-width: 21px; }

/* section_visual */
.section_visual { width: 100%; margin-top: 0; text-align: center; background-color: #fff; }
.section_visual .visual_control { position: absolute; bottom: 6px; right: 4px; z-index: 10; padding-left: 7px; text-align: left; vertical-align: middle; font-size: .75rem; color: #fff; border-radius: 12px; background-color: rgba(0, 0, 0, .8); -webkit-box-sizing: border-box; box-sizing: border-box; }
.section_visual .swiper-pagination { position: relative; bottom: 0; display: inline-block; width: auto; height: 100%; }
.section_visual .swiper-pagination .swiper-pagination-current { font-weight: bold; }
.section_visual .visual_control .btn_total { display: inline-block; height: 100%; padding: 4px 8px; border-radius: 12px; -webkit-box-sizing: border-box; box-sizing: border-box; }
.section_visual .visual_control .btn_total span { color: #ffcc00; }

.visual_banner_list { position: fixed; top: 0; left: 0; z-index: 1200; display: none; width: 100%; height: 100%; overflow: hidden; background-color: rgba(0, 0, 0, .9); }
.visual_banner_list .close_banner { position: fixed; bottom: 20px; left: 50%; display: block; width: 42px; height: 42px; margin-left: -21px; border-radius: 50%; background-color: rgba(0, 0, 0, .8); }
.visual_banner_list .close_banner:before,
.visual_banner_list .close_banner:after { content: ''; position: absolute; top: 50%; left: 50%; display: block; width: 24px; height: 1px; margin-left: -12px; background-color: #fff; }
.visual_banner_list .close_banner:before { -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }
.visual_banner_list .close_banner:after { -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); }
.visual_banner_list ul { position: fixed; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%; padding: 10px 10px 82px; overflow-y: scroll; -webkit-box-sizing: border-box; box-sizing: border-box; }
.visual_banner_list li { text-align: center; margin-top: 6px; background-color: #fff; }
.visual_banner_list li:first-child { margin-top: 0; }

/* section_banner */
.section_banner { margin-top: 8px; text-align: center; }
.section_banner img { max-width: 360px; margin: 0 auto; }

/* section_login */
.section_login .col { width: 50%; text-align: left; }
.section_login .join { padding-left: 10px; padding-right: 5px; }
.section_login .login { padding-left: 5px; padding-right: 10px; }
.section_login a { display: block; padding: 12px; color: #000; border: 1px solid #000; background-color: #fff; background-repeat: no-repeat; background-position: right center; background-size: auto 100%; }
.section_login .join a { background-image: url('//img.eduwill.net/Img2/mobile2/brand_new/main/2018/bg_join.png'); }
.section_login .login a { background-image: url('//img.eduwill.net/Img2/mobile2/brand_new/main/2018/bg_login.png'); }

/* section_menu */
.section_menu { padding-bottom: 20px; background-color: #fff; }
.section_menu .title { font-weight: normal; padding-top: 28px; color: #000; }
.section_menu .title strong { position: relative; z-index: 1; display: inline-block; }
.section_menu .title strong:after { content: ''; position: absolute; top: 50%; left: 0; right: 0; z-index: -1; display: block; width: 100%; height: 10px; margin-top: -5px; background-color: #ffecb2; }
.section_menu a { display: block; padding: 13px 0; }
.section_menu .tab_list { margin-top: 9px; }
.section_menu .tab_list .col { width: 25%; -webkit-transition: all .3s; -o-transition: all .3s; transition: all .3s; }
.section_menu .tab_list a { position: relative; }
.section_menu .tab_list a:after { content: ''; position: absolute; bottom: 0; left: 0; right: 0;  }
.section_menu .item { position: relative; border-top: 1px solid #eaeaf4; }
.section_menu .item:after { content: ''; position: absolute; bottom: 0; left: 0; right: 0; display: block; width: 100%; height: 1px; background-color: #e8e8e8; -webkit-box-sizing: border-box; box-sizing: border-box; }
.section_menu .item ul { background-color: #fbfbfb; }
.section_menu .item .col { position: relative; width: 50%; border-right: 1px solid #eaeaf4; border-bottom: 1px solid #eaeaf4; background-color: #fbfbfb; }
.section_menu .list_more { position: relative; z-index: 1; margin-bottom: -20px; }
.section_menu .list_more span { display: inline-block; padding-right: 7px; color: rgba(0, 0, 0, .3); }
.section_menu .list_more:before,
.section_menu .list_more:after { content: ''; }
.section_menu .list_more:before { position: absolute; top: -1px; display: block; width: 100%; border-top: 1px solid #eaeaf4; }
.section_menu .list_more:after { display: inline-block; width: 6px; height: 6px; vertical-align: -2px; border-right: 2px solid rgba(0, 0, 0, .3); border-bottom: 2px solid rgba(0, 0, 0, .3); -webkit-transform: rotate(-135deg); -ms-transform: rotate(-135deg); transform: rotate(-135deg); }

.tab_menu .item ul { height: auto; overflow: hidden; }
.tab_menu .item { display: none; }

.section_menu .item.fold ul { height: 195px; }
.section_menu .item.fold:after { display: none; }
.section_menu .item.fold .list_more:before { top: 0; }
.section_menu .item.fold .list_more:after { vertical-align: 1px; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); -webkit-transition: transform .3s; -o-transition: transform .3s; -webkit-transition: -webkit-transform .3s; transition: -webkit-transform .3s; transition: transform .3s; transition: transform .3s, -webkit-transform .3s; }

.section_menu .tab_list .in span { font-weight: bold; }
.section_menu .item.in { display: block; }

/* section_menu for online */
.section_menu.is_online .tab_list { margin-top: 12px; border-top: 1px solid #eaeaf4; }
.section_menu.is_online .tab_list a { padding: 13px 0; }
.section_menu.is_online .tab_list .in a:after { border-bottom: 2px solid #ffba00; }
.section_menu.is_online .tab_list .in span { color: #ffba00; }
.section_menu.is_online .item .col:nth-child(even) { border-right-width: 0; }
.section_menu .popular_menu { padding-top: 16px; text-align: center; }
.section_menu .popular_menu li { position: relative; float: none; display: inline-block; margin-left: 7px; }
.section_menu .popular_menu li:first-child { margin-left: 0; }
.section_menu .popular_menu a { min-width: 90px; padding: 9px 0; border: 1px solid #ddd; border-radius: 21px; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .16); -webkit-box-sizing: border-box; box-sizing: border-box; }
.section_menu .popular_menu .hot a { border-color: #ff8100; }
.section_menu .popular_menu .hot:before { content: ''; position: absolute; top: 0; left: 50%; display: block; width: 29px; height: 22px; margin: -11px 0 0 -14.5px; background: url('//img.eduwill.net/Img2/mobile2/brand_new/main/2018/icon_hot.png') no-repeat center top; background-size: 100% auto; }

/* section_menu for offline */
.section_menu.is_offline a { padding: 8px 0; }
.section_menu.is_offline .tab_list { margin: 15px 45px 0; }
.section_menu.is_offline .tab_list .col { width: 33.33%; width: calc(100% / 3); border-bottom: 2px solid #f4f4f6; }
.section_menu.is_offline .tab_list .col a { padding: 13px 0; }
.section_menu.is_offline .tab_list .in { border-bottom-color: #ffcc00; }
.section_menu.is_offline .tab_list .in a { color: #ffba00; }
.section_menu.is_offline .tab_list .in span {}
.section_menu.is_offline .item .col { width: 25%; }
.section_menu.is_offline .item a { padding: 21px 0; }
.section_menu.is_offline .core { margin-top: 16px; }

@media only screen and (min-width: 768px) {
	.section_menu.is_offline .tab_list .col { width: 16.66%; width: calc(100% /6); }
}

/* section_menu for mobile */
.section_menu.is_mobile .core { margin-top: 24px; }
.section_menu.is_mobile .core a { padding-left: 40px; text-align: left; font-size: .9375rem; background-repeat: no-repeat; background-position: 10px center; background-size: 24px; }
.section_menu.is_mobile .nth_child_1 a { background-image: url('//img.eduwill.net/Img2/mobile2/brand_new/main/2018/icon_service_1.png'); }
.section_menu.is_mobile .nth_child_2 a { background-image: url('//img.eduwill.net/Img2/mobile2/brand_new/main/2018/icon_service_2.png'); }
.section_menu.is_mobile .nth_child_3 a { background-image: url('//img.eduwill.net/Img2/mobile2/brand_new/main/2018/icon_service_3.png'); }
.section_menu.is_mobile .nth_child_4 a { background-image: url('//img.eduwill.net/Img2/mobile2/brand_new/main/2018/icon_service_4.png'); }
.section_menu.is_mobile .nth_child_5 a { background-image: url('//img.eduwill.net/Img2/mobile2/brand_new/main/2018/icon_service_5.png'); }
.section_menu.is_mobile .nth_child_6 a { background-image: url('//img.eduwill.net/Img2/mobile2/brand_new/main/2018/icon_service_6.png'); }
.section_menu.is_mobile .nth_child_7 a { background-image: url('//img.eduwill.net/Img2/mobile2/brand_new/main/2018/icon_service_7.png'); }

/* section_menu for publish */
.section_menu.is_publish .popular_menu li { margin-left: 1px; }
.section_menu.is_publish .popular_menu a { padding: 9px 10px; letter-spacing: -.44px; }

/* after login */
/* section_my_lecture */
.section_my_lecture { background-color: #fff; }
.section_my_lecture .title { padding-top: 12px; }
.section_my_lecture .title a { display: inline-block; font-weight: bold; }
.section_my_lecture .title a:before,
.section_my_lecture .title a:after { content: ''; display: inline-block; width: 23px; height: 23px; vertical-align: middle; background-repeat: no-repeat; background-position: left center; background-size: 100% auto; }
.section_my_lecture .title a:before { background-image: url('//img.eduwill.net/Img2/mobile2/brand_new/main/2018/icon_my_lecture.png'); }
.section_my_lecture .title a:after { background-image: url('//img.eduwill.net/Img2/mobile2/brand_new/main/2018/icon_arrow_circle.png'); }
.section_my_lecture .menu { margin-top: 13px; background-color: #f9f9f9; }
.section_my_lecture .menu a { display: block; padding: 13px 0; }

/* three items */
.section_my_lecture .menu .col:nth-child(1):nth-last-child(3),
.section_my_lecture .menu .col:nth-child(2):nth-last-child(2),
.section_my_lecture .menu .col:nth-child(3):nth-last-child(1) { width: calc(100%/3); width: 33.33333%; }

/* four items */
.section_my_lecture .menu .col:nth-child(1):nth-last-child(4),
.section_my_lecture .menu .col:nth-child(2):nth-last-child(3),
.section_my_lecture .menu .col:nth-child(3):nth-last-child(2),
.section_my_lecture .menu .col:nth-child(4):nth-last-child(1) { width: 25%; }

.recommend_list { position: relative; margin-top: 0; }
.recommend_list.is_package .title { position: absolute; top: 10px; left: 0; right: 0; z-index: 10; text-align: center; font-weight: bold; color: #fff; }
.recommend_list.is_package .swiper-slide { padding: 60px 37px 30px; -webkit-box-sizing: border-box; box-sizing: border-box; }
.recommend_list.is_package .blur { position: absolute; top: 0; left: 0; right: 0; z-index: -2; width: 100%; height: 57%; overflow: hidden; background-repeat: no-repeat; background-position: center top; background-size: 100% auto; webkit-filter: blur(20px); -moz-filter: blur(20px); -o-filter: blur(20px); -ms-filter: blur(20px); -webkit-filter: blur(20px); filter: blur(20px); }
.recommend_list.is_package .blur:after { content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, .25); }
.recommend_list.is_package .thumb { position: relative; max-width: 360px; margin: 0 auto; }
.recommend_list.is_package .thumb img { max-width: 360px; margin: 0 auto; background-color: #eef0f6; }
.recommend_list.is_package .coupon { position: absolute; right: 0; bottom: 0; width: 46px; height: 25.5px; background: url('//img.eduwill.net/Img2/mobile2/brand_new/main/2018/icon_coupon.png') no-repeat left top; background-size: 100% auto; }
.recommend_list.is_package .core { position: absolute; bottom: 0; left: 0; right: 0; z-index: -1; padding: 33px 0 17px; background-color: #fff; }
.recommend_list.is_package .desc { margin-top: 20px; color: rgba(0, 0, 0, .5); }
.recommend_list.is_package .subject { margin-top: 4px; }

.swiper-control div { width: 37px; height: 60px; margin-top: -30px; background-size: 100% auto; }
.swiper-control .swiper-button-prev { left: 0; background-image: url('//img.eduwill.net/Img2/mobile2/brand_new/main/2018/swiper_arrow_prev.png'); }
.swiper-control .swiper-button-next { right: 0; background-image: url('//img.eduwill.net/Img2/mobile2/brand_new/main/2018/swiper_arrow_next.png'); }

.recommend_list.is_books { padding-bottom: 20px; }
.recommend_list.is_books .title { margin: 0 20px; padding-top: 20px; border-top: 1px solid #e8e8e8; }
.recommend_list.is_books .title a { display: inline-block; }
.recommend_list.is_books .title a:before { display: none; }
.recommend_list.is_books .book_list { margin: 20px 30px 0; }
.recommend_list.is_books .col { width: 50%; padding-left: 15px; }
.recommend_list.is_books .col:first-child { padding-left: 0; padding-right: 15px; }
.recommend_list.is_books .col:only-child { float: none; width: 100%; padding: 0; }
.recommend_list.is_books .col a { display: block; }
.recommend_list.is_books .thumb { position: relative; width: 86px; height: 118px; margin: 0 auto; }
.recommend_list.is_books .subject { margin-top: 20px; }
.recommend_list.is_books .price { margin-top: 7px; font-weight: bold; }
.recommend_list.is_books .price del { font-size: .8125rem; font-weight: normal; color: #78849e; }
.recommend_list .badge { position: absolute; top: -1px; left: 0; display: table; width: 41px; height: 41px; margin-left: -20px; background-repeat: no-repeat; background-position: center center; background-size: 100% auto; }
.recommend_list .badge.new { background-image: url('//img.eduwill.net/Img2/mobile2/brand_new/main/2018/icon_book_new.png'); }
.recommend_list .badge.discount { background-image: url('//img.eduwill.net/Img2/mobile2/brand_new/main/2018/icon_book_discount.png'); }
.recommend_list .badge.discount em { display: table-cell; height: 100%; text-align: center; vertical-align: middle; font-size: .75rem; color: #fff; word-break: keep-all; }
