@import "abstracts/mixins";  
@import "abstracts/extend";  
@import "abstracts/variables";  

@import "module/motions";

.product-eco{
	min-width:1200px;
	overflow:hidden;
	*, *:before, *:after{font-family:$font-roboto;letter-spacing:-1px;}
	[class^="sector-"] {
		position: relative;
	}
	.wrap{
		position:relative;
		width:1200px;
		margin:0 auto;
		text-align:center;
		&.wrap-1300 {
			width: 1300px;
		}
	}
	
	.slick-dots {
		width: 100%;
		margin-top: 20px;
		text-align: center;
		li {
			display: inline-block;
			margin: 0 6px;
			button {
				width: 20px;
				height: 20px;
				text-indent: -9999em;
				border: none;
				border-radius: 50%;
				background-color: #d8d8d8;
				outline: none;
				cursor: pointer;
			}
			&.slick-active {
				button {
					width: 20px;
					border-radius: 15px;
					background-color: #1a2553;
				}
			}
		}
	}

	.btn-text, .btn-grounds{
		display:inline-block;
		color:#8a8a8a;font-size:15px;letter-spacing:-1px;line-height:1;
		font-weight:400;
		span{
			padding-right:10px;
			@include arrow(right, 4px, 4px, 1px, #8a8a8a);
			&:before{right:0;}
		}
	}
	.btn-text{position:absolute;right:210px;top:30px;}
	.btn-grounds{
		position:relative;margin-top:10px;font-size:14px;
		span{
			padding-right:10px;
		}
	}

	.slide-group{
		position:relative;margin-top:20px;
		.video-container{
			.slick-slide{opacity:0.4;}
			.slick-active{opacity:1;}
			.slide-list{
				padding-top:30px;
				img{
					border-top-right-radius: 20px;
				}
			}
		}

		.slick-dots {
			text-align: center;
			li {
				display: inline-block;
				margin-left:6px;
				button {
					cursor: pointer;
					text-indent: -10000em;
					border: 0;padding:0;
					border-radius: 50%;
					width:10px;height:10px;
					background:#bbbbbb;
				}
				&.slick-active {
					button {
						background:#f4582e;
					}
				}
			}
		}
	
		.slide-list{
			margin:0 10px;
			padding-bottom:30px;
			img{
				@include boxShadow(	7px 7px 27px 0px rgba(0, 0, 0, 0.23));
			}
		}
		
	}

	.holder{position:relative;}

	.icon-pointer {
		@include pointer(50%, 0, 57px, 65px, 12, bounce);
	}

	.sector-title{
		position:relative;
		background: url('#{$img-path}/pc/bg_title.jpg') 50% 0 no-repeat;
		background-size: cover;
		.video-box {
			position: absolute;
			top: 895px;
			left: 50%;
			@include translateX(-50%);
			width: 1100px;
			height: 618px;
			z-index: 1;
			a {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				z-index: 2;
			}
			iframe,
			video {
				width: 100%;
				height: 100%;
			}
		}
	}

	.sector-intro {
		background: #fff;
		.stamp {
			position: absolute;
			top: 530px;
			right: 74px;
			z-index: 1;
			margin: 0;
		}
		&:after {
			content: '';
			display: block;
			position: absolute;
			left: 50%;
			top: 100%;
			@include translateX(-50%);
			width: 40px;
			height: 20px;
			z-index: 1;
			background: url('#{$img-path}/pc/arrow_1.png') 50% 0 no-repeat;
			background-size: cover;
		}
	}
	

	.sector-bar {
		background: #1c233d;
		&.is-arrow {
			&:after {
				content: '';
				display: block;
				position: absolute;
				left: 50%;
				top: 100%;
				@include translateX(-50%);
				width: 40px;
				height: 20px;
				z-index: 1;
				background: url('#{$img-path}/pc/arrow_2.png') 50% 0 no-repeat;
				background-size: cover;
			}
		}
		&.navy { background: #142054;}
	}

	.sector-info-1 {
		background: url('#{$img-path}/pc/bg_info_1.jpg') 50% 0 no-repeat;
		background-size: cover;
	}

	.sector-info-2 {
		.review-slider {
			.slick-slide {
				opacity: .5;
				text-align: center;
				margin: 0 -20px;
				filter: grayscale(1);
				&.slick-current  {
					opacity: 1;
					filter: grayscale(0);
				}
			}
			img { display: inline-block;}
		}
	}

	.sector-info-3 {
		background: #f5f5f5;
	}

	.sector-professor {
		@include linear-gradient(to bottom, #fff 902px, #1b233b 902px);
	}

	.sector-benefit {
		background: #1b233b;
	}

	.sector-curriculum {
		padding: 100px 0;
		.curriculum-title{
			margin-bottom: 50px;
			text-align: center;
			letter-spacing: -2px;
			line-height: 1.1;
			font-weight: 900;
			font-size: 42px;
			color: #000;
			strong {
				color: #00bcad;
				font-weight: 900;
				letter-spacing: -2px;
				line-height: 1.1;
			}
		}
		.table-wrap {
			table {
				width: 100%;
				table-layout: fixed;
				border-collapse: collapse;
				thead {
					th {
						padding: 18px 0;
						text-align: center;
						vertical-align: middle;
						font-size: 20px;
						color: #fff;
						font-weight: 700;
						background: #00bcad;
						border-left: 1px solid #d8d8d8;
						&:first-child { border-left: 0;}
					}
				}
				tbody {
					td {
						padding: 18px 0;
						text-align: center;
						color: #222;
						font-size: 20px;
						font-weight: 400;
						border-right: 1px solid #d8d8d8;
						border-bottom: 1px solid #d8d8d8;
						&.align-left {
							padding: 18px 40px;
							text-align: left;
							border-right: 0;
						}
					}
				}
			}
		}
	}

	.sector-teacher{
		background:#f6f6f6;
		.btn-teacher{
			display: inline-block;
			position: absolute;
			width:155px;
			height:57px;
			z-index:7;
			top:99px;
			right:205px;
		}
	}

	.sector-story{
		background:#fff;
		.interview-list{
			width:1100px;
			margin:0 auto;
			.video{
				display:block;
				width:545px;
				height: 300px;
				float:left;
				&:nth-child(2){margin-left:10px;}
				position: relative;
				a{
					img { 
						width: 100%;
						height: 100%;
						position: absolute;
						top: 0; 
						left: 0;
						z-index: 7;
					}
				}
				video { 
					height: 300px;
				}
			}
			&:after{content:'';display:block;clear:both;}
		}
	}

	.sector-network { 
		padding-bottom: 90px; 
		background: #f6f6f6;
		.slick-slide{
			margin: 0 20px;
			padding: 0px 0 40px 0;
			opacity: .3;
			filter: blur(0);
			&.slick-active{
				opacity: .3;
				filter: blur(0);
			}
			&.slick-center{
				opacity: 1;
				filter: blur(1);
			}
			p{
				overflow: hidden;
				box-shadow: 10px 15px 20px 10px rgba($color: #828282, $alpha: 0.4);
				img{
					width: 100%;
				}
			}
		}
	}
	
	.sector-lecture{
		background:#fff;
	}
	.sector-awrads{
		background:#f6f6f6;
		.btn-awrads{
			position: absolute;
			width:660px;
			height:100px;
			z-index:7;
			bottom:100px;
			right:0;
			left:0;
			margin:0 auto;
		}
	}
}





