.ibm.ibm-band {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: map-get($z-index, bottom);
	@include vw(height, 80px);
	text-align: center;
	// @include breakpoint(desktop){
	// 	height: 80px;
	// }
	&.band-top { top: 0; bottom: auto; }
	&.band-bottom { bottom: 0; }
	.ibm-wings div {
		top: auto;
		bottom: 0;
		@include vw(height, 80px);
	}
	.ibm-inner { position: inherit; }
	.ibm-item {
		position: static;
		margin-top: 0;
		// @include rem(min-width, 80px);
		// @include rem(min-height, 80px);
	}
	.ibm-banner {
		position: absolute;
		right: 0;
		left: 0;
		bottom: 0;
		width: 100%;
		max-width: 720px;
		margin: 0 auto;
		@include breakpoint(desktop){
			max-width: 1024px;
			// max-width: none;
			// z-index: map-get($z-index, base);
			// @include translateX(-50%);
		}
		img {
			width: 100%;
			max-width: 100%;
			vertical-align: top;
			@include breakpoint(desktop){
				width: auto;
				max-width: none;
			}
		}
	}

	// 링크
	.ibm-action {
		position: absolute;
		top: 0;
		right: 0;
		// left: 50%;
		z-index: map-get($z-index, close);
		@include vw(margin-left, 360px);
		@include breakpoint(desktop){
			right: auto;
			left: 50%;
			// margin-left: 480px;
			// 닫기버튼 css로 할 때
			margin-left: 518px;
		}
		a {
			width: 40px;
			height: 40px;
			vertical-align: top;
			// 닫기버튼 css로 할 때
			@include close(34px, 34px, 1px, #fff);
			background-color: rgba($color: #000000, $alpha: 1.0);
			span { @extend .sr-only; }
		}
	}

	// 손가락
	.ibm-pointer {
		@include vw(width, 30px);
	}

	// 타이머
	.ibm-deadline {
		p {
			@include vw(font-size, 20px);
			@include breakpoint(custom){
				@include vw(font-size, 20px);
			}
			@include breakpoint(desktop){
				font-size: 20px;
			}
			span em {
				@include vw(font-size, 24px);
				@include breakpoint(custom){
				@include vw(font-size, 24px);
				}
				@include breakpoint(desktop){
					font-size: 24px;
				}
			}
		}
	}
}
