<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>

	<!-- <link rel="stylesheet" href="css/style.css"> -->
	<link rel="stylesheet" href="css/admin_style.css">

	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
	<script src="https://campus.megastudy.net/public/jquery/jquery-1.12.4.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    
<div class="admin-container">
    <div class="admin-content login" id="app">
        <div class="main-header">
            <div class="header-noti"><p><strong>DEV-ADMIN 개발 서버 입니다.</strong></p></div>
        </div>

        <div class="login-content">
            <div class="login-logo">
                <img src="https://campus.megastudy.net/admin/image/admin_logo.png">
            </div>

            <div class="login-form">
                <img src="https://campus.megastudy.net/admin/image/intro_tit.png" alt="메가스터디학원 관리자 사이트 입니다.">

                <div class="login-main">
                    <div class="login-box">
                        <div>
                            <div>
                                <strong>아이디</strong>
                                <input name="userid" id="userid" type="text" size="37" class="input_login" tabindex="1" v-model="loginForm.userid">
                            </div>
                            <div>
                                <strong>비밀번호</strong>
                                <input name="passwd" id="passwd" type="password" size="37" class="input_login" v-model="loginForm.passwd" @keydown.enter="checkLogin">
                            </div>
                        </div>
                        <div>
                            <a href="javascript:void(0);" @click="checkLogin" class="btn-login">
                                <span>LOGIN</span>
                            </a>
                        </div>
                    </div>

                    <div class="login-save">
                        <div>
                            <input type="checkbox" name="SAVEID" id="checkbox" v-model="rememberId">
                        </div>
                        <div><b style="color:#3357a4;">ID 저장</b> [접속자 IP : ]</div>
                    </div>

                    <!-- 인증번호 입력 폼 -->
                    <div class="login-etc" v-if="showVerificationForm">
                        <div>
                            <strong>인증번호</strong>
                            <div>
                                <input type="text" name="admin_app" id="admin_app" maxlength="6" class="input_login" size="37" v-model="verificationCode" @keydown.enter="submitCode">
                            </div>
                            <div>
                                <a class="btn-01" @click="submitCode">인증</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="login-noti">
                    <div>
                        <span>&bull;</span><b>로그인 관련 문의 :</b> 러셀학원사업본부 서비스기획팀
                        <div>
                            <a href="" class="link">[관리자 계정 신청 문서 다운로드]</a>
                        </div>
                    </div>
                    <div>
                        <span>&bull;</span>
                        <div>
                            <b>Tel :</b> 02-3489-8426  | <b>E-mail :</b> 최은영 ey123@megastudy.net
                        </div>
                    </div>
                    <div>
                        <img src="https://campus.megastudy.net/admin/image/copyright.png" width="357" height="10">
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
import axiosInstance from '@/axios';

new Vue({
  el: '.admin-container',
  data() {
    return {
      loginForm: {
        userid: '',
        passwd: '',
      },
      rememberId: false,
      showVerificationForm: false,
      verificationCode: '',
    };
  },
  mounted() {
    const storedId = localStorage.getItem('savedId');
    if (storedId) {
      this.loginForm.userid = storedId;
      this.rememberId = true;
    }
  },
  methods: {
    checkLogin() {
      if (!this.loginForm.userid) {
        alert('아이디를 입력하세요!');
        return;
      }
      if (!this.loginForm.passwd) {
        alert('비밀번호를 입력하세요!');
        return;
      }
      this.submitLoginForm();
    },
    submitLoginForm() {
      if (this.rememberId) {
        localStorage.setItem('savedId', this.loginForm.userid);
      } else {
        localStorage.removeItem('savedId');
      }

      axiosInstance
        .post('/api/perform-login', {
          userid: this.loginForm.userid,
          passwd: this.loginForm.passwd,
        })
        .then((response) => {
          if (response.data.length > 6) {
            alert(response.data);
            location.reload();
          } else {
            alert('인증번호가 발급되었습니다.');
            this.showVerificationForm = true;
            this.verificationCode = response.data;
          }
        })
        .catch((error) => {
          alert('Login failed: ' + error.response.data);
        });
    },
    submitCode() {
      axiosInstance
        .post('/api/login', {
          userid: this.loginForm.userid,
          passwd: this.loginForm.passwd,
          verificationCode: this.verificationCode,
        }, {withCredentials: true})
        .then((response) => {
          if (response.data.length > 7) {
            alert(response.data);
            location.reload();
          } else {
            window.location.href = '/campus-notice';
          }
        })
        .catch((error) => {
          alert('Login failed: ' + error.response.data);
        });
    },
  },
});

</script>

</body>
</html>
