@charset "utf-8";

/* myroom : 나의강의실 */
.myroom select { }
.g_title_b+.form { margin-top:5px;}
div.form:first-child { margin-top:0;}
div.form { margin-top:3px;}
.sort1 { font-size:12px; color:#5796ff;}
.sort2 { font-size:12px; color:#ff0000;}
.myroom .g_txt_a { margin-top:20px;}
.app_down { margin-top:5px; text-align:center;}
.app_down li.google {}
.app_down li.appstore { display:none;}
.app_down li a img { width:290px;}

.class_top { overflow:hidden;}
.class_top .fleft { padding-left:; width:66%; font-size:13px; line-height:16px;}
.class_top .fleft img { width:14px; margin-right:2px;}
.class_top .fright { width:30%; text-align:right;}

.myroom .form+.g_txt_a { margin-top:25px;}
.myroom .g_table_a span.g_point_a { font-size:12px;}
.myroom .g_point_b { margin-top:5px; font-size:12px; }
.play img { width:24px;}
.book { width:13px;}

/* join : 회원가입 */
.join .g_box_a p {  line-height:18px;}
.join .g_box_a p:first-child { font-size:15px; font-family:'nanum_b';}
.join_type_list { margin-top:15px; overflow:hidden;}
/*.join_type_list li { position:relative; float:left; padding-top:47px; width:30%; height:125px; box-sizing:border-box; text-align:center; border:1px solid #dcdcdc;}*/
.join_type_list li { position:relative; float:left; padding-top:47px; width:48%; height:125px; box-sizing:border-box; text-align:center; border:1px solid #dcdcdc;}
.join_type_list li p { margin-bottom:3px; min-height:35px;}
.join_type_list li a { display:inline-block; width:90%; height:33px; line-height:33px; text-align:center; font-size:13px; font-family:'nanum_b'; color:#fff; background:#5e5e5e;}
.join_type_list li.join01 { margin-right:5%; background:#fff url('http://img.eduwill.net/Img2/mobile2/brand_new/content/ico_join01.png') center 16px no-repeat; background-size:22px;}
.join_type_list li.join02 { margin-right:4%; background:#fff url('http://img.eduwill.net/Img2/mobile2/brand_new/content/ico_join02.png') center 17px no-repeat; background-size:23px;}
.join_type_list li.join03 { background:#fff url('http://img.eduwill.net/Img2/mobile2/brand_new/content/ico_join03.png') center 17px no-repeat; background-size:27px;}

.join .all_agree_btn.checked { border:1px solid #ff3a05;  background:#ff3a05;}
.all_agree_btn { display:inline-block; margin:24px 0 0 0; width:100%; height:42px; line-height:42px; box-sizing:border-box; text-align:center; border:1px solid #dcdcdc; background:#ececed;}
.all_agree_btn span { padding-left:25px; font-family:'nanum_b'; font-size:14px; color:#666; background:url('http://img.eduwill.net/Img2/mobile2/brand_new/content/ico_btnchk_off.png') 0 0 no-repeat; background-size:16px;}
.all_agree_btn.checked { border:1px solid #ff0000;  background:#ff0000;}
.all_agree_btn.checked span { color:#fff; background:url('http://img.eduwill.net/Img2/mobile2/brand_new/content/ico_btnchk_on.png') 0 0 no-repeat; background-size:16px;}
.agree_txt { margin-bottom:15px;}
.agree_txt li { position:relative; padding:18px 0; border-bottom:1px solid #dcdcdc;}
.agree_txt li label { font-family:'nanum_b'; color:#666; font-size:14px;}
.agree_txt li a { position:absolute; right:0; top:18px;}
.agree_txt li a span { padding-right:8px; font-size:12px; text-decoration:underline; background:url('http://img.eduwill.net/Img2/mobile2/brand_new/content/ico_arrow_right01.png') right center no-repeat; background-size:4px;}

.join .g_title_b+.g_box_b { margin-top:6px;}
.join .form+.g_btn_b { margin-top:10px;}

.join .g_txt_a+.form_group { margin-top:15px;}
.join .form_group { margin-top:10px;}
.join .g_title_b+.g_txt_a { margin-top:9px;}
.join .g_txt_a + .g_title_b { margin-top:5px;}
.join .g_title_b { margin-bottom:9px;}
.join .form_group+.g_title_b { margin:20px 0 8px;}
.join .form_group+.g_list_a { margin:9px 0; padding-bottom:19px; border-bottom:1px solid #dcdcdc;}
.join .g_list_b { margin-top:10px;}
.join .g_list_b dd ul { width:100%; overflow:hidden;}
.join .g_list_b dd ul li { float:left; width:33%; line-height:22px;}
.join .g_list_b .g_btn_c { margin-top:9px;}
.join .g_list_b .g_btn_c span { color:#ff0000;}
.join .align_c { margin-bottom:9px;}
.join .g_txt_b+.g_box_b { margin-top:10px;}
.join .g_txt_a p.g_point_a { font-size:15px;}
.join .align_c + .g_txt_a { margin-top:20px;}
.join .g_txt_a + .g_box_a { margin-top:9px;}
.join .g_box_a + .g_txt_a { margin:8px 0 5px;}
.proxy { margin:20px 0;}

.form_group .form_input:last-child { border-bottom:1px solid #dcdcdc;}
.form_input { position:relative; width:100%; padding:9px 0 0; min-height:43px; box-sizing:border-box; border:1px solid #dcdcdc; border-bottom:0 none; background:#fff;}
.form_input input[type="text"],.form_input input[type="password"], .form_input input[type="tel"],.form_input input[type="number"] { margin:0; padding:0; height:25px; width:100%; line-height:25px; border:0 none;}
.form_input.default input[type="text"], .form_input.default input[type="password"], .form_input.default input[type="tel"], .form_input.default input[type="number"] { padding-left:10px;}
.form_input .int_chk { display:block; margin:0 13px 0 10px; line-height:25px;}
.form_input .input_chk0 { background:none;}
.form_input .input_chk1 { background:url('http://img.eduwill.net/Img2/mobile2/brand_new/content/ico_input_chk_off.png') right 7px no-repeat; background-size:17px;}
.form_input .input_chk2 { background:url('http://img.eduwill.net/Img2/mobile2/brand_new/content/ico_input_chk_on1.png') right 7px no-repeat; background-size:17px;}
.form_input .input_chk3 { background:url('http://img.eduwill.net/Img2/mobile2/brand_new/content/ico_input_chk_on2.png') right 7px no-repeat; background-size:17px;}
.form_input .int_txt { display:none; padding:0 0 9px 10px; margin:2px 0 0 0; font-size:12px;}
.form_input .pass_txt { color:#5796ff !important;}
.form_input .error_txt { color:#ff0000 !important;}
.form_input.select { padding:0; overflow:hidden;}
.form_input.select select { padding:0 38px 0 10px; width:100%; height:43px; color:#aaa; border:0 none;}
.form_input.select .fleft { float:left; width:33%; margin:0; padding-left:0; box-sizing:border-box; border-right:1px solid #dcdcdc;}
.form_input.select .fleft:first-child { width:34%;}
.form_input.select .fleft:last-child { border-right:0 none;}
.form_input.select .mobile02 { float:left; width:66%; padding:9px 0;}
.form_input.select .mobile02 input { padding-left:10px;}

.form_input .form_btn { position:relative; padding:0 5px 0 10px; color:#aaa;}
.form_input .form_btn .row_title { display:inline-block; padding-top:3px}
.form_input .form_btn .u_btn { float:right; margin-top:-3px; border:1px solid #dcdcdc;}
.form_input .form_btn .u_btn a { display:inline-block; text-align:center; padding:6px 20px; color:#aaa; border-right:1px solid #dcdcdc;}
.form_input .form_btn .u_btn a.on { margin:-1px; color:#5796ff; border:1px solid #5796ff !important;}
.form_input .form_btn .u_btn a:first-child { margin-right:-4px;}
.form_input .form_btn .u_btn a:last-child { border-right:0 none;}

.form_input textarea { padding-top:0; padding-bottom:0; border:0 none;}


/* 휴대폰번호 */
.form_group .form_input.phone { padding:0; overflow:hidden; border:0 none;}
.form_input.phone .phone_input { float:left; width:66%; padding:9px 0 0; height:43px; box-sizing:border-box; border:1px solid #dcdcdc; border-bottom:0 none; border-right:0 none;}
.form_input.phone .phone_input input { padding-left:10px;}
.form_input.phone .phone_btn { float:left; width:34%;}
.form_input.phone .phone_btn a { width:100%;}

/* 인증번호입력 */
.form_group .form_input.number { padding:0; overflow:hidden; border:0 none;}
.form_input.number .number_input { float:left; width:66%; padding:9px 0 0; height:43px; box-sizing:border-box; border:1px solid #dcdcdc;background:#f0f0f0;}
.form_input.number.right .number_input { border-right:0 none;}
.form_input.number.left .number_input { border-left:0 none;}
.form_input.number .number_input input { padding-left:10px; background:#f0f0f0;}
.form_input.number .number_btn { float:left; width:34%;}
.form_input.number .number_btn a { width:100%;}

/* 이메일입력 */
.form_input.email .email_input { float:left; width:50%;}
.form_input.email .email_input input { margin:0 0 0 10px;}
.form_input.email .email_domain { float:left; width:50%;}
.form_input.email .email_domain select { position:absolute; top:1px; right:0; border:0; width:45%; color:#aaa;}
.form_input.email .email_domain span { color:#aaa; line-height:25px;}
.form_input.email .email_domain input { width:85%;}

/* 주소입력 */
.form_input.zipcode input { margin-left:10px; width:70%;}
.form_input.address input { margin-left:10px; width:95%;}
.form_input.zipcode a { display:inline-block; position:absolute; top:-1px; right:0; width:25%; height:44px; line-height:44px; text-align:center; color:#fff; background:#8a8a8a;}

/* 법정대리인 관계 */
.form_group .form_input.relation { padding:5px 0; overflow:hidden; background:none; border:0 none; border-top:1px solid #dcdcdc;}
.form_input.relation div { line-height:41px;}
.form_input.relation .relation_title { float:left; width:20%; color:#aaa;}
.form_input.relation .relation_radio { float:left; width:45%;}
.form_input.relation .relation_radio label { padding-right:6px; padding-left:19px; color:#aaa;}
.form_input.relation .relation_radio label:before { top:12px}
.form_input.relation .relation_radio ul li { float:left; width:30%;}
.form_input.relation .relation_radio ul li:last-child { width:40%;}
.form_input.relation .relation_input { float:left; width:35%; color:#aaa;}
.form_input.relation .relation_input input[type="text"] { padding-left:15px;width:100%; color:#aaa; height:40px; border:1px solid #dcdcdc;}

.form_input .input_left { float:left; width:70%;}
.form_input .btn_right { position:absolute; right:0; top:0; width:30%;}
.form_input .btn_right a { width:100%; padding:0; height:42px; line-height:42px;}
.form_input .file_info { padding:3px 10px 4px;}
.form_input .file_info span { color:#aaa}
.form_input .file_info .del_file img { padding-left:5px; width:17px;}

/* login : 로그인 */
.section.login { padding:15px 0 35px;}
.section.login .align_c { margin:0 15px;}
.section.login .align_c .g_title_c { padding-bottom:9px; border-bottom:1px solid #dcdcdc;}
.section.login .align_c+.g_txt_c { margin:10px 15px 20px;}
.section.login .align_c .g_txt_d { padding:20px 0; border-bottom:0 none;}
.section.login .align_c+.align_c { margin:20px 0 10px;}
.section.login .g_box_a,
.section.login .btn_group_a { margin:0 15px;}
.keyboard .key_menu { position:relative; margin:0 15px 8px; overflow:hidden;}
.keyboard .key_menu .key_img_btn { float:right;}
.keyboard .key_menu .key_btn span { padding-right:16px; color:#aaa;  background:url('http://img.eduwill.net/Img2/mobile2/brand_new/common/ico_arrow_down.png') right center no-repeat; background-size:11px;}
.keyboard .key_menu .key_btn:first-child { margin-right:10px;}
.keyboard .key_pic { position:relative; width:100%; text-align:center; background:#dcdcdc;}
.keyboard .key_pic div { display:none;}
.keyboard .key_pic div img { min-width:320px;}
.section.login .login_form { margin:0 15px;}
.section.login .login_input li { margin-bottom:2px; color:#666;}
.section.login .login_input li input { margin:0;}
.section.login .login_input li .g_point_d { margin:7px 0 15px;}
.section.login .login_input li:last-child { margin-top:5px;}
.section.login .login_menu { margin-top:10px; overflow:hidden;}
.section.login .login_menu li { float:left; width:49.5%; height:78px; box-sizing:border-box; border:1px solid #dcdcdc; background:#fff;}
.section.login .login_menu li.m1 { margin-right:1%; background:#fff url('http://img.eduwill.net/Img2/mobile2/brand_new/common/ico_login01.png') center 35px no-repeat; background-size:50px; border-color:#ff5a1a}
.section.login .login_menu li.m2 { background:#fff url('http://img.eduwill.net/Img2/mobile2/brand_new/common/ico_login02.png') center 36px no-repeat; background-size:27px;}
.section.login .login_menu li.m3 { background:#fff url('http://img.eduwill.net/Img2/mobile2/brand_new/common/ico_login04.png') center 33px no-repeat; background-size:22px;}
.section.login .login_menu li a { display:block; padding-top:10px; height:68px; text-align:center; color:#aaa;}
.section.login .login_menu li.m1 a {color:#ff5a1a}

.find_content { position:relative; margin:0 15px;}
.tab_cont { margin-top:19px;}
.tab_cont .g_txt_c { margin-bottom:15px;}
.tab_cont .g_box_b .g_txt_a { margin:3px 0 8px;}
.tab_cont .g_list_a { margin:10px 0;}
.id_cont02 .g_box_b { padding-bottom:0; padding-top:0;}
.id_cont02 .btn_group a { font-size:15px;}
.id_cont02 .btn_group a:first-child { width:60%;}
.id_cont02 .btn_group a:last-child { width:38%;}
.pwd_cont01 .form_group { margin-bottom:15px;}
.pwd_cont03 .form_group { margin-bottom:15px;}
.pwd_cont04 .form_group { margin-bottom:15px;}
.pwd_cont02 .g_box_b { padding-bottom:0; padding-top:0;}
.find_info > li { padding:13px 0 0; font-size:13px; border-bottom:1px solid #dcdcdc;}
.find_info > li > label { margin-bottom:13px;}
.find_info > li > label span { color:#999;}
.find_info > li .form_group { }
.find_info > li:last-child { border-bottom:0 none;}
.pwd_cont06 .g_box_b { text-align:center;}
.pwd_cont06 .g_title_b { margin-bottom:13px; font-size:17px;}
.pwd_cont06 .cs_num span { display:inline-block; padding-left:40px; background:url('http://img.eduwill.net/Img2/mobile2/brand_new/content/ico_headset.png') 0 50% no-repeat; background-size:32px;}
.pwd_cont06 .cs_num span strong { display:block; padding-top:3px; color:#208ab5; font-size:22px;}
.pwd_cont06 p { margin-top:8px; font-size:12px;  line-height:19px;}
.pwd_cont06 p strong { color:#000;}

/* 결제 */
#content .title h2.step { font-size:14px;}
.step span { display:inline-block; padding-right:15px; padding-left:4px; color:#adadad;  background:url('http://img.eduwill.net/Img2/mobile2/brand_new/common/bu_arrow_off.png') right 50% no-repeat; background-size:6px;}
.step span.current { color:#333; background:url('http://img.eduwill.net/Img2/mobile2/brand_new/common/bu_arrow_current.png') right 50% no-repeat; background-size:6px;}
.step span:first-child { padding-left:0;}
.step span:last-child { padding-right:0; background:none;}
.pay .g_title_b { margin-bottom:5px;}
.pay .g_box_b .btn_group_a { padding:0;}

.product_box dt { margin-bottom:5px; color:#666;}
.product_box dt span { padding:0 6px; font-size:10px;}
.product_box dd { }
.product_box .point { margin-top:3px; font-size:12px; color:#ff9662;}
.product_box .price { position:relative; overflow:hidden; margin-top:10px; padding-top:11px; text-align:right; border-top:1px solid #d6d6d6; }
.product_box .price .off_price { display:inline-block; position:relative; min-width:58px; text-align:center; color:#aaa; font-size:11px;}
.product_box .price .off_price em { display:block; position:absolute; min-width:64px; height:5px; left:50%; margin-left:-32px; top:50%; margin-top:-2px; background:url('http://img.eduwill.net/Img2/mobile2/brand_new/common/bu_sale.png') right 0 no-repeat; background-size:300px;}
.product_box .price .sale_price { padding-left:8px; color:#ff0000; font-family:'nanum_b';}
.product_box .price .delete { display:inline-block; margin-left:9px;}
.product_box .price .delete img { width:24px;}
.product_box .price .the_num { display:inline-block; float:left; font-size:13px; color:#666;}
.product_box .price .num { position:absolute; top:8px; left:0; border:1px solid #d6d6d6;}
.product_box .price .num input { margin:0; width:32px; height:23px; line-height:20px; font-size:12px; text-align:center; border:0 none;}
.product_box .price .num input[disabled="disabled"] { background:#fff !important; color:#aaa;}
.product_box .price .num a.minus { display:inline-block; border-right:1px solid #d6d6d6;}
.product_box .price .num a.plus { display:inline-block; border-left:1px solid #d6d6d6;}
.product_box .price .num a > img { width:23px;}
.pay .cart_view { display:inline-block; float:right;}

.pay_price { margin:18px 0 5px; border:2px solid #acacac;}
.pay_price th { padding:8px 0; text-align:center; font-weight:normal; font-size:12px; color:#666;  vertical-align:middle; border-bottom:1px solid #d6d6d6; background:#ededed;}
.pay_price td { padding:15px 0; position:relative; text-align:center; font-family:'nanum_b'; vertical-align:middle; font-size:13px;  color:#333; background:#fff;}
.pay_price td .mark { display:block; position:absolute; width:10px; top:50%; margin-top:-5px; right:-5px; z-index:10;}
.pay_price td strong { font-size:16px;}

.pay .btn_group.third { margin-top:22px; padding-top:6px;}
.pay .btn_group.third a { display:block; float:left; width:23%; margin-right:2%;}
.pay .btn_group.third a:last-child { float:right; width:50%; margin-right:0;}

.g_box_e + .align_c > .g_txt_c { margin-bottom:5px;}

.product_box .price_total { margin-top:5px; padding-top:5px; text-align:right; }
.product_box .price_total .off_price { display:inline-block; position:relative; min-width:53px; text-align:center; color:#aaa; font-size:11px;}
.product_box .price_total .off_price em { display:block; position:absolute; width:53px; height:5px; left:50%; margin-left:-26px; top:50%; margin-top:-2px; background:url('http://img.eduwill.net/Img2/mobile2/brand_new/common/bu_sale.png') 0 0 no-repeat; background-size:53px;}
.product_box .price_total .sale_price { padding-left:8px; color:#ff0000; font-family:'nanum_b';}

.coupon_tab { overflow:hidden;}
.coupon_tab li { position:relative; box-sizing:border-box; width:50%; float:left;}
.coupon_tab li a { display:block; padding:10px 0; text-align:center; color:#333; background:#f5f5f5; border:1px solid #e7e7e7; border-left:0 none;}
.coupon_tab li:first-child a {border-left:1px solid #e7e7e7;}
.coupon_tab li.current a { border-bottom:1px solid #fff; background:#fff;}
.coupon_con { display:none; margin-bottom:20px; padding:10px; background:#fff; border:1px solid #e7e7e7; border-top:0 none;}
.coupon_con .g_txt_h { margin:8px 0;}
.coupon_con .g_btn_j { display:block; color:#333;}
.edu_money { overflow:hidden;}
.edu_money .fleft { padding-top:10px; width:57%; font-size:13px;}
.edu_money .fleft label { font-size:13px;}
.edu_money .fleft input[disabled="disabled"]:checked + label, .edu_money .fleft input[disabled="disabled"] + label { opacity:0.3;}
.edu_money .fright { width:43%;}
.edu_money .fright input { margin-top:0; width:86%;}
.edu_money .fright input[disabled="disabled"] { color:#aaa;}
.edu_money .g_txt_h { padding-bottom:0; border-bottom:0 none;}
.edu_money .g_txt_h .g_btn_e { padding:0; margin-bottom:8px;}
.edu_money .g_txt_h .style_disable { display:inline-block; margin-bottom:8px; width:100%; height:38px; line-height:37px; text-align:center; font-size:14px; font-family:'nanum_b';  color:#fff; background:#ff0000; opacity:0.3;}

.radio_list { overflow:hidden; margin-bottom:10px;}
.radio_list li { float:left; width:32%; margin-right:2%; text-align:center;}
.radio_list li input[type="radio"] { display:inline-block;}
.radio_list li:last-child { margin-right:0;}
.radio_list li label { display:block;}
.radio_list li div { margin-top:2px; box-sizing:border-box; width:100%; padding:40px 0 0; height:63px; color:#aaa; font-size:12px; text-align:center; border:1px solid #dcdcdc;}
.radio_list li div.on { border:1px solid #ffeb00; color:#3c1e1e;}
.radio_list li div.pay_cacao { background:#fff url('http://img.eduwill.net/Img2/mobile2/brand_new/content/ico_cacao_off.png') 50% 17px no-repeat; background-size:60px;}
.radio_list li div.pay_cacao.on { background:#ffeb00 url('http://img.eduwill.net/Img2/mobile2/brand_new/content/ico_cacao_on.png') 50% 17px no-repeat; background-size:60px;}
.radio_list li div.pay_card { background:#fff url('http://img.eduwill.net/Img2/mobile2/brand_new/content/ico_card_off.png') 50% 13px no-repeat; background-size:26px;}
.radio_list li div.pay_card.on { background:#ffeb00 url('http://img.eduwill.net/Img2/mobile2/brand_new/content/ico_card_on.png') 50% 13px no-repeat; background-size:26px;}
.radio_list li div.pay_won { background:#fff url('http://img.eduwill.net/Img2/mobile2/brand_new/content/ico_won_off.png') 50% 13px no-repeat; background-size:24px;}
.radio_list li div.pay_won.on { background:#ffeb00 url('http://img.eduwill.net/Img2/mobile2/brand_new/content/ico_won_on.png') 50% 13px no-repeat; background-size:24px;}
.pay .g_list_d > p { font-size:13px; margin-bottom:7px;}

.total_price { overflow:hidden; position:relative; padding-top:15px; margin:10px 0 0; border-top:1px solid #d6d6d6; }
.total_price dt { float:left; text-align:left; font-size:18px; font-family:'nanum_b';}
.total_price dd { float:right; text-align:right; font-size:19px; color:#ff0000; font-family:'nanum_b';}
.pay .sale { overflow:hidden; }
.pay .sale div { float:right; padding-left:8px; height:27px; background:url('http://img.eduwill.net/Img2/mobile2/brand_new/content/bg_tip_left.gif') 0 0 no-repeat; background-size:250px;}
.pay .sale span { float:right; padding-top:1px; padding-right:8px; font-size:12px; color:#777; height:26px; background:url('http://img.eduwill.net/Img2/mobile2/brand_new/content/bg_tip_right.gif') right 0 no-repeat; background-size:41px;}
.pay .sale2 { margin-top:2px; overflow:hidden; }
.pay .sale2 strong { display:inline-block; height:27px; background:url('http://img.eduwill.net/Img2/mobile2/brand_new/content/bg_tip2_right.gif') right 0 no-repeat; background-size:188px;}
.pay .sale2 span { display:inline-block; padding:6px 8px 0 8px; font-family: 'Nanum Gothic','나눔고딕'; font-size:12px; color:#777; height:21px; background:url('http://img.eduwill.net/Img2/mobile2/brand_new/content/bg_tip2_left.gif') left 0 no-repeat; background-size:31px;}
.pay .btn_group_a { overflow:hidden;}
.pay .btn_group_a a { width:48.5%; padding:0;}
.pay .btn_group_a a:first-child { float:left;}
.pay .btn_group_a a:last-child { float:right;}

.pay .g_txt_e { letter-spacing:0; margin-top:9px;}

.pay .order_list { overflow:hidden;}
.pay .order_list dt { float:left; width:30%; margin-bottom:10px; min-height:22px; color:#666; font-size:13px; line-height:18px;}
.pay .order_list dd { float:left; width:70%; margin-bottom:10px; min-height:22px; font-size:13px; line-height:18px;}
.pay .order_list dt:first-child + dd { padding-bottom:10px;}
.pay .order_list .subject { color:#666; border-top:1px solid #ddd; padding-top:10px; margin-top:10px;}
.pay .order_list .subject:first-child { border-top:0 none; padding-top:0; margin-top:0;}
.pay .order_list .subject span { padding:0 6px; font-size:10px; color:#666;}
.pay .order_list dd .num { padding-left:5px; color:#888;}
.pay .order_list a { color:#666;}
.pay .order_list .price { font-size:14px;}
.pay .order_list .price > span { padding-left:5px; font-size:12px; color:#999;}
.pay .order_list+.total_price { margin-top:0;}

.pay_list { box-sizing:border-box; margin-bottom:10px; background:#fff;}
.list_head { position:relative; box-sizing:border-box; padding:10px 12px; background:#ececed; border:1px solid #cdcdcd;}
.list_head .date { font-family:'nanum_b'; font-size:13px; color:#333;}
.list_head a { position:absolute; right:10px; top:10px; color:#333;}
.list_body { border:1px solid #ddd; border-top:0 none;}
.list_body .state { position:relative; padding:10px 12px 8px; border-top:1px solid #ddd; overflow:hidden;}
.list_body .state .g_txt_g { padding-bottom:5px;}
.list_body .fright { position:absolute; top:9px; right:5px;}
.list_body .btn_delete { padding:4px 0 6px 7px; color:#fff; font-family:'nanum_b'; font-size:12px; background:#656565;}
.list_body .btn_delete img { padding:0; margin:0; width:24px; position:relative; top:0;}
.pay .pay_list .order_list { padding:15px 12px; font-size:13px; line-height:18px;}
.pay .pay_list .order_list .num { color:#666;}
.pay .pay_list .order_list li { position:relative; border-top:1px solid #ddd; padding-top:10px; margin-top:10px;}
.pay .pay_list .order_list li:first-child { border-top:0 none; margin-top:0; padding-top:0;}

.pay_info_head { position:relative; top:-15px; left:-15px; width:100%; padding:10px 15px; font-family:'nanum_b'; color:#333; font-size:13px; background:#ececed; border-bottom:1px solid #d9d9d9;}
.pay_info_head span.line { padding:0 8px; font-size:10px; vertical-align:middle;}
.pay_info_head span.date { position:absolute; right:10px; top:10px; color:#666; font-family: 'Nanum Gothic','나눔고딕';}
.g_title_b + .pay_list .list_body { border-top:1px solid #ddd;}
.g_title_b + .g_box_d { padding-top:10px;}
.list_body .other_info { padding:5px 0 3px;}
.list_body .other_info span { padding-right:15px;}
.list_body .other_info span.price { color:#666; font-size:13px;}
.list_body .other_info .g_btn_e { position:absolute; right:0; bottom:-2px; color:#fff; font-size:13px; height:26px; line-height:24px;}

.btn_back { position:absolute; top:12px; left:13px;}
.btn_back img { width:10px;}

.toggle_box { background:#fff; border:1px solid #e7e7e7;}
.toggle_box .toggle_title { padding:15px 10px; font-family:'nanum_b';}
.toggle_box .toggle_title a { display:block; background:url('http://img.eduwill.net/Img2/mobile2/brand_new/common/ico_right_menu_open.png') 98.5% 50% no-repeat; background-size:18px;}
.toggle_box .toggle_title a.open { background:url('http://img.eduwill.net/Img2/mobile2/brand_new/common/ico_right_menu_close.png') 98.5% 50% no-repeat; background-size:18px;}
.toggle_box .toggle_con { display:none; padding:15px 10px; border-top:1px solid #e7e7e7; background:url('http://img.eduwill.net/Img2/mobile2/brand_new/content/bg_shadow.gif') 0 0 repeat-x;}
.toggle_box .toggle_con .notice dt { margin-top:10px; padding-left:0; background:none; color:#333; font-size:14px;}
.toggle_box .toggle_con .notice dt:first-child { margin-top:0;}

.pay_ing { display:none; position:absolute; top:205px; left:50%; margin-left:-100px; z-index:100;}
.pay_ing img { width:200px;}

.pay_btn p { margin-bottom:5px;  color:#aaa; font-size:12px;}
.pay_btn a { display:inline-block; margin-bottom:18px; text-align:center; background:#ff0000;}
.pay_btn a span { display:block; margin:10px; text-align:center; font-size:18px; font-family:'nanum_b'; color:#fff;}
.pay_btn a span em { font-size:14px;}
.pay_btn a.btn_apply span { line-height:30px; background:url('http://img.eduwill.net/Img2/mobile2/brand_new/content/ico_play.png') right center no-repeat; background-size:30px;}
.pay_btn a.btn_cs span { background:url('http://img.eduwill.net/Img2/mobile2/brand_new/content/ico_tel.png') right center no-repeat; background-size:30px;}

.section.pay { padding-bottom:15px;}
.section.notice { border-top:1px solid #cecece; background:#e8e8e8;}
.notice dt { padding-left:20px; margin-bottom:6px; font-size:14px; font-family:'nanum_b';  color:#ff0000; background:url('http://img.eduwill.net/Img2/mobile2/brand_new/common/ico_warning.png') 0 50% no-repeat; background-size:18px;}
.notice dd { margin-bottom:5px; font-size:11px; color:#999; line-height:19px;}
.notice dd p { color:#666; font-size:12px; font-family:'nanum_b';}
.notice .table_section { margin-bottom:8px;}
.notice .table_section .g_table_a th { padding:5px 0; color:#666; background:#f3f3f3;}
.notice .table_section .g_table_a td { padding:3px 0; background:#fff;}
.notice .table_section .g_table_a td.left { padding-left:6px; padding-right:10px; border-left:1px solid #cecece;}

/* 고객상담 - 전화상담예약 */
.customer .g_txt_a { margin-bottom:14px;}
.customer .form_group { margin-bottom:14px;}
.customer .g_title_a { margin-bottom:8px;}
.customer textarea { border:1px solid #dcdcdc; margin-top:0;}
.customer .form_group p { margin-top:5px;}
.customer .form_group p label {  font-size:15px; font-family:'nanum_b';}


/* 이벤트컨텐츠 */
.item_contents { position:relative; width:100%; text-align:center;}
.item_contents img {width:320px;}
.item_contents .check_box_style02 { width:300px; margin:13px auto; padding-top:30px; height:38px; background:url('http://img.eduwill.net/Img2/mobile2/app/201509/bu_box.png') 0 0 no-repeat; background-size:300px;}
.item_contents input[type=checkbox] { display:none; }
.item_contents input[type=checkbox] + label{ display: inline-block; cursor: pointer; position: relative; padding-left:25px; font-size:14px; color:#999; }
.item_contents input[type=checkbox]+ label:before { content:""; display: inline-block; width:16px; height:16px; position:absolute; left:0; top:0; background-color:#fff; border-radius:0; border:1px solid #bbb;}
.item_contents input[type=checkbox]:checked + label:before { content: "\2713";  /* 체크모양 */  font-size:20px; color: #fff; font-weight:bold; background:#ee3200; text-align:center; line-height:20px; border:1px solid #ee3200;}
.item_contents input[type=checkbox]:checked + label { color:#464646;}

.book_choice { padding:20px 12px; background:#f8f8f8; text-align:left;}
.book_choice h4 { margin-bottom:6px; font-size:16px; font-family:'nanum_b'; color:#22262b; }
.book_choice h4 span { padding-left:3px; font-size:13px; color:#ff1200;}
.book_choice .form { padding:8px; box-sizing:border-box; background:#fff; border:1px solid #e2e2e2;}
.book_choice .form input[type=checkbox] + label { font-size:14px;}
.book_choice .form ul li { float:left; width:33%; padding:4px 0;}
.book_choice > div { margin-bottom:15px;}

.subject_box { background:#fff; border:1px solid #e2e2e2;}
.subject_box + .subject_box { border-top:0 none;}
.subject_box .title { position:relative; overflow:hidden;}
.subject_box.open .title a { background:url('http://img.eduwill.net/Img2/mobile2/app/201509/bu_select_up.png') right 50% no-repeat; background-size:26px 8px;}
.subject_box .title a { display:block; padding:15px 8px; font-family:'nanum_b'; font-size:14px; color:#22262b;  background:url('http://img.eduwill.net/Img2/mobile2/app/201509/bu_select_down.png') right 50% no-repeat; background-size:26px 8px;}
.subject_box.open .select_cont { display:block;}
.select_cont { display:none; position:relative; padding:8px 13px; border-top:1px solid #e2e2e2; background:#fff url('http://img.eduwill.net/Img2/mobile2/app/201509/bg_shadow.gif') 0 0 repeat-x; background-size:5px;}
.select_cont ul li { float:left; width:33.3%; padding:8px 0;}
.select_cont ul input[type=checkbox] + label { font-size:14px; color:#22262b;}

.result_subject { width:274px; margin:13px auto; padding:18px 13px 0; height:50px; line-height:1.5;  background:url('http://img.eduwill.net/Img2/mobile2/app/201509/bu_box.png') 0 0 no-repeat; background-size:300px;}
/*.result_subject { margin-top:15px; padding:13px; line-height:1.5;  background:#fff; border:2px solid #ff3a05;}*/

.item_banner li { width:100%; text-align:center; background:#fff; border-top:1px solid #e5e5e5;}
.item_banner li img { width:320px;}


/* 과정별 수강신청 */
.item_contents .section { text-align:left; background:#f5f5f5;}
.item_contents .section .g_box_b { padding:13px 10px;}
.item_contents .section h4.g_title_b { margin-bottom:8px; font-size:16px;}
.item_contents .section h4.g_title_b span { font-size:14px; color:#999;}
.item_contents .g_box_b .g_txt_e { letter-spacing:-1px; line-height:16px;}
.item_contents .g_point_red { color:#ff0000;}
.item_contents .g_point_gray { color:#929292;}

.form + .apply_box { margin-top:10px;}
.apply_box { }
.item_contents .section.pay .g_btn_b { margin-top:5px; background:#ff0000;}
.apply_box .subject { position:relative; float:left; width:60%; font-size:14px; color:#929292; font-family:'nanum_b'; line-height:1.3;}
.apply_box .subject p { font-size:20px; line-height:1.3; color:#333;}
.apply_box .price { position:relative; float:right; width:40%; text-align:right;}
.apply_box .price span { display:block; font-family:'nanum_b'; line-height:1.3;}
.apply_box .price .through { display:block; position:absolute; top:4px; right:0; width:80px; height:6px; background:url('http://img.eduwill.net/Img2/mobile2/brand_new/common/bu_price.png') right 0 no-repeat; background-size:160px 6px;}
.apply_box .price .percent { display:block; padding:0 2px; position:absolute; right:80px; top:0; color:#ff0000; font-family:'Verdana'; font-size:10px; font-weight:bold; border:2px solid #ff0000;}
.apply_box .price .first_price { padding-right:10px; color:#929292; font-size:13px;}
.apply_box .price .last_price { font-size:22px; color:#ff0000;}
.apply_box .price .last_price02 { font-size:22px; color:#333;}

.tab_cont .g_box_b > .g_txt_d { font-size:12px; color:#929292; margin-bottom:15px;}
.book_list { margin-top:10px; padding-top:10px; border-top:1px solid #ccc;}
.item_list .subject { color:#929292;}
.item_list .subject p { color:#333;}
.chk_form { position:relative; height:27px; margin-bottom:5px;}
.chk_form.two_line { height:34px;}
.chk_form label { display:block !important; line-height:1.2;}
.chk_form label .book_title { color:#333;}
.chk_form:last-child { margin-bottom:0;}
.chk_form .discount_price { position:absolute; top:-5px; right:0; text-align:right; line-height:1;}
.radio_form { position:relative; margin-bottom:10px;}
.radio_form label { display:block !important;}
.radio_form.two_line { height:45px;}
.radio_form input[type="radio"]:checked + label:before { color:#ff0000 !important;}
.radio_form input[type="radio"] + label:before { top:50%; margin-top:-7px;}
.radio_form .apply_box .subject p { padding-top:10px;}
.radio_form.two_line .apply_box .subject p { padding-top:0;}
.discount_price span { font-size:10px; color:#929292; text-decoration:line-through; line-height:1;}
.discount_price p { font-size:13px; color:#333; font-family:'nanum_b';}
.discount_price.no_price span { display:none;}
.discount_price.no_price p { margin-top:8px;}

.sum_list { padding:13px 0; background:#e7e7e7 url('http://img.eduwill.net/Img2/mobile2/brand_new/common/ico_plus.png') center center no-repeat; background-size:13px 13px;}
.sum_list span { display:inline-block; box-sizing:border-box; width:49%; text-align:center; font-family:'nanum_b';}

.result_price { text-align:right;}
.result_price span:last-child { padding-left:20px;}

.result_price + .total_price { margin-bottom:5px;}
.sum_list + .total_price { padding-top:5px; margin-bottom:10px; border-top:0 none;}
.total_price p.total { text-align:right; color:#666; font-family:'nanum_b'; font-size:18px;}
.total_price p.total strong { padding-left:5px; color:#ff0000; font-size:23px;}

.g_table_box { margin-bottom:10px;}
.g_table_box .g_table_a td { color:#333;}
.g_table_box .g_table_a td.left { padding-left:0 !important;}
.g_table_box .g_table_a td.date { font-size:12px;}
.g_table_box .g_table_a td .g_btn_j { margin-top:3px;}
.g_table_box .g_table_a td label:before { top:-15px;}

.check_box label { padding:0 15px 5px;}

.info_box { padding:15px 0 0; margin-top:5px; border-top:1px solid #dcdcdc; }

.g_box_b p + .notice { margin-top:10px;}
.item_contents .g_box_b dl dt { margin-top:10px; color:#333; font-family:'nanum_b'; color:#ff0000;}
.item_contents .g_box_b dl dt:first-child { margin-top:0;}
.item_contents .g_box_b dl dd { margin-top:8px;}
.item_contents .g_box_b dl dt + dd { margin-top:0;}

.item_contents .g_box_img { margin-bottom:15px; text-align:center; background:#fff;}
.item_contents .g_box_img img { width:290px;}
.apply_tip { margin-bottom:15px; padding:5px 0; text-align:center; color:#fff; background:#000;}

/* 네이버 오픈 아이디 연동 2018-05-09 */
.openId {margin:15px 15px 0; text-align:center; padding-top:6px; border-top:solid 1px #e7e7e7}
.openId.naver .txt {line-height:32px; font-size:14px; color:#333; display:block;}
.openId.naver .btn img {max-width:290px; width:100%}
.openId_section h3 {}
.openId_section {margin:20px 0}
.openId_section .tbl_section thead th { height:40px; color:#fff; font-size:13px; letter-spacing:-1px; vertical-align:middle; text-align:center; background:#8a8a8a; border:solid 1px #dcdcdc;}
.openId_section .tbl_section tbody td { padding:7px 9px; color:#000; font-size:12px; letter-spacing:-1px; vertical-align:middle; text-align:center; background:#fff; border:solid 1px #dcdcdc; border-right:none}
.openId_section .tbl_section tbody td .ico {padding-left:17px; background:url('https://img.eduwill.net/Img2/mobile2/brand_new/common/icon_naver.png') 0 50% no-repeat; background-size:13px; display:inline-block; line-height:13px; font-style:inherit}
.openId_section .tbl_section tbody td .g_btn_c {width:100%; height:27px; line-height:27px; background:#3c3e3b; color:#fff; font-size:12px; padding:0 }
.openId_section .tbl_section tbody td .g_btn_g {width:100%; height:25px; line-height:25px; background:#fff; color:#3c3e3b; font-size:12px; padding:0; border:solid 1px #3c3e3b}
.section.gate {padding:0}
.gate_section {background:#fff; padding-bottom:35px; margin-top:6px}
.gate_section > p.msg_a { padding:20px 0 12px; text-align:center; font-size:16px; color:#292929; line-height:20px; font-weight:400; letter-spacing:-1px;}
.gate_section > p.msg_a.type1 {font-size:16px}
.gate_section > p.msg_a.type2 {font-size:22px; font-weight:bold}
.joins_gate {padding:0 15px}
.joins_gate .step1 {padding:0;}
.joins_gate .step1 dt {display:none;}
.joins_gate .step1 dd {padding-top:7px; text-align:center}
.joins_gate .step1 dd img {max-width:290px; width:100%}
.joins_gate .step2 {padding:20px 0; text-align:left; margin-bottom:-35px}
.joins_gate .step2.type1 {}
.joins_gate .step2.type2 {}
.joins_gate .step2 dt {margin-bottom:15px}
.joins_gate .step2 dt span {font-size:16px; color:#292929; font-weight:bold; line-height:19px; padding-left:22px; letter-spacing:-1px;}
.joins_gate .step2.type1 dt span {background:url('https://img.eduwill.net/Img2/Common/Join/new/bul_gateJoin_on.png') 0 50% no-repeat; background-size:15px;}
.joins_gate .step2.type2 dt span {background:url('https://img.eduwill.net/Img2/Common/Join/new/bul_gateJoin_off.png') 0 50% no-repeat; background-size:15px;}
.joins_gate .step2 dd.txt {font-size:14px; color:#292929; line-height:18px;}
.joins_gate .step2 dd.btn  {text-align:center; padding-top:22px}
.joins_gate .step2 dd.btn a {box-sizing: border-box;}
.joins_gate .step2 dd.btn .btn_a {display:inline-block; width:100%; height:37px; line-height:37px; font-size:16px; text-align:center; color:#fff; font-weight:400; background-color:#1f1f1f; border:none; border-radius:3px}
.joins_gate .step2 dd.btn .btn_b {display:inline-block; width:100%; height:37px; line-height:37px; font-size:16px; text-align:center; color:#000; font-weight:400; background-color:#efefef; border:solid 1px #d6d6d6; border-radius:3px}

