@import "abstracts/mixins";  
@import "abstracts/extend";  
@import "abstracts/variables";  

@import "module/popup";  

.product-eco{
	min-width:1200px;
	overflow:hidden;
	*, *:before, *:after{font-family:$font-roboto;letter-spacing:-1px;}
	[class^="sector-"] {
		position: relative;
	}
	.wrap{
		position:relative;
		width:1200px;
		margin:0 auto;
		text-align:center;
		&.wrap-1300 {
			width: 1300px;
		}
	}
	
	.slick-dots {
		width: 100%;
		margin-top: 20px;
		text-align: center;
		li {
			display: inline-block;
			margin: 0 6px;
			button {
				width: 20px;
				height: 20px;
				text-indent: -9999em;
				border: none;
				border-radius: 50%;
				background-color: #d8d8d8;
				outline: none;
				cursor: pointer;
			}
			&.slick-active {
				button {
					width: 20px;
					border-radius: 15px;
					background-color: #1a2553;
				}
			}
		}
	}

	.btn-text, .btn-grounds{
		display:inline-block;
		color:#8a8a8a;font-size:15px;letter-spacing:-1px;line-height:1;
		font-weight:400;
		span{
			padding-right:10px;
			@include arrow(right, 4px, 4px, 1px, #8a8a8a);
			&:before{right:0;}
		}
	}
	.btn-text{position:absolute;right:210px;top:30px;}
	.btn-grounds{
		position:relative;margin-top:10px;font-size:14px;
		span{
			padding-right:10px;
		}
	}

	.slide-group{
		position:relative;margin-top:20px;
		.video-container{
			.slick-slide{opacity:0.4;}
			.slick-active{opacity:1;}
			.slide-list{
				padding-top:30px;
				img{
					border-top-right-radius: 20px;
				}
			}
		}

		.slick-dots {
			text-align: center;
			li {
				display: inline-block;
				margin-left:6px;
				button {
					cursor: pointer;
					text-indent: -10000em;
					border: 0;padding:0;
					border-radius: 50%;
					width:10px;height:10px;
					background:#bbbbbb;
				}
				&.slick-active {
					button {
						background:#f4582e;
					}
				}
			}
		}
	
		.slide-list{
			margin:0 10px;
			padding-bottom:30px;
			img{
				@include boxShadow(	7px 7px 27px 0px rgba(0, 0, 0, 0.23));
			}
		}
		
	}

	.holder{position:relative;}

	.icon-pointer {
		@include pointer(50%, 0, 57px, 65px, 12, bounce);
	}

	.benefit-box-1 {
		position: absolute;
		width: 270px;
		height: 402px;
		@include boxSizing(border-box);
		padding: 38px 0 0 0;
		.benefit-title {
			color: #222;
			font-size: 24px;
			font-weight: 700;
			line-height: 1.3;
			text-align: center;
			letter-spacing: -1.5px;
			.desc {
				margin-top: 15px;
				font-weight: 400;
				font-size: 12px;
				color: rgba(34,34,34, .6);
			}
		}
		.sale-text {
			position: absolute;
			top: 166px;
			left: 175px;
			text-align: center;
			color: #fff;
			font-size: 18px;
			font-weight: 700;
			line-height: 1.3;
		}
		.flag-text {
			position: absolute;
			top: 280px;
			left: 140px;
			right: 30px;
			padding: 7px 0;
			font-size: 17px;
			font-weight: 700;
			color: #fff;
			line-height: 1;
			letter-spacing: -1.5px;
			border-radius: 100px;
			background: #ff0000;
		}
	}

	.sector-title-band {
		background-color: #0fac6e;
	}
	.sector-wing {
		z-index: 15;
		position: fixed !important;
		top: 200px;
		right: 0;
		@include pointer(90%, 0, 25px, 27px, 12, bounce);
	}
	.sector-title{
		position:relative;
		background: url('#{$img-path}/pc/bg_cover.jpg') center center no-repeat;
		background-size: cover;
		.bg-wrap {
			position: relative;
			width: 100%;
			height: 100%;
			background: url('#{$img-path}/pc/bg_title.png') 50% 0 no-repeat;
		}
	}

	.sector-benefit {
		position:relative;
		background: url('#{$img-path}/pc/bg_benefit.jpg') 50% 0 no-repeat;
		background-size: cover;
		.benefit-box-1 {
			top: 99px;
			left: 174px;
		}
	}


	.sector-method {
		background: #fff;
	}

	.sector-bar {
		z-index: 10;
		position: relative;
		background: #00a867;
		&.is-arrow {
			&:before {
				content: '';
				display: block;
				position: absolute;
				bottom: -16px;
				left: 50%;
				transform: translateX(-50%) rotate(45deg);
				width: 32px;
				height: 32px;
				background: #00a867;
				background-size: cover;
			}
		}
		&.navy {
			background: #132053;
		}
	}

	.sector-marketing {
		background-color: #fff;
		&.marketing-2 {
			@include bg($url: '#{$img-path}/pc/bg_marketing.jpg', $size: cover);
		}
		&.marketing-3 {
			padding-bottom: 100px;
			.marketing-active {
				width: 1000px;
				margin:  0 auto 40px;
				background: #ffd632;
				ul {
					display: flex;
					li {
						position: relative;
						width: 33.33%;
						text-align: center;
						font-size: 20px;
						color: rgba(34, 34, 34, 0.4);
						padding: 20px 0;
						&.active {
							color: #222;
							font-weight: 700;
						}
						&:after {
							content: "";
							position: absolute;
							right: 0;
							top: 50%;
							transform: translateY(-50%);
							width: 1px;
							height: 30px;
							background: rgba(34, 34, 34, 0.2);
						}
						&:last-child {
							&:after {
								display: none;
							}
						}
					}
				}
			}
			.slick {
				&-slide {
					opacity: 0.4;
				}
				&-current {
					opacity: 1;
				}
				&-prev {
					@include slideArrow(left, 64px, 64px, 1px, #fff);
					margin-left: -530px;
					background: rgba(34, 34, 34, 0.8);
				}
				&-next {
					@include slideArrow(right, 64px, 64px, 1px, #fff);
					margin-left: 460px;
					background: rgba(34, 34, 34, 0.8);
				}
				&-arrow {
					z-index: 50;
					position: absolute;
					left: 50%;
					border-radius: 50%;
				}
			}
		}
	}

	.sector-price-summary {
		padding: 100px 0;
		background-color: #ffd632;
		.price-rows {
			position: relative;
			width: 1100px;
			margin: 0 auto;
			cursor: pointer;
			border-radius: 10px;
			overflow: hidden;
			@include transition(all, .3s, ease-out);
			@include boxShadow(0 0 20px 0 rgba(0, 0, 0, .3));
			&:hover {
				@include scaleXY(1.05,1.05);
			}
			.price-subject {
				padding: 20px 0;
				text-align: center;
				font-size: 32px;
				color: #fff;
				font-weight: 700;
				letter-spacing: -1.5px;
				line-height: 1;
				background: #00a867;
			}
			.price-info-box {
				@extend .grid;
				padding: 34px 40px;
				background: #fff;
				.col {
					&.price-terms {
						width: 100%;
						.price-list {
							display: flex;
							align-items: center;
							justify-content: center;
							margin-bottom: 28px;
							.list {
								display: flex;
								align-items: center;
								justify-content: center;
								width: 313px;
								height: 60px;
								border-radius: 12px;
								background: #ffd632;
								p {
									font-size: 24px;
									font-weight: 700;
									color: #222;
								}
							}
							em {
								font-size: 30px;
								font-weight: 300;
								color: #222222;
								margin: 0 8px;
							}
						}
						.price-clean {
							position: relative;
							text-align: center;
							margin-bottom: 15px;
							@extend .grid;
							> div {
								@extend .col;
								&.before-won {
									float: none;
									display: inline-block;
									margin-top: 14px;
									width: 369px;
									text-align: left;
									strong {
										padding-left: 5px;
										line-height: 1;
										font-weight: 400;
										font-size: 40px;
										color: #999;
									}
									.sale-flag {
										position: absolute;
										top: 3px;
										left: 200px;
										display: inline-block;
										padding: 6px 12px;
										z-index: 2;
										color: #fff;
										font-size: 22px;
										line-height: 1;
										font-weight: 700;
										border-radius: 100px;
										background: #4638fb;
										&.red {
											background: #eb0000;
										}
									}
									&:after {
										content: '';
										display: block;
										position: absolute;
										top: 50%;
										left: 0;
										@include translateY(-50%);
										@include vw(width, 369px);
										@include vw(height, 20px);
										background: url('#{$img-path}/pc/before_arrow.png') 0 0 no-repeat;
										background-size: cover;
									}
								}
								&.after-won {
									float: none;
									display: inline-block;
									width: 240px;
									text-align: right;
									font-weight: 900;
									color: #00a867;
									font-size: 50px;
									strong {
										line-height: 1;
										letter-spacing: -1px;
									}
									&.speed { color: #222;}
								}
							}
						}
						.btn-action {
							a {
								width: 100%;
								line-height: 70px;
								font-size: 24px;
								color: #fff;
								font-weight: 700;
								border-radius: 10px;
								background: #00a867;
								@include arrow(right, 8px, 8px, 2px, #fff);
							}
						}
					}
				}
			}
			+ .price-rows {
				margin-top: 40px;
			}
		}

		&.modify-220513 {
			.price-rows {
				.price-info-box {
					.col {
						&.price-terms {
							.price-clean {
								> div {
									&.before-won {
										.flag-group {
											position: absolute;
											top: -16px;
											left: 167px;
											width: 103px;
											.sale-flag {
												position: relative;
												left: auto;
												top: auto;
												display: block;
												text-align: center;
												padding: 6px 12px;
												z-index: 2;
												color: #fff;
												font-size: 16px;
												line-height: 1;
												font-weight: 700;
												border-radius: 100px;
												background: #4638fb;
												&.red {
													margin-top: 7px;
													background: #ff0000;
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}

	.sector-master {
		background-color: #fefde6;
	}

	.sector-review {
		padding-bottom: 100px;
	}

	.sector-premium {
		background: #ffd632;
		.wrap {
			> img {
				margin-top: -40px;
			}
		}
		.benefit-box-1 {
			top: 198px;
			left: 174px;
		}
	}

	.sector-curriculum {
		padding: 100px 0;
		background-color: #fff;
		.title {
			margin-bottom: 60px;
			h3 {
				font-size: 42px;
				font-weight: 900;
				color: #222222;
				span {
					color: #00a867;
				}
			}
		}
		.table {
			margin: 0 auto;
			border-collapse: collapse;
			th {
				font-size: 20px;
				font-weight: 700;
				color: #fff;
				padding: 20px 0;
				background: #00a867;
				&:last-child {
					border-left: 1px solid #d8d8d8;
				}
			}
			td {
				font-size: 20px;
				text-align: left;
				padding: 20px 36px;
				border-left: 1px solid #d8d8d8;
				border-bottom: 1px solid #d8d8d8;
				&.text-center {
					border-left: none;
					text-align: center;
				}
				&:first-child {
				}
			}
		}
	}

	.sector-teacher {
		background: #f6f6f6;
	}
	.sector-story{
		background:#fff;
		.interview-list{
			width:1100px;
			margin:0 auto;
			.video{
				display:block;
				width:545px;
				height: 300px;
				float:left;
				&:nth-child(2){margin-left:10px;}
				position: relative;
				a{
					img { 
						width: 100%;
						height: 100%;
						position: absolute;
						top: 0; 
						left: 0;
						z-index: 7;
					}
				}
				video { 
					height: 300px;
				}
			}
			&:after{content:'';display:block;clear:both;}
		}
	}

	.sector-network { 
		padding-bottom: 90px; 
		background: #f6f6f6;
		.slick-slide{
			margin: 0 20px;
			padding: 0px 0 40px 0;
			opacity: .3;
			filter: blur(0);
			&.slick-active{
				opacity: .3;
				filter: blur(0);
			}
			&.slick-center{
				opacity: 1;
				filter: blur(1);
			}
			p{
				overflow: hidden;
				box-shadow: 10px 15px 20px 10px rgba($color: #828282, $alpha: 0.4);
				img{
					width: 100%;
				}
			}
		}
	}
	
	.sector-lecture{
		background:#fff;
	}
	.sector-awrads{
		background:#f6f6f6;
		.btn-awrads{
			position: absolute;
			width:660px;
			height:100px;
			z-index:7;
			bottom:100px;
			right:0;
			left:0;
			margin:0 auto;
		}
	}
}





