.promotion,
.product-eco,
.fullservice {
    text-align: center;
    [class^="sector-"] {
        position: relative;
    }
    .wrap {
        position: relative;
        margin: 0 auto;
    }
    .wrap-full {
        position: relative;
        width: 100%;
        margin: 0 auto;
    }


	input[type=text], 
	textarea{
		&:focus {
			border-color: #fcd300;
		}
	}

	.only-pc {
        display:none;
        @include breakpoint(maxMobile){
            display: block;
        }
    }

    .only-mobile {
        display:block;
        @include breakpoint(maxMobile){
            display: none;
        }
    }


}
button {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    font-family: inherit;
    text-decoration: none;
    border: none;
    background: transparent;
    outline: 0;
    cursor: pointer;
}