@charset "utf-8";


@media print and (color) {
	* {
	   -webkit-print-color-adjust: exact;
	   print-color-adjust: exact;
	}
}

@media print {

	.section-print #docArea * {
		font-size: 8.5pt !important;
	}
	
	.section-print.section-leave .board-1 {
		border-color: #555;
	}
	.section-print.section-leave .board-1 ul li {
		height: 111px;
		border-color: #555;
	}
	
	.section-print.section-leave .board-1 ul li div {
		height: 22px;
		min-height: auto;
		padding: 0;
		line-height: 22px;
		font-size: 8.5pt;
		
	}
	.section-print.section-leave .board-1 ul li div.field-1 {
		font-size: 8.5pt;
		height: 22px;
		line-height: 22px;
		border-bottom-color: #444;
	}
	.section-print table {
		border-collapse: collapse !important;	
		border-top: 0 none !important;
		border-left: 0 none !important;
		margin-bottom: 0 !important;
	}
	.section-print .table thead tr th, 
	.section-print .table tbody tr th, 
	.section-print .table tbody tr td, 
	.section-print .table tfoot tr th, 
	.section-print .table tfoot tr td {
		border: solid 1px #444 !important;
		height: auto !important;
	}
	.section-print .table tr td:first-child {
		background: #eee !important;
	}

	.section-print .table tr td.print-bgNone,
	.section-print .table tr th.print-bgNone {
		background: #fff !important;
	}
	
	
	.section-print.section-leave .table thead tr th, 
	.section-print.section-leave .table tbody tr th, 
	.section-print.section-leave .table tbody tr td, 
	.section-print.section-leave .table tfoot tr th, 
	.section-print.section-leave .table tfoot tr td {
		font-size: 8.5pt !important;
		padding: 3px !important;
		
		
	}
	.section-print.section-leave .bottxt {
		font-size: 12pt;
		margin-top: 20px;
	}
	.section-print.section-leave .addr {
		margin-top: 10px;
		text-align: center;
	}
	.section-print.section-leave .teamtxt span {
		line-height: inherit;
	}
	.section-print.section-leave .label2 {
		height: 16px;
		line-height: 16px;
		font-size: 7.5pt;
		padding: 0 5px!important;
		
	}
	.section-print.section-leave .field-5 span {
		display: inline-block;
		vertical-align: top;
		line-height: 16px;
	}
	
	.modal-body {
		padding: 0 !important;
	}
}



