@charset "utf-8";

// Core variables and mixins
@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/extend";
@import "module/popup";

.product-eco {
	* { font-family: $font-noto; }
    line-height: normal;
    letter-spacing: -1px;
	.btn-text {
		color: #000000;
		@include bg($color: rgba(246, 246, 246, 1));
	
	}
    /*공통영역*/
 	.wrap {
        position: relative;
        width: 1200px;
        margin: 0 auto;
        text-align: center;
        &-full {
            width: 100%;
        }
    }

	.action{
			position: absolute;
			&.t-left{top:0;left:50px}
			&.t-right{top:0;right:50px}
			&.t-center{top:0;left:0;right:0;margin:0 atuo;}
			&.b-left{bottom:0;left:50px}
			&.b-right{bottom:0;right:50px}
			&.b-center{bottom:0;left:0;right:0;margin:0 atuo;}
		
	}
	.point-color{color:#003eff}
	.bg{
		background-color: #f3f3f3;
		.btn-text{background-color: rgba(232, 232, 232, 1);}
	}

	.sale-area{
		position: relative;
		padding-bottom:100px;
		text-align: left;
		box-sizing: border-box;
		width:1100px;
		margin: 20px auto 0;
		&.bottom{margin:0 auto;}
		.sale-info{
			width:100%;
			margin-left:1%;
			&:hover{
				.price-box{
					border:2px solid #003eff;
				}
				.sale-btn{ a{background:#003eff;}}
			}
			&:first-child{
				margin-left: 0;
			}
			.price-box{
				border:2px solid #dfdfdf;
				background:#fff;
				box-sizing: border-box;
				box-shadow: 10px 9px 19px 5px rgba(0, 0, 0, 0.07);
				-webkit-box-shadow:10px 9px 19px 5px rgba(0, 0, 0, 0.07);
				-moz-box-shadow:10px 9px 19px 5px rgba(0, 0, 0, 0.07);
				padding:30px 40px;
				box-sizing: border-box;
				.sale-top {
					position: relative;
					.name{
						font-size: 32px;
						font-weight: 900;
						color:#222;
						display: block;
						padding-top:30px
					}
					.discount{
						display: inline-block;
						width:90px;
						height: 90px;
						text-align: center;
						box-sizing: border-box;
						padding:19px;
						color:#fff;
						font-size: 22px;
						font-weight: 900;
						border-radius: 50%;
						background-color: #003eff;
						position: absolute;
						top:29px;left:231px;
						line-height: 1.2;
					}
					.ab{
						position: absolute;
						&+.before-price{
							position: relative;
							top:21px
						}
					}
					.sub {
						display: block;
						font-size: 16px;
						color: #222;
					}
					del {
						display: block;
						font-family: $font-roboto;
						font-size: 21px;
						font-weight: 600;
					}
				}
				.sale-middle {
					// display: flex;
					// align-items: center;
					// justify-content: end;
					position: absolute;
					top: 33px;
					right: 40px;
					@include boxSizing(border-box);
					text-align: right;
					&.sale {
						justify-content: space-between;
					}
					.flag {
						display: inline-block;
						font-size: 18px;
						font-weight: 600;
						padding:0px 7px;
						border-radius: 3px;
						@include animation(flagEvent, .8s, $iteration: infinite, $timing: step-start){
							0%, 100% { color: #fff; background-color:#003eff; }
							50% { color: #000; background-color:#ffdf4b}
						}
						span {
							@include animation(flagPoint, .8s, $iteration: infinite, $timing: step-start) {
								0%, 100% { color: #ffdf4b;}
								50% { color: #003eff; }
							}
						}
						+span{display: block;}
					}
					.flag2 {
						display: inline-block;
						font-size: 18px;
						font-weight: 600;
						padding:0px 7px;
						border-radius: 3px;
						margin-right:5px;
						color: #000; background-color:#ffdf4b
					}
				}
				.sale-bottom {
					text-align: center;
					a{
						display: block;
						padding: 10px 20px 10px 10px;
						color:#8a8a8a;
						font-size: 16px;
						border-top:1px solid #e4e4e4;
					}
					.check-box{
						background:#f3f3f3;
						padding:10px;
						input{
							width: 15px;
							height: 15px;
							// vertical-align: bottom;
							// border-radius: 3px;
						}
						label{
							color:#222;
							font-size: 18px;
							display: inline-block;
							margin-left:5px
						}
					}
				}
				.price{
					font-family: 'Roboto';
					&.before-price{
						color:#8a8a8a;
						font-size: 21px;
						position: absolute;
						top:137px;
						left:0;
						font-weight: 600;
						display: inline-block;
						margin-top: 20px;
						.data-cost{		
							font-family: 'Roboto';			
							&:before{
								content: '';
								width:100%;
								height: 1px;
								background-color: #8a8a8a;
								position: absolute;
								left:0;
								top:50%;
							}
						}
					}
					&.after-price{
						font-size:30px;
						font-weight: 900;
						color:#000;
						margin-top: 10px;
						.data-cost{
							font-family: 'Roboto';
							font-size:50px;
							letter-spacing: -3.3px;
						}
					}
				}
			}
			.sale-btn{
				text-align: center;
				overflow: hidden;
				a{
					display: block;
					height:100%;
					padding: 15px 30px 15px 15px;
					color:#fff;
					background: #222;
					font-weight: 900;
					font-size: 20px;
					width: 468px;
					float: right;
				
				}
			}
		}
	}
	/*리뷰슬라이드*/
	.review-slide{
			.list{
				position: relative;
				.txt{
					position: absolute;
					p{
						color:#606060;
						font-size: 18px;
						line-height: 1.7;
						text-align: left;
						font-weight: 300;
						letter-spacing: -2px;
						.point-color{
							color:#2452ea;
							font-weight: 600;
						}
					}
				}
			}
			&.review-s{
				.txt{
					&.txt1{bottom:249px;right:165px}
					&.txt2{bottom:230px;right:89px}
					&.txt3{bottom:249px;right:130px}
				}
			}
			&.teachers-s{
				.txt{
					top:21px;
					left:230px;
				}
			}
			&.curriculum-s{
				.txt{
					top:21px;
					left:230px;
				}
			}
			&.book-s{
				.txt{
					top:30px;
					left:230px;
				}
			}
			.slick-arrow {
				transform: translateY(-250%) !important;
			}
	}
	.floating-banner {
        position: fixed;
        top: 25%;
        right: 0;
		text-align: right;
        z-index: 99;
		a{
		    position: absolute;
			width: 140px;
			left: 0;
			right: 0;
			margin: 0 auto;
			height: 113px;
			font-size: 0;
			top: 90px;
		}
		.num{
		    position: absolute;
			bottom: 134px;
			left: 12px;
			right: 0;
			margin: 0 auto;
			text-align: center;
			display: block;
			font-weight: 900;
			font-family: 'Roboto';
			width: 146px;
			font-size: 30px;

		}
    }
		/*손가락*/
	.pointer {
			@include pointer(50%, 0, 40px, 46px, 12, bounce);
	}
	.eco-4385 p {
		letter-spacing: -0.5px;
		position: relative;
		top: -6px;
	}
		.sector{
		&-title {
			position: relative;
			overflow: hidden;
			@include bg( $url: '#{$img-path}/pc/bg_title.jpg') ;
			background-size: cover;
			height: 1065px;
			.action {
				position: absolute;
				top: 143px !important;
				right: 50px !important;
				z-index: 99;
			}
			.cloude{
				position: absolute;
				width:100%;
				bottom:0;
				left:0;right:0;margin:0 auto;
				img{width:100%}
			}
			.lightning{
				position: absolute;
				&.lg1{top:0;left:-350px}
				&.lg2{top:85px;right:-200px;}
				
			}
			.floating{position: absolute;top:340px;right:-50px}
			.title{
				position: absolute;
				left:0;right:0;top:0;
			}

		
		}
		&-benefit {
			.content-title{
				text-align: center;
				padding-bottom:30px;
				strong{
					font-weight: 600;
				}
			}
			.sub{
				position: relative;
				color:#bfbfbf;
				top:-30px;
				font-size: 14px;
			}
			.action {
				right: 56px;
				bottom: 109px !important;
			}
		}
		&-sale{
			.action{
				top: 162px;
				right: 50px;
			}
		}
		&-winner-list {
			padding-bottom: 120px;
			@include bg($url: '#{$img-path}/pc/bg_winner_list.jpg', $size: cover);
			overflow: hidden;
			.winner-contents {
				margin-top: -60px;
				.winner-list {
					width: 1100px;
					margin: auto;
					transform: perspective(400px) rotateX(40deg);
					p {
						font-size: 22px;
						font-weight: 600;
						color: #222;
						text-align: center; 
						line-height: 2;
						margin:0;
						padding:0
					}
				}
			} 
			.slick-list{margin-top:20px}
		}
		&-first-rank{
			@include bg( $url: '#{$img-path-common}/pc/bg_first_rank.png', $size: cover);
			.top-area{
				position: relative;
				top:-57px
			}
			.content-sub-title{
			    color: #fff;
				font-size: 26px;
				font-weight: 300;
				position: absolute;
				top: 232px;
				right: 245px;
				text-align: left;
				.point-color{
					color:#d4f676 !important;
					font-weight: 600;			
				}
			}
			.slick-arrow {
				transform: translateY(-205%) !important;
				&.slick-prev {
					left: 27px;
				}
				&.slick-next {
					right: 27px;
				}
			}
			.action{
				bottom:80px !important
			}
		}
		&-start{
			.action.t-right{
				top:160px;
			}
			.action.b-right{
				position: absolute;
				bottom:110px;
				.btn-text{
					padding: 8px 20px;
					background-color: #003eff;
					color:#fff;
					.point-color{color:#ffde00 !important;font-weight: 600};
					&:after{
						border-color: #fff;
					}
				}
			}
		}
		&-recommend{
			.action {
				&.t-right {
					left: 590px;
					top: 160px;
				}
			}
		}
		&-teacher{
			.action{
			    top: 406px;
				right: 63px;
				bottom: auto;
			}
		}
		&-band{
			position: relative;
			padding: 30px 0;
			@include bg($color: #13183b, $url: '#{$img-path}/pc/bg_band.jpg', $size: cover);
			.point-color{color:#ffde00 !important}
			.brand-1 {
				margin-top: 20px;
			}
		}
		&-free{
			background-color:#1b2852;
		}
		&-book {
			.content-title {
				padding: 90px 50px 20px;
			}
			.review-slide{margin-top:15px}
			.action {
				top: 170px;
				left: 506px;
			}
		}
		&-give-service{
			ul{
				top: 288px;
				li{
					position: relative;
					strong{
						border-bottom: 1px solid #7637e9
					}
				}
			}
			small{
				position: absolute;
				right: 246px;
				bottom: 244px;
				font-weight: 600;

			}
		}
		&-short-pass{
			position: relative;
			padding: 90px 0 0;
			@include bg($color: #13183b, $url: '#{$img-path}/pc/bg_pass.jpg', $size: cover);
			.point-color{color:#ffdf4b !important}
		}
		&-short-grow,&-attention{
			padding-top:80px;
			.action{
				top: 54px;
    			left: 430px;
			}
		}
		&-prize{
			background-color: #fffae0;
			.content-title{display: none !important;}
		}

	}
}


.cloude{ animation: zoom-b 8s linear infinite alternate; transform-origin: 50% 50%;}
.lg1{animation: blink-effect 0.1s step-end infinite;}
.lg2{animation: blink-effect2 0.1s step-end infinite;}


@keyframes rotate_image{ 100% { transform: rotate(360deg); } }
@keyframes swing {
    0% { transform: rotate(3deg); }
    100% { transform: rotate(-3deg); }
}
@keyframes zoom-b {
	0% {
	  -ms-transform: scale(1, 1);
	  transform: scale(1, 1) translateZ(1px);
	}
	100% {
	  -ms-transform: scale(1.2, 1.2);
	  transform: scale(1.2, 1.2) translateZ(1px);
	}
  }
@keyframes blink-effect { 50% { opacity: 0.5; } }
@keyframes blink-effect2 { 70% { opacity: 0.5; } }


