// --------------------------------------------
// Utilities
// --------------------------------------------

// ✅ Margin Utilities
.mt20 { margin-top: 20px; }
.mt30 { margin-top: 30px; }

// ✅ Font Size
.f14 { font-size: 14px; }


// ✅ Cursor
.pointer { cursor: pointer; }


// ✅ Border Utilities
.bln { border-left: none !important; }
.brn { border-right: none !important; }


// ✅ Link States
a:visited { color: #666; text-decoration: none; }
a:link { color: #424242; text-decoration: none; }
a:active { color: #424242; text-decoration: none; }
a:hover { color: #d51d05; text-decoration: none; }
a.overed { color: #d51d05; text-decoration: underline; }
a.overed:hover { color: #d51d05; text-decoration: underline; }


