@charset "UTF-8";
.grid, .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .filebox, .eduf-layer .eduf-layer-wrap .eduf-layer-content .popup-btn, .eduf-layer.eduf-layer-story .eduf-layer-content .popup-btn {
  *zoom: 1;
}

.grid:before, .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .filebox:before, .eduf-layer .eduf-layer-wrap .eduf-layer-content .popup-btn:before, .eduf-layer.eduf-layer-story .eduf-layer-content .popup-btn:before, .grid:after, .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .filebox:after, .eduf-layer .eduf-layer-wrap .eduf-layer-content .popup-btn:after, .eduf-layer.eduf-layer-story .eduf-layer-content .popup-btn:after {
  content: '';
  display: table;
}

.grid:after, .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .filebox:after, .eduf-layer .eduf-layer-wrap .eduf-layer-content .popup-btn:after, .eduf-layer.eduf-layer-story .eduf-layer-content .popup-btn:after {
  clear: both;
}

.hidden,
.sr_only,
.sr-only {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.grid, .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .filebox {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.grid .col, .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .filebox .col, .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .filebox input.upload-name, .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .filebox label {
  position: relative;
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.table {
  display: table;
}

.table .table-cell {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

.effect-bounce-diagonal {
  -webkit-animation-name: effectBounceDiagonal;
          animation-name: effectBounceDiagonal;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes effectBounceDiagonal {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}

@keyframes effectBounceDiagonal {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}

.effect-bounce-updown {
  -webkit-animation-name: effectBounceUpDown;
          animation-name: effectBounceUpDown;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes effectBounceUpDown {
  0%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@keyframes effectBounceUpDown {
  0%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

.effect-extend {
  -webkit-animation-name: effectExtend;
          animation-name: effectExtend;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes effectExtend {
  0%, 100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
}

@keyframes effectExtend {
  0%, 100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
}

.effect-blink {
  -webkit-animation-name: effectBlink;
          animation-name: effectBlink;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: step-end;
          animation-timing-function: step-end;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes effectBlink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes effectBlink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

body {
  line-height: inherit;
}

.eduf-layer * {
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  letter-spacing: -0.13889vw;
}

@media screen and (min-width: 720px) {
  .eduf-layer * {
    letter-spacing: -1px;
  }
}

.eduf-layer .eduf-layer-wrap .popup-title {
  position: relative;
  padding: 4.16667vw 0 6.94444vw;
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .popup-title {
    padding: 30px 0 50px;
  }
}

.eduf-layer .eduf-layer-wrap .popup-title p {
  text-align: left;
}

.eduf-layer .eduf-layer-wrap .popup-title p strong {
  color: #000;
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  font-weight: 900;
  line-height: 1;
  letter-spacing: -0.27778vw;
  font-size: 4.86111vw;
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .popup-title p strong {
    letter-spacing: -2px;
  }
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .popup-title p strong {
    font-size: 35px;
  }
}

.eduf-layer .eduf-layer-wrap .eduf-layer-content {
  text-align: left;
  background: #fff;
  padding: 4.16667vw 5.55556vw 5.55556vw;
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content {
    padding: 30px 40px 40px;
  }
}

.eduf-layer .eduf-layer-wrap .eduf-layer-content::-webkit-scrollbar {
  width: 1.11111vw;
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content::-webkit-scrollbar {
    width: 8px;
  }
}

.eduf-layer .eduf-layer-wrap .eduf-layer-content::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.eduf-layer .eduf-layer-wrap .eduf-layer-content::-webkit-scrollbar-thumb {
  background: #888;
}

.eduf-layer .eduf-layer-wrap .eduf-layer-content::-webkit-scrollbar-thumb:hover {
  background: #666;
}

.eduf-layer .eduf-layer-wrap .eduf-layer-content .form {
  padding-bottom: 4.16667vw;
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form {
    padding-bottom: 30px;
  }
}

.eduf-layer .eduf-layer-wrap .eduf-layer-content .form .form-title,
.eduf-layer .eduf-layer-wrap .eduf-layer-content .form .label-title {
  position: relative;
  font-weight: 700;
  color: #010101;
  font-size: 3.88889vw;
  letter-spacing: -0.20833vw;
  margin-bottom: 1.94444vw;
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .form-title,
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .label-title {
    font-size: 28px;
  }
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .form-title,
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .label-title {
    letter-spacing: -1.5px;
  }
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .form-title,
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .label-title {
    margin-bottom: 14px;
  }
}

.eduf-layer .eduf-layer-wrap .eduf-layer-content .form .form-title strong,
.eduf-layer .eduf-layer-wrap .eduf-layer-content .form .label-title strong {
  color: #aaa;
}

.eduf-layer .eduf-layer-wrap .eduf-layer-content .form .form-title strong.comp,
.eduf-layer .eduf-layer-wrap .eduf-layer-content .form .label-title strong.comp {
  color: #ec303d;
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .form-title,
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .label-title {
    font-size: 20px;
  }
}

.eduf-layer .eduf-layer-wrap .eduf-layer-content .form .col, .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .filebox input.upload-name, .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .filebox label {
  width: 49%;
}

.eduf-layer .eduf-layer-wrap .eduf-layer-content .form .col input[type="text"], .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .filebox input.upload-name input[type="text"], .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .filebox label input[type="text"] {
  padding: 2.08333vw 2.77778vw;
  height: 8.33333vw;
  font-size: 2.77778vw;
  width: 100%;
  font-weight: 700;
  color: #000;
  border: 1px solid #dbdbdb;
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .col input[type="text"], .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .filebox input.upload-name input[type="text"], .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .filebox label input[type="text"] {
    padding: 15px 20px;
  }
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .col input[type="text"], .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .filebox input.upload-name input[type="text"], .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .filebox label input[type="text"] {
    height: 60px;
  }
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .col input[type="text"], .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .filebox input.upload-name input[type="text"], .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .filebox label input[type="text"] {
    font-size: 20px;
  }
}

.eduf-layer .eduf-layer-wrap .eduf-layer-content .form .col.col-left, .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .filebox input.col-left.upload-name, .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .filebox label.col-left {
  float: left;
}

.eduf-layer .eduf-layer-wrap .eduf-layer-content .form .col.col-right, .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .filebox input.col-right.upload-name, .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .filebox label.col-right {
  float: right;
}

.eduf-layer .eduf-layer-wrap .eduf-layer-content .form .col.col-full, .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .filebox input.col-full.upload-name, .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .filebox label.col-full {
  float: none;
  width: 100%;
}

.eduf-layer .eduf-layer-wrap .eduf-layer-content .form .col .select-form, .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .filebox input.upload-name .select-form, .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .filebox label .select-form {
  position: relative;
}

.eduf-layer .eduf-layer-wrap .eduf-layer-content .form .col .select-form select, .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .filebox input.upload-name .select-form select, .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .filebox label .select-form select {
  padding: 2.08333vw 2.77778vw;
  height: 8.33333vw;
  font-size: 2.77778vw;
  letter-spacing: -0.20833vw;
  width: 100%;
  font-weight: 700;
  color: #aaa;
  border: 1px solid #dbdbdb;
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .col .select-form select, .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .filebox input.upload-name .select-form select, .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .filebox label .select-form select {
    padding: 15px 20px;
  }
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .col .select-form select, .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .filebox input.upload-name .select-form select, .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .filebox label .select-form select {
    height: 60px;
  }
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .col .select-form select, .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .filebox input.upload-name .select-form select, .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .filebox label .select-form select {
    font-size: 20px;
  }
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .col .select-form select, .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .filebox input.upload-name .select-form select, .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .filebox label .select-form select {
    letter-spacing: -1.5px;
  }
}

.eduf-layer .eduf-layer-wrap .eduf-layer-content .form .col .select-form:after, .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .filebox input.upload-name .select-form:after, .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .filebox label .select-form:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 1px;
  width: 5.97222vw;
  height: 2.22222vw;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background: url("//img.eduwill.net/eduwill/img/2022/0/popup/survey/pc/icon_arrow.jpg") 0 0 no-repeat;
  background-size: cover;
  z-index: 1;
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .col .select-form:after, .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .filebox input.upload-name .select-form:after, .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .filebox label .select-form:after {
    width: 43px;
  }
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .col .select-form:after, .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .filebox input.upload-name .select-form:after, .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .filebox label .select-form:after {
    height: 16px;
  }
}

.eduf-layer .eduf-layer-wrap .eduf-layer-content .form .type-check input {
  position: relative;
  display: inline-block;
  vertical-align: top;
  top: 0.69444vw;
  margin-right: 0.69444vw;
  width: 4.16667vw;
  height: 4.16667vw;
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .type-check input {
    top: 5px;
  }
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .type-check input {
    margin-right: 5px;
  }
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .type-check input {
    width: 30px;
  }
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .type-check input {
    height: 30px;
  }
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .type-check input {
    top: 0;
    width: 24px;
    height: 24px;
  }
}

.eduf-layer .eduf-layer-wrap .eduf-layer-content .form .type-check label {
  font-weight: 400;
  color: #000;
  vertical-align: top;
  font-size: 3.88889vw;
  letter-spacing: -0.20833vw;
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .type-check label {
    font-size: 28px;
  }
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .type-check label {
    letter-spacing: -1.5px;
  }
}

.eduf-layer .eduf-layer-wrap .eduf-layer-content .form .type-check label + input {
  margin-left: 2.77778vw;
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .type-check label + input {
    margin-left: 20px;
  }
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .type-check label {
    font-size: 20px;
  }
}

.eduf-layer .eduf-layer-wrap .eduf-layer-content .form .filebox {
  position: relative;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.eduf-layer .eduf-layer-wrap .eduf-layer-content .form .filebox input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.eduf-layer .eduf-layer-wrap .eduf-layer-content .form .filebox input {
  outline: none;
}

.eduf-layer .eduf-layer-wrap .eduf-layer-content .form .filebox input.upload-name {
  padding: 2.77778vw;
  height: 11.11111vw;
  font-size: 3.33333vw;
  width: 70%;
  border: 1px solid #bbb;
  border-right: 0;
  border-radius: 5px 0 0 5px;
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .filebox input.upload-name {
    padding: 20px;
  }
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .filebox input.upload-name {
    height: 80px;
  }
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .filebox input.upload-name {
    font-size: 24px;
  }
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .filebox input.upload-name {
    font-size: 20px;
    height: 50px;
  }
}

.eduf-layer .eduf-layer-wrap .eduf-layer-content .form .filebox label {
  padding: 3.47222vw 0;
  height: 11.11111vw;
  font-size: 3.61111vw;
  letter-spacing: -0.27778vw;
  line-height: 1;
  font-weight: 700;
  width: 30%;
  color: #666;
  border: 1px solid #bbb;
  background-color: #eee;
  border-radius: 0 5px 5px 0;
  text-align: center;
  cursor: pointer;
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .filebox label {
    padding: 25px 0;
  }
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .filebox label {
    height: 80px;
  }
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .filebox label {
    font-size: 26px;
  }
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .filebox label {
    letter-spacing: -2px;
  }
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .filebox label,
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .filebox .upload-name {
    height: 50px;
    font-size: 20px;
    padding: 0 20px;
    line-height: 50px;
  }
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .filebox label {
    position: relative;
    display: inline-block;
  }
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .filebox label:before {
    content: '';
    position: absolute;
    top: 50%;
    display: block;
    width: 1.38889vw;
    height: 1.38889vw;
    margin-top: -0.69444vw;
    border-width: 0;
    border-style: solid;
    border-color: #666;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    right: 2.77778vw;
    border-top-width: 2px;
    border-right-width: 2px;
  }
}

@media screen and (min-width: 720px) and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .filebox label:before {
    width: 10px;
  }
}

@media screen and (min-width: 720px) and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .filebox label:before {
    height: 10px;
  }
}

@media screen and (min-width: 720px) and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .filebox label:before {
    margin-top: -5px;
  }
}

@media screen and (min-width: 720px) and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .filebox label:before {
    right: 20px;
  }
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .filebox label:before {
    right: 4.16667vw;
  }
}

@media screen and (min-width: 720px) and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .filebox label:before {
    right: 30px;
  }
}

.eduf-layer .eduf-layer-wrap .eduf-layer-content .form.text-write textarea {
  padding: 2.77778vw;
  height: 19.44444vw;
  width: 100%;
  text-align: left;
  line-height: 1.4;
  font-weight: 400;
  font-size: 3.61111vw;
  resize: none;
  border: 1px solid #dcdcdc;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form.text-write textarea {
    padding: 20px;
  }
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form.text-write textarea {
    height: 140px;
  }
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form.text-write textarea {
    font-size: 26px;
  }
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form.text-write textarea {
    font-size: 14px;
    color: #222;
  }
}

.eduf-layer .eduf-layer-wrap .eduf-layer-content .form.number .label-title {
  width: 30%;
  padding-top: 2.08333vw;
  padding-bottom: 2.08333vw;
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form.number .label-title {
    padding-top: 15px;
  }
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form.number .label-title {
    padding-bottom: 15px;
  }
}

.eduf-layer .eduf-layer-wrap .eduf-layer-content .form.number .label-title:before {
  top: 5vw;
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form.number .label-title:before {
    top: 36px;
  }
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form.number .label-title {
    padding-top: 0;
    padding-bottom: 0;
    height: 50px;
    line-height: 50px;
  }
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form.number .label-title:before {
    top: 22px;
  }
}

.eduf-layer .eduf-layer-wrap .eduf-layer-content .form.number .inputs {
  width: 70%;
}

.eduf-layer .eduf-layer-wrap .eduf-layer-content .form.number .inputs select,
.eduf-layer .eduf-layer-wrap .eduf-layer-content .form.number .inputs input {
  width: 100%;
  padding: 2.77778vw;
  font-size: 3.61111vw;
  border: 1px solid #bbb;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form.number .inputs select,
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form.number .inputs input {
    padding: 20px;
  }
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form.number .inputs select,
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form.number .inputs input {
    font-size: 26px;
  }
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form.number .inputs select,
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form.number .inputs input {
    height: 50px;
    font-size: 20px;
    padding: 0 20px;
    line-height: 50px;
  }
}

.eduf-layer .eduf-layer-wrap .eduf-layer-content .form + .form {
  padding-top: 4.16667vw;
  border-top: 1px dashed #ddd;
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form + .form {
    padding-top: 30px;
  }
}

.eduf-layer .eduf-layer-wrap .eduf-layer-content .form.privacy {
  margin-top: 5.55556vw;
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form.privacy {
    margin-top: 40px;
  }
}

.eduf-layer .eduf-layer-wrap .eduf-layer-content .form.approve {
  text-align: center;
}

.eduf-layer .eduf-layer-wrap .eduf-layer-content .form.approve .form-title {
  font-size: 3.88889vw;
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form.approve .form-title {
    font-size: 28px;
  }
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form.approve .form-title {
    font-size: 22px;
  }
}

.eduf-layer .eduf-layer-wrap .eduf-layer-content .form p {
  font-weight: 400;
  color: #979797;
  font-size: 3.33333vw;
  letter-spacing: -0.20833vw;
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form p {
    font-size: 24px;
  }
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form p {
    letter-spacing: -1.5px;
  }
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form p {
    font-size: 16px;
  }
}

.eduf-layer .eduf-layer-wrap .eduf-layer-content .form table {
  width: 100%;
  margin-top: 1.38889vw;
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form table {
    margin-top: 10px;
  }
}

.eduf-layer .eduf-layer-wrap .eduf-layer-content .form table thead th {
  padding: 1.94444vw 0;
  font-size: 2.77778vw;
  letter-spacing: -0.20833vw;
  font-weight: 700;
  color: #000;
  text-align: center;
  background: #f6f6f6;
  border-left: 1px solid #dbdbdb;
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form table thead th {
    padding: 14px 0;
  }
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form table thead th {
    font-size: 20px;
  }
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form table thead th {
    letter-spacing: -1.5px;
  }
}

.eduf-layer .eduf-layer-wrap .eduf-layer-content .form table thead tr th:first-child {
  border-left: 0;
}

.eduf-layer .eduf-layer-wrap .eduf-layer-content .form table tbody td {
  padding: 1.94444vw 0;
  font-size: 2.77778vw;
  letter-spacing: -0.20833vw;
  font-weight: 400;
  color: #000;
  text-align: center;
  border-bottom: 1px solid #dbdbdb;
  border-left: 1px solid #dbdbdb;
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form table tbody td {
    padding: 14px 0;
  }
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form table tbody td {
    font-size: 20px;
  }
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form table tbody td {
    letter-spacing: -1.5px;
  }
}

.eduf-layer .eduf-layer-wrap .eduf-layer-content .form table tbody td strong {
  color: #ec303d;
}

.eduf-layer .eduf-layer-wrap .eduf-layer-content .form table tbody tr td:first-child {
  border-left: 0;
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form table thead th,
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form table tbody td {
    font-size: 18px;
  }
}

.eduf-layer .eduf-layer-wrap .eduf-layer-content .form table + p {
  margin-top: 1.38889vw;
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form table + p {
    margin-top: 10px;
  }
}

.eduf-layer .eduf-layer-wrap .eduf-layer-content .form .agree-check {
  margin-top: 4.16667vw;
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .agree-check {
    margin-top: 30px;
  }
}

.eduf-layer .eduf-layer-wrap .eduf-layer-content .form .agree-check input {
  position: relative;
  display: inline-block;
  vertical-align: top;
  top: 0.69444vw;
  margin-right: 0.69444vw;
  width: 4.16667vw;
  height: 4.16667vw;
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .agree-check input {
    top: 5px;
  }
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .agree-check input {
    margin-right: 5px;
  }
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .agree-check input {
    width: 30px;
  }
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .agree-check input {
    height: 30px;
  }
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .agree-check input {
    top: 0;
    width: 24px;
    height: 24px;
  }
}

.eduf-layer .eduf-layer-wrap .eduf-layer-content .form .agree-check label {
  font-weight: 700;
  color: #000;
  vertical-align: top;
  font-size: 3.88889vw;
  letter-spacing: -0.20833vw;
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .agree-check label {
    font-size: 28px;
  }
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .agree-check label {
    letter-spacing: -1.5px;
  }
}

.eduf-layer .eduf-layer-wrap .eduf-layer-content .form .agree-check label + input {
  margin-left: 2.77778vw;
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .agree-check label + input {
    margin-left: 20px;
  }
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .agree-check label {
    font-size: 20px;
  }
}

.eduf-layer .eduf-layer-wrap .eduf-layer-content .form .scroll-box {
  padding: 2.77778vw;
  margin: 1.38889vw 0;
  background: #f8f8f8;
  color: #555;
  line-height: 1.5;
  word-break: keep-all;
  letter-spacing: -0.20833vw;
  font-size: 3.33333vw;
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .scroll-box {
    padding: 20px;
  }
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .scroll-box {
    margin: 10px 0;
  }
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .scroll-box {
    letter-spacing: -1.5px;
  }
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .scroll-box {
    font-size: 24px;
  }
}

.eduf-layer .eduf-layer-wrap .eduf-layer-content .form .scroll-box strong, .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .scroll-box span {
  display: block;
  line-height: 1.5;
}

.eduf-layer .eduf-layer-wrap .eduf-layer-content .form .scroll-box span {
  margin-left: 2.08333vw;
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .scroll-box span {
    margin-left: 15px;
  }
}

.eduf-layer .eduf-layer-wrap .eduf-layer-content .form .scroll-box em {
  font-weight: 500;
  color: #000;
  font-size: 3.88889vw;
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .scroll-box em {
    font-size: 28px;
  }
}

.eduf-layer .eduf-layer-wrap .eduf-layer-content .form .scroll-box .highlight {
  color: #ec303d;
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .scroll-box {
    font-size: 14px;
  }
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .form .scroll-box em {
    font-size: 16px;
  }
}

.eduf-layer .eduf-layer-wrap .eduf-layer-content .tip-note {
  margin-top: 1.38889vw;
  font-size: 2.77778vw;
  color: #999;
  word-break: keep-all;
  font-weight: 400;
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .tip-note {
    margin-top: 10px;
  }
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .tip-note {
    font-size: 20px;
  }
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .tip-note {
    font-size: 15px;
  }
}

.eduf-layer .eduf-layer-wrap .eduf-layer-content .popup-btn {
  margin-top: 8.33333vw;
  text-align: center;
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .popup-btn {
    margin-top: 60px;
  }
}

.eduf-layer .eduf-layer-wrap .eduf-layer-content .popup-btn a, .eduf-layer .eduf-layer-wrap .eduf-layer-content .popup-btn button {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background: #ec303d;
  height: 11.11111vw;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .popup-btn a, .eduf-layer .eduf-layer-wrap .eduf-layer-content .popup-btn button {
    height: 80px;
  }
}

.eduf-layer .eduf-layer-wrap .eduf-layer-content .popup-btn a span, .eduf-layer .eduf-layer-wrap .eduf-layer-content .popup-btn button span {
  text-align: center;
  color: #fff;
  font-weight: 900;
  font-size: 4.86111vw;
  letter-spacing: -0.27778vw;
  line-height: 11.11111vw;
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .popup-btn a span, .eduf-layer .eduf-layer-wrap .eduf-layer-content .popup-btn button span {
    font-size: 35px;
  }
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .popup-btn a span, .eduf-layer .eduf-layer-wrap .eduf-layer-content .popup-btn button span {
    letter-spacing: -2px;
  }
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .popup-btn a span, .eduf-layer .eduf-layer-wrap .eduf-layer-content .popup-btn button span {
    line-height: 80px;
  }
}

.eduf-layer .eduf-layer-wrap .eduf-layer-content .base-contents .list li {
  color: #222;
  line-height: 1.5;
  word-break: keep-all;
  font-size: 3.05556vw;
  letter-spacing: -0.13889vw;
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .base-contents .list li {
    font-size: 22px;
  }
}

@media screen and (min-width: 720px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .base-contents .list li {
    letter-spacing: -1px;
  }
}

@media screen and (min-width: 1024px) {
  .eduf-layer .eduf-layer-wrap .eduf-layer-content .base-contents .list li {
    font-size: 18px;
  }
}

.eduf-layer.eduf-layer-form .eduf-layer-wrap {
  width: 100% !important;
  max-width: 720px !important;
}

.eduf-layer.eduf-layer-form .eduf-layer-wrap .eduf-layer-close {
  background-color: #fff;
}

.eduf-layer.eduf-layer-form ::-webkit-input-placeholder {
  color: #ccc !important;
  font-weight: 700;
  font-size: 2.77778vw;
  letter-spacing: -0.13889vw;
}

.eduf-layer.eduf-layer-form :-ms-input-placeholder {
  color: #ccc !important;
  font-weight: 700;
  font-size: 2.77778vw;
  letter-spacing: -0.13889vw;
}

.eduf-layer.eduf-layer-form ::-ms-input-placeholder {
  color: #ccc !important;
  font-weight: 700;
  font-size: 2.77778vw;
  letter-spacing: -0.13889vw;
}

.eduf-layer.eduf-layer-form ::placeholder {
  color: #ccc !important;
  font-weight: 700;
  font-size: 2.77778vw;
  letter-spacing: -0.13889vw;
}

@media screen and (min-width: 720px) {
  .eduf-layer.eduf-layer-form ::-webkit-input-placeholder {
    font-size: 20px;
  }
  .eduf-layer.eduf-layer-form :-ms-input-placeholder {
    font-size: 20px;
  }
  .eduf-layer.eduf-layer-form ::-ms-input-placeholder {
    font-size: 20px;
  }
  .eduf-layer.eduf-layer-form ::placeholder {
    font-size: 20px;
  }
}

@media screen and (min-width: 720px) {
  .eduf-layer.eduf-layer-form ::-webkit-input-placeholder {
    letter-spacing: -1px;
  }
  .eduf-layer.eduf-layer-form :-ms-input-placeholder {
    letter-spacing: -1px;
  }
  .eduf-layer.eduf-layer-form ::-ms-input-placeholder {
    letter-spacing: -1px;
  }
  .eduf-layer.eduf-layer-form ::placeholder {
    letter-spacing: -1px;
  }
}

.eduf-layer.eduf-layer-story .eduf-layer-wrap {
  width: 100% !important;
  max-width: 600px !important;
}

.eduf-layer.eduf-layer-story .eduf-layer-wrap .eduf-layer-close {
  background-color: #393939;
}

.eduf-layer.eduf-layer-story .eduf-layer-wrap .eduf-layer-close:before, .eduf-layer.eduf-layer-story .eduf-layer-wrap .eduf-layer-close:after {
  background-color: #fff;
}

.eduf-layer.eduf-layer-story ::-webkit-input-placeholder {
  color: #333 !important;
  font-weight: 400;
  font-size: 3.33333vw;
  letter-spacing: -0.13889vw;
}

.eduf-layer.eduf-layer-story :-ms-input-placeholder {
  color: #333 !important;
  font-weight: 400;
  font-size: 3.33333vw;
  letter-spacing: -0.13889vw;
}

.eduf-layer.eduf-layer-story ::-ms-input-placeholder {
  color: #333 !important;
  font-weight: 400;
  font-size: 3.33333vw;
  letter-spacing: -0.13889vw;
}

.eduf-layer.eduf-layer-story ::placeholder {
  color: #333 !important;
  font-weight: 400;
  font-size: 3.33333vw;
  letter-spacing: -0.13889vw;
}

@media screen and (min-width: 720px) {
  .eduf-layer.eduf-layer-story ::-webkit-input-placeholder {
    font-size: 24px;
  }
  .eduf-layer.eduf-layer-story :-ms-input-placeholder {
    font-size: 24px;
  }
  .eduf-layer.eduf-layer-story ::-ms-input-placeholder {
    font-size: 24px;
  }
  .eduf-layer.eduf-layer-story ::placeholder {
    font-size: 24px;
  }
}

@media screen and (min-width: 720px) {
  .eduf-layer.eduf-layer-story ::-webkit-input-placeholder {
    letter-spacing: -1px;
  }
  .eduf-layer.eduf-layer-story :-ms-input-placeholder {
    letter-spacing: -1px;
  }
  .eduf-layer.eduf-layer-story ::-ms-input-placeholder {
    letter-spacing: -1px;
  }
  .eduf-layer.eduf-layer-story ::placeholder {
    letter-spacing: -1px;
  }
}

@media screen and (min-width: 720px) {
  .eduf-layer.eduf-layer-story ::-webkit-input-placeholder {
    font-size: 16px;
  }
  .eduf-layer.eduf-layer-story :-ms-input-placeholder {
    font-size: 16px;
  }
  .eduf-layer.eduf-layer-story ::-ms-input-placeholder {
    font-size: 16px;
  }
  .eduf-layer.eduf-layer-story ::placeholder {
    font-size: 16px;
  }
}

.eduf-layer.eduf-layer-story .eduf-layer-content {
  padding: 0;
}

.eduf-layer.eduf-layer-story .eduf-layer-content .popup-title {
  position: relative;
  padding: 5.55556vw;
  background: #393939;
  border-radius: 0;
}

@media screen and (min-width: 720px) {
  .eduf-layer.eduf-layer-story .eduf-layer-content .popup-title {
    padding: 40px;
  }
}

.eduf-layer.eduf-layer-story .eduf-layer-content .popup-title p {
  text-align: left;
}

.eduf-layer.eduf-layer-story .eduf-layer-content .popup-title p strong {
  display: block;
  color: #fff;
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  font-weight: 900;
  line-height: 1.3;
  letter-spacing: -0.27778vw;
  font-size: 4.86111vw;
}

@media screen and (min-width: 720px) {
  .eduf-layer.eduf-layer-story .eduf-layer-content .popup-title p strong {
    letter-spacing: -2px;
  }
}

@media screen and (min-width: 720px) {
  .eduf-layer.eduf-layer-story .eduf-layer-content .popup-title p strong {
    font-size: 35px;
  }
}

.eduf-layer.eduf-layer-story .eduf-layer-content .popup-title p span {
  margin-top: 2.77778vw;
  display: inline-block;
  line-height: 1.3;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  font-size: 3.61111vw;
}

@media screen and (min-width: 720px) {
  .eduf-layer.eduf-layer-story .eduf-layer-content .popup-title p span {
    margin-top: 20px;
  }
}

@media screen and (min-width: 720px) {
  .eduf-layer.eduf-layer-story .eduf-layer-content .popup-title p span {
    font-size: 26px;
  }
}

@media screen and (min-width: 720px) {
  .eduf-layer.eduf-layer-story .eduf-layer-content .popup-title p span {
    font-size: 14px;
  }
}

.eduf-layer.eduf-layer-story .eduf-layer-content .popup-cont {
  padding: 5.55556vw 4.16667vw;
}

@media screen and (min-width: 720px) {
  .eduf-layer.eduf-layer-story .eduf-layer-content .popup-cont {
    padding: 40px 30px;
  }
}

.eduf-layer.eduf-layer-story .eduf-layer-content .ex-text {
  margin-bottom: 2.77778vw;
  color: #999;
  line-height: 1.5;
  font-weight: 500;
  font-size: 3.88889vw;
}

@media screen and (min-width: 720px) {
  .eduf-layer.eduf-layer-story .eduf-layer-content .ex-text {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 720px) {
  .eduf-layer.eduf-layer-story .eduf-layer-content .ex-text {
    font-size: 28px;
  }
}

@media screen and (min-width: 720px) {
  .eduf-layer.eduf-layer-story .eduf-layer-content .ex-text {
    font-size: 16px;
  }
}

.eduf-layer.eduf-layer-story .eduf-layer-content .popup-btn {
  margin-top: 4.16667vw;
  text-align: center;
}

@media screen and (min-width: 720px) {
  .eduf-layer.eduf-layer-story .eduf-layer-content .popup-btn {
    margin-top: 30px;
  }
}

.eduf-layer.eduf-layer-story .eduf-layer-content .popup-btn a, .eduf-layer.eduf-layer-story .eduf-layer-content .popup-btn button {
  position: relative;
  display: inline-block;
  width: 45%;
  box-shadow: inset 3px 3px 2px 0px rgba(255, 255, 255, 0.18);
  -webkit-box-shadow: inset 3px 3px 2px 0px rgba(255, 255, 255, 0.18);
  -webkit-transition: all 0.9 color 0.3;
  transition: all 0.9 color 0.3;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  border-radius: 0.69444vw;
  height: 8.33333vw;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (min-width: 720px) {
  .eduf-layer.eduf-layer-story .eduf-layer-content .popup-btn a, .eduf-layer.eduf-layer-story .eduf-layer-content .popup-btn button {
    border-radius: 5px;
  }
}

@media screen and (min-width: 720px) {
  .eduf-layer.eduf-layer-story .eduf-layer-content .popup-btn a, .eduf-layer.eduf-layer-story .eduf-layer-content .popup-btn button {
    height: 60px;
  }
}

.eduf-layer.eduf-layer-story .eduf-layer-content .popup-btn a span, .eduf-layer.eduf-layer-story .eduf-layer-content .popup-btn button span {
  display: block;
  width: 100%;
  text-align: center;
  color: #000;
  font-weight: 700;
  font-size: 2.77778vw;
  letter-spacing: -0.27778vw;
  line-height: 8.33333vw;
}

@media screen and (min-width: 720px) {
  .eduf-layer.eduf-layer-story .eduf-layer-content .popup-btn a span, .eduf-layer.eduf-layer-story .eduf-layer-content .popup-btn button span {
    font-size: 20px;
  }
}

@media screen and (min-width: 720px) {
  .eduf-layer.eduf-layer-story .eduf-layer-content .popup-btn a span, .eduf-layer.eduf-layer-story .eduf-layer-content .popup-btn button span {
    letter-spacing: -2px;
  }
}

@media screen and (min-width: 720px) {
  .eduf-layer.eduf-layer-story .eduf-layer-content .popup-btn a span, .eduf-layer.eduf-layer-story .eduf-layer-content .popup-btn button span {
    line-height: 60px;
  }
}

.eduf-layer.eduf-layer-story .eduf-layer-content .popup-btn a.btn-apply, .eduf-layer.eduf-layer-story .eduf-layer-content .popup-btn button.btn-apply {
  background: #ffd500;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffd500), color-stop(89%, #ffd500), color-stop(96%, #e9c200), to(#e9c200));
  background: linear-gradient(to bottom, #ffd500 0%, #ffd500 89%, #e9c200 96%, #e9c200 100%);
}

.eduf-layer.eduf-layer-story .eduf-layer-content .popup-btn a.btn-cancle, .eduf-layer.eduf-layer-story .eduf-layer-content .popup-btn button.btn-cancle {
  background-color: #cbcbcb;
}

.eduf-layer.eduf-layer-story .eduf-layer-content .popup-btn a + a, .eduf-layer.eduf-layer-story .eduf-layer-content .popup-btn a button, .eduf-layer.eduf-layer-story .eduf-layer-content .popup-btn button + a, .eduf-layer.eduf-layer-story .eduf-layer-content .popup-btn button button {
  margin-left: 1.38889vw;
}

@media screen and (min-width: 720px) {
  .eduf-layer.eduf-layer-story .eduf-layer-content .popup-btn a + a, .eduf-layer.eduf-layer-story .eduf-layer-content .popup-btn a button, .eduf-layer.eduf-layer-story .eduf-layer-content .popup-btn button + a, .eduf-layer.eduf-layer-story .eduf-layer-content .popup-btn button button {
    margin-left: 10px;
  }
}
/*# sourceMappingURL=form.css.map */