.footer-wrap {
    background-color: $color-Dark;
    position: relative;
    .item {
        box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
        &:first-child {
            box-shadow: none;
        }

        &-news {
            padding: 27px 0 26px;
            position: relative;
            padding-left: 74px;
            &-label {
                margin-right: 20px;
                @include font-size-color-weight($typo-size-15, $color-White, 400);
                line-height: 18px;
                position: absolute; top: 28px; left: 0;
            }
            &-link {
                height: 20px; line-height: 18px;
                display: inline-block;
                overflow: hidden;
                @include font-size-color-weight($typo-size-15, $color-White, 400);
                text-decoration: none;
            }
            &-text {
                @include font-init("AppleSDGothicNeoB");
            }
            &-date {
                margin-left: 29px;
                color: $color-Medium-Light;
            }
            &-more {
                position: absolute; top: 50%; right: 0;
                @include translateY(-50%);
                .btn {
                    @include font-size-color-weight($typo-size-14, $color-White, 400);
                }
            }
        }

        &-link {
            padding: 29px 0 26px;
            position: relative;
            & > ul {
                font-size: 0;
                li {
                    display: inline-block;
                    margin-right: 24px;
                    a {
                        height: 15px; line-height: 18px;
                        display: inline-block;
                        @include font-size-color-weight($typo-size-15, $color-White, 400);
                        span {
                            font-weight: 700;
                        }
                    }
                }
            }
            &-more {
                position: absolute; top: 50%; right: 0;
                @include translateY(-50%);
                .btn {
                    width: 176px; 
                    background-color: transparent;
                    border-color: $color-Medium;
                    color: $color-White;
                    text-align: left;
                    padding: 8px 12px 5px;
                    position: relative;
                    .icon {
                        position: absolute; top: 50%; right: 14px;
                        @include translateY(-50%);
                    }
                }
                .dropdown-menu {
                    padding: 0; margin: 10px 0 0 0;
                    min-width: 100%;
                    left: auto; right: 0;
                    bottom: 48px;
                    top: auto;
                }
            }
        }

        &-address {
            @include clearfix();
            padding: 40px 0 58px;
            .col {
                float: left;
                p {
                    color: $color-Medium-Light;
                }
                &-logo {
                    width: 206px;
                    a {
                        display: block;
                        font-size: 0;
                        width: 166px; height: 26px;
                        @include background-name-ext-repeat-poistion('common/bi-white@2x', png, no-repeat, 0 0);
                        background-size: contain;
                    }
                    &-eduwill {
                        width: 180px;
                        a {
                            display: block;
                            img {
                                width: 130px;
                            }
                        }
                    }
                }
                &-faq {
                    width: 394px;
                    p.text-1 {
                        color: $color-White;
                        font-size: $typo-size-28;
                        padding-bottom: 14px;
                        letter-spacing: -1px;
                    }
                    p.text-2 {
                        font-size: $typo-size-15;
                        padding-bottom: 24px;
                    }
                    .btn {
                        width: 173px;
                    }
                }
                &-corp {
                    width: 600px;
                    p.text-1 {
                        @include font-init("AppleSDGothicNeoB");
                        font-size: $typo-size-14;
                        padding-bottom: 16px;
                        line-height: 18px;                        
                    }
                    p.text-2 {
                        font-size: $typo-size-13;
                        padding-bottom: 16px;
                        line-height: 23px;
                        white-space: pre-line;
                    }
                    p.text-3 {
                        font-size: $typo-size-12;
                    }
                }
            }
        }

        &-top {
            display: none;
            opacity: 1;
            box-shadow: none;
            position: fixed; bottom: 30px; right: 30px;
            .btn {
                width: 60px; height: 60px;
                border-radius: 30px;
                background-color: $color-Dark;
                border-color: $color-Dark;
                box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.25);
            }
            // &.nav-up {
            //     opacity: 1;
            //     @include transition-all(.3s);
            // }
            &.limit {
                position: absolute;
                right: 30px;
                bottom: 445px;
            }
        }
    }
}