@charset "UTF-8";
a {
  outline: 0;
  outline: none;
}

.grid {
  *zoom: 1;
}

.grid:before, .grid:after {
  content: '';
  display: table;
}

.grid:after {
  clear: both;
}

.hidden,
.sr_only,
.sr-only {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.grid {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.grid .col {
  position: relative;
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.table {
  display: table;
}

.table .table-cell {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

.product-eco .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  display: block;
  margin: 0;
  padding: 0;
  font-size: 0;
  color: transparent;
  text-indent: -9999px;
  border: none;
  background: none;
  outline: none;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.product-eco .sector-lineup .tab-list a:only-child, .product-eco .sector-lineup .tab-list a:nth-child(1):nth-last-child(1) {
  width: 100%;
}

.product-eco .sector-lineup .tab-list a:nth-child(1):nth-last-child(2), .product-eco .sector-lineup .tab-list a:nth-child(2):nth-last-child(1) {
  width: 50%;
}

.product-eco .sector-lineup .tab-list a:nth-child(1):nth-last-child(3), .product-eco .sector-lineup .tab-list a:nth-child(2):nth-last-child(2), .product-eco .sector-lineup .tab-list a:nth-child(3):nth-last-child(1) {
  width: 33.333%;
}

.product-eco .sector-lineup .tab-list a:nth-child(1):nth-last-child(4), .product-eco .sector-lineup .tab-list a:nth-child(2):nth-last-child(3), .product-eco .sector-lineup .tab-list a:nth-child(3):nth-last-child(2), .product-eco .sector-lineup .tab-list a:nth-child(4):nth-last-child(1) {
  width: 25%;
}

.product-eco .sector-lineup .tab-list a:nth-child(1):nth-last-child(5), .product-eco .sector-lineup .tab-list a:nth-child(2):nth-last-child(4), .product-eco .sector-lineup .tab-list a:nth-child(3):nth-last-child(3), .product-eco .sector-lineup .tab-list a:nth-child(4):nth-last-child(2), .product-eco .sector-lineup .tab-list a:nth-child(5):nth-last-child(1) {
  width: 20%;
}

.product-eco .sector-lineup .tab-list a:nth-child(1):nth-last-child(6), .product-eco .sector-lineup .tab-list a:nth-child(2):nth-last-child(5), .product-eco .sector-lineup .tab-list a:nth-child(3):nth-last-child(4), .product-eco .sector-lineup .tab-list a:nth-child(4):nth-last-child(3), .product-eco .sector-lineup .tab-list a:nth-child(5):nth-last-child(2), .product-eco .sector-lineup .tab-list a:nth-child(6):nth-last-child(1) {
  width: 16.66%;
}

.product-eco .sector-lineup .tab-list a:nth-child(1):nth-last-child(7), .product-eco .sector-lineup .tab-list a:nth-child(2):nth-last-child(6), .product-eco .sector-lineup .tab-list a:nth-child(3):nth-last-child(5), .product-eco .sector-lineup .tab-list a:nth-child(4):nth-last-child(4), .product-eco .sector-lineup .tab-list a:nth-child(5):nth-last-child(3), .product-eco .sector-lineup .tab-list a:nth-child(6):nth-last-child(2), .product-eco .sector-lineup .tab-list a:nth-child(7):nth-last-child(1) {
  width: 14.28571%;
}

.product-eco .sector-lineup .tab-list a:nth-child(1):nth-last-child(8), .product-eco .sector-lineup .tab-list a:nth-child(2):nth-last-child(7), .product-eco .sector-lineup .tab-list a:nth-child(3):nth-last-child(6), .product-eco .sector-lineup .tab-list a:nth-child(4):nth-last-child(5), .product-eco .sector-lineup .tab-list a:nth-child(5):nth-last-child(4), .product-eco .sector-lineup .tab-list a:nth-child(6):nth-last-child(3), .product-eco .sector-lineup .tab-list a:nth-child(7):nth-last-child(2), .product-eco .sector-lineup .tab-list a:nth-child(8):nth-last-child(1) {
  width: 12.5%;
}

.product-eco .sector-lineup .tab-list a:nth-child(1):nth-last-child(9), .product-eco .sector-lineup .tab-list a:nth-child(2):nth-last-child(8), .product-eco .sector-lineup .tab-list a:nth-child(3):nth-last-child(7), .product-eco .sector-lineup .tab-list a:nth-child(4):nth-last-child(6), .product-eco .sector-lineup .tab-list a:nth-child(5):nth-last-child(5), .product-eco .sector-lineup .tab-list a:nth-child(6):nth-last-child(4), .product-eco .sector-lineup .tab-list a:nth-child(7):nth-last-child(3), .product-eco .sector-lineup .tab-list a:nth-child(8):nth-last-child(2), .product-eco .sector-lineup .tab-list a:nth-child(9):nth-last-child(1) {
  width: 11.11%;
}

.product-eco .sector-lineup .tab-list a:nth-child(1):nth-last-child(10), .product-eco .sector-lineup .tab-list a:nth-child(2):nth-last-child(9), .product-eco .sector-lineup .tab-list a:nth-child(3):nth-last-child(8), .product-eco .sector-lineup .tab-list a:nth-child(4):nth-last-child(7), .product-eco .sector-lineup .tab-list a:nth-child(5):nth-last-child(6), .product-eco .sector-lineup .tab-list a:nth-child(6):nth-last-child(5), .product-eco .sector-lineup .tab-list a:nth-child(7):nth-last-child(4), .product-eco .sector-lineup .tab-list a:nth-child(8):nth-last-child(3), .product-eco .sector-lineup .tab-list a:nth-child(9):nth-last-child(2), .product-eco .sector-lineup .tab-list a:nth-child(10):nth-last-child(1) {
  width: 10%;
}

.effect-bounce-diagonal {
  -webkit-animation-name: effectBounceDiagonal;
          animation-name: effectBounceDiagonal;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes effectBounceDiagonal {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}

@keyframes effectBounceDiagonal {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}

.effect-bounce-updown {
  -webkit-animation-name: effectBounceUpDown;
          animation-name: effectBounceUpDown;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes effectBounceUpDown {
  0%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@keyframes effectBounceUpDown {
  0%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

.effect-extend {
  -webkit-animation-name: effectExtend;
          animation-name: effectExtend;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes effectExtend {
  0%, 100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
}

@keyframes effectExtend {
  0%, 100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
}

.effect-blink, .product-eco .sector-event .flag {
  -webkit-animation-name: effectBlink;
          animation-name: effectBlink;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: step-end;
          animation-timing-function: step-end;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes effectBlink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes effectBlink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.layer-dim {
  display: none;
  position: fixed;
  top: 0;
  right: 0px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background: #000;
  opacity: .8;
  overflow: hidden;
}

.layer-review {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10001;
  max-width: 768px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.layer-review .layer-close {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 8.33333vw;
  height: 8.33333vw;
  top: -60px;
  z-index: 10002;
}

@media screen and (min-width: 720px) {
  .layer-review .layer-close {
    width: 60px;
  }
}

@media screen and (min-width: 720px) {
  .layer-review .layer-close {
    height: 60px;
  }
}

.layer-review .layer-close:before, .layer-review .layer-close:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 30px;
  height: 2px;
  margin-left: -15px;
  background-color: #fff;
}

.layer-review .layer-close:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.layer-review .layer-close:after {
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
}

.layer-review .layer-close span {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.layer-review .layer-box {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.layer-review .layer-box iframe, .layer-review .layer-box video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: inherit;
     object-fit: inherit;
}

.product-eco *, .product-eco *:before, .product-eco *:after {
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  letter-spacing: -0.13889vw;
}

@media screen and (min-width: 720px) {
  .product-eco *, .product-eco *:before, .product-eco *:after {
    letter-spacing: -1px;
  }
}

.product-eco li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.product-eco img {
  border: 0;
  vertical-align: top;
}

.product-eco [class^="sector-"] {
  position: relative;
}

.product-eco .wrap {
  position: relative;
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  text-align: center;
}

.product-eco .wrap-full {
  width: 100%;
}

.product-eco .holder {
  position: relative;
}

.product-eco .icon-pointer {
  position: relative;
  display: inline-block;
}

.product-eco .icon-pointer:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
  display: block;
  width: 11.11111vw;
  height: 12.22222vw;
  background: url("https://img.eduwill.net/Img2/Common/icon/pointer/icon_pointer_1.png") no-repeat 0 0;
  background-size: 100% auto;
  -webkit-animation-name: pointerBounceDiagonal;
          animation-name: pointerBounceDiagonal;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@media screen and (min-width: 720px) {
  .product-eco .icon-pointer:after {
    width: 80px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .icon-pointer:after {
    height: 88px;
  }
}

@-webkit-keyframes pointerBounceDiagonal {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}

@keyframes pointerBounceDiagonal {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}

.product-eco .slick-arrow {
  top: 50%;
  border-radius: 50%;
  left: auto;
  z-index: 112;
}

.product-eco .slick-arrow.slick-prev {
  position: absolute;
  top: 50%;
  z-index: 10;
  display: block;
  width: 8.33333vw;
  height: 8.33333vw;
  margin: 0;
  padding: 0;
  font-size: 0;
  color: transparent;
  text-indent: -9999px;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  left: 4%;
}

@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-prev {
    width: 60px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-prev {
    height: 60px;
  }
}

.product-eco .slick-arrow.slick-prev:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 2.08333vw;
  height: 2.08333vw;
  border-width: 0;
  border-style: solid;
  border-color: #fff;
  border-bottom-width: 2px;
  border-left-width: 2px;
  -webkit-transform: translate(-25%, -50%) rotate(45deg);
  transform: translate(-25%, -50%) rotate(45deg);
}

@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-prev:before {
    width: 15px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-prev:before {
    height: 15px;
  }
}

.product-eco .slick-arrow.slick-next {
  position: absolute;
  top: 50%;
  z-index: 10;
  display: block;
  width: 8.33333vw;
  height: 8.33333vw;
  margin: 0;
  padding: 0;
  font-size: 0;
  color: transparent;
  text-indent: -9999px;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  left: auto;
  right: 4%;
}

@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-next {
    width: 60px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-next {
    height: 60px;
  }
}

.product-eco .slick-arrow.slick-next:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 2.08333vw;
  height: 2.08333vw;
  border-width: 0;
  border-style: solid;
  border-color: #fff;
  border-top-width: 2px;
  border-right-width: 2px;
  -webkit-transform: translate(-75%, -50%) rotate(45deg);
  transform: translate(-75%, -50%) rotate(45deg);
}

@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-next:before {
    width: 15px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-next:before {
    height: 15px;
  }
}

.product-eco .slick-dots {
  position: absolute;
  bottom: 8%;
  right: 0;
  left: 0;
  font-size: 0;
  z-index: 1;
}

.product-eco .slick-dots li {
  display: inline-block;
  margin: 0 0.83333vw;
}

@media screen and (min-width: 720px) {
  .product-eco .slick-dots li {
    margin: 0 6px;
  }
}

.product-eco .slick-dots li.slick-active button {
  background-color: #ffc20e;
}

.product-eco .slick-dots button {
  display: block;
  width: 2.77778vw;
  height: 2.77778vw;
  color: transparent;
  border: none;
  border-radius: 50%;
  background-color: #ddd;
  outline: none;
  cursor: pointer;
}

@media screen and (min-width: 720px) {
  .product-eco .slick-dots button {
    width: 20px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .slick-dots button {
    height: 20px;
  }
}

.product-eco .slick-slide {
  outline: none;
}

.product-eco .slick-slide a {
  outline: none;
}

.product-eco .action {
  position: relative;
}

.product-eco .action a {
  display: block;
  text-align: center;
  width: 100%;
  font-weight: 900;
  padding: 4.16667vw 4.16667vw 4.16667vw 0;
  letter-spacing: -0.27778vw;
  font-size: 4.72222vw;
  line-height: 1;
  background: #080d0a;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.product-eco .action a {
  position: relative;
  display: inline-block;
}

.product-eco .action a:before {
  content: '';
  position: absolute;
  top: 50%;
  display: block;
  width: 1.38889vw;
  height: 1.38889vw;
  margin-top: -0.69444vw;
  border-width: 0;
  border-style: solid;
  border-color: #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  right: 2.77778vw;
  border-top-width: 2px;
  border-right-width: 2px;
}

@media screen and (min-width: 720px) {
  .product-eco .action a:before {
    width: 10px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .action a:before {
    height: 10px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .action a:before {
    margin-top: -5px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .action a:before {
    right: 20px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .action a {
    padding: 30px 30px 30px 0;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .action a {
    letter-spacing: -2px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .action a {
    font-size: 34px;
  }
}

.product-eco .action a:before {
  right: 4.16667vw;
}

@media screen and (min-width: 720px) {
  .product-eco .action a:before {
    right: 30px;
  }
}

.product-eco .notice {
  text-align: right;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.4);
  line-height: 1.5;
  font-size: 3.05556vw;
  letter-spacing: -0.20833vw;
}

@media screen and (min-width: 720px) {
  .product-eco .notice {
    font-size: 22px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .notice {
    letter-spacing: -1.5px;
  }
}

.product-eco .sector-title {
  background-color: #f6e1ea;
  background-image: url("https://img.eduwill.net/eduwill/img/2022/G/product/220427/mobile/bg_title.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto 100%;
}

.product-eco .sector-title .wrap a {
  bottom: 15.97222vw;
  width: 90.13889vw;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-title .wrap a {
    bottom: 115px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .sector-title .wrap a {
    width: 649px;
  }
}

.product-eco .sector-title .wrap a::after {
  right: 0;
}

.product-eco .sector-title .wrap .flag {
  position: absolute;
  bottom: 24.30556vw;
  left: 30%;
  width: 43.05556vw;
  height: 12.5vw;
  line-height: 8.33333vw;
  background-image: url("https://img.eduwill.net/eduwill/img/2022/G/product/220427/mobile/title_flag.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  font-size: 2.77778vw;
  font-weight: 500;
  letter-spacing: -0.5;
  color: #fff;
  -webkit-animation-name: imgBounce;
          animation-name: imgBounce;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-title .wrap .flag {
    bottom: 175px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .sector-title .wrap .flag {
    width: 310px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .sector-title .wrap .flag {
    height: 90px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .sector-title .wrap .flag {
    line-height: 60px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .sector-title .wrap .flag {
    font-size: 20px;
  }
}

@-webkit-keyframes imgBounce {
  0%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@keyframes imgBounce {
  0%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

.product-eco .sector-intro {
  background: #ec5985;
  background: -webkit-gradient(linear, left top, left bottom, from(#ec5985), to(#f285ad));
  background: linear-gradient(to bottom, #ec5985 0%, #f285ad 100%);
}

.product-eco .sector-banner-1 {
  background: #b8e9ff;
}

.product-eco .sector-lineup {
  background: #fff;
}

.product-eco .sector-lineup .tab-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 91.66667vw;
  height: 21.94444vw;
  margin: 0 auto;
  font-size: 0;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-lineup .tab-list {
    width: 660px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .sector-lineup .tab-list {
    height: 158px;
  }
}

.product-eco .sector-lineup .tab-list a {
  position: relative;
  display: block;
  width: 45.41667vw;
  height: 21.94444vw;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-lineup .tab-list a {
    width: 327px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .sector-lineup .tab-list a {
    height: 158px;
  }
}

.product-eco .sector-lineup .tab-list a span {
  display: none;
}

.product-eco .sector-lineup .tab-list a.tab-1 {
  background-image: url("https://img.eduwill.net/eduwill/img/2022/G/product/220427/mobile/tab1-off.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.product-eco .sector-lineup .tab-list a.tab-1.active {
  background-image: url("https://img.eduwill.net/eduwill/img/2022/G/product/220427/mobile/tab1-on.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.product-eco .sector-lineup .tab-list a.tab-2 {
  background-image: url("https://img.eduwill.net/eduwill/img/2022/G/product/220427/mobile/tab2-off.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.product-eco .sector-lineup .tab-list a.tab-2.active {
  background-image: url("https://img.eduwill.net/eduwill/img/2022/G/product/220427/mobile/tab2-on.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.product-eco .sector-lineup .tab-view {
  position: relative;
  z-index: 1;
  display: none;
  height: 144.44444vw;
  overflow: hidden;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-lineup .tab-view {
    height: 1040px;
  }
}

.product-eco .sector-lineup .tab-view.tab-view-1 {
  background-color: #ffe3e6;
}

.product-eco .sector-lineup .tab-view.tab-view-2 {
  background-color: #b8e9ff;
}

.product-eco .sector-lineup .tab-view.active {
  display: block;
}

.product-eco .sector-lineup .tab-view .video-box {
  position: absolute;
  top: 29.86111vw;
  width: 87.5vw;
  height: 48.61111vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media screen and (min-width: 720px) {
  .product-eco .sector-lineup .tab-view .video-box {
    top: 215px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .sector-lineup .tab-view .video-box {
    width: 630px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .sector-lineup .tab-view .video-box {
    height: 350px;
  }
}

.product-eco .sector-lineup .tab-view .video-box a {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.product-eco .sector-lineup .tab-view .teacher {
  position: absolute;
  top: 81.25vw;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-lineup .tab-view .teacher {
    top: 585px;
  }
}

.product-eco .sector-lineup .tab-view .teacher .teacher-1 {
  width: 56.94444vw;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-lineup .tab-view .teacher .teacher-1 {
    width: 410px;
  }
}

.product-eco .sector-lineup .tab-view .teacher .teacher-2 {
  width: 49.44444vw;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-lineup .tab-view .teacher .teacher-2 {
    width: 356px;
  }
}

.product-eco .sector-lineup .tab-view .text-list {
  position: absolute;
  top: 86.11111vw;
  right: 4.16667vw;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-lineup .tab-view .text-list {
    top: 620px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .sector-lineup .tab-view .text-list {
    right: 30px;
  }
}

.product-eco .sector-lineup .tab-view .text-list .txt-1 {
  width: 44.86111vw;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-lineup .tab-view .text-list .txt-1 {
    width: 323px;
  }
}

.product-eco .sector-lineup .tab-view .text-list .txt-2 {
  width: 49.86111vw;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-lineup .tab-view .text-list .txt-2 {
    width: 359px;
  }
}

.product-eco .sector-banner-2 {
  background: #e04478;
}

.product-eco .sector-event {
  padding-bottom: 13.88889vw;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-event {
    padding-bottom: 100px;
  }
}

.product-eco .sector-event .gray-bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 76.38889vw;
  background-color: #f6f7f8;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-event .gray-bg {
    height: 550px;
  }
}

.product-eco .sector-event a {
  width: 94.58333vw;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-event a {
    width: 681px;
  }
}

.product-eco .sector-event .flag {
  position: absolute;
  top: 45.83333vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 43.19444vw;
  height: 14.72222vw;
  line-height: 9.30556vw;
  background-image: url("https://img.eduwill.net/eduwill/img/2022/G/product/220427/mobile/event_flag.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
  font-size: 2.77778vw;
  font-weight: 500;
  letter-spacing: -0.5;
  color: #fff;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-event .flag {
    top: 330px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .sector-event .flag {
    width: 311px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .sector-event .flag {
    height: 106px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .sector-event .flag {
    line-height: 67px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .sector-event .flag {
    font-size: 20px;
  }
}

.product-eco .sector-banner-3 {
  background-image: url("https://img.eduwill.net/eduwill/img/2022/G/product/220427/mobile/bg_banner_3.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
/*# sourceMappingURL=mobile.css.map */