@charset "UTF-8";
.grid {
  *zoom: 1;
}
.grid:before, .grid:after {
  content: "";
  display: table;
}
.grid:after {
  clear: both;
}

.hidden,
.sr_only,
.sr-only {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.grid {
  position: relative;
  box-sizing: border-box;
}
.grid .col {
  position: relative;
  float: left;
  box-sizing: border-box;
}

.table {
  display: table;
}
.table .table-cell {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

.effect-bounce-diagonal {
  animation-name: effectBounceDiagonal;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-direction: normal;
}
@keyframes effectBounceDiagonal {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10px, -10px);
  }
}

.effect-bounce-updown {
  animation-name: effectBounceUpDown;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-direction: normal;
}
@keyframes effectBounceUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.effect-extend {
  animation-name: effectExtend;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-direction: normal;
}
@keyframes effectExtend {
  0%, 100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
}

.effect-blink {
  animation-name: effectBlink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: step-end;
  animation-direction: normal;
}
@keyframes effectBlink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.promotion,
.product-eco,
.fullservice {
  text-align: center;
}
.promotion [class^=sector-],
.product-eco [class^=sector-],
.fullservice [class^=sector-] {
  position: relative;
}
.promotion .wrap,
.product-eco .wrap,
.fullservice .wrap {
  position: relative;
  margin: 0 auto;
}
.promotion .wrap-full,
.product-eco .wrap-full,
.fullservice .wrap-full {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 1100px) {
  .eduf-layer-base2 .eduf-layer-wrap {
    max-width: 1000px !important;
  }
}
.eduf-layer-base2 .eduf-layer-wrap .eco-5111,
.eduf-layer-base2 .eduf-layer-wrap .eco-5096 {
  overflow-x: scroll;
}
@media screen and (min-width: 1100px) {
  .eduf-layer-base2 .eduf-layer-wrap .eco-5111,
  .eduf-layer-base2 .eduf-layer-wrap .eco-5096 {
    overflow-x: auto;
  }
}
.eduf-layer-base2 .eduf-layer-wrap .eco-5111 table,
.eduf-layer-base2 .eduf-layer-wrap .eco-5096 table {
  min-width: 1000px;
}
@media screen and (min-width: 1100px) {
  .eduf-layer-base2 .eduf-layer-wrap .eco-5111 table,
  .eduf-layer-base2 .eduf-layer-wrap .eco-5096 table {
    min-width: auto;
  }
}
.eduf-layer-base2 .eduf-layer-wrap table {
  width: 100%;
  table-layout: fixed;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.eduf-layer-base2 .eduf-layer-wrap table th {
  background-color: #f4f4f4;
}
.eduf-layer-base2 .eduf-layer-wrap table th,
.eduf-layer-base2 .eduf-layer-wrap table td {
  padding: 1.3888888889vw 0;
  text-align: center;
  font-size: 1.9444444444vw;
  color: #000;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
}
@media screen and (min-width: 720px) {
  .eduf-layer-base2 .eduf-layer-wrap table th,
  .eduf-layer-base2 .eduf-layer-wrap table td {
    padding: 10px 0;
  }
}
@media screen and (min-width: 720px) {
  .eduf-layer-base2 .eduf-layer-wrap table th,
  .eduf-layer-base2 .eduf-layer-wrap table td {
    font-size: 14px;
  }
}
.eduf-layer-base2 .eduf-layer-wrap table th p,
.eduf-layer-base2 .eduf-layer-wrap table td p {
  margin-top: 1.3888888889vw;
  text-align: center;
  font-size: 1.9444444444vw;
  opacity: 1;
}
@media screen and (min-width: 720px) {
  .eduf-layer-base2 .eduf-layer-wrap table th p,
  .eduf-layer-base2 .eduf-layer-wrap table td p {
    margin-top: 10px;
  }
}
@media screen and (min-width: 720px) {
  .eduf-layer-base2 .eduf-layer-wrap table th p,
  .eduf-layer-base2 .eduf-layer-wrap table td p {
    font-size: 14px;
  }
}
.eduf-layer-base2 .eduf-layer-wrap table .cell-subject {
  text-align: left;
  padding-left: 1.3888888889vw;
  word-break: keep-all;
}
@media screen and (min-width: 720px) {
  .eduf-layer-base2 .eduf-layer-wrap table .cell-subject {
    padding-left: 10px;
  }
}
.eduf-layer-base2 .eduf-layer-wrap table .cell-teacher img,
.eduf-layer-base2 .eduf-layer-wrap table .cell-book img {
  width: 13.8888888889vw;
}
@media screen and (min-width: 720px) {
  .eduf-layer-base2 .eduf-layer-wrap table .cell-teacher img,
  .eduf-layer-base2 .eduf-layer-wrap table .cell-book img {
    width: 100px;
  }
}

.bottom_fix_btn {
  display: none !important;
}

.product-eco {
  overflow: hidden;
  text-align: center;
}
.product-eco * {
  line-height: normal;
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  font-size: inherit;
  color: inherit;
  letter-spacing: -1px;
}
.product-eco .icon-pointer {
  position: relative;
  display: inline-block;
}
.product-eco .icon-pointer:after {
  content: "";
  position: absolute;
  top: 54%;
  right: 0px;
  z-index: 1;
  display: block;
  width: 15.2777777778vw;
  height: 14.8611111111vw;
  background: url("//img.eduwill.net/Img2/Common/icon/pointer/icon_pointer_20.png") no-repeat 0 0;
  background-size: 100% auto;
  animation-name: pointerBounceDiagonal;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-direction: normal;
}
@media screen and (min-width: 720px) {
  .product-eco .icon-pointer:after {
    width: 110px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .icon-pointer:after {
    height: 107px;
  }
}
@keyframes pointerBounceDiagonal {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10px, -10px);
  }
}
.product-eco [class^=product-],
.product-eco .item {
  position: relative;
}
.product-eco .wrap,
.product-eco .wrap-full {
  max-width: 720px;
}
.product-eco button {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  font-family: inherit;
  text-decoration: none;
  border: none;
  background: transparent;
  outline: 0;
  cursor: pointer;
}
.product-eco .only-pc {
  display: none;
}
.product-eco .only-mobile {
  display: inline-block;
}
.product-eco .only-mobilebr {
  display: block;
}
.product-eco .fix-bottom {
  position: fixed;
  bottom: 45px;
  left: 0;
  right: 0;
  background-color: #000;
  z-index: 100;
}
.product-eco .btn-base {
  display: inline-block;
  font-size: 3.0555555556vw;
  color: #fff;
  padding: 1.6666666667vw 4.4444444444vw;
  border: 1px solid #fff;
}
@media screen and (min-width: 720px) {
  .product-eco .btn-base {
    font-size: 22px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .btn-base {
    padding: 12px 32px;
  }
}
.product-eco .btn-base span {
  position: relative;
  display: block;
  padding-right: 2.7777777778vw;
}
@media screen and (min-width: 720px) {
  .product-eco .btn-base span {
    padding-right: 20px;
  }
}
.product-eco .btn-base span {
  position: relative;
  display: inline-block;
}
.product-eco .btn-base span:before {
  content: "";
  position: absolute;
  top: 50%;
  display: block;
  width: 1.3888888889vw;
  height: 1.3888888889vw;
  margin-top: -0.6944444444vw;
  border-width: 0;
  border-style: solid;
  border-color: #fff;
  transform: rotate(45deg);
  right: 2.7777777778vw;
  border-top-width: 1px;
  border-right-width: 1px;
}
@media screen and (min-width: 720px) {
  .product-eco .btn-base span:before {
    width: 10px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .btn-base span:before {
    height: 10px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .btn-base span:before {
    margin-top: -5px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .btn-base span:before {
    right: 20px;
  }
}
.product-eco .btn-base span:before {
  right: 0;
}
.product-eco .table-wrap {
  width: 88.8888888889vw;
  margin: 0 auto;
  border: 1px solid #333;
  border-radius: 6.6666666667vw;
  box-shadow: 0 12px 36px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
@media screen and (min-width: 720px) {
  .product-eco .table-wrap {
    width: 640px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .table-wrap {
    border-radius: 48px;
  }
}
.product-eco .table-wrap table {
  width: 100%;
  background: #fff;
}
.product-eco .table-wrap thead tr:last-child {
  border-bottom: 1px solid #e7e7e7;
}
.product-eco .table-wrap thead th {
  background: #f1fefe;
}
.product-eco .table-wrap tr {
  border-bottom: 1px solid #e7e7e7;
}
.product-eco .table-wrap tr:last-child {
  border-bottom: 0;
}
.product-eco .table-wrap tr th, .product-eco .table-wrap tr td {
  text-align: left;
  padding: 4.4444444444vw 1.6666666667vw;
  font-size: 3.6111111111vw;
  font-weight: 700;
  color: #333;
}
@media screen and (min-width: 720px) {
  .product-eco .table-wrap tr th, .product-eco .table-wrap tr td {
    padding: 32px 12px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .table-wrap tr th, .product-eco .table-wrap tr td {
    font-size: 26px;
  }
}
.product-eco .table-wrap tr th strong, .product-eco .table-wrap tr td strong {
  color: #0e79ee;
}
.product-eco .table-wrap tr th:first-child, .product-eco .table-wrap tr td:first-child {
  text-align: right;
  color: #666;
}
.product-eco .sector-title {
  position: relative;
  background-image: url("//img.eduwill.net/eduwill/img/2023/_116/product/230214_1/mobile/bg_title.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-color: #412caf;
}
.product-eco .sector-title .wrap {
  text-align: right;
  padding-bottom: 12.5vw;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-title .wrap {
    padding-bottom: 90px;
  }
}
.product-eco .sector-title .title-contents {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.product-eco .sector-title .title-contents .content {
  width: 43.0555555556vw;
  text-align: center;
  color: #fff;
  line-height: 1.2;
  margin-right: 2.7777777778vw;
  margin-bottom: 2.7777777778vw;
  padding: 2.7777777778vw 0;
  border-radius: 12px;
  background: #152632;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-title .title-contents .content {
    width: 310px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .sector-title .title-contents .content {
    margin-right: 20px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .sector-title .title-contents .content {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .sector-title .title-contents .content {
    padding: 20px 0;
  }
}
.product-eco .sector-title .title-contents .content p {
  font-size: 3.3333333333vw;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-title .title-contents .content p {
    font-size: 24px;
  }
}
.product-eco .sector-title .title-contents .content span {
  font-size: 5vw;
  font-weight: 700;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-title .title-contents .content span {
    font-size: 36px;
  }
}
.product-eco .sector-title .title-contents .content:nth-child(2n) {
  margin-right: 0;
}
.product-eco .sector-title .title-contents .content.other {
  width: 88.8888888889vw;
  margin-right: 0;
  margin-bottom: 0;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-title .title-contents .content.other {
    width: 640px;
  }
}
.product-eco .sector-title .btn-base {
  margin-top: 2.7777777778vw;
  margin-right: 5.5555555556vw;
  opacity: 0.4;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-title .btn-base {
    margin-top: 20px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .sector-title .btn-base {
    margin-right: 40px;
  }
}
.product-eco .sector-program .wrap {
  padding-bottom: 19.4444444444vw;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-program .wrap {
    padding-bottom: 140px;
  }
}
.product-eco .sector-reason {
  background: #152632;
}
.product-eco .sector-reason.reason-1 {
  background: #f1fefe;
}
.product-eco .sector-reason.reason-1 .teacher a {
  display: block;
  margin-top: -11.1111111111vw;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-reason.reason-1 .teacher a {
    margin-top: -80px;
  }
}
.product-eco .sector-reason.reason-2 {
  background: #fff;
}
.product-eco .sector-reason.reason-3 {
  background: #f6f6f7;
}
.product-eco .sector-reason.reason-3 .action {
  position: absolute;
  bottom: 28.6111111111vw;
  left: 0;
  right: 0;
  width: 66.6666666667vw;
  margin: 0 auto;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-reason.reason-3 .action {
    bottom: 206px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .sector-reason.reason-3 .action {
    width: 480px;
  }
}
.product-eco .sector-curriculum .table-wrap .table-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.product-eco .sector-curriculum .table-wrap .table-content a {
  display: block;
  font-size: 3.8888888889vw;
  font-weight: 700;
  color: #fff;
  padding: 1.6666666667vw 6.6666666667vw;
  border-radius: 8.8888888889vw;
  background: #0e79ee;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-curriculum .table-wrap .table-content a {
    font-size: 28px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .sector-curriculum .table-wrap .table-content a {
    padding: 12px 48px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .sector-curriculum .table-wrap .table-content a {
    border-radius: 64px;
  }
}
.product-eco .sector-curriculum .table-wrap .table-content a.other {
  background: #cb3705;
}
.product-eco .sector-curriculum .table-wrap .table-content .price-wrap {
  text-align: right;
}
.product-eco .sector-curriculum .table-wrap .table-content .price-wrap .before-price {
  font-size: 3.0555555556vw;
  font-weight: 700;
  text-decoration: line-through;
  color: #999;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-curriculum .table-wrap .table-content .price-wrap .before-price {
    font-size: 22px;
  }
}
.product-eco .sector-curriculum .table-wrap .table-content .price-wrap .before-price em {
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  font-size: 3.3333333333vw;
  font-weight: 700;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-curriculum .table-wrap .table-content .price-wrap .before-price em {
    font-size: 24px;
  }
}
.product-eco .sector-curriculum .table-wrap .table-content .price-wrap .after-price {
  font-size: 5vw;
  font-weight: 700;
  color: #333;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-curriculum .table-wrap .table-content .price-wrap .after-price {
    font-size: 36px;
  }
}
.product-eco .sector-curriculum .table-wrap .table-content .price-wrap .after-price em {
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  font-size: 6.1111111111vw;
  font-weight: 700;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-curriculum .table-wrap .table-content .price-wrap .after-price em {
    font-size: 44px;
  }
}
.product-eco .sector-curriculum .table-wrap td:last-child {
  padding-right: 3.8888888889vw;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-curriculum .table-wrap td:last-child {
    padding-right: 28px;
  }
}
.product-eco .sector-curriculum .table-plus {
  position: relative;
  display: flex;
  margin: 8.3333333333vw 5.5555555556vw 0;
  padding: 5vw 0;
  border-radius: 8.8888888889vw;
  background: #404040;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.4);
}
@media screen and (min-width: 720px) {
  .product-eco .sector-curriculum .table-plus {
    margin: 60px 40px 0;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .sector-curriculum .table-plus {
    padding: 36px 0;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .sector-curriculum .table-plus {
    border-radius: 64px;
  }
}
.product-eco .sector-curriculum .table-plus:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -5.5555555556vw;
  display: block;
  width: 13.8888888889vw;
  height: 13.8888888889vw;
  margin: 0 auto;
  background-image: url("//img.eduwill.net/eduwill/img/2023/_116/product/230214_1/pc/table_plus.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100%;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-curriculum .table-plus:before {
    top: -40px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .sector-curriculum .table-plus:before {
    width: 100px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .sector-curriculum .table-plus:before {
    height: 100px;
  }
}
.product-eco .sector-curriculum .table-plus .item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 22.2222222222vw;
  text-align: center;
  color: #fff;
  line-height: 1.2;
  padding: 0 3.3333333333vw;
  box-sizing: border-box;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-curriculum .table-plus .item {
    height: 160px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .sector-curriculum .table-plus .item {
    padding: 0 24px;
  }
}
.product-eco .sector-curriculum .table-plus .item p {
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  font-size: 3.6111111111vw;
  font-weight: 700;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-curriculum .table-plus .item p {
    font-size: 26px;
  }
}
.product-eco .sector-curriculum .table-plus .item span {
  font-size: 3.0555555556vw;
  font-weight: 400;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-curriculum .table-plus .item span {
    font-size: 22px;
  }
}
.product-eco .sector-curriculum .table-plus .item:after {
  content: "";
  position: absolute;
  right: 0;
  width: 1px;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
}
.product-eco .sector-curriculum .table-plus .item.price {
  text-align: right;
  align-items: flex-end;
}
.product-eco .sector-curriculum .table-plus .item.price p {
  text-decoration: line-through;
}
.product-eco .sector-curriculum .table-plus .item.price p span {
  font-size: 3.3333333333vw;
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  font-weight: 700;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-curriculum .table-plus .item.price p span {
    font-size: 24px;
  }
}
.product-eco .sector-curriculum .table-plus .item.price strong {
  line-height: 1;
  font-size: 10vw;
  color: #99f9f4;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-curriculum .table-plus .item.price strong {
    font-size: 72px;
  }
}
.product-eco .sector-curriculum .table-plus .item.price strong span {
  position: relative;
  top: 0.5555555556vw;
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  font-size: 16.6666666667vw;
  line-height: 16.6666666667vw;
  font-weight: 900;
}
@media screen and (min-width: 720px) {
  .product-eco .sector-curriculum .table-plus .item.price strong span {
    top: 4px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .sector-curriculum .table-plus .item.price strong span {
    font-size: 120px;
  }
}
@media screen and (min-width: 720px) {
  .product-eco .sector-curriculum .table-plus .item.price strong span {
    line-height: 120px;
  }
}/*# sourceMappingURL=mobile.css.map */