
/* reset.css */

body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select,img,div{margin:0; padding:0}
img,fieldset{border:0}
ul,ol{list-style:none}
img,input,select{vertical-align:middle}
em,address{font-style:normal}
table{border-collapse:collapse; border-spacing:0px; empty-cells:show; table-layout:fixed}
legend,caption{visibility:hidden; width:0; height:0; margin:0; padding:0; font-size:0; line-height:0}
h1, h2, h3, h4, h5, h6, strong{font-family: nanum_b, 'nanum_b'; font-weight:normal}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 100;
    src: url('//contents.eduwill.net/font/noto-sans-kr/noto-sans-kr-v12-latin_korean-100.eot'); /* IE9 Compat Modes */
    src: local('Noto Sans KR Thin'), local('NotoSansKR-Thin'),
        url('//contents.eduwill.net/font/noto-sans-kr/noto-sans-kr-v12-latin_korean-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('//contents.eduwill.net/font/noto-sans-kr/noto-sans-kr-v12-latin_korean-100.woff2') format('woff2'), /* Super Modern Browsers */
        url('//contents.eduwill.net/font/noto-sans-kr/noto-sans-kr-v12-latin_korean-100.woff') format('woff'), /* Modern Browsers */
        url('//contents.eduwill.net/font/noto-sans-kr/noto-sans-kr-v12-latin_korean-100.ttf') format('truetype'), /* Safari, Android, iOS */
        url('//contents.eduwill.net/font/noto-sans-kr/noto-sans-kr-v12-latin_korean-100.svg#NotoSansKR') format('svg'); /* Legacy iOS */
    }
    
    @font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: url('//contents.eduwill.net/font/noto-sans-kr/noto-sans-kr-v12-latin_korean-300.eot'); /* IE9 Compat Modes */
    src: local('Noto Sans KR Light'), local('NotoSansKR-Light'),
        url('//contents.eduwill.net/font/noto-sans-kr/noto-sans-kr-v12-latin_korean-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('//contents.eduwill.net/font/noto-sans-kr/noto-sans-kr-v12-latin_korean-300.woff2') format('woff2'), /* Super Modern Browsers */
        url('//contents.eduwill.net/font/noto-sans-kr/noto-sans-kr-v12-latin_korean-300.woff') format('woff'), /* Modern Browsers */
        url('//contents.eduwill.net/font/noto-sans-kr/noto-sans-kr-v12-latin_korean-300.ttf') format('truetype'), /* Safari, Android, iOS */
        url('//contents.eduwill.net/font/noto-sans-kr/noto-sans-kr-v12-latin_korean-300.svg#NotoSansKR') format('svg'); /* Legacy iOS */
    }
    
    @font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url('//contents.eduwill.net/font/noto-sans-kr/noto-sans-kr-v12-latin_korean-regular.eot'); /* IE9 Compat Modes */
    src: local('Noto Sans KR Regular'), local('NotoSansKR-Regular'),
        url('//contents.eduwill.net/font/noto-sans-kr/noto-sans-kr-v12-latin_korean-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('//contents.eduwill.net/font/noto-sans-kr/noto-sans-kr-v12-latin_korean-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('//contents.eduwill.net/font/noto-sans-kr/noto-sans-kr-v12-latin_korean-regular.woff') format('woff'), /* Modern Browsers */
        url('//contents.eduwill.net/font/noto-sans-kr/noto-sans-kr-v12-latin_korean-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('//contents.eduwill.net/font/noto-sans-kr/noto-sans-kr-v12-latin_korean-regular.svg#NotoSansKR') format('svg'); /* Legacy iOS */
    }
    
    @font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    src: url('//contents.eduwill.net/font/noto-sans-kr/noto-sans-kr-v12-latin_korean-500.eot'); /* IE9 Compat Modes */
    src: local('Noto Sans KR Medium'), local('NotoSansKR-Medium'),
        url('//contents.eduwill.net/font/noto-sans-kr/noto-sans-kr-v12-latin_korean-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('//contents.eduwill.net/font/noto-sans-kr/noto-sans-kr-v12-latin_korean-500.woff2') format('woff2'), /* Super Modern Browsers */
        url('//contents.eduwill.net/font/noto-sans-kr/noto-sans-kr-v12-latin_korean-500.woff') format('woff'), /* Modern Browsers */
        url('//contents.eduwill.net/font/noto-sans-kr/noto-sans-kr-v12-latin_korean-500.ttf') format('truetype'), /* Safari, Android, iOS */
        url('//contents.eduwill.net/font/noto-sans-kr/noto-sans-kr-v12-latin_korean-500.svg#NotoSansKR') format('svg'); /* Legacy iOS */
    }
    
    @font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    src: url('//contents.eduwill.net/font/noto-sans-kr/noto-sans-kr-v12-latin_korean-700.eot'); /* IE9 Compat Modes */
    src: local('Noto Sans KR Bold'), local('NotoSansKR-Bold'),
        url('//contents.eduwill.net/font/noto-sans-kr/noto-sans-kr-v12-latin_korean-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('//contents.eduwill.net/font/noto-sans-kr/noto-sans-kr-v12-latin_korean-700.woff2') format('woff2'), /* Super Modern Browsers */
        url('//contents.eduwill.net/font/noto-sans-kr/noto-sans-kr-v12-latin_korean-700.woff') format('woff'), /* Modern Browsers */
        url('//contents.eduwill.net/font/noto-sans-kr/noto-sans-kr-v12-latin_korean-700.ttf') format('truetype'), /* Safari, Android, iOS */
        url('//contents.eduwill.net/font/noto-sans-kr/noto-sans-kr-v12-latin_korean-700.svg#NotoSansKR') format('svg'); /* Legacy iOS */
    }
    
    @font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 900;
    src: url('//contents.eduwill.net/font/noto-sans-kr/noto-sans-kr-v12-latin_korean-900.eot'); /* IE9 Compat Modes */
    src: local('Noto Sans KR Black'), local('NotoSansKR-Black'),
        url('//contents.eduwill.net/font/noto-sans-kr/noto-sans-kr-v12-latin_korean-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('//contents.eduwill.net/font/noto-sans-kr/noto-sans-kr-v12-latin_korean-900.woff2') format('woff2'), /* Super Modern Browsers */
        url('//contents.eduwill.net/font/noto-sans-kr/noto-sans-kr-v12-latin_korean-900.woff') format('woff'), /* Modern Browsers */
        url('//contents.eduwill.net/font/noto-sans-kr/noto-sans-kr-v12-latin_korean-900.ttf') format('truetype'), /* Safari, Android, iOS */
        url('//contents.eduwill.net/font/noto-sans-kr/noto-sans-kr-v12-latin_korean-900.svg#NotoSansKR') format('svg'); /* Legacy iOS */
    }
