@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

#container{ padding-bottom:0 !important;}
#div_cont * {
	font-family: "Pretendard Variable", Pretendard, sans-serif;
}
#div_cont .con {
	width: 960px;
	margin: 0 auto;
	position: relative;
	z-index: 1;
}
#div_cont table { font-size:15px; width:840px; margin:0 auto; font-weight:400; letter-spacing:-0.5px; border-color:#353b49; }
#div_cont table th {background:#eaeffa; color:#353b49; padding:9px 0; border-color:#353b49;font-weight: bold;}
#div_cont table tbody td {line-height:25px;background:#fff; font-weight:300; padding:15px 0; border-color:#353b49;}
.lec_info_tstyle4 th:last-child, .lec_info_tstyle4 td:last-child{
	border-right:none !important;
}
.lec_info_tstyle4 td.boR{
	border-right:1px solid #353b49 !important;
}
#div_cont table + p.bottom_txt { 
	margin:10px 0 0 47px;text-align:left;font-size:14px;color:#999;
}
.top_wrap {
	position: relative;
	overflow: hidden;
	height:720px;
	
}
.top_wrap .con {
	width: 960px;
	margin: 0 auto;
	position: relative;
}
.top_wrap .con .act_wrap {position:absolute; top:0; width:100%; height:720px;}
.top_wrap .con img {
	position: absolute;
	left: 0;
	opacity: 0;
}
.top_wrap .con .img_wrap {
	width:612px;
	height:275px;
	overflow:hidden;
	position:absolute;
	top:220px;
	left:177px;
	z-index: 1;
}

.top_wrap .con img.act01 {
	left:0px;
	top:0px;
}
.top_wrap .con img.act02 {
	left:0px;
	top:80px;
}

.top_wrap .con img.act03 {
	left:819px;
	top:210px;
}
.top_wrap .con img.act04 {
	left:745px;
	top:148px;
}
.top_wrap .con img.act05 {
	left:100px;
	top:110px;
}
.top_wrap .con img.act06 {
	left:-170px;
	top:700px;
}

.div_con1 {
	position: relative;
	overflow: hidden;
	padding-bottom: 100px;
	background: #fff;
}
.div_con1 .img_wrap,
.div_con9 .img_wrap {
	position: relative;
	width:960px;
	margin:0 auto;
}

.div_con1 table {width:840px;}
.div_con2 {
	position: relative;
	overflow: hidden;
	padding: 0px 0 100px;
	background:#f1f3f6;
}
.div_con2 .con {
	position: relative;
}
.div_con2 table {width:840px;}
.div_con3 {
	overflow: hidden;
	background: #fff;
	padding-bottom: 100px;
}
.div_con9 {
	overflow: hidden;
	padding-bottom: 100px;
}

.fix_menu_wrap {
	width: 100%;
	background: #353b49;
	text-align:center;
	z-index:2;
	position: absolute;
	top:720px;
	left:0;
	right:0;
	margin:0 auto;
}
.fix_menu_wrap ul {
	overflow: hidden;
	width: 960px;
	margin: 0 auto;
	border-right: 1px solid #5d626d;
}
.fix_menu_wrap ul li {
	display: table;
	float: left;
	width: 319px;
	border-left: 1px solid #5d626d;
	height: 100px;
	cursor: pointer;
	text-align: center;
	background:#353b49;
}
.fix_menu_wrap ul li span {
	color: #fff;
	font-weight: bold;
	font-size: 23px;
	display: table-cell;
	vertical-align: middle;
}
.fix_menu_wrap ul li.on {
	background: #fff;
}
.fix_menu_wrap ul li.on span {
	color: #000;
}
.fix_menu_wrap ul li.on + li {
	border-left:none;
}
.fix_contents {
	overflow: hidden;
	display: none;
	padding-top:100px;
}
.fix_contents.on {
	display: block;
}

.div_con4 {
	position: relative;
	overflow: hidden;
	padding: 0px 0 100px;
	background: #f1f3f6;
}
.div_con5 {
	position: relative;
	overflow: hidden;
	padding: 0px 0 100px;
	background: #fff;
}
.div_con6 {
	position: relative;
	overflow: hidden;
	padding: 0px 0 100px;
	background: #f1f3f6;
}
.div_con7 {
	position: relative;
	overflow: hidden;
	padding: 0px 0 100px;
	background: #fff;
}
.div_con8 {
	position: relative;
	overflow: hidden;
	padding: 0px 0 100px;
	background: #f1f3f6;
}

.div_con9 {
	position: relative;
	overflow: hidden;
	padding: 0px 0 100px;
	background: #fff;
}
.div_con11 {
	position: relative;
	overflow: hidden;
	padding: 0px 0 100px;
	background: #f1f3f6;
}
.div_con13 {
	position: relative;
	overflow: hidden;
	padding: 0px 0 100px;
	background: #f3f3f3;
}
.layer_btn {cursor:pointer;}

#div_cont {
	width: 100%;
	text-align: center;
	clear: both;
	position: relative;
	overflow: hidden;
}


.contents02 p.txt {width:840px; margin:0 auto; word-break:keep-all; font-size:17px; line-height:30px; color:#555; font-family: 'Noto Sans KR'; font-weight:300; letter-spacing:-1px; text-align:left;}
.pr20 {padding-right:20px !important;}
.border_area {padding:50px 0;border:13px solid #f1f3f6;box-sizing:border-box;}
.border_area h3{
	font-size: 27px;
	font-weight: 600;
	color:#000;
}