@import "abstracts/mixin";
@import "abstracts/swatches";

@import "layout_m/footer";
@import "layout_m/header";
@import "layout_m/modal";

body * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, .1);
}

.header-pc-v2 {
    display: none;
}

.header-mobile-v2 {
    display: block;

    .hd-wrap {
        & * {}

        .btn-link {
            border: none;
            background-color: transparent;
            padding: 0;
            height: auto;
        }

        .icon {
            display: inline-block;
            background-size: contain;

            &-write {
                width: 40px;
                height: 40px;
                background-image: url(//img.eduwill.net/resources/kin/kin_2.0/images/icon/icon-write.svg);
                background-repeat: no-repeat;
                background-position: 0 0;
            }

            &-news {
                width: 40px;
                height: 40px;
                background-image: url(//img.eduwill.net/resources/kin/kin_2.0/images/icon/icon-news.svg);
                background-repeat: no-repeat;
                background-position: 0 0;
            }

            &-bi {
                width: 34px;
                height: 27px;
                background-image: url(//img.eduwill.net/resources/kin/kin_2.0/images/icon/icon-bi.svg);
                background-repeat: no-repeat;
                background-position: 0 0;
            }
        }
    }

    .gnb-wrap {
        & * {
            font-family: 'Helvetica Neue', 'Apple SD Gothic Neo', HelveticaNeue-Light, AppleSDGothicNeo-Light, sans-serif;
            letter-spacing: 0;
            line-height: 1;
        }
    }
}

.footer-pc-v2 {
    display: none;
}

.footer-mobile-v2 {
    display: block;

    .footer-wrap {
        & * {
            font-family: 'Helvetica Neue', 'Apple SD Gothic Neo', HelveticaNeue-Light, AppleSDGothicNeo-Light, sans-serif;
            letter-spacing: 0;
            line-height: 1;
        }

        .icon {
            display: inline-block;
            background-size: contain;

            &-home {
                width: 40px;
                height: 40px;
                background-image: url(//img.eduwill.net/resources/kin/kin_2.0/images/icon/icon-home.svg);
                background-repeat: no-repeat;
                background-position: 0 0;
            }

            &-nav {
                width: 40px;
                height: 40px;
                background-image: url(//img.eduwill.net/resources/kin/kin_2.0/images/icon/icon-nav.svg);
                background-repeat: no-repeat;
                background-position: 0 0;
            }

            &-search-circle {
                width: 40px;
                height: 40px;
                background-image: url(//img.eduwill.net/resources/kin/kin_2.0/images/icon/icon-search-circle.svg);
                background-repeat: no-repeat;
                background-position: 0 0;
            }

            &-top {
                width: 40px;
                height: 40px;
                background-image: url(//img.eduwill.net/resources/kin/kin_2.0/images/icon/icon-top.svg);
                background-repeat: no-repeat;
                background-position: 0 0;
            }

            &-my {
                width: 40px;
                height: 40px;
                background-image: url(//img.eduwill.net/resources/kin/kin_2.0/images/icon/icon-my.svg);
                background-repeat: no-repeat;
                background-position: 0 0;
            }

            &-breadcrumbs {
                width: 5px;
                height: 8px;
                background-image: url(//img.eduwill.net/resources/kin/kin_2.0/images/icon/icon-breadcrumbs.svg);
                background-repeat: no-repeat;
                background-position: 0 0;
            }

            &-write {
                width: 40px;
                height: 40px;
                background-image: url(//img.eduwill.net/resources/kin/kin_2.0/images/icon/icon-write.svg);
                background-repeat: no-repeat;
                background-position: 0 0;
            }

            &-stamp {
                width: 24px;
                height: 24px;
                background-image: url(//img.eduwill.net/resources/kin/kin_2.0/images/icon/icon-stamp.svg);
                background-repeat: no-repeat;
                background-position: 0 0;
            }

            &-scrap-dark {
                width: 18px;
                height: 23px;
                background-image: url(//img.eduwill.net/resources/kin/kin_2.0/images/icon/icon-scrap-dark.svg);
                background-repeat: no-repeat;
                background-position: 0 0;
            }

            &-chat {
                width: 24px;
                height: 24px;
                background-image: url(//img.eduwill.net/resources/kin/kin_2.0/images/icon/icon-chat.svg);
                background-repeat: no-repeat;
                background-position: 0 0;
            }

            &-arrow-link {
                width: 20px;
                height: 20px;
                background-image: url(//img.eduwill.net/resources/kin/kin_2.0/images/icon/icon-arrow-link.svg);
                background-repeat: no-repeat;
                background-position: 0 0;
                vertical-align: -5px;
                margin-left: 5px;
            }

            &-arrow-link-dark {
                width: 24px;
                height: 16px;
                background-image: url(//img.eduwill.net/resources/kin/kin_2.0/images/icon/icon-arrow-link-dark.svg);
                background-repeat: no-repeat;
                background-position: 0 0;
            }

            &-search {
                width: 24px;
                height: 24px;
                background-image: url(//img.eduwill.net/resources/kin/kin_2.0/images/icon/icon-search.svg);
                background-repeat: no-repeat;
                background-position: 0 0;
            }

            &-arrow-top {
                width: 14px;
                height: 22px;
                background-image: url(//img.eduwill.net/resources/kin/kin_2.0/images/icon/icon-arrow-top.svg);
                background-repeat: no-repeat;
                background-position: 0 0;
            }

            &-arrow-down-w {
                width: 12px;
                height: 8px;
                @include background-name-ext-repeat-poistion('icon/icon-arrow-down-w', svg, no-repeat, 0 0);
            }
        }

        .slick {
            &-dots {
                font-size: 0;
                text-align: center;

                li {
                    display: inline-block;
                    padding: 0 4px;

                    button {
                        padding: 0;
                        width: 6px;
                        height: 6px;
                        border: none;
                        border-radius: 3px;
                        background-color: $color-Dark;
                        opacity: 0.3;
                        outline: none;
                    }

                    &.slick-active button {
                        width: 14px;
                        opacity: 1;
                    }
                }
            }

            &,
            &-track,
            &-slide,
            a {
                &:focus {
                    outline: none;
                }
            }
        }
    }


}

.board-hr {
    margin: 0 -16px;
    height: 12px;
    vertical-align: top;
    border: none;
    background-color: $color-Bg-Disabled;

    &.margin-0 {
        margin: 0;
    }
}

.board-line {
    margin: 0 -16px;
    height: 1px;
    vertical-align: top;
    border: none;
    background-color: $color-Bg-Disabled;

    &.margin-0 {
        margin: 0;
    }
}

.modal-init {
    .slick {
        &-dots {
            font-size: 0;
            text-align: center;

            li {
                display: inline-block;
                padding: 0 4px;

                button {
                    padding: 0;
                    width: 6px;
                    height: 6px;
                    border: none;
                    border-radius: 3px;
                    background-color: $color-Dark;
                    opacity: 0.3;
                    outline: none;
                }

                &.slick-active button {
                    width: 14px;
                    opacity: 1;
                }
            }
        }

        &,
        &-track,
        &-slide,
        a {
            &:focus {
                outline: none;
            }
        }
    }

    .icon {
        display: inline-block;
        background-size: contain;

        &-setting {
            width: 12px;
            height: 12px;
            background-image: url(//img.eduwill.net/resources/kin/kin_2.0/images/icon/icon-setting.svg);
            background-repeat: no-repeat;
            background-position: 0 0;
            margin-right: 5px;
            vertical-align: -1px;
        }

        &-reset {
            width: 15px;
            height: 13px;
            background-image: url(//img.eduwill.net/resources/kin/kin_2.0/images/icon/icon-reset.png);
            background-repeat: no-repeat;
            background-position: 0 0;
            vertical-align: -3px;
        }

        &-plus {
            width: 12px;
            height: 12px;
            background-image: url(//img.eduwill.net/resources/kin/kin_2.0/images/icon/icon-plus.svg);
            background-repeat: no-repeat;
            background-position: 0 0;
        }

        &-write {
            width: 40px;
            height: 40px;
            background-image: url(//img.eduwill.net/resources/kin/kin_2.0/images/icon/icon-write.svg);
            background-repeat: no-repeat;
            background-position: 0 0;
        }

        &-stamp {
            width: 24px;
            height: 24px;
            background-image: url(//img.eduwill.net/resources/kin/kin_2.0/images/icon/icon-stamp.svg);
            background-repeat: no-repeat;
            background-position: 0 0;
        }

        &-scrap-dark {
            width: 18px;
            height: 23px;
            background-image: url(//img.eduwill.net/resources/kin/kin_2.0/images/icon/icon-scrap-dark.svg);
            background-repeat: no-repeat;
            background-position: 0 0;
        }

        &-chat {
            width: 24px;
            height: 24px;
            background-image: url(//img.eduwill.net/resources/kin/kin_2.0/images/icon/icon-chat.svg);
            background-repeat: no-repeat;
            background-position: 0 0;
        }

        &-breadcrumbs {
            width: 5px;
            height: 8px;
            background-image: url(//img.eduwill.net/resources/kin/kin_2.0/images/icon/icon-breadcrumbs.svg);
            background-repeat: no-repeat;
            background-position: 0 0;
        }

        &-arrow-link-dark {
            width: 23.5px;
            height: 16px;
            background-image: url(//img.eduwill.net/resources/kin/kin_2.0/images/icon/icon-arrow-link-dark.png);
            background-repeat: no-repeat;
            background-position: 0 0;
        }

        &-search {
            width: 24px;
            height: 24px;
            background-image: url(//img.eduwill.net/resources/kin/kin_2.0/images/icon/icon-search.svg);
            background-repeat: no-repeat;
            background-position: 0 0;
        }
    }

    .btn {
        outline: none;
        line-height: 1;

        &:hover {
            @include transition-all(.3s);
        }

        & {
            height: 48px;
            border-radius: 8px;
            font-size: $typo-size-16;
        }

        &-lg {
            height: 52px;
            border-radius: 8px;
            font-size: $typo-size-16;
        }

        &-sm {
            height: 40px;
            border-radius: 8px;
            font-size: $typo-size-15;
        }

        &-xs {
            height: 32px;
            border-radius: 4px;
            font-size: $typo-size-13;
        }

        &-dark {
            background-color: $color-White;
            border-color: $color-Dark;
            color: $color-Dark;

            &:hover,
            &:focus,
            &:active,
            &:active:hover {
                background-color: $color-Bg-Disabled;
            }
        }

        &-primary {
            background-color: $color-Accent-1;
            border: none;
            color: $color-White;

            &:hover,
            &:focus,
            &.active.focus,
            &.active:focus,
            &:active,
            &:active:hover,
            &:active.focus,
            &:active:focus,
            &:active:hover {
                background-color: $color-Accent-1-hover;
            }
        }

        &-default {
            background-color: $color-White;
            border-color: $color-Light-box-line;
            color: $color-Dark;

            &:hover,
            &:focus,
            &:active,
            &:active:hover {
                background-color: $color-Bg-Disabled;
                border-color: $color-Light-box-line;
            }
        }

        &-disabled {
            color: $color-Medium-Light;
            cursor: not-allowed;

            &:hover,
            &:focus,
            &:active,
            &:active:hover {
                color: $color-Medium-Light;
            }

            &-1 {
                background-color: $color-Bg-Disabled;
                border: none;
            }

            &-2 {
                background-color: $color-White;
                border-color: $color-Light-box-line;
            }
        }

        &-icon {
            padding: 0 16px 0 14px;

            .icon {
                display: inline-block;
                vertical-align: middle;
                min-width: 0.9234em;
                min-height: 0.9234em;
                margin-right: 8px;
                background-size: contain;
            }

            .count {
                color: $color-Accent-1;
            }

            &.btn-square {
                padding: 0;
                background-color: transparent;

                &:hover {
                    background-color: $color-Bg-square;

                    .icon-more {
                        @include background-name-ext-repeat-poistion('icon/icon-more-hover', svg, no-repeat, 0 0);
                    }

                    .icon-check {
                        @include background-name-ext-repeat-poistion('icon/icon-check-hover', svg, no-repeat, 0 0);
                    }
                }

                width: 48px;

                &.btn-xs {
                    width: 32px;
                }

                &.btn-sm {
                    width: 40px;
                }

                &.btn-lg {
                    width: 54px;
                }

                .icon {
                    margin-right: 0;
                }
            }

        }

        &-link {
            border: none;
            background-color: transparent;
            padding: 0;
            height: auto;

        }

        &.active.focus,
        &.active:focus,
        &.focus,
        &:active.focus,
        &:active:focus,
        &:focus {
            outline: none;
        }

        &-fills {
            border-radius: 26px;
        }
    }

    .item-list-tag {
        font-size: 0;

        li {
            display: inline-block;
            margin-right: 8px;
            margin-bottom: 8px;
            background-color: $color-Accent-1-Light;
            border-radius: 3px;
            padding: 0 8px;
            line-height: 24px;
            font-size: 0;

            span,
            a {
                display: inline-block;
                vertical-align: middle;
            }

            &>a {
                line-height: 24px;
            }

            .tag {
                font-size: 0;
                width: 10px;
                height: 10px;
                @include background-name-ext-repeat-poistion('icon/icon-tag', svg, no-repeat, 0 0);
                margin-right: 3px;
                text-indent: -9999em;
            }

            .txt {
                @include font-size-color-weight($typo-size-12, $color-Accent-1, 400);
                vertical-align: -4px;
            }

            .val {
                @include font-size-color-weight($typo-size-13, $color-Dark, 400);
                padding-left: 2px;
            }

            .btn-delete {
                font-size: 0;
                width: 8px;
                height: 8px;
                @include background-name-ext-repeat-poistion('icon/icon-tag-close', svg, no-repeat, 0 0);
                margin-left: 7px;
            }

        }
    }

    .form-control {
        border-color: $color-Accent-1-Light;
        background-color: $color-Accent-1-Light;
        height: 40px;
        box-shadow: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 8px;

        &:hover {
            border-color: $color-Medium-Light;
            background-color: $color-White;
            -webkit-box-shadow: 0 0 0 2px $color-Accent-1-Light;
            box-shadow: 0 0 0 2px $color-Accent-1-Light;
        }

        &:focus {
            background-color: $color-White;
            border-color: $color-Accent-1;
            box-shadow: none;
        }

        &[disabled],
        &[readonly] {
            border: none;
            background-color: $color-Bg-Disabled;
            color: $color-Medium-Light;

            &:hover {
                box-shadow: none;
            }
        }

        @include placeholder-color($color-Medium-Light);
        color: $color-Dark;

        &.success {
            border-color: $color-Accent-2;
            background-color: $color-White;
        }

        &.error {
            border-color: $color-Red;
            background-color: $color-White;
        }

        &+.text-required {
            margin-top: 9px;

            & * {
                display: inline-block;
                vertical-align: middle;
            }

            span {
                @include font-size-color-weight($typo-size-13, $color-Red, 400);
                line-height: 15px;
            }

            i.icon-exc {
                width: 14px;
                height: 14px;
                @include background-name-ext-repeat-poistion("icon/icon-exc", svg, no-repeat, 0 0);
                margin-right: 6px;
            }
        }

        &-disabled {
            border-color: $color-Bg-Disabled;
            background-color: $color-Bg-Disabled;

            &:hover {
                border-color: $color-Bg-Disabled;
                background-color: $color-Bg-Disabled;
            }

            &:focus {
                background-color: $color-Bg-Disabled;
                border-color: $color-Bg-Disabled;
            }
        }
    }

    .input-icon {
        &-group {
            position: relative;

            .input-button {
                border: none;
                background-color: $color-White;
                width: 24px;
                height: 24px;
                position: absolute;
                top: 50%;
                right: 9px;
                transform: translateY(-50%);
            }

            .icon {
                @include contentReset();
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

        }

        & {
            display: block;
            width: 40px;
            height: 40px;
            position: absolute;
            top: 0;

        }

        &-left {
            padding-left: 40px;

            &+.input-icon {
                left: 0;
            }
        }

        &-right {
            padding-right: 40px;

            &+.input-icon {
                right: 0;
            }
        }
    }

    .custom-checkbox {

        input[type="checkbox"],
        input[type="radio"] {
            position: absolute;
            left: -9999px;
        }

        input+.custom-control-label {
            cursor: pointer;
            vertical-align: top;
            height: 40px;
            border: solid 1px $color-Light-box-line;
            background-color: $color-White;
            border-radius: 8px;
            padding: 13px 16px;

            span {
                position: relative;
                @include font-size-color-weight($typo-size-14, $color-Dark, 400);
                padding-right: 26px;
                width: 100%;
                display: inline-block;

                &:after {
                    @include contentReset();
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                    width: 12px;
                    height: 9px;
                    @include background-name-ext-repeat-poistion('icon/icon-label-check-off', svg, no-repeat, 0 0);
                    transition: transform .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-transform .15s ease-in-out;
                }
            }

            &:hover {
                border-color: $color-Accent-1;

                span {
                    color: $color-Accent-1;

                    &:after {
                        border-color: $color-Accent-1;
                        @include background-name-ext-repeat-poistion('icon/icon-label-check-on', svg, no-repeat, 0 0);
                    }
                }
            }
        }

        input:checked~.custom-control-label {
            border-color: $color-Accent-1;

            span {
                color: $color-Accent-1;

                &:after {
                    border-color: $color-Accent-1;
                    @include background-name-ext-repeat-poistion('icon/icon-label-check-on', svg, no-repeat, 0 0);
                }
            }
        }

        .custom-control-input:disabled+.custom-control-label {
            cursor: not-allowed;
        }
    }
}

.custom-tabs {
    @include clearfix();

    li {
        float: left;
        min-width: 153px;
        height: 48px;
        border: solid 1px $color-White;
        border-bottom-color: $color-Dark;
        display: table;

        a {
            width: 100%;
            height: 46px;
            padding: 0 26px;
            text-align: center;
            display: table-cell;
            vertical-align: middle;
            text-decoration: none;
            @include font-size-color-weight($typo-size-16, $color-Medium, 400);
        }

        &.active {
            border: solid 1px $color-Dark;
            border-bottom-color: $color-White;

            a {
                color: $color-Dark;
                font-weight: 700;
            }
        }
    }

    &-fills {
        li {
            border-color: $color-Light-box-line;
            min-width: 103px;
            height: 40px;
            border-radius: 20px;
            margin-left: 8px;

            &:first-child {
                margin-left: 0;
            }

            a {
                height: 40px;
            }
        }

        &.dark {
            li {
                a {
                    @include font-size-color-weight($typo-size-17, $color-Dark, 400);
                }

                &.active {
                    background-color: $color-Accent-1;
                    border-color: $color-Accent-1;

                    a {
                        color: $color-White;
                    }
                }
            }
        }

        &.light {
            li {
                a {
                    @include font-size-color-weight($typo-size-16, $color-Medium, 400);
                }

                &.active {
                    background-color: $color-Accent-1-Light;
                    border-color: $color-Accent-1-Light;

                    a {
                        color: $color-Accent-1;
                    }
                }
            }
        }

        &.border {
            display: inline-block;
            background-color: #f4f4f4;
            border-radius: 15px;

            li {
                height: 30px;
                border-radius: 15px;
                min-width: 69px;
                border: solid 1px #f4f4f4;
                margin-left: 0;

                a {
                    height: 28px;
                    padding: 0 20px;
                    @include font-size-color-weight($typo-size-13, $color-Medium, 400);
                }

                &.active {
                    background-color: $color-White;
                    border-color: $color-Accent-1;

                    a {
                        color: $color-Accent-1;
                    }
                }
            }
        }
    }

    &-line {
        box-shadow: inset 0 -1px 0 0 $color-Light;
        margin: 0 -16px;

        li {
            height: 52px;
            border: none;

            a {
                @include font-size-color-weight($typo-size-15, $color-Dark, 400);
                padding: 0;
            }

            &.active {
                border-width: 0 0 2px 0;
                border-bottom: solid 2px $color-Accent-1;

                a {
                    color: $color-Accent-1;
                }
            }
        }
    }

    &-2 {
        li {
            width: 50%;
        }
    }

    &-3 {
        li {
            min-width: auto;
            width: calc(100% / 3);
        }
    }
}

.btn,
a {

    &,
    &.active.focus,
    &.active:focus,
    &.focus,
    &:active.focus,
    &:active:focus,
    &:focus {
        outline: none;
    }

    &-link {
        border: none;
        background-color: transparent;
        padding: 0;
        height: auto;
    }
}

.layer-box {
    position: absolute;
    z-index: 102;

    .drop-down-box {
        padding: 20px;

        .bottom-close {
            margin: 0 -20px -20px;
            text-align: center;
            line-height: 40px;

            .btn-text {
                @include font-size-color-weight($typo-size-13, $color-Accent-1, 400);
            }
        }
    }

    .icon {
        display: inline-block;
        background-size: contain;

        &-speaker {
            width: 20px;
            height: 20px;
            background-image: url(//img.eduwill.net/resources/kin/kin_2.0/images/icon/icon-speaker.svg);
            background-repeat: no-repeat;
            background-position: 0 0;
        }

        &-close-lg {
            width: 20px;
            height: 20px;
            background-image: url(//img.eduwill.net/resources/kin/kin_2.0/images/icon/icon-close-lg.svg);
            background-repeat: no-repeat;
            background-position: 0 0;
        }
    }

    &-label {
        min-height: 20px;
        padding-bottom: 12px;

        .icon {
            vertical-align: middle;
            margin-right: 4px;
        }

    }

    // layer : 훈장알림
    &.badge-box {
        top: 90px;
        right: 16px;
        width: 278px;

        .badge-box-inner {
            position: relative;
            min-height: 72px;
            margin-bottom: 16px;
        }

        .close {
            position: absolute;
            top: -10px;
            right: -10px;
            opacity: 1;
            width: 12px;
            height: 12px;
            opacity: 1;
            outline: none;

            .icon {
                vertical-align: top;
                width: 12px;
                height: 12px;
            }
        }

        .badge-info {
            .t1 {
                @include font-size-color-weight($typo-size-15, $color-Dark, 400);
            }

            .t2 {
                @include font-size-color-weight($typo-size-13, $color-Medium, 400);
                padding-top: 8px;
            }
        }

        .badge-img {
            width: 72px;
            height: 72px;
            display: table;
            position: absolute;
            top: 0;
            right: 0;

            span {
                display: table-cell;
                text-align: center;
                vertical-align: middle;
            }
        }
    }
}

.drop-down-box {
    border-radius: 14px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
    border: solid 1px rgba(151, 151, 151, 0.05);
    background-color: $color-White;

    .bottom-close {
        clear: both;
        height: 40px;
        box-shadow: inset 0 1px 0 0 $color-Light;
        text-align: right;

        .btn {
            @include font-size-color-weight($typo-size-13, $color-Medium, 400);

            .icon-close {
                width: 12px;
                height: 12px;
                @include background-name-ext-repeat-poistion('icon/icon-close', svg, no-repeat, 0 0);
                margin-left: 4px;
                position: relative;
                top: 1px;
            }
        }

    }

    .dropdown-menu-item {
        padding: 8px 0;

        li {
            display: block;
            margin-right: 0;

            a {
                display: block;
                @include font-size-color-weight($typo-size-14, $color-Dark, 400);
                line-height: 40px;
                height: auto;
                padding: 0 14px;
                white-space: nowrap;
                text-decoration: none;

                &:hover {
                    background-color: $color-Accent-1-Light;
                }
            }
        }
    }
}

.sub-term {
    .search-result {
        padding-bottom: 80px;

        @include mq(screen-mobile) {
            padding: 0 16px 40px;
        }
    }
}

div#promotion {

    // 소개페이지
    &-introduce2 {
        .section2 {
            background: #fff;

            #typing {
                top: 61%;
                left: 33.5%;
                width: 520px;
                @include ellipsis();

                @media screen and (max-width: 720px) {
                    top: 67.7%;
                    left: 10%;
                    width: 63%;
                    font-size: 5.3vw;
                }

            }
        }

        .section5 {
            padding-bottom: 136px;

            @media screen and (max-width: 720px) {
                padding-bottom: 25vw;
            }
        }

        .section6 {
            .section-bestqna2 {
                background-color: #fff;
                border-radius: 8px;
                padding: 60px;
                margin: 0 48px;

                ul {
                    li {
                        margin-top: 40px;
                        @include ellipsis();

                        &:first-child {
                            margin-top: 0;
                        }

                        a {
                            font-size: 46px;
                            color: #000;
                            letter-spacing: -0.5px;
                        }

                        &.active a {
                            font-weight: 700;
                        }
                    }
                }
            }

            .btn-area {
                margin-top: 42px;
            }

            @media screen and (max-width: 720px) {
                .section-bestqna2 {
                    padding: 8.333vw;
                    ;
                    margin: 0 6.666vw;

                    ul {
                        li {
                            margin-top: 5.555vw;

                            &:first-child {
                                margin-top: 0;
                            }

                            a {
                                font-size: 6.388vw;
                            }
                        }
                    }
                }

                .btn-area {
                    margin-top: 12.5VW;
                }
            }
        }

    }

    // 출석부
    &-attend {
        .section-3 {
            background-color: #000;

            dl {

                dt,
                dd {
                    color: #fff;
                }
            }
        }
    }

    // 지식마블
    &-dice2 {
        .section-event {
            .board {
                top: 189px;

                @media screen and (max-width: 1279px) {
                    top: 173px;
                }

                @media screen and (max-width: 720px) {
                    top: 24vw;
                }
            }

            .count {
                top: 206px !important;

                @media screen and (max-width: 1279px) {
                    top: 261px !important;
                }

                @media screen and (max-width: 720px) {
                    top: 36.250vw !important;
                }
            }

            #dice-roll #btn-roll {
                top: 531px !important;

                @media screen and (max-width: 1279px) {
                    top: 787px !important;
                }

                @media screen and (max-width: 720px) {
                    top: 109.3vw !important;
                }
            }
        }
    }

    // 내공자판기
    &-machine2 {
        .section-review {
            .item-rolling .photo img {
                height: 100%;
                object-fit: cover;
            }
        }
        .section-well dl {
            padding: 20px;
            dt {
                position: static;
                font-size: 18px;
                padding-bottom: 10px;
            }
        }
    }

    // 회원가입이벤트
    &-benefit {
        .section .row .item .btn a span:after {
            top: 50% !important;
            transform: translateY(-50%) rotate(45deg);
        }
    }

    // 빙고이벤트
    &-bingo.season2 {
        .section-visual {
            @include background-name-ext-repeat-poistion('promotion/bingo/bg_top', png, repeat-x, 50% 0);
            background-size: cover;
        }

        .section-1 {
            background-color: #f5f0ff;
            padding-bottom: 0;

            .item {

                &:before,
                &:after {
                    display: none;
                }
            }
        }

        .section-item {
            //@include background-name-ext-repeat-poistion('promotion/bingo/bg_item', png, repeat-x, 50% 0);

            background: linear-gradient(132deg, rgba(128, 64, 243, 1) 0%, rgba(84, 64, 248, 1) 100%);
            padding: 126px 0 88px;

            .inner-p {
                &:before {
                    @include contentReset();
                    width: 172px;
                    height: 94px;
                    @include background-name-ext-repeat-poistion('promotion/bingo/bg_arrow', png, no-repeat, 50% 0);
                    position: absolute;
                    top: -126px;
                    left: 0;
                }
            }

            .item {
                margin-bottom: 100px;
                @include background-name-ext-repeat-poistion('promotion/bingo/bg_card', png, repeat-x, 50% 0);

                ul {
                    @include clearfix();

                    li {
                        float: left;
                        width: 313px;
                        margin-left: 80px;
                        position: relative;

                        &:first-child {
                            margin-left: 0;
                        }

                        a.btn {
                            font-size: 0;
                            display: inline-block;
                            width: 136px;
                            height: 58px;
                            position: absolute;
                            top: 299px;
                            left: 0;
                            z-index: 1;

                            &1 {
                                left: 16px;
                            }

                            &2 {
                                left: 161px;
                            }
                        }

                        &.mask:after {
                            @include contentReset();
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            z-index: 2;
                            @include background-name-ext-repeat-poistion('promotion/bingo/item_mask', png, no-repeat, 50% 0);
                        }
                    }
                }

            }

            .info {
                border-top: solid 1px rgba(255, 255, 255, 0.2);
                padding-top: 45px;

                dl {
                    dt {
                        @include font-size-color-weight($typo-size-22, $color-White, 500);
                        padding-bottom: 18px;

                        &+dd {
                            margin-top: 0;
                        }
                    }

                    dd {
                        @include font-size-color-weight($typo-size-16, $color-White, 400);
                        line-height: 22px;
                        margin-top: 8px;
                        position: relative;
                        padding-left: 16px;

                        &:before {
                            @include contentReset();
                            width: 3px;
                            height: 3px;
                            border-radius: 2px;
                            background-color: $color-White;
                            position: absolute;
                            top: 8px;
                            left: 0;
                            opacity: .5;
                        }
                    }
                }
            }

            @media screen and (max-width: 1200px) {
                padding: 120px 0 80px;

                .inner-p {
                    width: 720px;
                    padding: 0 40px;

                    &:before {
                        top: -120px;
                        left: 40px;
                        background-size: cover;
                    }
                }

                .item {
                    margin-bottom: 0;
                    @include background-name-ext-repeat-poistion('promotion/bingo/bg_card_m', png, repeat-x, 50% 0);
                    background-size: cover;

                    ul {
                        li {
                            float: none;
                            margin-left: 0;
                            width: auto;
                            margin-top: 77px;

                            &:first-child {
                                margin-top: 0;
                            }

                            a.btn {
                                width: 277px;
                                height: 84px;
                                top: 207px;

                                &1 {
                                    left: 36px;
                                }

                                &2 {
                                    left: 324px;
                                }
                            }

                            &.mask:after {
                                @include background-name-ext-repeat-poistion('promotion/bingo/item_mask_m', png, no-repeat, 50% 0);
                                background-size: contain;
                            }
                        }
                    }
                }

                .info {
                    border-top: none;
                    padding-top: 85px;

                    dl {
                        dt {
                            font-size: 32px;
                            font-weight: 700;
                        }

                        dd {
                            font-size: 24px;
                            line-height: 36px;
                            margin-top: 0;

                            &:before {
                                width: 4px;
                                height: 4px;
                                top: 14px;
                            }
                        }
                    }
                }
            }

            @media screen and (max-width: 720px) {
                padding: pVw(120) 0 pVw(80);

                .inner-p {
                    width: pVw(720);
                    padding: 0 pVw(40);

                    &:before {
                        width: pVw(172);
                        height: pVw(94);
                        top: pVw(-120);
                        left: pVw(40);
                    }
                }

                .item {
                    ul {
                        li {
                            a.btn {
                                width: pVw(277);
                                height: pVw(84);
                                top: pVw(207);

                                &1 {
                                    left: pVw(36);
                                }

                                &2 {
                                    left: pVw(324);
                                }
                            }
                        }
                    }
                }

                .info {
                    padding-top: pVw(85);

                    dl {
                        dt {
                            font-size: pVw(32);
                            padding-bottom: pVw(18);
                        }

                        dd {
                            padding-left: pVw(16);
                            font-size: pVw(24);
                            line-height: pVw(36);

                            &:before {
                                width: pVw(4);
                                height: pVw(4);
                                top: pVw(14);
                            }
                        }
                    }
                }
            }
        }
    }

    // 합격자모집 이벤트
    &-pass {
        .section-title .dday span {
            min-width: 87px;
        }

        .section-1 .event ul li dl dd.detail {
            &.group-lic {
                @include clearfix();
                padding-top: 32px;
                width: 562px;
                margin: 0 auto;
                text-align: left;

                &>div {
                    float: left;

                    span {
                        display: block;
                        @include font-size-color-weight($typo-size-26, $color-Black, 400);
                        line-height: 42px;
                    }

                    &.group-lic-1 {
                        padding-left: 40px;
                    }

                    &.group-lic-2 {
                        padding-left: 50px;
                    }
                }
            }
        }

        @media screen and (max-width: 720px) {
            .section-1 .event ul li dl dd.detail {
                &.group-lic {
                    padding-top: pVw(32);
                    width: pVw(562);

                    &>div {
                        span {
                            font-size: pVw(26);
                            line-height: pVw(42);
                        }

                        &.group-lic-1 {
                            padding-left: pVw(40);
                        }

                        &.group-lic-2 {
                            padding-left: pVw(50);
                        }
                    }
                }
            }
        }

        @media screen and (min-width: 1280px) {
            .section-1 .event ul li dl dd.detail {
                &.group-lic {
                    padding-top: 37px;
                    width: auto;

                    &>div {
                        span {
                            font-size: 16px;
                            line-height: 26px;
                        }

                        &.group-lic-1 {
                            padding-left: 24px;
                        }

                        &.group-lic-2 {
                            padding-left: 24px;
                        }
                    }
                }
            }
        }
    }
}