.wrap-login {
    background-color: $color-White;
    #container {
        
        height: 100%;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0;
        -webkit-transition: left .1s ease-in;
        transition: left .1s ease-in;
        overflow-y: auto;
        overflow-x: hidden;
        .login-contents {
            min-height: calc(100% - 66px);
            padding: 87px 40px 66px;
        }
    }
    .bi {
        padding-bottom: 40px;
        span {
            font-size: 0;
            display: block;
            width: 198px; height: 63px;
            margin: 0 auto;
            @include background-name-ext-repeat-poistion('img-genius', svg, no-repeat, 0 0);
        }
    }
    .login-form {
        .input-box {
            margin-top: 24px;
            &:first-child {
                margin-top: 0;
            }
            .form-label {
                @include font-size-color-weight($typo-size-14, $color-Medium-Light, 600);
                line-height: 20px; letter-spacing: 0;
                padding-bottom: 8px;
            }
            .form-control {
                height: 48px;
                border-radius: 5px;
                background-color: $color-White;
                border: solid 1px #d8d8d8;
                &:focus {
                    background-color: rgba(255, 191, 0, 0.1);
                    ;
                }
            }
            &.certify {
                position: relative;
                padding-right: 68px;
                .btn {
                    position: absolute; top: 0; right: 0;
                    width: 60px;
                }
            }
        }
        .check-box {
            padding-top: 16px;
            input[type="checkbox"] {
                margin-right: 2px;
                vertical-align: top;
                margin-top: 4px;
            }
            label {
                @include font-size-color-weight($typo-size-15, $color-Medium-Light, 400);
                line-height: 22px;
            }
        } 
        .btn-global {
            padding-top: 40px;
            .btn {
                font-weight: 600;
            }
        }
    }
    .login-footer {
        width: 100%;
        padding: 24px 0;
        text-align: center;
        p {
            @include font-size-color-weight($typo-size-12, #979797, 400);
        line-height: 18px;
        }
        
    }
    .certify-contents {
        .item-info {
            padding: 100px 40px 68px;
            text-align: center;
            .top-icon {
                .icon {
                    width: 100px; height: 76px;
                    @include background-name-ext-repeat-poistion('img-info', png, no-repeat, 0 0);
                }
            }
            .text-1 {
                @include font-size-color-weight($typo-size-18, $color-Dark, 700);
                line-height: 24px; padding-top: 28px;
            }
            .text-2 {
                @include font-size-color-weight($typo-size-16, $color-Medium, 400);
                line-height: 24px; padding-top: 72px;
            }
            .btnarea {
                padding-top: 16px;
                .btn {
                    height: 52px;
                    border-radius: 3px;
                    border: solid 1px #010101;
                    background-color: $color-White;
                    @include font-size-color-weight($typo-size-16, $color-Dark, 700);
                }
            }
        }
        .download {
            padding: 24px 16px;
            background-color: $color-Bg-Disabled;
            &-docs {
                padding-bottom: 18px;
                p {
                    @include font-size-color-weight($typo-size-13, $color-Dark, 400);
                    line-height: 19px;
                    padding-bottom: 8px;
                }
                .btn {
                    height: 48px;
                    border-radius: 3px;
                    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1);
                    background-color: $color-White;
                    @include font-size-color-weight($typo-size-14, #365cff, 400);
                }
            }
            &-app {
                font-size: 0;
                text-align: center;
                .btn {
                    font-size: 0;
                    background-color: transparent;
                    $margin-left: pVw(4, 360);
                    width: pVw(162, 360);
                    height: pVw(50, 360);
                    border-radius: 0;
                    margin-left: pVw(4, 360);
                    &:first-child {
                        margin-left: 0;
                    }
                    &-app1 {
                        @include background-name-ext-repeat-poistion('btn-app1', svg, no-repeat, 0 0);
                        background-size: cover;
                    }
                    &-app2 {
                        @include background-name-ext-repeat-poistion('btn-app2', svg, no-repeat, 0 0);
                        background-size: cover;
                    }
                }
            }
        }
        
    }
}