@charset "UTF-8";
.grid, .product-eco .sector-books .inner, .product-eco .sector-teacher .teacher-list ul {
  *zoom: 1;
}

.grid:before, .product-eco .sector-books .inner:before, .product-eco .sector-teacher .teacher-list ul:before, .grid:after, .product-eco .sector-books .inner:after, .product-eco .sector-teacher .teacher-list ul:after {
  content: '';
  display: table;
}

.grid:after, .product-eco .sector-books .inner:after, .product-eco .sector-teacher .teacher-list ul:after {
  clear: both;
}

.hidden,
.sr_only,
.sr-only {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.grid, .product-eco .sector-books .inner {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.grid .col, .product-eco .sector-books .inner .col, .product-eco .sector-books .inner .left, .product-eco .sector-books .inner .right {
  position: relative;
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.table {
  display: table;
}

.table .table-cell {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

.effect-bounce-diagonal {
  -webkit-animation-name: effectBounceDiagonal;
          animation-name: effectBounceDiagonal;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes effectBounceDiagonal {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}

@keyframes effectBounceDiagonal {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}

.effect-bounce-updown {
  -webkit-animation-name: effectBounceUpDown;
          animation-name: effectBounceUpDown;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes effectBounceUpDown {
  0%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@keyframes effectBounceUpDown {
  0%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

.effect-extend {
  -webkit-animation-name: effectExtend;
          animation-name: effectExtend;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes effectExtend {
  0%, 100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
}

@keyframes effectExtend {
  0%, 100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
}

.effect-blink {
  -webkit-animation-name: effectBlink;
          animation-name: effectBlink;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: step-end;
          animation-timing-function: step-end;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes effectBlink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes effectBlink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }
  100% {
    -webkit-transform: translate(-10px, 0);
    transform: translate(-10px, 0);
  }
}

@keyframes slideUp {
  0% {
    -webkit-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }
  100% {
    -webkit-transform: translate(-10px, 0);
    transform: translate(-10px, 0);
  }
}

.bounce {
  animation: bounce 2s infinite both;
  -webkit-animation: bounce 2s infinite both;
}

@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@-webkit-keyframes bgColorChange {
  0%, 100% {
    background-color: #000;
  }
  50% {
    background-color: #fff;
  }
}

@keyframes bgColorChange {
  0%, 100% {
    background-color: #000;
  }
  50% {
    background-color: #fff;
  }
}

.product-eco {
  position: relative;
  text-align: center;
  background-color: #fff;
  margin: 0;
  padding: 0;
  letter-spacing: -1px;
  /* IE10 이상에서 input box 에 추가된 지우기 버튼 제거 */
  /* input type number 에서 화살표 제거 */
  /* Select box 스타일 초기화 */
  /* IE 에서 Select box 화살표 제거 */
}

.product-eco *, .product-eco *:before, .product-eco *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif !important;
}

.product-eco img {
  border: 0;
  vertical-align: top;
  line-height: 0;
  font-size: 0;
}

.product-eco input::-ms-clear {
  display: none;
}

.product-eco input[type=number]::-webkit-inner-spin-button,
.product-eco input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.product-eco select {
  border-radius: 0;
  /* 아이폰 사파리 보더 없애기 */
  -webkit-appearance: none;
  /* 화살표 없애기 for chrome*/
  -moz-appearance: none;
  /* 화살표 없애기 for firefox*/
  appearance: none;
}

.product-eco select::-ms-expand {
  display: none;
}

.product-eco .slick-dots {
  width: 100%;
  margin-top: 0.625rem;
  text-align: center;
}

@media screen and (min-width: 720px) {
  .product-eco .slick-dots {
    margin-top: 20px;
  }
}

.product-eco .slick-dots li {
  display: inline-block;
  margin: 0 0.1875rem;
}

@media screen and (min-width: 720px) {
  .product-eco .slick-dots li {
    margin: 0 6px;
  }
}

.product-eco .slick-dots li button {
  cursor: pointer;
  text-indent: -10000em;
  border: 0;
  border-radius: 50%;
  width: 0.9375rem;
  height: 0.9375rem;
  background: #bbbbbb;
}

@media screen and (min-width: 720px) {
  .product-eco .slick-dots li button {
    width: 30px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .slick-dots li button {
    height: 30px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .slick-dots li button {
    width: 0.46875rem;
    height: 0.46875rem;
  }
}

@media screen and (min-width: 720px) and (min-width: 720px) {
  .product-eco .slick-dots li button {
    width: 15px;
  }
}

@media screen and (min-width: 720px) and (min-width: 720px) {
  .product-eco .slick-dots li button {
    height: 15px;
  }
}

.product-eco .slick-dots li.slick-active button {
  width: 2.8125rem;
  border-radius: 15px;
  background: #ffbe00;
}

@media screen and (min-width: 720px) {
  .product-eco .slick-dots li.slick-active button {
    width: 90px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .slick-dots li.slick-active button {
    width: 0.9375rem;
  }
}

@media screen and (min-width: 720px) and (min-width: 720px) {
  .product-eco .slick-dots li.slick-active button {
    width: 30px;
  }
}

.product-eco .text-light {
  color: #fff !important;
}

.product-eco .text-left {
  text-align: left !important;
}

.product-eco .text-center {
  text-align: center !important;
}

.product-eco .highlight {
  color: #ff9700 !important;
}

.product-eco .text-point {
  color: #0015bd !important;
}

.fix-apply {
  opacity: 1;
}

.product-eco [class^="sector-"] {
  position: relative;
  text-align: center;
}

.product-eco .wrap {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.product-eco .wrap.wrap-1300 {
  width: 1300px;
}

.product-eco .title {
  display: block;
  font-size: 30px;
  color: #222;
  text-align: left;
  line-height: 30px;
}

.product-eco .asterisk p {
  position: relative;
  margin: 0;
  font-size: 14px;
  color: #999;
  text-align: left;
  line-height: 22px;
}

.product-eco .asterisk p::before {
  content: "*";
  position: absolute;
  top: 0;
  left: 0;
}

.product-eco .asterisk span {
  display: inline-block;
  padding-left: 8px;
}

.product-eco .sector-top-banner {
  background-color: #ffbe00;
}

.product-eco .sector-title {
  background: url("https://img.eduwill.net/eduwill/img/2022/L/product/220613//pc/bg_title.jpg") no-repeat 50% 0;
  background-size: cover;
  margin-bottom: -110px;
}

.product-eco .sector-title .title-event {
  position: relative;
  z-index: 2;
}

.product-eco .sector-title .title-event .icon-live {
  position: absolute;
  top: 208px;
  left: 50%;
  margin-left: 333px;
  z-index: 1;
}

.product-eco .sector-title .title-event .desc {
  position: absolute;
  bottom: -50px;
  width: 1200px;
  left: 50%;
  padding-right: 50px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  text-align: right;
}

.product-eco .sector-title .title-event .desc p {
  line-height: 1.5;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.4);
}

.product-eco .sector-target {
  background: #6e46ff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(55%, #6e46ff), color-stop(55%, #ebf4f9));
  background: linear-gradient(to bottom, #6e46ff 55%, #ebf4f9 55%);
}

.product-eco .sector-interview {
  background-color: #ebf4f9;
}

.product-eco .sector-interview .slider-contents {
  position: relative;
  padding-top: 54px;
}

.product-eco .sector-interview .slick-arrow {
  position: absolute;
  top: 85px;
  width: 80px;
  height: 80px;
  font-size: 0;
  outline: none;
  border: none;
  background-size: 14px 25px;
  border-radius: 50%;
  z-index: 50;
}

.product-eco .sector-interview .slick-arrow.slick-prev {
  left: -33px;
  background: url("https://img.eduwill.net/eduwill/img/2022/L/product/220613//pc/arrow_left.jpg") no-repeat 50%;
  background-color: #ebf4f9;
}

.product-eco .sector-interview .slick-arrow.slick-next {
  right: -33px;
  background: url("https://img.eduwill.net/eduwill/img/2022/L/product/220613//pc/arrow_right.jpg") no-repeat 50%;
  background-color: #ebf4f9;
}

.product-eco .sector-solution {
  padding-top: 120px;
  background-color: #ebf4f9;
}

.product-eco .sector-teacher .title {
  position: relative;
}

.product-eco .sector-teacher .title .notice {
  position: absolute;
  left: 45px;
  bottom: -13px;
  text-align: left;
  font-size: 14px;
  color: #999;
  font-weight: 500;
  line-height: 1.4;
}

.product-eco .sector-teacher .teacher-list ul li {
  float: left;
}

.product-eco .sector-teacher .teacher-list ul li a {
  display: block;
}

.product-eco .sector-teacher .teacher-list ul.teacher-main {
  margin-top: 86px;
}

.product-eco .sector-teacher .teacher-list ul.teacher-main li {
  margin-left: 11px;
}

.product-eco .sector-teacher .teacher-list ul.teacher-main li:first-child {
  margin-left: 0;
}

.product-eco .sector-teacher .teacher-list ul.teacher-sub li {
  margin-top: 6px;
  margin-left: 13px;
}

.product-eco .sector-teacher .teacher-list ul.teacher-sub li:nth-child(7n+1) {
  margin-left: 0;
}

.product-eco .sector-books {
  padding-bottom: 90px;
}

.product-eco .sector-books .title {
  margin-top: 80px;
  padding-left: 40px;
  font-size: 34px;
  color: #222;
  font-weight: 900;
  letter-spacing: -2px;
  line-height: 1;
  border-left: 4px solid #d8d8d8;
}

.product-eco .sector-books .inner {
  position: relative;
  padding-top: 40px;
}

.product-eco .sector-books .inner .left {
  width: 772px;
}

.product-eco .sector-books .inner .right {
  padding-top: 278px;
  width: 428px;
  text-align: left;
}

.product-eco .sector-banner {
  background: url("https://img.eduwill.net/eduwill/img/2021/L/product/210304/pc/bg_banner2_210419.jpg") 50% 0 no-repeat;
  background-size: cover;
}
/*# sourceMappingURL=web.css.map */