@charset "UTF-8";
.page-academy-main .grid {
  *zoom: 1;
}

.page-academy-main .grid:before, .page-academy-main .grid:after {
  content: '';
  display: table;
}

.page-academy-main .grid:after {
  clear: both;
}

.page-academy-main .section-lineup .text24 span, .page-academy-main .section-notice .text14 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.page-academy-main .sr-only {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.page-academy-main .grid {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.page-academy-main .grid .col {
  position: relative;
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.page-academy-main .section-series .series-list > div {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.page-academy-main .section-lecture .lecture-list, .page-academy-main .section-product .product-list, .page-academy-main .section-promote .promote-list, .page-academy-main .section-review .review-list, .page-academy-main .section-lab .lab-list, .page-academy-main .section-kin .kin-list, .page-academy-main .section-notice .notice-list {
  margin: 0 4.44444%;
  margin-top: 2rem;
}

@media screen and (min-width: 720px) {
  .page-academy-main .section-lecture .lecture-list, .page-academy-main .section-product .product-list, .page-academy-main .section-promote .promote-list, .page-academy-main .section-review .review-list, .page-academy-main .section-lab .lab-list, .page-academy-main .section-kin .kin-list, .page-academy-main .section-notice .notice-list {
    margin-top: 32px;
  }
}

.page-academy-main .section-lecture .lecture-list a, .page-academy-main .section-product .product-list a, .page-academy-main .section-promote .promote-list a, .page-academy-main .section-review .review-list a, .page-academy-main .section-lab .lab-list a, .page-academy-main .section-kin .kin-list a, .page-academy-main .section-notice .notice-list a {
  display: block;
}

.page-academy-main .section-lecture .lecture, .page-academy-main .section-review .review, .page-academy-main .section-lab .lab, .page-academy-main .section-kin .kin, .page-academy-main .section-notice .notice {
  position: relative;
  margin-top: 0.75rem;
  overflow: hidden;
  border-radius: 0.25rem;
  -webkit-box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

@media screen and (min-width: 720px) {
  .page-academy-main .section-lecture .lecture, .page-academy-main .section-review .review, .page-academy-main .section-lab .lab, .page-academy-main .section-kin .kin, .page-academy-main .section-notice .notice {
    margin-top: 12px;
  }
}

@media screen and (min-width: 720px) {
  .page-academy-main .section-lecture .lecture, .page-academy-main .section-review .review, .page-academy-main .section-lab .lab, .page-academy-main .section-kin .kin, .page-academy-main .section-notice .notice {
    border-radius: 4px;
  }
}

.page-academy-main .section-lecture .lecture:first-child, .page-academy-main .section-review .review:first-child, .page-academy-main .section-lab .lab:first-child, .page-academy-main .section-kin .kin:first-child, .page-academy-main .section-notice .notice:first-child {
  margin-top: 0;
}

.page-academy-main .section-lecture .lecture a, .page-academy-main .section-review .review a, .page-academy-main .section-lab .lab a, .page-academy-main .section-kin .kin a, .page-academy-main .section-notice .notice a {
  display: block;
}

.page-academy-main .section-news .news-list, .page-academy-main .section-lineup .lineup-list, .page-academy-main .section-sample .sample-list, .page-academy-main .section-pass .pass-list {
  padding-top: 2rem;
  padding-right: 4.44444%;
  padding-bottom: 2.5rem;
  padding-left: 4.44444%;
}

@media screen and (min-width: 720px) {
  .page-academy-main .section-news .news-list, .page-academy-main .section-lineup .lineup-list, .page-academy-main .section-sample .sample-list, .page-academy-main .section-pass .pass-list {
    padding-top: 32px;
  }
}

@media screen and (min-width: 720px) {
  .page-academy-main .section-news .news-list, .page-academy-main .section-lineup .lineup-list, .page-academy-main .section-sample .sample-list, .page-academy-main .section-pass .pass-list {
    padding-bottom: 40px;
  }
}

.page-academy-main .section-news .thumb, .page-academy-main .section-lineup .inner, .page-academy-main .section-sample .inner, .page-academy-main .section-pass .thumb {
  position: relative;
  border-radius: 0.25rem;
  -webkit-box-shadow: 0 9px 28px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 9px 28px 0 rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 720px) {
  .page-academy-main .section-news .thumb, .page-academy-main .section-lineup .inner, .page-academy-main .section-sample .inner, .page-academy-main .section-pass .thumb {
    border-radius: 4px;
  }
}

.page-academy-main .section-series .series-list > div {
  border-radius: 1.38889vw;
  background: #fff;
  overflow: hidden;
  -webkit-box-shadow: 3px 3px 18px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 3px 3px 18px 0px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 720px) {
  .page-academy-main .section-series .series-list > div {
    border-radius: 10px;
  }
}

.page-academy-main .section-series .series-list > div:first-child {
  margin-top: 0;
}

.page-academy-main .section-news + .section-lineup:before,
.page-academy-main .section-association + .section-promote:before,
.page-academy-main .section-association + .section-kin:before, .page-academy-main .section-sample + .section-review:before,
.page-academy-main .section-association + .section-notice:before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 100%;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 4.5rem;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 100% auto;
}

@media screen and (min-width: 720px) {
  .page-academy-main .section-news + .section-lineup:before,
  .page-academy-main .section-association + .section-promote:before,
  .page-academy-main .section-association + .section-kin:before, .page-academy-main .section-sample + .section-review:before,
  .page-academy-main .section-association + .section-notice:before {
    height: 72px;
  }
}

.page-academy-main .section-series .series-list > div.col-soon a {
  cursor: not-allowed;
  pointer-events: none;
}

.has-intro .header.header-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.header-sticky .header.header-top {
  position: fixed;
  top: -48px;
  -webkit-transition: top 0.23s ease-out;
  transition: top 0.23s ease-out;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.header-sticky .header.header-bottom {
  position: fixed;
  top: 0;
  -webkit-transition: top 0.2s ease-out;
  transition: top 0.2s ease-out;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.header-original .header.header-top {
  position: fixed;
  top: 0;
  color: #000;
  border-bottom-width: 1px;
  background-color: #fff;
  -webkit-transition: top 0.23s ease-out;
  transition: top 0.23s ease-out;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.header-original .header.header-top .upper {
  background: #fff;
}

.header-original .header.header-top .upper .logo {
  background-image: url("//img.eduwill.net/Img2/Common/BI/type2/live/logo.svg");
}

.header-original .header.header-top .action a {
  width: 48px;
  background-size: 24px;
}

.header-original .header.header-top .action a.btn_category {
  background-image: url("//img.eduwill.net/Img2/mobile2/brand_new/common/icon_menu.png");
}

.header-original .header.header-top .action a.btn_mypage {
  background-image: url("//img.eduwill.net/Img2/mobile2/brand_new/common/icon_mypage.png");
}

.header-original .header.header-top .action a.btn_alarm {
  right: 40px;
  background-image: url("//img.eduwill.net/Img2/mobile2/brand_new/common/icon_bell.png");
}

.header-original .header.header-bottom {
  position: fixed;
  top: 49px;
  -webkit-transition: top 0.23s ease-out;
  transition: top 0.23s ease-out;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.in_app.header-original .header.header-bottom {
  top: 0;
}

.header-sticky-scroll .header.header-bottom {
  position: relative;
  top: 0;
}

.page_location .header.header-bottom {
  display: none;
}

.page-academy-main .header {
  display: block;
}

.in_app.page-academy-main .header {
  display: block;
}

.header-sticky-scroll .scroll_menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 200;
  -webkit-transition: top 0.18s ease-out;
  transition: top 0.18s ease-out;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.page-academy-main {
  position: relative;
  color: #000;
  background-color: #fff;
}

.page-academy-main .swiper-container .swiper-wrapper.disabled {
  -webkit-transform: translate3d(0px, 0, 0) !important;
  transform: translate3d(0px, 0, 0) !important;
}

.page-academy-main .swiper-container .swiper-pagination.disabled {
  display: none;
}

.page-academy-main .swiper-container .swiper-slide {
  text-align: center;
}

.page-academy-main .swiper-container .swiper-slide a {
  display: block;
}

.page-academy-main .swiper-container .swiper-scrollbar {
  right: 6.94444%;
  bottom: 0;
  left: 4.44444%;
  width: 80%;
  height: 2px;
  margin: 0.25rem 0;
  background: #eaeaf4;
}

@media screen and (min-width: 720px) {
  .page-academy-main .swiper-container .swiper-scrollbar {
    margin: 4px 0;
  }
}

.page-academy-main .swiper-container .swiper-scrollbar .swiper-scrollbar-drag {
  background: #fbbd10;
}

.page-academy-main .swiper-container .swiper-pagination {
  top: 1rem;
  right: 1rem;
  bottom: auto;
  left: auto;
  width: auto;
}

@media screen and (min-width: 720px) {
  .page-academy-main .swiper-container .swiper-pagination {
    top: 16px;
  }
}

@media screen and (min-width: 720px) {
  .page-academy-main .swiper-container .swiper-pagination {
    right: 16px;
  }
}

.page-academy-main .swiper-container .swiper-pagination .swiper-pagination-bullet {
  width: 0.375rem;
  height: 0.375rem;
  margin: 0 0.125rem;
  vertical-align: top;
  background: #fff;
}

@media screen and (min-width: 720px) {
  .page-academy-main .swiper-container .swiper-pagination .swiper-pagination-bullet {
    width: 6px;
  }
}

@media screen and (min-width: 720px) {
  .page-academy-main .swiper-container .swiper-pagination .swiper-pagination-bullet {
    height: 6px;
  }
}

@media screen and (min-width: 720px) {
  .page-academy-main .swiper-container .swiper-pagination .swiper-pagination-bullet {
    margin: 0 2px;
  }
}

.page-academy-main .swiper-container .swiper-pagination.swiper-pagination-fraction {
  top: auto;
  bottom: 0;
  line-height: 1;
  font-size: 0.6875rem;
  color: #555;
}

@media screen and (min-width: 720px) {
  .page-academy-main .swiper-container .swiper-pagination.swiper-pagination-fraction {
    font-size: 11px;
  }
}

.page-academy-main .swiper-container .swiper-pagination.swiper-pagination-fraction .swiper-pagination-current {
  font-weight: bold;
}

.page-academy-main .title-box {
  position: relative;
  padding-top: 4.5rem;
  line-height: 1;
}

@media screen and (min-width: 720px) {
  .page-academy-main .title-box {
    padding-top: 72px;
  }
}

.page-academy-main .title-box .item-title {
  margin: 0 6.66667%;
  letter-spacing: -2px;
}

.page-academy-main .title-box .item-title span {
  display: block;
  font-size: 1rem;
  color: #333;
}

@media screen and (min-width: 720px) {
  .page-academy-main .title-box .item-title span {
    font-size: 16px;
  }
}

.page-academy-main .title-box .item-title strong {
  display: block;
  margin-top: 1rem;
  font-size: 2rem;
  letter-spacing: -1.78px;
}

@media screen and (min-width: 720px) {
  .page-academy-main .title-box .item-title strong {
    margin-top: 16px;
  }
}

@media screen and (min-width: 720px) {
  .page-academy-main .title-box .item-title strong {
    font-size: 32px;
  }
}

.page-academy-main .title-box .img-title {
  margin-top: 1.5rem;
}

@media screen and (min-width: 720px) {
  .page-academy-main .title-box .img-title {
    margin-top: 24px;
  }
}

.page-academy-main .title-box .item-more {
  position: absolute;
  right: 6.66667%;
  bottom: 0.1875rem;
  display: inline-block;
  padding: 0;
  padding-right: 1.5625rem;
  line-height: 16px;
  font-size: 0.75rem;
  background-image: url("//img.eduwill.net/eduwill/img/2021/W/main/210428/icon_arrow_right.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 21px 16px;
}

@media screen and (min-width: 720px) {
  .page-academy-main .title-box .item-more {
    bottom: 3px;
  }
}

@media screen and (min-width: 720px) {
  .page-academy-main .title-box .item-more {
    padding-right: 25px;
  }
}

@media screen and (min-width: 720px) {
  .page-academy-main .title-box .item-more {
    font-size: 12px;
  }
}

.page-academy-main .text-box {
  text-align: left;
}

.page-academy-main .text-box .text12 {
  font-size: 0.75rem;
}

@media screen and (min-width: 720px) {
  .page-academy-main .text-box .text12 {
    font-size: 12px;
  }
}

.page-academy-main .text-box .text14 {
  font-size: 0.875rem;
}

@media screen and (min-width: 720px) {
  .page-academy-main .text-box .text14 {
    font-size: 14px;
  }
}

.page-academy-main .text-box .text15 {
  font-size: 0.9375rem;
}

@media screen and (min-width: 720px) {
  .page-academy-main .text-box .text15 {
    font-size: 15px;
  }
}

.page-academy-main .text-box .text16 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  font-size: 1rem;
}

@media screen and (min-width: 720px) {
  .page-academy-main .text-box .text16 {
    font-size: 16px;
  }
}

.page-academy-main .text-box .text20 {
  font-size: 1.25rem;
}

@media screen and (min-width: 720px) {
  .page-academy-main .text-box .text20 {
    font-size: 20px;
  }
}

.page-academy-main .text-box .text24 {
  font-size: 1.5rem;
}

@media screen and (min-width: 720px) {
  .page-academy-main .text-box .text24 {
    font-size: 24px;
  }
}

.page-academy-main .text-box .desc {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  font-size: 1rem;
}

@media screen and (min-width: 720px) {
  .page-academy-main .text-box .desc {
    font-size: 16px;
  }
}

.page-academy-main .section-intro {
  position: relative;
}

.page-academy-main .section-intro img {
  width: 100%;
}

.page-academy-main .section-intro:after {
  content: '';
  position: absolute;
  bottom: 6.89655%;
  right: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 28px;
  height: 28px;
  margin: 0 auto;
  background-image: url("//img.eduwill.net/eduwill/img/2021/W/main/210428/icon_arrow_bottom.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  -webkit-animation-name: arrowBounce;
          animation-name: arrowBounce;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes arrowBounce {
  0%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}

@keyframes arrowBounce {
  0%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}

.page-academy-main .section-intro .swiper-slide {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.page-academy-main .section-visual img {
  width: 100%;
}

.page-academy-main .section-visual .text-box {
  position: absolute;
  top: 30.90909%;
  right: 6.66667%;
  left: 6.66667%;
  z-index: 1;
  max-width: 640px;
  margin: 0 auto;
}

.page-academy-main .section-visual .text16 {
  font-size: 4.44444vw;
  color: #fff;
}

@media screen and (min-width: 720px) {
  .page-academy-main .section-visual .text16 {
    font-size: 32px;
  }
}

.page-academy-main .section-visual .action-list {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.page-academy-main .section-visual a {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.page-academy-main .section-visual a:nth-child(1):nth-last-child(2), .page-academy-main .section-visual a:nth-child(2):nth-last-child(1) {
  width: 50%;
}

.page-academy-main .section-visual a:nth-child(1):nth-last-child(2) {
  left: 0;
}

.page-academy-main .section-visual a:nth-child(2):nth-last-child(1) {
  left: 50%;
}

.page-academy-main .section-visual a:nth-child(1):nth-last-child(3), .page-academy-main .section-visual a:nth-child(2):nth-last-child(2), .page-academy-main .section-visual a:nth-child(3):nth-last-child(1) {
  width: 33.33%;
}

.page-academy-main .section-visual a:nth-child(1):nth-last-child(3) {
  left: 0;
}

.page-academy-main .section-visual a:nth-child(2):nth-last-child(2) {
  left: 33.33%;
}

.page-academy-main .section-visual a:nth-child(3):nth-last-child(1) {
  left: 66.66%;
}

.page-academy-main .section-channel {
  margin-top: 2.625rem;
}

@media screen and (min-width: 720px) {
  .page-academy-main .section-channel {
    margin-top: 42px;
  }
}

.page-academy-main .section-channel + .section-series {
  margin-top: 2.625rem;
}

@media screen and (min-width: 720px) {
  .page-academy-main .section-channel + .section-series {
    margin-top: 42px;
  }
}

.page-academy-main .section-channel .channel-list {
  text-align: center;
  font-size: 0;
}

.page-academy-main .section-channel .channel {
  display: inline-block;
  width: 25%;
}

.page-academy-main .section-channel .channel a {
  display: block;
  padding-top: 64px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 52px;
}

.page-academy-main .section-channel .channel-blog a {
  background-image: url("//img.eduwill.net/eduwill/img/2021/W/main/210428/icon_blog.png");
}

.page-academy-main .section-channel .channel-kakao a {
  background-image: url("//img.eduwill.net/eduwill/img/2021/W/main/210428/icon_kakao.png");
}

.page-academy-main .section-channel .channel-timetable a {
  background-image: url("//img.eduwill.net/eduwill/img/2021/W/main/210428/icon_timetable.png");
}

.page-academy-main .section-channel .channel-app a {
  background-image: url("//img.eduwill.net/eduwill/img/2021/W/main/210428/icon_app.png");
}

.page-academy-main .section-channel .text-box {
  text-align: center;
}

.page-academy-main .section-lecture .lecture-head {
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 154px auto;
}

.page-academy-main .section-lecture .lecture-head .inner {
  display: table;
  width: 100%;
  height: 54px;
  table-layout: fixed;
  padding: 2rem 0;
  background-color: rgba(30, 44, 77, 0.5);
}

@media screen and (min-width: 720px) {
  .page-academy-main .section-lecture .lecture-head .inner {
    padding: 32px 0;
  }
}

.page-academy-main .section-lecture .lecture-head .text-box {
  display: table-cell;
  vertical-align: middle;
  padding: 0 1.25rem;
}

@media screen and (min-width: 720px) {
  .page-academy-main .section-lecture .lecture-head .text-box {
    padding: 0 20px;
  }
}

.page-academy-main .section-lecture .lecture-body {
  background-color: #fff;
}

.page-academy-main .section-lecture .lecture-body .inner {
  padding: 1.25rem 1rem;
}

@media screen and (min-width: 720px) {
  .page-academy-main .section-lecture .lecture-body .inner {
    padding: 20px 16px;
  }
}

.page-academy-main .section-lecture .lecture p + p {
  margin-top: 1.25rem;
}

@media screen and (min-width: 720px) {
  .page-academy-main .section-lecture .lecture p + p {
    margin-top: 20px;
  }
}

.page-academy-main .section-lecture .lecture .text12 {
  color: #555;
}

.page-academy-main .section-lecture .lecture .text14 {
  padding: 0.9375rem;
  text-align: center;
  line-height: 1;
  font-weight: bold;
  color: #000;
  border-radius: 0.25rem;
  border: 1px solid #999;
}

@media screen and (min-width: 720px) {
  .page-academy-main .section-lecture .lecture .text14 {
    padding: 15px;
  }
}

@media screen and (min-width: 720px) {
  .page-academy-main .section-lecture .lecture .text14 {
    border-radius: 4px;
  }
}

.page-academy-main .section-lecture .lecture .text16 {
  font-size: 1.125rem;
  font-weight: bold;
  color: #fff;
}

@media screen and (min-width: 720px) {
  .page-academy-main .section-lecture .lecture .text16 {
    font-size: 18px;
  }
}

.page-academy-main .section-product {
  padding-bottom: 4.5rem;
}

@media screen and (min-width: 720px) {
  .page-academy-main .section-product {
    padding-bottom: 72px;
  }
}

.page-academy-main .section-product .product {
  margin-top: 0.75rem;
}

@media screen and (min-width: 720px) {
  .page-academy-main .section-product .product {
    margin-top: 12px;
  }
}

.page-academy-main .section-product .product:first-child {
  margin-top: 0;
}

.page-academy-main .section-product .product img {
  width: 100%;
}

.page-academy-main .section-series {
  padding-bottom: 19.44444vw;
  background-color: #febd03;
}

@media screen and (min-width: 720px) {
  .page-academy-main .section-series {
    padding-bottom: 140px;
  }
}

.page-academy-main .section-series .series-list {
  max-width: 720px;
  margin: 0 auto;
  margin-top: 9.02778vw;
  padding: 0 3.05556vw;
  font-size: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (min-width: 720px) {
  .page-academy-main .section-series .series-list {
    margin-top: 65px;
  }
}

@media screen and (min-width: 720px) {
  .page-academy-main .section-series .series-list {
    padding: 0 22px;
  }
}

.page-academy-main .section-series .series-list > div {
  display: inline-block;
  width: 44.86111vw;
  margin: 0.69444vw;
}

@media screen and (min-width: 720px) {
  .page-academy-main .section-series .series-list > div {
    width: 323px;
  }
}

@media screen and (min-width: 720px) {
  .page-academy-main .section-series .series-list > div {
    margin: 5px;
  }
}

.page-academy-main .section-series .series-list > div.col-soon a {
  color: #fff;
  background: #acacac;
}

.page-academy-main .section-series .series-list > div.col-soon a::after {
  display: none;
}

.page-academy-main .section-series .series-list > div a {
  position: relative;
  display: inline-block;
  position: relative;
  display: block;
  padding: 4.16667vw;
  font-size: 3.33333vw;
  font-weight: 700;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.page-academy-main .section-series .series-list > div a:after {
  content: '';
  position: absolute;
  top: 50%;
  display: block;
  width: 0.3125rem;
  height: 0.3125rem;
  margin-top: -0.15625rem;
  border-width: 0;
  border-style: solid;
  border-color: #000;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  right: 0;
  border-top-width: 1px;
  border-right-width: 1px;
}

@media screen and (min-width: 720px) {
  .page-academy-main .section-series .series-list > div a:after {
    width: 5px;
  }
}

@media screen and (min-width: 720px) {
  .page-academy-main .section-series .series-list > div a:after {
    height: 5px;
  }
}

@media screen and (min-width: 720px) {
  .page-academy-main .section-series .series-list > div a:after {
    margin-top: -2.5px;
  }
}

@media screen and (min-width: 720px) {
  .page-academy-main .section-series .series-list > div a {
    padding: 30px;
  }
}

@media screen and (min-width: 720px) {
  .page-academy-main .section-series .series-list > div a {
    font-size: 24px;
  }
}

.page-academy-main .section-series .series-list > div a::after {
  right: 3.47222vw;
}

@media screen and (min-width: 720px) {
  .page-academy-main .section-series .series-list > div a::after {
    right: 25px;
  }
}

.page-academy-main .section-news {
  padding-bottom: 4.5rem;
  background-color: #f5f6f8;
}

@media screen and (min-width: 720px) {
  .page-academy-main .section-news {
    padding-bottom: 72px;
  }
}

.page-academy-main .section-news .img-title {
  margin-right: 39.16667%;
  margin-left: 6.66667%;
}

.page-academy-main .section-news .swiper-slide {
  width: 240px;
}

.page-academy-main .section-news .thumb {
  overflow: hidden;
  width: 240px;
  height: 240px;
}

.page-academy-main .section-news .thumb img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  max-width: none;
  height: 100%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.page-academy-main .section-news .text-box {
  margin-top: 1.25rem;
}

@media screen and (min-width: 720px) {
  .page-academy-main .section-news .text-box {
    margin-top: 20px;
  }
}

.page-academy-main .section-news .text16 {
  font-size: 0.875rem;
}

@media screen and (min-width: 720px) {
  .page-academy-main .section-news .text16 {
    font-size: 14px;
  }
}

.page-academy-main .section-lineup {
  position: relative;
  padding-bottom: 3.25rem;
}

@media screen and (min-width: 720px) {
  .page-academy-main .section-lineup {
    padding-bottom: 52px;
  }
}

.page-academy-main .section-lineup .lineup-list {
  padding-top: 7.0625rem;
}

@media screen and (min-width: 720px) {
  .page-academy-main .section-lineup .lineup-list {
    padding-top: 113px;
  }
}

.page-academy-main .section-lineup .lineup-list .swiper-slide-active .inner {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(5%, #ff9a00), color-stop(94%, #ffc100));
  background-image: linear-gradient(to right, #ff9a00 5%, #ffc100 94%);
}

.page-academy-main .section-lineup .swiper-slide {
  width: 270px;
}

.page-academy-main .section-lineup .inner {
  padding: 0 1rem 1.5rem 0;
  background-color: #d4d4cc;
}

@media screen and (min-width: 720px) {
  .page-academy-main .section-lineup .inner {
    padding: 0 16px 24px 0;
  }
}

.page-academy-main .section-lineup .thumb {
  position: relative;
  top: -5.0625rem;
  height: 261px;
  overflow: hidden;
}

@media screen and (min-width: 720px) {
  .page-academy-main .section-lineup .thumb {
    top: -81px;
  }
}

.page-academy-main .section-lineup .text-box {
  margin-top: -5.0625rem;
  padding: 1.25rem;
  border-radius: 0 0.25rem 1.25rem 0;
  background-color: #fff;
}

@media screen and (min-width: 720px) {
  .page-academy-main .section-lineup .text-box {
    margin-top: -81px;
  }
}

@media screen and (min-width: 720px) {
  .page-academy-main .section-lineup .text-box {
    padding: 20px;
  }
}

@media screen and (min-width: 720px) {
  .page-academy-main .section-lineup .text-box {
    border-radius: 0 4px 20px 0;
  }
}

.page-academy-main .section-lineup .text15 {
  min-height: 3rem;
  margin-top: 0.5rem;
  padding-top: 0.5rem;
  font-weight: bold;
  border-top: 1px solid #eaeaea;
}

@media screen and (min-width: 720px) {
  .page-academy-main .section-lineup .text15 {
    min-height: 48px;
  }
}

@media screen and (min-width: 720px) {
  .page-academy-main .section-lineup .text15 {
    margin-top: 8px;
  }
}

@media screen and (min-width: 720px) {
  .page-academy-main .section-lineup .text15 {
    padding-top: 8px;
  }
}

.page-academy-main .section-lineup .text16 {
  color: #555;
  letter-spacing: -1px;
}

.page-academy-main .section-lineup .text16 strong {
  display: block;
  color: #f16522;
}

.page-academy-main .section-lineup .text15 {
  position: relative;
}

.page-academy-main .section-lineup .text15 span {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}

.page-academy-main .section-lineup .text24 {
  margin-top: 0.375rem;
  font-weight: bold;
}

@media screen and (min-width: 720px) {
  .page-academy-main .section-lineup .text24 {
    margin-top: 6px;
  }
}

.page-academy-main .section-lineup .text24 span {
  position: relative;
  display: inline-block;
  max-width: 80%;
  padding-right: 2.25rem;
  letter-spacing: -1px;
  background-image: url("//img.eduwill.net/eduwill/img/2021/W/main/210428/icon_home.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 28px;
}

@media screen and (min-width: 720px) {
  .page-academy-main .section-lineup .text24 span {
    padding-right: 36px;
  }
}

.page-academy-main .section-promote {
  position: relative;
}

.page-academy-main .section-promote + .section-promote {
  margin-top: 0.75rem;
}

@media screen and (min-width: 720px) {
  .page-academy-main .section-promote + .section-promote {
    margin-top: 12px;
  }
}

.page-academy-main .section-promote + .section-notice {
  margin-top: 3rem;
}

@media screen and (min-width: 720px) {
  .page-academy-main .section-promote + .section-notice {
    margin-top: 48px;
  }
}

.page-academy-main .section-promote .promote-list {
  margin-top: 0;
  overflow: hidden;
  text-align: center;
  border-radius: 0.25rem;
}

@media screen and (min-width: 720px) {
  .page-academy-main .section-promote .promote-list {
    border-radius: 4px;
  }
}

.page-academy-main .section-promote + .section-sample {
  margin-top: 3rem;
}

@media screen and (min-width: 720px) {
  .page-academy-main .section-promote + .section-sample {
    margin-top: 48px;
  }
}

.page-academy-main .section-sample {
  background-color: #febd03;
  padding-bottom: 4.5rem;
}

@media screen and (min-width: 720px) {
  .page-academy-main .section-sample {
    padding-bottom: 72px;
  }
}

.page-academy-main .section-sample .img-title {
  margin-right: 41.38889%;
  margin-left: 6.66667%;
}

.page-academy-main .section-sample .swiper-slide {
  width: 270px;
}

.page-academy-main .section-sample .inner {
  overflow: hidden;
  background-color: #fff;
}

.page-academy-main .section-sample .thumb {
  position: relative;
  width: 100%;
  height: 152px;
  overflow: hidden;
}

.page-academy-main .section-sample .thumb:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  background-image: url("//img.eduwill.net/eduwill/img/2021/W/main/210428/icon_play.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 42px;
}

.page-academy-main .section-sample .thumb img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  max-width: none;
  height: 100%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.page-academy-main .section-sample .thumb video {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

.page-academy-main .section-sample .text-box {
  padding: 1rem;
}

@media screen and (min-width: 720px) {
  .page-academy-main .section-sample .text-box {
    padding: 16px;
  }
}

.page-academy-main .section-sample .text16 {
  min-height: 2.625rem;
  font-size: 0.875rem;
}

@media screen and (min-width: 720px) {
  .page-academy-main .section-sample .text16 {
    min-height: 42px;
  }
}

@media screen and (min-width: 720px) {
  .page-academy-main .section-sample .text16 {
    font-size: 14px;
  }
}

.page-academy-main .section-sample .swiper-container .swiper-scrollbar {
  background: rgba(255, 255, 255, 0.3);
}

.page-academy-main .section-sample .swiper-container .swiper-scrollbar .swiper-scrollbar-drag {
  background: #fff;
}

.page-academy-main .section-review {
  position: relative;
  padding-bottom: 4.5rem;
  background-color: #f5f6f8;
}

@media screen and (min-width: 720px) {
  .page-academy-main .section-review {
    padding-bottom: 72px;
  }
}

.page-academy-main .section-review .swiper-slide {
  width: 270px;
}

.page-academy-main .section-review .review {
  padding: 3.25rem 1.25rem 1.25rem;
  background-image: url("//img.eduwill.net/eduwill/img/2021/W/main/210428/icon_quotes.png");
  background-repeat: no-repeat;
  background-position: 20px 20px;
  background-size: 24px auto;
}

@media screen and (min-width: 720px) {
  .page-academy-main .section-review .review {
    padding: 52px 20px 20px;
  }
}

.page-academy-main .section-review p + p {
  margin-top: 0.75rem;
}

@media screen and (min-width: 720px) {
  .page-academy-main .section-review p + p {
    margin-top: 12px;
  }
}

.page-academy-main .section-review .tag-list {
  display: inline-block;
  margin-top: 1.25rem;
  padding: 0.0625rem 0.625rem;
  border-radius: 1.375rem;
  font-size: 0.75rem;
  color: #555;
  background-color: #f5f6f8;
}

@media screen and (min-width: 720px) {
  .page-academy-main .section-review .tag-list {
    margin-top: 20px;
  }
}

@media screen and (min-width: 720px) {
  .page-academy-main .section-review .tag-list {
    padding: 1px 10px;
  }
}

@media screen and (min-width: 720px) {
  .page-academy-main .section-review .tag-list {
    border-radius: 22px;
  }
}

@media screen and (min-width: 720px) {
  .page-academy-main .section-review .tag-list {
    font-size: 12px;
  }
}

.page-academy-main .section-review .tag-list .text12 {
  display: inline-block;
  margin-top: 0;
  color: #555;
}

.page-academy-main .section-pass {
  padding-bottom: 3.25rem;
}

@media screen and (min-width: 720px) {
  .page-academy-main .section-pass {
    padding-bottom: 52px;
  }
}

.page-academy-main .section-pass .thumb {
  overflow: hidden;
}

.page-academy-main .section-association {
  position: relative;
}

.page-academy-main .section-association + .section-promote {
  padding-top: 4.5rem;
}

@media screen and (min-width: 720px) {
  .page-academy-main .section-association + .section-promote {
    padding-top: 72px;
  }
}

.page-academy-main .section-lab {
  padding-bottom: 4.5rem;
}

@media screen and (min-width: 720px) {
  .page-academy-main .section-lab {
    padding-bottom: 72px;
  }
}

.page-academy-main .section-lab .lab {
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 112px auto;
}

.page-academy-main .section-lab .lab-1 {
  background-image: url("//img.eduwill.net/eduwill/img/2021/W/main/210428/lab_1.png");
}

.page-academy-main .section-lab .lab-2 {
  background-image: url("//img.eduwill.net/eduwill/img/2021/W/main/210428/lab_2.png");
}

.page-academy-main .section-lab .lab-3 {
  background-image: url("//img.eduwill.net/eduwill/img/2021/W/main/210428/lab_3.png");
}

.page-academy-main .section-lab .lab-4 {
  background-image: url("//img.eduwill.net/eduwill/img/2021/W/main/210428/lab_4.png");
}

.page-academy-main .section-lab a {
  padding: 1.25rem;
}

@media screen and (min-width: 720px) {
  .page-academy-main .section-lab a {
    padding: 20px;
  }
}

.page-academy-main .section-lab .text20 {
  font-weight: bold;
}

.page-academy-main .section-lab .text14 {
  margin-top: 0.5rem;
}

@media screen and (min-width: 720px) {
  .page-academy-main .section-lab .text14 {
    margin-top: 8px;
  }
}

.page-academy-main .section-kin {
  position: relative;
  padding-bottom: 3rem;
}

@media screen and (min-width: 720px) {
  .page-academy-main .section-kin {
    padding-bottom: 48px;
  }
}

.page-academy-main .section-kin .kin {
  padding-left: 2.625rem;
  background-image: url("//img.eduwill.net/eduwill/img/2021/W/main/210428/icon_question.png");
  background-repeat: no-repeat;
  background-position: 16px center;
  background-size: 28px auto;
}

@media screen and (min-width: 720px) {
  .page-academy-main .section-kin .kin {
    padding-left: 42px;
  }
}

.page-academy-main .section-kin a {
  padding: 1.25rem;
}

@media screen and (min-width: 720px) {
  .page-academy-main .section-kin a {
    padding: 20px;
  }
}

.page-academy-main .section-notice {
  position: relative;
  padding-bottom: 3rem;
  background-color: #f5f6f8;
}

@media screen and (min-width: 720px) {
  .page-academy-main .section-notice {
    padding-bottom: 48px;
  }
}

.page-academy-main .section-notice a {
  padding: 0.6875rem;
}

@media screen and (min-width: 720px) {
  .page-academy-main .section-notice a {
    padding: 11px;
  }
}

.page-academy-main .section-notice .text14 {
  position: relative;
  padding-left: 0.625rem;
}

@media screen and (min-width: 720px) {
  .page-academy-main .section-notice .text14 {
    padding-left: 10px;
  }
}

.page-academy-main .section-notice .text14:before {
  content: '·';
  position: absolute;
  top: 0;
  left: 0;
}

.page-academy-main .section-news + .section-lineup:before,
.page-academy-main .section-association + .section-promote:before,
.page-academy-main .section-association + .section-kin:before {
  background-image: url("//img.eduwill.net/eduwill/img/2021/W/main/210428/bg_section_1.png");
}

.page-academy-main .section-sample + .section-review:before,
.page-academy-main .section-association + .section-notice:before {
  background-image: url("//img.eduwill.net/eduwill/img/2021/W/main/210428/bg_section_2.png");
}

.popup-dim {
  display: none;
  position: absolute;
  top: 0;
  right: 0px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 300;
  background: #000;
  opacity: .8;
  overflow: hidden;
}

.popup.popup-video {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 300;
  max-width: 768px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.popup .popup-video-box {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.popup .popup-video-box iframe, .popup .popup-video-box video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: inherit;
     object-fit: inherit;
}

.popup .popup-close {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 60px;
  height: 60px;
  top: -60px;
  z-index: 300;
}

.popup .popup-close:before, .popup .popup-close:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 30px;
  height: 2px;
  margin-left: -15px;
  background-color: #fff;
}

.popup .popup-close:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.popup .popup-close:after {
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
}

.popup .popup-close span {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.progress-G .section-lineup .lineup-list .swiper-slide-active .inner {
  background: #28a3dc;
}

.progress-G .section-lineup .text16 strong {
  color: #28a3dc;
}

.progress-C .section-product,
.progress-_104 .section-product {
  margin-top: 2.625rem;
  background-color: #f5f6f8;
}

@media screen and (min-width: 720px) {
  .progress-C .section-product,
  .progress-_104 .section-product {
    margin-top: 42px;
  }
}

.progress-C .section-news,
.progress-_104 .section-news {
  background-color: #e4ebf9;
}

.progress-L .section-event img {
  width: 100%;
}

.progress-J .section-visual .visual-fixed .text-box {
  top: 37.09091%;
}

.progress-J .section-visual .visual-fixed .text-box .text15 {
  color: #fff;
}

.progress-J .section-visual .visual-fixed .text-box .text12 {
  margin-top: 1rem;
  font-size: 0.6875rem;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 720px) {
  .progress-J .section-visual .visual-fixed .text-box .text12 {
    margin-top: 16px;
  }
}

@media screen and (min-width: 720px) {
  .progress-J .section-visual .visual-fixed .text-box .text12 {
    font-size: 11px;
  }
}

.progress-J .section-visual .eco-2994 {
  display: inline-block;
}

.progress-J .section-top {
  text-align: center;
  background-color: #e6e6e6;
}

.progress-J .section-top a {
  display: block;
}

.progress-J .section-top a img {
  width: 100%;
}

.progress-J .section-event {
  text-align: center;
}

.progress-J .section-event img {
  width: 100%;
}

.progress-105 .section-lineup {
  padding-bottom: 0;
}

.progress-105 .section-lineup .lineup-picture {
  padding: 2rem 1rem 3rem 1rem;
  text-align: center;
}

@media screen and (min-width: 720px) {
  .progress-105 .section-lineup .lineup-picture {
    padding: 32px 16px 48px 16px;
  }
}

.progress-105 .section-promote {
  padding-bottom: 3rem;
}

@media screen and (min-width: 720px) {
  .progress-105 .section-promote {
    padding-bottom: 48px;
  }
}

.progress-105 .section-notice {
  background-color: #fff;
}
/*# sourceMappingURL=academy.css.map */