.modal-backdrop {
    position: fixed;
    bottom: 0;
    z-index: 1039;

    &.in {
        opacity: 0.8;
    }
}

.modal {
    padding: 70px;
    .close {
        position: absolute;
        top: 12px;
        right: 12px;
        width: 24px;
        height: 24px;
        font-size: 0;
        z-index: 1;
        opacity: 1;
    }


    &-dialog {
        max-width: 538px;
        margin: 0 auto;
    }

    &-content {
        border: none;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
        border-radius: 20px;
    }

    &-header {
        padding: 40px 40px 14px 40px;
        border-bottom: solid 1px $color-Primary;
        .modal-title { 
            @include font-size-color-weight(20px, $color-Black, 500);
            line-height: 36px; 
        }
    }

    &.modal-res-check .modal-body {
        padding: 40px 40px 62px 40px;
    }
    &.modal-res-my .modal-body {
        padding: 28px 40px 20px 40px;
    }

    &-body {
        .item-check {
            border: solid 1px #e9e9e9;
            div {
                display: flex;
                padding: 10px 40px;
                border-top: dashed 1px #e9e9e9;
                &:first-child {
                    border-top: none;
                }
                label {
                    flex-shrink: 0;
                    width: 120px;
                    @include font-size-color-weight(17px, $color-Text-1, 400);
                    line-height: 34px; 
                }
                span {
                    flex-grow: 1;
                    @include font-size-color-weight(17px, $color-Black, 500);
                    line-height: 34px; 
                }
            }
        }

        .item-info {
            margin-top: 42px;
            .title {
                padding-bottom: 18px;
                .icon {
                    width: 24px;
                    height: 24px;
                    margin-right: 6px;
                    vertical-align: middle;
                }
                @include font-size-color-weight(18px, $color-Black, 500);
                line-height: 24px; 
            }
            ul {
                border: solid 1px #e9e9e9;
                padding: 20px;
                li {
                    margin-top: 8px;
                    &:first-child {
                        margin-top: 0;
                    }
                    @include font-size-color-weight(14px, $color-Text-1, 400);
                    line-height: 24px; 
                    strong {
                        font-size: 17px;
                        font-weight: 700;
                    }
                }
            }

            .ck {
                padding-top: 10px;                
                label {
                    @include font-size-color-weight(14px, $color-Text-1, 400);
                    line-height: 24px; 
                }
                input {
                    margin-right: 2px;
                    position: relative;
                    top: 2px;
                }
            }
        }

        .item-calendar {
            
            .month {
                border-bottom: solid 1px $color-Black;
                padding-bottom: 28px;                
                text-align: center;
                position: relative;
                .text {
                    display: inline-block;
                    vertical-align: middle;
                    margin: 0 40px;
                    @include font-size-color-weight(18px, $color-Black, 500);
                    line-height: 20px; 
                }
                .btn {
                    border: solid 1px $color-Stroke;
                    background-color: $color-White;
                    border-radius: 6px;
                    width: 24px;
                    height: 24px;
                    padding: 0;
                    font-size: 0;
                    position: relative;                    
                    &:before {
                        @include contentReset();
                        width: 16px; height: 16px;
                        @include background-name-ext-repeat-poistion("arrow-black", svg, no-repeat, 0 0);
                        background-size: contain;
                        position: absolute; 
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                    &-prev {
                        &:before {
                            transform: translate(-50%, -50%) rotate(-180deg);
                        }
                    }
                    &-next {
                    }
                }
            }

            ul {
                
                li {
                    padding: 10px 140px 10px 0;
                    border-bottom: solid 1px #e9e9e9;
                    position: relative;
                    .number {
                        @include font-size-color-weight(15px, $color-Black, 500);
                        line-height: 21px; 
                        position: absolute; 
                        top: 19px;
                        left: 0;
                    }
                    .group {
                        display: flex;
                        padding: 10px 0 10px 50px;
                        label {
                            flex-shrink: 0;
                            width: 90px;
                            @include font-size-color-weight(15px, $color-Text-1, 400);
                            line-height: 16px; 
                        }
                        span {
                            flex-grow: 1;
                            @include font-size-color-weight(15px, $color-Black, 500);
                            line-height: 16px; 
                        }
                    }
                    .btnarea {
                        position: absolute;
                        top: 50%;
                        right: 0;
                        @include translateY(-50%);
                        .btn {
                            width: 130px;
                        }
                        .blank {
                            display: block;
                            position: relative;
                            width: 130px;
                            height: 40px;
                            &:after {
                                @include contentReset();
                                width: 15px;
                                height: 1px;
                                background-color: #666;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                @include translate(-50%, -50%);
                            }
                        }
                    }
                }
            }

            .btnmore {
                padding-top: 20px;
                .btn {
                    width: 100%;
                    @include font-size-color-weight(15px, $color-Black, 500);
                    .icon {
                        vertical-align: middle;
                        margin-left: 12px;
                    }
                }
            }

            .res-blank {
                // height: calc(100vh - 18.1rem);
                height: 570px;
                display: flex;
                justify-content: center;
                align-items: center;
                .box {                
                    text-align: center;
                    .ico {
                        margin-bottom: 2px;
                    }
                    .text {
                        @include font-size-color-weight(15px, $color-Text-1, 400);
                        line-height: 26px;
                    }
                    .btnarea {
                        margin-top: 10px;
                        .btn {
                            width: 130px;
                        }
                        
                    }
                }
            }
        }
    }

    &-footer {
        padding: 24px 40px;
        border-top: solid 1px #e9e9e9;
        font-size: 0;
        .btn {
            min-width: 130px;
            & + .btn {
                margin-left: 12px;
            }
        }
    }

   

    .scroll-body {
        ::-webkit-scrollbar { width: 0.3rem; height: 0.3rem; }
        ::-webkit-scrollbar-button:start:decrement,
        ::-webkit-scrollbar-button:end:increment { display: block; width: 0; height: 0; background-color: #efefef; }
        ::-webkit-scrollbar-track { background-color: #fff; border-radius: 0.3rem;}
        ::-webkit-scrollbar-thumb { border-radius: 0; background-color: #f1f1f1; border-radius: 0.3rem;}
    }
}

@include mq(screen-tablet) {
    .modal {
        padding: 2rem;

        .close {
            top: 2rem;
            right: 2rem;
            width: 2.4rem;
            height: 2.4rem;
        }

        

        &-content {
            box-shadow: 0px 0.4rem 0.8rem rgba(0, 0, 0, 0.15);
            border-radius: 1rem;
        }

        &-header {
            padding: 4rem 2rem 1.5rem 2rem;
            border-bottom: solid 1px $color-Primary;
            .modal-title { 
                font-size: 1.7rem;
                line-height: 2rem; 
            }
        }

        &.modal-res-check .modal-body {
            padding: 3rem 2rem 3.3rem 2rem;
        }
        &.modal-res-my .modal-body {
            padding: 3rem 2rem;
        }

        &-body {
            .item-check {
                border-width: 0.05rem;
                div {
                    padding: 1.2rem 2rem;
                    border-top-width: 0.05rem;
                    label {
                        width: 8.35rem;
                        font-size: 1.3rem;
                        line-height: 1.9rem; 
                    }
                    span {
                        font-size: 1.3rem;
                        line-height: 1.9rem; 
                    }
                }
            }
    
            .item-info {
                margin-top: 2.6rem;
                .title {
                    padding-bottom: 1rem;
                    .icon {
                        width: 1.6rem;
                        height: 1.6rem;
                        margin-right: 0.3rem;
                    }
                    @include font-size-color-weight(1.3rem, $color-Black, 400);
                    line-height: 1.7rem; 
                }
                ul {
                    border-width: 0.05rem;
                    padding: 1.3rem 1.5rem;
                    li {
                        margin-top: 0.7rem;
                        &:first-child {
                            margin-top: 0;
                        }
                        font-size: 1.1rem;
                        line-height: 1.8rem; 
                        strong {
                            font-size: 1.34rem;
                        }
                    }
                }

                .ck {
                    padding-top: 0.5rem;                
                    label {
                        font-size: 1.1rem;
                        line-height: 1.8rem; 
                    }
                    input {
                        margin-right: 0.2rem;
                        top: 0.2rem;
                    }
                }
            }
    
            .item-calendar {
                
                .month {
                    border-bottom-width: 0.05rem;
                    padding-bottom: 2.5rem;
                    .text {
                        margin: 0;
                        @include font-size-color-weight(1.6rem, $color-Black, 500);
                        line-height: 2rem; 
                    }
                    .btn {
                        position: absolute;
                        top: -0.5rem;
                        border-radius: 0.8rem;
                        width: 3rem;
                        height: 3rem;                  
                        &:before {
                            width: 1.4rem; height: 1.4rem;                            
                        }
                        &-prev {
                            left: 0;
                        }
                        &-next {
                            right: 0;
                        }
                    }
                }
    
                ul {
                    
                    li {
                        padding: 1rem 0 2rem;
                        border-bottom-width: 0.05rem;
                        .number {
                            font-size: 1.5rem;
                            line-height: 1.9rem; 
                            top: 2rem;
                        }
                        .group {
                            padding: 1rem 0 1rem 4.2rem;
                            label {
                                flex-shrink: 0;
                                width: 7.85rem;
                                font-size: 1.5rem;
                                line-height: 1.9rem; 
                            }
                            span {
                                font-size: 1.5rem;
                                line-height: 1.9rem;
                            }
                        }
                        .btnarea {
                            padding-top: 1.3rem;
                            position: inherit;
                            @include translateY(0);
                            .btn {
                                width: 100%;
                            }
                            .blank {
                                width: 100%;
                                height: 4rem;
                                &:after {
                                    width: 1.5rem;
                                    height: 0.05rem;
                                }
                            }
                        }
                    }
                }
    
                .btnmore {
                    padding-top: 2rem;
                    .btn {
                        width: 100%;
                        font-size: 1.5rem;
                        .icon {
                            margin-left: 1rem;
                        }
                    }
                }

                .res-blank {
                    height: calc(100vh - 22rem);
                    .box {                
                        .ico {
                            margin-bottom: 0.5rem;
                        }
                        .text {
                            font-size: 1.5rem;
                            line-height: 2.4rem;
                        }
                        .btnarea {
                            margin-top: 1.5rem;
                            .btn {
                                width: 13.25rem;
                            }
                            
                        }
                    }
                }
            }
        }

        &-footer { 
            padding: 2rem;
            border-top-width: 0.05rem;
            .btn {
                min-width: none;
                width: calc(50% - 0.3rem);
                & + .btn {
                    margin-left: 0.6rem;
                }
            }
        }
    }
}