@charset "UTF-8";
.grid, .teacher-list {
  *zoom: 1;
}

.grid:before, .teacher-list:before, .grid:after, .teacher-list:after {
  content: '';
  display: table;
}

.grid:after, .teacher-list:after {
  clear: both;
}

.hidden,
.sr_only,
.sr-only {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.grid, .teacher-list {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.grid .col, .teacher-list .col, .teacher-list .teacher {
  position: relative;
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.table {
  display: table;
}

.table .table-cell {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

.effect-bounce-diagonal {
  -webkit-animation-name: effectBounceDiagonal;
          animation-name: effectBounceDiagonal;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes effectBounceDiagonal {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}

@keyframes effectBounceDiagonal {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}

.effect-bounce-updown {
  -webkit-animation-name: effectBounceUpDown;
          animation-name: effectBounceUpDown;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes effectBounceUpDown {
  0%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@keyframes effectBounceUpDown {
  0%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

.effect-extend {
  -webkit-animation-name: effectExtend;
          animation-name: effectExtend;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes effectExtend {
  0%, 100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
}

@keyframes effectExtend {
  0%, 100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
}

.effect-blink {
  -webkit-animation-name: effectBlink;
          animation-name: effectBlink;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: step-end;
          animation-timing-function: step-end;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes effectBlink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes effectBlink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.promotion,
.product-eco,
.fullservice {
  text-align: center;
}

.promotion [class^="sector-"],
.product-eco [class^="sector-"],
.fullservice [class^="sector-"] {
  position: relative;
}

.promotion .wrap,
.product-eco .wrap,
.fullservice .wrap {
  position: relative;
  margin: 0 auto;
}

.promotion .wrap-full,
.product-eco .wrap-full,
.fullservice .wrap-full {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.product * {
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
}

.teacher-list {
  margin: 1.38889vw;
}

@media screen and (min-width: 720px) {
  .teacher-list {
    margin: 10px;
  }
}

.teacher-list .teacher {
  margin: 1.38889vw;
}

@media screen and (min-width: 720px) {
  .teacher-list .teacher {
    margin: 10px;
  }
}

.teacher-list .teacher .teacher-info {
  position: absolute;
  left: 1.38889vw;
  bottom: 2.77778vw;
  text-align: left;
  line-height: 1.2;
  color: #000;
}

@media screen and (min-width: 720px) {
  .teacher-list .teacher .teacher-info {
    left: 10px;
  }
}

@media screen and (min-width: 720px) {
  .teacher-list .teacher .teacher-info {
    bottom: 20px;
  }
}

.teacher-list .teacher .teacher-info .subject {
  font-size: 2.36111vw;
  letter-spacing: -0.13889vw;
  background-color: #fff;
}

@media screen and (min-width: 720px) {
  .teacher-list .teacher .teacher-info .subject {
    font-size: 17px;
  }
}

@media screen and (min-width: 720px) {
  .teacher-list .teacher .teacher-info .subject {
    letter-spacing: -1px;
  }
}

.teacher-list .teacher .teacher-info .name {
  position: relative;
  display: inline-block;
  padding-right: 3.47222vw;
  font-size: 2.77778vw;
  font-weight: 700;
  letter-spacing: -0.13889vw;
}

@media screen and (min-width: 720px) {
  .teacher-list .teacher .teacher-info .name {
    padding-right: 25px;
  }
}

@media screen and (min-width: 720px) {
  .teacher-list .teacher .teacher-info .name {
    font-size: 20px;
  }
}

@media screen and (min-width: 720px) {
  .teacher-list .teacher .teacher-info .name {
    letter-spacing: -1px;
  }
}

.teacher-list .teacher .teacher-info .name::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  display: block;
  width: 2.63889vw;
  height: 2.5vw;
  background-image: url("//img.eduwill.net/eduwill/img/2022/G/common/icon/icon_home_grey.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media screen and (min-width: 720px) {
  .teacher-list .teacher .teacher-info .name::after {
    width: 19px;
  }
}

@media screen and (min-width: 720px) {
  .teacher-list .teacher .teacher-info .name::after {
    height: 18px;
  }
}

.teacher-list.teacher-list-grey .teacher-info {
  left: 2.08333vw;
  bottom: 24.30556vw;
  color: #fff;
}

@media screen and (min-width: 720px) {
  .teacher-list.teacher-list-grey .teacher-info {
    left: 15px;
  }
}

@media screen and (min-width: 720px) {
  .teacher-list.teacher-list-grey .teacher-info {
    bottom: 175px;
  }
}

.teacher-list.teacher-list-grey .teacher-info .subject {
  font-size: 2.08333vw;
  letter-spacing: -0.13889vw;
  background: none;
}

@media screen and (min-width: 720px) {
  .teacher-list.teacher-list-grey .teacher-info .subject {
    font-size: 15px;
  }
}

@media screen and (min-width: 720px) {
  .teacher-list.teacher-list-grey .teacher-info .subject {
    letter-spacing: -1px;
  }
}

.teacher-list.teacher-list-grey .teacher-info .name {
  font-size: 2.5vw;
}

@media screen and (min-width: 720px) {
  .teacher-list.teacher-list-grey .teacher-info .name {
    font-size: 18px;
  }
}

.teacher-list.teacher-list-grey .teacher-info .name::after {
  background-image: url("//img.eduwill.net/eduwill/img/2022/G/common/icon/icon_home_white.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto;
}
/*# sourceMappingURL=teacher.css.map */