@charset "utf-8";

html { -webkit-touch-callout: none; -webkit-user-select: none; }
img { -webkit-tap-highlight-color: transparent; }

/* common */
.full_container { position: relative; width: 100%; font-family: 'Noto Sans KR', '맑은 고딕', 'Malgun Gothic', 'Apple SD Gothic Neo', 'Dotum', '돋움', 'Gulim', '굴림', '굴림체', Sans-Serif; background-color: #eee; }
.full_container .container { position: relative; width: 100%; background-repeat: no-repeat; background-position: center top; *zoom: 1; }
.full_container .container:before,
.full_container .container:after { content: ''; display: table; }
.full_container .container:after { clear: both; }
.full_container .wrap,
.full_container .holder { position: relative; width: 100%; max-width: 720px; margin: 0 auto; -webkit-box-sizing: border-box; box-sizing: border-box; }
.full_container .fly { position: absolute; }
.full_container .bx-wrapper .bx-viewport { left: 0; border: none; -webkit-box-shadow: none; box-shadow: none; }

.disabled { cursor: not-allowed; pointer-events: none; }

/* btn */
.full_container .action { position: absolute; right: 4.167%; left: 4.167%; z-index: 10; }
.full_container .action a { position: relative; display: block; padding: 15px 0; text-align: center; line-height: 1; font-size: 5.556vw; color: #131313; font-weight: 700; letter-spacing :-2px; box-sizing: border-box; border-radius: 10px; border: 2px solid #2d2d2d; background: #ffea00; background: linear-gradient(to bottom, #ffea00 0%, #ffea00 80%, #ffd000 94%, #ffd000 100%); }
.full_container .action a:before { content: ''; position: absolute; top: 50%; right: 3%; z-index: 1; width: 30px; height: 30px; background: url('https://img.eduwill.net/Img2/Common/icon/pointer/icon_pointer_2.png') no-repeat 0 0; background-size: 100% auto; animation: 0.4s slideUpY ease-in-out infinite alternate; }
.full_container .item3 .action { top: 435px; left: 65px; margin-left: 0; }
.full_container .action a.btn-download { padding: 11px 0; }
.full_container .action a.btn-download:before { display: none; }
.full_container .action a.btn-download span { display: inline-block; padding-right: 30px; background: url('https://img.eduwill.net/Img2/Common/event/full/cop/202005/pc/icon_download.png') no-repeat right center; }

.full_container .btn_a { display: block; padding: 10px; line-height: 1; text-align:center; background:#e71e2e;}
.full_container .btn_a span { position: relative; display: block; font-weight:700; font-size: 4.167vw; color:#fff;}
.full_container .btn_a span:after { content:' '; position: absolute; top: 50%; right: 0; display:inline-block; height: 4px; width: 4px; margin-top: -2px; border: 1px solid #fff; border-left-width:0; border-top-width:0; transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);}

@media only screen and (min-width: 720px) {
	.full_container .action a { position: relative; display: block; padding: 30px 0; font-size: 36px; }
	.full_container .action a:before { width: 57px; height: 57px; }
	.full_container .action a.btn-download { padding: 30px 0; }

	.full_container .btn_a { padding: 15px; }
	.full_container .btn_a span { font-size: 20px; }
	.full_container .btn_a span:after { width: 8px; height: 8px; margin-top: -4px; }
}

@-webkit-keyframes slideUpY {
	0% { -webkit-transform: translate(0,10px); -ms-transform: translate(0, 10px); transform: translate(0, 10px); }
	100% { -webkit-transform: translate(-10px, 0); -ms-transform: translate(-10px, 0); transform: translate(-10px, 0); }
}
@keyframes slideUpY {
	0% { -webkit-transform: translate(0,10px); -ms-transform: translate(0, 10px); transform: translate(0, 10px); }
	100% { -webkit-transform: translate(-10px, 0); -ms-transform: translate(-10px, 0); transform: translate(-10px, 0); }
}

/* full_menu */
.full_menu { width: 100%; background-color: #2f3033; }
.full_menu .grid { max-width: 720px; margin: 0 auto; }
.full_menu li { position: relative; width: 33.3%; height: 35px; margin-left: .05%; border-radius: 5px 5px 0 0; background-color: #1d1d1d; }
.full_menu li:first-child { margin-left: 0; }
.full_menu .menu a { position: relative; display: table; width: 100%; height: 100%; }
.full_menu .menu span { display: table-cell; vertical-align: middle; font-size: .9375rem; font-weight: bold; color: #ccc; letter-spacing: -1.5px; }
.full_menu em { display:inline-block; position:absolute; top:-12px; left:0; height:20px; line-height:20px; text-align:center; padding:0 5px; color:#fff; font-weight:bold; font-size:.75rem; letter-spacing:-1px; background:#ff0033; border-radius:3px;}
.full_menu em:after { content:''; display:block; position:absolute; left:15px; bottom:-7px; width: 7px; height:7px; background:url('https://img.eduwill.net/Img2/common/event/full/gov2/201903/arrow.png') 0 0 no-repeat; background-size:7px;}

.full_menu .menu .on { border-top-color: #fff; border-left-color: #fff; background-color: #fff; }
.full_menu .menu .on span { color: #333; }

@media only screen and (min-width: 720px) {
	.full_menu li { height: 71px; }
	.full_menu .menu span { font-size: 1.625rem; }
	.full_menu em { top: -23px; height: 33px; line-height: 33px; padding: 0 10px; font-size: 1.1875rem; }
	.full_menu em:after { bottom: -14px; width: 13px; height: 14px; background-size: 14px; }
}

/* section1 */
.section1 { background:url('https://img.eduwill.net/Img2/common/event/full/cop/202005/pc/bg_section1.jpg') 50% 0 no-repeat; background-size: cover; }
.section1 .title_wrap { padding-left: 4.167%; text-align: left; }
.section1 .title_wrap .info strong { display: inline-block; margin-top: 60px; color: #dd2a00; font-weight: 700; font-size: 6.250vw; line-height: 1;}
.section1 .title_wrap .info span { position: relative; display: inline-block; margin-top: 10px; color: #131313; font-weight: 400; font-size: 6.250vw; line-height: 1; z-index: 1;}
.section1 .title_wrap .info span:before { content: ''; display: block; position: absolute; left: 0; bottom: 0; width: 100%; height: 5px; background: #f4e0d6; z-index: -1;}
.section1 .title_wrap .info em { display: inline-block; margin-top: 10px; color: #c5ada6; font-weight: 400; font-size: 3.194vw; line-height: 1;}
.section1 .title_wrap .title { margin-top: 30px; color: #222; font-size: 18.056vw; font-weight: 300; letter-spacing: -5px; text-shadow: 2px 4px 0 #f9e1c9; line-height: 1.1;}
.section1 .title_wrap .title strong { font-weight: 900; letter-spacing: -5px; line-height: 1.1;}
.section1 .title_wrap .date { margin-top: 30px; font-size: 5vw; }
.section1 .action { bottom: -5%; }

@media only screen and (min-width: 720px) {
	.section1 .title_wrap .info strong { margin-top: 120px; font-size: 45px; }
	.section1 .title_wrap .info span { margin-top: 20px; font-size: 45px; }
	.section1 .title_wrap .info span:before { height: 10px; }
	.section1 .title_wrap .info em { font-size: 22px; }
	.section1 .title_wrap .title { margin-top: 60px; font-size: 130px; }
	.section1 .title_wrap .date { margin-top: 60px; font-size: 36px; }
}

/* section2 */
.section2 { background-color: #fff; }

/* full_tab */
.full_tab { position: relative; padding-top: 50px; background-color: #f8f8f8; }
.full_tab ul { max-width: 720px; margin: 0 auto; border: 1px solid #e5e5e5; background:#fff; }
.full_tab ul li { width: 25%; }
.full_tab ul li a { position: relative; display: table; width: 100%; height: 70px; text-align: center; }
.full_tab ul li a:before,
.full_tab ul li a:after { content: ''; position: absolute; display: block; }
.full_tab ul li a:before { top: 50%; left: 0; width: 1px; height: 50%; background-color: #aaa; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }
.full_tab ul li a:after { right: 0; bottom: 0; left: 0; display: block; width: 100%; height: 4px; }
.full_tab ul li a span { display: table-cell; height: 100%; vertical-align: middle; line-height: 1.2; font-size: 3.750vw; font-weight: 400; color: #848484; }
.full_tab ul li.on a:after { background-color: #1d5dbc; }
.full_tab ul li.on a span { font-size: 4.167vw; font-weight: 700; color:#222; }
.full_tab ul li:first-child a:before { display: none; }

@media only screen and (min-width: 720px) {
	.full_tab { padding-top: 100px; }
	.full_tab ul li a { height: 140px; }
	.full_tab ul li a:after { height: 9px; }
	.full_tab ul li a span { font-size: 27px; }
	.full_tab ul li.on a span { font-size: 30px; } 
}

/* full_con */
.full_con { padding: 7px 2.083% 90px; background-color: #f8f8f8; }
.full_con .holder { position: relative; padding: 45px 5.1389% 0; text-align: left; font-size: 6.944vw; font-weight: 400; line-height: 1.2; color: #131313; background: #fff; -webkit-box-sizing: border-box; box-sizing: border-box; }
.full_con .holder strong { position: relative; display: inline-block; font-weight: 700; color: #131313; z-index: 1;}
.full_con .holder strong:before { content: ''; display: block; position: absolute; left: 0; bottom: 0; z-index: -1; width: 100%; background: #eee; }
.full_con .holder .date { margin-top: 25px; line-height: 1; font-size: 5vw; font-weight: 400; color: #131313; }
.full_con .holder .action { position: static; margin-top: 25px; }
.full_con .holder .info_list { padding: 20px; background: #f5f5f5; }
.full_con .holder .info_list .grid { margin-top: 10px; font-size: 3.194vw; }
.full_con .holder .info_list .grid:first-child { margin-top: 0; }
.full_con .holder .info_list .col.subject { width: 22%; padding: 5px; text-align: center; line-height: 1; font-weight: 500; color: #242424; border: 1px solid #242424; border-radius: 30px; background: #fff; }
.full_con .holder .info_list .col.desc { width: 78%; padding-left: 5px; text-align: left; line-height: 1.5; font-weight: 400; color: #7c7c7c; letter-spacing: -1px; }

.full_con .tab1_service1 .holder strong:before { height: 5px; }
.full_con .tab1_service3 .holder .info_list { margin-top: 30px; }
.full_con .tab1_event .holder { padding-bottom: 75px; }
.full_container .section-event { background: #ffea00;}

@media only screen and (min-width: 720px) {
	.full_con { padding: 14px 0 180px; }
	.full_con .holder { padding: 90px 67px 0; font-size: 50px; letter-spacing: -2px; }
	.full_con .holder .date { margin-top: 50px; font-size: 36px; }
	.full_con .holder .action { margin-top: 50px; }
	.full_con .holder .info_list { padding: 30px; }
	.full_con .holder .info_list .grid { margin-top: 20px; font-size: 23px; }
	.full_con .holder .info_list .col.desc { letter-spacing: -1px; }

	.full_con .tab1_service1 .holder strong:before { height: 10px; }
	.full_con .tab1_service3 .holder .info_list { margin-top: 60px; }
	.full_con .tab1_event .holder { padding-bottom: 150px; }
}

/* 레이어 */
.full_layer_reserv.in { display:block !important;}
.full_layer_reserv { display:none; position:absolute; top:0; right: 0; left: 0; max-width: 458px; margin: 0 auto; padding: 50px 15px 20px; background:#fff; border:3px solid #2e2b48; box-sizing:border-box; z-index:1004;}
.full_layer_reserv .form li { margin-top: 2px;}
.full_layer_reserv .form li:first-child { margin-top:0;}
.full_layer_reserv .form .subject { width: 20%; text-align:left; font-size: 2.778vw; color:#000; font-weight:700; line-height: 40px;}
.full_layer_reserv .form .forms { width: 80%; }
.full_layer_reserv .form .forms .inputtext { width:100%; font-size: 2.778vw; font-weight:700; color:#666;}
.full_layer_reserv .form .forms .select { margin:0; width:100%;}
.full_layer_reserv .form .forms .select select { width:100%; font-size: 2.778vw; font-weight:700; color:#666;}
.full_layer_reserv .agree_check {  margin: 7px 0 10px;}
.full_layer_reserv .agree_check label { color:#9a9a9a; font-size:2.222vw; font-weight:400; line-height: 1.3 ;}
.full_layer_reserv .privacy { margin: 10px 0 5px; padding: 5px; height:115px; text-align:left; font-size:2.222vw; font-weight:400; color:#666; line-height:1.4; box-sizing:border-box; background:#e7e7e7; overflow-y:scroll;}
.full_layer_reserv .privacy strong { color:#000; font-weight:700; display:block; margin-bottom:5px;}
.full_layer_reserv .btn_group { margin:20px 0 0; text-align: center;}
.full_layer_reserv .btn_group a { margin: 0 auto;}

.full_layer_reserv .layer_2 { top:200px; width:528px; margin-left:-264px; padding:25px 20px;}
.full_layer_reserv .layer_2 .layer_head { padding:12px 0 20px;}
.full_layer_reserv .layer_2 .layer_head strong { display:block; margin-bottom:15px; font-weight:700; font-size:26px; color:#000; line-height:36px;}
.full_layer_reserv .layer_2 .layer_head span { font-size:15px; color:#666; font-weight:400; line-height:1.5;}
.full_layer_reserv .layer_2 .know_how_text { padding:25px; height:535px; overflow-y:scroll; text-align:left; box-sizing:border-box; background:#e8e8e8;}
.full_layer_reserv .layer_2 .know_how_text .text_title { margin-bottom:15px; color:#292eee; font-weight:700; font-size:20px;}
.full_layer_reserv .layer_2 .know_how_text .desc { margin-bottom:16px; font-size:16px; color:#000; line-height:25px;}
.full_layer_reserv .layer_2 .know_how_text .desc strong { display:block;}

.full_layer_reserv .layer_close { position:absolute;top:2px;right:2px;width:38px;height:38px;}
.full_layer_reserv .layer_close:before,
.full_layer_reserv .layer_close:after {content:'';position:absolute;top:50%;left:50%;display:block;width:28px;height:2px;margin-left:-14px;background-color:#000;}
.full_layer_reserv .layer_close:before{-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);}
.full_layer_reserv .layer_close:after{-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg);}
.full_layer_reserv .layer_close .sr_only { position: absolute;display: inline-block;overflow: hidden;clip: rect(0 0 0 0);width: 0px;height: 0px;margin: -1px;padding: 0;word-break: keep-all;white-space: nowrap;color: transparent;border: 0;text-indent: -9999px;}
.full_layer_reserv .layer_dim { display: none; position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,.3); z-index:1002;}

@media only screen and (min-width: 720px) {
	.full_layer_reserv { padding: 50px 30px 40px; }
	.full_layer_reserv .form li { margin-top: 4px; }
	.full_layer_reserv .form .subject,
	.full_layer_reserv .form .forms .inputtext,
	.full_layer_reserv .form .forms .select select { font-size: 18px; }
	.full_layer_reserv .privacy { margin: 20px 0 10px; padding: 15px; font-size: 14px; }
	.full_layer_reserv .agree_check label { font-size: 14px; }
}

/* 경찰공무원 */
.full_cop .section1 { background-image: url('https://img.eduwill.net/Img2/Common/event/full/cop/202005/pc/bg_section1.jpg'); }
.full_cop .section1 .title_wrap .title { text-shadow: 2px 4px 0 #c5e5f6; }
.full_cop .section1 .title_wrap .info strong { color: #2842a2; }
.full_cop .section1 .title_wrap .info em { color: #97c3cd; }
.full_cop .section1 .title_wrap .info span:before{ background-color: #c6eefd; }
.full_cop .full_con .tab1_service1 .holder strong:before { background-color: #e6fcff; }
