#contents {
	text-align: center;
	font-family: $font-roboto;

	// content
	.type-relative {
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		&.type-relative-video {
			position: relative;
			overflow: hidden;
			&::before {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				z-index: 0;
				width: 100%;
				height: 100%;
				background-color: rgba($color: #000000, $alpha: .6);
			}
			.type-wrap-video {
				position: absolute;
				position: absolute;
				top: 50%;
				left: 50%;
				z-index: -1;
				width: auto;
				height: auto;
				min-width: 100%;
				min-height: 100%;
				background-color: #000;
				@include transform(translateX(-50%) translateY(-50%));
			}
			.type-wrap {
				z-index: 1;
			}
		}
	}
	.type-absolute {
		position: absolute;
		top: 0;
		left: 50%;
		z-index: 10;
	}
	.type-fixed {
		position: fixed;
		top: 0;
		left: 50%;
		z-index: 10;
	}
	.type-wrap {
		position: relative;
		margin: 0 auto;
	}
	.type-wrap-full {
		position: relative;
		width: 100%;
		margin: 0 auto;
	}

	// effect
	.type-effect-1 {
		@include animation(effectBounceDiagonal, .8s, $iteration: infinite){
			0%, 100% { @include translateXY(0, 0); }
			50% { @include translateXY(-10px, -10px); }
		}
	}

	.type-effect-2 {
		@include animation(effectBounceUpDown, .8s, $iteration: infinite){
			0%, 100% { @include translateY(0); }
			50% { @include translateY(-10px); }
		}
	}

	.type-effect-3 {
		@include animation(effectBounceRtl, .8s, $iteration: infinite){
			0%, 100% { @include translateX(0); }
			50% { @include translateX(-20px); }
		}
	}

	.type-effect-4 {
		@include animation(effectBounceLtR, .8s, $iteration: infinite){
			0%, 100% { @include translateX(0); }
			50% { @include translateX(20px); }
		}
	}

	.type-effect-5 {
		@include animation(effectExtend, .8s, $iteration: infinite){
			0%, 100% { @include scaleXY(1, 1); }
			50% { @include scaleXY(1.1, 1.1); }
		}
	}

	.type-effect-6 {
		@include animation(effectBlink, 1s, $timing: step-end, $iteration: infinite){
			0%, 100% { opacity: 1; }
			50% { opacity: 0; }
		}
	}

	// banner
	.type-fix-right {
		position: fixed;
		right: 0;
		bottom: 0;
		z-index: 10;
		.type-wrap {
			width: auto;
		}
	}
	.type-fix-left {
		position: fixed;
		bottom: 0;
		left: 0;
		z-index: 10;
		.type-wrap {
			width: auto;
		}
	}
	.type-fix-bottom {
		position: fixed;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 10;
		.type-bg {
			position: absolute;
			right: 0;
			bottom: 0;
			left: 0;
		}
	}
}
