@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

// Core variables and mixins
@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/extend";

// Reset and dependencies
@import "base/reset";
@import "base/button";
@import "base/form";
@import "base/popup";

// layout
@import "layout/common";
@import "layout/layout";


.admin-guide{
    h1{
        display: block;
        color:red;
        &.tac{ text-align: center; }
    }
}




.mt20 { margin-top: 20px;}
.mt30 { margin-top: 30px;}

.f14 { font-size: 14px;}

.pointer{ cursor: pointer;}


.bln { border-left:none !important}
.brn { border-right:none !important}
.btn { border-top:none !important; padding-top:0!important}
.bbn { border-bottom:none !important}
.t_bn { border:none !important}


