.icon {
    display: inline-block;
    background-size: contain;
    vertical-align: middle;

    &-add {
        width: rem(14);
        height: rem(14);
        @include background-name-ext-repeat-poistion('icon_add', svg, no-repeat, 0 0);
    }
	&-down {
        width: rem(24);
        height: rem(24);
        @include background-name-ext-repeat-poistion('icon_down', svg, no-repeat, 0 0);
    }
	&-up {
        width: rem(24);
        height: rem(24);
        @include background-name-ext-repeat-poistion('icon_up', svg, no-repeat, 0 0);
    }
	&-close {
        width: rem(24);
        height: rem(24);
        @include background-name-ext-repeat-poistion('icon_close', svg, no-repeat, 0 0);
    }
	&-trash {
        width: rem(24);
        height: rem(24);
        @include background-name-ext-repeat-poistion('icon_trash', svg, no-repeat, 0 0);
    }
	&-check { 
        width: rem(24);
        height: rem(24);
        @include background-name-ext-repeat-poistion('icon_check', svg, no-repeat, 0 0);
    }
	&-plus { 
        width: rem(24);
        height: rem(24);
        @include background-name-ext-repeat-poistion('icon_check', svg, no-repeat, 0 0);
    }
	&-task-24 { 
        width: rem(24);
        height: rem(24);
        @include background-name-ext-repeat-poistion('icon_task_24', svg, no-repeat, 0 0);
    }
	&-task-48 { 
        width: rem(48);
        height: rem(48);
        @include background-name-ext-repeat-poistion('icon_task_48', svg, no-repeat, 0 0);
    }

}

