// z-index
// z-index: map-get($z-index, pager);
$z-index: (
	// loading: 400,
	// modal-overlap: 350,
	// modal: 300,
	// dim: 200,
	// shortcut: 150,
	// fixed: 150,
	// pager: 100
	popup-overlay: 300,

);

// font-family
$font-pretendard: 'Pretendard Variable', Pretendard, sans-serif;
$font-noto: 'Noto Sans KR', '맑은 고딕', 'Malgun Gothic', 'Apple SD Gothic Neo', 'Dotum', '돋움', 'Gulim', '굴림', '굴림체', Sans-Serif;
$font-malgun: 'MalGun Gothic', '맑은고딕', 'dotum';

// color
$color-num : #FF8205;
$color-point : #f04400;
$color-primary: #29549b;

$color-white: #fff;
$color-black: #000;
$color-red : #f00;
$color-blue: #0000ff;


// boder color
$border-color-1: #d0d0d0;

// background color
$bg-color-1: #f2f2f2;

// etc
$dim: rgba(51, 51, 51, .6);




// img path
// background-image: url('#{$img-path}/common/icon_delete_uncheck.png');
// $img-path: "//img.eduwill.net/resources/life/live/images";