@import url(https://fonts.googleapis.com/ earlyaccess/notosanskr.css);
#div_cont {
	font-family: "Pretendard Variable";
}
#div_cont {
	width: 100%;
	text-align: center;
	clear: both;
	position: relative;
}
#div_full, #div_full1, #div_full2, #div_full3 {
	text-align: center;
	margin: auto;
}
.quick {
	width: 120px;
	position: fixed;
	top: 270px;
	left: 50%;
	margin-left: 600px;
	z-index: 10;
}
.div_con {
	background: url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2019_team/top_bg_susi.jpg') center top no-repeat;
} /**/
.div_con1 {
	background: #f4f4f4;
}
.div_con2 {
} /**/
.div_con3 {
	background: #eaeaea;
} /**/
.edu_info {
	height: 1050px;
} /**/

.contents_wrap {display:block;}
.contents_wrap.on {display:block;}
.select_wrap {display:block;}
.select_wrap.on {display:block;}
.edu_info_box {
	display: inline-block;
	width: 992px;
	height: 860px;
	padding: 0 180px;
	background: url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2019_teamplay/new/bg.jpg') center 65px no-repeat;
	text-align: center;
	margin-top: 74px;
}
.edu_info h2 {
	text-align: left;
	margin-bottom: 12px;
}
.edu_info_box h3 {
	font-size: 30px;
	color: #5a450f;
	font-weight: lighter;
	letter-spacing: -2px;
	text-align: left;
	margin: 15px 0 0 25px;
}
.tit_sub {
	font-size: 16.5px;
	color: #3c3c3d;
	font-weight: lighter;
	letter-spacing: -1.7px;
	text-align: left;
}
.edu_info ul {
	display: block;
	width: 992px;
	text-align: center;
}
.edu_info01 li {
	display: inline-block;
	width: 487px;
	background-color: #fff;
	text-align: left;
	vertical-align: top;
	border: 1px solid #c2c4d0;
	box-sizing: border-box;
}
.edu_info01 li:nth-child(1) {
	margin-right: 13px;
}
.edu_info02 li {
	display: inline-block;
	width: 238px;
	background-color: #fff;
	text-align: left;
	vertical-align: top;
	border: 1px solid #c2c4d0;
	box-sizing: border-box;
	margin-right: 8px;
}
.edu_info02 li:nth-child(4), .edu_info02 li:nth-child(8) {
	margin-right: 0px;
}
.edu_info02 h3 {
	font-size: 27px;
	color: #5a450f;
	font-weight: lighter;
	letter-spacing: -2px;
	text-align: left;
	margin: 18px 0 0 17px;
}
.edu_info02 h3 span {
	font-size: 14.5px;
	letter-spacing: -1.5px;
	padding-left: 5px;
	color: #3c3c3d;
}
.tit_sub2 {
	font-size: 16px;
	color: #3c3c3d;
	font-weight: lighter;
	letter-spacing: -1.5px;
	text-align: left;
	margin-left: 20px;
}
.sub_info {
	font-size: 18px;
	color: #3c3c3d;
	letter-spacing: -0.7px;
	line-height: 24px;
	text-align: left;
	padding: 10px 0 22px 29px;
}
.sub_info2 {
	font-size: 14px;
	color: #3c3c3d;
	letter-spacing: -0.5px;
	line-height: 21px;
	text-align: left;
	padding: 10px 0 22px 21px;
}
.edu_info li p>b {
	display: inline-block;
	background: url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2019_teamplay/new/brit.gif') left 12px no-repeat;
	margin-right: 2px;
	padding-left: 8px;
}
.edu_info02 li p>b {
	background-position: left 10px;
}
#div_full_bn {
	height: 161px;
	background: url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2019_teamplay/new/bbanner_bg.jpg') center top no-repeat;
}
.sec_info {font-weight:300;}
.sec_info .full {background:#f7f7f7; overflow:hidden;}
.sec_info .con01 {width:990px; margin:0 auto; padding-bottom:100px;}
.sec_info .con02 {width:990px; margin:0 auto; padding-bottom:100px;}
.sec_info .top_tab {width:990px; margin:0 auto;}
.sec_info .top_tab li {float:left; display:table; background:#fff; width:197px; height:138px; border:1px solid #010101; border-top:1px solid #fff; border-right:none; position:relative; cursor:pointer;}
.sec_info .top_tab li:last-child {border-right:1px solid #010101;}
.sec_info .top_tab li.on {background:#f93a3a; border:1px solid #f93a3a; color:#fff;}
.sec_info .top_tab li.on .top {color:#f93a3a; background:#fff;}
.sec_info .top_tab li.on .tab_name {color:#fff;}
.sec_info .top_tab li + li {border-left:none;}
.sec_info .top_tab li + li .box {border-left:1px solid #ccc;}
.sec_info .top_tab li.on + li .box {border-left:none;}
.sec_info .top_tab li + li.on .box {border-left:none;}
.sec_info .top_tab li .tab_wrap {display:table-cell; vertical-align:middle; text-align:center;}
.sec_info .top_tab li .tab_wrap.ing .top {background:#f93a3a; color:#fff;}
.sec_info .top_tab li.on .tab_wrap.ing .top {color:#f93a3a; background:#fff;}
.sec_info .top_tab li .top {background:#ccc; border-radius:30px; -webkit-border-radius:30px; -moz-border-radius:30px; -ms-border-radius: 30px; width:146px; height:26px; line-height:26px; font-size:15px; color:#fff; margin:0 auto;}
.sec_info .top_tab li .tab_name {font-size:22px; font-weight:bold; color:#010101; line-height:24px; margin-top:10px;}
.sec_info .top_tab li .tab_name em {font-size:30px; vertical-align:middle; width:13px; text-indent:-999px; overflow:hidden; height:13px; background: url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2019_teamplay/new/icon_star.png') 0 0 no-repeat; display:inline-block; margin-top:-10px;}
.sec_info .top_tab li.on .tab_name em { background: url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2019_teamplay/new/icon_star_w.png') 0 0 no-repeat;}
.sec_info .top_tab li .tab_name em img {vertical-align:top; margin-top:3px;}
.sec_info .top_tab li .arrow {position:absolute; bottom:-22px; left:75px; display:none;}
.sec_info .top_tab li.on .arrow {display:block;}
.sec_info .title {display:block; overflow:hidden; margin-top:90px;}
.sec_info .title span {color:#f93a3a; font-size:17px; padding-bottom:1px; border-bottom:1px solid #f93a3a; float:left; margin-top:11px; margin-left:20px;}
.sec_info .title_img {float:left;}
.sec_info .select {overflow:hidden;}
.sec_info .select li {border:1px solid #333; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; -ms-border-radius: 3px; width:312px; height:66px; line-height:66px; display:inline-block; float:left; font-size:25px; cursor:pointer;}
.sec_info .select li:hover, .sec_info .select li.on {background:#f93a3a; color:#fff; border:1px solid #f93a3a;}
.sec_info .select li + li {margin-left:5px;}
.sec_info .sub_title {font-weight:500;}

.table_new_type_01 td {
	vertical-align: middle;
}
.table_new_type_01 {
	width: 100%;
	border-top: 2px solid #888;
	border-bottom: 1px solid #888;
	border-left: 1px solid #ccc;
	font-size:17px;
}
.table_new_type_01.nowrap th {
	white-space: nowrap;
}
/*ie10*/.ie .table_new_type_01.scholar {
	border-collapse: separate;
}
.table_new_type_01.fix {
	table-layout: fixed
}
.table_new_type_01 thead th {
	text-align: center;
	font-weight: normal;
	padding: 11px 0 12px 0;
}
.table_new_type_01 thead tr:first-child th {
	border-top: 0;
}
.table_new_type_01 th {
	background: #f6f6f6;
	text-align: center;
	vertical-align: middle;
	color:#333;
	border: 1px solid #ccc;
	font-weight: normal;
	padding: 11px 0 12px 0;
}
.table_new_type_01 th span.req {
	background: url("https://img.megastudy.net/campus/library/v2015/library/common/icon/bl_list.gif") no-repeat 0 7px;
	padding-left: 10px;
}
.table_new_type_01 td {
	text-align: center;
	background:#fff;
	border: 1px solid #ccc;
	padding: 12px 10px 12px 10px;
}
.table_new_type_01 input {
	height: 18px;
	font-size: 12px;
	vertical-align: middle;
}
.table_new_type_01 input[type=text] {
	min-width:70px;
	height: 31px;
	font-size: 17px;
	vertical-align: middle;
	text-align:center;
	border:1px solid #ccc;
}
.table_new_type_01 select {
	min-width:76px;
	height: 37px;
	border: 1px solid #ccc;
	font-size: 17px;
	vertical-align: middle;
	padding: 0px 2px 3px;
	padding: 1px\9
}
.table_new_type_01 label {
	display: inline-block;
	vertical-align: middle;
}
.table_new_type_01 .warn {
	font-size: 12px;
	line-height: 17px;
}
.table_new_type_01 .warn.mt5 {
	margin-top: 3px;
}
.table_new_type_01 .width_136 {
	width: 134px;
}
.table_new_type_01 .width_368 {
	width: 368px;
}
.table_new_type_01 .width_320 {
	width: 320px;
}
.table_new_type_01 .width_29 {
	width: 29px;
}
.table_new_type_01 .width_40 {
	width: 38px;
}
.table_new_type_01 .space {
	padding-right: 15px;
}
.table_new_type_01.photo td.br_1 {
	vertical-align: middle;
}
.btn_style01{display:inline-block; height:37px; line-height:35px; background:#68707d; vertical-align:middle; padding:0 20px;}
.btn_style01 span{display:block;height:37px; line-height:35px; font-size:17px;color:#fff;font-weight:normal}
.btn_style02{display:inline-block; height:68px; line-height:66px; background:#333; vertical-align:middle; width:330px; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; -ms-border-radius: 5px; }
.btn_style02 span{display:block;height:66px; line-height:66px; font-size:25px;color:#fff;font-weight:normal}
.btn_style03{display:inline-block; height:68px; line-height:66px; background:#f93a3a; vertical-align:middle; width:330px; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; -ms-border-radius: 5px; }
.btn_style03 span{display:block;height:66px; line-height:66px; font-size:25px;color:#fff;font-weight:normal}

.subDot{background:url("https://img.megastudy.net/campus/library/v2015/library/common/icon/icon_dot.png") 0 10px no-repeat; line-height:25px; padding-left:15px; color:#333; font-size:20px; font-weight:300;}