/* 주변고시원 팝업 */
body, div {margin:0;padding:0;border:0;}

.gosi_center {
	background:url('https://img.megastudy.net/campus/library/v2015/library/gosi/bg_center.gif') no-repeat top left;
}
.gosi_bottom {
	background:url('https://img.megastudy.net/campus/library/v2015/library/gosi/bg_bottom.gif') no-repeat bottom left;
}
.gosi_layer {
	overflow-y:scroll;
	overflow-x:hidden;
	margin:0 29px;
	width:664px;
	height:404px;
	margin-bottom:17px;
}
.gosi_layer table th {border-top:2px solid #4899EE;border-bottom:1px solid #aaaaaa;vertical-align:middle;}
.gosi_layer table td { 
	padding:5px 0 6px 0;
	font-size:12px;
	color:#767676;
	letter-spacing:-1px;
	border-bottom:1px solid #e7e7e7
}
