/*** 인트로 ***/
#container{border-bottom:0}
.introContent,.introTopBnr{position:relative;width:100%;text-align:center;*zoom:1}
.introContent:after,.introTopBnr:after{display:block;clear:both;content:''}
.introTopBnr>.inner_body,.introContent .introNotice{width:1070px;margin:0 auto}
/*** 인트로 공통 class ***/
/* 공통 레이어 */
.ly_pop{position:absolute;z-index:100}
.ly_pop .ly_line{color:#2d2d2d;line-height:26px}
/* ly_font_160811 레이어 */
.ly_pop.ly_font_160811{left:781px;top:0;width:303px;height:357px;color:#e9e9e9;font-weight:bold;line-height:26px}
/* 날개배너 */
.quick_menu{position:absolute;left:50%;top:-153px;width:80px;margin-left:560px;z-index:111}
.quick_menu>a{display:inline-block;vertical-align:top;margin-top:5px}
.quick_menu>a:first-child{margin-top:0}

/* 임시 */
.mega_view_n .branch_menu_jaehak .mega_subconsulting a:hover{color:#8c6239 !important}/* 컨설팅 */

/*** 상단 메뉴 ****/
/* 가로형 타입 */
.menuWrap{position:relative;width:100%;margin-bottom:20px;border-bottom:1px solid #e5e5e5;min-height:196px;background:#f7f7f7}
.menu_allMeun_type{display:inline-block;position:relative;z-index:2;width:100%;overflow:visible;text-align:center}
.menu_allMeun_type>li{display:inline-block;margin-left:-4px;vertical-align:top}
.menu_allMeun_type>li>h2{width:156px;height:60px;text-align:center}
.menu_allMeun_type>li .menu_link{display:block;height:100%;background:url("https://img.megastudy.net/campus/library/v2015/library/intro/ir_menu.png") no-repeat}
.menu_allMeun_type>li.current h2{background:#f7f7f7}
.menu_allMeun_type>li.menu_nsu .menu_link{background-position:0 0}
.menu_allMeun_type>li.menu_nsu.current .menu_link{background-position:0 -60px}
.menu_allMeun_type>li.menu_jaehak .menu_link{background-position:-156px 0}
.menu_allMeun_type>li.menu_jaehak.current .menu_link{background-position:-156px -60px}
.menu_allMeun_type>li.menu_russel .menu_link{background-position:-312px 0}
.menu_allMeun_type>li.menu_russel.current .menu_link{background-position:-312px -60px}
.menu_allMeun_type .detail_view{display:none;position:absolute;top:60px;left:0;right:0;width:100%}
.menu_allMeun_type .detail_view .columnDiv{width:1095px;margin:0 auto;padding:24px 0;text-align:left;box-sizing:border-box;*zoom:1}
.menu_allMeun_type .detail_view .columnDiv:after{display:block;clear:both;content:''}
.menu_allMeun_type .detail_view .columnDiv .column{float:left;position:relative;height:100%;min-height:88px}
.menu_allMeun_type .detail_view .columnDiv .column h3{position:absolute;top:0;left:0}
.menu_allMeun_type .detail_view .columnDiv .column .branch ul:after{clear:both; display:block; content:'';}
.menu_allMeun_type .detail_view .columnDiv .column .branch.inline .area{display:inline-block; width:27px; height:22px; vertical-align:top;}
.menu_allMeun_type .detail_view .columnDiv .column .branch.inline ul{display:inline-block; vertical-align:top;}
.menu_allMeun_type .detail_view .columnDiv .column .branch.inline ul li{float:left; margin:0 6px 4px 2px;}
.menu_allMeun_type .detail_view .columnDiv .column .branch ul li a{position:relative; display:inline-block; min-height:22px; line-height:20px; color:#000; letter-spacing:-.5px; font-size:15px; padding:0 5px;}
.menu_allMeun_type .detail_view .columnDiv .column .branch ul li a:hover{color:#fff;}
.menu_allMeun_type .detail_view .columnDiv .column .branch ul li span.new{display:block; position:absolute; top:0px; right:-9px; z-index:1; width:11px; height:11px; background:url("https://img.megastudy.net/campus/library/v2015/library/intro/icon_n.png") no-repeat;}
/* 재수 */
.menu_allMeun_type .menu_nsu .branch ul li a:hover{background:#ec4d5c;}
.menu_allMeun_type .menu_nsu .col_left{padding-left:159px; width:179px;}
.menu_allMeun_type .menu_nsu .col_left h3{top:19px; left:30px;}
.menu_allMeun_type .menu_nsu .branch.s1 ul li a{padding:0}
.menu_allMeun_type .menu_nsu .branch.s1 ul li a>span{position:relative; display:inline-block; min-height:22px; line-height:20px; padding:0 5px;}
.menu_allMeun_type .menu_nsu .branch.s1 ul li a>em{padding:0 5px; color:#9d9d9d; font-size:12px;}
.menu_allMeun_type .menu_nsu .branch.s1 ul li a:hover{background:transparent; color:#fff;}
.menu_allMeun_type .menu_nsu .branch.s1 ul li a:hover>span{display:inline-block; background:#ec4d5c;}
.menu_allMeun_type .menu_nsu .branch.s1 ul li a:hover>em{color:#ec4d5c;}
.menu_allMeun_type .menu_nsu .branch.inline ul{width:220px; overflow:hidden;}
.menu_allMeun_type .menu_nsu .col_center{padding-left:150px; width:273px; border-left:1px solid #e5e5e5; border-right:1px solid #e5e5e5;}
.menu_allMeun_type .menu_nsu .col_center h3{top:19px; left:27px;}
.menu_allMeun_type .menu_nsu .col_right{padding-left:163px;}
.menu_allMeun_type .menu_nsu .col_right h3{top:19px; left:35px;}
.menu_allMeun_type .nsu_tit{height:45px; background:url("https://img.megastudy.net/campus/library/v2015/library/intro/nsu_tit.png") no-repeat;}
.menu_allMeun_type .nsu_tit.t1{width:85px; background-position:0 0;}
.menu_allMeun_type .nsu_tit.t2{width:105px; background-position:-150px 0;}
.menu_allMeun_type .nsu_tit.t3{width:85px; background-position:-300px 0;}
.menu_allMeun_type .menu_nsu .column:hover .nsu_tit.t1{background-position:0 bottom;}
.menu_allMeun_type .menu_nsu .column:hover .nsu_tit.t2{background-position:-150px bottom;}
.menu_allMeun_type .menu_nsu .column:hover .nsu_tit.t3{background-position:-300px bottom;}
/* 재학 */
.menu_allMeun_type .menu_jaehak .branch ul li a:hover{background:#2896f0;}
.menu_allMeun_type .menu_jaehak .col_center{padding-left:187px; width:151px; border-right:1px solid #e5e5e5;}
.menu_allMeun_type .menu_jaehak .col_center h3{top:19px; left:38px;}
.menu_allMeun_type .menu_jaehak .col_right{padding-left:151px;}
.menu_allMeun_type .menu_jaehak .col_right h3{top:19px; left:35px;}
.menu_allMeun_type .menu_jaehak .col_right h3:after{left:0;}
.menu_allMeun_type .jae_tit{height:45px; background:url("https://img.megastudy.net/campus/library/v2015/library/intro/jae_tit.png") no-repeat;}
.menu_allMeun_type .jae_tit.t1{width:125px; background-position:0 0;}
.menu_allMeun_type .jae_tit.t2{width:80px; background-position:-150px 0;}
.menu_allMeun_type .menu_jaehak .column:hover .jae_tit.t1{background-position:0 bottom;}
.menu_allMeun_type .menu_jaehak .column:hover .jae_tit.t2{background-position:-150px bottom;}
/* 러셀 */
.menu_allMeun_type .menu_russel .branch ul li a:hover{background:#1fd7b3;}
.menu_allMeun_type .menu_russel .col_left{padding-left:315px; width:280px;}
.menu_allMeun_type .menu_russel .col_left h3{top:8px; left:115px;}
.menu_allMeun_type .menu_russel .col_right{padding-left:190px; width:280px; border-left:1px solid #e5e5e5;}
.menu_allMeun_type .menu_russel .col_right h3{top:8px; left:50px;}
.menu_allMeun_type .rus_tit{height:75px; background:url("https://img.megastudy.net/campus/library/v2015/library/intro/rus_tit_n.png") no-repeat;}
.menu_allMeun_type .rus_tit.t1{width:160px; background-position:0 0;}
.menu_allMeun_type .rus_tit.t2{width:160px; background-position:-300px 0;}
.menu_allMeun_type .menu_russel .column:hover .rus_tit.t1{background-position:0 bottom;}
.menu_allMeun_type .menu_russel .column:hover .rus_tit.t2{background-position:-300px bottom;}
.menu_allMeun_type .menu_nsu_bg{background:#ec4d5c;}
.menu_allMeun_type .menu_jaehak_bg{background:#2896f0;}
.menu_allMeun_type .menu_russel_bg{background:#1fd7b3;}
/* 세로형 타입 */
.menuWrap .allMeun{position:relative;width:1070px;margin:0 auto}
.menuWrap .allMeun .mega_menu,.menuWrap .allMeun .mega_menu .mega_sub{position:relative;*zoom:1}
.menuWrap .allMeun .mega_menu:after,.menuWrap .allMeun .mega_menu .mega_sub:after{display:block;clear:both;content:''}
.menuWrap .allMeun .mega_menu>li,.menuWrap .allMeun .mega_menu .mega_sub>li{float:left}
.menuWrap .allMeun .mega_menu>li{position:relative;height:198px}
.menuWrap .allMeun .mega_menu>li:after{display:inline-block;position:absolute;left:0;top:50%;width:1px;height:158px;margin-top:-79px;background:#e4e4e4;content:''}
.menuWrap .allMeun .mega_menu>li:first-child:after,.menuWrap .allMeun .mega_menu>li.on:after{display:none}
.menuWrap .allMeun .mega_menu>li.menu_combine{width:313px}
.menuWrap .allMeun .mega_menu>li.menu_dorm{width:260px}
.menuWrap .allMeun .mega_menu>li.menu_jaehak{width:218px}
.menuWrap .allMeun .mega_menu>li.menu_rusel{width:279px}
.menuWrap .allMeun .mega_menu>li.on{color:#fff !important}
.menuWrap .allMeun .mega_menu>li.on .mega_sub a:hover{background:#fff}
.menuWrap .allMeun .mega_menu>li.menu_combine.on{background:#ec4d5c}/* 재수 통합학원 */
.menuWrap .allMeun .mega_menu>li.menu_combine.on .mega_sub a:hover{color:#ec4d5c}
.menuWrap .allMeun .mega_menu>li.menu_dorm.on{background:#a29274}/* 재수 기숙학원 */
.menuWrap .allMeun .mega_menu>li.menu_dorm.on .mega_sub a:hover{color:#a29274}
.menuWrap .allMeun .mega_menu>li.menu_jaehak.on{background:#2895f0}/* 중고등 */
.menuWrap .allMeun .mega_menu>li.menu_jaehak.on .mega_sub a:hover{color:#2895f0}
.menuWrap .allMeun .mega_menu>li.menu_rusel.on{background:#1fd7b3}/* 러셀 */
.menuWrap .allMeun .mega_menu>li.menu_rusel.on .mega_sub a:hover{color:#1fd7b3}
.menuWrap .allMeun .mega_menu .branch_menu_box{padding:20px}
.menuWrap .allMeun .mega_menu .branch_menu_box .tit{margin-bottom:17px}
.menuWrap .allMeun .mega_menu .branch_menu_box dl{position:relative;margin-bottom:1px;*zoom:1}
.menuWrap .allMeun .mega_menu .branch_menu_box dl:after{display:block;clear:both;content:''}
.menuWrap .allMeun .mega_menu .branch_menu_box dt.tit_sub{float:left;position:relative}
.menuWrap .allMeun .mega_menu .branch_menu_box dt.tit_sub>strong{display:block;width:48px;min-height:28px;padding:7px 0;background:#a6a6a6;font-size:13px;color:#fff;line-height:15px;text-align:center;box-sizing:border-box}
.menuWrap .allMeun .mega_menu .branch_menu_box dt.tit_sub .arrow{display:inline-block;position:absolute;right:-6px;top:50%;width:0px;height:0px;margin-top:-6px;border-top:6px solid transparent;border-bottom:6px solid transparent;border-left:6px solid #a6a6a6}
.menuWrap .allMeun .mega_menu .on .branch_menu_box dt.tit_sub>strong{}
.menuWrap .allMeun .mega_menu>li.menu_combine.on .branch_menu_box dt.tit_sub>strong{background:#f7b8be;color:#ec4d5c}
.menuWrap .allMeun .mega_menu>li.menu_combine.on .branch_menu_box dt.tit_sub .arrow{border-left:6px solid #f7b8be}
.menuWrap .allMeun .mega_menu>li.menu_rusel.on .branch_menu_box dt.tit_sub>strong{background:#a5efe1;color:#1fd7b3}
.menuWrap .allMeun .mega_menu>li.menu_rusel.on .branch_menu_box dt.tit_sub .arrow{border-left:6px solid #a5efe1}
.menuWrap .allMeun .mega_menu .branch_menu_box dd{margin-left:62px}
.menuWrap .allMeun .mega_menu .mega_sub a{display:inline-block;min-height:28px;padding:7px;font-size:15px;line-height:15px;box-sizing:border-box;letter-spacing:-.05em}
/*.menuWrap .allMeun .mega_menu>li.menu_combine .mega_sub a{padding-left:5px;padding-right:5px}*/
/*.menuWrap .allMeun .mega_menu .mega_sub .new{display:inline-block;width:11px;height:11px;background:url(http://tcampus.megastudy.net/library/v2015/library/intro/icon_n.png) 0 0 no-repeat;vertical-align:middle}*/
.menuWrap .allMeun .mega_menu .mega_sub a img{vertical-align:middle}
.menuWrap .allMeun .mega_menu .mega_sub a>em{font-size:12px;letter-spacing:-.075em}
.menuWrap .allMeun .mega_menu>li.menu_dorm .mega_sub li{width:100%}
.menuWrap .allMeun .mega_menu>li.menu_dorm .mega_sub li>a{display:block}

/*** 인트로 중앙 띠배너 영역 ***/
.introTopBnr{margin-bottom:20px;padding-bottom:0}
.introTopBnr .bn_lst ul{*zoom:1}
.introTopBnr .bn_lst ul:after{display:block;clear:both;content:''}
.introTopBnr .bn_lst ul>li{float:left;padding-left:30px}
.introTopBnr .bn_lst{margin-left:-30px}

/*** 인트로 메인 컨텐츠 영역 ***/
.introContent{}
.introNotice_wrap{position:relative;*zoom:1}
.introNotice_wrap:after{display:block;clear:both;content:''}
.introNotice .introb_l,.introNotice .introb_c,.introNotice .introb_r{float:left}
/* 컨텐츠 왼쪽 영역 */
.introNotice .introb_l{width:303px}
/* 컨텐츠 중앙 영역 */
.introNotice .introb_c{width:402px;margin-left:30px}
.introNotice .introb_c .introSlideWrap{margin-bottom:9px}
.slder_bn.introSlideWrap{position:relative;overflow:hidden;width:403px;height:358px;background:#000}
.slder_bn.introSlideWrap .slideContent li{position:absolute;top:0;left:0;width:100%}
.slder_bn.introSlideWrap .slideMenuBar{position:absolute;left:0;right:0;bottom:30px;width:100%;height:11px}
.slder_bn.introSlideWrap .slideMenuBar .slideMenu{position:relative;width:100%;text-align:center;z-index:100}
.slder_bn.introSlideWrap .slideMenuBar .slideMenu ul{display:inline-block;overflow:hidden;text-align:center;margin:0 auto;padding-left:0}
.slder_bn.introSlideWrap .slideMenuBar .slideMenu ul li{display:inline-block;float:none;overflow:hidden;width:11px;height:11px;margin:0 3px 0 2px;text-align:center}
.slder_bn.introSlideWrap .slideMenuBar .slideMenu ul li a{display:block;overflow:hidden;height:9px;padding:0;border:1px solid #d6d6d6;background:url("/library/v2015/library/common/bg/transparent.gif") repeat}
.slder_bn.introSlideWrap .slideMenuBar .slideMenu ul li.active a{color:#444;border:1px solid #d6d6d6;background:#d6d6d6;font-weight:bold}
.slder_bn.introSlideWrap .slideMenuBar .slideMenu ul li a span.blind{margin:0}
/* 컨텐츠 오른쪽 영역 */
.introNotice .introb_r{width:304px;margin-left:30px}
.introNotice .introb_r .bn_lst>li{margin-top:10px}
.introNotice .introb_r .bn_lst>li:first-child{margin-top:0}
/* 브랜드대상 수상 */
.brand_zone{position:relative;margin-top:20px}
.brand_zone dl>*{display:block}
.brand_zone dl dt{cursor:pointer}
.brand_zone dl #MegaBrandZone{display:none}