
.m_inner {position:relative; width:94%; margin:0 auto;}
.posi_rela {position:relative;}
.d_inb {display:inline-block; float:left; position:relative;}
.bg_line {content:''; display:block; clear:both; background:#888; height:2px;}
.color_0376f0 {color:#0376f0 !important;}
.color_666666 {color:#666 !important;}
.clear:after {clear:both; display:block; content:'';}
.bold {font-weight:bold;}
.tac {text-align:center;}

.online_reciept {width:100%; float:none;}
.online_reciept * {box-sizing:border-box;}
.online_reciept .on_re_tit {font-size:24px; font-weight:bold; color:#333;}
.online_reciept .on_re_tit span {font-size:18px; color:#0082ff; font-weight:normal;}
.file_input_hidden_pop {height:40px !important; cursor: pointer;}

.swipe_right {position:relative; /*height:390px;*/ height:auto;}
.step_cover {position:absolute; left:0; top:0; width:100%; height:100%; display:table;}
.step_cover:after {position:absolute; left:0; top:0; width:100%; height:100%; display:block; content:''; clear:both; background: url(https://img.megastudy.net/campus/library/v2015_mob/asset/img/dim_bg.png) repeat; opacity:0.7; z-index:4;}
.step_cover em {color:#fff; display:table-cell; vertical-align:middle; text-align:center; position:relative; z-index:6; font-size:20px; font-weight:bold;}

/* input-type */
.online_reciept input[type*="text"],
.online_reciept input[type*="password"],
.online_reciept input[type*="tel"],
.online_reciept input[type*="number"] {width:100%; height:38px; line-height:21px; padding:10px 15px; color:#111; border-radius:0; font-size:16px; border:none;}
.online_reciept input[type*="text"]::-webkit-input-placeholder {color:#bbb}
.online_reciept input[type*="text"]::-moz-input-placeholder {color:#bbb}
.online_reciept input[type*="text"]::-ms-input-placeholder {color:#bbb}
.online_reciept input[type*="password"] {}
.online_reciept input[type*="password"]::-webkit-input-placeholder {color:#bbb;}
.online_reciept input[type*="password"]::-moz-input-placeholder {color:#bbb}
.online_reciept input[type*="password"]::-ms-input-placeholder {color:#bbb}
.online_reciept input[type*="tel"]::-webkit-input-placeholder {color:#bbb}
.online_reciept input[type*="tel"]::-moz-input-placeholder {color:#bbb}
.online_reciept input[type*="tel"]::-ms-input-placeholder {color:#bbb}
.online_reciept input[type*="number"]::-webkit-input-placeholder {color:#bbb}
.online_reciept input[type*="number"]::-moz-input-placeholder {color:#bbb}
.online_reciept input[type*="number"]::-ms-input-placeholder {color:#bbb}
/* - Chrome ?‰¤56,
   - Safari 5-10.0
   - iOS Safari 4.2-10.2
   - Opera 15-43
   - Opera Mobile 12-12.1
   - Android Browser 2.1-4.4.4
   - Samsung Internet ?‰¤6.2
   - QQ Browser */
.online_reciept ::-webkit-input-placeholder {
    color: #bbb;
}

/* Firefox 4-18 */
.online_reciept :-moz-placeholder {
    color: #bbb;
}

/* Firefox 19-50 */
.online_reciept ::-moz-placeholder {
    color: #bbb;
}

/* - Internet Explorer 10???11
   - Internet Explorer Mobile 10-11 */
   .online_reciept :-ms-input-placeholder {
    color: #bbb !important;
}

/* Edge (also supports ::-webkit-input-placeholder) */
.online_reciept ::-ms-input-placeholder {
    color: #bbb;
}

/* CSS Pseudo-Elements Level 4 Editor's Draft
   - Browsers not mentioned in vendor prefixes
   - Browser of newer versions than mentioned in vendor prefixes */
.online_reciept ::placeholder {
    color: #bbb;
}


.online_reciept .empty .field_area {color:#f30100; border-color:#f30100;}
.online_reciept .empty_txt {color:#f30100; line-height:1.5; margin-top:1rem; font-size:1.3rem; font-weight:400; display:block;}
.online_reciept .dis_able .field_area {background:#f2f2f2;}
.online_reciept .dis_able input[type*="text"],
.online_reciept .dis_able input[type*="password"],
.online_reciept .dis_able input[type*="tel"],
.online_reciept .dis_able input[type*="number"] {background:#f2f2f2; color:#bbb; opacity:1; -webkit-text-fill-color:inherit;}
.online_reciept .dis_able input:disabled {color:#bbb; opacity:1; -webkit-text-fill-color:#bbb;}
.online_reciept .input.hide {display:none;}
.online_reciept #CommTxtEmail {width:100% !important;}
.online_reciept .input_wrap .address,
.online_reciept .input_wrap .full {width:100% !important;}
.online_reciept textarea.counsel {color:#111; font-size:1.5rem; padding:1.5rem 1.5rem; word-break:break-all;}
.online_reciept textarea.counsel::-webkit-input-placeholder {color:#bbb}
.online_reciept textarea.counsel::-moz-input-placeholder {color:#bbb}
.online_reciept textarea.counsel::-ms-input-placeholder {color:#bbb}
.online_reciept .empty textarea.counsel {border-color:#f30100;}
.online_reciept .result_txt {font-size:16px;
    display: flex;
    align-items: center;
}                          

.online_reciept .input_checkbox input[type*="checkbox"] {cursor:pointer; width:2.25rem; height:2.25rem; margin-top:-0.1rem;}
.online_reciept .input_checkbox.all_check_btn input[type*="radio"] {cursor:pointer; width:2.25rem; height:2.25rem; margin-top:-0.1rem;}
.online_reciept .input_checkbox {min-height:25px; margin:2rem 0;}
.online_reciept .input_checkbox label {min-height:25px; display:inline-block; cursor:pointer; position:relative; padding-left:24px; font-size:1.3rem; color:#777; line-height: 2.05rem;}
.online_reciept .input_checkbox input[type*="checkbox"] {display:none;}
.online_reciept .input_checkbox input[type*="radio"] {display:none;}
.online_reciept .input_checkbox label:after {content:""; display:inline-block; width:25px; height:25px; margin-right:1rem; position:absolute; left:0; bottom:3px; background:url("https://img.megastudy.net/campus/library/v2015_mob/asset/img/input_checkbox_off.png") no-repeat center center; background-size:25px;}
.online_reciept .input_checkbox input[type*="checkbox"]:checked + label:after {content:""; background:url("https://img.megastudy.net/campus/library/v2015_mob/asset/img/input_checkbox_on.png") no-repeat center center; background-size:25px;}
.online_reciept .input_checkbox_area:after {clear:both; display:block; content:'';}
.online_reciept .input_checkbox_area .input_checkbox {float:left; margin-left:2rem;}
.online_reciept .input_checkbox_area .input_checkbox:first-child {margin-left:0;}
.online_reciept .input_checkbox.agree label {font-size:16px; color:#000;  font-weight:400; padding-left:35px;}
.online_reciept .input_checkbox.agree label span {color:#bbb; font-size:16px; font-weight:normal;}
.online_reciept .input_checkbox.agree label span.essen {color:#0376f0;}
.online_reciept .input_checkbox.agree label:after {background:url("https://img.megastudy.net/campus/library/v2015/library/common/icon/input_checkbox_agree_off.png") no-repeat center center;}
.online_reciept .input_checkbox.agree input[type*="checkbox"]:checked + label:after {background:url("https://img.megastudy.net/campus/library/v2015/library/common/icon/input_checkbox_agree_on.png") no-repeat center center;}
.online_reciept .input_checkbox.all_check_btn {padding:0 20px;}
.online_reciept .input_checkbox.all_check_btn label {font-size:16px; color:#000; font-weight:bold; padding-left:42px;}
.online_reciept .input_checkbox.all_check_btn label:after {background:url("https://img.megastudy.net/campus/library/v2015_mob/asset/img/input_checkbox_all_off.png") no-repeat center center; background-size:32px; width:32px; height:32px; bottom:-0.1rem;}

.online_reciept .input_checkbox.all_check_btn input[type*="checkbox"]:checked + label:after {background:url("https://img.megastudy.net/campus/library/v2015/library/common/icon/input_checkbox_all_on.png") no-repeat center center; background-size:32px;}
.online_reciept .input_checkbox.all_check_btn input[type*="radio"]:checked + label:after {background:url("https://img.megastudy.net/campus/library/v2015/library/common/icon/input_checkbox_all_on.png") no-repeat center center; background-size:32px;}

.online_reciept .input_checkbox.all_check_btn.small label {padding-left:2.5rem;}
.online_reciept .input_checkbox.all_check_btn.small label:after {background:url("https://img.megastudy.net/campus/library/v2015/library/common/icon/input_checkbox_all_off.png") no-repeat center center; background-size:2rem; width:2rem; height:2rem; bottom:0.2rem; margin-right:0 !important;}
.online_reciept .input_checkbox.all_check_btn.small input[type*="checkbox"]:checked + label:after {background:url("https://img.megastudy.net/campus/library/v2015/library/common/icon/input_checkbox_all_on.png") no-repeat center center; background-size:2rem;}
.online_reciept .input_checkbox.all_check_btn.small input[type*="radio"]:checked + label:after {background:url("https://img.megastudy.net/campus/library/v2015/library/common/icon/input_checkbox_all_on.png") no-repeat center center; background-size:2rem;}

input[type*="image"] {border-radius:0; border-radius:0;}
input[type*="button"] {cursor:pointer; border:0; background:transparent; border-radius:0;}


.table_type_04{width:100%; border-top:2px solid #888; border-bottom:1px solid #888}
.table_type_04.nowrap th{white-space:nowrap;}
/*ie10*/.ie .table_type_04.scholar{border-collapse:separate;}
.table_type_04.fix{table-layout:fixed}
.table_type_04 thead th{text-align:center; font-weight:normal; padding:10px 0 12px 0;}
.table_type_04 thead tr:first-child th{border-top:0;}
/* .table_type_04 tr:first-child th,
.table_type_04 tr:first-child td {padding-top:40px !important; padding-bottom:20px;}
.table_type_04 tr:last-child th,
.table_type_04 tr:last-child td {padding-bottom:40px; padding-top:20px;} */
.table_type_04 th{background:#f6f6f6; text-align:left; vertical-align:middle; font-weight:bold; font-size:16px; padding:10px 30px;}
.table_type_04 th span.req{background:url("https://img.megastudy.net/campus/library/v2015/library/common/icon/bl_list.gif") no-repeat 0 7px; padding-left:10px;}
.table_type_04 td{text-align:left; padding:10px 30px;font-size:16px}
.table_type_04 th,
.table_type_04 td {height:60px; vertical-align:middle;}
.table_type_04 input{height:18px; font-size:12px; vertical-align:middle;}
.table_type_04 select{height:22px; border:1px solid #c8cacc; font-size:12px; vertical-align:middle; padding:0px 2px 3px; padding:1px\9}
.table_type_04 label{display:inline-block; vertical-align:middle;}
.table_type_04 .warn{font-size:12px; line-height:17px;}
.table_type_04 .warn.mt5{margin-top:3px;}
.table_type_04 .width_136{width:134px;}
.table_type_04 .width_368{width:368px;}
.table_type_04 .width_320{width:320px;}
.table_type_04 .width_29{width:29px;}
.table_type_04 .width_40{width:38px;}
.table_type_04 .space{padding-right:15px;}
.table_type_04.photo td.br_1{vertical-align:middle;}

.table_new_type_01{width: 100%;table-layout:fixed;word-wrap:break-word;word-break:break-all;border-top: 1px solid #000; border-collapse:separate; word-break:keep-all;}
.table_new_type_01 caption {display:none;}
.table_new_type_01 th,
.table_new_type_01 td {height:65px; vertical-align: middle;}
.table_new_type_01 .double th,
.table_new_type_01 .double td {height:65px;}
.table_new_type_01 thead th{background:#dee5f2;color: #000;font-weight: bold;font-size:16px;padding:9px 7px;line-height: 1.5; text-align:center;  border-right: 1px solid #ced0d4;}
.table_new_type_01 tbody th{background:#f6f6f6;color: #000;font-weight: bold;font-size:16px;padding:9px 7px;line-height: 1.5; text-align:center;  border-right: 1px solid #ced0d4;border-bottom:1px solid #ced0d4;}
.table_new_type_01 thead th{border-bottom:1px solid #ced0d4;}
.table_new_type_01 td{color: #666666;font-size:14px;text-align: center;border-bottom: 1px solid #ced0d4;padding: 9px 7px;line-height: 1.5;font-weight: normal; border-right: 1px solid #ced0d4;}
.table_new_type_01 td.bg {background:#f2f2f2;}
.table_new_type_01 th  {border-right: 1px solid #ced0d4; }
.table_new_type_01 td + td { }
.table_new_type_01 .fb {font-weight:bold;}
.table_new_type_01 input {text-align:center;}
.brn {border-right:none !important;}

.table_new_type_01 .input_checkbox label:after {content:""; display:inline-block; width:24px; height:24px; margin-right:1rem; position:absolute; left:0; bottom:0.1rem; background:url("https://img.megastudy.net/campus/library/v2015_mob/asset/img/input_checkbox_off.png") no-repeat center center; background-size:24px;}


/* select custom */
.online_reciept .select_wrap {position:relative;}
.online_reciept .select_wrap:nth-child(even) {float:right; margin-bottom:0.5rem;}
.online_reciept .select_wrap select {font-size:16px; box-sizing:border-box; height:40px; width:100%; padding:0 10px; border:0; border-radius:0; -webkit-appearance:none !important; appearance:none !important; appearance:none; border:1px solid #ccc;}

.online_reciept .select_wrap:after {position:absolute; top:50%; right:15px; width:10px; height:10px; margin-top:-9px; border-left:1px solid #000; border-bottom:1px solid #000; -webkit-transform:rotate(-45deg); transform:rotate(-45deg); display:block; content:'';}
select::-ms-expand {
    display: none;
}
.online_reciept select {position:relative; z-index:2;-webkit-appearance:none !important; appearance:none !important; appearance:none;}
.online_reciept .select_wrap:after {z-index:2;}
.online_reciept .select_wrap select:required:invalid {color:#bbb;}
.online_reciept .empty .online_reciept .select_wrap select {border-color:#f30100;}
.online_reciept .select_wrap option[value=""][disabled] {display:none;}
.online_reciept .select_wrap option {color: black;}

.online_reciept a.file_link {color:#0376f0; position:relative; height:auto; font-size:18px; font-weight:400; line-height:1; display:inline-block; padding:0; padding-bottom:1px; margin-top:10px;}
.online_reciept a.file_link:after {position:absolute; bottom:0; left:0; width:100%; height:1px; background:#0376f0; content:''; display:block; clear:both;}


.online_reciept .field_wrap {display:block;}
.online_reciept .field_area {position:relative; border:1px solid #ccc; background:#fff; height:40px; width:280px; font-size:0;}
.online_reciept .field_area + .field_area {border-left:none;}
.online_reciept .field_area.gender {border:none; height:40px; display:inline-block; float:left;}
.online_reciept .field_area.gender + .gender label {border-left:none; border-color:#ccc;}
.online_reciept .field_area.gender label {width:100%; text-align:center; font-size:16px; font-weight:normal; color:#666; display:block; line-height:40px; border:1px solid #ccc; border-right:none; cursor: pointer;}
.online_reciept .field_area.gender +.gender label {border-left:1px solid #ccc; border-right:1px solid #ccc;}
.online_reciept .field_area:nth-child(3).gender label {border-left:none !important;}
.online_reciept .field_area.gender.d_none + .gender label {border-left:1px solid #ccc !important;}
.online_reciept .field_area input[type*="radio"].gender {display:none;}
.online_reciept .field_area input[type*="radio"].gender.on label {color:#0376f0;  border:1px solid #0376f0;}
.online_reciept .field_area.gender.on label {color:#fff; border:1px solid #0376f0;  background:#0376f0; font-weight:bold;}
.online_reciept .field_area.gender.on +.gender label {border-left:none !important;}
.online_reciept .field_area input[type*="radio"].gender + .gender label {border-left:1px solid #ccc;}
.online_reciept .field_area.school {border:none; height:50px;}
.online_reciept .field_area.school + .school label {border-color:#ccc;}
.online_reciept .field_area.school label {width:100%; text-align:center; font-size:16px; font-weight:500; color:#666; display:block; line-height:50px; border:1px solid #ccc; cursor: pointer;}
.online_reciept .field_area input[type*="radio"].school {display:none;}
.online_reciept .field_area input[type*="radio"].school:checked + label {color:#fff;  border:1px solid #0376f0; background:#0376f0; font-weight:bold;}
.online_reciept .triple .field_area {width:calc(33.33% - 0.4rem);}
.online_reciept .quad .field_area {width:calc(25% - 0.4rem);}


.online_reciept .agree_info_txt {font-size:13px; color:#999; font-weight:400; text-align:left; line-height:1.5;}
.online_reciept .join_step_title {font-size:20px; color:#000; line-height:1; padding-bottom:15px; display:block; font-weight:bold;}
.online_reciept .join_step_title.small {font-size:18px;}
.online_reciept .table_new_type_01 .field_area {width:115px; margin:0 auto;}
.online_reciept .join_intro_title {border-top:1px solid #888; background:#f1f1f1; font-size:16px;}
.online_reciept .bg_under_line:after {content:''; display:block; clear:both; width:100%; position:absolute; bottom:0; left:0; height:10px; background:#d2eaff; z-index:1; padding:0 2px; margin-left:-2px;}

/* btn */
::-webkit-file-upload-button { cursor:pointer; }
.m_btn_wrap {font-size:0; line-height:0;}
.m_btn_wrap.fix {position:fixed; z-index:1; width:100%; bottom:0; left:0;}
.m_btn_wrap .m_btn_area {height:40px; line-height:40px; font-size:16px; display:inline-block; text-align:center; position:relative;}
.m_btn_wrap.single .m_btn_area {width:100%;}
.m_btn_wrap.double .m_btn_area {width:350px;}
.m_btn_wrap.triple .m_btn_area {width:calc(33.33% - 8px);}
.m_btn_wrap .m_btn_area.type01 {background:#0376f0; color:#fff; font-weight:500;}
.m_btn_wrap .m_btn_area.type02 {border:1px solid #0376f0; color:#0376f0; font-weight:500; background:#fff;}
.m_btn_wrap .m_btn_area.type03 {background:hsl(211, 98%, 48%); color:#fff; font-weight:bold; font-size:22px; height:60px; line-height:58px;}
.m_btn_wrap .m_btn_area.type03 span {padding-right:25px;}
.m_btn_wrap .m_btn_area.type04 span {padding-right:25px;}
.m_btn_wrap .m_btn_area.type03 span:after {position:absolute; top:50%; right:0; width:7px; height:7px; margin-top:-3px; border-left:1px solid #fff; border-bottom:1px solid #fff; -webkit-transform:rotate(-135deg); transform:rotate(-135deg); display:block; content:'';}
.m_btn_wrap .m_btn_area.type04 {border:1px solid #0376f0; color:#0376f0; font-weight:bold; background:#fff; font-size:22px; height:60px; line-height:58px;}
.m_btn_wrap .m_btn_area.type04 span:after {position:absolute; top:50%; right:0; width:7px; height:7px; margin-top:-3px; border-left:1px solid #0376f0; border-bottom:1px solid #0376f0; -webkit-transform:rotate(-135deg); transform:rotate(-135deg); display:block; content:'';}
.m_btn_wrap .m_btn_area.type05 {border:1px solid #888; color:#888; font-weight:400; background:#fff; padding:0 0.5rem; height:30px; line-height:28px; font-size:1.5rem;}
.m_btn_wrap .arrow_btn {font-size:1.5rem; line-height:1; padding-right:15px; background:url(https://img.megastudy.net/campus/library/v2015_mob/asset/img/arrow_btn_icon_arrow.png) 99% 65% no-repeat; background-size:5px; margin:1.3rem 0 2.3rem; display:inline-block;}
.m_btn_wrap .m_btn_area.type06 {background:#bbb; color:#fff; font-weight:500;}
.m_btn_wrap .veri_btn {background: url(https://img.megastudy.net/campus/library/v2015_mob/asset/img/input_veri_icon_on.png) 0 50% no-repeat;
    background-size: 16px 14px; padding-left:22px; font-size:1.6rem; color:#0376f0; font-weight:400; margin:0; float:right; height:auto; line-height:1; width:auto !important;}
.m_btn_wrap .arrow_btn.gray_arrow {opacity:0.6}
.m_btn_wrap .m_btn_area.more_btn {height:auto; line-height:1; margin-top:2rem;}
.m_btn_wrap .more_btn span {position:relative; display:block; width:100%; text-align:center;}
.m_btn_wrap .more_btn em {display:inline-block; position:relative; width:14px; height:14px; cursor:pointer; margin-right:6px;}
.m_btn_wrap .more_btn em:after {position:absolute; left:calc(50% - 1px); top:0; width:2px; height:100%; background:#000; content:''; display:block;}
.m_btn_wrap .more_btn em:before {position:absolute; left:0; top:calc(50% - 1px); width:100%; height:2px; background:#000; content:''; display:block;}
.m_btn_wrap .arrow_btn + .arrow_btn {margin-left:3rem;}
.m_btn_wrap.triple .m_btn_area + .m_btn_area {margin-left:12px;}


.join_step_wrap {padding:10px 0px;}
.join_step_wrap .check_list {border-top:1px solid #c7c7c7; border-bottom:1px solid #c7c7c7; padding:20px 25px;}
.join_step_wrap .check_list li {position:relative;}
.join_step_wrap .check_list li em {content:'>'; display:block; clear:both; position:absolute; top:50%; right:0; margin-top:-12px; width:auto; background-size:8px; padding-right:10px; font-size:16px; color:#555; clear:both; cursor:pointer;}
    .join_step_wrap .check_list li em:after {
    position: absolute;
    top: 50%;
    right: 0;
    width: 6px;
    height: 6px;
    margin-top: -3px;
    border-left: 1px solid #666;
    border-bottom: 1px solid #666;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    display: block;
    content: '';}
.join_step_wrap .check_list li.last:after {display:none;}
.join_step_wrap .check_list li + li {margin-top:12px;}
.join_step_wrap .check_list li .gray {margin-top:1rem; margin-left:3rem; padding:1.25rem; width:calc(100% - 5rem);}
.join_step_wrap .check_list li .gray .input_checkbox label {padding-left:3rem;}
.join_step_wrap .check_list li .gray .input_checkbox label {padding-left:2.75rem;}
.join_step_wrap .agree_info_txt {font-size:14px; line-height:25px; color:#888; padding:0 25px;}
.join_step_wrap .join_intro_title {font-size:16px; line-height:30px; text-align:center; color:#555; text-align:center; padding:65px 0;}
.join_step_wrap .join_intro_title strong {font-size:2.1rem; font-weight:bold; text-align:center; line-height:1.5;}
.join_step_wrap .join_intro_title strong span {position:relative; z-index:2; color:#000;}
.join_step_wrap .join_intro_title strong em {font-weight:bold;}

.input_checkbox.agree label {font-size:12px; color:#000;  font-weight:400;}
.input_checkbox.agree label span {color:#666; font-size:12px; font-weight:400; margin-left:5px;}
.input_checkbox.agree label span.essen {color:#eb3b4b;}
.input_checkbox.all_check_btn {margin:0 0 25px;}
.input_checkbox input {width:20px; height:20px; border-radius:0;}
.input_checkbox.all_check_btn label {font-size:14px; color:#000; font-weight:bold; margin-top:-2px;}


.online_reciept .btn_round{display:inline-block;min-width:210px;width:210px;height:60px;padding:0 30px;border-radius:100px;text-align:center}
.online_reciept .btn_round span{display:block;font-size:22px;line-height:60px; font-weight: bold;}
.online_reciept .btn_round.dark_arrow,.online_reciept .btn_round.dark_check,.online_reciept .btn_round.dark_srch{background:#0376f0;color:#fff}
.online_reciept .btn_round.grey_x{background:#bbb;color:#fff}
.online_reciept .btn_round.white_arrow{border:1px solid #78808b;background:#ffffff;color:#424c5d}

.online_reciept .pop_body{
	padding:30px 25px 0;
}

.online_reciept .pop_body .scrollBox{
	height:316px; overflow:auto; padding:10px; border:none; margin-top:8px; background:#f1f1f1; 
}
.online_reciept p.pre_join { font-size:16px; line-height:30px; color:#555;}
.online_reciept.popWrap .popTitle h1 {text-align:left;}

.btn_delete {
    position: absolute;
    top: 0;
    right: 0;
    width: 34px;
    height: 34px;
    background: url('https://img.megastudy.net/campus/library/v2015/library/campus_common/2020_teamplay_step/icon_delete.png') no-repeat center;
}

.input_area .time_txt {font-size:16px; color:#000; font-weight:400; position:absolute; top:50%; margin-top:-11px; right:1rem;}
.ch_pw_btn {background:none; color:#333; border:none; border-bottom:1px solid #555; width:auto; border-radius:0; height:auto; line-height:1; padding-bottom:1px; font-weight:bold; vertical-align:1px; margin-left:15px;}



.select_tab_list { position:relative; z-index:1;}
.select_tab_list * {box-sizing:border-box;}
.select_tab_list:after {display:block; clear:both; content:'';}
.select_tab_list li {display:inline-block; float:left; background:#f2f2f2; width:253px; height:116px; border:1px solid #e5e7ea; text-align:center; position:relative; border-bottom:none; cursor:pointer;}
.select_tab_list li + li {margin-left:5px;}
.select_tab_list li p {margin-top:15px; background:#bbb; width:118px; height:30px; line-height:30px; color:#fff; font-size:16px; display:inline-block; border-radius:15px;}
.select_tab_list li span {font-size:16px; color:#555; font-weight:bold; line-height:1; margin-top:25px; display:block;}
.select_tab_list li span em {color:#999; font-weight:normal;}
.select_tab_list li span em.es {color:#0376f0}
.select_tab_list li p.input_complete {background:#0376f0;}
.select_tab_list li.on {background:#fff; border-bottom:none;}
.select_tab_list li.on:after {width:249px; height:100%; position:absolute; border:2px solid #888; content:''; display:block; left:-1px; top:-1px; border-bottom:none;}
.select_tab_list li.on::before {width:249px; height:2px; position:absolute; background:#fff; content:''; display:block; left:1px; bottom:-2px; z-index:1;}
.select_tab_list li.on span {color:#0376f0;}
/* 20250507 */
.select_tab_list li{ width:296px; }
.select_tab_list li.on::before{ width:293px; }
.select_tab_list li.on:after{ width:293px; }





.select_tit {padding-left:12px; position:relative; font-size:16px; font-weight:bold; color:#000;}
.select_tit:after {content:''; display:block; width:4px; height:4px; border-radius:100%; background:#000; position:absolute; top:50%; left:0; margin-top:-2px;}
.select_tab_contents { border:2px solid #888; padding:70px 50px;position:relative;}
.select_tab_contents .table_new_type_01 .field_area {width:96px;}

.dis_able .select_wrap {background-color:#eff3fb;}


/* apply_gate 231024 */
.apply_cont_box{
	letter-spacing: -1px;
	line-height:1;
	box-sizing: border-box;
	color:#333;
}
.apply_cont_box .cont_box{
	border:1px solid #e5e7ea; 
	margin-bottom: 30px;
}
.apply_cont_box .cont_box .box_top { 
	padding:30px 42px;
	border-bottom:30px;
	font-size: 16px;
	display: flex;
    display: inline-flex;
	-moz-align-items: center;
	align-items: center;
	justify-content: space-between;
	width:100%;
}
.apply_cont_box .cont_box .box_top .flag_box .flag{
	width:76px;
	height:76px;
	line-height:76px;
	border-radius:38px;
	text-align: center;
	display: inline-block;
	font-size: 14px;
	font-weight: normal;
	border:1px solid #e85373;
	color:#e85373;
}
.apply_cont_box .cont_box .box_top .flag_box .flag.end{
	border:1px solid #acacac;
	color:#acacac;
}
.apply_cont_box .cont_box .box_top .flag_box .flag.com{
	border:1px solid #2f4698;
	color:#2f4698;
}
.apply_cont_box .cont_box .box_top .flag_box .flag.ing{
    border: 1px solid #fe9500;
    color: #fe9500;
    line-height: 20px;
    padding-top: 18px;
}
.apply_cont_box .cont_box .box_top .title_box{
    width: 776px;
    padding-left: 14px;
    box-sizing: border-box;
}
.apply_cont_box .cont_box .box_top .title_box span{
	font-size: 24px;
	font-weight: bold;
    color:#333;
}
.apply_cont_box .cont_box .box_top .btn_box{
	display: flex;
	gap:10px;
    margin-left: 14px;
}
.apply_cont_box .cont_box .box_top .btn_box .btn{
	display: inline-block;
	width:120px;
	height:40px;
	line-height:40px;
	text-align: center;
	color:#0376f0;
    font-size: 16px;
	background:#fff;
	border:1px solid #0376f0;
}
.apply_cont_box .cont_box .box_top .btn_box .btn.edit{
    color:#999;
	background:#fff;
	border:1px solid #bbb;	
}
.apply_cont_box .cont_box .box_top .btn_box .btn.apply{
	color:#fff;
	background:#0376f0;
	border:1px solid #0376f0;	
}
.apply_cont_box .cont_box .box_top .btn_box .btn.apply.complete{
	color:#fff;
	background:#bbbbbb;
	border:1px solid #bbbbbb;	
}
.apply_cont_box .cont_box .box_bottom {
	background:#f6f6f6;
	padding:30px 42px 0 42px;
}
.apply_cont_box .cont_box .box_bottom .desc_box ul li{
	position: relative;
	padding:30px 0;
	font-size: 15px;
    color:#333;
    line-height:1;
}
.apply_cont_box .cont_box .box_bottom .desc_box ul li strong{
	font-weight: bold;
	font-size: 20px;
	display: inline-block;
	margin-bottom: 14px;
}
.apply_cont_box .cont_box .box_bottom .desc_box ul li strong em{
    font-weight: normal;
}
.apply_cont_box .cont_box .box_bottom .desc_box ul li .desc{
    font-weight: normal;
    font-size: 16px;
    color:#333;
    display: block;
}
.apply_cont_box .cont_box .box_bottom .desc_box ul li + li{
	border-top:1px solid #dee2e5;
}
.apply_cont_box .cont_box .box_bottom .desc_box p{
	display: inline-block;
	line-height:1;
	font-weight: bold;
	font-size: 20px;
    color:#333;
}
.apply_cont_box .cont_box .box_bottom .desc_box ul li .tag{
	position: absolute;
	top:30px;
	right:0;
	width:80px;
	height:33px;
	line-height:33px;
	border-radius:0;
	text-align: center;
	display: inline-block;
	font-size: 14px;
	font-weight: normal;
	color:#fff;
	background: #4a84c2;
}
.apply_cont_box .cont_box .box_bottom .desc_box ul li .tag.pass{ background: #4a84c2;}
.apply_cont_box .cont_box .box_bottom .desc_box ul li .tag.prepass{ background: #62b83b;}
.apply_cont_box .cont_box .box_bottom .desc_box ul li .tag.fail{ background: #181818;}
.apply_cont_box .cont_box .box_bottom .desc_box ul li .tag.wait{ background: #f09c03;}

/* // apply_gate 231024 */


/* online_reciept 231030 */

/* select_wrap_small */
.online_reciept .select_wrap_small {
	position:relative;
	display: inline-block;
    position: relative;
    height: 40px;
    background: #fff url('https://img.megastudy.net/campus/library/v2015_mob/common/img/icon_select.png') no-repeat 96% 53%;
	background-size:10px 6px;
}
.online_reciept .select_wrap_small:nth-child(even) {float:right; margin-bottom:0;}
.online_reciept .select_wrap_small select {
	font-size:14px; box-sizing:border-box; height:40px; width:100%; padding:0 24px 0 10px; border:0; letter-spacing: -1px;
	border-radius:0; -webkit-appearance:none !important; appearance:none !important; appearance:none; border:1px solid #ccc;
	background:transparent;
}
.online_reciept select {position:relative; z-index:2;-webkit-appearance:none !important; appearance:none !important; appearance:none;}
.online_reciept .select_wrap_small select:required:invalid {color:#999;}
.online_reciept .empty .online_reciept .select_wrap_small select {border-color:#f30100;}
.online_reciept .select_wrap_small option[value=""][disabled] {display:none;}
.online_reciept .select_wrap_small option {color: black;}

.online_reciept .noti_info_txt{
	font-size: 13px;
    color: #999;
    font-weight: 400;
    text-align: left;
    line-height: 1.5;
	text-align: left;
	margin-bottom: 25px;
}

.online_reciept .type_contents{margin-top: 15px;}
.online_reciept .type_contents .type_list{
	position: relative;
	width:100%; border:1px solid #E4E5E9; 
	text-align: center;font-size: 16px; line-height:1;
	box-sizing: border-box;	letter-spacing: -.5px;
	background:#f2f2f2;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.online_reciept .type_contents .type_list + .type_list{ margin-top: 20px;}
.online_reciept .type_contents .type_list .type_title{
	width:85px; font-weight: bold;font-size: 18px;
	color:#000;
}
.online_reciept .type_contents .type_list .type_box{
	width:945px;
	padding:40px 20px;
	background:#fff;
	text-align: left;
	display: flex;
	justify-content: space-between;
}
.online_reciept .type_contents .type_list .type_box .element:nth-child(1){ width:233px;}
.online_reciept .type_contents .type_list .type_box .element:nth-child(2){ width:370px; margin:0 15px;}
.online_reciept .type_contents .type_list .type_box .element:nth-child(3){ width:270px;}
.online_reciept .type_contents .type_list .type_box .element strong{
	display: block;
	margin-bottom: 12px;
}
.online_reciept .type_contents .type_list .type_box .element .text_wrap{
	padding-top:6px;
	line-height:1.8;
	display: inline-block;
}
.online_reciept .type_contents .type_list .type_box .element:nth-child(2) .text_wrap{
	font-weight: bold;
	color:#0376f0 !important;
}
.online_reciept .type_contents .type_list .box_close {
	position:absolute; top:19px; right:22px; width:20px; height:20px;line-height:0; 
	background:url('https://img.megastudy.net/campus/library/v2015_mob/common/img/box_close_btn.png') 0 0 no-repeat; 
	background-size:20px 20px; font-size:0;
}

/* // online_reciept 231030 */

