.wide_top_wrap {height:607px; background-image: linear-gradient(to right, #1d80eb , #5a43d1); background:url("https://img.megastudy.net/campus/library/v2015/library/ilsan/nsu/nsu/2020_final/top_bg_grad.jpg") center top no-repeat;overflow:hidden;}
.wide_top_wrap .top_wrap {width:1000px; height:100%; margin:0 auto; position:relative;}
.wide_top_wrap .top_wrap .left_menu_wrap {width:249px; display:inline-block; float:left; background-color:rgba( 42, 19, 0, 0.3 ); height:100%; text-align:left; position:relative; z-index:5;}
.wide_top_wrap .top_wrap .left_menu_wrap h2 {display:none;}
.wide_top_wrap .top_wrap .left_menu_wrap h3 {font-size:25px; line-height:30px; color:#fff; letter-spacing:-2px; font-weight:500; position:absolute; bottom:60px; left:18px;}
.wide_top_wrap .top_wrap .right_wrap {display:inline-block; float:left; position:relative; height:100%; width:747px;}
.wide_top_wrap .top_wrap .right_wrap .btn_wrap {position:absolute; left:70px; bottom:50px; width:100%; z-index:5;}
.wide_top_wrap .top_wrap .right_wrap .btn_wrap .block {display:table; float:left; font-size:17px; line-height:22px; text-align:center; color:#000; letter-spacing:-1px; width:196px; height:80px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
.wide_top_wrap .top_wrap .right_wrap .btn_wrap .block + .block {margin-left:10px;}
.wide_top_wrap .top_wrap .right_wrap .btn_wrap .block a {display:table; width:100%; height:77px; vertical-align:middle;}
.wide_top_wrap .top_wrap .right_wrap .btn_wrap .block strong {display:block;}
.wide_top_wrap .top_wrap .right_wrap .btn_wrap .block strong {display:table-cell; /*width:164px; height:77px;*/ vertical-align:middle; color:#fff; font-weight:bold; width:100%;}
.wide_top_wrap .top_wrap .right_wrap .btn_wrap .block.cw {background:#fff;}
.wide_top_wrap .top_wrap .right_wrap .btn_wrap .block.cw strong {color:#000;}
.wide_top_wrap .top_wrap .right_wrap .btn_wrap .block.co {background-image: linear-gradient(to bottom right, #e74c5c , #e3685c);}
.wide_top_wrap .top_wrap .right_wrap .btn_wrap .block.cp {background-image: linear-gradient(to bottom right, #7881ee , #2993ed);}



.link_line{text-decoration:underline;}




.txt {
    position: absolute;
    opacity: 0;
    z-index:2;
}
.txt.txt01{top:100px;left:68px;}
.txt.txt02{top:290px;left:68px;}
.txt.txt03{top:172px;left:68px;}
.txt.txt04{top:97px;left:396px;}
.txt.bg01 {top:-56px;left:-514px; z-index:1; opacity:1; transform:scale(1.3)}
.txt.bg02 {top:-148px;left:-389px; z-index:1; opacity:1;transform:scale(1.3)}



.lec_info_tstyle4 {
	border-collapse: separate;
}
.lec_info_tstyle4 caption {
	display: none
}
.lec_info_tstyle4 {
	border-top: 2px solid #777;
	border-bottom: 1px solid #ccc;
	font-size: 12px;
}
.lec_info_tstyle4.blue {
	border-top: 2px solid #698ac7;
}
.lec_info_tstyle4.red {
	border-top: 2px solid #ec5656;
}
.lec_info_tstyle4.gold {
	border-top: 2px solid #cfa972;
}
.lec_info_tstyle4.green {
	border-top: 2px solid #349d4f;
}
.lec_info_tstyle4 th + th.sth {border-left:none;}
.lec_info_tstyle4 th.brn {
	border-right: none;
}
.lec_info_tstyle4.color tbody th {background:#f3f3f3 !important;}
.lec_info_tstyle4.small th {padding: 2px 0 5px 0px;}
.lec_info_tstyle4.small td {padding: 7px 0 5px 0px;}
.lec_info_tstyle4 .br1 {
	border-right: 1px solid #e8e8e8;
}
.lec_info_tstyle4 .sth {
	padding: 12px 0 14px 0 !important;
}
.lec_info_tstyle4 td {
	padding: 12px 0 14px 0;
	border-bottom: 1px solid #c7c7c7;
	border-right: 1px solid #c7c7c7;
	text-align: center;
	vertical-align: middle;
	/*background: #ffffff !important;*/
}
.lec_info_tstyle4 td.brn {
	border-right: none !important;
}

.lec_info_tstyle4 .bln {
	border-left: none !important;
}


.wide .lec_info_title {display:block;background:none;height:auto;margin:0 0 11px 0;padding:0 0 5px 0px;font-weight:normal;font-size:23px;line-height:22px;letter-spacing:-1px; font-weight:bold; text-align:left;}
.wide .lec_sub_title {font-size:18px; line-height:22px; padding-left:10px;  background:url(https://img.megastudy.net/campus/library/v2015/library/common/icon/bl_tit_wide.png) 0 10px no-repeat; text-align:left; font-weight:normal; margin-bottom:15px;}
.wide .lec_info_title + .lec_sub_title {margin-top:20px;}
.wide .lec_info_title span {font-size:15px; color:#656565; font-weight:normal; padding-left:10px; line-height:22px; border-left:1px solid #656565; margin-left:15px;}

.wide .lec_info_tstyle4 {border-collapse:separate;}
.wide .lec_info_tstyle4 caption {display:none}
.wide .lec_info_tstyle4 {border-top:3px solid #424c5d;border-bottom:1px solid #ddd;}
.wide .lec_info_tstyle4 thead th {
    background: #dee5f2;
    border-right: none;
}
.wide .lec_info_tstyle4 th {background:#eee; padding:20px 0 20px 0px; liine-height:22px; text-align:center; border-bottom:1px solid #ddd;border-right:1px solid #ddd; font-weight:bold; vertical-align:middle; white-space:nowrap; color:#333; font-size:16px;}
.wide .lec_info_tstyle4 th.bg_white + th.bg_white {border-left:1px solid #ddd;}
.wide .lec_info_tstyle4 thead th {background:#dee5f2; border-right:none;}
.wide .lec_info_tstyle4 th.sth {background:#fff;}
.wide .lec_info_tstyle4 tr.double th {border-right:1px solid #ddd;}
.wide .lec_info_tstyle4 th.brn {border-right:none !important;}
.wide .lec_info_tstyle4 .br1 {border-right:1px solid #e8e8e8;}
.wide .lec_info_tstyle4 .bl1 {border-left:1px solid #e8e8e8;}
.wide .lec_info_tstyle4 .sth {padding:12px 0 14px 0 !important;}
.wide .lec_info_tstyle4 td {padding:20px 15px 20px 15px; border-bottom:1px solid #ddd;border-right:1px solid #ddd;text-align:center;vertical-align:middle; color:#333; font-size:16px; line-height:24px;}
.wide .lec_info_tstyle4 td.brn {border-right:none !important;}

.wide .bg_white {background:#fff !important;}
.wide .bg_blue {background:#dee5f2 !important;}
.wide .bg_orange {background:#fcf1ed !important;}

.wide .font_orange {color:#ff6600 !important;}
.wide .font_purple {color:#602fff !important;}

.lecture {
	width: 1000px;
	margin: 0 auto;
}
.lecture.wide {width:100%;}
.lecture.wide.bg {background:#ebebeb}
.contents {display:none;}
.contents.on {display:block;}
.wide .lec_sub_title {margin-bottom:10px;}
.lecture.wide p {text-align:left; font-size:14px; line-height:22px;}
.lecture.wide p strong span {vertical-align:text-top;}
.lecture.wide p.right {color:#a3a3a3; text-align:right;}

.wide .lec_info {
	width: 1000px;
    margin:0 auto;
	padding:0 0 120px;
    float:none;
    overflow:hidden;
}
.wide_wrap {
    width:100%; 
    background:#ebebeb;
    overflow:hidden;
}    
.wide_wrap .lec_info {
    width:100%;
    margin:0 auto;
    text-align:center;
}
.lec_info {
	float: left;
	width: 708px;
	padding: 0 40px;
}
.lec_info ul.list {
	margin-top: 10px;
	margin-bottom: 10px;
}
.lec_info ul.list li {
	display: block;
	margin-bottom: 7px;
	padding-left: 10px;
	background: url('https://img.megastudy.net/campus/library/v2015/library/common/icon/bl_list.gif') no-repeat left 8px;
}
.lec_info ul.list li:last-child {
	margin-bottom: 0px;
}





.lec_tab {
	width: 100%;
	background: #1d1b28;
    z-index:999;
}
.lec_tab ul {
	display: block;
	width: 999px;
	margin: 0 auto;
	overflow: hidden;
	border-left: 1px solid #373540;
    z-index:2;
    position:relative;
}
.lec_tab li {
	float: left;
	display: table;
	padding: 0;
	margin: 0;
	border-right: 1px solid #373540;
}
.lec_tab li:hover, lec_tab li .lec_tab li:first-child {
	border-left: 0;
}
.lec_tab li.br {
/*border-right: 1px solid #474590;*/
}
.lec_tab li a {
	display: table-cell;
    vertical-align: middle;
	text-align: center;
	width: 100%;
	font-weight: normal;
	color: #7e7e7e;
	font-size: 16px;
    height:85px;
	line-height: 21px;
	background: #1d1b28;
	letter-spacing: -1.3px;
	font-weight: bold;
}
.lec_tab li a:hover, .lec_tab li a.on {
	color: #f31616;
	background: #fff;
}











