@import url(/library/css/stylesheets/NotoSansKR-Hestia.css);

.font_m {font-family: "MalGun Gothic","맑은고딕",dotum !important;}
#pop200821.pop220825 p.number_sum span {display:none !important;}
#pop200821.pop220825 p.number_sum {color:#ffd868 !important; font-size:150px !important;}
#pop200821.pop220825 .info_txt {color:#d1c7bd !important; font-size:12px !important; letter-spacing:-1px;}
#pop200821.pop220825.type02 .info_txt {text-align:left !important; left:700px !important;}
#pop200821.pop220825.type02 p.number_sum {top:315px !important;}
#pop200821.pop220825.type03 p.number_sum {top:300px !important;}
#pop200821.pop220825.type01 p.number_sum {top:300px !important;}
#pop200821.pop220825.type03 .result_list {top:545px !important; left:205px !important; width:618px !important;}
#pop200821.pop220825.type03 .result_list li {text-indent:-10px;}
#pop200821.pop220825.type03 .result_list li:nth-child(1) {text-indent:0px;}
#pop200821.pop220825.type03 .result_list li:nth-child(2) {text-indent:-5px;}
#pop200821.pop220825.type03 .result_list li:nth-child(3) {text-indent:-7px;}
#pop200821.pop220825.type03 .result_list li:nth-child(4) {text-indent:7px;}
#pop200821.pop220825.type01 .result_list {top:543px; left:190px; width:676px;}
#pop200821.pop220825.type01 .result_list li:nth-child(2) {text-indent:-5px;}
#pop200821.pop220825.type01 .result_list li:nth-child(3) {text-indent:-3px;}
#pop200821.pop220825.type01 .result_list li:nth-child(4) {text-indent:-6px;}

/* intro */
#pop200821.intro {font-family:'Noto Sans KR', Apple Gothic, "돋움", Dotum, Verdana, sans-serif; width:100%; margin:228px auto 0; min-height:677px; position:absolute; z-index:9999; background:#141823;}
#pop200821.intro * {cursor:pointer;}
#pop200821.intro p.number_sum {font-size:160px; font-weight:500; color:#fff; position:absolute; top:275px; left:0; line-height:1; letter-spacing:-2px; width:100%; text-align:center;}
#pop200821.intro p.number_sum strong {text-indent:3px;}
#pop200821.intro p.number_sum span {font-size:62px; color:#95acc1; font-weight:300;}
#pop200821.intro .result_list {position:absolute; top:511px; left:272px; width:665px; overflow:hidden;}
#pop200821.intro .result_list li {width:calc(100% / 5); display:inline-block; float:left; text-align:center; color:#000;}
#pop200821.intro .result_list li span {font-size:26px; font-weight:500;}
#pop200821.intro .result_list li strong {font-size:28px; font-weight:bold;}

#pop200821.intro .result_list li:nth-child(1) {width:106px;}
#pop200821.intro .result_list li:nth-child(2) {width:131px;}
#pop200821.intro .result_list li:nth-child(3) {width:132px;}
#pop200821.intro .result_list li:nth-child(4) {width:131px;}
#pop200821.intro .result_list li:nth-child(5) {width:156px;}
#pop200821.intro .info_txt { position:absolute; bottom:25px; left:264px; font-size:14px; font-weight:300; color:#74849b; line-height:20px;}
#pop200821.intro .info_txt span {color:#b7d4e5;}
#pop200821.intro .inner_pop_wrap {width:1200px; position:relative; margin:0 auto;}
#pop200821.intro .inner_pop_wrap .float_btn {width:50px; height:50px; position:absolute; right:7px; top:31px; display:block; z-index:1;}
#pop200821.intro .inner_pop_wrap .popclose_btn {position:absolute; top:90px; right:0px; color:#aeaeaf; font-size:13px;}

/* yj_nsu */
#pop200821.type01 {font-family:'Noto Sans KR', Apple Gothic, "돋움", Dotum, Verdana, sans-serif; width:100%; margin:126px auto 0; min-height:677px; position:absolute; z-index:9999;}
#pop200821.type01 * {cursor:pointer;}
#pop200821.type01 p.number_sum {font-size:130px; font-weight:500; color:#fff; position:absolute; top:258px; left:0; line-height:1; letter-spacing:-2px; width:100%; text-align:center;}
#pop200821.type01 p.number_sum strong {text-indent:3px;}
#pop200821.type01 p.number_sum span {font-size:62px; color:#fff; font-weight:300;}
#pop200821.type01 .result_list {position:absolute; top:465px; left:188px; width:682px; overflow:hidden;}
#pop200821.type01 .result_list li {width:calc(100% / 5); display:inline-block; float:left; text-align:center; color:#000;}
#pop200821.type01 .result_list li span {font-size:26px; font-weight:500;}
#pop200821.type01 .result_list li strong {font-size:30px; font-weight:bold;}
#pop200821.type01 .result_list li:nth-child(1) {width:134px;}
#pop200821.type01 .result_list li:nth-child(2) {width:108px;}
#pop200821.type01 .result_list li:nth-child(3) {width:154px;}
#pop200821.type01 .result_list li:nth-child(4) {width:115px;}
#pop200821.type01 .result_list li:nth-child(5) {width:165px;}
#pop200821.type01 .info_txt { position:absolute; bottom:50px; left:10px; font-size:14px; font-weight:300; color:#74849b; line-height:20px; text-align:center; width:100%;}
#pop200821.type01 .info_txt span {color:#b7d4e5;}
#pop200821.type01 .inner_pop_wrap {width:1030px; position:relative; margin:0 auto;}
#pop200821.type01 .inner_pop_wrap .float_btn {width:50px; height:50px; position:absolute; right:7px; top:31px; display:block; z-index:1;}
#pop200821.type01 .inner_pop_wrap .popclose_btn {position:absolute; top:83px; right:18px; color:#aeaeaf; font-size:13px;}

/* sc_nsu */
#pop200821.type02 {font-family:'Noto Sans KR', Apple Gothic, "돋움", Dotum, Verdana, sans-serif; width:100%; margin:126px auto 0; min-height:677px; position:absolute; z-index:9999;}
#pop200821.type02 * {cursor:pointer;}
#pop200821.type02 p.number_sum {font-size:130px; font-weight:500; color:#fff; position:absolute; top:258px; left:0; line-height:1; letter-spacing:-2px; width:100%; text-align:center;}
#pop200821.type02 p.number_sum strong {text-indent:3px;}
#pop200821.type02 p.number_sum span {font-size:62px; color:#fff; font-weight:300;}
#pop200821.type02 .result_list {position:absolute; top:465px; left:334px; width:527px; overflow:hidden;}
#pop200821.type02 .result_list li {width:calc(100% / 4); display:inline-block; float:left; text-align:center; color:#000;}
#pop200821.type02 .result_list li span {font-size:26px; font-weight:500;}
#pop200821.type02 .result_list li strong {font-size:30px; font-weight:bold;}
#pop200821.type02 .result_list li:nth-child(1) {width:143px;}
#pop200821.type02 .result_list li:nth-child(2) {width:98px;}
#pop200821.type02 .result_list li:nth-child(3) {width:140px;}
#pop200821.type02 .result_list li:nth-child(4) {width:127px;}
#pop200821.type02 .info_txt { position:absolute; bottom:50px; left:10px; font-size:14px; font-weight:300; color:#74849b; line-height:20px; text-align:center; width:100%;}
#pop200821.type02 .info_txt span {color:#b7d4e5;}
#pop200821.type02 .inner_pop_wrap {width:1030px; position:relative; margin:0 auto;}
#pop200821.type02 .inner_pop_wrap .float_btn {width:50px; height:50px; position:absolute; right:7px; top:31px; display:block; z-index:1;}
#pop200821.type02 .inner_pop_wrap .popclose_btn {position:absolute; top:83px; right:18px; color:#aeaeaf; font-size:13px;}


/* type03 */
#pop200821.type03 {font-family:'Noto Sans KR', Apple Gothic, "돋움", Dotum, Verdana, sans-serif; width:100%; margin:126px auto 0; min-height:677px; position:absolute; z-index:9999;}
#pop200821.type03 * {cursor:pointer;}
#pop200821.type03 p.number_sum {font-size:130px; font-weight:500; color:#fff; position:absolute; top:258px; left:0; line-height:1; letter-spacing:-2px; width:100%; text-align:center;}
#pop200821.type03 p.number_sum strong {text-indent:3px;}
#pop200821.type03 p.number_sum span {font-size:62px; color:#fff; font-weight:300;}
#pop200821.type03 .result_list {position:absolute; top:465px; left:210px; width:630px; overflow:hidden;}
#pop200821.type03 .result_list li {width:calc(100% / 4); display:inline-block; float:left; text-align:center; color:#000;}
#pop200821.type03 .result_list li span {font-size:26px; font-weight:500;}
#pop200821.type03 .result_list li strong {font-size:30px; font-weight:bold;}
#pop200821.type03 .info_txt { position:absolute; bottom:50px; left:10px; font-size:14px; font-weight:300; color:#74849b; line-height:20px; text-align:center; width:100%;}
#pop200821.type03 .info_txt span {color:#b7d4e5;}
#pop200821.type03 .inner_pop_wrap {width:1030px; position:relative; margin:0 auto;}
#pop200821.type03 .inner_pop_wrap .float_btn {width:50px; height:50px; position:absolute; right:24px; top:22px; display:block; z-index:1;}
#pop200821.type03 .inner_pop_wrap .popclose_btn {position:absolute; top:83px; right:18px; color:#aeaeaf; font-size:13px;}

/* type04 */
#pop200821.type04 {font-family:'Noto Sans KR', Apple Gothic, "돋움", Dotum, Verdana, sans-serif; width:100%; margin:126px auto 0; min-height:677px; position:absolute; z-index:9999;}
#pop200821.type04 * {cursor:pointer;}
#pop200821.type04 p.number_sum {font-size:130px; font-weight:500; color:#fff; position:absolute; top:330px; left:0; line-height:1; letter-spacing:-2px; width:100%; text-align:center;}
#pop200821.type04 p.number_sum strong {text-indent:3px;}
#pop200821.type04 p.number_sum span {font-size:62px; color:#fff; font-weight:300;}
#pop200821.type04 .info_txt { position:absolute; bottom:80px; left:10px; font-size:14px; font-weight:300; color:#74849b; line-height:20px; text-align:center; width:100%;}
#pop200821.type04 .info_txt span {color:#b7d4e5;}
#pop200821.type04 .inner_pop_wrap {width:1030px; position:relative; margin:0 auto;}
#pop200821.type04 .inner_pop_wrap .float_btn {width:50px; height:50px; position:absolute; right:7px; top:31px; display:block; z-index:1;}
#pop200821.type04 .inner_pop_wrap .popclose_btn {position:absolute; top:83px; right:18px; color:#aeaeaf; font-size:13px;}



/* notice mobile */
.notice_200903_p {background:#0b1f2c;}
.notice_200903_p * {font-family:'Noto Sans KR', Apple Gothic, "돋움", Dotum, Verdana, sans-serif;}
.notice_200903_p .notice_200903_wrap {padding:0 40px 45px;}
.notice_200903_p .notice_200903_wrap .notice_list li {font-size:14px; color:#868686; font-weight:300; text-indent:-7px; margin-left:7px;}
.notice_200903_p .notice_200903_wrap .notice_list li span {color:#b7d4e5; font-weight:300;}

.notice_200903_p .notice_top_area {font-family:'Noto Sans KR', Apple Gothic, "돋움", Dotum, Verdana, sans-serif; position:relative;}
.notice_200903_p .notice_top_area * {margin-bottom:0;}
.notice_200903_p .notice_top_area p.number_sum {height:120px; font-size:150px; font-weight:500; color:#fff; position:absolute; top:288px; left:0; line-height:1; letter-spacing:-2px; width:100%; text-align:center; display:table;}
.notice_200903_p .notice_top_area p.number_sum * {display:inline-block; line-height:1;}
.notice_200903_p .notice_top_area p.number_sum strong {text-indent:3px;}
.notice_200903_p .notice_top_area p.number_sum span {font-size:62px; color:#aeaeaf; font-weight:300;}
.notice_200903_p .notice_top_area .result_list {position:absolute; top:587px; left:40px; width:670px;}
.notice_200903_p .notice_top_area .result_list li {width:calc(100% / 5); display:inline-block; float:left; text-align:center; color:#000; }
.notice_200903_p .notice_top_area .result_list li span {font-size:26px; font-weight:500;}
.notice_200903_p .notice_top_area .result_list li strong {font-size:30px; font-weight:bold;}
.notice_200903_p .notice_top_area .result_list li:nth-child(1) {width:113px;}
.notice_200903_p .notice_top_area .result_list li:nth-child(2) {width:130px;}
.notice_200903_p .notice_top_area .result_list li:nth-child(3) {width:137px;}
.notice_200903_p .notice_top_area .result_list li:nth-child(4) {width:137px;}
.notice_200903_p .notice_top_area .result_list li:nth-child(5) {width:150px;}


.notice_200903_p.notice_210825 .notice_200903_wrap {background: url('http://img.megastudy.net/campus/library/v2015/library/notice/210825/p_notice210825_img01_1.jpg') 0 0 no-repeat; background-size:100%; padding:15px 40px 45px;}
.notice_200903_p.notice_210825 .notice_top_area .result_list {top:550px;}
.notice_200903_p.notice_210825 .notice_200903_wrap .notice_list li {color:#74849b;}
.notice_200903_p.notice_210825 .notice_top_area p.number_sum span {color:#fff;}

/* 2022 수능 모의체험 게이트 202111012 */
.notice_211012 .notice_211012_wrap {position:relative;}
.notice_211012 .notice_211012_wrap .number_sum {position:absolute;top:90px;;right:136px;line-height:1;text-align:center;color:#f0e8a3;}
.notice_211012 .notice_211012_wrap .number_sum strong {display:inline-block;line-height:1;font-size:44px;font-weight:bold;font-family:"Gotham-Book";vertical-align:middle;}
.notice_211012 .notice_211012_wrap .number_sum em {display:inline-block;font-size:40px;font-weight: 300;vertical-align:middle;}
.notice_211012 .notice_211012_wrap .number_sum span {display:inline-block;line-height:1;margin-top:5px;font-size:12px;color:#728aae;font-weight:300;}
@font-face {
font-family: 'Gotham-Book';
src: url(/library/css/fonts/woff/Gotham-Book.eot) format('eot'), url(/library/css/fonts/woff/Gotham-Book.woff2) format('woff2'), url(/library/css/fonts/woff/Gotham-Book.woff) format('woff'), url(/library/css/fonts/ttf/Gotham-Book.ttf) format('truetype');
}
.notice_211012 .notice_211012_wrap .link {position:absolute;font-size:0;}
.notice_211012 .notice_211012_wrap .link.btn1 {left:41px;bottom:129px;width:319px;height:39px;}
.notice_211012 .notice_211012_wrap .area {position:absolute;font-size:0;width:206px;height:43px;}
.notice_211012 .notice_211012_wrap .area.btn1 {left:37px;top:273px;}
.notice_211012 .notice_211012_wrap .area.btn2 {left:272px;top:273px;}
.notice_211012 .notice_211012_wrap .area.btn3 {right:37px;top:273px;}
.notice_211012 .notice_211012_wrap .area.btn4 {left:37px;top:445px;}
.notice_211012 .notice_211012_wrap .area.btn5 {left:272px;top:445px;}
.notice_211012 .notice_211012_wrap .area.btn6 {right:37px;top:445px;}
.notice_211012 .notice_211012_wrap .area.btn7 {left:37px;bottom:121px;}