.lec_info {padding:20px 65px 0 65px;}
.lec_info1 {padding:20px 25px 0 25px;}
.lec_info ul.tip {margin-top:15px;margin-left:2px;}
.lec_info ul.tip li {display:block;margin-bottom:7px;padding-left:10px;font-size:12px;background:url('https://img.megastudy.net/campus/library/v2015/library/common/icon/bl_list.gif') no-repeat left 8px;}
.lec_info ul.tip li:last-child {margin-bottom:0px;}
.lec_info p.tip {margin-top:12px;margin-left:2px;font-size:12px;line-height:150%;}
.lec_info_title {display:inline-block;background:url('https://img.megastudy.net/campus/library/v2015/library/common/icon/bl_tit_grey.gif') no-repeat left 7px;height:15px;margin:0 0 9px 0;padding:0 0 5px 15px;font-weight:normal;font-size:17px;line-height:17px;letter-spacing:-1px; font-weight:bold;}
.lec_info_title.blue {background:url('https://img.megastudy.net/campus/library/v2015/library/common/icon/bl_tit_blue.gif') no-repeat left 7px;}
.lec_info_title.red {background:url('https://img.megastudy.net/campus/library/v2015/library/common/icon/bl_tit_red.gif') no-repeat left 7px;}
.lec_info_title.gold {background:url('https://img.megastudy.net/campus/library/v2015/library/common/icon/bl_tit_gold.gif') no-repeat left 7px;}
.lec_info_title.green {background:url('https://img.megastudy.net/campus/library/v2015/library/common/icon/bl_tit_green.gif') no-repeat left 7px;}
.lec_info_tstyle {border-collapse:separate;}
.lec_info_tstyle caption {display:none}
.lec_info_tstyle {border-top:2px solid #777;border-bottom:1px solid #ccc;font-size:12px;line-height:140%;}
.lec_info_tstyle.blue {border-top:2px solid #698ac7;}
.lec_info_tstyle.red {border-top:2px solid #ec5656;}
.lec_info_tstyle.gold {border-top:2px solid #cfa972;}
.lec_info_tstyle.green {border-top:2px solid #349d4f;}
.lec_info_tstyle th {background:#f6f6f6; padding:12px 15px 14px 15px; text-align:center;border-bottom:1px solid #D8D8D8;font-weight:normal; vertical-align:middle; white-space:nowrap;color:#555;}
.lec_info_tstyle .br1 {border-right:1px solid #e8e8e8;}
.lec_info_tstyle .sth {padding:12px 15px 14px 15px !important;background-color:#f0f0f0;}
.lec_info_tstyle td {padding:12px 19px 14px 19px; border-bottom:1px solid #D8D8D8}
.lec_info_tstyle2 {border-collapse:separate;}
.lec_info_tstyle2 caption {display:none}
.lec_info_tstyle2 {border-top:2px solid #777;border-bottom:1px solid #ccc;font-size:12px;}
.lec_info_tstyle2.blue {border-top:2px solid #698ac7;}
.lec_info_tstyle2.red {border-top:2px solid #ec5656;}
.lec_info_tstyle2.gold {border-top:2px solid #cfa972;}
.lec_info_tstyle2.green {border-top:2px solid #349d4f;}
.lec_info_tstyle2 th {background:#f6f6f6; padding:12px 0 14px 0px; text-align:center;border-bottom:1px solid #D8D8D8;border-right:1px solid #D8D8D8;font-weight:normal; vertical-align:middle; white-space:nowrap;color:#666;}
.lec_info_tstyle2 th:last-child {border-right:none;}
.lec_info_tstyle2 .br1 {border-right:1px solid #e8e8e8;}
.lec_info_tstyle2 .sth {padding:12px 15px 14px 15px !important;}
.lec_info_tstyle2 td {padding:12px 19px 14px 19px; border-bottom:1px solid #D8D8D8;border-right:1px solid #D8D8D8;text-align:center;}
.lec_info_tstyle2 td:last-child {border-right:none;}

.lec_info_tstyle3 {border-collapse:separate;}
.lec_info_tstyle3 caption {display:none}
.lec_info_tstyle3 {border-top:2px solid #777;border-bottom:1px solid #ccc;font-size:12px;line-height:140%;}
.lec_info_tstyle3.blue {border-top:2px solid #698ac7;}
.lec_info_tstyle3.red {border-top:2px solid #ec5656;}
.lec_info_tstyle3.gold {border-top:2px solid #cfa972;}
.lec_info_tstyle3.green {border-top:2px solid #349d4f;}
.lec_info_tstyle3 th {background:#f6f6f6; padding:12px 15px 14px 15px; text-align:center;border-bottom:1px solid #D8D8D8;border-right:1px solid #D8D8D8;font-weight:normal; vertical-align:middle; white-space:nowrap;color:#555;}
.lec_info_tstyle3 th.brn {border-right:none;}
.lec_info_tstyle3 .br1 {border-right:1px solid #e8e8e8;}
.lec_info_tstyle3 .sth {padding:12px 15px 14px 15px !important;background-color:#f0f0f0;}
.lec_info_tstyle3 td {padding:12px 19px 14px 19px; border-bottom:1px solid #D8D8D8;border-right:1px solid #D8D8D8;text-align:left }
.lec_info_tstyle3 td.brn {border-right:none !important;}

.lec_info_tstyle4 {border-collapse:separate;}
.lec_info_tstyle4 caption {display:none}
.lec_info_tstyle4 {border-top:2px solid #777;border-bottom:1px solid #ccc;font-size:12px;}
.lec_info_tstyle4.blue {border-top:2px solid #698ac7;}
.lec_info_tstyle4.red {border-top:2px solid #ec5656;}
.lec_info_tstyle4.gold {border-top:2px solid #cfa972;}
.lec_info_tstyle4.green {border-top:2px solid #349d4f;}
.lec_info_tstyle4 th {background:#f6f6f6; padding:12px 0 14px 0px; text-align:center;border-bottom:1px solid #D8D8D8;border-right:1px solid #D8D8D8;font-weight:normal; vertical-align:middle; white-space:nowrap;color:#666;}
.lec_info_tstyle4 th.brn {border-right:none;}
.lec_info_tstyle4 .br1 {border-right:1px solid #e8e8e8;}
.lec_info_tstyle4 .bl1 {border-left:1px solid #e8e8e8;}
.lec_info_tstyle4 .sth {padding:12px 0 14px 0 !important;}
.lec_info_tstyle4 td {padding:12px 0 14px 0; border-bottom:1px solid #D8D8D8;border-right:1px solid #D8D8D8;text-align:center;vertical-align:middle;}
.lec_info_tstyle4 td.brn {border-right:none !important;}

.lec_info_tstyle5 {border-collapse:separate; }
.lec_info_tstyle5 caption {display:none}
.lec_info_tstyle5 {border-top:2px solid #777;border-bottom:1px solid #ccc;font-size:11px;line-height:140%;}
.lec_info_tstyle5.blue {border-top:2px solid #698ac7;}
.lec_info_tstyle5.red {border-top:2px solid #ec5656;}
.lec_info_tstyle5.gold {border-top:2px solid #cfa972;}
.lec_info_tstyle5.green {border-top:2px solid #349d4f;}
.lec_info_tstyle5 th {background:#f6f6f6; padding:12px 10px 14px 10px; text-align:center;border-bottom:1px solid #D8D8D8;border-right:1px solid #D8D8D8;font-weight:normal; vertical-align:middle; white-space:nowrap;color:#555;}
.lec_info_tstyle5 th.brn {border-right:none;}
.lec_info_tstyle5 .br1 {border-right:1px solid #e8e8e8;}
.lec_info_tstyle5 .sth {padding:12px 15px 14px 15px !important;background-color:#f0f0f0;}
.lec_info_tstyle5 td {padding:12px 14px 7px 7px; border-bottom:1px solid #D8D8D8;border-right:1px solid #D8D8D8;text-align:left; }
.lec_info_tstyle5 td.brn {border-right:none !important;}

.lec_info_tstyle6 {border-collapse:separate;}
.lec_info_tstyle6 caption {display:none}
.lec_info_tstyle6 {border-top:1px solid #777;border-bottom:1px solid #ccc;font-size:12px;}
.lec_info_tstyle6.blue {border-top:1px solid #698ac7;}
.lec_info_tstyle6.red {border-top:1px solid #ec5656;}
.lec_info_tstyle6.gold {border-top:1px solid #cfa972;}
.lec_info_tstyle6.green {border-top:1px solid #349d4f;}
.lec_info_tstyle6 th {background:#f6f6f6; padding:6px 0 8px 0px; text-align:center;border-bottom:1px solid #D8D8D8;border-right:1px solid #D8D8D8;font-weight:normal; vertical-align:middle; white-space:nowrap;color:#666;}
.lec_info_tstyle6 th.brn {border-right:none;}
.lec_info_tstyle6 .br1 {border-right:1px solid #e8e8e8;}
.lec_info_tstyle6 .sth {padding:6px 0 8px 0 !important;}
.lec_info_tstyle6 td {padding:6px 0 8px 0; border-bottom:1px solid #D8D8D8;border-right:1px solid #D8D8D8;text-align:center;vertical-align:middle;}
.lec_info_tstyle6 td.brn {border-right:none !important;}

.lec_info_tstyle7 {border-collapse:separate;}
.lec_info_tstyle7 caption {display:none}
.lec_info_tstyle7 {border-top:2px solid #777;border-bottom:1px solid #ccc;font-size:12px;}
.lec_info_tstyle7.blue {border-top:2px solid #698ac7;}
.lec_info_tstyle7.red {border-top:2px solid #ec5656;}
.lec_info_tstyle7.gold {border-top:2px solid #cfa972;}
.lec_info_tstyle7.green {border-top:2px solid #349d4f;}
.lec_info_tstyle7 th {background:#d8d8d8; padding:12px 0 14px 0px; text-align:center;border-bottom:1px solid #c3c3c3;border-right:1px solid #c3c3c3;font-weight:normal; vertical-align:middle; white-space:nowrap;color:#000;}
.lec_info_tstyle7 th:last-child {border-right:none;}
.lec_info_tstyle7 .br1 {border-right:1px solid #e8e8e8;}
.lec_info_tstyle7 .sth {padding:12px 15px 14px 15px !important;}
.lec_info_tstyle7 td {padding:10px 10px 10px 10px; border-bottom:1px solid #c3c3c3;border-right:1px solid #c3c3c3;text-align:center; background:#fff; vertical-align:middle;}
.lec_info_tstyle7 td:last-child {border-right:none;}

.lec_info_tstyle8 {border-collapse:separate; text-align:center !important;}
.lec_info_tstyle8 caption {display:none}
.lec_info_tstyle8 {font-size:12px;}
.lec_info_tstyle8.top {border-top:1px solid #68707d !important;}
.lec_info_tstyle8.bottom {border-bottom:1px solid #68707d }
.lec_info_tstyle8.gold {border-top:2px solid #cfa972;}
.lec_info_tstyle8.green {border-top:2px solid #349d4f;}
.lec_info_tstyle8 th {background:#fff !important; padding:15px 0 15px 0px !important; text-align:center; border-right:none !important;font-weight:normal; vertical-align:middle; white-space:nowrap;color:#68707d !important; font-size:20px !important;}
.lec_info_tstyle8 th.brn {border-right:none !important;}
.lec_info_tstyle8 td.bbn {border-bottom:none !important;}
.lec_info_tstyle8 .br1 {border-right:1px solid #e8e8e8;}
.lec_info_tstyle8 .sth {padding:6px 0 8px 0 !important;}
.lec_info_tstyle8 td {padding:10px 0 10px 0 !important; border-right:none !important; text-align:center; vertical-align:middle;}
.lec_info_tstyle8 td.brn {border-right:none !important;}

.lec_info_tstyle9 {border-collapse:separate;}
.lec_info_tstyle9 caption {display:none}
.lec_info_tstyle9 {border-top:1px solid #777;border-bottom:1px solid #777; border-left:1px solid #777; border-right:1px solid #777; font-size:15px;}
.lec_info_tstyle9.blue {border-top:2px solid #698ac7;}
.lec_info_tstyle9.red {border-top:2px solid #ec5656;}
.lec_info_tstyle9.gold {border-top:2px solid #cfa972;}
.lec_info_tstyle9.green {border-top:2px solid #349d4f;}
.lec_info_tstyle9 th {background:#f6f6f6; padding:12px 0 14px 0px; text-align:center;border-bottom:1px solid #D8D8D8;border-right:1px solid #D8D8D8;font-weight:normal; vertical-align:middle; white-space:nowrap;color:#666;}
.lec_info_tstyle9 th.brn {border-right:none;}
.lec_info_tstyle9 .br1 {border-right:1px solid #e8e8e8;}
.lec_info_tstyle9 .sth {padding:12px 0 14px 0 !important;}
.lec_info_tstyle9 td {padding:12px 0 14px 0; border-bottom:1px solid #D8D8D8;border-right:1px solid #D8D8D8;text-align:center;vertical-align:middle;}
.lec_info_tstyle9 td.brn {border-right:none !important;}
.lec_info_tstyle9 td.btn {border-bottom:none !important;}

.lec_info_campgo {float:left;width:100%;height:40px;text-align:right;margin:0;padding:0;line-height:0;font-size:0;}
.lec_info_campgo ul {float:right;margin-right:20px;}
.lec_info_campgo ul li {float:left;font-size:13px;}
.lec_info_campgo ul li a {display:inline-block;padding:17px 14px 19px 14px;color:#ffffff;}
.lec_info_campgo ul li a:hover {color:#ffffff;}
.lec_info_campgo ul li .bar {font-weight:bold;color:#fff;}

.lec_info_tab {display:block;width:100%;margin:0;padding:0;border:0;}
.lec_info_tab li {display:inline;}
.lec_info_tab li a {display:inline-block;padding:10px 20px 0 20px;text-align:center;margin:0;min-width:100px;min-height:30px;background:#f5f5f5;border:1px solid #d9d9d9;font-size:17px;line-height:16px;}
.lec_info_tab li a.current {background:#3b4048 !important;color:#fff;border:1px solid #3b4048;}


.lec_info_tstyle9 {border-collapse:separate;}
.lec_info_tstyle9 caption {display:none}
.lec_info_tstyle9 {border-top:1px solid #999;border-bottom:1px solid #ccc;font-size:12px;}
.lec_info_tstyle9.blue {border-top:2px solid #698ac7;}
.lec_info_tstyle9.red {border-top:2px solid #ec5656;}
.lec_info_tstyle9.gold {border-top:2px solid #cfa972;}
.lec_info_tstyle9.green {border-top:2px solid #349d4f;}
.lec_info_tstyle9 th {background:#f6f6f6; padding:6px 0 8px 0px; text-align:center;border-bottom:1px solid #D8D8D8;border-right:1px solid #D8D8D8;font-weight:normal; vertical-align:middle; white-space:nowrap;color:#666;}
.lec_info_tstyle9 th.brn {border-right:none;}
.lec_info_tstyle9 .br1 {border-right:1px solid #e8e8e8;}
.lec_info_tstyle9 .sth {padding:6px 0 8px 0 !important;}
.lec_info_tstyle9 td {padding:6px 0 8px 0; border-bottom:1px solid #D8D8D8;border-right:1px solid #D8D8D8;text-align:center;vertical-align:middle;}
.lec_info_tstyle9 td.brn {border-right:none !important;}

.lec_info_tstyle10 {border-collapse:separate;}
.lec_info_tstyle10 caption {display:none}
.lec_info_tstyle10 {border-top:2px solid #777;border-bottom:1px solid #ccc; font-size:13px;}
.lec_info_tstyle10.blue {border-top:2px solid #698ac7;}
.lec_info_tstyle10.red {border-top:2px solid #ec5656;}
.lec_info_tstyle10.gold {border-top:2px solid #cfa972;}
.lec_info_tstyle10.green {border-top:2px solid #349d4f;}
.lec_info_tstyle10 th {background:#f6f6f6; padding:12px 0 14px 0px; text-align:center;border-bottom:1px solid #D8D8D8;border-right:1px solid #D8D8D8;font-weight:normal; vertical-align:middle; white-space:nowrap;color:#666;}
.lec_info_tstyle10 th.brn {border-right:none;}
.lec_info_tstyle10 .br1 {border-right:1px solid #e8e8e8;}
.lec_info_tstyle10 .sth {padding:12px 0 14px 0 !important;}
.lec_info_tstyle10 td {padding:12px 0 14px 0; border-bottom:1px solid #D8D8D8;border-right:1px solid #D8D8D8;text-align:center;vertical-align:middle;}
.lec_info_tstyle10 td.brn {border-right:none !important;}


.lec_info_tstyle11 {border-collapse:separate; border-top:2px solid #333; border-bottom:1px solid #333; font-size:16px; font-weight:normal; text-align:center;}
.lec_info_tstyle11 thead th {background:none; padding:18px 0 19px 0px; text-align:center;border-bottom:1px solid #333; font-weight:normal; vertical-align:middle; white-space:nowrap;color:#666;}
.lec_info_tstyle11 tbody th {background:#f6f6f6; vertical-align:middle; font-weight:normal; border-bottom:1px solid #ccc;}
.lec_info_tstyle11 strong {font-size:20px; display:block; padding:6px 0;}
.lec_info_tstyle11 tbody td {padding:12px 0 14px 0; border-bottom:1px solid #ccc;text-align:center;vertical-align:middle;}
.lec_info_tstyle11 caption {display:none}

.lec_info_tstyle11 {}
.lec_info_tstyle11.blue {border-top:2px solid #698ac7;}
.lec_info_tstyle11.red {border-top:2px solid #ec5656;}
.lec_info_tstyle11.gold {border-top:2px solid #cfa972;}
.lec_info_tstyle11.green {border-top:2px solid #349d4f;}
.lec_info_tstyle11 th {background:#f6f6f6; }
.lec_info_tstyle11 th.brn {border-right:none;}
.lec_info_tstyle11 .br1 {border-right:1px solid #e8e8e8;}
.lec_info_tstyle11 .sth {padding:12px 0 14px 0 !important;}

.lec_info_tstyle11 td.brn {border-right:none !important;}


.lec_info_tstyle12 {border-collapse:separate;font-size:14px; font-weight:normal; text-align:center;}
.lec_info_tstyle12 thead th {background:#505050; padding:18px 0 19px 0px; text-align:center;font-weight:normal; vertical-align:middle; white-space:nowrap;color:#fff;}
.lec_info_tstyle12 tbody th {background:#f6f6f6; vertical-align:middle; font-weight:normal;}
.lec_info_tstyle12 strong {font-size:20px; display:block; padding:6px 0;}
.lec_info_tstyle12 tbody td {padding:16px 0 16px 0; border-bottom:1px solid #ccc;text-align:center;vertical-align:middle; color:#000;}
.lec_info_tstyle12 tbody td.gray {color:#666;}
.lec_info_tstyle12 caption {display:none}

.lec_info_tstyle12 {}
.lec_info_tstyle12.blue {border-top:2px solid #698ac7;}
.lec_info_tstyle12.red {border-top:2px solid #ec5656;}
.lec_info_tstyle12.gold {border-top:2px solid #cfa972;}
.lec_info_tstyle12.green {border-top:2px solid #349d4f;}
.lec_info_tstyle12 th {background:#f6f6f6; }
.lec_info_tstyle12 th.brn {border-right:none;}
.lec_info_tstyle12 .br1 {border-right:1px solid #e8e8e8;}
.lec_info_tstyle12 .sth {padding:12px 0 14px 0 !important;}

.lec_info_tstyle12 td.brn {border-right:none !important;}


.wide .lec_info_title {display:block;background:none;height:auto;margin:0 0 11px 0;padding:0 0 5px 0px;font-weight:normal;font-size:25px;line-height:22px;letter-spacing:-1px; font-weight:600; text-align:left;}
.wide .lec_sub_title {font-size:20px; line-height:22px; padding-left:10px;  background:url(https://img.megastudy.net/campus/library/v2015/library/common/icon/bl_tit_wide.png) 0 10px no-repeat; text-align:left; font-weight:500; margin-bottom:15px;}
.wide .lec_info_title + .lec_sub_title {margin-top:20px;}
.wide .lec_info_title span {font-size:15px; color:#656565; font-weight:normal; padding-left:10px; line-height:22px; border-left:1px solid #656565; margin-left:15px;}

.wide .lec_info_tstyle4 {border-collapse:collapse;}
.wide .lec_info_tstyle4 caption {display:none}
.wide .lec_info_tstyle4 {border-top:3px solid #424c5d;border-bottom:1px solid #bdbdbd;}

.wide .lec_info_tstyle4 th {background:#e3e3e3; padding:20px 0 20px 0px; line-height:22px; text-align:center; border-bottom:1px solid #bdbdbd;border-right:1px solid #ddd; font-weight:500; vertical-align:middle; white-space:nowrap; color:#333; font-size:17px;}
.wide .lec_info_tstyle4 th.bg_white + th.bg_white {border-left:1px solid #ddd;}
.wide .lec_info_tstyle4 thead th {background:#dee5f2; border-right:none;}
.wide .lec_info_tstyle4 th.sth {background:#fff;}
.wide .lec_info_tstyle4 tr.double th {border-right:1px solid #bdbdbd;}
.wide .lec_info_tstyle4 th.brn {border-right:none !important;}
.wide .lec_info_tstyle4 .br1 {border-right:1px solid #e8e8e8;}
.wide .lec_info_tstyle4 .bl1 {border-left:1px solid #e8e8e8;}
.wide .lec_info_tstyle4 .sth {padding:12px 0 14px 0 !important;}
.wide .lec_info_tstyle4 td {padding:20px 15px 20px 15px; border-bottom:1px solid #bdbdbd;border-right:1px solid #ddd;text-align:center;vertical-align:middle; color:#333; font-size:16px; line-height:24px;}
.wide .lec_info_tstyle4 td.brn {border-right:none !important;}
.wide .lec_info_tstyle4 td.bln {border-left:none !important;}


.lec_info_tstyle13 {border-collapse:collapse;border-spacing:0;}
.lec_info_tstyle13 caption {display:none}
.lec_info_tstyle13 {border-top:2px solid #777;border-bottom:1px solid #ccc;font-size:15px;}
.lec_info_tstyle13 th {background:#f6f6f6; padding:12px 0 14px 0px; text-align:center;border-bottom:1px solid #D8D8D8;border-right:1px solid #D8D8D8;font-weight:normal; vertical-align:middle; font-weight:bold;}
.lec_info_tstyle13 th.brn {border-right:none;}
.lec_info_tstyle13 .br1 {border-right:1px solid #e8e8e8;}
.lec_info_tstyle13 .bl1 {border-left:1px solid #e8e8e8;}
.lec_info_tstyle13 .sth {padding:12px 0 14px 0 !important;}
.lec_info_tstyle13 td {padding:12px 0 14px 0px; text-align:center;border-bottom:1px solid #D8D8D8;border-right:1px solid #D8D8D8;font-weight:normal; vertical-align:middle; line-height:24px;}
.lec_info_tstyle13 td.brn {border-right:none !important;}




.wide .bg_white {background:#fff !important;}
.wide .bg_blue {background:#dee5f2 !important;}
.wide .bg_orange {background:#fcf1ed !important;}

.wide .font_orange {color:#ff6600 !important;}
.wide .font_purple {color:#602fff !important;}
.wide .font_red {color:#ff1c3b !important;}

.up_grade {font-size: 17px!important;font-weight: bold;color: #0061b9!important;}
/* 파란색 업그레이드 화살표 */
/* 앞 */
.up_grade:after {display: inline-block;width: 0;height: 0;margin: 0 0 1px 3px;border-top: 10px solid transparent;border-left: 7px solid transparent;border-right: 7px solid transparent;border-bottom: 10px solid #0061b9;content: '';}
/* 뒤 */
.up_grade_prev:before {display: inline-block;width: 0;height: 0;margin: 0 3px 1px 0;border-top: 10px solid transparent;border-left: 7px solid transparent;border-right: 7px solid transparent;border-bottom: 10px solid #0061b9;content: '';}