@charset "UTF-8";
/**************************************************
 * BASE | FONT
 **************************************************/
/* @font-face {
    font-family: "Spoqa Han Sans Neo";
    font-weight: 400;
    src: url("./../font/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.woff2") format("woff2"), url("./../font/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.woff") format("woff"), url("./../font/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Spoqa Han Sans Neo";
    font-weight: 500;
    src: url("./../font/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.woff2") format("woff2"), url("./../font/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.woff") format("woff"), url("./../font/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Spoqa Han Sans Neo";
    font-weight: 700;
    src: url("./../font/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.woff2") format("woff2"), url("./../font/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.woff") format("woff"), url("./../font/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Eduwill Pass";
    font-weight: 400;
    src: url("./../font/EduwillPass/EduwillPass-Regular.woff") format("woff"), url("./../font/EduwillPass/EduwillPass-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Eduwill Pass";
    font-weight: 700;
    src: url("./../font/EduwillPass/EduwillPass-Bold.woff") format("woff"), url("./../font/EduwillPass/EduwillPass-Bold.ttf") format("truetype");
} */

/**************************************************
 * BASE | RESET
 **************************************************/
*,
*:before,
*:after {
    box-sizing: border-box;
}

* {
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
    height: 100%;
}

html {
    -webkit-text-size-adjust: 100%;
}

body {
    color: #222;
    font-family: Spoqa Han Sans, Apple SD Gothic Neo, '돋움', Dotum, Verdana, Arial, sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

b {
    font-weight: 700;
}

img {
    max-width: 100%;
}

ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

dl, dd {
    margin: 0;
}

button, input, select, textarea {
    border-radius: 0;
    font: inherit;
}

textarea {
    overflow: auto;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
}

th, td {
    padding: 0;
}

fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

legend {
    padding: 0;
}

pre {
    margin: 0;
    font: inherit;
}

/**************************************************
 * COMPONENT | BUTTON
 **************************************************/
.lg-btn {
    display: inline-flex;
    align-items: center;
    min-width: 270px;
    height: 70px;
    padding: 0 24px 1px;
    border: 1px solid #222;
    background-color: transparent;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -.6px;
    cursor: pointer;
    transition: border-color .3s ease,
 background-color .3s ease,
 color .3s ease;
}

.lg-btn .icon {
    display: inline-block;
    margin-left: auto;
    margin-right: 0;
    font-size: 0;
}

.lg-btn .icon svg path {
    transition: fill .3s ease;
}

.lg-btn[disabled] {
    border-color: #eee;
    background-color: #eee;
    color: #888;
    cursor: default;
}

.lg-btn[disabled] .icon svg path {
    fill: #bbb;
}

/**************************************************
 * COMPONENT | FORM
 **************************************************/
.form-text,
.form-textarea,
.form-select {
    border-radius: 6px;
    border: 1px solid #eee;
    background-color: #fffdf5;
    color: #333;
    font-size: 14px;
    vertical-align: top;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    transition: border-color .3s ease;
}

.form-text:focus,
.form-textarea:focus,
.form-select:focus {
    border-color: #222;
}

.form-text[disabled],
.form-textarea[disabled],
.form-select[disabled] {
    color: #bbb;
}

.form-text::-webkit-input-placeholder,
.form-textarea::-webkit-input-placeholder {
    color: #bbb;
}

.form-text::-moz-placeholder,
.form-textarea::-moz-placeholder {
    color: #bbb;
}

.form-text:-ms-input-placeholder,
.form-textarea:-ms-input-placeholder {
    color: #bbb;
}

.form-text:-moz-placeholder,
.form-textarea:-moz-placeholder {
    color: #bbb;
}

.form-text {
    display: inline-block;
    height: 40px;
    padding: 0 16px;
}

.form-text::-ms-clear {
    display: none;
}

.form-text::-ms-reveal {
    display: none;
}

.form-text::-webkit-search-decoration, .form-text::-webkit-search-cancel-button, .form-text::-webkit-search-results-button, .form-text::-webkit-search-results-decoration {
    display: none;
}

.form-textarea {
    display: block;
    overflow-y: auto;
    width: 100%;
    padding: 16px 16px;
    line-height: 1.5;
    resize: none;
}

.form-select {
    display: inline-block;
    height: 40px;
    padding: 0 calc(16px + 14px + 16px) 0 16px;
    background-image: url(https://company.eduwill.net/assets/img/common/form_select_chevron.svg);
    background-repeat: no-repeat;
    background-position: top 50% right 12px;
}

.form-select::-ms-expand {
    display: none;
}

.form-file {
    display: inline-block;
    position: relative;
    padding-right: 40px;
    vertical-align: top;
}

.form-file .form-filename {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    padding: 0 16px;
    border-radius: 6px 0 0 6px;
    border: solid #eee;
    border-width: 1px 0 1px 1px;
    background-color: #fffdf5;
}

.form-file .form-filename > span {
    display: inline-block;
    overflow: hidden;
    color: #333;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.form-file .form-btn {
    display: block;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 0 6px 6px 0;
    border: 1px solid #eee;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 18px 18px;
    background-color: #fff;
    white-space: nowrap;
    text-indent: 100%;
    cursor: pointer;
}

.form-file .form-trigger {
    background-image: url(https://company.eduwill.net/assets/img/common/form_file_add.svg);
}

.form-file .form-trigger input {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: none;
    white-space: nowrap;
    clip: rect(0, 0, 0, 0);
}

.form-file .form-clear {
    display: none;
    background-image: url(https://company.eduwill.net/assets/img/common/form_file_clear.svg);
}

.form-file.changed .form-trigger {
    display: none;
}

.form-file.changed .form-clear {
    display: block;
}

.form-checkbox,
.form-radio {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.form-checkbox input,
.form-radio input {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: none;
    white-space: nowrap;
    clip: rect(0, 0, 0, 0);
}

.form-checkbox input + span,
.form-radio input + span {
    display: block;
    position: relative;
    padding-left: calc(24px + 2px);
    color: #333;
    font-size: 14px;
    line-height: 24px;
}

.form-checkbox input + span:before,
.form-radio input + span:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: auto 24px;
}

.form-checkbox input:checked + span:before,
.form-radio input:checked + span:before {
    background-position: -24px 0;
}

.form-checkbox input[disabled] + span:before,
.form-radio input[disabled] + span:before {
    background-position: -48px 0;
}

.form-checkbox input:checked[disabled] + span:before,
.form-radio input:checked[disabled] + span:before {
    background-position: -72px 0;
}

.form-checkbox input + span:before {
    background-image: url(https://company.eduwill.net/assets/img/common/form_checkbox.svg);
}

.form-radio input + span:before {
    background-image: url(https://company.eduwill.net/assets/img/common/form_radio.svg);
}

.form-option-group .form-checkbox + .form-checkbox,
.form-option-group .form-radio + .form-radio {
    margin-left: 24px;
}

/**************************************************
 * COMPONENT | MODAL
 **************************************************/
.modal {
    /* display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0; */
    z-index: 1020;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0); */
    -webkit-backdrop-filter: blur(0);
            backdrop-filter: blur(0);
    transition: visibility .6s linear,
 background-color .6s ease,
 -webkit-backdrop-filter .6s ease;
    transition: visibility .6s linear,
 background-color .6s ease,
 backdrop-filter .6s ease;
    transition: visibility .6s linear,
 background-color .6s ease,
 backdrop-filter .6s ease,
 -webkit-backdrop-filter .6s ease;
}

.modal_container {
    opacity: 0;
    transform: translateY(48px);
    transition: opacity .6s ease,
 transform .6s ease;
}

.modal_content {
    /* width: 756px; */
    background-color: #fff;
}

.modal_header {
    position: relative;
    padding: 44px 96px 30px 40px;
}

.modal_header h2 {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -.8px;
}

.modal_header .modal-close {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 43px;
    right: 40px;
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
    background: transparent;
    font-size: 0;
    cursor: pointer;
}

.modal_header .meta {
    margin-top: 12px;
    margin-right: -66px;
    padding-bottom: 24px;
    border-bottom: 1px solid #eee;
}

.modal_header .meta > ul {
    display: flex;
}

.modal_header .meta > ul > li {
    margin-left: 16px;
    color: #888;
    font-size: 16px;
}

.modal_header .meta > ul > li:first-child {
    margin-left: 0;
}

.modal_body {
    /* overflow-y: auto;
    max-height: 638px;
    margin-right: 12px; */
    padding: 0 28px 40px 40px;
}

.modal_body .view-area {
    padding: 10px 0 94px;
}

.modal_body .view-area .img {
    display: none;
}

.modal_body .view-area .img img {
    vertical-align: top;
}

.modal_body .view-area .video {
    display: none;
    position: relative;
}

.modal_body .view-area .video:before {
    content: "";
    display: block;
    padding-bottom: 56.25%;
}

.modal_body .view-area .video video {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal_footer {
    padding: 8px 40px 40px;
}

.modal_footer .button-area {
    display: flex;
    justify-content: center;
}

.modal.visible {
    visibility: visible;
    /* background-color: rgba(0, 0, 0, 0.7); */
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
}

.modal.visible .modal_container {
    opacity: 1;
    transform: translateY(0);
}

.table {
    width: 100%;
    border-top: 1px solid #dcd8c0;
}

.table th,
.table td {
    height: 48px;
    padding: 14px 16px;
    border-bottom: 1px solid #dcd8c0;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
}

.table thead th {
    background-color: #fcf9ea;
    font-weight: 700;
}

.table tbody td {
    background-color: #fff;
    color: #888;
    letter-spacing: -.47px;
}

/**************************************************
 * COMPONENT | PAGINATION
 **************************************************/
.pagination {
    display: flex;
    justify-content: center;
}

.pagination .extend,
.pagination .page {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}

.pagination .extend {
    overflow: hidden;
    background-image: url(https://company.eduwill.net/assets/img/common/pagination.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: auto 40px;
    white-space: nowrap;
    text-indent: 100%;
}

.pagination .extend.prev {
    margin-right: 14px;
    background-position-x: 0;
}

.pagination .extend.next {
    margin-left: 14px;
    background-position-x: -40px;
}

.pagination span.extend {
    opacity: .38;
}

.pagination .page {
    margin: 0 2px;
    padding-bottom: 2px;
    color: #ccc;
    font-size: 18px;
}

.pagination .page.current {
    border-radius: 50%;
    background-color: #fcc300;
    color: inherit;
    font-weight: 700;
}

/**************************************************
 * COMPONENT | POPUP
 **************************************************/
.popup {
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1010;
    width: 400px;
    border-radius: 16px;
    background-color: #fff;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);
    transform: translate(-50%, -50%);
}

.popup_slider {
    position: relative;
}

.popup_slider img {
    display: block;
    width: 100%;
    max-width: none;
    height: auto;
}

.popup_nav > button {
    display: block;
    visibility: hidden;
    overflow: hidden;
    position: absolute;
    top: 50%;
    z-index: 1;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    padding: 0;
    border: none;
    opacity: 0;
    white-space: nowrap;
    text-indent: 100%;
    cursor: pointer;
    transition: visibility .3s linear,
 opacity .3s ease;
}

.popup_nav .prev {
    left: 8px;
    background: url(https://company.eduwill.net/assets/img/common/popup_btn_prev.png) no-repeat 0 0;
}

.popup_nav .next {
    right: 8px;
    background: url(https://company.eduwill.net/assets/img/common/popup_btn_next.png) no-repeat 0 0;
}

.popup_counter {
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    bottom: 14px;
    z-index: 1;
    height: 26px;
    padding: 0 10px;
    border-radius: 13px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    transform: translateX(-50%);
}

.popup_counter > span {
    font-size: 14px;
}

.popup_counter .current {
    font-weight: 700;
}

.popup_counter .bar {
    width: 1px;
    height: 10px;
    margin: 0 6px;
    background-color: #fff;
}

.popup_slider:hover .popup_nav > button {
    visibility: visible;
    opacity: 1;
}

.popup_footer {
    display: flex;
}

.popup_footer button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 50px;
    padding: 0 0 1px 0;
    border: none;
    background-color: #fff;
    color: #222;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

.popup_footer button:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 1px;
    height: 16px;
    margin-top: -8px;
    background-color: #eee;
}

.popup_footer button:first-child:before {
    display: none;
}

.popup_footer .popup-close-today {
    color: #888;
}

/**************************************************
 * LAYOUT | SITE
 **************************************************/
.site {
    height: 100%;
}

.container {
    width: 1680px;
    margin: 0 auto;
    padding: 0 20px;
}

.container.tight {
    width: 1240px;
}

.container.fluid {
    width: 100%;
}

/**************************************************
 * LAYOUT | HEADER
 **************************************************/
.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    background-color: white;
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
}

.header_inner {
    display: flex;
    align-items: center;
    width: 1680px;
    height: 80px;
    margin: 0 auto;
    padding: 0 20px;
}

.header h1 a {
    display: block;
    transform-origin: 0 0;
    transition: transform 1s cubic-bezier(0.76, 0, 0.36, 1);
}

.header h1 a img {
    display: block;
}

.header .phrase {
    margin-left: 12px;
    transition: opacity .3s ease .9s;
}

.header .phrase img {
    display: block;
    width: auto;
    height: 28px;
}

.header .gnb {
    position: relative;
    z-index: 1;
    margin-top: 4px;
    margin-left: auto;
}

.header .gnb_bg {
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    border-top: 1px solid #eee;
    background-color: white;
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.12);
    transition: visibility 0.6s linear, height 0.6s cubic-bezier(0.76, 0, 0.36, 1);
}

.header .menu {
    display: flex;
    align-items: center;
}

.header .menu:before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 16px;
    margin: 0 40px 0 16px;
    background-color: #eee;
}

.header .menu a {
    display: inline-block;
    color: #fcc300;
    font-size: 16px;
    font-weight: 700;
}

.header .menu a:after {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 4px;
    background: url(https://company.eduwill.net/assets/img/common/header_menu_link.svg) no-repeat 0 0/100% 100%;
    vertical-align: -2px;
}

.header .menu a + a {
    margin-left: 40px;
}

.header.large-logo h1 a {
    transform: translate(0, 168px) scale(11.6976);
    cursor: default;
    pointer-events: none;
}

.header.large-logo .phrase {
    opacity: 0;
    transition: opacity .3s ease;
}

/**************************************************
 * LAYOUT | GNB
 **************************************************/
.gnb > ul {
    display: flex;
}

.gnb > ul > li {
    position: relative;
    width: 162px;
    margin-left: -1px;
}

.gnb > ul > li:first-child {
    margin-left: 0;
}

.gnb > ul > li > .link {
    display: block;
    padding: 26px 16px;
    color: #888;
    font-size: 16px;
    text-align: left;
    transition: color .3s ease;
}

.gnb > ul > li > .link.focus, .gnb > ul > li > .link.active {
    color: #222;
    font-weight: 700;
}

.gnb_sub {
    visibility: hidden;
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    border: solid #eee;
    border-width: 0 1px;
    transition: visibility 0.6s linear, height 0.6s cubic-bezier(0.76, 0, 0.36, 1);
}

.gnb_sub > ul {
    padding: 18px 0 26px;
}

.gnb_sub > ul > li > .link {
    display: block;
    padding: 6px 8px;
    color: #666;
    font-size: 14px;
    text-align: left;
    transition: color .3s ease;
}

.gnb_sub > ul > li > .link > span {
    display: inline-block;
    position: relative;
	padding-left:10px;
}

.gnb_sub > ul > li > .link > span:before {
    content: "";
    display: block;
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fcc300;
    transform: scaleX(0);
    transition: transform .3s ease;
}

.gnb_sub > ul > li > .link:focus, .gnb_sub > ul > li > .link:hover {
    color: #222;
    font-weight: 700;
}

.gnb_sub > ul > li > .link:focus > span:before, .gnb_sub > ul > li > .link:hover > span:before {
    transform: scaleX(1);
}

.gnb_sub > ul > li > .link.outside > span:after {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-left: 2px;
    background: url(https://company.eduwill.net/assets/img/common/gnb_sub_link.svg) no-repeat 0 0/100% 100%;
    vertical-align: -2px;
}

.gnb.expand .gnb_sub {
    visibility: visible;
}

.gnb.expand + .gnb_bg {
    visibility: visible;
}

/**************************************************
 * LAYOUT | MAIN
 **************************************************/
.main {
    min-height: 100%;
    margin-bottom: -386px;
    padding-top: 80px;
}

.main:after {
    content: "";
    display: block;
    height: 386px;
}

.path > ul {
    display: flex;
}

.path > ul > li {
    color: #fff;
    font-size: 10px;
}

.path > ul > li:first-child {
    overflow: hidden;
    width: 18px;
    height: 18px;
    background: url(https://company.eduwill.net/assets/img/common/path_home.svg) no-repeat 0 0;
    white-space: nowrap;
    text-indent: 100%;
    transform: translateY(-1px);
}

.path > ul > li:before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 4px;
    background: url(https://company.eduwill.net/assets/img/common/path_chevron.svg) no-repeat 0 0;
    vertical-align: -2px;
}

.path > ul > li:first-child:before {
    display: none;
}

.path.grey > ul > li {
    color: #888;
}

.path.grey > ul > li:first-child {
    background-image: url(https://company.eduwill.net/assets/img/common/path_home_grey.svg);
}

.path.grey > ul > li:before {
    background-image: url(https://company.eduwill.net/assets/img/common/path_chevron_grey.svg);
}

.contents_header {
    position: relative;
    height: 340px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    /* background-attachment: fixed; */
    text-align: center;
    /* &:before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(34, 34, 34, .6);
        } */
}

.contents_header .container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
}

.contents_header .path {
    position: absolute;
    top: 24px;
    left: 20px;
}

.contents_header h2 {
    color: #fcc300;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -1px;
}

.contents_header strong {
    display: block;
    margin-top: 16px;
    color: #fff;
    font-size: 24px;
    letter-spacing: -.6px;
}

.contents_header p {
    margin-top: 4px;
    color: #fff;
    font-size: 20px;
    line-height: 30px;
}

.contents_header h2 + p {
    margin-top: 16px;
}

.contents_header .mouse {
    display: block;
    position: absolute;
    bottom: 28px;
    left: 50%;
    width: 32px;
    height: 38px;
    margin-left: -16px;
    border-radius: 10px;
    border: 2px solid #fff;
    -webkit-animation: mouse 1s ease infinite;
            animation: mouse 1s ease infinite;
}

.contents_header .mouse:before {
    content: "";
    display: block;
    position: absolute;
    top: 8px;
    left: 50%;
    width: 2px;
    height: 8px;
    margin-left: -1px;
    border-radius: 2px;
    background-color: #fff;
    -webkit-animation: wheel 1s ease infinite;
            animation: wheel 1s ease infinite;
}

.contents_header.visual-header {
    height: 870px;
}

.contents_header.visual-header strong {
    margin-top: 42px;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -.5px;
}

.contents_header.visual-header p {
    margin-top: 16px;
}

.contents_header.visual-header p.base { line-height: 1.3; font-size: 13px; font-weight: 300; opacity: .6; }

.contents_header.visual-header .button-area {
    display: flex;
    justify-content: center;
    margin-top: 76px;
}

.contents_header.visual-header .button-area .opaque-link-btn {
    display: inline-flex;
    align-items: center;
    position: relative;
    min-width: 210px;
    height: 60px;
    padding: 0 16px;
    border-radius: 12px;
    border: 1px solid #e5e5e5;
    background-color: rgba(255, 255, 255, 0.7);
    transition: border-color .3s ease,
 background-color .3s ease;
}

.contents_header.visual-header .button-area .opaque-link-btn .icon {
    display: inline-block;
    margin-right: 4px;
    font-size: 0;
}

.contents_header.visual-header .button-area .opaque-link-btn .icon svg path {
    transition: fill .3s ease;
}

.contents_header.visual-header .button-area .opaque-link-btn span {
    display: inline-block;
    margin-right: 24px;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    transition: color .3s ease;
}

.contents_header.visual-header .button-area .opaque-link-btn .arrow {
    display: inline-block;
    margin-left: auto;
    margin-right: 0;
    font-size: 0;
}

.contents_header.visual-header .button-area .opaque-link-btn .arrow svg path {
    transition: fill .3s ease;
}

.contents_header.visual-header .button-area .opaque-link-btn:hover, .contents_header.visual-header .button-area .opaque-link-btn:focus {
    border-color: #fcc300;
    background-color: rgba(252, 195, 0, 0.7);
}

.contents_header.visual-header .button-area .opaque-link-btn:hover .icon svg path, .contents_header.visual-header .button-area .opaque-link-btn:focus .icon svg path {
    fill: #fff;
}

.contents_header.visual-header .button-area .opaque-link-btn:hover span, .contents_header.visual-header .button-area .opaque-link-btn:focus span {
    color: #fff;
}

.contents_header.visual-header .button-area .opaque-link-btn:hover .arrow svg path, .contents_header.visual-header .button-area .opaque-link-btn:focus .arrow svg path {
    fill: #fff;
}

.contents_header.visual-header .button-area .opaque-link-btn + .opaque-link-btn {
    margin-left: 24px;
}

.contents_header.has-tab .container {
    padding-bottom: 50px;
}

.contents_header.has-tab .mouse {
    bottom: 78px;
}

.contents_header.flexible {
    height: auto;
}

.contents_header.flexible .container {
    padding-top: 102px;
}

.contents_header.flexible:before {
    display: none;
}

.contents_header.flexible strong {
    color: inherit;
    font-size: 48px;
    line-height: 60px;
}

.contents_header.flexible p {
    margin-top: 16px;
    color: #555;
}

.contents_tab {
    display: flex;
    position: relative;
    z-index: 1;
    width: 1200px;
    margin: -50px auto 0;
}

.contents_tab a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 0 32px;
    background-color: #444;
    color: #eee;
    font-size: 24px;
}

.contents_tab a.active {
    border-color: #fcc300;
    background-color: #fcc300;
    color: inherit;
    font-weight: 700;
}

.contents_tab a.active + a {
    border-left: none;
}

.contents_tab a + a {
    border-left: 1px solid #616161;
}

.contents_body {
    padding: 120px 0 200px;
}

.contents_body .pull-up {
    margin-top: -120px;
}

.contents_body .pull-down {
    margin-bottom: -200px;
}

@-webkit-keyframes mouse {
    0% {
        transform: translateY(-8px);
    }
    50% {
        transform: translateY(8px);
    }
    100% {
        transform: translateY(-8px);
    }
}

@keyframes mouse {
    0% {
        transform: translateY(-8px);
    }
    50% {
        transform: translateY(8px);
    }
    100% {
        transform: translateY(-8px);
    }
}

@-webkit-keyframes wheel {
    0% {
        opacity: 1;
        transform: translateY(-4px);
    }
    100% {
        opacity: 0;
        transform: translateY(4px);
    }
}

@keyframes wheel {
    0% {
        opacity: 1;
        transform: translateY(-4px);
    }
    100% {
        opacity: 0;
        transform: translateY(4px);
    }
}

.visual-tab {
    position: relative;
    padding-bottom: 50px;
}

.visual-tab .img {
    position: relative;
}

.visual-tab .img:before {
    content: "";
    display: block;
    padding-bottom: 43.3333%;
}

.visual-tab .img img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.visual-tab > ul {
    display: flex;
    position: absolute;
    right: 104px;
    bottom: 0;
    left: 104px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

.visual-tab > ul > li {
    width: 100%;
    border-left: 1px solid #eee;
}

.visual-tab > ul > li:first-child {
    border-left: none;
}

.visual-tab a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #fff;
    color: #ccc;
    font-size: 24px;
    font-weight: 700;
    transition: color .3s ease;
}

.visual-tab a.active {
    color: #fcc300;
}

.visual-tab-content {
    display: none;
}

.section .container {
    display: flex;
    flex-wrap: wrap;
}

.section h3 {
    width: 100%;
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -.5px;
}

.section h3 img {
    vertical-align: top;
}

.section h3 + p {
    margin-top: -16px;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -.8px;
}

.section .visual-tab {
    width: 100%;
    margin-bottom: 80px;
}

.section .map {
    width: 100%;
    height: 400px;
    margin-bottom: 40px;
    background-color: #f9f9f9;
}

.section .tag {
    overflow: hidden;
    margin-bottom: 40px;
}

.section .tag > ul {
    display: flex;
    flex-wrap: wrap;
    margin: -8px 0 0 -8px;
}

.section .tag > ul > li {
    display: inline-flex;
    align-items: center;
    height: 44px;
    margin: 8px 0 0 8px;
    padding: 0 16px;
    border-radius: 8px;
    background-color: #fff9e7;
    font-size: 18px;
}

.section_aside {
    width: 310px;
    padding-right: 40px;
}

.section_aside h3 {
    margin-bottom: 0;
}

.section_content {
    width: 100%;
}

.section .sub h4 {
    margin-bottom: 24px;
    color: #fcc300;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -.5px;
}

.section .sub .desc {
    margin-top: -8px;
    padding-top: 16px;
    border-top: 1px solid #eee;
}

.section .sub .desc .row {
    display: flex;
    align-items: center;
}

.section .sub .desc p,
.section .sub .desc dl {
    width: 100%;
    font-size: 24px;
    font-weight: 500;
}

.section .sub .desc p {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.section .sub .desc p img {
    display: inline-block;
    margin-right: 16px;
    vertical-align: top;
    transform: translateY(1px);
}

.section .sub .desc dl {
    display: flex;
    align-items: center;
}

.section .sub .desc dl dt,
.section .sub .desc dl dd {
    display: flex;
    align-items: center;
}

.section .sub .desc dl dt img {
    margin-right: 8px;
}

.section .sub .desc dl dd {
    margin-left: 8px;
}

.section .sub .desc p + p,
.section .sub .desc dl + dl {
    margin-top: 16px;
}

.section .sub .desc .address > span {
    display: block;
    width: 100%;
    color: #888;
    margin-top: 8px;
    font-size: 18px;
    line-height: 36px;
}

.section .sub .desc .transport {
    align-items: inherit;
}

.section .sub .desc .transport dt {
    min-width: 96px;
    font-weight: 700;
}

.section .sub .desc .transport dd {
    margin-left: 32px;
}

.section .sub p.md {
    color: #888;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -.5px;
}

.section .sub p.md + .link-btn {
    margin-top: 24px;
}

.section .sub + .link-btn {
    margin-top: 54px;
}

.section .sub-row-group {
    display: flex;
}

.section .sub-row-group .sub {
    width: 100%;
}

.section .sub-row-group .sub + .sub {
    margin-top: 0;
    margin-left: 40px;
}

.section .sub-group .sub + .sub {
    margin-top: 48px;
}

.section .sub-row-group + .sub,
.section .sub-group + .sub,
.section .sub + .sub-group,
.section .sub + .sub {
    margin-top: 80px;
}

.section .link-btn + .sub {
    margin-top: 48px;
}

.section p.lg {
    margin-bottom: 48px;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -.8px;
}

.section p.lg + .link-btn {
    margin-top: -24px;
}

.section .figure img {
    vertical-align: top;
}

.section .figure + .link-btn-list {
    margin-top: 40px;
}

.section .table + p.md {
    margin-top: 24px;
}

.section_aside + .section_content {
    width: calc(100% - 310px);
}

.section + .section {
    margin-top: 166px;
}

.section.fluid {
    padding: 120px 0;
}

.section + .hr {
    width: 1200px;
    height: 1px;
    margin: 120px auto;
    background-color: #eee;
}

.hr:first-child {
    margin-top: 0;
}

.hr:last-child {
    margin-bottom: 0;
}

/* LINK BTN */
.link-btn {
    display: inline-flex;
    align-items: center;
    position: relative;
    min-width: 270px;
    height: 64px;
    padding: 0 16px;
    border-radius: 12px;
    background-color: #eee;
    transition: background-color .3s ease;
}

.link-btn .icon {
    display: inline-block;
    margin-right: 4px;
}

.link-btn span {
    display: inline-block;
    margin-right: 24px;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
}

.link-btn dl {
    display: inline-flex;
    margin-right: 24px;
}

.link-btn dl dt,
.link-btn dl dd {
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
}

.link-btn dl dd {
    margin-left: 16px;
}

.link-btn .arrow {
    display: inline-block;
    margin-left: auto;
    margin-right: 0;
    font-size: 0;
}

.link-btn .arrow svg path {
    transition: fill .3s ease;
}

.link-btn:hover {
    background-color: #fcc300;
}

.link-btn:hover .arrow svg path {
    fill: #222;
}

/* LINK BTN LIST */
.link-btn-list {
    overflow: hidden;
}

.link-btn-list > ul {
    display: flex;
    flex-wrap: wrap;
    margin: -40px 0 0 -40px;
}

.link-btn-list > ul > li {
    width: calc(25% - 40px);
    margin: 40px 0 0 40px;
}

.link-btn-list .link-btn {
    width: 100%;
}

.link-btn-list.col-3 > ul > li {
    width: calc(33.3333% - 40px);
}

.link-list {
    overflow: hidden;
}

.link-list > ul {
    display: flex;
    flex-wrap: wrap;
    margin: -16px 0 0 -16px;
}

.link-list > ul > li {
    width: calc(25% - 16px);
    margin: 16px 0 0 16px;
}

.link-list a {
    display: block;
    position: relative;
    padding: 16px 16px;
    border-radius: 12px;
    background-color: #eee;
    transition: background-color .3s ease;
}

.link-list a .icon {
    display: inline-block;
    vertical-align: top;
}

.link-list a span {
    display: block;
    margin-top: 4px;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -.5px;
}

.link-list a dl {
    margin-top: 4px;
}

.link-list a dl dt {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -.5px;
}

.link-list a dl dd {
    color: #555;
    font-size: 16px;
    letter-spacing: -.5px;
}

.link-list a .arrow {
    display: block;
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 0;
}

.link-list a .arrow svg path {
    transition: fill .3s ease;
}

.link-list a:focus, .link-list a:hover {
    background-color: #fcc300;
}

.link-list a:focus span, .link-list a:hover span {
    font-weight: 700;
}

.link-list a:focus dl dt, .link-list a:hover dl dt {
    font-weight: 700;
}

.link-list a:focus .arrow, .link-list a:hover .arrow {
    -webkit-animation: link-arrow-move .3s ease;
            animation: link-arrow-move .3s ease;
}

.link-list a:focus .arrow svg path, .link-list a:hover .arrow svg path {
    fill: #222;
}

.link-list.col-3 > ul > li {
    width: calc(33.3333% - 16px);
}

.link-list.col-5 > ul > li {
    width: calc(20% - 16px);
}

@-webkit-keyframes link-arrow-move {
    0% {
        transform: translate(-16px, 16px);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes link-arrow-move {
    0% {
        transform: translate(-16px, 16px);
    }
    100% {
        transform: translate(0, 0);
    }
}

/* SUB CARD LIST */
.sub-card-list {
    overflow: hidden;
}

.sub-card-list > ul {
    display: flex;
    flex-wrap: wrap;
    margin: -16px 0 0 -16px;
}

.sub-card-list > ul > li {
    overflow: hidden;
    width: calc(50% - 16px);
    margin: 16px 0 0 16px;
    border-radius: 16px;
}

.sub-card-list .item {
    position: relative;
}

.sub-card-list .item .img:before {
    content: "";
    display: block;
    padding-bottom: 36.6132%;
}

.sub-card-list .item .img img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.sub-card-list .item .text {
    position: absolute;
    top: 32px;
    left: 32px;
    color: #fff;
}

.sub-card-list .item .text strong {
    display: block;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -.8px;
}

.sub-card-list .item .text span {
    display: block;
    margin-top: 4px;
    font-size: 16px;
    letter-spacing: -.44px;
}

p.md + .sub-card-list {
    margin-top: 48px;
}

/**************************************************
 * LAYOUT | FOOTER
 **************************************************/
.footer {
    border-top: 1px solid #444;
}

.footer_wrapper {
    position: relative;
    background-color: #222;
    color: #ccc;
}

.footer_bar {
    width: 1680px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer_bar > ul {
    display: flex;
    padding: 38px 0 37px;
}

.footer_bar > ul > li:before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 14px;
    margin: 0 20px;
    background-color: #888;
    vertical-align: -2px;
}

.footer_bar > ul > li:first-child:before {
    display: none;
}

.footer_bar > ul > li b {
    color: #fcc300;
    font-weight: inherit;
}

.footer_inner {
    position: relative;
    width: 1680px;
    height: 286px;
    margin: 0 auto;
    padding: 36px 20px 36px 186px;
}

.footer .logo {
    display: block;
    position: absolute;
    top: 36px;
    left: 20px;
    width: 121px;
    height: 40px;
    background: url(https://company.eduwill.net/assets/img/common/logo_footer.svg) no-repeat 0 0/100% 100%;
}

.footer .copyright {
    margin-top: 16px;
    color: #888;
    font-size: 12px;
    line-height: 18px;
}

.footer .company-info > strong {
    display: block;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}

.footer .company-info p {
    margin-top: 8px;
    font-size: 12px;
    line-height: 22px;
}

.footer .company-info p .link {
    display: inline-flex;
    align-items: center;
    height: 24px;
    margin-left: 8px;
    border: 1px solid #ccc;
    padding: 0 6px;
    font-size: 10px;
}

.footer .company-info p .row {
    display: flex;
}

.footer .company-info p .row > span:before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 10px;
    margin: 0 8px;
    background-color: #444;
    vertical-align: -1px;
}

.footer .company-info p .row > span:first-child:before {
    display: none;
}

.footer .company-info p .row > span .link {
    margin-left: 8px;
}

.footer .company-info p .row + .row {
    margin-top: 4px;
}

.footer .contact {
    display: flex;
    position: absolute;
    top: 36px;
    left: 1272px;
}

.footer .contact dl {
    width: 176px;
}

.footer .contact dl dt {
    font-size: 16px;
    line-height: 22px;
}

.footer .contact dl dd {
    padding-bottom: 14px;
    border-bottom: 1px solid #444;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
}

.footer .contact dl + dl {
    margin-left: 16px;
}

.footer .sns {
    position: absolute;
    top: 128px;
    left: 1272px;
}

.footer .sns > ul {
    display: flex;
}

.footer .sns > ul > li {
    margin-left: 16px;
}

.footer .sns > ul > li:first-child {
    margin-left: 0;
}

.footer .sns a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
}

.top-btn {
    display: block;
    visibility: hidden;
    position: absolute;
    right: 24px;
    bottom: calc(100% + 24px);
    z-index: 100;
    width: 48px;
    height: 48px;
    padding: 18px 0 0;
    border-radius: 50%;
    border: none;
    background: url(https://company.eduwill.net/assets/img/common/top_btn_arrow.png) no-repeat top 8px left 50% #fff;
    opacity: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16);
    font-size: 11px;
    font-weight: 700;
    line-height: 14px;
    text-align: center;
    cursor: pointer;
    transition: visibility .3s ease, opacity .3s ease;
}

.top-btn.fixed {
    position: fixed;
    bottom: 32px;
}

.top-btn.visible {
    visibility: visible;
    opacity: 1;
}

/**************************************************
 * LAYOUT | BOARD
 **************************************************/
.board-list {
    padding-top: 80px;
    border-top: 1px solid #eee;
}

.board-list .search-form {
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
}

.board-list .search-form .search-text {
    position: relative;
    border-bottom: 2px solid #fcc300;
}

.board-list .search-form .search-text input {
    display: block;
    width: 454px;
    height: 70px;
    padding: 0 51px 0 0;
    border: none;
    background-color: #fff;
    font-size: 18px;
}

.board-list .search-form .search-text input::-webkit-input-placeholder {
    color: #888;
}

.board-list .search-form .search-text input::-moz-placeholder {
    color: #888;
}

.board-list .search-form .search-text input:-ms-input-placeholder {
    color: #888;
}

.board-list .search-form .search-text input:-moz-placeholder {
    color: #888;
}

.board-list .search-form .search-text button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: -19px;
    width: 70px;
    height: 70px;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.board-list .list-area .result {
    padding: 120px 0;
}

.board-list .list-area .result p {
    color: #555;
    font-size: 24px;
    text-align: center;
}

.board-list .pagination {
    margin-top: 120px;
}

.board_header h4 {
    padding-bottom: 24px;
    border-bottom: 1px solid #222;
    font-size: 28px;
    letter-spacing: -1px;
}

.board_meta {
    margin-top: 24px;
}

.board_meta > ul {
    display: flex;
}

.board_meta > ul > li {
    color: #888;
    font-size: 16px;
    letter-spacing: -.5px;
}

.board_meta > ul > li:before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 12px;
    margin: 0 24px;
    background-color: #ccc;
}

.board_meta > ul > li:first-child:before {
    display: none;
}

.board_body {
    padding: 80px 0 120px;
}

.board_content {
    width: 992px;
    margin: 0 auto;
}

.board_nav {
    border: solid #eee;
    border-width: 1px 0;
}

.board_nav > ul {
    display: flex;
}

.board_nav > ul > li {
    flex: none;
    width: 50%;
}

.board_nav a {
    display: block;
    padding: 24px 40px 24px 0;
}

.board_nav a strong {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 46px;
    margin-bottom: 8px;
    padding: 0 24px;
    border-radius: 23px;
    background-color: #feedb2;
    font-size: 18px;
    font-weight: 700;
}

.board_nav a span {
    display: block;
    overflow: hidden;
    font-size: 20px;
    line-height: 36px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.board_footer {
    margin-top: 70px;
}

.board_footer .button-area {
    display: flex;
    justify-content: center;
}

h3 + .board {
    margin-top: -16px;
}

/**************************************************
 * LAYOUT | FORM
 **************************************************/
.form .fieldset {
    position: relative;
}

.form .fieldset .legend {
    display: block;
    margin-bottom: 24px;
    color: #888;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -.5px;
}

.form .fieldset .agree-fieldset {
    position: absolute;
    top: 0;
    right: 0;
}

.form .fieldset + .fieldset {
    margin-top: 48px;
}

.form .field-list > ul > li {
    margin-top: 16px;
}

.form .field-list > ul > li:first-child {
    margin-top: 0;
}

.form .field-list .label {
    display: inline-block;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    letter-spacing: -.5px;
    vertical-align: top;
}

.form .field-list .label .required {
    color: #e01e36;
}

.form .field-list .guide {
    margin-top: 4px;
    color: #888;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -.5px;
}

.form .list > ul > li {
    position: relative;
    color: #888;
    font-size: 16px;
    padding-left: 16px;
}

.form .list > ul > li:before {
    content: "•";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

/**************************************************
 * BASE | UTILITY
 **************************************************/
.bg-primary {
    background-color: #fcc300;
}

.bg-grey {
    background-color: #f9f9f9;
}

.bg-yellow {
    background-color: #fec20f;
}

.bg-light-yellow {
    background-color: #fff9e7;
}

body {
    /* min-width: 1680px; */
}

body:before {
    content: "";
    display: block;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.84);
    opacity: 0;
    transition: visibility .1s linear,
 opacity .1s ease;
}

body:after {
    content: "";
    display: block;
    visibility: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 2010;
    width: 64px;
    height: 64px;
    opacity: 0;
    -webkit-animation: spinning-circle .6s linear infinite;
            animation: spinning-circle .6s linear infinite;
    background: url(https://company.eduwill.net/assets/img/common/loading-circle.png) no-repeat 50% 50%/100% 100%;
}

@-webkit-keyframes spinning-circle {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spinning-circle {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

body.loading:before, body.loading:after {
    visibility: visible;
    opacity: 1;
}

.no-transition * {
    transition: none !important;
}

/**************************************************
 * PAGE | ETC
 **************************************************/
.sitemap .list {
    overflow: hidden;
}

.sitemap .list > ul {
    display: flex;
    flex-wrap: wrap;
    margin: -64px 0 0 -40px;
}

.sitemap .list > ul > li {
    width: calc(25% - 40px);
    margin: 64px 0 0 40px;
}

.sitemap .list > ul > li > .link {
    display: block;
    padding-bottom: 8px;
    border-bottom: 2px solid #fcc300;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -.5px;
}

.sitemap .list_sub {
    padding-top: 16px;
}

.sitemap .list_sub > li {
    margin-top: 8px;
}

.sitemap .list_sub > li:first-child {
    margin-top: 0;
}

.sitemap .list_sub > li > .link {
    color: #888;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -.5px;
    vertical-align: top;
}

.sitemap .list_sub > li > .link.outside:after {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-left: 2px;
    background: url(https://company.eduwill.net/assets/img/common/gnb_sub_link.svg) no-repeat 0 0/100% 100%;
    vertical-align: -2px;
}

/**************************************************
 * COMPONENT | MAP
 **************************************************/
.map-tooltip {
    border-radius: 12px;
    border: solid 1px #eee !important;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);
}

.map-tooltip > div {
    height: auto !important;
}

.map-tooltip > div ~ div {
    bottom: -18px !important;
    border-width: 9px 7px !important;
}

.map-tooltip > div:nth-child(2) {
    border-color: #eee transparent transparent !important;
}

/**************************************************
 * COMPONENT | MODAL VIEWER
 **************************************************/
.modal-viewer {
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1010;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    -webkit-backdrop-filter: blur(0);
            backdrop-filter: blur(0);
    transition: visibility .6s linear,
 background-color .6s ease,
 -webkit-backdrop-filter .6s ease;
    transition: visibility .6s linear,
 background-color .6s ease,
 backdrop-filter .6s ease;
    transition: visibility .6s linear,
 background-color .6s ease,
 backdrop-filter .6s ease,
 -webkit-backdrop-filter .6s ease;
}

.modal-viewer_container {
    position: relative;
    opacity: 0;
    transform: translateY(48px);
    transition: opacity 0.6s ease, transform 0.6s cubic-bezier(0.76, 0, 0.36, 1);
}

.modal-viewer .view {
    position: relative;
    width: 1200px;
    opacity: 0;
    text-align: center;
    transition: opacity .3s ease,
 transform .3s ease;
}

.modal-viewer .view img {
    max-height: 800px;
    vertical-align: top;
}

.modal-viewer .view video {
    width: 100%;
    height: auto;
}

.modal-viewer .view p {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    margin-top: 48px;
    color: #fff;
    font-size: 20px;
    letter-spacing: -.5px;
    text-align: center;
}

.modal-viewer .direction {
    display: block;
    overflow: hidden;
    position: absolute;
    top: 50%;
    width: 64px;
    height: 64px;
    margin-top: -24px;
    padding: 0;
    border: none;
    background-color: transparent;
    white-space: nowrap;
    text-indent: 100%;
    cursor: pointer;
}

.modal-viewer .direction.prev {
    left: -156px;
    transform: translateX(-100%);
    background: url(https://company.eduwill.net/assets/img/common/mv_btn_prev.png) no-repeat 50% 50%;
}

.modal-viewer .direction.next {
    right: -156px;
    transform: translateX(100%);
    background: url(https://company.eduwill.net/assets/img/common/mv_btn_next.png) no-repeat 50% 50%;
}

.modal-viewer.visible {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
}

.modal-viewer.visible .modal-viewer_container {
    opacity: 1;
    transform: translateY(0);
}

/**************************************************
 * COMPONENT | TOOLTIP
 **************************************************/
.tooltip {
    position: relative;
    z-index: 1;
}

.tooltip button {
    display: inline-flex;
    align-items: center;
    height: 32px;
    padding: 0 8px;
    border-radius: 16px;
    border: none;
    background-color: #fcc300;
    font-size: 16px;
    font-weight: 700;
    white-space: nowrap;
    transition: background-color .3s ease;
}

.tooltip button:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 4px;
    background: url(https://company.eduwill.net/assets/img/common/tooltip_ico.svg) no-repeat 0 0/100% 100%;
    transform: translateY(-1px);
}

.tooltip .balloon {
    position: absolute;
    top: calc(100% + 8px);
    left: 0;
    width: 272px;
    padding: 16px 16px;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);
    opacity: 0;
    transform: translateY(24px);
    transition: visibility .3s linear,
 opacity .3s ease,
 transform .3s ease;
}

.tooltip .balloon:before {
    content: "";
    display: block;
    position: absolute;
    top: -12px;
    left: 16px;
    width: 0;
    height: 0;
    border-bottom: 12px solid #fff;
    border-right: 12px solid transparent;
}

.tooltip .balloon > strong {
    display: block;
    font-size: 16px;
    font-weight: 700;
}

.tooltip .balloon p {
    margin-top: 12px;
    color: #888;
    font-size: 14px;
    line-height: 20px;
}

.tooltip button.active {
    background-color: #ce9f00;
}

.tooltip button.active + .balloon {
    opacity: 1;
    transform: translateY(0);
}

/* TERMS EMAIL */
.terms-email {
    position: relative;
    padding: 48px 0 48px 224px;
}

.terms-email img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: auto;
}

.terms-email p {
    font-size: 16px;
}

.terms-email .date {
    display: block;
    margin-top: 8px;
    color: #888;
    font-size: 14px;
    letter-spacing: -.44px;
}

/**************************************************
 * TERMS | privacy.html, terms.html
 **************************************************/
.contents_header.terms {
    height: 60px;
}

.contents_header.terms .path ul li {
    color: #888;
}

.contents_header.terms .path ul li:first-child {
    background: url(https://company.eduwill.net/assets/img/common/path_home_grey.svg) no-repeat 0 0;
}

.contents_header.terms .path ul li::before {
    background: url(https://company.eduwill.net/assets/img/common/path_chevron_grey.svg) no-repeat 0 0;
}

.contents_body.terms {
    padding: 105px 0 200px;
}

.contents_body.terms .form-select {
    margin-top: 40px;
}

.contents_body.terms .section_aside.subtit h3 {
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.78px;
}

.contents_body.terms .section + .section {
    margin-top: 40px;
}

.contents_body.terms .section + .section .sub:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

.contents_body.terms .section + .section + .section {
    margin-top: 80px;
}

.contents_body.terms .section .sub {
    border-bottom: 1px solid #eee;
    padding-bottom: 40px;
    margin-bottom: 40px;
}

.contents_body.terms .section .sub + .sub {
    margin-top: 0;
}

.contents_body.terms .section .sub:last-child {
    margin-bottom: 0;
}

.contents_body.terms .section .sub .button-area {
    margin-top: 83px;
}

.contents_body.terms .section .sub .button-area a{
	margin-right:10px;
}

.contents_body.terms .section .sub.terms h4 {
    margin-bottom: 8px;
    color: #222;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: -.8px;
}

.contents_body.terms .section .sub.terms h5 {
    margin: 33px 0 23px 0;
    color: #555;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -.5px;
}

.contents_body.terms .section .sub.terms h5:first-child {
    margin: 0 0 23px 0;
}

.contents_body.terms .section .sub.terms strong {
    display: block;
    color: #888;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.5px;
}

.contents_body.terms .section .sub.terms p {
    color: #888;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.5px;
}

.contents_body.terms .section .sub.terms ol.em li {
    font-size: 18px;
    font-weight: 700;
    padding-left: 0;
}

.contents_body.terms .section .sub.terms ol.em li::before {
    content: '';
    font-size: 18px;
}

.contents_body.terms .section .sub.terms ol.detail .tit + .tit {
    margin-top: 24px;
}

.contents_body.terms .section .sub.terms ol.detail li {
    font-size: 16px;
    padding-left: 0;
}

.contents_body.terms .section .sub.terms ol.detail li p {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 16px;
}

.contents_body.terms .section .sub.terms ol.detail li::before {
    content: '';
    font-size: 18px;
}

.contents_body.terms .section .sub.terms ol.detail li > ol {
    margin: 8px 0 0 28px;
}

.contents_body.terms .section .sub.terms ol.detail dl.lump dt {
    margin: 0 0 0 13px;
}

.contents_body.terms .section .sub.terms ol.detail dl dt {
    margin: 8px 0 0 13px;
}

.contents_body.terms .section .sub.terms ol.detail dl dt:first-child {
    margin-top: 0;
}

.contents_body.terms .section .sub.terms ol.detail dl dd {
    margin-left: 37px;
}

.contents_body.terms .section .sub.terms ol.detail .no-gap li {
    margin: 0;
}

.contents_body.terms .section .sub.terms ol.detail .no-space {
    margin: 0 0 0 13px;
}

.contents_body.terms .section .sub.terms ol.basic > li {
    font-size: 16px;
    padding: 0;
    margin: 0;
}

.contents_body.terms .section .sub.terms ol.basic > li > ol > li {
    margin-top: 0;
}

.contents_body.terms .section .sub.terms ol.basic > li > ol > li > ol > li {
    margin-top: 0;
}

.contents_body.terms .section .sub.terms ol li {
    position: relative;
    color: #888;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.5px;
    padding-left: 23px;
}

.contents_body.terms .section .sub.terms ol li + li {
    margin-top: 8px;
}

.contents_body.terms .section .sub.terms ol li::before {
    content: '';
    position: absolute;
    left: 0;
    color: #888;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.5px;
}

.contents_body.terms .section .sub.terms ol li.li1::before {
    content: '1. ';
}

.contents_body.terms .section .sub.terms ol li.li2::before {
    content: '2. ';
}

.contents_body.terms .section .sub.terms ol li.li3::before {
    content: '3. ';
}

.contents_body.terms .section .sub.terms ol li.li4::before {
    content: '4. ';
}

.contents_body.terms .section .sub.terms ol li.li5::before {
    content: '5. ';
}

.contents_body.terms .section .sub.terms .table {
    margin-top: 24px;
}

.contents_body.terms .section .sub.terms .table .rows {
    text-align: center;
    vertical-align: middle;
}

.contents_body.terms .section .sub.whole {
    padding-bottom: 0;
    border-bottom: none;
}
