.modal.in.modal-organization .modal-dialog {
    top: 50%; 
    @include translateY(-50%);
}
.modal-organization {
    .modal-dialog {
        width: 840px;
        min-height: 824px;
        &,
        .modal-body {
            height: auto;
            padding-bottom: 24px;
        }
    }
}
.popup-wrap {
    position: absolute; top: 50%; left: 50%; z-index: 1060;
    background-color: #fff;
    border: solid 1px #f0f0f0;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);   
    -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);   
    &#entprs_userInfo {
        top: 500px;
    }  
    .popup-inner {
        .popup-head {
            height: 42px;
            background-color: #fbfbfb;
            padding: 11px 8px 10px 16px;
            border-bottom: solid 1px #f0f0f0;
            strong {
                display: inline-block;
                @include font-size-color-weight(14px, #010101, 700); 
                letter-spacing: -0.5px; line-height: 21px;
            }
            .close {
                font-size: none;
                width: 24px;
                height: 24px;
                @include background-name-ext-repeat-poistion('genius/icon-close', svg, no-repeat, 0 0);
                position: absolute; top: 9px; right: 8px;
                opacity: 1;
            }

        }
    }
}
.popup-profile {
    width: 420px;
    padding: 16px;
    position: relative;
    .state {            
        position: absolute; top: 8px; right: 11px;
        span {
            display: block;
            width: 74px; height: 24px;
            border-radius: 12px;
            border: solid 1px #e9e9e9;
            padding: 4px 0 4px 23px;
            background-color: #fff;
            @include font-size-color-weight(11px, #000, 400); 
            letter-spacing: -0.36px; line-height: 16px;
            position: relative;
        }
        i {
            display: inline-block;
            width: 10px; height: 10px;
            border-radius: 5px;
            position: absolute; top: 6px; left: 9px;
        }
        &-1 {
            background-color: #30f96f;
        }
        &-2 {
            background-color: #ee4949;
        }
        &-3 {
            background-color: #e9e9e9;
        }
    }
    .profile {
        margin-top: 11px;
        position: relative;
        min-height: 80px;
        padding-left: 102px;
        .icon {
            position: absolute; top: 0; left: 4px;
            width: 80px; height: 80px;
            border-radius: 40px;
            overflow: hidden;
            @include background-name-ext-repeat-poistion('genius/profile-none', svg, no-repeat, 0 0);
            img {
                max-width: 100%;
            }
        }
        .info {
            border: none;
            height: auto;
            margin: 0;
            padding: 0 !important;
            .schedule {
                @include font-size-color-weight(14px, #000, 400); 
                letter-spacing: -0.5px; line-height: 20px;
                & + .name {
                    padding-top: 5px;
                }
            }
            .name {
                @include font-size-color-weight(18px, #000, 700); 
                letter-spacing: -0.64px; line-height: 27px;
                padding-top: 15px;
            }
            .team {
                @include font-size-color-weight(14px, #000, 400); 
                letter-spacing: -0.5px; line-height: 20px;
                padding-top: 4px;
            }
        }
    }
    .detail {
        @include clearfix();
        margin-top: 19px;
        ul {
            &.col-left {
                float: left;
            }
            &.col-right {
                float: right;
            }
            width: calc(50% - 4px);
            li {
                padding: 8px 0;
                border-bottom: solid 1px #f0f0f0;
                &:last-child {
                    border-bottom: none;
                    min-height: 42px;
                    div {
                        @include ellipsis-multi(2, 18);
                    }
                    
                }
                @include clearfix();
                padding-left: 58px;
                height: 35px;
                position: relative;                    
                label {
                    @include font-size-color-weight(12px, #666, 400); 
                    letter-spacing: -0.43px; line-height: 18px;
                    position: absolute; top: 8px; left: 0;
                }
                div {
                    @include font-size-color-weight(12px, #000, 400); 
                    letter-spacing: -0.5px; line-height: 18px;
                    &.lt-0,
                    .lt-0 {
                        letter-spacing: 0;
                    }
                }
                &.line-3 {
                    min-height: 70px;
                    div {
                        @include ellipsis-multi(3, 18);
                        
                    }
                }
            }
        }
    }
}
.popup-confirm {
    width: 320px;
    padding: 24px 20px;
    .text {
        @include font-size-color-weight(14px, #666, 400); 
        letter-spacing: -0.5px; line-height: 24px;
        text-align: center;
    }
    .input {
        margin-top: 16px;
        .form-control {
            width: 100%; 
            text-align: center;
        }
    }
    .btnarea {
        margin-top: 16px;
        text-align: center;
        font-size: 0;
        .btn-g {
            margin-left: 4px;
            &:first-child {
                margin-left: 0;
            }
        }
    }

}
.organization-wrap {
    
    position: relative;
    @include clearfix();
    .btn-tab {
        position: absolute; top: 0; left: 0; z-index: 1000;
        height: 36px;
        width: 220px;
        li {            
            float: left;
            width: 50%;
            height: 100%;
            border: solid 1px #ddd;
            border-left-width: 0;
            background-color: #eee;
            &:first-child {
                border-left-width: 1px;
            }
            a {
                display: block;
                position: relative;
                width: 100%;
                height: 100%;
                @include font-size-color-weight(14px, #666, 400); 
                letter-spacing: -0.5px; line-height: 21px;
                text-align: center;
                padding: 8px 15px 0;
                
            }
            &.active {
                border-bottom: 0;
                border-right-color: #f0f0f0;
                background-color: #ffffff;
                &:first-child {
                    border-left-color: #f0f0f0;
                    border-right-color: #ddd;
                }
                a {
                    color: #000;
                    &:before {
                        @include contentReset();
                        width: 100%; height: 2px;
                        background-color: #010101;
                        position: absolute; top: -1px; left: 0;
                    }

                }
            }
        }
    }
    .group-tree {
        float: left;
        width: 220px;
        height: 729px;
        padding: 53px 0 63px 14px;
        border: solid 1px #f0f0f0;
        background-color: #ffffff;
        position: relative;
        .group-tree-body {
            height: 613px;
            overflow-y: auto;
            overflow-x: hidden;
            padding-right: 14px;
            li {
                position: relative;
            }
        }
        .tree-node {

            padding: 0 10px 0 18px;
            margin-bottom: 4px; 
            border-radius: 3px;
            @include font-size-color-weight(13px, #000, 500); 
            letter-spacing: 0px; line-height: 24px; height: 24px;
            position: relative;
            &:before {
                @include contentReset();
            }
            &.tree-collapse:before {                
                @include background-name-ext-repeat-poistion('genius/arrow-close', svg, no-repeat, 0 0);
                width: 7px; height: 11px;
                position: absolute; top: 50%; left: 5px;
                @include translateY(-50%);
            }
            &.tree-expand:before {
                @include background-name-ext-repeat-poistion('genius/arrow-open', svg, no-repeat, 0 0);
                width: 11px; height: 7px;
                position: absolute; top: 50%; left: 2px;
                @include translateY(-50%);
            }

            &.tree-2 {
                padding-left: calc(18px + (13px * 1));
                &:before {
                    left: calc(5px + (13px * 1));
                }
                &.tree-expand:before {
                    left: calc(2px + (13px * 1));
                }
            }
            &.tree-3 {
                padding-left: calc(18px + (13px * 2));
                &:before {
                    left: calc(5px + (13px * 2));
                }
                &.tree-expand:before {
                    left: calc(2px + (13px * 2));
                }
            }
            &.tree-4 {
                padding-left: calc(18px + (13px * 3));
                &:before {
                    left: calc(5px + (13px * 3));
                }
                &.tree-expand:before {
                    left: calc(2px + (13px * 3));
                }
            }
            &.tree-5 {
                padding-left: calc(18px + (13px * 4));
                &:before {
                    left: calc(5px + (13px * 4));
                }
                &.tree-expand:before {
                    left: calc(2px + (13px * 4));
                }
            }

            &:hover {
                background-color: rgba(255, 191, 0, 0.3);
            }
            &.tree-active-team {
                background-color: #ffbf00;
                color: #fff;
            }
        }
        .btn-bottom {
            position: absolute; bottom: 0; left: 0;
            width: 100%; padding: 8px;
            .btn-g {
                width: 100%; 
            }
        }

        &.dd-ready .dd-handle {
            border-radius: 3px;
            background-color: #f0f0f0;
            &:after {
                @include contentReset();
                @include background-name-ext-repeat-poistion('genius/icon-list', svg, no-repeat, 0 0);
                width: 12px; height: 10px;
                position: absolute; top: 6px; right: 6px;
            }
        }
        .dd-placeholder {
            border-radius: 3px;
            background-color: #f0f0f0;
            height: 21px;
            margin-bottom: 4px;
        }      
        button[data-action] {
            display: none;
        }
        .dd-handle:hover, 
        .dd-handle:hover+.dd-list .dd-handle {
        }
        .dd-placeholder,
        .dd-empty {
            border-radius: 3px;
            background-color: rgba(255, 191, 0, 0.3);
        }

        
        
    }
    .group-member {
        float: right;
        width: 562px;
        .search-member {
            height: 36px;
            position: relative;
            
            &:before {
                @include contentReset();
                @include background-name-ext-repeat-poistion('genius/icon-search', svg, no-repeat, 0 0);
                width: 17px; height: 17px;
                position: absolute; top: 10px; left: 7px;
            }
            .form-control {
                width: 100%; height: 36px;
                border-radius: 6px;
                border: solid 1px #f0f0f0;
                @include placeholder-color(rgba(102, 102, 102, 0.5));
                @include font-size-color-weight(12px, #010101, 400); 
                letter-spacing: -0.5px;   
                padding: 0 38px 0 29px;
                &:focus {
                    border-color: #ffbf00;
                    & + .btn-del + .btn-search {
                        border-color: #010101;
                        color: #010101;
                    }
                }           
            }
            .btn-del {
                @include background-name-ext-repeat-poistion('genius/icon-del', svg, no-repeat, 0 0);
                width: 8px; height: 8px;
                position: absolute; top: 14px; right: 14px;
                font-size: 0;
            }
            .btn-search {
                display: none;
                width: 59px; height: 36px;
                border-radius: 3px;
                border: solid 1px #dddddd;
                @include font-size-color-weight(12px, #ddd, 500); 
                letter-spacing: -0.5px; line-height: 19px;
                background-color: #fff;
                position: absolute; top: 0; right: 0;
                -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
                -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
                transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            }
        }
        .ttl {
            margin: 15px 0 9px;
            height: 21px;
            @include font-size-color-weight(15px, #010101, 700); 
            letter-spacing: -0.5px; line-height: 21px;     
            position: relative;       
            span {
                display: inline-block;
                @include font-size-color-weight(13px, #365cff, 400);
                letter-spacing: -0.43px; 
                margin-left: 6px;
                position: relative; top: 0;
            }
            .btn-reset {
                position: absolute; top: 2px; right: 8px;
            }
        }
        .group-member-list {
            border: solid 1px #f0f0f0;
            height: 455px;
            background-color: #fbfbfb;
            position: relative;
            ul {
                
                li {
                    @include clearfix();
                    position: relative;                    
                    & > span {
                        float: left;
                        @include ellipsis();
                        line-height: 20px;
                        @include font-size-color-weight(13px, #010101, 400); 
                        letter-spacing: -0.5px;
                        margin-left: 4px;
                        position: relative;
                        z-index: 2;
                    }
                    .member-checkbox {
                        width: 15px;
                        margin-left: 8px;
                        margin-top: 1px;
                    }
                    .member-state {
                        width: 9px;
                        margin-left: 6px;
                        i {
                            display: inline-block;
                            width: 9px;
                            height: 9px;
                            border-radius: 5px;
                            &.state-1 {
                                background-color: #30f96f;
                            }
                            &.state-2 {
                                background-color: #ee4949;
                            }
                            &.state-3 {
                                background-color: #e9e9e9;
                            }
                        }
                    }
                    .member-name {
                        width: 40px;
                    }
                    .member-duty {
                        width: 40px; 
                    }
                    .member-team {
                        width: 84px; 
                    }
                    .member-tel {
                        width: 89px; 
                        letter-spacing: 0;
                    }
                    .member-phone {
                        width: 89px; 
                        letter-spacing: 0;
                    }
                    .member-work {
                        width: 135px; 
                        margin-left: 6px;
                        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                            width: 130px; 
                        }
                    }
                }
                &.group-member-head {
                    background-color: #fff;
                    li {
                        border-bottom: solid 1px #f0f0f0;
                        height: 39px;
                        padding-top: 11px;
                        span {
                            color: #666;
                        }
                    }
                }
                &.group-member-body {
                    max-height: 414px;
                    min-height: 414px;
                    overflow-y: auto;
                    overflow-x: hidden;
                    li {
                        border-top: solid 1px #f0f0f0;
                        &:first-child,
                        &:nth-child(14) {
                            border-top: none;
                        }
                        &:nth-child(n+1):nth-child(-n+13) {
                            border-top: none;
                            border-bottom: solid 1px #f0f0f0;
                        }
                        height: 32px;
                        padding: 6px 0 7px;
                        &:hover:before {
                            @include contentReset();
                            width: calc(100%);
                            height: 24px;
                            position: absolute; top: 3px; left: 0; z-index: 1;
                            background-color: rgba(255, 191, 0, 0.3);
                            border-radius: 3px;
                        }
                    }
                }
            }
        }
        .group-member-select {
            border: solid 1px #e9e9e9;
            background-color: #fbfbfb;
            height: 100px;
            overflow-y: auto;
            padding: 4px;
            ul {
                font-size: 0;
                li {
                    position: relative;
                    display: inline-block;
                    min-width: 84px;
                    padding: 6px 30px 5px 10px;
                    border-radius: 6px;
                    border: solid 1px #666;
                    background-color: #fff;
                    margin: 2px;
                    span {
                        display: inline-block;
                        @include font-size-color-weight(13px, #333, 400); 
                        letter-spacing: -0.5px; line-height: 20px;
                    }
                    .btn-del {
                        display: inline-block;
                        width: 24px; height: 24px;
                        @include background-name-ext-repeat-poistion('genius/icon-ic-del', svg, no-repeat, 0 0);
                        position: absolute; top: 3px; right: 3px;
                    }
                }
            }
        }
        .btn-wrap {
            margin-top: 16px;
            text-align: center;
            .btn {
                background-color: #010101;
                @include font-size-color-weight(12px, #fff, 500); 
                letter-spacing: 0; line-height: 19px;
                width: 90px; height: 32px;
                padding: 6px 8px 7px;
                border-radius: 3px;
            }
        }
    }
    
}

