@charset "UTF-8";
.house-professor .teacher-list ul.teacher-main {
  display: flex;
  -webkit-align-item: center;
  align-items: center;
  justify-content: center;
}

.house-roadmap .slick-dots, .house-system .list, .house-professor .teacher-list ul, .house-price .item-group, .house-content .list-group ul, .grid {
  *zoom: 1;
}
.house-roadmap .slick-dots:before, .house-system .list:before, .house-professor .teacher-list ul:before, .house-price .item-group:before, .house-content .list-group ul:before, .grid:before, .house-roadmap .slick-dots:after, .house-system .list:after, .house-professor .teacher-list ul:after, .house-price .item-group:after, .house-content .list-group ul:after, .grid:after {
  content: "";
  display: table;
}
.house-roadmap .slick-dots:after, .house-system .list:after, .house-professor .teacher-list ul:after, .house-price .item-group:after, .house-content .list-group ul:after, .grid:after {
  clear: both;
}

.hidden,
.sr_only,
.sr-only {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.grid {
  position: relative;
  box-sizing: border-box;
}
.grid .col {
  position: relative;
  float: left;
  box-sizing: border-box;
}

.table {
  display: table;
}
.table .table-cell {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

.effect-bounce-diagonal {
  -webkit-animation-name: effectBounceDiagonal;
          animation-name: effectBounceDiagonal;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
@-webkit-keyframes effectBounceDiagonal {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10px, -10px);
  }
}
@keyframes effectBounceDiagonal {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10px, -10px);
  }
}

.effect-bounce-updown {
  -webkit-animation-name: effectBounceUpDown;
          animation-name: effectBounceUpDown;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
@-webkit-keyframes effectBounceUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
@keyframes effectBounceUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.effect-extend {
  -webkit-animation-name: effectExtend;
          animation-name: effectExtend;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
@-webkit-keyframes effectExtend {
  0%, 100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
}
@keyframes effectExtend {
  0%, 100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
}

.effect-blink {
  -webkit-animation-name: effectBlink;
          animation-name: effectBlink;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: step-end;
          animation-timing-function: step-end;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
@-webkit-keyframes effectBlink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
@keyframes effectBlink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@-webkit-keyframes slideUp {
  0% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(-10px, 0);
  }
}
@keyframes slideUp {
  0% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(-10px, 0);
  }
}
.bounce {
  animation: bounce 2s infinite both;
  -webkit-animation: bounce 2s infinite both;
}

@-webkit-keyframes bounce {
  0%, 100% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px);
  }
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px);
  }
}
@-webkit-keyframes bgColorChange {
  0%, 100% {
    background-color: #fff;
    border: 1px solid #eee;
  }
  50% {
    background: #fffbed;
    border: 1px solid #fdcf11;
  }
}
@keyframes bgColorChange {
  0%, 100% {
    background-color: #fff;
    border: 1px solid #eee;
  }
  50% {
    background: #fffbed;
    border: 1px solid #fdcf11;
  }
}
.motion-1 {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s;
  transition-timing-function: ease-out;
}

.motion-2 {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s;
  transition-timing-function: ease-out;
}

.motion-3 {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s;
  transition-timing-function: ease-out;
}

.motion-4 {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s;
  transition-timing-function: ease-out;
}

.motion-5 {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s;
  transition-timing-function: ease-out;
}

.motion-6 {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s;
  transition-timing-function: ease-out;
}

.motion-7 {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s;
  transition-timing-function: ease-out;
}

.motion-8 {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s;
  transition-timing-function: ease-out;
}

.motion-9 {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s;
  transition-timing-function: ease-out;
}

.motion-10 {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s;
  transition-timing-function: ease-out;
}

.motion-11 {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s;
  transition-timing-function: ease-out;
}

.motion-12 {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s;
  transition-timing-function: ease-out;
}

.motion-x-1 {
  opacity: 0;
  transform: translateX(-50px);
  transition: all 0.5s;
  transition-timing-function: ease-out;
}

.motion-x-2 {
  opacity: 0;
  transform: translateX(-50px);
  transition: all 0.5s;
  transition-timing-function: ease-out;
}

.motion-x-3 {
  opacity: 0;
  transform: translateX(-50px);
  transition: all 0.5s;
  transition-timing-function: ease-out;
}

.motion-x-4 {
  opacity: 0;
  transform: translateX(-50px);
  transition: all 0.5s;
  transition-timing-function: ease-out;
}

.motion-x-5 {
  opacity: 0;
  transform: translateX(-50px);
  transition: all 0.5s;
  transition-timing-function: ease-out;
}

.motion-x-6 {
  opacity: 0;
  transform: translateX(50px);
  transition: all 0.5s;
  transition-timing-function: ease-out;
}

.motion-x-7 {
  opacity: 0;
  transform: translateX(50px);
  transition: all 0.5s;
  transition-timing-function: ease-out;
}

.motion-x-8 {
  opacity: 0;
  transform: translateX(50px);
  transition: all 0.5s;
  transition-timing-function: ease-out;
}

.motion-x-9 {
  opacity: 0;
  transform: translateX(50px);
  transition: all 0.5s;
  transition-timing-function: ease-out;
}

.motion-x-10 {
  opacity: 0;
  transform: translateX(50px);
  transition: all 0.5s;
  transition-timing-function: ease-out;
}

.motion-box-1 {
  opacity: 0;
  transform: scale(0.1, 0.1);
  transition: all 0.5s;
  transition-timing-function: ease-out;
}

.motion-box-2 {
  opacity: 0;
  transform: scale(0.1, 0.1);
  transition: all 0.5s;
  transition-timing-function: ease-out;
}

.motion-box-3 {
  opacity: 0;
  transform: scale(0.1, 0.1);
  transition: all 0.5s;
  transition-timing-function: ease-out;
}

.motion-box-4 {
  opacity: 0;
  transform: scale(0.1, 0.1);
  transition: all 0.5s;
  transition-timing-function: ease-out;
}

.motion-box-5 {
  opacity: 0;
  transform: scale(0.1, 0.1);
  transition: all 0.5s;
  transition-timing-function: ease-out;
}

.motion-box-6 {
  opacity: 0;
  transform: scale(0.1, 0.1);
  transition: all 0.5s;
  transition-timing-function: ease-out;
}

.motion-box-7 {
  opacity: 0;
  transform: scale(0.1, 0.1);
  transition: all 0.5s;
  transition-timing-function: ease-out;
}

.motion-box-8 {
  opacity: 0;
  transform: scale(0.1, 0.1);
  transition: all 0.5s;
  transition-timing-function: ease-out;
}

.motion-box-9 {
  opacity: 0;
  transform: scale(0.1, 0.1);
  transition: all 0.5s;
  transition-timing-function: ease-out;
}

.motion-box-10 {
  opacity: 0;
  transform: scale(0.1, 0.1);
  transition: all 0.5s;
  transition-timing-function: ease-out;
}

.motion-scale-y-1 {
  opacity: 0;
  transform: scaleY(0);
  transition: all 0.5s;
  transition-timing-function: ease-out;
  transform-origin: center bottom;
}

.motion-scale-y-2 {
  opacity: 0;
  transform: scaleY(0);
  transition: all 0.5s;
  transition-timing-function: ease-out;
  transform-origin: center bottom;
}

.motion-scale-y-3 {
  opacity: 0;
  transform: scaleY(0);
  transition: all 0.5s;
  transition-timing-function: ease-out;
  transform-origin: center bottom;
}

.active .motion-1 {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.2s;
}
.active .motion-2 {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.4s;
}
.active .motion-3 {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.6s;
}
.active .motion-4 {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.8s;
}
.active .motion-5 {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 1s;
}
.active .motion-6 {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 1.2s;
}
.active .motion-7 {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 1.4s;
}
.active .motion-8 {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 1.6s;
}
.active .motion-9 {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 1.8s;
}
.active .motion-10 {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 2s;
}
.active .motion-11 {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 2.2s;
}
.active .motion-12 {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 2.4s;
}
.active .motion-x-1 {
  opacity: 1;
  transform: translateX(0);
  transition-delay: 0.2s;
}
.active .motion-x-2 {
  opacity: 1;
  transform: translateX(0);
  transition-delay: 0.4s;
}
.active .motion-x-3 {
  opacity: 1;
  transform: translateX(0);
  transition-delay: 0.6s;
}
.active .motion-x-4 {
  opacity: 1;
  transform: translateX(0);
  transition-delay: 0.8s;
}
.active .motion-x-5 {
  opacity: 1;
  transform: translateX(0);
  transition-delay: 1s;
}
.active .motion-x-6 {
  opacity: 1;
  transform: translateX(0);
  transition-delay: 1.2s;
}
.active .motion-x-7 {
  opacity: 1;
  transform: translateX(0);
  transition-delay: 1.4s;
}
.active .motion-x-8 {
  opacity: 1;
  transform: translateX(0);
  transition-delay: 1.6s;
}
.active .motion-x-9 {
  opacity: 1;
  transform: translateX(0);
  transition-delay: 1.8s;
}
.active .motion-x-10 {
  opacity: 1;
  transform: translateX(0);
  transition-delay: 2s;
}
.active .motion-box-1 {
  opacity: 1;
  transform: scale(1, 1);
  transition-delay: 0.1s;
}
.active .motion-box-2 {
  opacity: 1;
  transform: scale(1, 1);
  transition-delay: 0.2s;
}
.active .motion-box-3 {
  opacity: 1;
  transform: scale(1, 1);
  transition-delay: 0.3s;
}
.active .motion-box-4 {
  opacity: 1;
  transform: scale(1, 1);
  transition-delay: 0.4s;
}
.active .motion-box-5 {
  opacity: 1;
  transform: scale(1, 1);
  transition-delay: 0.5s;
}
.active .motion-box-6 {
  opacity: 1;
  transform: scale(1, 1);
  transition-delay: 0.6s;
}
.active .motion-box-7 {
  opacity: 1;
  transform: scale(1, 1);
  transition-delay: 0.7s;
}
.active .motion-box-8 {
  opacity: 1;
  transform: scale(1, 1);
  transition-delay: 0.8s;
}
.active .motion-box-9 {
  opacity: 1;
  transform: scale(1, 1);
  transition-delay: 0.9s;
}
.active .motion-box-10 {
  opacity: 1;
  transform: scale(1, 1);
  transition-delay: 1s;
}
.active .motion-scale-y-1 {
  opacity: 1;
  transform: scaleY(1);
  transition-delay: 0.1s;
}
.active .motion-scale-y-2 {
  opacity: 1;
  transform: scaleY(1);
  transition-delay: 0.2s;
}
.active .motion-scale-y-3 {
  opacity: 1;
  transform: scaleY(1);
  transition-delay: 0.3s;
}

.promotion,
.product,
.product-eco,
.fullservice {
  text-align: center;
  overflow: hidden;
}
.promotion [class^=sector-],
.product [class^=sector-],
.product-eco [class^=sector-],
.fullservice [class^=sector-] {
  position: relative;
}
.promotion .wrap,
.product .wrap,
.product-eco .wrap,
.fullservice .wrap {
  position: relative;
  margin: 0 auto;
}
.promotion .wrap-full,
.product .wrap-full,
.product-eco .wrap-full,
.fullservice .wrap-full {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.promotion .holder,
.product .holder,
.product-eco .holder,
.fullservice .holder {
  position: relative;
}
.promotion .slick-arrow,
.product .slick-arrow,
.product-eco .slick-arrow,
.fullservice .slick-arrow {
  position: absolute;
  top: 0;
  text-indent: -99999px;
  width: 2.3611111111vw;
  height: 4.1666666667vw;
}
@media screen and (min-width: 720px) {
  .promotion .slick-arrow,
.product .slick-arrow,
.product-eco .slick-arrow,
.fullservice .slick-arrow {
    width: 17px;
  }
}
@media screen and (min-width: 720px) {
  .promotion .slick-arrow,
.product .slick-arrow,
.product-eco .slick-arrow,
.fullservice .slick-arrow {
    height: 30px;
  }
}
.promotion .slick-arrow.slick-prev,
.product .slick-arrow.slick-prev,
.product-eco .slick-arrow.slick-prev,
.fullservice .slick-arrow.slick-prev {
  left: 6%;
  background: url("https://img.eduwill.net/eduwill/img/2022/J/product/220419/mobile/btn_prev.png") no-repeat 50% 0;
  background-size: cover;
}
.promotion .slick-arrow.slick-next,
.product .slick-arrow.slick-next,
.product-eco .slick-arrow.slick-next,
.fullservice .slick-arrow.slick-next {
  right: 6%;
  background: url("https://img.eduwill.net/eduwill/img/2022/J/product/220419/mobile/btn_next.png") no-repeat 50% 0;
  background-size: cover;
}
.promotion .slick-dots,
.product .slick-dots,
.product-eco .slick-dots,
.fullservice .slick-dots {
  width: 100%;
  margin-top: 2.7777777778vw;
  text-align: center;
}
@media screen and (min-width: 720px) {
  .promotion .slick-dots,
.product .slick-dots,
.product-eco .slick-dots,
.fullservice .slick-dots {
    margin-top: 20px;
  }
}
.promotion .slick-dots li,
.product .slick-dots li,
.product-eco .slick-dots li,
.fullservice .slick-dots li {
  display: inline-block;
  margin: 0 0.5555555556vw;
}
@media screen and (min-width: 720px) {
  .promotion .slick-dots li,
.product .slick-dots li,
.product-eco .slick-dots li,
.fullservice .slick-dots li {
    margin: 0 4px;
  }
}
.promotion .slick-dots li button,
.product .slick-dots li button,
.product-eco .slick-dots li button,
.fullservice .slick-dots li button {
  cursor: pointer;
  text-indent: -10000em;
  border: 0;
  border-radius: 50%;
  width: 2.0833333333vw;
  height: 2.0833333333vw;
  background: #bbb;
}
@media screen and (min-width: 720px) {
  .promotion .slick-dots li button,
.product .slick-dots li button,
.product-eco .slick-dots li button,
.fullservice .slick-dots li button {
    width: 15px;
  }
}
@media screen and (min-width: 720px) {
  .promotion .slick-dots li button,
.product .slick-dots li button,
.product-eco .slick-dots li button,
.fullservice .slick-dots li button {
    height: 15px;
  }
}
.promotion .slick-dots li.slick-active button,
.product .slick-dots li.slick-active button,
.product-eco .slick-dots li.slick-active button,
.fullservice .slick-dots li.slick-active button {
  width: 5.5555555556vw;
  border-radius: 2.0833333333vw;
  background: #ffbe00;
}
@media screen and (min-width: 720px) {
  .promotion .slick-dots li.slick-active button,
.product .slick-dots li.slick-active button,
.product-eco .slick-dots li.slick-active button,
.fullservice .slick-dots li.slick-active button {
    width: 40px;
  }
}
@media screen and (min-width: 720px) {
  .promotion .slick-dots li.slick-active button,
.product .slick-dots li.slick-active button,
.product-eco .slick-dots li.slick-active button,
.fullservice .slick-dots li.slick-active button {
    border-radius: 15px;
  }
}
.promotion .btn,
.product .btn,
.product-eco .btn,
.fullservice .btn {
  position: relative;
  display: inline-block;
  border: 1px solid #bbb;
  z-index: 5;
  line-height: 1;
  color: #999;
  letter-spacing: -1px;
  background-color: #fff;
  border-radius: 0.5555555556vw;
  font-size: 2.5vw;
  padding: 1.3888888889vw 2.7777777778vw 1.3888888889vw 1.3888888889vw;
}
.promotion .btn:hover,
.product .btn:hover,
.product-eco .btn:hover,
.fullservice .btn:hover {
  color: #999;
}
@media screen and (min-width: 720px) {
  .promotion .btn,
.product .btn,
.product-eco .btn,
.fullservice .btn {
    border-radius: 4px;
  }
}
.promotion .btn,
.product .btn,
.product-eco .btn,
.fullservice .btn {
  position: relative;
  display: inline-block;
}
.promotion .btn:before,
.product .btn:before,
.product-eco .btn:before,
.fullservice .btn:before {
  content: "";
  position: absolute;
  top: 50%;
  display: block;
  width: 0.6944444444vw;
  height: 0.6944444444vw;
  margin-top: -0.3472222222vw;
  border-width: 0;
  border-style: solid;
  border-color: #bbb;
  transform: rotate(45deg);
  right: 1.3888888889vw;
  border-top-width: 1px;
  border-right-width: 1px;
}
@media screen and (min-width: 720px) {
  .promotion .btn:before,
.product .btn:before,
.product-eco .btn:before,
.fullservice .btn:before {
    width: 5px;
  }
}
@media screen and (min-width: 720px) {
  .promotion .btn:before,
.product .btn:before,
.product-eco .btn:before,
.fullservice .btn:before {
    height: 5px;
  }
}
@media screen and (min-width: 720px) {
  .promotion .btn:before,
.product .btn:before,
.product-eco .btn:before,
.fullservice .btn:before {
    margin-top: -2.5px;
  }
}
@media screen and (min-width: 720px) {
  .promotion .btn:before,
.product .btn:before,
.product-eco .btn:before,
.fullservice .btn:before {
    right: 10px;
  }
}
@media screen and (min-width: 720px) {
  .promotion .btn,
.product .btn,
.product-eco .btn,
.fullservice .btn {
    font-size: 18px;
  }
}
@media screen and (min-width: 720px) {
  .promotion .btn,
.product .btn,
.product-eco .btn,
.fullservice .btn {
    padding: 10px 20px 10px 10px;
  }
}
@media screen and (min-width: 720px) {
  .promotion .btn,
.product .btn,
.product-eco .btn,
.fullservice .btn {
    font-size: 1.9444444444vw;
    padding: 0.6944444444vw 2.7777777778vw 0.6944444444vw 1.3888888889vw;
  }
}
@media screen and (min-width: 720px) and (min-width: 720px) {
  .promotion .btn,
.product .btn,
.product-eco .btn,
.fullservice .btn {
    font-size: 14px;
  }
}
@media screen and (min-width: 720px) and (min-width: 720px) {
  .promotion .btn,
.product .btn,
.product-eco .btn,
.fullservice .btn {
    padding: 5px 20px 5px 10px;
  }
}
.promotion .btn-text,
.product .btn-text,
.product-eco .btn-text,
.fullservice .btn-text {
  border-color: #222;
  color: #999;
}
.promotion .btn-text:after,
.product .btn-text:after,
.product-eco .btn-text:after,
.fullservice .btn-text:after {
  content: "";
  background: url("https://img.eduwill.net/eduwill/img/2021/J/main/210917/pc/icon_text.png") no-repeat 50% 0;
  width: 13px;
  height: 6px;
  position: absolute;
  right: -20px;
  top: 50%;
  margin-top: -3px;
}

.dimmed {
  display: none;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.7);
}

#popupBase {
  font-family: "Noto Sans KR", Sans-Serif;
  display: none;
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 10001;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  max-width: 620px;
  width: 100%;
  height: auto;
  background-color: #fff;
  line-height: 1;
  letter-spacing: -1px;
  padding: 0;
  box-sizing: border-box;
}
#popupBase .popup-close {
  cursor: pointer;
  display: inline-block;
  width: 56px;
  height: 56px;
  position: absolute;
  top: -50px;
  right: -10px;
  z-index: 2002;
}
#popupBase .popup-close:before, #popupBase .popup-close:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 30px;
  height: 1px;
  margin-left: -15px;
  background-color: #fff;
}
#popupBase .popup-close:before {
  transform: rotate(45deg);
}
#popupBase .popup-close:after {
  transform: rotate(-45deg);
}
#popupBase .popup-title {
  background-color: #3e4c98;
  padding: 30px 0;
  text-align: center;
}
#popupBase .popup-title strong {
  color: #fff;
  font-size: 5vw;
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  font-weight: 700;
}
@media screen and (min-width: 720px) {
  #popupBase .popup-title strong {
    font-size: 36px;
  }
}
#popupBase .popup-cont {
  padding: 5%;
}
@media screen and (min-width: 720px) {
  #popupBase .popup-cont {
    padding: 3% 5%;
  }
}
#popupBase .popup-cont .text-box {
  color: #000;
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  font-size: 3.0555555556vw;
  line-height: 1.5;
  text-align: left;
}
@media screen and (min-width: 720px) {
  #popupBase .popup-cont .text-box {
    font-size: 22px;
  }
}
@media screen and (min-width: 720px) {
  #popupBase .popup-cont .text-box {
    font-size: 16px;
  }
}

.rationale-popup .rationale-cont p {
  font-family: "Noto Sans KR", Sans-Serif;
}

.layer-dimmed {
  display: none;
  position: fixed;
  top: 0;
  right: 0px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background: #000;
  opacity: 0.8;
  overflow: hidden;
}
.layer-open {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10001;
  max-width: 768px;
  margin: 0 auto;
  box-sizing: border-box;
}
.layer-open .layer-close {
  cursor: pointer;
  display: inline-block;
  width: 56px;
  height: 56px;
  position: absolute;
  top: -50px;
  right: -10px;
  z-index: 2002;
}
.layer-open .layer-close:before, .layer-open .layer-close:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 30px;
  height: 1px;
  margin-left: -15px;
  background-color: #fff;
}
.layer-open .layer-close:before {
  transform: rotate(45deg);
}
.layer-open .layer-close:after {
  transform: rotate(-45deg);
}
.layer-open .layer-box {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}
.layer-open .layer-box iframe, .layer-open .layer-box video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: inherit;
     object-fit: inherit;
}

.fix-apply {
  opacity: 0;
}

.blink-bg {
  -webkit-animation: bgColorChange 1s step-start infinite;
  animation: bgColorChange 1s step-start infinite;
}

.house-content {
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  letter-spacing: -0.5px;
}
.house-content .wrap {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}
.house-content .notice {
  color: #898989;
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: -1px;
  text-align: left;
}
.house-content .notice span {
  padding-left: 10px;
  text-indent: -10px;
}
.house-content .title {
  padding-top: 100px;
}
.house-content .title > div {
  color: #222;
  line-height: 1;
}
.house-content .title > div.sub {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: -3px;
}
.house-content .title > div.sub strong {
  font-weight: 700;
}
.house-content .title > div.main {
  font-size: 60px;
  margin-top: 20px;
  font-weight: 900;
  letter-spacing: -3px;
  line-height: 1.2;
}
.house-content .title > div.main strong {
  font-weight: 900;
}
.house-content .title > div.notice {
  margin-top: 30px;
  color: #999;
  font-size: 14px;
  letter-spacing: -1px;
}
.house-content .subtitle > div {
  color: #222;
  line-height: 1;
  text-align: left;
}
.house-content .subtitle > div.sub {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -3px;
}
.house-content .subtitle > div.sub strong {
  font-weight: 700;
}
.house-content .subtitle > div.main {
  font-size: 50px;
  margin-top: 15px;
  letter-spacing: -3px;
  line-height: 1.3;
  font-weight: 900;
}
.house-content .subtitle > div.main strong {
  font-weight: 900;
}
.house-content .subtitle > div.notice {
  margin-top: 16px;
  color: #999;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -1px;
}
.house-content .subtitle.fly {
  position: absolute;
  left: 0;
  top: 100px;
}
.house-content .subtitle.line {
  padding-left: 40px;
  text-align: left;
  border-left: 2px solid #d8d8d8;
}
.house-content .subtitle.line > div.sub {
  font-size: 30px;
}
.house-content .subtitle.line > div.main {
  font-size: 40px;
}
.house-content .subtitle.line .btn {
  margin-top: 30px;
}
.house-content .title + .subtitle {
  margin-top: 80px;
}
.house-content .list-group {
  margin-top: 44px;
}
.house-content .list-group ul {
  text-align: center;
}
.house-content .list-group ul li {
  position: relative;
  background-color: #fff;
  margin-left: 14px;
  margin-bottom: 14px;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
  display: inline-block;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  box-shadow: 14px 14px 30px 0px rgba(0, 0, 0, 0.18);
}
.house-content .list-group ul li:nth-child(4n+1) {
  margin-left: 30px;
}
.house-content .list-box {
  position: absolute;
  left: 25px;
  top: 30px;
  text-align: left;
}
.house-content .list-title {
  color: #222;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.3;
  letter-spacing: -1px;
}
.house-content .list-text {
  color: #999;
  font-size: 14px;
  font-weight: 400;
  margin: 10px 0 6px;
  line-height: 1.3;
  letter-spacing: -1.5px;
}
.house-content .list-title + .btn {
  margin-top: 7px;
}
.house-content .btn {
  position: relative;
  display: inline-block;
  border: 1px solid #bbb;
  padding: 5px 20px 5px 10px;
  color: #999;
  font-size: 14px;
  letter-spacing: -1px;
}
.house-content .btn:after {
  content: "";
  margin-left: 0;
  left: auto;
  right: 7px;
}
.house-content .btn:after {
  position: relative;
  display: inline-block;
}
.house-content .btn:after:before {
  content: "";
  position: absolute;
  top: 50%;
  display: block;
  width: 0.6944444444vw;
  height: 0.6944444444vw;
  margin-top: -0.3472222222vw;
  border-width: 0;
  border-style: solid;
  border-color: #bbb;
  transform: rotate(45deg);
  right: 1.3888888889vw;
  border-top-width: 1px;
  border-right-width: 1px;
}
@media screen and (min-width: 720px) {
  .house-content .btn:after:before {
    width: 5px;
  }
}
@media screen and (min-width: 720px) {
  .house-content .btn:after:before {
    height: 5px;
  }
}
@media screen and (min-width: 720px) {
  .house-content .btn:after:before {
    margin-top: -2.5px;
  }
}
@media screen and (min-width: 720px) {
  .house-content .btn:after:before {
    right: 10px;
  }
}
.house-content .btn-text {
  border-color: #222;
  color: #222;
  background-color: #fff;
}
.house-content .btn-text:after {
  border-color: #222;
}
.house-content .btn-text2 {
  position: relative;
  display: inline-block;
  padding: 5px 20px 5px 10px;
  color: #bbb;
  font-size: 14px;
  letter-spacing: -1px;
  line-height: 1;
  font-weight: 400;
}
.house-content .btn-text2:after {
  content: "";
  margin-left: 0;
  left: auto;
  right: 7px;
}
.house-content .btn-text2:after {
  position: relative;
  display: inline-block;
}
.house-content .btn-text2:after:before {
  content: "";
  position: absolute;
  top: 50%;
  display: block;
  width: 0.6944444444vw;
  height: 0.6944444444vw;
  margin-top: -0.3472222222vw;
  border-width: 0;
  border-style: solid;
  border-color: #bbb;
  transform: rotate(45deg);
  right: 1.3888888889vw;
  border-top-width: 1px;
  border-right-width: 1px;
}
@media screen and (min-width: 720px) {
  .house-content .btn-text2:after:before {
    width: 5px;
  }
}
@media screen and (min-width: 720px) {
  .house-content .btn-text2:after:before {
    height: 5px;
  }
}
@media screen and (min-width: 720px) {
  .house-content .btn-text2:after:before {
    margin-top: -2.5px;
  }
}
@media screen and (min-width: 720px) {
  .house-content .btn-text2:after:before {
    right: 10px;
  }
}
.house-content .holder {
  position: relative;
}
.house-title {
  background-color: #fff;
  height: 1554px;
}
.house-title .wrap {
  max-width: 100%;
  width: 100%;
}
.house-title .wrap:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: url("https://img.eduwill.net/eduwill/img/2022/J/product/220613/pc/bg_title.jpg") no-repeat;
  background-size: cover;
  height: 937px;
}
.house-title .motion-box {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
.house-title .title-1 {
  padding-top: 101px;
}
.house-title .title-2 {
  padding-top: 110px;
}
.house-title .title-3 {
  padding-bottom: 50px;
}
.house-title .title-4 {
  position: absolute;
  top: 180px;
  right: 50px;
}
.house-title .list-group {
  width: 920px;
  margin: 0 auto;
}
.house-title .list-group ul li:nth-child(4n+1) {
  margin-left: 14px;
}
.house-title .list-group ul li:nth-child(5) .tip-btn {
  position: absolute;
  top: 70px;
  left: 177px;
  cursor: pointer;
}
.house-title .list-group ul li:nth-child(5) .tip-layer {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  display: none;
}
.house-title .list-group ul li:nth-child(5) .tip-layer.act {
  display: block;
}
.house-title .list-group ul li:nth-child(6) .tip-btn {
  position: absolute;
  top: 70px;
  left: 157px;
  cursor: pointer;
}
.house-title .list-group ul li:nth-child(6) .tip-layer {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  display: none;
}
.house-title .list-group ul li:nth-child(6) .tip-layer.act {
  display: block;
}
.house-title .point {
  color: #0010ff;
}
.house-provide {
  position: relative;
  padding-bottom: 120px;
  background-color: #000993;
}
.house-provide:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 132px;
  height: 132px;
  margin-left: -66px;
  margin-top: -55px;
  background: url("https://img.eduwill.net/eduwill/img/2022/J/product/220613/pc/icon_provide.png") no-repeat 0 0;
  z-index: 2;
}
.house-provide .title {
  opacity: 0;
}
.house-provide .title > div {
  color: #fff;
}
.house-provide .list-group {
  width: 920px;
  margin: 0 auto;
  margin-top: 66px;
}
.house-provide .list-group ul li {
  background-color: #0010ff;
  border: 1px solid #3e53e5;
}
.house-provide .list-group ul li:nth-child(4n+1) {
  margin-left: 14px;
}
.house-provide .list-title {
  color: #fff;
}
.house-provide .list-text {
  color: #8d90ff;
}
.house-provide .point {
  color: #ffe478;
}
.house-provide .notice {
  text-align: center;
}
.house-price {
  background-color: #f1f1f1;
  padding: 55px 0;
  position: relative;
  z-index: 2;
}
.house-price .item-group {
  margin: 0 auto;
  width: 1140px;
  display: table;
  background-color: #fff;
  border-radius: 30px;
  padding: 50px 40px;
  text-align: left;
  box-sizing: border-box;
  box-shadow: 14px 14px 30px 0px rgba(0, 0, 0, 0.18);
}
.house-price .item-group-box {
  display: table-cell;
}
.house-price .item-group-box .item-subject {
  color: #222;
  font-size: 40px;
  font-weight: 900;
  line-height: 1;
}
.house-price .item-group-box .item-benefit {
  margin-top: 30px;
  text-align: left;
}
.house-price .item-group-box .item-benefit .col {
  padding-right: 40px;
  border-right: 1px solid #eaeaea;
  margin-right: 30px;
}
.house-price .item-group-box .item-benefit .col:last-child {
  border-right: 0;
  margin-right: 0;
}
.house-price .item-group-box .item-benefit .col strong {
  display: block;
  color: #222;
  font-size: 20px;
  line-height: 1.3;
  font-weight: 500;
  margin-bottom: 12px;
}
.house-price .item-group-box .item-benefit .col .small {
  color: #bbb;
  font-size: 12px;
}
.house-price .item-group-box .item-benefit.four .col {
  padding-right: 30px;
  margin-right: 10px;
}
.house-price .item-group-box .item-benefit.four .col strong {
  display: block;
  color: #222;
  font-size: 19px;
  line-height: 1.3;
  font-weight: 500;
  margin-bottom: 12px;
}
.house-price .item-group-box .item-benefit.four .col .small {
  color: #bbb;
  font-size: 12px;
}
.house-price .item-group-price {
  display: table-cell;
}
.house-price .item-group-price .price-group {
  position: relative;
  text-align: left;
}
.house-price .item-group-price .price-group .before, .house-price .item-group-price .price-group .after {
  position: relative;
  font-weight: 700;
  line-height: 1;
  vertical-align: middle;
}
.house-price .item-group-price .price-group .before {
  color: #bbb;
  font-size: 26px;
  text-decoration: line-through;
}
.house-price .item-group-price .price-group .before + .after {
  padding-left: 2px;
}
.house-price .item-group-price .price-group .before + .after:before {
  content: "▶";
}
.house-price .item-group-price .price-group .after {
  color: #000;
  font-size: 30px;
  padding-left: 2px;
}
.house-price .item-group-price .price-group .after.none:before {
  display: none;
}
.house-price .item-group-price .price-group .btn {
  position: relative;
  vertical-align: middle;
  margin-left: 2px;
  background-color: #222;
  color: #fff;
  font-size: 16px;
  border: 0;
}
.house-price .item-group-price .price-text {
  color: #eb2000;
  margin-top: 20px;
  font-size: 36px;
  font-weight: 900;
  line-height: 1;
  letter-spacing: -1.5px;
}
.house-price .item-group-price .btn-apply {
  background: #fa5a00;
  background: linear-gradient(to right, #fa5a00 0%, #ea1d00 100%);
  width: 100%;
  border-radius: 15px;
  display: block;
  margin-top: 30px;
  text-align: center;
  padding: 22px 0;
}
.house-price .item-group-price .btn-apply span {
  line-height: 1;
  font-size: 40px;
  color: #fff;
  font-weight: 900;
}
.house-price .item-group-price .btn-apply:before {
  top: 50% !important;
  right: 6% !important;
}
.house-price .item-group-price .btn-apply {
  position: relative;
  display: inline-block;
}
.house-price .item-group-price .btn-apply:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
  display: block;
  width: 5.2777777778vw;
  height: 5.9722222222vw;
  background: url("https://img.eduwill.net/Img2/Common/icon/pointer/icon_pointer_12.png") no-repeat 0 0;
  background-size: 100% auto;
  -webkit-animation-name: pointerBounceDiagonal;
          animation-name: pointerBounceDiagonal;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
@media screen and (min-width: 720px) {
  .house-price .item-group-price .btn-apply:after {
    width: 38px;
  }
}
@media screen and (min-width: 720px) {
  .house-price .item-group-price .btn-apply:after {
    height: 43px;
  }
}
@-webkit-keyframes pointerBounceDiagonal {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10px, -10px);
  }
}
@keyframes pointerBounceDiagonal {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10px, -10px);
  }
}
.house-professor {
  padding-bottom: 100px;
}
.house-professor .teacher-list {
  width: 1024px;
  margin: 0 auto;
}
.house-professor .teacher-list ul li {
  float: left;
}
.house-professor .teacher-list ul li a {
  display: block;
}
.house-professor .teacher-list ul.teacher-main {
  justify-content: space-between;
}
.house-professor .teacher-list ul.teacher-main li {
  display: inline;
  list-style: none;
}
.house-professor .percent-group {
  padding-top: 60px;
  text-align: center;
}
.house-professor .percent-group .notice {
  text-align: center;
  padding: 20px 0 50px 0;
}
.house-professor .slide-group {
  width: 100%;
}
.house-professor .slide-group .slick-slide {
  margin-right: -15px;
  width: 452px;
  box-sizing: border-box;
  opacity: 0.5;
}
.house-professor .slide-group .slick-slide.slick-current {
  opacity: 1;
}
.house-professor .slide-group .slick-dots {
  width: 100%;
  text-align: center;
  margin-top: 2px;
}
.house-professor .slide-group .slick-dots li {
  margin: 0 4px;
}
.house-professor .slide-group .slick-dots li button {
  background: #bbb;
}
.house-professor .slide-group .slick-dots li.slick-active button {
  width: 48px;
  background: #0010ff;
}
.house-curri {
  background-color: #f1f1f1;
}
.house-bestbook {
  padding-bottom: 100px;
}
.house-bestbook .btn-text {
  position: absolute;
  top: 227px;
  left: 908px;
  color: #999;
}
.house-bestbook .floating {
  position: absolute;
  left: 50%;
  top: 258px;
  margin-left: 600px;
  width: 142px;
  animation: bounce 2s infinite both;
  -webkit-animation: bounce 2s infinite both;
}
.house-bestbook .floating a {
  display: block;
}
.house-bestbook .floating a:last-child {
  margin-top: -10px;
}
@-webkit-keyframes bounce {
  0%, 100% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px);
  }
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px);
  }
}
.house-bestbook .img-group {
  margin-top: -13px;
}
.house-bestbook .slide-group {
  position: relative;
  width: 100%;
}
.house-bestbook .slide-group .slick-slide {
  margin-right: -15px;
  width: 452px;
  box-sizing: border-box;
  opacity: 0.5;
}
.house-bestbook .slide-group .slick-slide.slick-current {
  opacity: 1;
}
.house-bestbook .slide-group .slick-dots {
  width: 100%;
  text-align: center;
  margin-top: 2px;
}
.house-bestbook .slide-group .slick-dots li {
  margin: 0 4px;
}
.house-bestbook .slide-group .slick-dots li button {
  background: #bbb;
}
.house-bestbook .slide-group .slick-dots li.slick-active button {
  width: 48px;
  background: #0010ff;
}
.house-system {
  background-color: #f1f1f1;
  padding-bottom: 100px;
}
.house-system .list li {
  margin: 0 8px;
  display: inline-block;
  position: relative;
}
.house-system .list li .tip-btn {
  position: absolute;
  top: 307px;
  right: 14px;
  cursor: pointer;
}
.house-system .list li .tip-layer {
  display: none;
  position: absolute;
  z-index: 10;
  top: 330px;
  right: -98px;
}
.house-system .list li .tip-layer.act {
  display: block;
}
.house-people {
  background-image: url("https://img.eduwill.net/eduwill/img/2022/J/product/220419/pc/bg_people.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.house-interviewee {
  position: relative;
  padding-bottom: 100px;
  background-color: #f1f1f1;
}
.house-interviewee .tab-list {
  margin-bottom: 38px;
}
.house-interviewee .tab-list .slick-list,
.house-interviewee .tab-list .slick-track {
  left: 0 !important;
  transform: translate3d(0, 0, 0) !important;
}
.house-interviewee .tab-list .slick-track {
  width: 1070px !important;
}
.house-interviewee .tab-list .slick-slide {
  width: 330px !important;
  margin: 0 12px;
}
.house-interviewee .tab-list a {
  display: block;
  margin-bottom: 10px;
}
.house-interviewee .tab-list a img {
  width: 100%;
}
.house-interviewee .tab-contents .slick-slide {
  margin: 0 10px;
}
.house-interviewee .tab-contents .slick-slide img {
  width: 100%;
}
.house-interviewee .slide-group {
  position: relative;
  width: 100%;
}
.house-interviewee .slide-group .slick-slide {
  margin-right: -15px;
  width: 452px;
  box-sizing: border-box;
  opacity: 0.5;
}
.house-interviewee .slide-group .slick-slide.slick-current {
  opacity: 1;
}
.house-interviewee .slide-group .slick-dots {
  width: 100%;
  text-align: center;
  margin-top: 2px;
}
.house-interviewee .slide-group .slick-dots li {
  margin: 0 4px;
}
.house-interviewee .slide-group .slick-dots li button {
  background: #bbb;
}
.house-interviewee .slide-group .slick-dots li.slick-active button {
  width: 48px;
  background: #0010ff;
}
.house-interviewee .btn {
  float: right;
  padding: 9px 20px 9px 10px;
  background-color: #f1f1f1;
}
.house-winners .text-box {
  text-align: left;
}
.house-winners .text-box .text1 {
  font-size: 32px;
  line-height: 1.4;
  color: #222;
  font-weight: 400;
}
.house-winners .text-box .text1 strong {
  font-weight: 900;
}
.house-winners .text-box .text2 {
  font-size: 18px;
  line-height: 1.4;
  color: #999;
  font-weight: 400;
  padding-top: 30px;
}
.house-winners .text-box .text2 strong {
  font-weight: 900;
}
.house-winners .winners-group {
  position: relative;
  width: 100%;
  height: 602px;
  overflow: hidden;
  background-image: url("https://img.eduwill.net/eduwill/img/2021/J/product/210421/pc/img_winners.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.house-winners .winners-group .winners-cover {
  position: absolute;
  left: 0;
  top: 0;
  width: 53%;
  height: 100%;
  background-color: #fff;
  z-index: 2;
}
.house-winners .winners-group .winners-wrap {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 1200px;
  height: 100%;
  z-index: 3;
}
.house-winners .winners-group .winners-wrap .place {
  position: absolute;
  right: 0;
  bottom: 2px;
  display: inline-block;
  background-color: #000;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 15px 15px 17px;
}
.house-winners .winners-group .winners-wrap .place .highlight {
  display: block;
  margin-top: 8px;
  font-size: 19px;
  font-weight: 500;
}
.house-winners .winners-group .winners-wrap .place + .notice {
  position: absolute;
  right: 0;
  bottom: -20px;
}
.house-winners .bg-video {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
}
.house-winners-list {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #f1f1f1;
}
.house-winners-list .text-box {
  text-align: center;
  margin-bottom: 50px;
}
.house-winners-list .text-box .text1 {
  font-size: 32px;
  line-height: 1.4;
  color: #222;
  font-weight: 400;
}
.house-winners-list .text-box .text1 strong {
  font-weight: 900;
}
.house-winners-list .text-box .text2 {
  font-size: 18px;
  line-height: 1.4;
  color: #999;
  font-weight: 400;
  padding-top: 30px;
}
.house-winners-list .text-box .text2 strong {
  font-weight: 900;
}
.house-winners-list .eduf-winner-contents p {
  color: #8a8a8a;
  font-size: 18px;
  margin: 10px 0;
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  background-color: #f1f1f1;
}
.house-winners-list .winner-cover {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  height: 100px;
  left: 0;
  right: 0;
  top: auto;
  bottom: -50px;
  z-index: 1;
  background: rgba(241, 241, 241, 0.5);
  background: linear-gradient(to bottom, rgba(241, 241, 241, 0.5) 0%, rgb(241, 241, 241) 100%);
}
.house-goal {
  background-color: #fff;
}
.house-goal .goal-list {
  margin-top: 20px;
}
.house-goal .goal-list a.btn {
  position: absolute;
  top: 500px;
  left: 219px;
}
.house-goal .goal-list .notice {
  width: 389px;
  text-align: center;
  padding-top: 30px;
  color: #8d8d8d;
}
.house-alumni {
  background-image: url("https://img.eduwill.net/eduwill/img/2022/J/product/220419/pc/bg_network.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  padding-bottom: 100px;
}
.house-alumni .slide-group {
  position: relative;
  width: 100%;
}
.house-alumni .slide-group .slick-slide {
  margin-right: -15px;
  width: 452px;
  box-sizing: border-box;
  opacity: 0.5;
}
.house-alumni .slide-group .slick-slide.slick-current {
  opacity: 1;
}
.house-alumni .slide-group .slick-dots {
  width: 100%;
  text-align: center;
  margin-top: 2px;
}
.house-alumni .slide-group .slick-dots li {
  margin: 0 4px;
}
.house-alumni .slide-group .slick-dots li button {
  background: #bbb;
}
.house-alumni .slide-group .slick-dots li.slick-active button {
  width: 48px;
  background: #0010ff;
}
.house-difference {
  background-color: #fff;
}
.house-difference .list-group ul {
  text-align: left;
}
.house-difference .list-group ul li {
  border: none;
  margin-left: 13px;
}
.house-difference .img-group {
  position: relative;
}
.house-difference .img-group .btn {
  position: absolute;
}
.house-difference .img-group {
  position: relative;
}
.house-difference .img-group .step {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.house-difference .img-group .step-1 {
  left: 55px;
  top: 279px;
}
.house-difference .img-group .step-2 {
  left: 366px;
  top: 249px;
}
.house-difference .img-group .step-3 {
  left: 691px;
  top: 248px;
}
.house-difference .img-group .step-4 {
  left: 977px;
  top: 155px;
}
.house-differ-plus {
  background: #ffd323;
  background: linear-gradient(to right, #ffd323 0%, #ffbf11 100%);
}
.house-differ-plus .wrap:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 132px;
  height: 132px;
  margin-left: -66px;
  margin-top: -58px;
  background: url(https://img.eduwill.net/eduwill/img/2022/J/product/220419/pc/icon_plus.png) no-repeat 0 0;
  z-index: 2;
}
.house-roadmap {
  height: 937px;
}
.house-roadmap .wrap {
  width: 100% !important;
}
.house-roadmap .subtitle > div {
  color: #222;
  line-height: 1;
  text-align: center;
}
.house-roadmap .subtitle > div.sub {
  font-size: 30px;
  line-height: 1.4;
  margin-top: 13px;
  font-weight: 400;
  color: #fff;
  text-align: left;
}
.house-roadmap .subtitle > div.sub strong {
  font-weight: 700;
}
.house-roadmap .subtitle > div.main {
  margin-top: 0;
  font-size: 40px;
  color: #fff;
  text-align: left;
  font-weight: bold;
}
.house-roadmap .subtitle.fly {
  position: absolute;
  left: 0;
  top: 258px;
}
.house-roadmap .subtitle.line {
  padding-left: 40px;
  text-align: left;
  border-left: 2px solid #d8d8d8;
}
.house-roadmap .subtitle.line > div.sub {
  font-size: 30px;
}
.house-roadmap .subtitle.line > div.main {
  font-size: 40px;
}
.house-roadmap .subtitle.line .btn {
  margin-top: 30px;
}
.house-roadmap .slick-dots {
  margin: 0;
  padding: 0;
  position: absolute;
  top: auto;
  bottom: 100px;
  left: 0;
  right: 0;
  width: 1140px !important;
  height: 360px;
  margin: 0 auto !important;
}
.house-roadmap .slick-dots li {
  margin: 0 !important;
  position: relative;
  float: left;
}
.house-roadmap .slick-dots li .step {
  display: block;
  width: 180px;
}
.house-roadmap .slick-dots li:nth-child(1) {
  top: 210px;
  left: 0;
}
.house-roadmap .slick-dots li:nth-child(1) .step {
  height: 150px;
}
.house-roadmap .slick-dots li:nth-child(2) {
  top: 160px;
  left: 12px;
}
.house-roadmap .slick-dots li:nth-child(2) .step {
  height: 200px;
}
.house-roadmap .slick-dots li:nth-child(3) {
  top: 110px;
  left: 24px;
}
.house-roadmap .slick-dots li:nth-child(3) .step {
  height: 250px;
}
.house-roadmap .slick-dots li:nth-child(4) {
  top: 0;
  left: 36px;
}
.house-roadmap .slick-dots li:nth-child(4) .step {
  height: 360px;
}
.house-roadmap .slick-dots li:nth-child(5) {
  top: 0;
  left: 48px;
}
.house-roadmap .slick-dots li:nth-child(5) .step {
  height: 360px;
}
.house-roadmap .slick-dots li:nth-child(6) {
  top: 0;
  left: 60px;
}
.house-roadmap .slick-dots li:nth-child(6) .step {
  height: 360px;
}
.house-roadmap .roadmap-list {
  height: 937px;
  overflow: hidden;
}
.house-roadmap .roadmap-list .slick-track,
.house-roadmap .roadmap-list .slick-list {
  height: 937px;
  transform: translate3d(0, 0, 0);
}
.house-roadmap .roadmap-list .roadmap-step1 {
  background-image: url("https://img.eduwill.net/eduwill/img/2021/J/product/210421/pc/bg_road1.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.house-roadmap .roadmap-list .roadmap-step2 {
  background-image: url("https://img.eduwill.net/eduwill/img/2021/J/product/210421/pc/bg_road3.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.house-roadmap .roadmap-list .roadmap-step3 {
  background-image: url("https://img.eduwill.net/eduwill/img/2021/J/product/210421/pc/bg_road2.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.house-roadmap .roadmap-list .roadmap-step4 {
  background-image: url("https://img.eduwill.net/eduwill/img/2021/J/product/210421/pc/bg_road4.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.house-roadmap .roadmap-list .roadmap-step5 {
  background-image: url("https://img.eduwill.net/eduwill/img/2021/J/product/210421/pc/bg_road5.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.house-roadmap .roadmap-list .roadmap-step6 {
  background-image: url("https://img.eduwill.net/eduwill/img/2021/J/product/210421/pc/bg_road6.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.house-roadmap .roadmap-list .road-content {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}
.house-roadmap .roadmap-list .road-content h3 {
  position: absolute;
  letter-spacing: -5px;
  top: 100px;
  margin: 0;
  padding: 0;
  line-height: 1;
  color: #ffc000;
  font-size: 60px;
}
.house-roadmap .roadmap-count {
  position: absolute;
  top: 423px;
  left: 50%;
  margin-left: 520px;
  text-align: right;
}
.house-roadmap .roadmap-count span {
  line-height: 1;
  display: inline-block;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
}
.house-roadmap .roadmap-count span.current {
  color: #ffc000;
}
.house-banner {
  background-image: url("https://img.eduwill.net/eduwill/img/2021/J/product/210421/pc/bg_banner2.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}/*# sourceMappingURL=web.css.map */