@charset "UTF-8";
@import url("https://img.eduwill.net/resources/common/web/css/noto_webfont.css");
@import url("//img.eduwill.net/resources/mypage/dev2/css/mobile_pay.css");
body {
  background: #fff;
}

body {
  min-width: auto;
  overflow-x: hidden;
}

#header {
  background: none;
  height: inherit;
}

#header.pc_header {
  display: none;
}

#header .inner,
#container,
#content {
  width: auto !important;
}

#container {
  padding: 0 16px 30px;
  margin: 0;
}

#container #lnb {
  display: none;
}

#container #content {
  float: none;
  padding-top: 30px;
}

#container #content .mystatus {
  display: none;
}

.m_contour {
  display: block;
  padding: 0;
  margin: 0;
  height: 7px;
  background: #f4f4f6;
  border: none;
  border-top: solid 1px #eaeaf4;
  margin: 20px -16px 0;
}

.m_only {
  display: block;
}

.m_only_inline {
  display: inline;
}

.pc_only {
  display: none;
}

.pc_only_inline {
  display: none;
}

#header .upper .logo {
  float: none;
  margin-top: 0;
}

#footer {
  display: none;
}

#footer.footer {
  display: block;
  min-width: auto;
}

#footer.footer * {
  font-family: "Nanum Barun Gothic", sans-serif, '맑은고딕', 'Malgun Gothic', '돋움', Dotum, '굴림', Gulim, Tahoma, sans-serif, verdana;
}

.bottom_fix_btn span {
  font-family: "Nanum Barun Gothic", sans-serif, '맑은고딕', 'Malgun Gothic', '돋움', Dotum, '굴림', Gulim, Tahoma, sans-serif, verdana;
}

h2.tit {
  background: none;
  padding: 0;
  height: 35px;
  line-height: 1;
  font-size: 15px;
  color: #454f63;
  font-weight: 700;
}

.refundWrap h2 {
  border: none;
  margin-bottom: 0;
}

h3.tit {
  font-size: 15px;
  background: none;
  line-height: 1;
  position: relative;
  padding: 0 0 12px 11px;
}

h3.tit:before {
  content: '';
  display: inline-block;
  width: 4px;
  height: 15px;
  background-color: #4063bf;
  position: absolute;
  top: 0;
  left: 0;
}

h3.tit .desc {
  position: static;
  display: block;
  padding-top: 6px;
}

.tabBtn.default div {
  height: 44px;
}

.tabBtn.default div span {
  height: 42px;
  font-size: 15px;
  line-height: 42px;
}

.tabBtn.default div.active span {
  line-height: 42px;
}

table.tbstyle_responsive thead,
table.tbstyle_responsive colgroup {
  display: none;
}

table.tbstyle_responsive [data-cell-header]:before {
  content: attr(data-cell-header);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 100%;
  text-align: left;
  background: #f5f7f9;
  padding: 9px 0 9px 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  color: #78849e;
  font-weight: 300;
}

table.tbstyle_responsive td.line2[data-cell-header]:before {
  padding: 4px 0 4px 12px;
  line-height: 16px;
}

table.tbstyle_responsive tr:first-child td {
  margin-top: 0;
}

table.tbstyle_responsive td {
  position: relative;
  display: block;
  padding: 9px 0 9px 96px !important;
  border-left: none;
  border-top: none;
  border-bottom: solid 1px #dcdcdc !important;
  text-align: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  color: #333;
  font-weight: 300;
}

table.tbstyle_responsive td:first-child {
  margin-top: 12px;
  border-top: solid 1px #b2b7c3 !important;
}

table.tbstyle_responsive td:nth-child(3) br {
  display: none;
}

table.tbstyle_responsive td:nth-child(4) div {
  display: inline-block;
}

table.tbstyle_responsive td .btnSale {
  margin-left: 8px;
  padding-right: 12px;
  position: relative;
}

table.tbstyle_responsive td .btnSale:after {
  content: "\003E";
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  line-height: 12px;
  margin-top: -6px;
  font-family: "Gulim", "Noto Sans KR", sans-serif, "맑은고딕", "Malgun Gothic", "돋움", Dotum, "굴림", Gulim, Tahoma, sans-serif, verdana, AppleGothic;
  font-size: 10px;
  color: #cc9861;
  font-weight: 300;
}

table.tbstyle_responsive td .subj {
  padding-left: 0 !important;
}

table.tbstyle_responsive td .nodata {
  margin: -9px 0 -9px -96px;
}

table.tbstyle_responsive td .btn_sm {
  text-align: left;
}

.layerWrap {
  height: auto;
  top: 0;
  height: 100%;
  overflow: auto;
  width: 100%;
  left: 0;
  margin: 0 !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  min-width: auto;
  max-width: auto;
}

.layerWrap .top {
  background: #fff;
  border-bottom: solid 1px #eaeaf4;
  padding: 14px 16px 13px;
}

.layerWrap .top .t1 {
  display: none;
}

.layerWrap .top .t2 {
  font-size: 16px;
  color: #454f63;
  font-weight: 700;
}

.layerWrap .top .closeBtn,
.layerWrap .top .closeBtn_pop {
  right: 15px;
  top: 14px;
}

.layerWrap .top .closeBtn a,
.layerWrap .top .closeBtn_pop a {
  font-size: 0 !important;
  width: 18px;
  height: 18px;
  display: block;
  padding: 0;
  background-position: 50%;
}

.layerWrap .cont {
  padding: 32px 16px;
}

#couponLayer.layerWrap,
#pointLayer.layerWrap,
#addressLayer.layerWrap,
#paymentLayer.layerWrap,
#deliveryLayer.layerWrap,
#deliveryLayer2.layerWrap,
#paymentingLayer .layerInner,
#addcouponLayer.layerWrap,
#bookdeductLayer.layerWrap,
#refundInfoLayer.layerWrap,
#reserveLayer.layerWrap,
#receiptLayer.layerWrap,
#kakaoLayer.layerWrap,
#kakaoLayer.layerWrap,
#cashLayer.layerWrap {
  top: 0 !important;
  height: 100%;
  overflow: auto;
  width: 100%;
  left: 0;
  margin: 0 !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  min-width: inherit;
  max-width: inherit;
}

#couponLayer.layerWrap .cont,
#pointLayer.layerWrap .cont,
#addressLayer.layerWrap .cont,
#paymentLayer.layerWrap .cont,
#deliveryLayer.layerWrap .cont,
#deliveryLayer2.layerWrap .cont,
#paymentingLayer .layerInner .cont,
#addcouponLayer.layerWrap .cont,
#bookdeductLayer.layerWrap .cont,
#refundInfoLayer.layerWrap .cont,
#reserveLayer.layerWrap .cont,
#receiptLayer.layerWrap .cont,
#kakaoLayer.layerWrap .cont,
#kakaoLayer.layerWrap .cont,
#cashLayer.layerWrap .cont {
  height: auto;
  min-height: inherit;
  max-height: inherit;
}

#couponLayer.layerWrap .cont .name,
#pointLayer.layerWrap .cont .name,
#addressLayer.layerWrap .cont .name,
#paymentLayer.layerWrap .cont .name,
#deliveryLayer.layerWrap .cont .name,
#deliveryLayer2.layerWrap .cont .name,
#paymentingLayer .layerInner .cont .name,
#addcouponLayer.layerWrap .cont .name,
#bookdeductLayer.layerWrap .cont .name,
#refundInfoLayer.layerWrap .cont .name,
#reserveLayer.layerWrap .cont .name,
#receiptLayer.layerWrap .cont .name,
#kakaoLayer.layerWrap .cont .name,
#kakaoLayer.layerWrap .cont .name,
#cashLayer.layerWrap .cont .name {
  padding: 0 40px;
}

.couponList .tbStyle3 .date {
  font-size: 13px;
  margin-left: 5px;
}

.couponList .tabBtn .pushType {
  /*display:block;*/
}

.couponList .tabBtn .linkType {
  /*display:none;*/
}

.couponList .tabBtn.default.depth3 div:nth-child(1) {
  width: 27%;
}

.couponList .tabBtn.default.depth3 div:nth-child(2) {
  width: 46%;
}

.couponList .tabBtn.default.depth3 div:nth-child(3),
.couponList .tabBtn.default.depth3 div:nth-child(4) {
  width: 27%;
}

.couponList .tabCont {
  padding-top: 20px;
}

.couponList .tabCont.couponSubmit {
  /*display: block !important;*/
}

.couponList .tabCont.couponSubmit.couponSubmit td {
  border-width: 1px;
}

.couponList .tabCont.couponSubmit .numberForm {
  display: block;
  margin: -9px 0 -9px -96px;
  text-align: center;
  padding: 25px 0;
}

.couponList .tabCont.couponSubmit .numberForm div {
  font-size: 0;
}

.couponList .tabCont.couponSubmit .numberForm strong {
  display: block;
  padding-bottom: 12px;
  font-size: 15px;
  color: #333;
  font-weight: 400;
}

.couponList .tabCont.couponSubmit .numberForm .form_text {
  margin: 0;
  width: 80px;
  height: 36px;
  line-height: 36px;
  vertical-align: middle;
  text-align: center;
  padding: 0;
  border: solid 1px #dadce0;
  background: #f4f4f6;
  font-size: 14px;
  color: #78849e;
  font-weight: 400;
}

.couponList .tabCont.couponSubmit .numberForm .form_btn {
  width: 80px;
  height: 36px;
  line-height: 36px;
  vertical-align: middle;
  text-align: center;
  background: #454f63;
  border: none;
  margin-left: 6px;
  font-size: 14px;
  color: #fff;
  font-weight: 500;
}

.couponList .tabCont.couponSubmit .numberForm .bar {
  display: inline-block;
  width: 22px;
  position: relative;
}

.couponList .tabCont.couponSubmit .numberForm .bar:after {
  content: '';
  display: block;
  width: 10px;
  height: 2px;
  background: #dadce0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -1px 0 0 -5px;
}

.couponList .couponMore {
  margin-top: 20px;
  display: block;
}

.couponList .couponMore a {
  display: block;
  height: 46px;
  line-height: 46px;
  background: #8492b4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 0 0 15px;
  position: relative;
  font-size: 14px;
  color: #fff;
  font-weight: 300;
}

.couponList .couponMore a span {
  font-weight: 700;
}

.couponList .couponMore a:after {
  content: "\003E";
  display: block;
  position: absolute;
  top: 0;
  right: 16px;
  line-height: 48px;
  font-family: "Gulim", "Noto Sans KR", sans-serif, "맑은고딕", "Malgun Gothic", "돋움", Dotum, "굴림", Gulim, Tahoma, sans-serif, verdana, AppleGothic;
  font-size: 14px;
  color: #fff;
  font-weight: 700;
}

.pointList .pointinfo {
  padding: 16px 12px;
  margin-bottom: 30px;
  height: auto;
}

.pointList .pointinfo .money {
  position: initial;
  width: auto;
  height: auto;
  background: none;
  padding: 0 4px;
  *zoom: 1;
}

.pointList .pointinfo .money::after {
  content: "";
  display: block;
  clear: both;
}

.pointList .pointinfo .money span {
  display: block;
  padding: 0;
  font-size: 16px;
  color: #333;
  font-weight: 500;
  line-height: 1;
  float: left;
}

.pointList .pointinfo .money strong {
  display: block;
  padding: 0;
  float: right;
  font-size: 14px;
  color: #333;
  font-weight: 500;
}

.pointList .pointinfo .money strong em {
  font-size: 18px;
  color: #000;
  font-weight: 700;
  letter-spacing: -1px;
  margin-right: 3px;
  top: 1px;
}

.pointList .pointinfo .point {
  position: relative;
  margin-top: 5px;
  margin-bottom: 50px;
  padding: 8px 4px 12px 4px;
}

.pointList .pointinfo .point .p1 {
  padding: 0;
  line-height: 1;
  font-size: 16px;
  color: #333;
  font-weight: 500;
}

.pointList .pointinfo .point .p2 strong {
  font-size: 14px;
  color: #333;
  font-weight: 500;
}

.pointList .pointinfo .point .p2 em {
  font-size: 18px;
  color: #000;
  font-weight: 700;
  letter-spacing: -1px;
  margin-right: 3px;
  top: 1px;
}

.pointList .pointinfo .point .btn {
  position: absolute;
  bottom: -50px;
  left: 4px;
  margin-left: 0;
}

.pointList .pointinfo dl {
  padding: 10px 0 0 4px;
}

.pointList .pointinfo dl dt {
  display: none;
}

.pointList .pointinfo dl dd {
  padding: 0;
}

#pointLayer.layerWrap .box dd input {
  width: 120px;
}

.deliveryInfo {
  margin-bottom: 10px;
  background: #5babb6;
  padding: 0 16px 16px;
  position: relative;
  min-height: 32px;
}

.deliveryInfo input {
  display: none;
}

.deliveryInfo input:checked ~ dl {
  display: block;
}

.deliveryInfo input:checked ~ label:after {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

.deliveryInfo label {
  display: block !important;
  height: 48px;
  line-height: 48px;
  padding: 0 0 0 16px !important;
  margin: 0;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #5babb6;
}

.deliveryInfo label:before {
  display: none !important;
}

.deliveryInfo label:after {
  content: "\003E";
  display: block;
  position: absolute;
  top: 0;
  right: 16px;
  line-height: 48px;
  font-family: "Gulim", "Noto Sans KR", sans-serif, "맑은고딕", "Malgun Gothic", "돋움", Dotum, "굴림", Gulim, Tahoma, sans-serif, verdana, AppleGothic;
  font-size: 14px;
  color: #fff;
  font-weight: 700;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.deliveryInfo dl {
  padding: 0;
  background: none;
  min-height: auto;
  display: none;
}

.deliveryInfo dl dt {
  height: 48px;
  line-height: 48px;
  padding-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
}

.deliveryInfo dl dd {
  font-size: 13px;
  color: #fff;
  font-weight: 400;
}

.deliveryInfo + .tabBtn.default.depth2 div:nth-child(1) {
  width: 65%;
}

.deliveryInfo + .tabBtn.default.depth2 div:nth-child(2) {
  width: 35%;
}

.deliveryInfo + .tabBtn.default.depth2 span .st1 {
  display: none;
}

.bookList h2.tit {
  position: relative;
  padding: 20px 0 12px 12px;
  margin: 0;
  font-size: 15px;
  color: #333;
  font-weight: 500;
  line-height: 1;
  height: auto;
}

.bookList h2.tit:before {
  content: "";
  display: block;
  width: 4px;
  height: 15px;
  position: absolute;
  top: 21px;
  left: 0;
  background: #3f63bf;
}

.bookList .btnArea a {
  height: 40px;
  line-height: 40px;
  width: 140px;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
}

.deliveryList {
  padding-top: 20px;
}

.deliveryList .box {
  padding: 0;
  background: #fff;
}

.deliveryList .box .lst {
  margin-top: 12px;
}

.deliveryList .box .lst colgroup {
  display: none;
}

.deliveryList .box .lst table td {
  display: block;
}

.deliveryList .box .lst table td.right {
  border-left: none;
  text-align: left;
}

.deliveryList .box .lst .item1 {
  padding: 12px 16px;
}

.deliveryList .box .lst .item1 ul li {
  font-size: 14px;
  margin-top: 5px;
}

.deliveryList .box .lst .item2 {
  position: inherit;
}

.deliveryList .box .lst .item2 span {
  font-size: 13px;
  color: #666;
  font-weight: 300;
  text-align: left;
  padding: 8px 16px;
  height: auto;
}

.deliveryList .box .lst .item3 {
  border-top: solid 1px #dcdcdc;
  padding: 8px 100px 8px 16px;
  background: #f4f4f6;
  position: relative;
  min-height: 38px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.deliveryList .box .lst .item3 div {
  display: inline-block;
}

.deliveryList .box .lst .item3 div.t1 {
  margin-right: 3px;
  font-size: 14px;
  line-height: 1.6;
}

.deliveryList .box .lst .item3 div.t2 {
  margin-top: 0;
  margin-right: 3px;
  font-size: 14px;
  line-height: 1.6;
}

.deliveryList .box .lst .item3 div.t3 {
  font-size: 14px;
}

.deliveryList .box .lst .item3 div.btn {
  position: absolute;
  top: 6px;
  right: 6px;
  margin-top: 0;
}

.deliveryList .box .lst .item3 div.btn a {
  height: 24px;
  line-height: 24px;
  width: 75px;
}

#addressLayer .sel {
  margin: 0 0 12px 0;
}

#addressLayer .sel .radios label {
  font-size: 15px;
}

#addressLayer .tbStyle3 td .grp.f0 {
  position: relative;
  padding-right: 90px;
}

#addressLayer .tbStyle3 td .grp.f0 input {
  width: 100% !important;
  margin-right: 0;
}

#addressLayer .tbStyle3 td .grp.f0 a {
  position: absolute;
  top: 0;
  right: 0;
}

.paymentList h2.tit {
  position: relative;
  padding: 20px 0 12px 12px;
  margin: 0;
  font-size: 16px;
  color: #333;
  font-weight: 500;
  line-height: 1;
  height: auto;
}

.paymentList h2.tit:before {
  content: "";
  display: block;
  width: 4px;
  height: 15px;
  position: absolute;
  top: 21px;
  left: 0;
  background: #3f63bf;
}

.paymentList h2.tit:first-child {
  margin-top: -20px;
}

.paymentList .box {
  padding: 0;
  background: #fff;
}

.paymentList .box.type2 .lst {
  margin-top: 44px;
}

.paymentList .box.type2 .lst:first-child {
  margin-top: 0;
}

.paymentList .box.type3 .lst .item1 .fL,
.paymentList .box.type3 .lst .item1 .fR {
  float: none;
}

.paymentList .box.type3 .lst .item3 {
  *zoom: 1;
}

.paymentList .box.type3 .lst .item3::after {
  content: "";
  display: block;
  clear: both;
}

.paymentList .box.type3 .lst .item3 .t1 {
  float: left;
}

.paymentList .box.type3 .lst .item3 .t3 {
  float: left;
  padding-left: 6px;
}

.paymentList .box .lst {
  margin-top: 12px;
}

.paymentList .box .lst colgroup {
  display: none;
}

.paymentList .box .lst table td {
  display: block;
}

.paymentList .box .lst table td.right {
  border-left: none;
  text-align: left;
}

.paymentList .box .lst .item1 {
  padding: 8px 16px 9px 16px;
  height: auto;
  min-height: 26px;
  *zoom: 1;
}

.paymentList .box .lst .item1::after {
  content: "";
  display: block;
  clear: both;
}

.paymentList .box .lst .item1 .date {
  font-size: 14px;
}

.paymentList .box .lst .item1 .desc {
  display: block;
  font-size: 13px;
  color: #333;
  font-weight: 300;
}

.paymentList .box .lst .item1 .btn {
  position: absolute;
  top: -33px;
  right: 0;
}

.paymentList .box .lst .item2 {
  padding: 12px 16px;
}

.paymentList .box .lst .item2 ul li {
  margin-top: 5px;
  font-size: 14px;
}

.paymentList .box .lst .item3 {
  border-top: solid 1px #dcdcdc;
  padding: 6px 6px 6px 16px;
  background: #f4f4f6;
  position: relative;
  min-height: 38px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  *zoom: 1;
}

.paymentList .box .lst .item3::after {
  content: "";
  display: block;
  clear: both;
}

.paymentList .box .lst .item3 .fL {
  float: left;
}

.paymentList .box .lst .item3 .fR {
  float: right;
}

.paymentList .box .lst .item3 .t1 {
  font-size: 14px;
}

.paymentList .box .lst .item3 .t1 br {
  display: none;
}

.paymentList .box .lst .item3 .t2 {
  font-size: 14px;
}

.paymentList .box .lst .item3 .t3 {
  font-size: 14px;
}

.paymentList .box .lst .item3 .t3 em {
  font-weight: 500;
}

.paymentList .box .lst .item3 .btn {
  margin-top: 3px;
}

.paymentList .box .lst .item3 .btn.b1 {
  margin-top: 0;
}

.paymentList .box .lst .item3 .btn a {
  height: 24px;
  line-height: 24px;
  width: 75px;
}

#paymentLayer h2.tit {
  position: relative;
  padding: 20px 0 12px 12px;
  margin: 0;
  font-size: 16px;
  color: #333;
  font-weight: 500;
  line-height: 1;
  height: auto;
}

#paymentLayer h2.tit:before {
  content: "";
  display: block;
  width: 4px;
  height: 15px;
  position: absolute;
  top: 21px;
  left: 0;
  background: #3f63bf;
}

#paymentLayer .tbStyle3 td {
  border: none;
}

.cartWrap .depth {
  position: initial;
  padding-bottom: 18px;
}

.cartWrap .depth li {
  padding-right: 18px;
  margin-left: 12px;
}

.cartWrap .depth li:first-child {
  margin-left: 0;
}

.cartWrap .nodata {
  margin: 0 -16px;
}

.cartWrap .box {
  margin: 0 -16px;
  padding: 16px;
}

.cartWrap .box .top .desc {
  position: initial;
  display: block;
  padding: 5px 0;
  line-height: 1.5;
  font-size: 12px;
}

.cartWrap .box .lst colgroup {
  display: none;
}

.cartWrap .box .lst td {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cartWrap .box .lst td.sel {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 45px;
  height: 100%;
  border-right: solid 1px #dcdcdc;
  background: #fff;
  z-index: 1;
  border-radius: 3px 0 0 3px;
}

.cartWrap .box .lst td.sel .checks input[type="checkbox"] {
  width: 20px !important;
  height: 18px;
}

.cartWrap .box .lst td.sel .checks input[type="checkbox"] + label {
  width: 20px !important;
  height: 18px;
  background-size: contain;
}

.cartWrap .box .lst td.detail {
  display: block;
  width: 100%;
  border-left: none;
  padding: 12px 16px 51px 62px;
  position: relative;
}

.cartWrap .box .lst td.detail:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #dcdcdc;
  position: absolute;
  bottom: 39px;
  left: 0;
}

.cartWrap .box .lst td.detail .item dd div,
.cartWrap .box .lst td.detail .item dd a {
  font-size: 14px;
}

.cartWrap .box .lst td.amount {
  position: absolute;
  left: 62px;
  bottom: 0;
  padding: 0;
  height: 39px;
  line-height: 39px;
}

.cartWrap .box .lst td.amount span,
.cartWrap .box .lst td.amount em {
  font-size: 14px;
}

.cartWrap .box .lst td.price {
  position: absolute;
  right: 16px;
  bottom: 0;
  padding: 0;
  height: 38px;
  line-height: 38px;
}

.cartWrap .box .lst td.price div {
  font-size: 14px;
}

.cartWrap .box .priceResult {
  font-size: 14px;
  line-height: 1.4;
  padding: 14px 0 3px 0;
}

.cartWrap .box .priceResult .price1 {
  font-size: 15px;
  font-weight: 700;
}

.cartWrap .box .priceResult .price2 {
  font-size: 18px;
  font-weight: 700;
}

.cartWrap .box .priceResult .plus {
  width: 12px;
  height: 12px;
  background-size: 100%;
  margin: -3px 3px 0 3px;
}

.cartWrap .box .priceResult .equal {
  width: 12px;
  height: 8px;
  background-size: 100%;
  margin: -3px 3px 0 3px;
}

.cartWrap .btnWrap a {
  width: 180px;
}

.cartWrap.step2 .box .lst td.detail {
  padding-left: 16px;
}

.cartWrap.step2 .box .lst td.amount {
  /* 쿠폰추가 2018-12-04 */
  left: 16px;
}

.cartWrap.step2 .box .lst td.amount .add_coupon {
  display: inline-block;
  height: 32px;
  vertical-align: top;
  margin-top: 7px;
  line-height: 1;
}

.cartWrap.step2 .box .lst td.amount .add_coupon a {
  margin: 0 10px 0 0;
  padding: 0 10px;
  height: 23px;
  line-height: 21px;
}

.cartWrap.step2 .box .lst.deliveryPay {
  border-color: #dcdcdc;
}

.cartWrap.step2 .box .lst.deliveryPay dl dt {
  float: none;
}

.cartWrap.step2 .box .lst.deliveryPay dl dd {
  float: none;
  padding-top: 5px;
}

.cartWrap.step2 .payment {
  padding-right: 0;
  margin: 0 -16px 43px;
  padding: 12px 16px;
  background: #f5f5f5;
}

.cartWrap.step2 .payment .left {
  padding: 0;
}

.cartWrap.step2 .payment .tit {
  margin-top: 26px;
}

.cartWrap.step2 .payment .inputForm li {
  position: relative;
  padding-left: 78px;
  margin-top: 8px;
  /* 에듀캐시 추가 2022-02-15 */
  /*
                        .cartWrap .payment .inputForm .educash > div {font-weight:400}
                        .cartWrap .payment .inputForm .educash > div:after {content:""; display:block; clear:both}
                        .cartWrap .payment .inputForm .educash .col {float:left;}
                        .cartWrap .payment .inputForm .educash .col-2 {margin-left:12px}
                        .cartWrap .payment .inputForm .educash .grp1 {font-size:14px; color:#333; font-weight:700; display:inline-block; line-height:30px}
                        .cartWrap .payment .inputForm .educash .grp1 em {color:#2f6bda;}
                        .cartWrap .payment .inputForm .educash .grp2 {background-color:#fff; line-height:28px; display:inline-block; width:120px; box-sizing:border-box;position:relative; padding:0 25px 0 6px;}
                        .cartWrap .payment .inputForm .educash .grp2 input {border:none; width:100%; text-indent:0; text-align:right;}
                        .cartWrap .payment .inputForm .educash .grp2 em {position:absolute; top:0; right:6px; font-weight:400}
                        .cartWrap .payment .inputForm .educash .text-warning {font-size:13px; color:#ff0000; line-height:16px;margin-top:8px}
                        */
}

.cartWrap.step2 .payment .inputForm li > em {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  line-height: 36px;
  width: auto;
}

.cartWrap.step2 .payment .inputForm li > div {
  float: none;
}

.cartWrap.step2 .payment .inputForm li .selectForm {
  height: 36px;
}

.cartWrap.step2 .payment .inputForm li input[type="text"] {
  margin: 0;
  height: 36px;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cartWrap.step2 .payment .inputForm li .group {
  margin-top: 8px;
}

.cartWrap.step2 .payment .inputForm li a.btn {
  height: 36px;
  line-height: 33px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cartWrap.step2 .payment .inputForm li.selDate {
  padding-top: 0;
}

.cartWrap.step2 .payment .inputForm li.selDate .selectForm {
  width: 100%;
}

.cartWrap.step2 .payment .inputForm li.addCk em {
  line-height: 1;
  top: 3px;
}

.cartWrap.step2 .payment .inputForm li.addCk .radios {
  margin: 0 0 6px 9px;
}

.cartWrap.step2 .payment .inputForm li.addCk a.btn {
  height: 22px;
  line-height: 22px;
  padding: 0 6px;
  font-size: 11px;
  margin-left: 10px;
}

.cartWrap.step2 .payment .inputForm li.addCk a.btn:last-child {
  margin-left: 0;
}

.cartWrap.step2 .payment .inputForm li.name .input_1 {
  width: 100%;
}

.cartWrap.step2 .payment .inputForm li.phone div {
  font-size: 0;
}

.cartWrap.step2 .payment .inputForm li.phone .hyphen {
  width: 5%;
}

.cartWrap.step2 .payment .inputForm li.phone .input_1 {
  width: 30%;
}

.cartWrap.step2 .payment .inputForm li.email .input_1 {
  width: 100%;
}

.cartWrap.step2 .payment .inputForm li.address .input_1 {
  width: 75px;
}

.cartWrap.step2 .payment .inputForm li.address .input_2 {
  width: 100%;
}

.cartWrap.step2 .payment .inputForm li.address .input_3 {
  width: 100%;
  margin-top: 8px;
}

.cartWrap.step2 .payment .inputForm li.address .blank {
  display: none;
}

.cartWrap.step2 .payment .inputForm li.message .selectForm {
  width: 100%;
}

.cartWrap.step2 .payment .inputForm li.message .input_1 {
  width: 100%;
}

.cartWrap.step2 .payment .inputForm li.coupon div {
  font-size: 0;
}

.cartWrap.step2 .payment .inputForm li.coupon .selectForm {
  width: 100%;
}

.cartWrap.step2 .payment .inputForm li.coupon a.btn {
  margin-top: 8px;
}

.cartWrap.step2 .payment .inputForm li.coupon .blank {
  display: none;
}

.cartWrap.step2 .payment .inputForm li.edumoney {
  padding-left: 0;
  position: relative;
}

.cartWrap.step2 .payment .inputForm li.edumoney > em {
  line-height: 1.5;
  position: static;
  float: none;
  display: block;
  padding-bottom: 10px;
}

.cartWrap.step2 .payment .inputForm li.edumoney .grp1 {
  display: block;
  margin-bottom: 8px;
}

.cartWrap.step2 .payment .inputForm li.edumoney .grp2 {
  margin-left: 0;
}

.cartWrap.step2 .payment .inputForm li.edumoney .btn {
  position: absolute;
  top: 42px;
  right: 0;
}

.cartWrap.step2 .payment .inputForm li.educash .col {
  float: none;
}

.cartWrap.step2 .payment .inputForm li.educash .col-2 {
  margin-left: 0;
}

.cartWrap.step2 .payment .inputForm li.educash .grp1,
.cartWrap.step2 .payment .inputForm li.educash .grp2 {
  line-height: 36px;
}

.cartWrap.step2 .payment .infoDate {
  position: relative;
  margin-top: 12px;
  padding: 0 16px 16px 16px;
  min-height: 32px;
}

.cartWrap.step2 .payment .infoDate input {
  display: none;
}

.cartWrap.step2 .payment .infoDate input:checked ~ dl {
  display: block;
}

.cartWrap.step2 .payment .infoDate input:checked ~ label:after {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

.cartWrap.step2 .payment .infoDate label {
  display: block !important;
  height: 48px;
  line-height: 48px;
  padding: 0 0 0 16px !important;
  margin: 0;
  font-size: 14px;
  color: #b88650;
  font-weight: 500;
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fef8eb;
}

.cartWrap.step2 .payment .infoDate label:before {
  display: none !important;
}

.cartWrap.step2 .payment .infoDate label:after {
  content: "\003E";
  display: block;
  position: absolute;
  top: 0;
  right: 16px;
  line-height: 48px;
  font-family: "Gulim", "Noto Sans KR", sans-serif, "맑은고딕", "Malgun Gothic", "돋움", Dotum, "굴림", Gulim, Tahoma, sans-serif, verdana, AppleGothic;
  font-size: 14px;
  color: #b88650;
  font-weight: 700;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.cartWrap.step2 .payment .infoDate dl {
  display: none;
}

.cartWrap.step2 .payment .infoDate dl dt {
  height: 48px;
  line-height: 48px;
  font-size: 14px;
  color: #b88650;
  font-weight: 500;
}

.cartWrap.step2 .payment .infoDate.collapses-none label:after {
  display: none;
}

.cartWrap.step2 .payment .infoDate.collapses-none dl {
  display: block;
}

.cartWrap.step2 .payment .updateAgree {
  padding: 12px 16px;
}

.cartWrap.step2 .payment .updateAgree div {
  position: initial;
  padding-top: 5px;
}

.cartWrap.step2 .payment .updateAgree div .radios:first-child {
  margin-left: 0;
}

.cartWrap.step2 .payment .process {
  padding: 0;
  background: none;
}

.cartWrap.step2 .payment .process .select_icon {
  padding-top: 10px;
}

.cartWrap.step2 .payment .process .select_icon .radios {
  float: none;
  width: 100%;
  margin-left: 0;
  height: 21px;
  padding: 6px 0;
}

.cartWrap.step2 .payment .process .select_icon .radios label {
  background-position: 0 50%;
  height: 100%;
  text-align: left;
  padding-left: 22px !important;
}

.cartWrap.step2 .payment .process .select_icon .radios label:after {
  background-color: transparent;
  display: none;
}

.cartWrap.step2 .payment .process .select_icon .radios label i {
  text-align: left;
  position: static;
  line-height: 21px;
}

.cartWrap.step2 .payment .process .select_icon .radios.pay5 label i {
  padding-left: 70px;
  background: url(https://img.eduwill.net/resources/myroom/library/images/ic-npay-badge@2x.png) no-repeat 0 50%;
  background-size: 65px 18px;
}

.cartWrap.step2 .payment .process .select_icon .radios.pay6 label i {
  padding-left: 55px;
  background: url(https://img.eduwill.net/resources/myroom/library/images/logo-kakao-on@2x.png) no-repeat 0 50%;
  background-size: 49px 21px;
}

.cartWrap.step2 .payment .process .select_icon .radios.pay8 label i {
  padding-left: 55px;
  background: url(https://img.eduwill.net/resources/myroom/library/images/logo-edu-on@2x.png) no-repeat 0 50%;
  background-size: 49px 21px;
}

.cartWrap.step2 .payment .process .select_icon .radios.pay9 label i {
  padding-left: 62px;
  background: url(https://img.eduwill.net/resources/myroom/library/images/logo-bizplay-on.png) no-repeat 0 50%;
  background-size: 59px 16px;
}

.cartWrap.step2 .payment .process .select_icon .radios.pay10 label i {
  padding-left: 98px;
  background: url(https://img.eduwill.net/resources/myroom/library/images/logo-toss-on.png) no-repeat 0 50%;
  background-size: 94px 18px;
}

.cartWrap.step2 .payment .process .info dl dd .mt-5 .btn {
  margin-left: 0;
}

.cartWrap.step2 .payment .totalpay_m {
  background: #e9ecf0;
  padding: 20px 16px;
  margin-top: 25px;
}

.cartWrap.step2 .payment .totalpay_m .tit {
  margin-top: 0;
}

.cartWrap.step2 .payment .totalpay_m ul {
  margin: 10px;
}

.cartWrap.step2 .payment .totalpay_m ul li {
  margin-top: 5px;
  *zoom: 1;
}

.cartWrap.step2 .payment .totalpay_m ul li::after {
  content: "";
  display: block;
  clear: both;
}

.cartWrap.step2 .payment .totalpay_m ul li:first-child {
  margin-top: 0px;
}

.cartWrap.step2 .payment .totalpay_m ul li em {
  float: left;
  font-size: 15px;
  color: #6d788c;
  font-weight: 400;
}

.cartWrap.step2 .payment .totalpay_m ul li span {
  float: right;
  font-size: 15px;
  color: #6d788c;
  font-weight: 400;
}

.cartWrap.step2 .payment .totalpay_m .total {
  padding: 8px 10px 10px;
  background: url(https://img.eduwill.net/resources/myroom/library/images/bg_titDot.png) repeat-x 0 0;
  *zoom: 1;
}

.cartWrap.step2 .payment .totalpay_m .total::after {
  content: "";
  display: block;
  clear: both;
}

.cartWrap.step2 .payment .totalpay_m .total em {
  float: left;
  padding-top: 5px;
  font-size: 15px;
  color: #333;
  font-weight: 400;
}

.cartWrap.step2 .payment .totalpay_m .total span {
  float: right;
}

.cartWrap.step2 .payment .totalpay_m .total span strong {
  font-family: "Verdana", "Noto Sans KR", sans-serif, "맑은고딕", "Malgun Gothic", "돋움", Dotum, "굴림", Gulim, Tahoma, sans-serif, verdana, AppleGothic;
  font-size: 28px;
  color: #333;
  font-weight: 700;
  letter-spacing: -1.5px;
}

.cartWrap.step2 .payment .totalpay_m .total span i {
  font-size: 18px;
  color: #333;
  font-weight: 700;
  margin: -3px 0 0 4px;
}

.cartWrap.step2 .payment .totalpay_m .btnWrap {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 11px 16px;
  border-top: solid 1px #dcdcdc;
  background: #fff;
  z-index: 101;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.cartWrap.step2 .payment .totalpay_m .btnWrap a {
  width: 49%;
  margin-left: 2%;
}

.cartWrap.step2 .payment .totalpay_m .btnWrap a:first-child {
  margin-left: 0;
}

.cartWrap .completeTxt {
  padding: 10px 0 25px 0;
  border-top: none;
}

.cartWrap .completeTxt p {
  font-size: 20px;
  line-height: 30px;
}

.cartWrap .completeTxt p.t3 {
  font-size: 14px;
  line-height: 1.6;
}

.cartWrap .completeHistory ul li {
  position: relative;
  padding-left: 83px;
}

.cartWrap .completeHistory ul li em {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
}

#paymentingLayer .layerInner .cont .t1 {
  font-size: 22px;
}

#paymentingLayer .layerInner .cont .t2 {
  font-size: 12px;
  padding: 20px 50px 0;
  line-height: 1.5;
  word-break: break-all;
  word-break: keep-all;
}

#paymentingLayer .layerInner .cont .loding img {
  width: 100px;
}

#paymentingLayer .layerInner .cont .box {
  border-radius: 4px;
  padding: 15px;
}

#paymentingLayer .layerInner .cont .box div {
  font-size: 12px;
  padding-top: 5px;
}

#paymentingLayer .layerInner .cont .box div:first-child {
  padding-top: 0;
}

#paymentingLayer.step1 .layerInner {
  min-height: auto;
}

#paymentingLayer.step1 .layerInner .cont {
  padding: 30px;
}

#paymentingLayer.step1 .layerInner .cont .t1 {
  font-size: 18px;
}

#paymentingLayer.step1 .layerInner .cont .t2 {
  padding: 20px 0 0;
  margin-top: 20px;
}

#paymentingLayer.step1 .layerInner .cont .t2 dt {
  font-size: 13px;
}

#paymentingLayer.step1 .layerInner .cont .t2 dd {
  font-size: 12px;
}

#paymentingLayer.step1 .layerInner .cont .btnWrap {
  padding-top: 15px;
}

#paymentingLayer.step1 .layerInner .cont .btnWrap a {
  height: 35px;
  line-height: 35px;
  font-size: 13px;
  width: 80px;
}

#paymentingLayer.step2 .layerInner {
  min-height: auto;
}

#paymentingLayer.step2 .layerInner .cont {
  padding: 50px 30px;
}

#deliveryLayer.layerWrap .cont .tbStyle3 td .btn1 {
  height: 16px;
  line-height: 16px;
}

#deliveryLayer.layerWrap .cont .tbStyle3 td:nth-child(6) div {
  display: inline;
}

#deliveryLayer.layerWrap .cont .tbStyle4 td.subj .input_1 {
  width: 100%;
}

#deliveryLayer.layerWrap .cont .tbStyle4 td.name .input_1 {
  width: 100%;
}

#deliveryLayer.layerWrap .cont .tbStyle4 td.phone {
  font-size: 0;
}

#deliveryLayer.layerWrap .cont .tbStyle4 td.phone .input_1 {
  width: 28%;
}

#deliveryLayer.layerWrap .cont .tbStyle4 td.phone .hyphen {
  width: 8%;
}

#deliveryLayer2.layerWrap .cont table.tbstyle_responsive td {
  padding-left: 101px !important;
}

#deliveryLayer2.layerWrap .cont table.tbstyle_responsive td .nodata {
  margin-left: -101px;
}

#deliveryLayer2.layerWrap .cont table.tbstyle_responsive td .btn {
  height: 16px;
  line-height: 16px;
}

#deliveryLayer2.layerWrap .cont table.tbstyle_responsive [data-cell-header]:before {
  width: 90px;
}

#addcouponLayer.layerWrap table.tbstyle_responsive td {
  padding-left: 108px !important;
}

#addcouponLayer.layerWrap table.tbstyle_responsive td[data-cell-header]:before {
  width: 95px;
}

#addcouponLayer.layerWrap table.tbstyle_responsive td.subj {
  padding-left: 10px !important;
}

#addcouponLayer.layerWrap table.tbstyle_responsive td.subj:before {
  display: none;
}

#addcouponLayer.layerWrap .cont .tbStyle3 td.edumoney {
  padding: 24px 0;
}

#addcouponLayer.layerWrap .cont .tbStyle3 td.edumoney .grp3 {
  display: block;
  margin: 20px 0 0 0;
}

/* 친구추천리워드 */
.rewardList {
  padding: 16px;
}

.rewardList .push {
  padding: 30px 16px;
}

.rewardList .push .form-id {
  width: auto;
}

.rewardList .push .form-id input[type='text'] {
  width: 58%;
  padding: 0 10px 0 26px;
}

.rewardList .push .form-id button.copy {
  width: 54px;
}

.rewardList .push .form-id button.copy span {
  background: none;
  padding-left: 0;
}

.rewardList .push .form-id button.copy span i {
  display: none;
}

.rewardList .txt br {
  display: block;
}

.rewardList table.tbstyle_responsive [data-cell-header]:before {
  width: 90px;
}

.rewardList .info {
  padding: 0;
  margin-top: 24px;
}

.rewardList .info .box dl {
  float: none;
  width: 100%;
  margin-left: 0;
  margin-top: 10px;
}

.rewardList .info .box dl:first-child {
  margin-top: 0;
}

.rewardList .info .box dl dt {
  text-align: left;
  padding-bottom: 8px;
}

.rewardList .info .box dl dd {
  padding-left: 0;
}

.rewardList .info .box dl dd span {
  display: block;
}

.rewardList .info .box dl dd span.hidden {
  display: none;
}

.rewardList .info .lst2 li {
  margin-top: 10px;
}

.rewardList .info .lst2 li:first-child {
  margin-top: 0;
}

.rewardList .agreeCk dl dd.t2 {
  width: auto;
}

.rewardEnd {
  padding: 50px 0;
}

.rewardEnd p.t1 {
  font-size: 20px;
}

.rewardEnd p.t2 {
  font-size: 14px;
}

/* 수강료환급신청 */
.refundWrap .infoBox {
  background: #5babb6;
  padding-bottom: 0;
  margin: 10px 0 20px;
}

.refundWrap .infoBox dl {
  background: none;
  padding: 0 16px 16px;
  padding-bottom: 0;
}

.refundWrap .infoBox dl dt {
  font-size: 16px;
  font-weight: 500;
  padding: 12px 0;
  margin-bottom: 0;
  position: relative;
}

.refundWrap .infoBox dl dt + dd {
  margin-top: 0;
}

.refundWrap .infoBox dl dt:after {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  border: solid 2px #fff;
  border-width: 2px 0 0 2px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  -webkit-transition: all .3s;
  transition: all .3s;
  position: absolute;
  top: 50%;
  right: 6px;
  margin-top: -7px;
}

.refundWrap .infoBox dl dt.in:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-top: -2px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.refundWrap .infoBox dl dd {
  font-size: 13px;
  margin-top: 8px;
  padding-left: 8px;
  background-size: 2px;
  display: none;
}

.refundWrap .infoBox dl dd:last-child {
  padding-bottom: 16px;
}

.refundWrap .infoBox dl dd.in {
  display: block;
}

.refundWrap .tbStyle3 td {
  font-size: 13px;
}

.refundWrap .tbStyle3 td .btn a {
  height: 24px;
  line-height: 24px;
  width: 74px;
  font-size: 12px;
}

.refundWrap .tbStyle3 .nodata {
  font-size: 14px;
}

.refundWrap table.tbstyle_responsive [data-cell-header]:before {
  font-size: 13px;
}

.refundWrap table.tbstyle_responsive td {
  font-size: 13px;
}

.refundWrap .agreeTxt {
  padding: 16px;
}

.refundWrap .agreeCk {
  padding-top: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.refundWrap .agreeCk .desc {
  position: static;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  display: block;
  padding-bottom: 10px;
  font-size: 12px;
}

.refundWrap .agreeCk .checks {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin-top: 8px;
}

.refundWrap .agreeCk .checks label {
  font-size: 13px;
}

.refundWrap .btnWrap {
  padding-top: 20px;
}

.refundWrap .btnWrap a {
  width: 49%;
  margin-left: 2%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  font-weight: 500;
}

.refundWrap .tbStyle4 colgroup {
  display: none;
}

.refundWrap .tbStyle4 th {
  width: 100px !important;
  font-size: 13px;
  word-break: keep-all;
}

.refundWrap .tbStyle4 th a.btn_refundInfoLayer {
  display: inline-block;
  border: solid 1px #c7c7c7;
  height: 24px;
  line-height: 22px;
  font-size: 12px;
  padding: 0 13px;
  margin-top: 6px;
  background-color: #f8f8f8;
}

.refundWrap .tbStyle4 th a.btn_refundInfoLayer:before {
  content: '안내';
}

.refundWrap .tbStyle4 th a.btn_refundInfoLayer .i-tooltip {
  display: none;
}

.refundWrap .tbStyle4 td .desc {
  font-size: 12px;
}

.refundWrap .tbStyle4 td .btnWrap {
  display: block;
  text-align: right;
}

.refundWrap .tbStyle4 td .btnWrap a.width_fix {
  width: 60px;
}

.refundWrap .tbStyle4 input[type="text"],
.refundWrap .tbStyle4 input[type="password"],
.refundWrap .tbStyle4 input[type="number"] {
  height: 32px;
  font-size: 13px;
  vertical-align: top;
}

.refundWrap .tbStyle4 .name .input_1 {
  width: 100%;
}

.refundWrap .tbStyle4 .phone {
  font-size: 0;
}

.refundWrap .tbStyle4 .phone .input_1 {
  width: 30%;
}

.refundWrap .tbStyle4 .phone .hyphen {
  width: 5%;
}

.refundWrap .tbStyle4 .number {
  font-size: 0;
}

.refundWrap .tbStyle4 .number .input_1 {
  width: 45%;
  margin-bottom: 8px;
}

.refundWrap .tbStyle4 .number .hyphen {
  width: 10%;
}

.refundWrap .tbStyle4 .number .blank {
  display: none;
}

.refundWrap .tbStyle4 .number .btnWrap {
  padding-top: 0;
  display: block;
}

.refundWrap .tbStyle4 .number .btnWrap a {
  height: 32px;
  line-height: 32px;
  font-size: 13px;
  margin-left: 0;
  width: 50%;
  font-size: 12px;
}

.refundWrap .tbStyle4 .account {
  font-size: 0;
}

.refundWrap .tbStyle4 .account .select {
  width: 100%;
  height: 32px;
  margin-bottom: 8px;
}

.refundWrap .tbStyle4 .account .blank {
  display: none;
}

.refundWrap .tbStyle4 .account .input_1 {
  width: 100%;
  margin-bottom: 8px;
}

.refundWrap .tbStyle4 .account .input_2 {
  width: 100%;
  margin-bottom: 8px;
}

.refundWrap .tbStyle4 .account .input_2.w-100 {
  width: 100%;
}

.refundWrap .tbStyle4 .account .btnWrap {
  padding-top: 0;
  display: block;
}

.refundWrap .tbStyle4 .account .btnWrap a {
  height: 32px;
  line-height: 32px;
  font-size: 13px;
  margin-left: 0;
  min-width: 50%;
  font-size: 12px;
}

.refundWrap .tbStyle4 .file .group {
  position: relative;
  padding-right: 94px;
  margin-top: 8px;
}

.refundWrap .tbStyle4 .file .group:first-child {
  margin-top: 0;
}

.refundWrap .tbStyle4 .file .group .input_1 {
  width: 100%;
}

.refundWrap .tbStyle4 .file .group .btn {
  font-size: 0;
  height: 30px;
  line-height: 30px;
  width: 48px;
  margin-left: 0;
  position: absolute;
  top: 0;
  right: 36px;
}

.refundWrap .tbStyle4 .file .group .btn::before {
  content: '찾기';
  font-size: 13px;
}

.refundWrap .tbStyle4 .file .group .btn_icon {
  margin-left: 0;
  position: absolute;
  top: 1px;
  right: 0;
}

.refundWrap .tbStyle4 textarea {
  width: 100% !important;
}

.refundWrap .top_banner1 {
  padding: 16px;
  background-image: none;
  font-size: 14px;
}

.refundWrap .top_banner1 br {
  display: block;
}

.refundWrap .top_banner1 strong {
  display: block;
  margin: 3px 0 0 0;
  font-size: 18px;
}

.refundWrap .top_banner1 button {
  margin: 5px 0 0 0;
}

.refundWrap .top_banner2 {
  padding: 16px;
  background-image: none;
}

.refundWrap .top_banner2 dl dt {
  font-size: 14px;
}

.refundWrap .top_banner2 dl dd {
  font-size: 13px;
}

.refundWrap .top_banner2 dl dd span {
  font-size: 12px;
}

.refundWrap .rewardList .agreeCk {
  padding: 30px 0;
}

.refundWrap .rewardList .agreeCk dl dd.t2 {
  padding: 15px 0;
}

#refundInfoLayer {
  position: fixed;
}

#refundInfoLayer .cont {
  padding: 20px 16px;
}

#refundInfoLayer .tbStyle3 thead {
  display: none;
}

#refundInfoLayer .tbStyle3 tr:first-child td {
  border-top-color: #b1b7c3;
}

#refundInfoLayer .tbStyle3 td {
  border-left: none;
  font-size: 12px;
  padding: 9px 0;
}

#refundInfoLayer .tbStyle3 td:nth-child(odd) {
  background: #f6f7f9;
}

/* 발송대상/예약교재 레이어팝업 */
#reserveLayer {
  padding-top: 105px;
}

#reserveLayer .inner .top {
  width: 100%;
  top: 0%;
  left: 0;
  margin-left: 0;
}

#reserveLayer .desc {
  font-size: 14px;
  font-weight: 400;
  width: 100%;
  top: 65px;
  left: 0;
  margin-left: 0;
  padding-left: 16px;
}

#reserveLayer .desc br {
  display: block;
}

#cashLayer.layerWrap .cont {
  padding-top: 16px;
  padding-bottom: 16px;
}

.cartWrap .payment .process .select_icon .radios .sticker {
  display: none;
}
/*# sourceMappingURL=mobile.css.map */