$font-noto: 'Noto Sans KR', '맑은 고딕', 'Malgun Gothic', 'Apple SD Gothic Neo', 'Dotum', '돋움', 'Gulim', '굴림', '굴림체', Sans-Serif;
$font-montserrat: 'Montserrat', 'Noto Sans KR', '맑은 고딕', 'Malgun Gothic', 'Apple SD Gothic Neo', 'Dotum', '돋움', 'Gulim', '굴림', '굴림체', Sans-Serif;
$font-lato: 'lato', 'Noto Sans KR', '맑은 고딕', 'Malgun Gothic', 'Apple SD Gothic Neo', 'Dotum', '돋움', 'Gulim', '굴림', '굴림체', Sans-Serif;

// @import url("#{$css-path}/webfont.css");
$css-path: "//img.eduwill.net/eduwill/dev/css/common";
$css-libs-path: "//img.eduwill.net/eduwill/dev/libs";

// background-image: url('#{$img-path}/bg_title.jpg');
$img-path: "//img.eduwill.net/eduwill/dev/img/common/popup";
$img-common-path: "//img.eduwill.net/Img2/Common";

$max-mobile: 720;

// z-index
// z-index: map-get($z-index, close);
$z-index: (
	close: 500,
	video: 450,
	layer: 400,
	control: 350,
	floating: 300,
	toast: 200,
	bottom: 100,
	base: 0,
	wings: -1
);